/* -------- Base -------- */

body {
	background: #6A8DA6;
}

body.green {
	background: #6FA66A;
}

body.red {
	background: #B96656;
}

body.yellow {
	background: #C4B54C;
}

/* -------- Wrapper -------- */

#wrapper {
	background: #FFF url(../images/custom/wrapper_bg.png);
	margin: 0 auto;
	width: 940px;
}

.green #wrapper {
	background: url(../images/custom/green/wrapper_bg.png);
}

.red #wrapper {
	background: url(../images/custom/red/wrapper_bg.png);
}

.yellow #wrapper {
	background: url(../images/custom/yellow/wrapper_bg.png);
}

/* -------- Banner -------- */

#banner {
	background: #2D4561 url(../images/custom/banner_bg.png);
	height: 100px;
	overflow: hidden;
	padding: 40px 0 0;
	position: relative;
}

.green #banner {
	background: #2D612F url(../images/custom/green/banner_bg.png);
}

.red #banner {
	background: #72351C url(../images/custom/red/banner_bg.png);
}

.yellow #banner {
	background: #7B7C14 url(../images/custom/yellow/banner_bg.png);
}

#banner .sign-in {
	color: #FFF;
	position: absolute;
	right: 60px;
	top: 50px;
}

/* -------- Logo -------- */

.logo {
	font-size: 28px;
	line-height: 80px;
	padding: 10px 0;
	text-align: center;
}

.logo a {
	color: #FFF;
	margin: 0 auto;
	text-decoration: none;
}

/* -------- Navigation -------- */

#navigation {
	border-bottom: 2px solid #DCDFE0;
	height: 30px;
	margin: 0 50px;
}

#navigation ul {
	list-style: none;
	margin: 0;
}

#navigation li,
#navigation a {
	float: left;
}

#navigation li {
	float: left;
	margin: 0 2em;
}

#navigation a {
	border-bottom: 2px solid #DCDFE0;
	color: #496273;
	display: block;
	line-height: 30px;
	margin-bottom: -2px;
	padding: 0 10px;
	position: relative;
	text-decoration: none;
}

#navigation .selected a {
	border-bottom: 2px solid #6A8DA6;
	color: #000;
}

/* -------- Content-Wrapper -------- */

#content-wrapper {
	font-size: 12px;
	margin: 0 60px;
	padding: 10px 0;
}

#content-wrapper a {
	color: #00F;
	text-decoration: none;
}

/* -------- Footer -------- */

#footer {
	background: url(../images/custom/footer_bg.png);
	font-size: 10px;
	height: 85px;
	padding: 15px 70px 0;
	text-align: right;
}

.green #footer {
	background: url(../images/custom/green/footer_bg.png);
}

.red #footer {
	background: url(../images/custom/red/footer_bg.png);
}

.yellow #footer {
	background: url(../images/custom/yellow/footer_bg.png);
}