/* -------- Global -------- */

#skip-to-content,
#heading .community-title,
#heading .page-title,
#navigation h1,
#navigation .child-menu {
	clip: rect(0 0 0 0);
	position: absolute;
}

/* -------- Wrapper / Skip / Sign-in -------- */

#wrapper {
	margin: 0 auto 29px;
	position: relative;
	width: 964px;
}

#skip-to-content,
#sign-in {
	color: #FFF;
	right: 2em;
}

#skip-to-content {
	top: 3em;
}

#skip-to-content:active,
#skip-to-content:focus {
	clip: auto;
}

#sign-in {
	position: absolute;
	top: 1.5em;
}

/* -------- Banner -------- */

#banner {
	background: url(../images/custom/banner_bg.png) left bottom;
}

#heading {
	padding: 6px 11px;
}

#heading .company-title {
	margin: 0;
}

/* -------- Navigation -------- */

#navigation {
	height: 28px;
	position: relative;
	right: 1em;
}

#navigation ul {
	float: right;
	list-style: none;
	margin: 0;
}

.ie6 #navigation ul,
.ie7 #navigation ul {
	zoom: 1;
}

#navigation ul:after {
	clear: both;
	content: ".";
	display: block;
	height: 0;
	line-height: 0;
	visibility: hidden;
}

#navigation li,
#navigation a {
	float: left;
}

#navigation a {
	color: #FFF;
	display: block;
	font: 11px;
	padding: 7px 9px;
	text-decoration: none;
}

#navigation a:active,
#navigation a:focus,
#navigation a:hover {
	background: #5C75AA;
}

/* -------- Content -------- */

#content {
	padding: 22px 0 18px;
}

#breadcrumbs {
	display: none;
}

/* -------- Footer -------- */

#footer {
	border: 1px solid #A6A6A6;
	padding: 2px 10px 4px;
}

#footer p {
	margin: 0;
}