/* This file allows you to override default styles in one central location for easier upgrade and maintenance. */

/* ---------- Base ---------- */

body {
	padding: 0 0 29px;
}

#skip-to-content,
#banner h2,
#banner h3,
#navigation h1,
#breadcrumbs,
.site-breadcrumbs h1 {
	left: -99999px;
	overflow: hidden;
	position: absolute;
	width: 1%;
}

a,
a:visited {
	color: #5C75AA;
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
}


/* ---------- Main content body ---------- */

#wrapper {
	margin: 0 auto;
	width: 964px;
}

/* ---------- Banner ---------- */

#banner {
	background: url(../images/custom/banner_bg.png) left bottom;
	margin-bottom: -28px;
	padding: 6px 11px;
	position: relative;
	z-index: 1;
}

#sign-in {
	position: absolute;
	left: 10px;
	bottom: 5px;
	color: #FFF;
}

/* ---------- Main navigation ---------- */

#navigation {
	height: 27px;
	position: relative;
	margin: 0;
	z-index: 2;
}

#navigation ul {
	float: right;
	list-style: none;
	margin: 5px 0 0 0;
}

#navigation li,
#navigation a {
	float: left;
}

#navigation li {
	position: relative;
}

.js .delete-tab {
	position: absolute;
	top: 7px;
	right: 3px;
}

#navigation ul li ul.child-menu {
	display: none;
}

#navigation a,
#banner .sign-in {
	color: #FFF;
	display: block;
	font: 11px Lucida Grande, Tahoma, Verdana, Arial, sans-serif;
	padding: 7px 9px;
	text-decoration: none;
	z-index: 22;
}

#navigation a:hover,
#banner .sign-in:hover {
	background: #5C75AA;
}

#main-content {
	margin-top: 20px;
}

h1.company-title {
	margin: 0;
	padding-top: 20px;
}

/* ---------- Portlet ---------- */

.portlet {
	margin: 0 0 10px;
}

.portlet-content,
.portlet-title {
	font: 11px Lucida Grande, Tahoma, Verdana, Arial, sans-serif;
}

.portlet-title {
	color: #000;
	font-weight: bold;
	line-height: 11px;
}

.portlet-title img {
	vertical-align: middle;
}

.portlet-icons {
	top: 0;
}

.portlet-content {
	border-bottom: 1px solid #D8DFEA;
	color: #333;
	margin: 0;
	padding: 9px 0;
}

/* ---------- Content Wrapper ---------- */

.aui-tab-active span a {
	color: #FFF;
}

#content {
	padding: 22px 0 18px;
}

/* ---------- Footer ---------- */

#footer {
	border: 1px solid #A6A6A6;
	padding: 2px 10px 4px;
}