@import "bourbon";

$btnBackgroundDefault: rgb(228, 228, 228);
$btnBorderDefault: rgba(0, 0, 0, 0.1);
$btnDefaultText: #0D0D0D;

$defaultBorderColor: #C9C9C9;
$defaultTextColor: #202020;

$blue: #0E50A9;
$controlBgColor: #EEE9E9;
$navigationBgColor: #CBD0D3;
$red: #8F0920;

@mixin button-active {
	background-position: 0 -1.5em;
	box-shadow: 0 1px 8px rgba(0, 0, 0, 0.14) inset, 0 1px 3px rgba(0, 0, 0, 0.75) inset;
}

@mixin button-default {
	box-shadow: 0 1px 0 rgba(255, 255, 255, 0.75) inset, 0 -1px 0 rgba(0, 0, 0, 0.15) inset;
	color: $btnDefaultText;
	cursor: pointer;

	@include default-border;
	@include normal-gradient;

	overflow: visible;
	padding: 4px 12px;
	text-decoration: none;
	text-shadow: 0 -1px 0 #FFF;
	width: auto;
}

@mixin button-disabled {
	color: $defaultBorderColor;
	opacity: 0.5;

	@include normal-gradient;
}

@mixin button-hover {
	background-position: 0 -0.8em;
	box-shadow: 0 1px 0 rgba(255, 255, 255, 0.25) inset, 0 1px 0 rgba(0, 0, 0, 0.14) inset, 0 1px 4px rgba(0, 0, 0, 0.1) inset;

	@include normal-gradient;
}

@mixin button-focus {
	@include button-hover;
}

@mixin button-primary-gradient {
	background: #0E50A9 url(../images/custom/button_primary_bg.png) repeat-x;
	border-color: #0E50A9;

	@include background-image(linear-gradient(bottom, #0E50A9 0, #1D87EB 100%));

	&, &:hover {
		color: #FFF;
		text-shadow: 0 -1px #003C8D;
	}
}

@mixin clear-both {
	&:after {
		clear: both;
		content: "";
		display: block;
	}
}

@mixin default-border {
	border: 1px solid $defaultBorderColor;
}

@mixin font-awesome($icon) {
	-webkit-font-smoothing: antialiased;
	content: $icon;
	font-family: 'fontawesome-alloy';
	font-style: normal;
	font-variant: normal;
	font-weight: normal;
	line-height: 1;
	speak: none;
	text-transform: none;
}

@mixin hashtag {
	.hashtag {
		color: #999;
		padding-right: 0;
	}

	.hashtag-link {
		&, &:active, &:hover {
			color: inherit;
		}
	}
}

@mixin header {
	background: $controlBgColor;

	@include default-border;
}

@mixin hidden-accessible {
	clip: rect(0, 0, 0, 0);
	font-size: 0;
	position: absolute;
	text-indent: -9999em;
}

@mixin input-field-default {
	background: #FFF;
	border-radius: 4px;

	@include default-border;

	vertical-align: middle;
}

@mixin input-field-focus {
	background: #E9F5FF;
	border-color: #2571AD;
}

@mixin menu-style {
	background: #FFF;
	border-color: $defaultBorderColor;
	border-radius: 4px;
	box-shadow: 0 1px 3px rgba(0, 0, 0, 0.78);
	padding: 0.5em 0;
}

@mixin normal-gradient {
	background: $btnBackgroundDefault url(../images/custom/normal_gradient_bg.png) 0 0 repeat-x;

	@include background-image(linear-gradient(bottom, rgb(228, 228, 228) 0, rgb(247, 247, 247) 100%));
	@include transition-duration(0.2s);
	@include transition-property(background-position);
}

@mixin subtle-gradient {
	background: $btnBackgroundDefault url(../images/custom/normal_gradient_bg.png) 0 0 repeat-x;

	@include background-image(linear-gradient(bottom, #E4E4E4 0, #F7F7F7 100%));
	@include transition-duration(0.2s);
	@include transition-property(background-position);
}

@mixin tag($hover) {
	background-color: #EEE;
	background-image: none;
	border-radius: 4px;
	color: #2571AD;
	display: inline-block;
	line-height: 20px;
	padding: 4px 6px;

	&:before {
		@include font-awesome("\f02b");

		padding-right: 4px;
	}

	@if $hover == true {
		&:hover {
			background-color: #DDD;
			text-decoration: none;
		}
	}
}