@import "bourbon";
@import "mixins";
@import "so";

/* ---------- Banner ---------- */

#banner {
	border-width: 1px 0;

	@include header;

	overflow: hidden;
	padding: 0.86em 1.5em;

	h1, h2 {
		font-size: 1.8em;
		font-weight: 200;
		line-height: 1em;
		margin: 0;
		text-shadow: 0 1px 0 #FFF;
	}

	.site-title {
		display: inline-block;

		&, a {
			color: $red;
			font-weight: 200;
		}

		a:hover {
			text-decoration: none;
		}

		img {
			display: inline;
			height: 32px;
			left: -0.45em;
			margin: -0.25em 0;
			position: relative;
			top: -0.125em;
			vertical-align: middle;
			width: auto;
		}
	}

	.member-link {
		margin: 0 1em;
	}

	.avatar {
		display: inline-block;
		margin: -0.6em 0.3em -0.6em -0.8em;
		vertical-align: middle;

		&, img {
			height: 56px;
			width: 56px;
		}
	}

	#toggleDockbar {
		display: block;
		float: right;
		margin-left: 2em;
		overflow: visible;
		padding: 4px;

		&:focus, &:hover {
			text-decoration: none;
		}

		i {
			color: #252D31;
			font-size: 24px;
		}
	}
}

#page-search {
	float: right;
	position: relative;

	.form-group {
		margin-bottom: 0;
	}

	input[type="text"] {
		color: $defaultBorderColor;
	}

	form, input[type="text"] {
		margin: 0;
	}

	input[type="text"]:focus, &.focus input[type="text"] {
		color: $defaultTextColor;
	}

	.taglib-icon {
		@include hidden-accessible;
	}
}

div#navigation {
	background: $navigationBgColor;
	float: left;
	margin-left: -156px;
	width: 155px;

	.taglib-logo-selector {
		display: block;
		overflow: hidden;
		position: relative;

		&, img {
			width: 155px;
		}

		.portrait-icons {
			bottom: 0;
			left: 0;
			margin: 4px 0;
			position: absolute;
			visibility: hidden;
			width: 100%;

			.btn-group {
				margin: 0 3%;
				width: 94%;
			}

			.btn {
				border-radius: 4px;

				display: block;
				float: right;
				margin-top: 4px;
				padding: 4px;
				width: 100%;
			}
		}

		&:hover .portrait-icons {
			visibility: visible;
		}
	}

	ul {
		border-bottom: 1px solid #D9D9D9;
	}

	ul, li {
		list-style: none;
		margin: 0;
		padding: 0;
	}

	a {
		background-color: #E4E4E4;
		background-repeat: no-repeat;
		border-bottom: 1px solid #D9D9D9;
		color: $defaultTextColor;
		display: block;
		font-size: 1.125em;
		font-weight: 200;
		padding: 0.65em 1.05em;

		@include subtle-gradient;

		text-shadow: 0 1px 0 #FFF;

		&:hover, &:focus {
			@include button-hover;

			text-decoration: none;
		}

		&:active {
			@include button-active;
		}
	}

	.selected a {
		border-bottom-width: 0;
		border-top: 1px solid #0E50A9;
		box-shadow: 0 1px 0 #7FBBF4 inset;

		@include button-primary-gradient;
	}
}

#banner, #navigation {
	.avatar {
		background: none 50% 50% no-repeat;
		background-size: cover;
		overflow: hidden;

		img {
			visibility: hidden;
		}
	}
}

/* ---------- Base styles ---------- */

body {
	background: #FFF;
	color: $defaultTextColor;
	font: 13px/1.5em 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

#wrapper {
	padding: 0;
}

#content {
	background: $navigationBgColor;
	border-left: 1px solid $defaultBorderColor;
	padding-left: 155px;
}

#main-content {
	background: #FFF;
	box-shadow: -4px 0 15px -7px rgba(0, 0, 0, 0.6);
	float: left;
	min-height: 500px;
	position: relative;
	width: 100%;
}

.aui-helper-hidden {
	clip: rect(0, 0, 0, 0);
	height: 0;
	overflow: hidden;
	position: absolute;
	width: 0;
}

a {
	color: $blue;
	text-decoration: none;

	&:hover {
		text-decoration: underline;
	}
}

.button {
	border-radius: 4px;

	&:hover {
		text-decoration: none;
	}
}

#banner, #content, .clear, .portlet-toolbar, .breadcrumbs ul {
	@include clear-both;
}

.hidden-accessible, #navigation h1 {
	@include hidden-accessible;
}

.aui-dialog-iframe-popup, .portal-popup {
	#main-content {
		background: transparent;
		box-shadow: none;
		float: none;
		min-height: auto;
	}
}

.results-row {
	td {
		background: none;
		border: 1px solid;
		border-color: #D7D7D7 #E7E7E7;
		padding: 5px 10px;

		&.sort-column {
			background: #E6ECEF;
		}
	}

	&.selected td, &.selected.hover td {
		background-color: #00A2EA;
		border-color: #00A2EA #00A2EA #D7D7D7;
		color: #FFF;

		& a {
			color: #FFF;
		}
	}

	&.alt.selected td, &.alt.selected.hover td {
		background-color: #00A2EA;
	}

	&.alt td {
		background: #F5F8FB;
	}

	&.hover td {
		background: #D3E8F1;
		border-color: auto transparent #D7D7D7;
	}
}

.opens-new-window-accessible {
	display: inline-block;
	font-size: 0;
	margin-left: 2px;
	overflow: hidden;
	vertical-align: middle;

	&:before {
		@include font-awesome("\f08e");

		font-size: 12px;
	}
}

/* ---------- Dockbar ---------- */

.alert .close {
	background: inherit;
	border-width: 0;
	box-shadow: none;
	padding: 0;
}

.navbar .nav-navigation {
	display: none;
}

.dockbar-split .dockbar {
	@include transition-duration(0.2s);
	@include transition-property(margin-left);

	.container-fluid .nav-add-controls .dockbar-item .dropdown-menu {
		background: $controlBgColor;
		bottom: 0;
		margin-left: -64px;
		padding: 0;
		top: 0;

		@include transition-duration(0.2s);
		@include transition-property(margin-left);

		.dockbar-item {
			float: none;
		}
	}

	&.navbar-static-top .collapse, .container-fluid .container {
		.nav-account-controls {
			top: 0;

			@include transition-duration(0.2s);
			@include transition-property(top);
		}
	}

	.info-items, .info-link-container {
		a {
			background: transparent none;
		}
	}

	.info-items {
		left: auto;
		position: absolute;
		right: 332px;
		top: 44px;
		width: 360px;

		.page-customization-bar .page-customization-bar-text {
			height: 56px;
		}

		.btn-link {
			border-width: inherit;
			padding: 4px 12px;
			text-decoration: none;
			text-shadow: inherit;
		}
	}

	.info-link-container {
		left: auto;
		position: absolute;
		right: 332px;
		top: 48px;

		.info-button {
			.info-link {
				padding: 5px 10px;
			}

			.diamond {
				border-bottom-color: transparent;
				border-left-color: rgba(0, 0, 0, 0.5);
				right: -12px;
				top: 0;

				&:after {
					border-top-color: transparent;
				}
			}
		}
	}

	.hide + .info-link-container .info-button .diamond {
		border-bottom-color: rgba(0, 0, 0, 0.5);
		border-left-color: transparent;
		right: 0;
		top: -12px;

		&:after {
			border-top-color: rgba(0, 0, 0, 0.5);
		}
	}
}

.dockbar-split.show-dockbar {
	border-left: 63px solid $controlBgColor;

	@include transition-duration(0.2s);
	@include transition-property(border-left);

	.dockbar .container-fluid .nav-add-controls .dockbar-item .dropdown-menu {
		background: $controlBgColor;
		border-right: 1px solid $defaultBorderColor;
		bottom: 0;
		margin-left: 0;
		top: 0;
	}
}

/* ---------- Forms ---------- */

form#hrefFm {
	margin: 0;
}

input[type="text"], input[type="password"], input[type="file"], input[type="submit"], input[type="button"], input[type="reset"], select, textarea, .textarea, button {
	@include input-field-default;
}

input, textarea {
	&.focus {
		@include input-field-focus;
	}
}

.lfr-menu-list ul .taglib-icon.aui-focus, .lfr-menu-expanded li a:focus {
	background-color: #1D87EB;
}

/* ---------- Forms custom ---------- */

.lfr-panel.lfr-extended .lfr-panel-titlebar {
	@include default-border;

	@include normal-gradient;
}

.invite-members, .social-relations a {
	border-radius: 4px;
	@include button-default;

	&:hover, &:focus {
		@include button-hover;

		text-decoration: none;
	}

	&:active {
		@include button-active;
	}
}

/* ---------- Layout ---------- */

.row {
	margin-left: 0;
	margin-right: 0;

	.col-md-1, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-10, .col-md-11, .col-md-12 {
		padding-left: 0;
		padding-right: 0;
	}
}

.portlet-column .portlet-column-content {
	border: solid $defaultBorderColor;
	border-width: 0 1px 0 0;
	margin: 0;
	padding: 0;
}

.portlet-column-only, .ltr .portlet-column-last, .rtl .portlet-column-first {
	.portlet-column-content {
		border-right-width: 0;
	}
}

.portlet-column-last .portlet-column .portlet-column-content {
	border-left-width: 0;
}

/* ---------- Modules ---------- */

.accordion-group {
	.accordion-toggle:before {
		@include font-awesome("\f0da");
	}

	.toggler-header-expanded .accordion-toggle:before {
		content: "\f0d7";
	}
}

/* ---------- Portlet base styling ---------- */

.portlet {
	border-bottom: 1px solid $defaultBorderColor;
	margin-bottom: -1px;

	.portlet-content, .portlet-topper {
		padding: 1em;
	}

	.portlet-topper {
		padding-bottom: 0;
	}

	.portlet-title {
		font-size: 1.5em;
		font-weight: 200;
		line-height: 1.25em;
		margin: 0;

		.icon, img {
			display: none;
		}
	}
}

.portlet-borderless-container {
	min-height: 0;
}

.portlet-borderless-bar .portlet-options a {
	background-image: url(../images/portlet/options_borderless.png);
}

.controls-visible .portlet-borderless-container {
	min-height: 2.5em;
}

#footer {
	clear: both;
	padding: 1em;
}

.controls-hidden {
	border-radius: 4px;

	.delete-tab {
		display: none;
	}

	.portlet-blogs .lfr-meta-actions {
		display: block;
	}
}

.controls-visible .portlet .portlet-topper .portlet-topper-toolbar {
	display: block;
}

/* ---------- Portlet typography ---------- */

.portlet-message-boards .thread-body, .portlet-wiki .wiki-body, .portlet-blogs .entry-body {
	line-height: 1.5em;

	&, h1, h2, h3, h4, h5, h6 {
		color: $defaultTextColor;
	}

	h1, h2, h3, h4, h5, h6 {
		font-weight: bold;
	}

	h2 {
		border-color: $defaultBorderColor;
		font-size: 1.75em;
		margin: 1em 0 0.5em;
	}

	h3 {
		font-size: 1.25em;
	}

	h4 {
		font-size: 1.125em;
	}

	h5, h6 {
		font-size: 1em;
	}
}

/* ---------- Portlet: activities ---------- */

.so-portlet-activities {
	h3 {
		font-weight: normal;
		margin: 1em 0 0;
	}

	.activity-item {
		border-bottom: 1px solid $defaultBorderColor;

		@include hashtag;

		line-height: 1.5em;
		padding: 1em;
	}

	.activity-body {
		font-size: 0.95em;
	}

	.user {
		font-weight: bold;
	}

	.user-portrait .icon {
		bottom: -4px;
		left: -4px;
	}

	a.group {
		color: $red;
	}

	.taglib-page-iterator {
		word-break: break-all;
	}

	.search-results .journal-article-page-number {
		display: inline-block;
	}
}

.profile-page .so-portlet-activities {
	.portlet-title, .portrait-social-activities h3 {
		text-align: right;
	}

	.portlet-title {
		color: $defaultTextColor;
		font-size: 1.5em;
		font-weight: normal;
		margin-top: 0.25em;
		width: 115px;
	}

	.portrait-social-activities h3 {
		font-size: 1em;
		margin: 0.5em 0 1em;
		width: 110px;
	}
}

/* ---------- Portlet: announcements ---------- */

.so-announcements-portlet {
	.unread-entries {
		.entry-body, .entry-footer {
			border-color: #F4A425;
		}

		.entry .title {
			background: #F4A425;
			color: #FFF;

			a {
				color: #FFF;
				text-decoration: underline;
			}
		}

		.important-entry .title {
			background: #A20F0F;
		}
	}

	.read-entries {
		.title {
			padding-bottom: 0;
		}

		.important-entry .title {
			color: #A20F0F;
		}
	}

	.entry-header .scope {
		color: #8D071F;
	}

	.entry-footer-toolbar {
		background: #E7E7E7;
	}

	.entries .important-entry {
		.entry-body, .entry-footer {
			border-color: #A20F0F;
		}
	}
}

/* ---------- Portlet: blogs ---------- */

.portlet-blogs {
	.portlet-borderless-container .portlet-body {
		padding: 10px;
	}

	.portlet-body {
		overflow-x: hidden;
	}

	.portlet-msg-success {
		border-width: 0;
		margin: -10px -10px 10px;
	}

	.search-form {
		background: $btnBackgroundDefault;
		float: none;
		margin: -10px -10px 10px -10px;
		padding: 5px;

		.aui-search-bar {
			float: right;
			zoom: 1;
		}
	}

	.entry-body .lfr-editable {
		word-wrap: break-word;
	}

	div.taglib-header {
		position: relative;
	}

	h1.header-title, #blogsCommentsPanelContainer, #_33_fm1 .aui-form, .entry {
		margin: 0 10px;
	}

	h1.header-title, .entry-title h2 {
		font-size: 1.5em;
		font-weight: normal;
		line-height: 1em;
	}

	h1.header-title {
		font-size: 2em;
		margin-top: 2em;
	}

	.entry {
		position: relative;
	}

	.entry-date, .entry-title h2 {
		margin: 0 0 0.5em;
	}

	#_33_fm .aui-fieldset {
		width: 100%;
	}

	.lfr-discussion-details {
		margin-right: auto;
		padding-left: 55px;
		width: auto;
	}

	.user-details {
		display: none;
	}

	.edit-permissions .header-title {
		display: block;
		margin: 0;
	}

	.edit-actions {
		margin: 0;
		padding-top: 0;

		.lfr-table td {
			display: inline-block;
		}

		a {
			color: #34404F;
			display: inline-block;
			font-weight: bold;
			margin: 5px 5px 5px 0;

			&:hover {
				text-decoration: none;
			}
		}
	}

	&.portlet-configuration .portlet-body {
		overflow-x: visible;
	}
}

/* ---------- Portlet: blogs aggregator ---------- */

.portlet-blogs-aggregator {
	.entry-author, .entry-date {
		background-image: none;
		border-right-width: 0;
		margin-right: 4px;
		padding: 0;
	}

	.abstract img {
		margin-right: 10px;
	}

	.entry-tags {
		border-left-width: 0;
		margin-bottom: 0.5em;
		padding-left: 0;
		padding-right: 0;
	}
}

/* ---------- Portlet: bookmarks ---------- */

.portlet-bookmarks {
	.control-wrapper {
		text-align: right;

		a {
			background: url(../images/arrows/01_plus.png) no-repeat scroll 100% 50%;
			font-size: 11px;
			padding-right: 16px;
		}
	}

	#_28_bookmarksEntriesSearchContainer .results-header {
		display: none;
	}
}

/* ---------- Portlet: calendar ---------- */

.calendar-portlet {
	.nav-tabs {
		margin: 10px;
	}

	.calendar-portlet-column-parent {
		padding-bottom: 10px;
	}
}

/* ---------- Portlet: contacts ---------- */

.contacts-portlet {
	form {
		margin: 0;
	}

	.contacts-profile {
		border-bottom: 1px solid $defaultBorderColor;

		.lfr-contact-name a {
			color: $red;
		}

		.user-information-column-2 .field-group {
			width: auto;
		}

		.user-sites {
			list-style: none;
			margin-left: 0;

			li {
				line-height: 24px;
			}

			.social-office-disabled:before {
				color: #DDD;

				@include font-awesome("\f0ac");

				font-size: 18px;
			}

			.social-office-enabled {
				background: url(@portal_ctx@/html/icons/social_office.png) no-repeat 0 50%;
				padding-left: 15px;
			}

			a {
				margin-left: 8px;
			}
		}

		.user-tags {
			list-style: none;
			margin: 5px 0;

			li {
				display: inline-block;
				margin: 0 5px 5px 0;
			}

			a {
				@include tag(true);
			}
		}
	}

	.toolbar, .contacts-search, .lfr-button-column {
		background-color: $controlBgColor;
	}

	.lfr-app-column-view {
		border-width: 1px 0 0;

		.taglib-header h1 {
			font-weight: 200;
		}

		.contacts-list {
			border-right: 1px solid $defaultBorderColor;
		}

		.taglib-header, .contacts-profile {
			border-bottom-width: 0;
		}
	}

	.contact-group-filter .contact-group-filter-content {
		min-height: 30px;
	}

	.social-relations {
		background: $controlBgColor;

		a .taglib-text {
			text-decoration: none;
		}
	}

	.contacts-action-content {
		span, .taglib-text {
			padding: 0;
		}
	}

	.taglib-page-iterator {
		padding: 5px;
	}

	.members-container {
		margin: 0;
		padding: 10px;
	}

	.contacts-search {
		float: none;
		width: auto;
	}

	.lfr-contact {
		border-bottom: 1px solid $btnBorderDefault;
	}

	.lfr-contact-grid-item .lfr-contact-extra, .lfr-contact-grid-item .lfr-contact-job-title, .lfr-contact-grid-item .lfr-contact-name, .lfr-detail-info .lfr-contact-extra, .lfr-detail-info .lfr-contact-job-title, .lfr-detail-info .lfr-contact-name {
		overflow: hidden;
	}

	.contacts-result-content .contacts-result .last-name-anchor a {
		padding: 0.25em;
	}
}

.profile-page .contacts-portlet {
	.contacts-profile, .lfr-contact-grid-item {
		border-bottom-width: 0;
	}

	.contacts-profile {
		.lfr-contact-grid-item {
			padding-top: 20px;
		}

		.user-information-column-1 {
			float: none;
		}
	}

	.lfr-app-column-view .contacts-profile .lfr-contact-grid-item {
		padding-top: 10px;
	}

	.project-current {
		margin-left: 20px;
	}

	.projects {
		padding: 20px 65px;

		h3 {
			float: none;
			text-align: left;
			width: auto;
		}

		h3, .property-list {
			margin: 0;
		}

		h3, .project-date {
			display: inline;
		}
	}
}

.portlet-column-only .contacts-portlet .contacts-profile {
	border-bottom-width: 1px;
	overflow: hidden;

	.social-relations {
		border-bottom: 1px solid $defaultBorderColor;
	}
}

.portal-popup.profile-page {
	.fieldset.w50 {
		display: inline;
		width: 49%;
	}

	.form-section h3 {
		display: none;
	}
}

/* ---------- Portlet: document library ---------- */

.portlet-document-library {
	.span6 {
		.common-file-metadata-container, .form {
			margin: 10px;
		}
	}

	.row-fluid {
		.span2 {
			width: 12.66667%;
		}

		.span10 {
			margin-left: 0;
			width: 87.33333%;
		}
	}

	.alert, .breadcrumb, .form {
		margin-bottom: 0;
	}

	.taglib-header {
		margin: 0;
	}

	fieldset {
		border-width: 0;
		padding: 10px;
	}

	label {
		font-size: 16px;
		font-weight: 200;
	}

	input[type="file"] {
		height: auto;
		line-height: 1em;
		padding: 7px;
	}

	.accordion-group, .accordion-inner {
		border-width: 0;
		margin-bottom: 10px;
	}

	.field-wrapper .btn {
		margin-top: 0;
	}

	.lfr-message {
		margin: 10px 10px 0;
	}

	.lfr-app-column-view {
		background: #F5F5F5;
		border-bottom: 1px solid #DDD;

		.navigation-pane .nav {
			background: none;
			border-width: 0;
			padding: 0 15px;

			.app-view-navigation-entry .overlay.entry-action .btn {
				box-shadow: none;
				padding: 15px 10px 5px;
			}

			li > a {
				border-bottom: 1px solid #CCC;
				border-top: 1px solid #FFF;
				padding: 0.70em 15px;

				:first-child {
					border-top-width: 0;
				}
			}

			li.active > a {
				border-color: #0AF;
			}
		}

		.context-pane {
			background: #FFF;
			border-left: 1px solid #DDD;
			min-height: 500px;

			.lfr-header-row-content {
				padding: 0;

				.select-all-entries {
					left: 10px;
					top: 13px;
				}
			}

			.navbar {
				margin-bottom: 0;

				.navbar-inner {
					background: $controlBgColor;
					padding: 0 10px 0 30px;
				}

				.nav > li.open > a {
					box-shadow: inset 0 3px 8px rgba(0, 0, 0, 0.25);
				}
			}

			.lfr-search-container {
				margin: 10px;
			}
		}
	}

	.document-entries-pagination, .portlet-document-library-display .document-entries-pagination {
		padding: 20px 0 0;
	}

	.control-group p label {
		display: inline;
		font-size: 14px;
	}

	.view .toolbar {
		border-bottom: 1px solid $defaultBorderColor;
		display: block;
		padding: 7px 6px;
	}

	.label-success {
		background-color: #488F06;
	}
}

/* ---------- Portlet: invite members ---------- */

.so-portlet-invite-members {
	background-color: $controlBgColor;
	border: 1px solid $defaultBorderColor;
	border-width: 1px 0;
	margin-top: -1px;

	.invite-members {
		display: inline-block;
		margin: 4px;
	}
}

/* ---------- Portlet: message boards ---------- */

.portlet-message-boards {
	margin: 10px;
}

.portlet-asset-publisher, .portlet-message-boards {
	.accordion-heading {
		background-color: #F6F6F6;
	}

	.category-title {
		white-space: normal;
	}

	.tags {
		margin-bottom: 0.5em;
	}

	/* ---------- Thread ---------- */

	.edit-controls li, .thread-actions li, .thread-navigation {
		line-height: 2em;
	}

	.thread-message-view {
		position: relative;

		> tbody > {
			tr, tr > td {
				display: block;
			}
		}
	}

	.thread-controls {
		background-color: #F6F6F6;
	}

	.thread-actions .taglib-icon-list {
		margin-bottom: 0;
	}

	.message-container {
		overflow: visible;

		.thread-message-view {
			min-width: 0;
		}

		.lfr-top {
			box-sizing: border-box;
			width: 100%;

			&.user-info {
				border-right-width: 0;
				padding: 10px;
				position: absolute;
				top: 0;
				width: 75px;
			}

			.thread-top {
				border-bottom-width: 0;
				padding-left: 80px;
			}

			.edit-controls {
				clear: both;
				float: left;
				margin-bottom: 1em;
				margin-top: 0.5em;
			}
		}

		.user-info {
			position: relative;

			.user-details {
				display: none;
			}

			&:hover .user-details {
				background-color: #FFF;
				border: 1px solid $defaultBorderColor;
				border-radius: 4px;
				box-shadow: -4px 0 15px -7px rgba(0, 0, 0, 0.6);
				display: block;
				margin-top: 0;
				padding: 10px;
				position: absolute;
				top: 100%;

				div, span {
					white-space: nowrap;
				}
			}
		}

		.taglib-user-display {
			padding: 0;

			.user-name {
				left: 75px;
				margin-left: 6px;
				margin-top: 0.5em;
				position: absolute;
				top: 0;
				white-space: nowrap;
				word-break: normal;
			}
		}

		.user-profile-image {
			height: 55px;
			max-width: 55px;
			overflow: hidden;

			.avatar {
				width: 55px;
			}
		}

		.subject {
			color: #999;
			margin-top: 2em;
			word-break: break-word;

			div {
				color: #333;
			}

			.tags {
				float: none;
			}
		}

		.answer {
			background: #FFF;
			border: 2px solid #2D8308;

			border-radius: 4px 0 0 4px;

			border-right-width: 0;
			margin-right: 1px;
			padding: 4px;
			position: absolute;
			right: 100%;
			text-align: center;
			top: 10px;
			width: 80px;
		}

		.thread-body {
			padding-left: 80px;
			word-break: break-word;
		}

		.message-attachments {
			margin-bottom: -2em;
			margin-top: 2em;

			h3 {
				color: #999;
				font-size: 1em;
				margin-bottom: 0;
			}

			.message-attachment {
				padding: 0;
			}
		}

		.thread-bottom {
			padding-left: 75px;

			br {
				display: none;
			}

			.edit-controls {
				float: none;
				margin: 1em 1em 0.5em 16em;
				overflow: hidden;

				li {
					float: right;
				}
			}
		}

		.taglib-ratings {
			bottom: 0;
			margin-bottom: 0.6em;
			position: absolute;
		}

		.taglib-flags {
			bottom: 1em;
			margin-left: 10em;
			position: absolute;
		}

		.entry-links {
			clear: both;
			margin-left: 10px;

			.asset-links-list {
				margin-left: 25px;
			}
		}
	}
}

.ios.touch {
	.portlet-asset-publisher, .portlet-message-boards {
		.user-info:hover .user-details {
			display: none;
		}
	}
}

/* ---------- Portlet: microblogs ---------- */

.microblogs-portlet {
	.portlet-body {
		padding: 10px;
	}

	.nav-tabs, .microblogs-entry-form {
		margin-bottom: 10px;
	}

	.alert {
		margin-bottom: 0;
	}

	.autocomplete {
		background-color: transparent;
	}

	.microblogs-countdown {
		font-size: 0.9em;
	}

	.microblogs-button-input-disabled .microblogs-button-input, .microblogs-button-input-disabled:hover .microblogs-button-input {
		background: #C10000;
		border-color: #8A0808;
		color: #FFF;
		opacity: 1;
	}

	.microblogs-entry {
		margin: 0 5px;
	}

	.thumbnail {
		border-radius: 0;

		border-width: 0;
		height: 50px;
		padding: 0;
		width: 50px;

		img {
			max-width: 50px;
		}
	}
}

.user-group .microblogs-status-container {
	.microblogs-entry, .portlet-msg-info {
		background-color: #FFF;
		border: 1px solid $defaultBorderColor;
		padding: 8px 10px;
	}

	.portlet-msg-info {
		padding-left: 30px;
	}

	.entry-bubble {
		margin-left: 0;
	}

	.thumbnail, .user-name {
		display: none;
	}
}

.private-page .microblogs-status-container {
	padding-bottom: 0;
}

/* ---------- Portlet: notifications ---------- */

.dockbar-user-notifications, .notifications-portlet {
	@include hashtag;

	.nonactionable .user-notification {
		&, &.archived {
			.lfr-icon-menu .dropdown-menu {
				.taglib-icon:hover .unsubscribe-info {
					color: #FFF;
				}

				.unsubscribe-info {
					color: #666;
				}
			}
		}
	}
}

/* ---------- Portlet: private messaging ---------- */

.private-messaging-portlet {
	.controls {
		border-radius: 0;

		border-width: 0 0 1px;
	}

	.thread-content .controls {
		margin-bottom: -1px;
	}

	.controls, .portlet-msg-info, .portlet-msg-success {
		border-width: 0 0 1px;
		margin: 0;
	}

	.private-messaging-container {
		.results-grid, .results-grid .results-row td, .results-grid .results-row.alt td, .thread .results-row {
			border-left-width: 0;
			border-right-width: 0;
			border-top-width: 0;
		}
	}

	.message-link:hover {
		background-color: $btnBackgroundDefault;
		text-decoration: none;
	}

	.messages-content {
		min-height: 400px;
	}

	.user-profile-image {
		height: 60px;
		margin-right: 10px;
		overflow: hidden;
		position: relative;
		z-index: 2;
	}
}

/* ---------- Portlet: SO sites ---------- */

.dialog-iframe-popup, .so-portlet-sites-dialog {
	.so-sites-directory {
		.taglib-header {
			display: none;
		}

		.buttons-right {
			width: 100%;

			button {
				float: left;
				min-width: 110px;
			}
		}
	}
}

/* ---------- Portlet: tasks ---------- */

.tasks-portlet {
	.nav-tabs {
		margin: 10px;
	}

	.control-wrapper, .filter-wrapper, .list-wrapper, .tasks-options {
		margin: 15px;
	}

	.filter-wrapper {
		margin-top: -0.5em;
	}

	.tms-portlet-tasks .progress {
		background-color: #FFD8B2;
	}
}

.upcoming-tasks-portlet .tasksentries-container .tasks-title a {
	padding: 3px 0 3px 20px;

	&:hover {
		background-color: $controlBgColor;
		text-decoration: none;
	}
}

/* ---------- Portlet: wiki ---------- */

.portlet-wiki {
	.page-actions {
		text-align: left;
	}

	.article-actions, .stats {
		display: inline-block;
		vertical-align: baseline;
	}

	.taglib-header {
		border-bottom-width: 0;
	}

	.top-links-container {
		margin: -10px -10px 10px;

		.page-search, .category-search {
			font-size: 0;
			margin: 0;
			padding: 0;

			.aui-field-input, .aui-button-submit {
				font-size: 13px;
			}

			.aui-field-input {
				border-radius: 4px 0 0 4px;

				margin-right: -1px;
				width: 9em;
			}

			.aui-button-submit input {
				border-radius: 0 4px 4px 0;
			}
		}

		.top-links {
			padding: 0.45em 0.95em;
		}
	}

	.top-links-container .top-link {
		vertical-align: middle;
	}

	.portlet-msg-success {
		border-width: 0 0 1px;
		margin: -10px -10px 10px;
	}

	.portlet-borderless-container .portlet-body {
		margin: 10px;
	}

	.page-actions a, .toc a.toc-trigger {
		border-radius: 4px;
		@include button-default;

		display: inline-block;

		&, .taglib-text {
			text-decoration: none;
		}

		&:active {
			@include button-active;
		}

		&:hover, &:focus {
			@include button-focus;
		}

		img {
			vertical-align: top;
		}
	}
}

@media print {
	.portlet-message-boards .edit-controls a, .portlet-message-boards .thread-controls a, .portlet-wiki .page-actions a, .popup-print {
		display: none;
	}
}

.ie9 {
	#navigation .avatar img {
		visibility: visible;
		width: 155px;
	}
}

/* ---------- Tags ---------- */

.autocomplete-content .toolbar {
	position: relative;
}

.taglib-ratings.thumbs {
	margin: 0;
	padding: 5px;

	.thumbrating .rating-label {
		display: inline-block;
	}
}

.taglib-asset-tags-summary .tag {
	@include tag(false);
}

/* ---------- Top links component ---------- */

.taglib-header {
	clear: both;
	margin: 1em 0;

	.header-back-to, .header-title {
		display: inline;
		vertical-align: middle;
		white-space: normal;
		word-break: break-word;
	}

	.header-back-to a {
		padding-left: 0.25em;
		padding-right: 0.25em;
	}

	.header-title {
		font-weight: 200;
	}
}

/* ---------- Responsive ---------- */

@media (max-width: 1200px) {
	.portlet-document-library .row-fluid {
		.span2 {
			width: 15%;
		}

		.span10 {
			width: 85%;
		}
	}
}

@include respond-to(phone, tablet) {
	.navbar {
		.info-items, .info-link-container {
			display: none;
		}

		.container-fluid .nav-collapse.open .nav-add-controls .dockbar-item .dropdown-menu {
			bottom: auto;
			top: auto;
		}
	}

	#banner #toggleDockbar {
		display: none
	}

	#content, #navigation, #navigation ul {
		border-width: 0;
	}

	#content {
		padding-left: 0;
	}

	#navigation {
		display: none;
	}

	.portlet-layout, .portlet-column {
		display: block;
		width: auto;
	}

	/* ---------- Portlet: message boards ---------- */

	.portlet-asset-publisher, .portlet-message-boards {
		.message-container .thread-top .answer {
			border-radius: 4px;

			border-width: 2px;
			display: block;
			margin-bottom: 0.5em;
			position: initial;
			text-align: left;
			width: auto;
		}
	}
}

@include respond-to(phone) {
	body #banner {
		padding: 0.5em 1em;
		text-align: center;

		.site-title {
			width: 100%;
		}

		.avatar, .logo img {
			display: none;
		}
	}

	.row-fluid [class*="span"] {
		width: 100%;
	}

	#page-search {
		display: none;
	}

	/* ---------- Mobile pop ups ---------- */

	.dialog-iframe-root-node {
		padding: 10px !important;
	}

	.modal {
		bottom: 0;

		border-radius: 0;

		border-width: 0;
		height: 100% !important;
		left: 0 !important;
		position: fixed;
		top: 0 !important;
		width: 100% !important;

		.modal-header .close {
			font-family: Arial, 'Helvetica Neue', Helvetica, sans-serif;
			font-size: 50px;
			line-height: 50px;
			margin-top: -10px;
			padding: 0;
			width: 50px;
		}

		.modal-body {
			padding: 0 10px;
			width: 100%;

			&.dialog-iframe-bd {
				padding: 0;
			}
		}
	}

	.modal-body, .portal-popup {
		.portlet-body {
			padding: 0;
		}

		#main-content {
			margin: 0;
		}

		.form {
			margin: 10px 0 0;
		}

		.nav-tabs {
			margin: 10px 0;
		}

		.tab-content {
			overflow: initial;
		}

		.control-group, & {
			margin-right: 0;
			width: 100%;

			input[type="email"], input[type="file"], input[type="text"], textarea {
				height: 30px;
				margin-left: -1px;
				min-width: 0;
				padding: 0;
				text-indent: 4px;
				width: 100%;
			}

			.lfr-input-text {
				max-width: none !important;
				min-width: 0;
				width: 100%;
			}

			textarea {
				height: auto;
			}

			select {
				min-width: 0;
				width: 100%;
			}
		}

		.btn, .btn:hover {
			display: inline-block;
			margin: 0 0 0 5px;
			padding: 10px;
			width: auto;

			i {
				display: block;
			}
		}

		.button-holder {
			background-color: #FFF;
			border-top: 1px solid $defaultBorderColor;
			bottom: 0;
			margin: 10px -10px 0;
			padding: 10px;
			width: 100%;

			.btn {
				float: right;

				&:last-child {
					margin-left: 0;
				}
			}
		}
	}

	.portal-popup {
		padding: 0;
	}

	.so-portlet-invite-members .modal-body {
		.invite-actions {
			background-color: #FFF;
			border-top: 1px solid $defaultBorderColor;
			border-width: 1px 0 0;
			bottom: 0;
			margin: 10px -10px 0;
			overflow: hidden;
			padding: 10px;
			width: 100%;

			.form {
				margin: 0;
			}

			.btn {
				float: right;

				&:last-child {
					margin-left: 0;
				}
			}
		}
	}

	/* ---------- Portlet: activities ---------- */

	.so-portlet-activities .activity-item {
		padding: 1em 0;
	}

	.profile-page .so-portlet-activities .portlet-title {
		text-align: left;
	}

	/* ---------- Portlet: contacts ---------- */

	.contacts-portlet .contacts-profile {
		.profile-actions {
			margin: 10px 0;
		}

		.user-information-title {
			text-align: left;
			width: auto;
		}

		.section {
			h3 {
				float: none;
				text-align: left;
				width: auto;
			}

			.property-list {
				margin-left: 10px;
			}
		}
	}

	.profile-page .contacts-portlet .projects {
		padding: 10px;
	}

	/* ---------- Portlet: document library ---------- */

	.portlet-document-library .row-fluid {
		.span2, .span10 {
			width: auto;
		}
	}

	/* ---------- Portlet: message boards ---------- */

	.portlet-asset-publisher, .portlet-message-boards {
		#toggle_id_message_boards_view_message_thread, #toggle_id_message_boards_view_message_thread_image, .thread-view-controls {
			display: none;
		}

		.accordion-inner {
			padding: 0;

			.lfr-search-container {
				margin-top: 0;
			}

			.table {
				border-width: 0;
				margin-bottom: 0;

				td, th {
					&:first-child {
						border-left-width: 0;
					}
				}
			}
		}

		#_19_mbCategoriesSearchContainerSearchContainer {
			tr {
				td, th {
					&:nth-child(2), &:nth-child(3), &:nth-child(4) {
						display: none;
					}
				}
			}
		}

		#_19_mbThreadsSearchContainerSearchContainer {
			tr {
				td, th {
					&:nth-child(2), &:nth-child(3), &:nth-child(4), &:nth-child(5), &:nth-child(6) {
						display: none;
					}
				}
			}
		}

		.displayStyle-question #_19_mbThreadsSearchContainerSearchContainer {
			.table {
				border-top-width: 0;
			}

			thead {
				display: none;
			}

			tr {
				td, th {
					&:nth-child(2), &:nth-child(4), &:nth-child(5), &:nth-child(6) {
						display: table-cell;
					}
				}
			}

			.question-details {
				float: none;

				.status, .votes {
					display: block;
					margin: 5px auto;
				}

				.status {
					background-color: transparent;

					&.answered {
						color: #5BA018;
					}

					&.unanswered {
						color: #CF4937;
					}
				}

				.views {
					display: none;
				}
			}
		}

		/* ---------- Thread ---------- */

		.message-container {
			margin-left: 0 !important;

			.user-name {
				margin-top: 0.9em;
			}

			.thread-top {
				padding-left: 15px;

				.subject {
					margin-top: 2.6em;

					> a {
						display: block;
						margin-bottom: 1.5em;
						margin-left: 65px;
					}

					br {
						display: none;
					}
				}
			}

			.thread-body {
				padding-left: 15px;
			}

			.thread-bottom {
				padding-left: 5px;

				.edit-controls {
					margin-bottom: 2.5em;
					margin-left: 0.5em;

					li {
						float: left;
					}
				}
			}
		}
	}

	/* ---------- Portlet: microblogs ---------- */

	.user-dashboard .microblogs-portlet {
		.microblogs-entry-form {
			margin-bottom: 0;
		}

		.microblogs-status-container {
			display: none;
		}
	}
}