@import url(color_schemes/collaboration.css);

@import url(color_schemes/website.css);

/* ---------- Base ---------- */

body {
	color: #403638;
}

a,
a:visited,
a:active {
	color: #369;
	text-decoration: none;
}

#wrapper {
	margin: 0 auto;
	width: 95%;
}

#main-content {
	font-size: 1.2em;
	margin-bottom: 4em;
}

.ie6 img {
	position: static;
}

#skip-to-content {
	display: none;
}

.portlet-content,
.portlet-minimized .portlet-content-container {
	padding: 0 0 10px;
}

.portlet-boundary h1 {
	border-bottom: 4px solid #7F80A4;
	color: #8F0920;
	font-size: 18px;
	font-weight: bold;
	margin: 0 0 .5em;
}

.portlet-boundary h3 {
	border-bottom: 1px solid #C0C0C0;
	color: #3E3639;
	font-size: 1.1em;
}

/* ---------- Heading ---------- */

#banner {
	border-bottom: 3px solid #3E3639;
	margin-bottom: 1.5em;
	min-height: 90px;
	position: relative;

	h1.company-title {
		margin: 10px 15px 30px;
	}

	h2.community-title {
		bottom: 3px;
		left: 15px;
		margin: 0;
		position: absolute;

		a {
			color: #8D1E31;
		}
	}

	h3.page-title {
		display: none;
	}

	#page-search {
		position: absolute;
		right: 15px;
		top: 20px;

		input {
			float: left;
			margin-left: 3px;
		}

		select {
			display: none;
		}
	}
}

/* ---------- Navigation ---------- */

#navigation {
	position: absolute;
	right: 0;
	bottom: 0;
}

#navigation h1 {
	display: none;
}

#navigation ul {
	float: right;
	margin: 0 auto;
}

#navigation ul:after {
	clear: both;
	content: ".";
	display: block;
	height: 0;
	visibility: hidden;
}

#navigation li {
	float: left;
	list-style-type: none;
	position: relative;
}

#navigation a {
	border-bottom: 3px solid #FFF;
	color: #8D1E31;
	display: block;
	font: bold 14px Arial, Helvetica, sans-serif;
	padding: 2px 15px;
}

#navigation li.selected a,
#navigation li a:hover {
	border-bottom: 3px solid #7F80A4;
	color: #3E3639;
}

.ie #navigation ul {
	height: 1%;
}

.ie6 #navigation,
.ie6 #navigation ul {
	height: 2em;
	overflow: visible;
}

.controls-hidden #navigation .delete-tab {
	display: none;
}

#navigation .child-menu {
	display: none;
}

/* ---------- Breadcrumbs ---------- */

.site-breadcrumbs {
	margin-bottom: 1.5em;
}

.site-breadcrumbs h1 {
	display: none;
}

.site-breadcrumbs ul {
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
	border-radius: 4px;
	background-color: #F4F4F4;
	border: 1px solid #C0C2C5;
	margin: 0 0 1.5em;
}

.site-breadcrumbs li {
	background-image: none;
	display: inline-block;
	margin-right: 0;
	max-width: 50%;
	padding-left: 0.75em;
	padding-right: 0;
	vertical-align: middle;
}

.site-breadcrumbs li span {
	background: url("../images/common/breadcrumbs.png") no-repeat 100% 50%;
	display: block;
	padding: .5em 15px .5em 0;
}

.site-breadcrumbs .last span {
	background-image: none;
}

.ie7 .breadcrumbs li {
	display: inline;
	zoom: 1;
}

.ie6 .breadcrumbs li {
	display: inline;
	zoom: 1;
}

.ie6 .breadcrumbs {
	zoom: 1;
}

/* ---------- Portal tool tips ---------- */

.portal-tool-tip {
	font-size: 1.2em;
}

.controls-visible .portlet-borderless-container {
	min-height: 20px;
}

/* ---------- Portlets ---------- */

.portlet {
	margin-bottom: 1em;
}

.portlet-borderless-container {
	min-height: 0;
}

.ie6 .portlet-borderless-container {
	height: 0;
}

.portlet-title {
	border-bottom: 4px solid #7F80A4;
	color: #8F0920;
	font-size: 18px;
	font-weight: bold;
}

.portlet-title img {
	display: none;
}

.portlet-topper-toolbar {
	right: 2px;
	top: 2px;
}

.portlet-topper-toolbar .portlet-options {
	width: 20px;
}

.lfr-actions.portlet-options .lfr-trigger strong {
	padding: 2px 1px 1px;
}

.portlet-content .so-portlet-configuration {
	position: relative;
}

.portlet-content .so-portlet-configuration a {
	display: block;
	font-size: 11px;
	position: absolute;
	right: 0;
	top: -32px;
}

/* ---------- Layout ---------- */

.portlet-column-content {
	padding: 0 15px;
}

.portlet-column-content-first,
.portlet-column-content-only {
	padding-left: 0;
}

.portlet-column-content-last,
.portlet-column-content-only {
	padding-right: 0;
}

/* ---------- Footer ---------- */

#footer {
	display: none;
}

/* ---------- Application ---------- */

/* Autocomplete */

.ui-autocomplete-even {
	background: #FFF;
}

.ui-autocomplete-odd {
	background: #F0F5F7;
}

.ui-autocomplete-over {
	background: #E9E9FD;
}

.ui-autocomplete-results {
	border-color: transparent #DEDEDE #DEDEDE #BFBFBF;
	font-size: 1.2em;
}

.ui-autocomplete-results li {
	padding: 5px;
}

/* Detail column */

.detail-column {
	display: none;
}

/* Dynamic Uploader */

.lfr-upload-container {
	width: 475px;
}

.lfr-upload-container .upload-error .error-message {
	background-color: #FDD;
	padding-left: 5px;
}

/* Forms */

.lfr-label {
	color: #999;
	font-size: 11px;
	font-weight: bold;
	text-align: right;
	vertical-align: top;
}

/* Headings */

.taglib-header {
	border: none;
	margin: 0;
}

.taglib-header h1.header-title {
	border: none;
	color: #8F0920;
	font-size: 2em;
	font-weight: bold;
	line-height: 1em;
	margin: 0 0 .5em;
	padding: 0;
}

/* Messages */

.portlet-msg-info {
	margin-top: 0;
}

.ie6 .portlet-msg-success,
.ie6 .portlet-msg-error {
	height: 1px;
}

/* Panel */

.aui-panel-hd-text {
	font-size: 12px;
	font-weight: bold;
}

/* Ratings */

.ie6 .taglib-ratings.stars {
	width: 100%;
}

.ie6 .taglib-ratings .aui-rating {
	width: 110px;
}

/* Search Iterator */

.taglib-search-iterator .result-title img {
	margin-right: .5em;
}

.taglib-search-iterator .result-data,
.taglib-search-iterator .result-description {
	color: #777;
	font-size: 10px;
}

.taglib-search-iterator .result-data span {
	margin-right: 1em;
	white-space: nowrap;
}

.taglib-search-iterator .result-tags {
	background: url(../images/custom/tag_small.png) no-repeat 0 3px;
	color: #777;
	font-size: 10px;
	padding-left: 15px;
}

.taglib-search-iterator .result-tags span {
	float: left;
	font-size: 0;
	opacity: 0;
	text-indent: -9999em;
}

/* Sidebar */

.portlet-blogs .portlet-content .portlet-body,
.portlet-calendar .portlet-content .portlet-body,
.portlet-message-boards .portlet-content .portlet-body,
.portlet-wiki .portlet-content .portlet-body {
	margin-left: 250px;
	position: relative;
}

.sidebar {
	background: #F0F5F7;
	border: 1px solid #B0BAFF;
	clear: none;
	font-size: 11px;
	left: -250px;
	margin: 0;
	overflow: hidden;
	padding: 12px;
	position: absolute;
	top: 0;
	width: 210px;
}

.aui-dialog .sidebar {
	display: none;
}

.sidebar .search-input {
	width: 145px;
}

.sidebar .search-button {
	width: 58px;
}

#wrapper .sidebar h2 {
	border: none;
	font-size: 12px;
	margin: 1em 0;
	padding: 0;
}

.sidebar ul {
	margin-left: .5em;
}

.sidebar ul li {
	list-style-type: none;
}

.sidebar ul a {
	text-decoration: none;
}

.sidebar ul a img {
	margin-right: .5em;
}

.sidebar .disc {
	margin-left: 1.5em;
}

.sidebar .disc li {
	list-style-type: disc;
	padding-left: .3em;
}

/* List */

.results-grid {
	border: 1px solid #CCC;
	padding: 0;
}

.results-grid .results-row.hover td {
	background: #E9E9FD;
}

.results-header {
	background: #7F80A4;
}

.results-header th,
.results-header td {
	color: #FFF;
}

.results-row td {
	background: #FFF;
}

.results-row.alt td {
	background: #F0F5F7;
}

/* Tabs */

.aui-tabview-list {
	background: #E8EFF4;
}

.aui-tab-active {
	background: #FFF;
	border: 1px solid #C8C9CA;
}

.aui-tab-active,
.aui-tab-active a {
	color: #403638;
	text-shadow: none;
}

.aui-tab-active:after {
	border-width: 0;
}

/* Taglib */

.taglib-icon .taglib-text {
	text-decoration: none;
}

/* ---------- Portlet ---------- */

/* Activities */

.so-portlet-activities .taglib-page-iterator {
	margin-top: 1em;
}

.so-portlet-activities .taglib-page-iterator .search-results {
	display: none;
}

.so-portlet-activities .taglib-page-iterator .search-pages {
	float: none;
}

.so-portlet-activities .taglib-page-iterator .page-links a,
.so-portlet-activities .taglib-page-iterator .page-links span {
	border: none;
}

.portlet-activities .separator,
.so-portlet-activities .separator,
.taglib-social-activities .separator {
	border-top: none;
}

.activity-data .activity-body {
	font-size: 9px;
}

.activity-data .activity-body a {
	background: url(../images/custom/bullet.png) no-repeat 3px 50%;
	padding-left: 10px;
}

.activity-data .user {
	color: #3C6696;
	font-size: 11px;
	font-weight: bold;
}

.activity-data a.group {
	color: #740B2B;
	font-weight: bold;
}

.activity-data .activity-title {
	color: #413739;
	font-size: 11px;
}

.activity-data .time {
	color: #848484;
}

.taglib-social-activities .first-day-separator {
	border-bottom: 1px solid #B3B3B3;
	font-weight: bold;
}

/* Asset Publisher */

.ie6 .portlet-asset-publisher .asset-metadata {
	display: none;
}

/* Blogs */

.portlet-blogs .portlet-toolbar .aui-search-bar {
	display: none;
}

.portlet-blogs .entry-footer {
	background: #E8EFF4;
	border-top: 1px solid #B0BAFF;
	padding: 15px;
}

.portlet-blogs .entry-title {
	font-size: 2.1em;
	line-height: 1.1em;
}

.portlet-blogs .entry-title a {
	color: #7F80A4;
}

.portlet-blogs .entry-date,
.portlet-blogs .entry-author {
	color: #555;
	font-size: 1.1em;
}

.portlet-blogs .entry-body {
	font-family: "Times New Roman", Times, serif;
	font-size: 1.2em;
	margin: 1em 0;
}

.portlet-blogs .edit-actions {
	float: right;
	margin: 0;
	padding: .5em;
}

.portlet-blogs .sidebar .recent-entries-list span {
	display: block;
}

/* Bookmarks */

.portlet-bookmarks .control-wrapper {
	text-align: right;
}

.portlet-bookmarks .results-header {
	display: none;
}

.portlet-bookmarks .control-wrapper a {
	background: url(../images/arrows/01_plus.png) no-repeat scroll 100% 50%;
	font-size: 11px;
	padding-right: 16px;
}

/* Calendar */

.portlet-calendar h1.title {
	border-bottom: none;
	font-size: 2.5em;
	line-height: 1em;
	margin: 0;
}

.portlet-calendar .calendar-tabs a {
	border-right: 2px solid #8F0920;
	padding: 0 7px 0 4px;
	font-weight: bold;
}

.portlet-calendar .calendar-tabs a.selected {
	color: #8F0920;
}

.portlet-calendar .calendar-tabs .day {
	border: none;
}

.portlet-calendar .mini-calendar {
	left: -250px;
	position: absolute;
}

.portlet-calendar .calendar-container {
	background: #FFF;
	font-weight: bold;
	margin-bottom: 15px;
	padding-top: 4px;
	text-align: center;
	width: 209px;
}

.portlet-calendar .calendar-day {
	float: none;
	margin-top: 4px;
}

.portlet-calendar .calendar-day .day-text {
	background: #7F80A4;
	padding: 5px;
}

.portlet-calendar .taglib-calendar {
	border: 1px solid #DDD;
	width: 209px;
}

.portlet-calendar .date-selector {
	clear: none;
	color: #777;
	font-size: 2em;
	font-weight: bold;
	line-height: 1em;
	margin: 0 auto;
}

.portlet-calendar .date-selector td {
	color: #3E3639;
	padding: 0 5px;
}

.portlet-calendar .calendar {
	width: 100%;
}

.portlet-calendar .calendar td .results-row td {
	font-size: 11px;
	padding: 5px;
}

.portlet-calendar .calendar thead td {
	background: #D0E5F7;
	color: #20559E;
	font-weight: bold;
}

.portlet-calendar .calendar thead td a {
	color: #20559E;
}

.portlet-calendar .calendar tbody td {
	border: 1px solid #EEE;
}

.portlet-calendar .calendar tbody td td {
	border: none;
}

.portlet-calendar .calendar .current-day {
	background: #DCECF9;
}

.portlet-calendar .calendar .selected-day {
	background: #FFF;
}

.portlet-calendar .calendar .results-header td {
	padding: 0;
}

.portlet-calendar .event-selector {
	float: right;
}

.ie6 .portlet-calendar .event-selector .aui-field-content {
	display: inline;
}

.portlet-calendar .day-grid {
	border-top: 2px solid #CCC;
	margin-left: 50px;
}

.portlet-calendar .day-grid .business-hours {
	background: #FEFEFE;
}

.portlet-calendar .day-grid .night-hours {
	background: #EFEFEF;
}

.portlet-calendar .day-grid .hour.all-day {
	border: none;
	height: auto;
	min-height: 24px;
}

.portlet-calendar .day-grid .hour {
	border-bottom: 1px solid #CCC;
	height: 24px;
	position: relative;
}

.portlet-calendar .day-grid .hour span {
	color: #777;
	display: block;
	font-size: .8em;
	font-weight: bold;
	left: -50px;
	position: absolute;
	text-align: right;
	top: 0;
	width: 45px;
}

.portlet-calendar .day-grid .event-box-wrapper .event-box span {
	position: static;
}

.portlet-calendar .day-grid .half {
	border-bottom: 2px solid #CCC;
	height: 23px;
}

.portlet-calendar .day-grid .event-box {
	background: #F0F5F7;
	border: 2px solid #AAF;
	padding: 5px;
}

.portlet-calendar .day-grid .event-time {
	color: #555;
	font-size: .8em;
	line-height: 1em;
}

.portlet-calendar .day-grid .event-description {
	border-top: 1px solid #AAF;
	padding-top: .5em;
}

.portlet-calendar .sidebar {
	left: -225px;
	width: 180px;
}

.portlet-calendar .results-row td {
	padding: 0;
}

.portlet-calendar .export-import-calendar {
	background: #D0E5F7;
	border-bottom: 2px solid #6F686B;
	font-size: 10px;
	height: 16px;
	padding: 2px;
}

.portlet-calendar .export-import-calendar a {
	margin-right: 3px;
	padding-left: 5px;
}

.portlet-calendar .export-import-calendar.day-view {
	margin-left: 50px;
}

.portlet-calendar .events .results-header {
	display: none;
}

.portlet-calendar .events .results-row td {
	padding: 5px 10px;
}

.portlet-calendar .events .results-row td span {
	color: #777;
	font-size: 10px;
	margin-right: 1em;
}

table.calendar {
	border-top: 2px solid #6F686B;
}

.taglib-calendar table {
	border: none;
}

.taglib-calendar th a:hover,
.taglib-calendar th a:focus {
	background: transparent;
}

.taglib-calendar tr td a:hover {
	background: #7F80A4;
}

/* Contacts Center: Profile */

.contacts-portlet h1.header-title {
	margin: 0;
}

.contacts-portlet .group-members-content {
	background: #EFEFEF;
	border: 1px solid #999;
	margin-right: 1em;
	padding: 1em;
}

/* Dockbar */

.user-group .add-content-menu .add-page{
	display: none;
}

/* Document Library */

.portlet-document-library .folder-title {
	margin-bottom: 0;
}

.portlet-document-library .no-folder-title {
	margin-bottom: .3em;
}

.portlet-document-library .file-entry-title span {
	color: #999;
	font-size: .5em;
}

.portlet-document-library .folder-description {
	color: #999;
	margin-bottom: 1em;
}

.portlet-document-library .folder-actions {
	margin-bottom: 1em;
}

.portlet-document-library .folder-name img,
.portlet-document-library .file-name img {
	margin-right: .5em;
}

.portlet-document-library .subfolder,
.portlet-document-library .file-data,
.portlet-document-library .file-tags {
	color: #777;
	font-size: 10px;
}

.portlet-document-library .file-tags {
	background: url(../images/custom/tag_small.png) no-repeat 0 3px;
	padding-left: 15px;
}

.portlet-document-library .file-lock span,
.portlet-document-library .file-tags span {
	float: left;
	font-size: 0;
	opacity: 0;
	text-indent: -9999em;
}

.portlet-document-library .results-grid {
	margin-top: 1em;
}

.portlet-document-library .result-data .locked {
	color: #8F0920;
}

.portlet-document-library .result-data .has-lock {
	color: #11801C;
}

.portlet-document-library .file-data span {
	margin-right: 1em;
	white-space: nowrap;
}

.portlet-document-library .file-lock a,
.portlet-document-library .file-lock div {
	display: block;
	float: left;
	height: 16px;
	width: 16px;
}

.portlet-document-library .file-lock span {
	opacity: 0;
}

.portlet-document-library .file-lock .locked {
	background: url(../images/custom/lock_break.png) no-repeat;
}

.portlet-document-library .file-lock .online-edit {
	background: url(../images/custom/online_edit.png) no-repeat;
	margin-left: 3px;
}

.portlet-document-library .file-lock .unlockable {
	background: url(../images/common/lock.png) no-repeat;
}

.portlet-document-library .file-lock .unlocked {
	background: url(../images/custom/lock_open.png) no-repeat;
}

.portlet-document-library .webdav-url {
	margin-top: 1em;
}

.portlet-document-library .layout-container h2 {
	font-size: 1.3em;
	margin: 0 0 10px;
}

.portlet-document-library .layout-column-side {
	border-left: 1px solid #CCC;
}

.portlet-document-library .social-data {
	margin-top: 1em;
}

.portlet-document-library .document-action-list {
	border-bottom: 1px solid #CCC;
	margin: 1em 0;
	padding: 0 0 1em;
}

.portlet-document-library .document-action-list li {
	background: transparent none no-repeat 2px 50%;
	color: #CCC;
	list-style-type: none;
	padding: 1px 0 1px 25px;
}

.portlet-document-library .document-action-list .action-download {
	background-image: url(../images/custom/arrow_down_2.png);
}

.portlet-document-library .document-action-list .action-lock {
	background-image: url(../images/common/lock.png);
}

.portlet-document-library .document-action-list .action-unlock {
	background-image: url(../images/common/unlock.png);
}

.portlet-document-library .document-action-list .action-upload {
	background-image: url(../images/custom/arrow_up_2.png);
}

.portlet-document-library .document-action-list .action-edit-office {
	background-image: url(../images/custom/online_edit.png);
}

.portlet-document-library .document-action-list .action-save-office {
	background-image: url(../images/custom/online_save.png);
}

.portlet-document-library .document-action-list .action-move {
	background-image: url(../images/custom/arrow_right_2.png);
}

.portlet-document-library .document-action-list .action-edit {
	background-image: url(../images/common/edit.png);
}

.portlet-document-library .document-action-list .action-permissions {
	background-image: url(../images/common/permissions.png);
}

.portlet-document-library .document-action-list .action-delete {
	background-image: url(../images/common/delete.png);
}

.document-library-dialog .online .aui-field-file,
.document-library-dialog .online .section-properties,
.document-library-dialog .properties .section-upload,
.document-library-dialog .upload .section-properties {
	display: none;
}

.document-library-dialog .aui-tagselector-content {
	margin-bottom: 50px;
}

.portlet-document-library .upload .edit-version {
	display: block;
}

.portlet-document-library .sidebar .file-entries li {
	height: 17px;
}

/* Message Boards */

.portlet-message-boards .category-current {
	font-weight: bold;
}

.portlet-message-boards .result-data .views {
	clear: none;
	color: #777;
	float: none;
	padding: 0;
}

.portlet-message-boards .displayStyle-question .stats {
	width: auto;
}

.portlet-message-boards .stats .votes,
.portlet-message-boards .stats .status {
	display: block;
	height: auto;
	padding: 0;
	margin: 0;
	width: auto;
}

.portlet-message-boards .stats .count {
	display: inline;
	font-size: 1em;
}

/* Microblogs */

.microblogs-portlet .taglib-header h1.header-title {
	margin-bottom: 0;
}

/* Navigation */

.portlet-navigation .nav-menu {
	background: #E8EFF4;
	border: 1px solid #C8C9CA;
	margin-bottom: 1em;
}

.portlet-navigation .portlet-body ul {
	margin: 0;
	padding: 0;
}

.portlet-navigation .portlet-body li {
	font-weight: bold;
	list-style: none;
	margin: 4px;
}

.portlet-navigation .portlet-body a {
	border: 1px solid #E8EFF4;
	display: block;
	padding: 3px 10px;
}

.portlet-navigation .portlet-body a:hover,
.portlet-navigation .portlet-body a.selected {
	background: #FFF;
	border: 1px solid #C8C9CA;
}

.portlet-navigation .control-container {
	margin-bottom: 10px;
}

.portlet-navigation .nav-menu li.add-page input {
	margin-left: 10px;
}

.portlet-navigation .portlet-body .nav-menu,
.portlet-navigation .portlet-body a:hover,
.portlet-navigation .portlet-body a.selected {
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
	border-radius: 4px;
}

/* Recent Documents */

.portlet-recent-documents td {
	font-size: 11px;
}

.portlet-recent-documents .portlet-content img {
	padding: 0 5px 8px 0;
}

/* RSS */

.portlet-rss .feed-entry-title {
	font-size: 11px;
}

.portlet-rss .feed-entry-content {
	font-size: 10px;
}

.portlet-rss .feed-date {
	font-size: 10px;
	font-weight: bold;
}

/* Search */

.portlet-search .entry-title {
	font-size: 1em;
}

/* SO: Sites */

.so-portlet-sites .site-list-container span {
	display: block;
}

.so-portlet-sites-dialog {
	.template-details {
		background: #F4F4F4;
		border: 1px solid #C0C2C5;
		padding: 1em;

		h3.name {
			margin: 0;
		}

		ul.pages {
			margin: 0;

			li {
				float: left;
				list-style: disc inside none;
				padding-right: 1em;
			}
		}
	}

	.site-customization {
		.set-label {
			font-weight: bold;
		}

		.tip {
			margin-bottom: 1em;
		}

		.page {
			display: block;
			float: left;
			width: 125px;
		}
	}

	.aui-button-holder {
		background: #EEE;
		border-top: 1px solid #BFBFBF;
		margin: 1em 0;
		padding: 0.5em;
	}
}

/* TMS: Tasks */

.tms-portlet-tasks .progress {
	background-color: #FFD8B2;
}

/* Today's Events */

.todays-events-portlet h2 {
	font-size: 13px;
}

.todays-events-portlet .event {
	font-size: 11px;
}

/* Wikis */

.portlet-wiki h1.header-title {
	border-bottom: none;
	font-size: 2.5em;
	line-height: 1em;
}

.portlet-wiki .portlet-body h2 {
	font-weight: bold;
}

.portlet-wiki .portlet-body h3 {
	border-bottom: none;
	font-size: 1.2em;
}

.portlet-wiki .portlet-body h4 {
	font-size: 1em;
}