@import "compass";

a:focus .opens-new-window-accessible {
	clip: none;
	position: fixed;
	text-indent: 0;
}

.ie6 img {
	position: static;
}

#banner .page-title, #navigation h1, #skip-to-content, #toggleFluid span, .opens-new-window-accessible {
	clip: rect(0 0 0 0);
	position: absolute;
	text-indent: -9999em;
}

#banner:after, #content:after, #footer, .contacts-portlet .members-container:after, .portlet-msg-info:after, .portlet-toolbar:after, .so-portlet-activities .activity-item:after, .taglib-header:after, .tasks-portlet:after {
	clear: both;
	content: "";
	display: block;
}

.lfr-has-sidebar #main-content {
	padding-left: 0;
}

#banner {
	position: relative;
	zoom: 1;

	.logo {
		display: block;
		zoom: 0;
	}

	.company-title, .community-title {
		float: left;
	}
}

#page-search {
	display: inline-block;
}

#navigation {
	ul, li {
		list-style: none;
		margin: 0;
		padding: 0;
	}
}

#content {
	padding-left: 200px;
	position: relative;
}

.so-user-detail {
	display: table-cell;
	line-height: 0;

	.profile-image, .profile-name {
		display: inline-block;
		vertical-align: middle;
	}

	.profile-image {
		height: 45px;
		margin-right: 2px;
		overflow: hidden;
		width: 45px;

		img {
			max-width: 45px;
			min-height: 45px;
		}
	}

	.profile-name {
		line-height: 1.25em;
		overflow: hidden;
		text-overflow: ellipsis;
	}
}

#so-sidebar {
	left: 0;
	position: absolute;
	top: 0;
	width: 200px;
	z-index: 3;

	.user-profile-detail .profile-image {
		line-height: 0;
		padding: 0 0 10px;

		img {
			max-width: 200px;
			min-width: 200px;
		}
	}
}

#footer p {
	padding-left: 210px;
}