/* Begin Classic Lite */
#wrapper , #banner , #banner .logo , #banner .logo a ,
#navigation , #navigation ul , #navigation ul li , #navigation li.selected ,
#navigation ul li a , #navigation ul li a:hover , #navigation ul li.selected a , #navigation ul li.selected a:hover ,
#navigation ul li a span , #navigation ul li a:hover span , #navigation ul li.selected a span , #navigation ul li.selected a:hover span , 
.js #add-page , .js #add-page a , .js #add-page a:hover , .js #add-page a span , .js #add-page a:hover span ,
.js #navigation .enter-page , .js #navigation .enter-page a , .js #navigation .enter-page a:hover ,
#content-wrapper , .portlet , .portlet-topper , .portlet-title , .portlet-content
{
	clear: none;
	float: none;
	margin: 0;
	padding: 0;
	width: auto;
	min-width: 0;
	height: auto;
	min-height: 0;
	background: transparent none no-repeat scroll 0 0;
	font: normal normal normal 100%/normal arial,'lucida console',sans-serif;
	color: inherit;
	direction: ltr;
	line-height: normal;
	letter-spacing: normal;
	text-align: left;
	text-decoration: normal;
	text-indent: 0;
	word-spacing: normal;
}
html { overflow-y : scroll ; }
#wrapper , #banner , #navigation , #content-wrapper , .portlet , .portlet-topper , .portlet-title , .portlet-content { display: block; }
#layout-grid .lfr-column { margin: 0; padding: 0; }
.portlet-icons { top: 0; right: 0; }
.tabs { border: 0; }
.portlet-section-header { background: transparent none no-repeat scroll 0 0; }
.js .interactive-mode .my-places .show-my-places li .my-places-toggle h3 { padding-right: 0; font-size: 8pt; }
ul.child-menu { display: none; }
.js .lfr-dock.interactive-mode h2 { font-size: 8pt; }
.js .lfr-dock.interactive-mode h2 span { font-size: 10pt; padding: 8px 16px 16px 16px; color: #222; }
/* Begin Classic Lite */

/* Body */
html {
}
body {
	background: #000 url('../images/custom/full-body.png') repeat-y center 0;
	color: #fff;
	font: 8pt "Arial Black",Arial,Helvetica,sans-serif;
}

/* Custom */
#wrapper { clear: both; margin: 0 auto; width: 1182px; }
#n-side {
	min-height: 768px;
	background: transparent url('../images/custom/full-head.png') no-repeat center top;
}
#l-side {
	width: 0898px; padding: 30px 20px 0 0; 
	min-height: 768px;
}
#r-side {
	float: right; width: 0264px;
}

/* Banner */
#banner {
	display: block;
	width: 286px;
	height: 372px;
}
#banner .logo {}
#banner .logo a {
 display : block ;
 color : #fff;
 font : 900 normal normal 52px/45px "Arial Black",Arial,Helvetica,sans-serif;
 letter-spacing : -6px;
 margin : 0pt 0pt 12px;
 padding : 80px 20px 0pt 0pt;
 text-transform : uppercase;
 text-align: center;
}
.js .lfr-dock.interactive-mode {
 top : 140px ;
 right : 30px ;
 color : #000 ;
}
.js .lfr-dock.interactive-mode a , .js .lfr-dock.interactive-mode a:hover {
 color : #000 ;
}
.js .lfr-dock.interactive-mode h2 , .js .lfr-dock.interactive-mode h2 span {
 background-image : url('../images/custom/menu_bar.png') ;
 font-weight : bold ;
}
.popup , .portal-add-content {
	background: #000;
}
.popup a , .popup a:link , .popup a:visited {
	text-decoration: none;
}

/* Navigation */
#navigation {}
#navigation ul
#navigation li , #navigation li.selected , .js #add-page {}
#navigation li.selected {}
#navigation ul li a , #navigation ul li a:hover , #navigation ul li.selected a , #navigation ul li.selected a:hover , .js #add-page a , .js #add-page a:hover {}
#navigation li a:hover {}
#navigation ul li a span , #navigation ul li a:hover span , #navigation ul li.selected a span , #navigation ul li.selected a:hover span , .js #add-page a span , .js #add-page a:hover span {}
#navigation li a:hover span {}

#navigation ul li , #navigation ul li.selected {
	display : block ;
	height : 31px ;
}
#navigation ul li a span , #navigation ul li a:hover span , #navigation ul li.selected a span , #navigation ul li.selected a:hover span , .js #add-page a span , .js #add-page a:hover span
{
	display: block;
	background: transparent url('../images/custom/star1.png') no-repeat scroll left center;
	font: 22px "Arial Black",Arial,Helvetica,sans-serif;
	text-transform: uppercase;
	padding: 0 0 0 30px;
}
#navigation ul li a:hover span , #navigation ul li.selected a:hover span  , .js #add-page a:hover span
{
	background: transparent url('../images/custom/star2.png') no-repeat scroll left center;
	color: #FFF000;
}
.js .delete-tab {
 left : 0 ;
}

/* Portlets */
table {
	clear: none;
}
#content-wrapper {
	width: 894px;
}
.portlet {
	margin: 0 0 60px;
	border: 0;
}
.portlet-topper {}
.portlet-title {
	border: 0 solid #fff000;
	border-top-width: 4px;
	border-bottom-width: 18px;
	font: 22px/28px "Arial Black",Arial,Helvetica,sans-serif;
	color: #fff;
	text-transform: uppercase;
	letter-spacing: -1px;
}
.portlet-icons {
	top: 3px;
}
.portlet-content {
	margin: 20px 0 0;
}
.portlet-title {}

/* Footer */
#footer {
	height: 288px;
	background: transparent url('../images/custom/full-base.png') no-repeat center bottom;
}

/* Tabs */
.tabs , .tabs li a , .tabs li span {
	color: #000;
}
.tabs li a:hover {
	text-decoration: underline;
}
.tabs li.current {
	top: 0;
}

/* Tables */
.taglib-search-iterator {
}
.portlet-section-body , .portlet-section-body td {
	color: #fff;
	background: #000;
	border-color: #000;
}
.portlet-section-body-hover , .portlet-section-body-hover td , .portlet-section-alternate-hover , .portlet-section-alternate-hover td {
	background: #222;
	border-color: #000;
}
.portlet-section-alternate , .portlet-section-alternate td {
	color: #fff;
	background: #111;
	border-color: #000;
}
.portlet-section-body a , .portlet-section-alternate a {
	color: #ff0;
}

/* Everyday */
a , a:link , a:visited , a:hover {
	color: #fff000;
	text-decoration: underline;
}
.portlet-msg-error {
	background: #000;
}