@import "bourbon";
@import "mixins";

$default-border-color: #E7E7E7;

.so-portlet-activities {
	display: block;
	width: 100%;

	.activity-item {
		border-bottom: 1px solid $default-border-color;
		min-height: 45px;
		padding: 1em;
		position: relative;

		.control-group {
			margin-bottom: 0;
			margin-left: 35px;
			padding: 0 5px;

			input {
				display: block;
				margin-bottom: 0;
				padding-left: 0;
				padding-right: 0;
				text-indent: 0.5em;
				width: 100%;
			}
		}
	}

	.user-portrait {
		float: left;
		left: 1em;
		margin-bottom: 0.4em;
		max-height: 45px;
		position: absolute;
		top: 1em;
		width: 45px;

		.avatar {
			display: block;
			max-height: 45px;
			overflow: hidden;

			img {
				max-width: 45px;
			}
		}
	}

	.activity-action, .activity-block, .activity-header {
		margin-left: 55px;
		word-wrap: break-word;
	}

	.activity-header {
		margin-bottom: 0.4em;

		a {
			font-weight: bold;
		}
	}

	.activity-user-name {
		float: left;
	}

	.activity-time {
		color: #999;
		float: right;
		font-size: 0.9em;
		line-height: 0.9em;
		margin-left: 1em;
	}

	.activity-action {
		clear: both;
		color: #333;
		margin-bottom: 0.8em;
	}

	.activity-block {
		overflow: hidden;
	}

	.activity-body, .grouped-activity-body-container {
		border: 1px solid $default-border-color;

		@include hyphenation;

		span {
			line-height: 1em;
			padding-right: 10px;
			vertical-align: middle;
		}

		.icon {
			height: 16px;
			width: 16px;
		}

		.title {
			border-right-width: 0;
			display: block;
			font-weight: bold;
			overflow: hidden;
			padding-bottom: 0.4em;

			.event-title {
				float: left;
				line-height: 1.5em;
			}

			.date {
				float: right;
				line-height: 1.5em;
				padding-right: 0;
			}
		}
	}

	.activity-body {
		padding: 0.6em 0.9em;

		&.document {
			min-height: 75px;
			padding: 0;
			position: relative;

			.document-thumbnail {
				left: 0;
				overflow: hidden;
				padding-right: 0;
				position: absolute;
				width: 75px;

				img {
					display: block;
					height: 75px;
					margin: auto;
					max-width: none;
				}
			}

			.document-container {
				margin: 0.6em 0.9em 0.6em 85px;
			}

			.title {
				float: left;
			}

			.version {
				color: #8F0920;
				float: right;
			}

			.document-content {
				clear: both;
			}
		}
	}

	.grouped-activity-body-container {
		max-height: 107px;
		overflow: hidden;

		.activity-subentry {
			border-bottom: 1px solid $default-border-color;
			height: 2.5em;
			overflow: hidden;
			padding: 0 0.9em;

			&:last-child {
				border-bottom-width: 0;
			}

			&.tasks {
				height: auto;
				padding: 0;

				.activity-body {
					border-width: 0;
					margin: 0;
				}
			}
		}

		.activity-subentry-body, .activity-subentry-title {
			display: inline;
			line-height: 2.5em;
			overflow: hidden;
		}
	}

	.microblogs-portlet-activity {
		.activity-body {
			overflow: hidden;
			padding: 0;

			.user-portrait {
				padding: 2px
			}

			.microblog-content {
				display: block;
				line-height: 1.5em;
				padding: 0.75em 0.75em 0.75em 45px;
			}
		}
	}

	.portlet-document-library-activity {
		.activity-subentry {
			padding-right: 8em;
			position: relative;
		}

		.activity-subentry-link {
			padding: 10px 0;
			position: absolute;
			right: 0;
			top: 0;
		}

		.icon-download:before {
			margin-right: 4px;
		}
	}

	.tasks-portlet-activity {
		.activity-body-container {
			&.high {
				border-left: 6px solid #B20000;
			}

			&.low {
				border-left: 6px solid $default-border-color;
			}

			&.normal {
				border-left: 6px solid #008C00;
			}

			.activity-body {
				border-left-width: 0;
				padding: 0.3em 0.9em;
			}
		}

		.grouped-activity-body-container {
			max-height: 149px;
		}
	}

	.activity-footer-toolbar {
		background: #EAEAEA;;
		padding: 0 1em;

		.action {
			border-left: 1px solid #2571AD;
			display: inline-block;
			height: 16px;
			line-height: 16px;
			margin: 0.5em 0;
			padding: 0 0.6em 0 0.8em;
			vertical-align: middle;

			&:first-child {
				border-left-width: 0;
				padding-left: 0;
			}
		}

		a {
			font-size: 0.9em;
		}
	}

	.comments-container, .microblogs-portlet-activity .activity-body {
		.user-portrait {
			height: 32px;
			left: 0;
			position: relative;
			top: 0;
			width: 32px;

			.avatar {
				height: 32px;
			}

			img {
				max-width: 32px;
			}
		}
	}

	.comments-container {
		.user-portrait {
			left: 2px;
			position: absolute;
			top: 2px;
		}

		.control-group {
			margin: 0 2px 0 34px;
			padding: 0;

			.comment-form {
				padding: 5px 0;
			}
		}
	}

	.comment-entry, .comments-container .form {
		background: #EAEAEA;
		border-top: 1px solid #FFF;
		margin-bottom: 0;
		overflow: hidden;
		padding: 2px;
		position: relative;
	}

	.comment-entry {
		.comment-body, .comment-info {
			line-height: 1.3em;
			margin-left: 36px;

			span {
				margin-right: 0.5em;
			}
		}

		.user-name {
			font-weight: bold;
		}

		.post-date {
			color: #999;
		}

		.comment-info {
			margin-top: 2px;
		}
	}

	.comment-form {
		.field-content {
			overflow: hidden;
		}

		.field-element {
			border: 1px solid #C7D0DA;
			border-radius: 5px;
			box-shadow: 0 1px 3px #C9C9C9 inset;
			display: block;
			margin: 2px;

			&:hover {
				border-color: #2571AD;
			}

			&:focus {
				outline-color: #E59700;
			}
		}

		.field-input-text {
			border-width: 0;
			box-shadow: none;
			padding: 5px 0;
			text-indent: 5px;
			width: 100%;
		}
	}

	.toggler-content-collapsed .activity-footer-toolbar {
		border-top: 1px solid #EFEFEF;
		box-shadow: 0 -1px 15px -5px rgba(0, 0, 0, 0.8);
		margin-top: -2px;
	}

	.loading-bar {
		background: transparent url(@theme_image_path@/aui/loading_indicator.gif) 45% center no-repeat;
		display: block;
		font-style: italic;
		height: 100px;
		margin-left: 25px;
		width: 100%;
	}

	.loading-bar.loaded {
		display: none;
	}

	.manual-loader, .no-activities {
		padding: 10px;
		text-align: center;
	}
}

/* ---------- Responsive ---------- */

@include respond-to(phone) {
	.so-portlet-activities {
		.user-portrait {
			left: 0;
			position: relative;
			top: 0;
		}

		.activity-user-name {
			float: none;
		}

		.activity-time {
			float: none;
			margin: 0.4em 0 0;
		}

		.activity-block, .activity-action {
			float: left;
			margin-left: 0;
			width: 100%;
		}

		.activity-action {
			margin-bottom: 0.4em;
		}
	}
}