.so-portlet-activities {
	.activity-item {
		min-height: 45px;
	}

	.user-portrait {
		float: left;
		height: 45px;
		position: relative;
		width: 45px;

		.avatar {
			display: block;
			height: 45px;
			overflow: hidden;

			img {
				max-width: 45px;
			}
		}

		.icon {
			bottom: 0;
			position: absolute;
			right: 0;
		}
	}

	.activity-data {
		margin-left: 55px;
	}

	.activity-body a {
		border-right: 1px solid #C7D0DA;
		padding-right: 5px;

		&:last-child {
			border-right-width: 0;
			padding-right: 0;
		}
	}
}