html {
	overflow-y: scroll;
}


/* Reset */

#wrapper, #banner, #banner .logo, #banner .logo a,#navigation, #navigation ul, #navigation ul li, #navigation li.selected,#navigation ul li a, #navigation li a span, #navigation ul li.selected a, #navigation ul li.selected a span,#navigation ul li a:hover, #navigation li a:hover span, #navigation ul li.selected a:hover, #navigation ul li.selected a:hover span,.js #add-page, .js #add-page a, .js #add-page a span, .js #add-page a:hover, .js #add-page a:hover span,.js #navigation .enter-page, .js #navigation .enter-page a, .js #navigation .enter-page a:hover,#content-wrapper, .portlet, .portlet-topper, .portlet-title, .portlet-content {
	background: transparent none no-repeat scroll 0 0%;
	display: inline;
	float: none;
	font-size: 100%;
	font-size-adjust: none;
	font-stretch: normal;
	font-style: normal;
	font-variant: normal;
	font-weight: normal;
	height: auto;
	line-height: normal;
	margin: 0;
	min-height: 0;
	min-width: 0;
	padding: 0;
	padding-left: 0;
	text-decoration: none;
	text-indent: 0;
	width: auto;
}


/* Reset 2 */

#banner, #navigation, #navigation ul, .portlet {
	background-color: transparent;
}

#layout-grid .lfr-column {
	margin: 0;
	padding: 0;
}

.portlet-icons {
	right: 0;
	top: 0;
}

.tabs {
	border: 0;
}

#wrapper, #banner, #navigation, #content-wrapper,.portlet, .portlet-topper, .portlet-title, .portlet-content {
	display: block;
}


/* CSS */

#add-page {
	position: absolute;
	right: 60px;
	top: 42px;
}

#banner .logo a {
	color: #FFF;
	display: block;
	font-size: 2em;
	font-style: italic;
	font-weight: bold;
	padding-left: 50px;
	padding-top: 50px;
}

#banner .logo {
	background: transparent url('../images/common/page_bg.jpg') no-repeat 100% 0;
	display: block;
	height: 100%;
	width: 100%;
}

#banner h1.logo {
	left: auto;
	position: relative;
}

#banner {
	background-image: url('../images/common/banner_bg.png');
	background-repeat: repeat-x;
	height: 155px;
}

body {
	background: transparent url('../images/shadow/shadow_left.png') no-repeat;
	font-family: 'Arial', 'Helvetica', sans-serif;
	font-size: 62.5%;
}

#column-1 .portlet {
}

#column-2 .portlet {
}

#content-wrapper, #portlet-wrapper- {
	background: transparent url('../images/common/wrapper_bg.png') repeat-x;
	height: 417px;
	margin-right: 221px;
	padding-left: 30px;
	padding-right: 50px;
	padding-top: 50px;
}

.js #add-page a span {
	color: #FFF;
}

.js .lfr-dock.interactive-mode h2, .js .lfr-dock.interactive-mode h2 span {
	background-image: url('../images/dock/menu_bar.png');
}

.js .lfr-dock.interactive-mode {
	right: 230px;
	top:38px;
}

.liferay-table {
	font: 10px/10px Arial;
}

#navigation ul li a span, #navigation ul li.selected a span,#navigation ul li a:hover span, #navigation ul li.selected a:hover span {
	color: #FFF;
	float: left;
	font-weight: bold;
	height: 59px;
	padding: 21px 20px 0 20px;
	text-decoration: none;
}

#navigation ul li a:hover span, #navigation ul li.selected a:hover span {
	background: transparent url('../images/navigation/hover.png') repeat-x;
}

#navigation ul li, #navigation ul li.selected {
	display: block;
	float: left;
	height: 59px;
}

#navigation ul {
	background: transparent url('../images/common/page_bg.jpg') no-repeat 100% -155px;
	display: block;
	float: left;
	font-family: 'arial', 'helvetica', sans-serif;
	margin: 0;
	width: 100%;
}

.ie #navigation ul {
	background: transparent url('../images/common/page_bg.jpg') no-repeat 100% right;
}

#navigation {
	background-image: url('../images/navigation/bg.png');
	background-repeat: repeat-x;
	border: 0;
	height: 59px;
	position: relative;
}

#navigation li {
	border: none;
}

.js #add-page {
	border: none;
	right:18%;
	top:20px;
}

.portlet-title {
	color: #666;
	font-size: 1.3em;
	font-style: italic;
	font-weight: bold;
	margin-bottom: 20px;
}

.portlet {
	border: 0;
	margin: 0 20px 20px 20px;
}

.ui-tabs li {
	font: 10px/2.25em Arial;
}

.ui-tabs li.current {
	top: 0;
}

#wrapper {
	background: url('../images/common/page_bg.jpg') no-repeat top right;
	font-size: 1.2em;
	margin-left: 20px;
}

.ie #banner .logo {
	margin-top: 0px;
}