/* -------- Global -------- */

#skip-to-content,
#heading .community-title,
#heading .page-title,
#navigation h1 {
	clip: rect(0 0 0 0);
	position: absolute;
}

body {
	background: #ACAFB4;
	font: 11px Arial, Verdana, sans-serif;
}

/* -------- Wrapper / Skip / Sign-in -------- */

#wrapper {
	position: relative;
}

#skip-to-content,
#sign-in {
	color: #FFF;
	top: 1.5em;
}

#skip-to-content {
	left: 2em;
}

#skip-to-content:active,
#skip-to-content:focus {
	clip: auto;
}

#sign-in {
	position: absolute;
	right: 2em;
}

/* -------- Banner / Heading -------- */

#heading {
	background: url(../images/custom/header-bg-2.jpg) 0 100% repeat-x;
	height: 98px;
	padding: 20px 0 0;
}

#heading .company-title {
	margin: 0;
}

#heading .company-title a {
	margin: 0 auto;
}

/* -------- Navigation -------- */

#navigation {
	background: url(../images/custom/nav-bg-2.png) 0 0 repeat-x;
	text-align: center;
}

#navigation-light {
	background: url(../images/custom/nav-hover-2.png) 0 0 repeat-x;
	height: 13px;
	opacity: 0;
	text-align: center;
}

#navigation ul {
	display: inline-block;
	font-size: 0px;
	list-style: none;
	margin: 0;
}

.ie6 #navigation ul,
.ie7 #navigation ul {
	zoom: 1;
}

#navigation ul:after {
	clear: both;
	content: ".";
	display: block;
	height: 0;
	line-height: 0;
	visibility: hidden;
}

#navigation li,
#navigation a {
	display: inline-block;
}

#navigation li {
	font-size: 12px;
}

#navigation a {
	color: #CCC;
	padding: 14px 20px 12px;
	position: relative;
	text-decoration: none;
}

#navigation a:active,
#navigation a:focus,
#navigation a:hover {
	background: url(../images/custom/nav-hover-bg.png) 0 1px repeat-x;
	color: #B3D8FA;
}

#navigation .selected {
	background: url(../images/custom/nav-selected.png) 0 1px repeat-x;
}

#navigation .selected a,
#navigation .selected a:visited {
	color: #FFF;
}

#navigation .selected a:hover {
	background: none;
}

.modify-pages .delete-tab {
	margin: -6px 0 0;
}

/* -------- Content -------- */

#content {
	padding: 0 30px 30px;
}

#breadcrumbs {
	display: none;
}

.portlet {
	background: url(../images/custom/portlet-tab.png) 0 0 no-repeat;
	padding: 0 17px 20px;
}

.portlet .portlet-topper {
	background: url(../images/custom/portlet-topper-bg.png) 0 0 repeat-x;
	-moz-border-radius-topright: 7px;
	-webkit-border-top-right-radius: 7px;
	height: 25px;
}

.portlet-title {
	color: #FFF;
	padding: 5px 0;
}

.portlet-title span{
	font-size: 10px;
}

.portlet-title img {
	display: none;
}

.portlet-topper-toolbar a,
.portlet-topper-toolbar a:visited {
	color: #FFF;
	text-decoration: none;
}

.portlet-topper-toolbar a:hover {
	text-decoration: underline;
}

.portlet .portlet-content {
	background: #DDDFE3 url(../images/custom/portlet-content-bg.png) 0 0 repeat-x;
	border: 1px solid #DDDFE3;
	-moz-border-radius-bottomright: 5px;
	-moz-border-radius-bottomleft: 5px;
	-webkit-border-bottom-right-radius: 5px;
	-webkit-border-bottom-left-radius: 5px;
}

.portlet .portlet-content a,
.portlet .portlet-content a:visited {
	color: #333;
	text-decoration: none;
}

.portlet .portlet-content a:hover {
	color: #22242C;
	text-decoration: underline;
}

.portlet li.aui-selected span.aui-tab-content span a,
.portlet li.aui-selected span.aui-tab-content span a:visited,
.portlet li.aui-selected span.aui-tab-content span a:hover {
	color: #EEE;
	text-shadow: none;
}

/* -------- Footer -------- */

#footer {
	background: #ACAFB4 url(../images/custom/footer-bg.jpg) 0 bottom repeat-x;
	height: 70px;
	position: absolute; 
	width: 100%;
}

#footer p,
#footer a,
#footer a:visited {
	color: #FFF;
	text-decoration: none;
}

#footer p {
	margin: 45px 0 0 50px;
}

#footer a:hover {
	text-decoration: underline;
}