/* This file allows you to override default styles in one central location for easier upgrade and maintenance. */

/* ---------- Base ---------- */

body {
	background: #000;
	font-family: Lucida Grande, Tahoma, Lucida Sans, Trebuchet MS, sans-serif;
	font-size: 11px;
}

/* ---------- Wrapper ---------- */

#wrapper {
	margin: 0 auto;
	padding-top: 30px;
	width: 960px;
}

/* ---------- Banner ---------- */

#banner {
	background: url(../images/custom/banner_bg.png);
	border-bottom: 2px solid #34466C;
	border-top: 2px solid #34466C;
	position: relative;
}

/* ---------- Logo ---------- */

#banner .logo {
	margin: 14px 0;
}

#banner .logo a {
	margin: 0 auto;
}

/* ---------- Dock ---------- */

.js .interactive-mode {
	background: none;
	font-size: 10px;
	min-width: 120px;
	right: 0;
	top: -32px;
}

.js .interactive-mode h2 {
	background: url(../images/custom/dock_bg.png) no-repeat 100% 50%;
	min-width: 120px;
	padding: 0 15px 0 0;
	text-align: right;
}

.js .interactive-mode h2 span {
	background: none;
	border-right: none;
	color: #5FA7EF;
	font-weight: normal;
	min-width: 120px;
	padding: 10px 6px 4px;
}

.js .interactive-mode ul {
	background: #060C19;
	border-color: #34466C;
	border-style: solid;
	border-width: 2px 1px;
}

.js .interactive-mode ul li {
	border: none;
}

/* ---------- Navigation ---------- */

#navigation {
	line-height: 30px;
	position: relative;
}

#navigation a {
	margin: 0 18px;
}

.ie6 #navigation ul {
	padding-top: 0;
}

#navigation ul li a {
	color: #5FA7EF;
	font-weight: bold;
	padding: 0;
	text-decoration: none;
}

#navigation ul li.selected a {
	color: #FFF;
}

#navigation ul li a:hover {
	color: #AFD3F7;
}

#add-page {
	position: absolute;
	right: 6px;
	top: 7px;
}

#add-page a {
	background: url(../images/portlet/maximize.png) no-repeat;
	display: block;
	height: 16px;
	margin: 0;
	padding: 0;
	width: 16px;
}

#add-page a span {
	font-size: 0;
	line-height: 0;
	text-indent: -999em;
}

.enter-page .cancel-page {
	display: none;
}

.enter-page input {
	padding: 0;
}

.ie6 .enter-page {
	padding: 4px 0;
}

/* ---------- Content Wrapper ---------- */

#content-wrapper {
	color: #3E638A;
	padding-top: 1px;
	z-index: 1;
}

#content-wrapper a {
	color: #CCD;
	text-decoration: none;
}

#content-wrapper a:hover {
	color: #5FA7EF;
}

.lfr-grid .lfr-column {
	padding: 0 5px;
}

/* ---------- Portlet ---------- */

.portlet {
	margin-bottom: 20px;
}

.portlet-icons {
	right: 5px;
	top: 2px;
}

.portlet-title {
	background: url(../images/custom/portlet_topper_bg.png) repeat-x 0 100%;
	border-top: 1px solid #34466C;
	color: #5FA7EF;
	font-weight: normal;
	line-height: 22px;
	padding: 0 5px;
}

.ie6 .portlet-title {
	zoom: 1;
}

.portlet-title img {
	display: none;
}

.ie6 .lfr-actions {
	border: none;
}

/* ---------- Tabs ---------- */

.exp-tabs {
	border: none;
}

.exp-tabs li {
	margin-right: 5px;
}

.exp-tabs li a {
	background: #060C19;
	border: none;
	padding: 5px 10px;
	top: 0;
}

.ie6 .exp-tabs li a {
	border: none;
}

#wrapper .exp-tabs li a:hover {
	background: #0D1932;
	color: #FFF;
}

#wrapper .exp-tabs li.exp-selected a,
.exp-tabs li.exp-selected span {
	background: #0D1932;
	border: none;
	font-weight: normal;
	padding: 5px 10px;
}

.ie6 .exp-tabs li.exp-selected,
.ie6 .exp-tabs li.exp-selected a {
	height: 13px;
}

.exp-tabs li.exp-selected:hover,
.exp-tabs li.exp-selected a:hover {
	background: #0D1932;
}

.exp-tabs li.exp-selected a:hover {
	padding: 5px 10px;
}

/* ---------- Footer ---------- */

#footer {
	background: url(../images/custom/footer_bg.png) repeat-x 0 100%;
	border-top: 1px solid #34466C;
	height: 60px;
	margin: 20px 0;
}

/* ---------- Forms ---------- */

input {
	background: none;
	padding: 0;
}

input[type="submit"],
input[type="button"],
input[type="reset"],
button {
	background: #0C0E1B;
	border: 1px solid #305298;
	color: #FFF;
	font-size: 10px;
	font-weight: normal;
	padding: 2px;
}

input[type="submit"]:hover,
input[type="button"]:hover,
input[type="reset"]:hover,
button:hover,
input[type="submit"]:focus,
input[type="button"]:focus,
input[type="reset"]:focus,
button:focus {
	background: #0D1932;
	border: 1px solid #305298;
	color: #FFF;
}

select,
textarea,
.textarea,
input[type="file"],
input[type="password"],
input[type="text"] {
	background: #060B18;
	border: 1px solid #132656;
	color: #FFF;
	font-size: 10px;
	padding: 2px;
}

input.focus,
textarea.focus,
.ie6 input.focus,
.ie6 textarea.focus {
	background: #060B28;
	border: 1px solid #132656;
	color: #FFF;
	font-size: 10px;
	padding: 2px;
}

/* ---------- Calendar ---------- */

.calendar-header {
	color: #5FA7EF;
}

.portlet-calendar .calendar-day .day-text {
	color: #5FA7EF;
}

.portlet-calendar .calendar-container {
	width: 200px;
}

.portlet-calendar .calendar-day {
	display: none;
}

.portlet-calendar .day-grid .event-box,
.lfr-actions,
.lfr-actions ul {
	background: #0D1932;
	border: 1px solid #305298;
	color: #FFF;
}

.portlet-calendar .day-grid .hour.all-day {
	background: #060C29;
}

.portlet-calendar .day-grid,
.portlet-calendar .day-grid .half-hour,
.portlet-calendar .day-grid .hour {
	background: #06080C;
	border-color: #060C29;
}

.taglib-calendar .calendar-current-day,
.taglib-calendar .calendar-current-day a {
	background: #0D1932;
	border: none;
}

.ie6 .portlet-calendar .taglib-calendar td.calendar-current-day a span {
	background: none;
}

.taglib-calendar tr td.calendar-inactive {
	color: #333;
}

#wrapper .taglib-calendar tr td a:hover {
	background: #0D1932;
	color: #FFF;
}

.taglib-calendar table,
.taglib-calendar tr th,
.portlet-calendar .calendar-day .day-number,
.taglib-calendar tr td.calendar-inactive,
.taglib-calendar tr td a,
.portlet-calendar .calendar-container .taglib-calendar,
.portlet-calendar .calendar-day .day-text,
.portlet-calendar .calendar-container {
	background: none;
	border: none;
}

#wrapper .results-header {
	background: url(../images/custom/portlet_topper_bg.png) repeat-x 0 100%;
}

.results-grid,
.portlet-calendar .calendar td {
	border-color: #060C19;
}

.results-header th,
.results-header td {
	color: #3E638A;
}

/* ---------- More ---------- */

.portlet-msg-info {
	background-color: #000;
}

.portlet-login .navigation {
	background: #000;
	border-color: #060C19;
}

.portlet-communities .theme-entry .theme-title,
.portlet-enterprise-admin .theme-entry .theme-title,
.portlet-communities .theme-entry:hover .theme-title,
.portlet-enterprise-admin .theme-entry:hover .theme-title,
.portlet-communities .lfr-current-theme .theme-title,
.portlet-enterprise-admin .lfr-current-theme .theme-title,
.portlet-communities .theme-entry,
.portlet-communities .lfr-current-theme .theme-screenshot,
.portlet-enterprise-admin .theme-entry,
.portlet-enterprise-admin .lfr-current-theme .theme-screenshot,
.portlet-communities .lfr-current-theme,
.portlet-enterprise-admin .lfr-current-theme {
	background: none;
	border-color: #34466C;
}

.portlet-communities .lfr-theme-list h3,
.portlet-enterprise-admin .lfr-theme-list h3 {
	background: none;
	border: none;
}

.portlet img {
	position: static;
}

.ui-autocomplete-even,
.results-row td {
	background: #030406;
}

.ui-autocomplete-odd,
.results-row.alt td {
	background: #06080C;
}

.results-row.hover td {
	background: #06081C;
}

.ui-tags .ui-tag {
	background: #0D1932;
	border: none;
}

.portlet-blogs .entry-date {
	background: none;
	padding-left: 0;
}

.drop-area {
	background: #0C0E1B;
}

.active-area {
	background: #0D1932;
}

.lfr-grid.dragging .lfr-column {
	border: 1px solid #305298;
}