/axis.jar
/commons-beanutils.jar
/commons-discovery.jar
/commons-logging.jar
/jabsorb.jar
/jaxrpc.jar
/jstl-api.jar
/jstl-impl.jar
/log4j.jar
/saaj-api.jar
/saaj-impl.jar
/slf4j-api.jar
/util-bridges.jar
/util-java.jar
/util-slf4j.jar
/util-taglib.jar
/wsdl4j.jar
/xmlsec.jar