@import "compass";
@import "color_schemes/normal/strata_skin";

/* ---------- Documents and Images Library ---------- */

.portlet-document-library, .portlet-document-library-display {
	.lfr-header-row {
		min-height: 30px;
	}

	.lfr-header-row-content {
		padding: 3px 4px;
	}

	.aui-column-content-first {
		position: relative;
	}

	.aui-column-last {
		overflow: visible;
	}

	.lfr-panel-container {
		background: transparent;
	}

	.view {
		.aui-column-content-last {
			margin-left: -1px;
		}

		.document-thumbnail img {
			max-height: 80px;
			max-width: 80px;
		}

		.document-header {
			margin-left: 90px;
		}

		.document-title {
			display: block;
			font-size: 1.4em;
			font-weight: bold;
			word-wrap: break-word;
		}

		.header-back-to a {
			line-height: 1em;
			padding: 0 0 5px 10px;
		}

		.taglib-search-iterator-page-iterator-top, .taglib-search-iterator-page-iterator-bottom {
			border-top: 1px solid $defaultBorderColor;
		}

		.taglib-discussion .aui-column-content {
			border-width: 0;
		}
	}

	.lfr-preview-file {
		border-bottom: 1px solid $defaultBorderColor;
	}

	.lfr-document-library-versions {
		.lfr-panel.lfr-extended {
			border-width: 0;
		}

		.lfr-panel-title {
			margin-left: 5px;
		}

		.version {
			border-top: 1px solid $defaultBorderColor;
			margin-bottom: 5px;
			padding: 0 12px;
			position: relative;

			span {
				display: inline-block;
			}

			.modified-date, .size, .user-name, .version-number {
				padding: 8px 0 5px;
			}

			.version-number {
				color: #8F0920;
				font-size: 14px;
				font-weight: bold;
			}

			.user-name, .version-number {
				padding-right: 14px;
			}

			.user-name {
				margin-right: 18em;
			}

			.changelog, .user-name {
				color: #222;
			}

			.changelog {
				clear: both;
				padding: 5px 12px;
			}

			.extra {
				position: absolute;
				right: 15px;
				top: 0;
			}

			.modified-date, .size {
				padding-left: 14px;
			}

			.actions {
				@include header;

				margin: 0.75em 1.5em;
				padding: 0.375em;

				&, a {
					@include border-radius(4px);
				}

				a {
					@include button-default;

					display: inline-block;

					img {
						margin: 0 0 3px -3px;
					}

					&:hover {
						@include button-hover;
					}

					&:active {
						@include button-active;
					}

					.taglib-text {
						text-decoration: none;
					}
				}
			}
		}

		.lfr-document-library-comments, .lfr-document-library-general-comments {
			.lfr-panel-button {
				background: url(../images/portlet/minimize.png) no-repeat 0 0;
				height: 16px;
			}

			&.lfr-collapsed .lfr-panel-button {
				background: url(../images/portlet/maximize.png) no-repeat 0 0;
			}

			.lfr-panel-content {
				margin-bottom: -1px;
				padding: 0 25px;
			}

			.portlet-msg-success.lfr-message-response {
				display: none;
			}

			.taglib-discussion {
				float: none;
				overflow: hidden;
				width: auto;

				.lfr-discussion {
					margin: 0;
					padding: 20px 0 10px 75px;
				}

				.lfr-discussion-details {
					margin-left: -75px;
					width: 75px;
				}

				.taglib-user-display {
					position: relative;

					.user-profile-image {
						height: 65px;
						overflow: hidden;

						img {
							width: 65px;
						}
					}

					.user-name {
						left: 75px;
						padding-left: .5em;
						position: absolute;
						text-decoration: none;
						top: 0;
						white-space: nowrap;
					}
				}

				.lfr-discussion-message {
					padding-bottom: 8px;
				}

				.lfr-discussion-posted-on {
					position: absolute;
					right: 0;
					top: 0;
				}

				.lfr-discussion-form-container .lfr-discussion-form.lfr-discussion-form-reply {
					background: #EEE;
					border-top: 1px solid #DDD;
					display: block;
					margin: 0 0 -10px -75px;
					padding: 15px 10px 10px 81px;

					.user-profile-image {
						margin: -5px 0 0 -80px;
					}

					.user-name {
						left: -0.5em;
					}
				}

				.lfr-discussion-form-edit {
					display: block;
				}
			}

			.add-comment {
				margin-bottom: 0;
			}

			.lfr-discussion.first {
				border-top: 1px solid #DDD;
			}

			.lfr-discussion-body {
				padding: 15px 0 10px;
				width: auto;
			}

			.lfr-discussion-actions {
				position: absolute;
				right: 0;

				li {
					display: inline;
				}
			}

			.aui-field-input-text {
				width: 100% !important;
			}

			ul li a .icon {
				margin: 0 0 0 5px;
			}
		}

		.lfr-document-library-comments {
			padding: 0 5px;

			.lfr-panel-titlebar {
				margin: 1em 2em 0;

				.lfr-panel-title {
					font-size: 1em;
				}
			}

			.lfr-panel-button {
				margin: 1px 0;
			}

			&.lfr-collapsed {
				padding-bottom: 5px;

				.lfr-panel-titlebar {
					border-bottom-width: 1px;
				}
			}
		}

		.lfr-document-library-general-comments {
			&.lfr-panel.lfr-extended, .lfr-panel-titlebar {
				margin-bottom: 0;
			}

			.lfr-panel-titlebar {
				border-top: 1px solid $defaultBorderColor;
			}

			.lfr-panel-button {
				margin: 3px 5px;
			}

			.lfr-panel-content {
				padding: 0;

				.taglib-discussion{
					border-top: 1px solid $defaultBorderColor;
					padding: 0 30px;
				}

				.lfr-discussion.first {
					border-top-width: 0;
				}
			}
		}
	}

	.editting-dialog-content {
		.header-back-to {
			display: none;
		}

		.header-title {
			font-size: 18px;
			line-height: 18px;
			word-break: break-all;
		}
	}
}

.portlet-document-library .aui-column-content-first {
	border-right: 1px solid $defaultBorderColor;
}

/* ---------- License Dialog ---------- */

.license-warning-message {
	margin-top: 5px;
	position: absolute;
	width: 100%;
	z-index: 1;
}

#licenseExpiredContent {
	.header {
		img, span {
			display: inline-block;
			vertical-align: middle;
		}

		.company-title {
			border-left: 1px solid $defaultBorderColor;
			color: $red;
			font-size: 2em;
			margin-left: 5px;
			padding: 11px 7px;
		}
	}

	.license-expired-message {
		padding: 1em 0 0;
	}

	p {
		margin: 0 0 1em;
	}

	.license-expired-details {
		width: 100%;
	}
}

/* ---------- Extras ---------- */

.portlet-document-library, .portlet-document-library-display {
	.lfr-discussion-form-container .lfr-discussion-form.lfr-discussion-form-reply {
		@include border-radius(0);
	}
}