/* This file allows you to override default styles in one central location for easier upgrade and maintenance. */


/* ---------- Base ---------- */


/* ---------- Wrapper ---------- */


/* ---------- Banner ---------- */


/* ---------- Logo ---------- */


/* ---------- Dock ---------- */


/* ---------- Navigation ---------- */

.gray #navigation {
	background: #FFF url(../../images/color_schemes/gray/navigation_bg.png) no-repeat;
	font-size: 12px;
	height: 47px;
	padding: 35px 0 12px 110px;
	width: 890px;
}

.gray #navigation li.selected a span{
	background: url(../../images/color_schemes/gray/navigation_item_selected.png) no-repeat 100% 0;
}

.gray #navigation li.selected a {
	background: url(../../images/color_schemes/gray/navigation_item_selected.png) no-repeat 0 100%;
}

/* ---------- Content Wrapper ---------- */


/* ---------- Portlet ---------- */

.gray .portlet-topper {
	background: url(../../images/color_schemes/gray/portlet_topper_bg.png) no-repeat 0 -24px;
}

.gray .portlet-title {
	background: url(../../images/color_schemes/gray/portlet_topper_bg.png) no-repeat 100% 0;
}

.gray .results-header,
.gray .results-header th,
.gray .results-header td,
.gray .portlet-calendar .calendar-day .day-text {
	background: url(../../images/color_schemes/gray/tabs.png) no-repeat 50% 0;
}

/* ---------- Tabs ---------- */

.gray .portlet .ui-tabs li a,
.gray .portlet .tabs li span {
	background: url(../../images/color_schemes/gray/tabs.png) repeat-x 50% 0;
}

.gray .ui-tabs li a:hover,
.gray .ui-tabs li span:hover {
	background: url(../../images/color_schemes/gray/tabs.png) repeat-x 50% 0;
}

.gray .portlet .ui-tabs li.first a {
	background: url(../../images/color_schemes/gray/tabs.png);
}

.gray .portlet .ui-tabs li.last a {
	background: url(../../images/color_schemes/gray/tabs.png) 100% 0;
}


/* ---------- Footer ---------- */