/* This file allows you to override default styles in one central location for easier upgrade and maintenance. */


/* ---------- Base ---------- */


/* ---------- Wrapper ---------- */


/* ---------- Banner ---------- */


/* ---------- Logo ---------- */


/* ---------- Dock ---------- */


/* ---------- Navigation ---------- */

.green #navigation {
	background: #FFF url(../../images/color_schemes/green/navigation_bg.png) no-repeat;
	font-size: 12px;
	height: 47px;
	padding: 35px 0 12px 110px;
	width: 890px;
}

.green #navigation li.selected a span{
	background: url(../../images/color_schemes/green/navigation_item_selected.png) no-repeat 100% 0;
}

.green #navigation li.selected a {
	background: url(../../images/color_schemes/green/navigation_item_selected.png) no-repeat 0 100%;
}

.green #navigation li a,
.green #add-page a {
	color: #FFF;
}

.green #navigation li a:hover,
.green #add-page a:hover {
	color: #000;
}

/* ---------- Content Wrapper ---------- */


/* ---------- Portlet ---------- */

.green .portlet-topper {
	background: url(../../images/color_schemes/green/portlet_topper_bg.png) no-repeat 0 -24px;
}

.green .portlet-title {
	background: url(../../images/color_schemes/green/portlet_topper_bg.png) no-repeat 100% 0;
}

.green .results-header,
.green .results-header th,
.green .results-header td,
.green .portlet-calendar .calendar-day .day-text {
	background: url(../../images/color_schemes/green/tabs.png) no-repeat 50% 0;
}

/* ---------- Tabs ---------- */

.green .portlet .ui-tabs li a,
.green .portlet .tabs li span {
	background: url(../../images/color_schemes/green/tabs.png) repeat-x 50% 0;
}

.green .ui-tabs li a:hover,
.green .ui-tabs li span:hover {
	background: url(../../images/color_schemes/green/tabs.png) repeat-x 50% 0;
	color: #FFF;
}

.green .portlet .ui-tabs li.first a {
	background: url(../../images/color_schemes/green/tabs.png);
}

.green .portlet .ui-tabs li.last a {
	background: url(../../images/color_schemes/green/tabs.png) 100% 0;
}

/* ---------- Footer ---------- */