/* This file allows you to override default styles in one central location for easier upgrade and maintenance. */

/* ---------- Navigation ---------- */

.orange #navigation {
	background: #FFF url(../../images/color_schemes/orange/navigation_bg.png) no-repeat;
	font-size: 12px;
	height: 47px;
	padding: 35px 0 12px 110px;
	width: 890px;
}

.orange #navigation li a,
.orange #add-page a {
	color: #444;
}

.orange #navigation li.selected a span {
	background: url(../../images/color_schemes/orange/navigation_item_selected.png) no-repeat 100% 0;
}

.orange #navigation li.selected a {
	background: url(../../images/color_schemes/orange/navigation_item_selected.png) no-repeat 0 100%;
}

/* ---------- Portlet ---------- */

.orange .portlet-topper {
	background: url(../../images/color_schemes/orange/portlet_topper_bg.png) no-repeat 0 -24px;
}

.orange .portlet-title {
	background: url(../../images/color_schemes/orange/portlet_topper_bg.png) no-repeat 100% 0;
}

.orange .results-header,
.orange .results-header th,
.orange .results-header td,
.orange .portlet-calendar .calendar-day .day-text {
	background: url(../../images/color_schemes/orange/tabs.png) no-repeat 50% 0;
}

/* ---------- Tabs ---------- */

.orange .portlet .ui-tabs li a,
.orange .portlet .tabs li span {
	background: url(../../images/color_schemes/orange/tabs.png) repeat-x 50% 0;
}

.orange .ui-tabs li a:hover,
.orange .ui-tabs li span:hover {
	background: url(../../images/color_schemes/orange/tabs.png) repeat-x 50% 0;
	color: #FFF;
}

.orange .portlet .ui-tabs li.first a {
	background: url(../../images/color_schemes/orange/tabs.png);
}

.orange .portlet .ui-tabs li.last a {
	background: url(../../images/color_schemes/orange/tabs.png) 100% 0;
}