/* This file allows you to override default styles in one central location for easier upgrade and maintenance. */

/* ---------- Navigation ---------- */

.pink #navigation {
	background: #FFF url(../../images/color_schemes/pink/navigation_bg.png) no-repeat;
	font-size: 12px;
	height: 47px;
	padding: 35px 0 12px 110px;
	width: 890px;
}

.pink #navigation li.selected a span {
	background: url(../../images/color_schemes/pink/navigation_item_selected.png) no-repeat 100% 0;
}

.pink #navigation li.selected a {
	background: url(../../images/color_schemes/pink/navigation_item_selected.png) no-repeat 0 100%;
}

.pink #navigation li a,
.pink #add-page a {
	color: #FFF;
}

.pink #navigation li a:hover,
.pink #add-page a:hover {
	color: #000;
}

/* ---------- Portlet ---------- */

.pink .portlet-topper {
	background: url(../../images/color_schemes/pink/portlet_topper_bg.png) no-repeat 0 -24px;
}

.pink .portlet-title {
	background: url(../../images/color_schemes/pink/portlet_topper_bg.png) no-repeat 100% 0;
}

.pink .results-header,
.pink .results-header th,
.pink .results-header td,
.pink .portlet-calendar .calendar-day .day-text {
	background: url(../../images/color_schemes/pink/tabs.png) no-repeat 50% 0;
}

/* ---------- Tabs ---------- */

.pink .portlet .ui-tabs li a,
.pink .portlet .tabs li span {
	background: url(../../images/color_schemes/pink/tabs.png) repeat-x 50% 0;
}

.pink .ui-tabs li a:hover,
.pink .ui-tabs li span:hover {
	background: url(../../images/color_schemes/pink/tabs.png) repeat-x 50% 0;
	color: #FFF;
}

.pink .portlet .ui-tabs li.first a {
	background: url(../../images/color_schemes/pink/tabs.png);
}

.pink .portlet .ui-tabs li.last a {
	background: url(../../images/color_schemes/pink/tabs.png) 100% 0;
}