/* This file allows you to override default styles in one central location for easier upgrade and maintenance. */

/* ---------- Navigation ---------- */

.tan #navigation {
	background: #FFF url(../../images/color_schemes/tan/navigation_bg.png) no-repeat;
	font-size: 12px;
	height: 47px;
	padding: 35px 0 12px 110px;
	width: 890px;
}

.tan #navigation li.selected a span {
	background: url(../../images/color_schemes/tan/navigation_item_selected.png) no-repeat 100% 0;
}

.tan #navigation li.selected a {
	background: url(../../images/color_schemes/tan/navigation_item_selected.png) no-repeat 0 100%;
}

/* ---------- Portlet ---------- */

.tan .portlet-topper {
	background: url(../../images/color_schemes/tan/portlet_topper_bg.png) no-repeat 0 -24px;
}

.tan .portlet-title {
	background: url(../../images/color_schemes/tan/portlet_topper_bg.png) no-repeat 100% 0;
}

.tan .results-header,
.tan .results-header th,
.tan .results-header td,
.tan .portlet-calendar .calendar-day .day-text {
	background: url(../../images/color_schemes/tan/tabs.png) no-repeat 50% 0;
}

/* ---------- Tabs ---------- */

.tan .portlet .ui-tabs li a,
.tan .portlet .tabs li span {
	background: url(../../images/color_schemes/tan/tabs.png) repeat-x 50% 0;
}

.tan .ui-tabs li a:hover,
.tan .ui-tabs li span:hover {
	background: url(../../images/color_schemes/tan/tabs.png) repeat-x 50% 0;
}

.tan .portlet .ui-tabs li.first a {
	background: url(../../images/color_schemes/tan/tabs.png);
}

.tan .portlet .ui-tabs li.last a {
	background: url(../../images/color_schemes/tan/tabs.png) 100% 0;
}