/* This file allows you to override default styles in one central location for easier upgrade and maintenance. */

/* ---------- Navigation ---------- */

.white #navigation {
	background: #FFF url(../../images/color_schemes/white/navigation_bg.png) no-repeat;
	font-size: 12px;
	height: 47px;
	padding: 35px 0 12px 110px;
	width: 890px;
}

.white #navigation li a {
	color: #666;
}

.white #navigation li a:hover {
	color: #000;
}

.white #navigation li.selected a span{
	background: url(../../images/color_schemes/white/navigation_item_selected.png) no-repeat 100% 0;
}

.white #navigation li.selected a {
	background: url(../../images/color_schemes/white/navigation_item_selected.png) no-repeat 0 100%;
}

.white #add-page a {
	color: #666;
}

.white #add-page a:hover {
	color: #000;
}

/* ---------- Portlet ---------- */

.white .portlet-topper {
	background: url(../../images/color_schemes/white/portlet_topper_bg.png) no-repeat 0 -24px;
}

.white .portlet-topper a {
	color: #666;
}

.white .portlet-topper a:hover {
	color: #000;
}

.white .portlet-title {
	background: url(../../images/color_schemes/white/portlet_topper_bg.png) no-repeat 100% 0;
	color: #000;
}

.white .results-header,
.white .results-header th,
.white .results-header td,
.white .portlet-calendar .calendar-day .day-text {
	background: url(../../images/color_schemes/white/tabs.png) no-repeat 50% 0;
	color: #000;
}

/* ---------- Tabs ---------- */

.white .portlet .ui-tabs li a,
.white .portlet .tabs li span {
	background: url(../../images/color_schemes/white/tabs.png) repeat-x 50% 0;
	color: #777;
}

.white .ui-tabs li a:hover,
.white .ui-tabs li span:hover {
	background: url(../../images/color_schemes/white/tabs.png) repeat-x 50% 0;
	color: #000;
}

.white .portlet .ui-tabs li.first a {
	background: url(../../images/color_schemes/white/tabs.png);
}

.white .portlet .ui-tabs li.last a {
	background: url(../../images/color_schemes/white/tabs.png) 100% 0;
}

.white .ui-tabs li.current a,
.white .ui-tabs li.current span,
.white .ui-tabs li.current:hover,
.white .ui-tabs li.current a:hover {
	color: #000;
}

.white .ui-tabs li {
	border-color: #DDD;
}