#set ($portlet_display = $portletDisplay)

#set ($portlet_id = $portlet_display.getId())
#set ($portlet_title = $portlet_display.getTitle())
#set ($portlet_content = $portlet_display.getContent())
#set ($portlet_back_url = $portlet_display.getURLBack())

<div class="portlet" id="portlet-wrapper-$portlet_id">
	<div class="portlet-topper">
		<span class="portlet-title">
			$theme.iconPortlet() $portlet_title
		</span>

		<div class="portlet-icons" id="portlet-small-icon-bar_$portlet_id">
			#if ($portlet_display.isShowBackIcon())
				<a href="$portlet_back_url" class="portlet-icon-back">#language ("return-to-full-page")</a>
			#else
			    $theme.iconRefresh()
				$theme.iconPortletCss()
				$theme.iconConfiguration()
				$theme.iconEdit()
				$theme.iconEditDefaults()
				$theme.iconEditGuest()
				$theme.iconHelp()
				$theme.iconPrint()
				$theme.iconMinimize()
				$theme.iconMaximize()
				$theme.iconClose()
			#end
		</div>
	</div>
	<div class="portlet-content">
		$portlet_content
	</div>
</div>