<!DOCTYPE html>

#parse ($init)

<html class="#language ("lang.dir")" dir="#language ("lang.dir")">

<head>
	<title>$the_title - $company_name</title>

	<script type="text/javascript">
		efn = function() {
			return 0;
		};

		jQuery = Class = function() {
			return {
				attr: efn,
				change: efn,
				hide: efn,
				length: 0,
				show: efn,
				val: efn
			};
		};

		Liferay = {
			Portal: {
				Tabs: {
					show: efn
				}
			},
			Portlet: {
				isAjax: efn,
				onLoad: efn,
				process: efn
			},
			Util: {
				focusFormField: efn,
				getSelectedIndex: efn
			}
		};

		submitForm = function(f, a) {
			if (a) {
				f.action = a;
			}

			f.submit();
		};
	</script>

	<style type="text/css">
		body, h1, h2, ul, li, #banner h1.logo, .columns-max .lfr-column, .columns-1 .lfr-column {
			margin: 0;
			padding: 0;
		}

		html {
			cursor: default;
			overflow-y: scroll;
		}

		body {
			background: #F2F2F2;
			font: 11px/1.6 'Arial', 'Helvetica', 'Verdana', sans-serif;
		}

		li {
			list-style-type: none;
		}

		a {
			color: #369;
			text-decoration: none;
		}

		a:hover {
			color: #369;
			text-decoration: underline;
		}

		a img {
			border: 0;
		}

		table {
			width: 100%;
		}

		#banner {
			background: #2A2A33;
			color: #EEE;
			height: 90px;
			padding: 5px 10px;
			position: relative;
		}

		#banner h1 {
			font-size: 2em;
			left: 5%;
			position: absolute;
			top: 16px;
		}

		#banner .logo a {
			color: #eee;
			text-decoration: none;
		}

		#lfr-look-and-feel {
			display: none;
		}

		#navigation ul, #content-wrapper {
			margin: 0 auto;
			width: 90%;
		}

		#navigation {
			background: #020509;
			border-top: 1px solid #304049;
			height: 29px;
		}

		#navigation ul {
			border-left: 1px solid #304049;
			height: 29px;
		}

		#navigation li {
			border-right: 1px solid #304049;
			float: left;
		}

		#navigation li.selected a, #navigation li.selected a:hover {
			background-color: #1E2529;
			color: #FFF;
		}

		#navigation li a:hover {
			background-color: #161C1F;
			color: #FFF;
		}

		#navigation li a, .lfr-dock a {
			color: #D3DADD;
			display: block;
			padding: 5px 20px;
			text-decoration: none;
		}

		#content-wrapper {
			padding: 5px 0;
		}

		#layout-grid {
			border-collapse: collapse;
			margin: 0 -5px;
		}

		.lfr-column {
			padding: 0 5px;
			vertical-align: top;
		}

		.portlet {
			background: #FFF;
			border: 2px solid #828F95;
			margin: 0 0 10px;
			padding: 3px;
		}

		.portlet-topper {
			background: #D3DADD none repeat scroll 0% 0%;
			border-bottom: 1px solid #AEB8BC;
			padding-right: 40px;
			position: relative;
		}

		.portlet-title {
			display: block;
			font-weight: bold;
			min-width: 50%;
			padding: 5px;
		}

		.portlet-icons {
			position: absolute;
			right: 7px;
			top: 4px;
		}

		.portlet-content, .portlet-minimized .portlet-content-container {
			padding: 12px 10px 10px;
		}

		.portlet-minimized .portlet-content {
			display: none;
		}

		.lfr-dock {
			position: absolute;
			right: 5%;
			top: 10px;
		}

		.lfr-dock h2 {
			text-align: right;
			padding: 0 20px;
		}

		.lfr-dock li {
			float: left;
			list-style-type: none;
		}

		.twenty {
			width: 20%;
		}

		.twenty-five {
			width: 25%;
		}

		.thirty {
			width: 30%;
		}

		.thirty-three {
			width: 33%;
		}

		.fourty {
			width: 40%;
		}

		.fifty {
			width: 50%;
		}

		.sixty {
			width: 60%;
		}

		.seventy {
			width: 70%;
		}

		.seventy-five {
			width: 75%;
		}

		.eighty {
			width: 80%;
		}

		.ninety {
			width: 90%;
		}

		#tabs1already-registeredTabsSection, #tabs1forgot-passwordTabsSection, #_88_tabs5themesTabsSection, .ui-tab-content {
			display: block !important;
		}
	</style>
</head>

<body>
	#if($is_signed_in)
		#dockbar()
	#end

	$theme.include($top_messages_include)

	<div id="wrapper">
		<div id="banner">
			<h1 class="logo">
				<a href="$company_url">
					<span>$company_name</span>
				</a>
			</h1>

			#if ($update_available_url)
				<div class="popup-alert-notice">
					<a class="update-available" href="$update_available_url">#language ("updates-are-available-for-liferay")</a>
				</div>
			#end
		</div>

		#if ($has_navigation)
			#parse ("$full_templates_path/navigation.vm")
		#end

		#if ($selectable)
			$theme.include($content_include)
		#else
			$portletDisplay.recycle()

			$portletDisplay.setTitle($the_title)

			$theme.wrapPortlet("portlet.vm", $content_include)
		#end
	</div>

	<form name="hrefFm" method="post"></form>
</body>

</html>