@import "portlet_decorator";

$bg-color: #F5F7F8;
$solid-color: #47647A;

body {
	background-color: $bg-color;
}

.portlet-topper {
	z-index: 1;
}

#userCard .user-container {
	margin-left: -15px;
	margin-right: -15px;
	padding: 10px;
	position: relative;

	.user-info {
		position: relative;
		z-index: 1;

		.user-icon {
			margin-left: auto;
			margin-right: auto;
		}
	}

	.bg-icon {
		bottom: 0;
		left: 0;
		opacity: 0.3;
		overflow: hidden;
		position: absolute;
		right: 0;
		top: 0;

		@include filter(blur(15px));
	}
}

.site-navigation .portlet {
	&, .portlet-body > .navbar {
		margin-bottom: 0;
	}

	.navbar-blank > li {
		& > a {
			color: $solid-color;
			padding: 14px;
		}

		&:hover, &.hover, &.active, .dropdown-menu .active {
			& > a {
				color: #000;
			}
		}
	}
}

.user-card-horizontal {
	#userCard .user-container {
		@include sm {
			margin-bottom: 20px;
			padding: 20px;
		}
	}

	.navbar-blank {
		float: none;

		> li {
			float: none;
		}
	}
}

#wrapper {
	padding: 0;

	#banner {
		padding: 10px 0;
		position: relative;

		.row {
			margin-left: 15px;
			margin-right: 15px;
		}

		a:active, a:hover, a:focus {
			text-decoration: none;
		}

		#heading .site-name {
			color: $solid-color;
			font-size: 150%;
			letter-spacing: 2px;
			padding: 16px 20px 10px;
			vertical-align: middle;
		}

		.user-personal-bar {
			.user-full-name, .icon-caret-down {
				display: none;
			}
		}

		.navbar-toggle {
			margin: 12px;
		}

		@include sm {
			padding: 20px 0;
		}
	}
}

.modify-pages .delete-tab {
	height: 20px;
	top: 22px;
}