/* -------- Global -------- */

#skip-to-content,
#heading .community-title,
#heading .page-title,
#navigation h1 {
	clip: rect(0 0 0 0);
	position: absolute;
}

body {
	background: #CCC;
}

/* -------- Wrapper / Skip / Sign-in -------- */

#wrapper {
	background: #FFF url(../images/custom/wrapper_bg.png);
	margin: 0 auto;
	position: relative;
	width: 1000px;
}

#skip-to-content,
#sign-in {
	color: #FFF;
	right: 4em;
}

#skip-to-content {
	top: 4.25em;
}

#skip-to-content:active,
#skip-to-content:focus {
	clip: auto;
}

#sign-in {
	position: absolute;
	top: 3em;
}

/* -------- Heading -------- */

#heading {
	background: url(../images/custom/heading_bg.png) no-repeat;
	height: 50px;
	padding: 35px 25px;
}

#heading .company-title {
	margin: 0;
}

#heading .company-title a {
	margin: 0 auto;
}

/* -------- Navigation -------- */

#navigation {
	background: url(../images/custom/navigation_bg.png);
	font: bold 12px Arial, Helvetica, sans-serif;
	height: 37px;
	margin: 0 auto;
	width: 960px;
}

#navigation ul {
	list-style: none;
	margin: 0;
}

.ie6 #navigation ul,
.ie7 #navigation ul {
	zoom: 1;
}

#navigation ul:after {
	clear: both;
	content: ".";
	display: block;
	height: 0;
	line-height: 0;
	visibility: hidden;
}

#navigation li,
#navigation a {
	float: left;
}

#navigation a {
	color: #CFC;
	display: block;
	padding: 12px 16px 10px;
	text-decoration: none;
}

#navigation a:active,
#navigation a:focus,
#navigation a:hover {
	color: #FF0;
}

#navigation .selected a {
	color: #FFF;
}

/* -------- Content -------- */

#content {
	padding: 10px 40px;
}

#breadcrumbs {
	display: none;
}

/* ---------- Portlet ---------- */

.portlet {
	margin: 0 0 24px;
}

.portlet-title {
	font-weight: bold;
}

.portlet-content {
	padding: 0;
}

/* -------- Tabs -------- */

.aui-tab-active span a {
	color: #FFF;
}

/* -------- Footer -------- */

#footer {
	background: url(../images/custom/footer_bg.png);
	height: 25px;
	padding: 20px 40px;
	text-align: right;
}

#footer p {
	margin: 0;
}