/* Reset */

html {
	overflow-y: scroll;
}

#wrapper, #banner, #banner .logo, #banner .logo a,#navigation, #navigation ul, #navigation ul li, #navigation li.selected,#navigation ul li a, #navigation li a span, #navigation ul li.selected a, #navigation ul li.selected a span,#navigation ul li a:hover, #navigation li a:hover span, #navigation ul li.selected a:hover, #navigation ul li.selected a:hover span,.js #add-page, .js #add-page a, .js #add-page a span, .js #add-page a:hover, .js #add-page a:hover span,.js #navigation .enter-page, .js #navigation .enter-page a, .js #navigation .enter-page a:hover,#content-wrapper, .portlet, .portlet-topper, .portlet-title, .portlet-content {
	background: transparent none no-repeat scroll 0 0%;
	display: inline;
	float: none;
	font-size: 100%;
	font-size-adjust: none;
	font-stretch: normal;
	font-style: normal;
	font-variant: normal;
	font-weight: normal;
	height: auto;
	line-height: normal;
	margin: 0;
	min-height: 0;
	min-width: 0;
	padding: 0;
	padding-left: 0;
	text-decoration: none;
	text-indent: 0;
	width: auto;
}


/* Reset 2 */

#banner, #navigation, #navigation ul, .portlet {
	background-color: transparent;
}

#layout-grid .lfr-column {
	margin: 0;
	padding: 0;
}

.portlet-icons {
	right: 0;
	top: 0;
}

.tabs {
	border: 0;
}

#wrapper, #banner, #navigation, #content-wrapper,.portlet, .portlet-topper, .portlet-title, .portlet-content {
	display: block;
}


/* CSS */

#banner .logo a {
	color: #FFF;
	font-family: 'Trebuchet MS', 'Arial', 'Sans-serif';
	font-size: 44px;
	font-size-adjust: none;
	font-stretch: normal;
	font-style: normal;
	font-variant: normal;
	font-weight: bolder;
	left: 47px;
	letter-spacing: -2px;
	line-height: normal;
	margin: 0;
	padding: 0;
	position: absolute;
	text-transform: none;
	top: 25px;
}

#banner {
	background: #CCC url('../images/common/banner_bg.jpg') no-repeat scroll center top;
	color: #FFF;
	height: 103px;
	padding: 0;
	position: relative;
	top: 0;
}

body {
	background: #CCC none repeat scroll 0;
	color: #555;
	font-family: 'Verdana', 'Tahoma', 'arial', sans-serif;
	font-size: 70%;
	font-size-adjust: none;
	font-stretch: normal;
	font-style: normal;
	font-variant: normal;
	font-weight: normal;
	line-height: 1.5em;
	text-align: center;
}

#column-1, #column-2, #column-3 {
	background-color: #FFF;
	padding-top: 10px;
}

.columns-2 #column-2 .portlet-title {
	background-image: none;
	color: #728D26;
	padding-left: 0;
}

.columns-2 #column-2 {
	background-color: #EDFDCE;
}

.columns-3 #column-2 .portlet-title {
	background-image: none;
	color: #728D26;
	padding-left: 0;
}

.columns-3 #column-3 {
	background-color: #EDFDCE;
}

#content-wrapper, #portlet-wrapper- {
	clear: both;
	margin: 0 auto;
	width: 870px;
}

#footer a {
	color: #FFF;
	text-decoration: none;
}

#footer a:hover {
	text-decoration: underline;
}

#footer {
	background: #CCC url('../images/common/footer_bg.jpg') no-repeat scroll center top;
	clear: both;
	color: #C6DDEE;
	font-size: 92%;
	height: 65px;
	padding-top: 10px;
	text-align: center;
	width: 920px;
}

input[type="submit"], input[type="button"], input[type="reset"] {
	background: #8EB50C url('../images/common/button_bg.png') repeat-x scroll 0 0;
	border: medium none;
	color: #FFF;
	font-family: 'Arial', 'Sans-serif';
	font-size: 12px;
	font-weight: bold;
	height: 24px;
	margin: 0;
	padding: 2px 3px;
}

.js #add-page a span, .js #add-page a:hover span {
}

.js .lfr-dock.interactive-mode h2 span {
	font-size: 14px;
}

.js .lfr-dock.interactive-mode h2,.js .lfr-dock.interactive-mode h2 span {
	background-image: url('../images/dock/menu_bar.png');
}

.js .lfr-dock.interactive-mode {
	right: 30px;
	top: 30px;
}

.liferay-table {
	font: 10px/10px Arial;
}

#navigation ul li a span, #navigation ul li.selected a span,#navigation ul li a:hover span, #navigation ul li.selected a:hover span,.js #add-page a span, .js #add-page a:hover span {
	color: #FFF;
	display: block;
	float: left;
	font-weight: bold;
	padding: 11px 10px;
	text-decoration: none;
}

#navigation ul li, #navigation ul li.selected {
	border: 0;
	display: block;
	float: left;
}

#navigation ul li.selected a span, #navigation ul li a:hover span, #navigation ul li.selected a:hover span, .js #add-page a:hover span {
	color: #D4E59F;
}

#navigation ul {
	display: block;
	float: right;
	list-style-image: none;
	list-style-position: outside;
	list-style-type: none;
	margin-right: 10px;
}

#navigation {
	background: transparent url('../images/navigation/bg.png') repeat-x scroll 0;
	border: 0;
	clear: both;
	display: block;
	font-family: 'Verdana', 'Arial', 'Tahoma', 'Sans-serif';
	font-size: 12px;
	font-size-adjust: none;
	font-stretch: normal;
	font-style: normal;
	font-variant: normal;
	font-weight: bold;
	height: 37px;
	line-height: 37px;
	margin: 0 auto;
	width: 880px;
}

.portlet-content {
	padding: 10px;
}

.portlet-title {
	background: transparent url('../images/portlet/portlet_bg.png') no-repeat scroll 3px 50%;
	border-bottom: 1px solid #EFF0F1;
	color: #88AC0B;
	font-family: 'Trebuchet MS', 'Tahoma', 'Sans-serif';
	font-size: 140%;
	font-size-adjust: none;
	font-stretch: normal;
	font-style: normal;
	font-variant: normal;
	font-weight: bold;
	line-height: normal;
	margin-top: 10px;
	padding: 5px 0 5px 25px;
}

.portlet {
	margin: 20px 10px 30px 5px;
}

.tabs li {
	font: 12px/2.25em Arial;
}

.tabs li.current {
	top: 0;
}

#wrapper {
	background: #CCC url('../images/common/wrapper_bg.png') repeat-y scroll center top;
	margin: 0 auto;
	text-align: left;
	width: 920px;
}