<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

#parse ($init)

#set ($company_url = $company_url + "/web/guest/home")

<html dir="#language ("lang.dir")" xmlns="http://www.w3.org/1999/xhtml">

<head>
	<title>$company_name - $the_title</title>

	$theme.include($top_head_include)

	#css ($css_main_file)
	#js ($js_main_file)

	#if ($company_logo != "")
		<style type="text/css">
			#banner .logo {
				padding: 0;
			}

			#banner .logo a {
				background: url($images_folder/common/logo.png) no-repeat;
				display: block;
				font-size: 0;
				height: 88px;
				text-indent: -9999em;
				width: 290px;
			}

			#ie6_png_fix ()
		</style>
	#end

	#if ($group_id > 0)
		#set ($journalTemplateLocalService = $serviceLocator.findService("com.liferay.portlet.journal.service.JournalTemplateLocalService"))

		#set ($journalTemplateId = $theme_settings.getProperty("css-template-id"))

		#if ($journalTemplateLocalService.hasTemplate($group_id, $journalTemplateId))

			## Instead of reference the URL, just insert the content to save an
			## extra HTTP request.

			## <link rel="stylesheet" type="text/css" href="$theme_display.getPathMain()/journal/get_template?groupId=$group_id&templateId=$journalTemplateId" />-->

			#set ($journalTemplate = $journalTemplateLocalService.getTemplate($group_id, $journalTemplateId))

			<style type="text/css">
				#set ($cssTemplate = $journalTemplate.getXsl())
				#set ($cssTemplate = $stringUtil.replace($cssTemplate, "@root_path@", $themeDisplay.getPathContext()))
				#set ($cssTemplate = $stringUtil.replace($cssTemplate, "@image_path@", $themeDisplay.getPathImage()))
				#set ($cssTemplate = $stringUtil.stripBetween($cssTemplate, "/*", "*/"))

				$cssTemplate
			</style>
		#end
	#end
</head>

<body class="$css_class">

$theme.include($top_messages_include)

<div id="wrapper">
	<div id="banner">
		<h1 class="logo">
			<a class="png" href="$company_url">$company_name</a>
		</h1>

		#parse ("$full_templates_path/dock.vm")

		<div class="search">
			$theme.journalContentSearch()
		</div>
		<div class="lang">
			$taglibLiferay.language()
		</div>
		#if ($update_available_url)
			<div class="popup-alert-notice">
				<a class="update-available" href="$update_available_url">#language ("updates-are-available-for-liferay")</a>
			</div>
		#end
	</div>

	#if ($has_navigation)
		#parse ("$full_templates_path/navigation.vm")
	#end

	<div id="back-container">
		#if ($selectable)
			$theme.include($content_include)
		#else
			$portletDisplay.recycle()

			$portletDisplay.setTitle($the_title)

			$theme.wrapPortlet("portlet.vm", $content_include)
		#end

		<div id="footer">
			<p class="copyright-notice">&copy; 2000-$the_year $company_name</p>

			<div class="footer-award-images">
				#set ($journalArticleLocalService = $serviceLocator.findService("com.liferay.portlet.journal.service.JournalArticleLocalService"))

				#set ($journalArticleId = $theme_settings.getProperty("footer-article-id"))

				#if ($journalArticleLocalService.hasArticle($group_id, $journalArticleId))
					$velocityPortletPreferences.setValue("portlet-setup-show-borders", "false")
					$velocityPortletPreferences.setValue("group-id", "$group_id")
					$velocityPortletPreferences.setValue("article-id", $journalArticleId)

					$theme.runtime("56_INSTANCE_a453", "", $velocityPortletPreferences.toString())

					$velocityPortletPreferences.reset()
				#end
			</div>

			#if ($has_navigation)
				#parse ("$full_templates_path/bottom_navigation.vm")
			#end
		</div>
	</div>
</div>

$theme.include($bottom_ext_include)
$theme.include($session_timeout_include)
$theme.include($sound_alerts_include)

</body>

</html>