<!DOCTYPE html>

#parse ($init)

<html class="#language ("lang.dir")" dir="#language ("lang.dir")">

<head>
	<title>$the_title - $company_name</title>

	$theme.include($top_head_include)

	#set ($groupLocalService = $serviceLocator.findService("com.liferay.portal.service.GroupLocalService"))

	#set ($guestGroup = $groupLocalService.getGroup($company_id, "Guest"))

	#set ($journalTemplateLocalService = $serviceLocator.findService("com.liferay.portlet.journal.service.JournalTemplateLocalService"))

	#set ($journalTemplateId = $theme_settings.getProperty("css-template-id"))

	#if ($journalTemplateLocalService.hasTemplate($guestGroup.getGroupId(), $journalTemplateId))

		## Instead of reference the URL, just insert the content to save an
		## extra HTTP request.

		## <link rel="stylesheet" type="text/css" href="$theme_display.getPathMain()/journal/get_template?groupId=$guestGroup.getGroupId()&templateId=$journalTemplateId" />-->

		#set ($journalTemplate = $journalTemplateLocalService.getTemplate($guestGroup.getGroupId(), $journalTemplateId))

		<style type="text/css">
			#set ($cssTemplate = $journalTemplate.getXsl())
			#set ($cssTemplate = $stringUtil.replace($cssTemplate, "@root_path@", $themeDisplay.getPathContext()))
			#set ($cssTemplate = $stringUtil.replace($cssTemplate, "@image_path@", $themeDisplay.getPathImage()))
			#set ($cssTemplate = $stringUtil.stripBetween($cssTemplate, "/*", "*/"))

			$cssTemplate
		</style>
	#end
</head>

<body class="$css_class">

#if($is_signed_in)
	#dockbar()
#end

$theme.include($top_messages_include)

<div id="wrapper">
	<div id="banner">
		<h1 class="logo">
			<a class="png" href="$company_url">$company_name</a>
		</h1>

		#if ($group_id == $guestGroup.getGroupId())
			<div class="search">
				$theme.journalContentSearch()
			</div>
		#end

		#if ($update_available_url)
			<div class="popup-alert-notice">
				<a class="update-available" href="$update_available_url">#language ("updates-are-available-for-liferay")</a>
			</div>
		#end

		<div id="top-menu">
			<a href="$company_url">www.Liferay.com</a>

			#if ($is_signed_in)
				| <a href="$themeDisplay.getPathFriendlyURLPublic()/$user.getScreenName()/profile">#language ("my-profile")</a>
			#end
		</div>
	</div>

	#if ($has_navigation)
		#parse ("$full_templates_path/navigation.vm")
	#end

	<div id="back-container">
		#if ($selectable)
			$theme.include($content_include)
		#else
			$portletDisplay.recycle()

			$portletDisplay.setTitle($the_title)

			$theme.wrapPortlet("portlet.vm", $content_include)
		#end

		<div id="footer">
			<p class="copyright-notice">&copy; 2000-$the_year $company_name</p>

			<div class="footer-award-images">
				#set ($journalArticleLocalService = $serviceLocator.findService("com.liferay.portlet.journal.service.JournalArticleLocalService"))

				#set ($journalArticleId = $theme_settings.getProperty("footer-article-id"))

				#if ($journalArticleLocalService.hasArticle($guestGroup.getGroupId(), $journalArticleId))
					$velocityPortletPreferences.setValue("portlet-setup-show-borders", "false")
					$velocityPortletPreferences.setValue("group-id", "$guestGroup.getGroupId()")
					$velocityPortletPreferences.setValue("article-id", $journalArticleId)

					$theme.runtime("56_INSTANCE_a453", "", $velocityPortletPreferences.toString())

					$velocityPortletPreferences.reset()
				#end
			</div>

			#if ($has_navigation)
				#parse ("$full_templates_path/bottom_navigation.vm")
			#end
		</div>
	</div>
</div>

</body>

$theme.include($bottom_include)

</html>