<nav class="$nav_css_class" id="navigation">
	<h1>
		<span>#language("navigation")</span>
	</h1>

	<ul>
		#foreach ($nav_item in $nav_items)
			#set ($nav_item_class = "")

			#if ($velocityCount == 1)
				#set ($nav_item_class = "$nav_item_class first")
			#elseif (!$velocityHasNext)
				#set ($nav_item_class = "$nav_item_class last")
			#end

			#if ($nav_item.isSelected())
				#set ($nav_item_class = "$nav_item_class selected")
			#end

			<li class="$nav_item_class">
				<a href="$nav_item.getURL()" $nav_item.getTarget()><span>$nav_item.icon() $nav_item.getName()</span></a>

				#if ($nav_item.hasChildren())
					<ul class="child-menu">
						#foreach ($nav_child in $nav_item.getChildren())
							#if ($nav_child.isSelected())
								<li class="selected">
							#else
								<li>
							#end
								<a href="$nav_child.getURL()" $nav_child.getTarget()>$nav_child.getName()</a>
							</li>
						#end
					</ul>
				#end
			</li>
		#end

		#if ($theme_settings.display-button == true)
			<li class="call-to-action">
				<a class="button" href="$theme_settings.button-url">
					<span>
						$theme_settings.button-title
					</span>
				</a>
			</li>
		#end
	</ul>
</nav>