a {
	color: #000000;
}
a:hover {
	color: #CC0000;
}
#wrapper {
	background: none;
	border-left: 3px double #000000;
	border-right: 3px double #000000;
	border-bottom: 3px double #000000;
	margin: 0pt auto;
	width:1000px;
}
#banner {
	background: #FFFFFF url(../images/custom/banner_bg.jpg) no-repeat bottom right;
	height: 210px;
}
#banner .logo {
	background: #FFFFFF none;
}
.loading-animation {
	background: url(../images/custom/loading_animationbar.gif) no-repeat top center;
}
.columns-1 #column-1 {
	padding-left: 5px;
	padding-right: 5px;
}
.columns-2 #column-1 {
	padding-left: 5px;
}
.columns-2 #column-2 {
	padding-right: 5px;
}
.columns-3 #column-1 {
	padding-left: 5px;
}
.columns-3 #column-3 {
	padding-right: 5px;
}
.columns-1-2-1 #column-1, .columns-1-2-1 #column-4 {
	padding-left: 5px;
	padding-right: 5px;
}
.columns-1-2-1 #column-2 {
	padding-left: 5px;
}
.columns-1-2-1 #column-3 {
	padding-right: 5px;
}
.columns-2-2 #column-1, .columns-2-2 #column-2 {
	padding-left: 5px;
}
.columns-2-2 #column-4 {
	padding-right: 5px;
}
#navigation {
	background: none;
	border: none;
	padding-right: 0;
	width: 975px;
}
#navigation a {
	color: black;
}
#navigation li.selected a, #navigation li a:hover {
	background-color: transparent;
	color: black;
}
#navigation li {
	background: #FFFFFF none;
	border-bottom: 1px solid #CC0000;
	border-left: none;
	border-right: none;
	border-top: none;
	color: #444444;
}
.js #add-page {
	background: transparent none repeat scroll 0% 0%;
	border: medium none;
	bottom: 100%;
	right: 5%;
	top: -1px;
}
#navigation li a {
	background: #FFFFFF none repeat scroll 0%;
	display: block;
	padding: 0.5em 25px 0.5em 1.5em;
	text-decoration: none;
}
#navigation li a:hover {
	padding-bottom: 0.5em;
}
#navigation li:hover {
	border-bottom: 1px solid #DDDDDD;
}
#navigation li a span {
	background: none;
}
#navigation li.selected a span {
	background: none;
	font-size: 14px;
	font-weight: bold;
}
#navigation ul {
	margin: 0pt auto 0pt 1px;
}
#navigation li a:hover span {
	background: none;
}
.js .lfr-dock.interactive-mode h2 {
	background: url(../images/custom/menu_bar_red.png) no-repeat 100% -30px;
	padding:0pt 26px 0pt 0pt;
}
.js .lfr-dock.interactive-mode h2 span {
	background: url(../images/custom/menu_bar_red.png) no-repeat 0 0;
}
.js #navigation .enter-page {
	background: transparent none;
	padding: 0.5px;
	margin-top: 2px;
}
.portlet, .portlet-topper, .portlet-content, .portlet-title {
	background: #FFFFFF none;
}
.portlet {
	border: none;
	margin: 0 5px 10px;
	padding-right: 20px;
}
.portlet-topper {
	border-bottom: 1px solid #CC0000;
}
.portlet-title {
	background-position: left top;
	color: #444444;
	display: block;
	font-size: 10pt;
	font-weight: bold;
	min-width: 50%;
	padding: 8px 0pt 8px 10px;
}
.portlet-title img {
	display: none;
}
.portlet-section-header {
	background: #CC0000 none repeat scroll 0% 50%;
	color: #FFFFFF;
	padding: 1px 0pt 0pt;
}
.portlet-section-header th {
	border-bottom: 1px solid #CCCCCC;
	color: #FFFFFF;
}
.portlet-section-body {
	background: #DDDDDD none repeat scroll 0% 50%;
	color: #444444;
}
.ui-tabs {
	border-bottom: none;
	padding: 0 0 2.6em 0;
}
.ui-tabs li {
	background: #FFFFFF none;
	color: #444444;
	margin-right: 0;
}
.ui-tabs li a, .ui-tabs li span {
	background: #FFFFFF none;
	color: #444444;
	font-size: 11px;
	padding: 0 1em 0;
}
.ui-tabs li.current {
	background: #FFFFFF none;
	color: #444444;
	top: 0;
}
.ui-tabs li.current a, .ui-tabs li.current span {
	background: #FFFFFF none;
	color: #CC0000;
	padding: 0 2em;
}
.ie .ui-tabs li.current {
	top: 0;
}
#banner h1.logo {
	margin: 25px 90pt 0pt !important;
}
.js .interactive-mode {
	right:13%;
}