#set ($content_id = $reserved-article-id.getData())
#set ($content_class = "multiple-items-${content_id}-carousel")

<style type="text/css">
	#${content_class} {
		#if (!$carousel_maximum_height.data.isEmpty())
			max-height: $carousel_maximum_height.data${carousel_maximum_height.units.data};
		#end
		overflow: hidden;
		position: relative;
	}

	.ie6 #${content_class}, .ie7 #${content_class}, .ie8 #${content_class} {
		#if (!$carousel_maximum_height.data.isEmpty())
			height: $carousel_maximum_height.data${carousel_maximum_height.units.data};
		#end
	}

	#${content_class} .carousel-item {
		#if (!$carousel_maximum_height.data.isEmpty())
			max-height: $carousel_maximum_height.data${carousel_maximum_height.units.data};
		#end
		top: 0;
	}

	#if (!$controls.data)
		#${content_class} menu {
			display: none;
		}
	#end
</style>

<div class="zoe-carousel" id="$content_class">
	#if (!$carousel_text.getSiblings().isEmpty())
		#foreach ($cur_carousel_text in $carousel_text.getSiblings())
			#set($caption_alignment = $cur_carousel_text.carousel_caption_alignment.data)

			<div class="carousel-item item${velocityCount}">
				<div class="carousel-panel-${caption_alignment}">
					#if (!$cur_carousel_text.data.isEmpty())
						<h2>$cur_carousel_text.data</h2>
					#end

					#if (!$cur_carousel_text.carousel_button_text.data.isEmpty())
						<a class="$cur_carousel_text.carousel_button_text.carousel_button_size.data $cur_carousel_text.carousel_button_text.carousel_button_style.data" href="$cur_carousel_text.carousel_button_text.carousel_button_link.data">$cur_carousel_text.carousel_button_text.data</a>
					#end
				</div>

				<div class="carousel-image">
					<img src="$cur_carousel_text.image.data" />
				</div>
			</div>
		#end
	#end
</div>

<script type="text/javascript">
	AUI().ready(
		'aui-carousel',
		function(A) {
			new A.Carousel(
				{
					contentBox: '#${content_class}',
					intervalTime: $duration.data,
					itemSelector: '.carousel-item'
				}
			).render();
		}
	);
</script>