body {
	background: #666666 url(../images/custom/header.png) repeat-x scroll left top;
	font-family: arial,verdana,sans-serif;
}
a {
	color: #65EBFF;
}
#content-wrapper {
	color: #FFFFFF;
}
#wrapper {
	background: none;
}
#banner {
	background: none;
	height: 193px;
}
#banner .logo a {
	margin-top: -19px;
}
#banner .left {
	background: transparent url(../images/custom/header_left.jpg) no-repeat top left;
	width: 100%;
}
#banner .right {
	background: transparent url(../images/custom/header_right.jpg) no-repeat top right;
	height: 193px;
	width: 100%;
}
#navigation {
	background: transparent;
	border: none;
	margin: 0;
	padding: 0 0 5px;
	width: 100%;
}
#navigation ul {
	float:right;
	margin-right:35px;
	width:318px;
}
#navigation li {
	background: none;
	border: none;
	margin-right: 5px;
	overflow: hidden;
	padding: 0 0;
}
#navigation li a {
	background: none;
	color: #FFFFFF;
	font-size: 16px;
	font-weight: bold;
	padding: 5px 10px;
}
#navigation li a span {
	background: none;
	padding: 0;
}
#navigation li a:hover {
	background: transparent;
	color: #65EBFF;
	padding-bottom: 0;
}
#navigation li.selected a, #navigation li selected a:hover {
	background-color: transparent;
	border-top: 5px solid black;
}
#navigation li a:hover span {
	background: none;
}
#navigation li.selected {
	background: none;
	padding-left: 0;
	padding-right: 0;
}
#navigation li.selected a {
	color: #65EBFF;
	padding: 5px 10px;
}
#navigation li.selected a span {
	background: none;
	font-size: 1em;
	padding: 0;
}
#navigation li.selected a:hover {
	padding-bottom: 5px;
}
.js #navigation .enter-page {
	background: none;
	padding: 3px;
}
.js #add-page {
	background: transparent;
	border-color: transparent;
	float: left;
	font-weight: bold;
	padding-top: 8px;
	top: -11px;
	right: 1127px;
}
.js #add-page a {
	color: #000000;
}
.lfr-dock.interactive-mode a {
	color: #000000;
}
.portlet-topper, .portlet-content, .portlet-title {
	background: none;
}
.portlet {
	background: url(../images/custom/portlet_bg.png) repeat-x;
}
.ie6 .portlet, .ie6 .portlet-topper, .ie6 .portlet-content, .ie6 .portlet-title {
	background: url(../images/custom/portlet_bg.png) repeat-x;
}
.portlet-title {
	font-size: 18px;
}
.portlet-title img {
	display: none;
}
.portlet-section-header {
	background: #999999 none;
}
.portlet-section-body td {
	background: #DDDDDD none;
}
.portlet-section-header th {
	border-bottom: 1px solid #F8D766;
}
input[type="text"], input[type="password"], input[type="file"], input[type="submit"], input[type="button"], input[type="reset"], select, textarea, .textarea {
	background: #EEEEEE;
	border: 1px solid #444444;
	color: #444444;
}
input[type="submit"], input[type="button"], input[type="reset"] {
	background: #9FF3FF;
	border-color: #FFFFFF #00DFFF #00DFFF #FFFFFF;
	border-style: solid;
	border-width: 1px;
	color: #555555;
	cursor: pointer;
	padding: 2px 5px;
}
input.focus, textarea.focus, .ie6 input.focus, .ie6 textarea.focus {
	background: #E4F7FA none repeat scroll 0%;
	border: 1px solid #00DFFF;
	color: #000000;
}
.ie6 input.text, input.password, .ie6 input.submit, .ie6 input.file, .ie6 input.button {
	background: #EEEEEE;
	border: 1px solid #444444;
	color: #444444;
}
.ie6 input.submit, .ie6 input.button {
	background: #9FF3FF;
	border-color: #FFFFFF #00DFFF #00DFFF #FFFFFF;
	border-style: solid;
	border-width: 1px;
	color: #555555;
}