a {
	color: #65EBFF;
}

#banner .left {
	background: transparent url(../images/custom/header_left.jpg) no-repeat top left;
	width: 100%;
}

#banner .logo a {
	margin-top: -19px;
}

#banner .right {
	background: transparent url(../images/custom/header_right.jpg) no-repeat top right;
	height: 193px;
	width: 100%;
}

#banner {
	background: none;
	height: 193px;
}

body {
	background: #666 url(../images/custom/header.png) repeat-x scroll left top;
	font-family: 'arial', 'verdana', sans-serif;
}

#content-wrapper {
	color: #FFF;
}

.ie6 .portlet, .ie6 .portlet-topper, .ie6 .portlet-content, .ie6 .portlet-title {
	background: url(../images/custom/portlet_bg.png) repeat-x;
}

.ie6 input.submit, .ie6 input.button {
	background: #9FF3FF;
	border-color: #FFF #00DFFF #00DFFF #FFF;
	border-style: solid;
	border-width: 1px;
	color: #555;
}

.ie6 input.text, input.password, .ie6 input.submit, .ie6 input.file, .ie6 input.button {
	background: #EEE;
	border: 1px solid #444;
	color: #444;
}

input.focus, textarea.focus, .ie6 input.focus, .ie6 textarea.focus {
	background: #E4F7FA none repeat scroll 0;
	border: 1px solid #00DFFF;
	color: #000;
}

input[type="submit"], input[type="button"], input[type="reset"] {
	background: #9FF3FF;
	border-color: #FFF #00DFFF #00DFFF #FFF;
	border-style: solid;
	border-width: 1px;
	color: #555;
	cursor: pointer;
	padding: 2px 5px;
}

input[type="text"], input[type="password"], input[type="file"], input[type="submit"], input[type="button"], input[type="reset"], select, textarea, .textarea {
	background: #EEE;
	border: 1px solid #444;
	color: #444;
}

.js #add-page a {
	color: #000;
}

.js #add-page {
	background: transparent;
	border-color: transparent;
	float: left;
	font-weight: bold;
	padding-top: 8px;
	right: 1127px;
	top: -11px;
}

.js #navigation .enter-page {
	background: none;
	padding: 3px;
}

.lfr-dock.interactive-mode a {
	color: #000;
}

#navigation li a span {
	background: none;
	padding: 0;
}

#navigation li a {
	background: none;
	color: #FFF;
	font-size: 16px;
	font-weight: bold;
	padding: 5px 10px;
}

#navigation li a:hover span {
	background: none;
}

#navigation li a:hover {
	background: transparent;
	color: #65EBFF;
	padding-bottom: 0;
}

#navigation li {
	background: none;
	border: none;
	margin-right: 5px;
	overflow: hidden;
	padding: 0 0;
}

#navigation li.selected a span {
	background: none;
	font-size: 1em;
	padding: 0;
}

#navigation li.selected a {
	color: #65EBFF;
	padding: 5px 10px;
}

#navigation li.selected a, #navigation li selected a:hover {
	background-color: transparent;
	border-top: 5px solid black;
}

#navigation li.selected a:hover {
	padding-bottom: 5px;
}

#navigation li.selected {
	background: none;
	margin-top: -5px;
	padding-left: 0;
	padding-right: 0;
}

#navigation ul {
	float: right;
	margin-right: 35px;
	width: auto;
}

#navigation {
	background: transparent;
	border: none;
	margin: 0;
	padding: 0 0 5px;
	width: 100%;
}

.portlet-section-body td {
	background: #DDD none;
	color: black;
}

.portlet-section-header th {
	border-bottom: 1px solid #F8D766;
}

.portlet-section-header {
	background: #999 none;
}

.portlet-title img {
	display: none;
}

.portlet-title {
	font-size: 18px;
}

.portlet-topper, .portlet-content, .portlet-title {
	background: none;
}

.portlet {
	background: url(../images/custom/portlet_bg.png) repeat-x;
}

#wrapper {
	background: none;
}

.portlet-calendar .calendar-container {
	background: transparent;
}

.taglib-calendar tr th {
	color: black;
}