/* This file allows you to override default styles in one central location for easier upgrade and maintenance. */

/* ---------- Base ---------- */

body {
	background: #001342;
}

/* ---------- Banner ---------- */

#banner {
	background: url(../images/custom/banner_bg.png);
	height: 102px;
	padding: 40px 50px;
	position: relative;
}

/* ---------- Dock ---------- */

.js .interactive-mode {
	right: 50px;
	top: 40px;
	z-index: 30;
}

/* ---------- Navigation ---------- */

#navigation {
	background: url(../images/custom/banner_bg.png) left bottom;
	height: 64px;
	padding: 0 40px;
}

#navigation ul, #add-page {
	float: left;
}

#navigation li {
	height: 64px;
}

#navigation li.selected {
	background: url(../images/custom/navigation_current_bg.jpg) no-repeat center bottom;
}

#navigation a, #navigation .enter-page {
	color: #FFF;
	display: block;
	float: left;
	font: bold 15px Century Gothic,Trebuchet MS,Helvetica,Arial,Geneva,sans-serif;
	height: 21px;
	letter-spacing: 1px;
	padding: 0 15px;
	text-decoration: none;
	text-transform: uppercase;
}

#navigation .enter-page {
	position: relative;
	top: -7px;
}

#navigation .selected a, #navigation a:hover {
	color: #333;
}

#navigation .save-page, #navigation .save-page:hover {
	background: none;
	border-right: 0;
	display: inline;
	float: none;
}

#navigation .cancel-page {
	display: none;
}

/* ---------- Content Wrapper ---------- */

#content-wrapper {
	background: #1183DA;
	border-bottom: 5px solid #86CC15;
	padding: 10px 40px;
	zoom: 1;
}

/* ---------- Portlet ---------- */

.portlet {
	background: url(../images/custom/portlet_bg.jpg);
	border: 5px solid #1F8ADE;
	margin: 0 0 20px;
	padding: 10px 10px 20px;
}

.portlet-topper {
	margin: 0 0 10px;
}

.portlet-title {
	color: #B1E100;
	font: bold 34px Trebuchet MS,Arial,sans-serif;
	letter-spacing: -2px;
}

.portlet-title img {
	display: none;
}

.portlet-content {
	color: #F2F9FF;
	font: 12px/1.7 Verdana,Tahoma,sans-serif;
}

/* ---------- Calendar ---------- */

.portlet-calendar .calendar-day .day-text, .portlet-calendar .results-header {
	background: #114b78;
}

.portlet-calendar .day-number, .portlet-calendar .portlet-section-body td, .calendar-panel {
	color: #fff;
}

.portlet-calendar .day-number, .portlet-calendar .portlet-section-body td, .calendar-panel {
	color: #000;
}

/* ---------- Tabs ---------- */

.ui-tabs {
	border-bottom: 2px solid #186bab;
}

.ui-tabs li a, .ui-tabs li span, .ui-tabs li.current a, .ui-tabs li.current span {
	background: #114b78;
	border: 2px solid #186bab;
	margin: 0 0 -2px 0;
	color: #DDD;
	top: auto;
}


.ui-tabs li a:hover, .ui-tabs li span:hover, .ui-tabs li.current a:hover, .ui-tabs li.current span:hover {
	background: #0a2b45;
	color: #FFF;
	text-decoration: none;
}

/* ---------- Footer ---------- */

#footer {
	padding: 30px 0;
}