/* This file allows you to override default styles in one central location for easier upgrade and maintenance. */

/* ---------- Wrapper ---------- */
#skip-to-content,
#banner h2,
#banner h3,
#navigation h1,
#breadcrumbs,
.site-breadcrumbs h1 {
	left: -99999px;
	overflow: hidden;
	position: absolute;
	width: 1%;
}

a,
a:visited {
	color: #456;
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
}

#wrapper {
	margin: 0 auto;
	padding: 0 1px;
	width: 970px;
}

/* ---------- Banner ---------- */

#banner {
	background: url(../images/custom/banner_bg.png) left bottom;
	overflow: hidden;
	padding: 6px 24px;
	position: relative;
}

#banner .sign-in {
	position: absolute;
	right: 24px;
	top: 6px;
}

/* ---------- Page search ---------- */

#page-search {
	bottom: 0;
	position: absolute;
	right: 10px;
}

/* ---------- Navigation ---------- */

#navigation {
	background: url(../images/custom/navigation_bg.png) left bottom;
	height: 31px;
	padding: 9px 24px;
}

#navigation ul {
	list-style: none;
	margin: 0;
}

#navigation li,
#navigation a {
	float: left;
}

#navigation a {
	color: #FFF;
	display: block;
	font: 11px/23px Lucida Sans Unicode, Lucida Grande, sans-serif;
	padding: 1px 12px;
	text-decoration: none;
}

#navigation a:hover {
	background: #32AFEE url(../images/custom/navigation_item_hover.png);
	border: 1px solid #1C4980;
	border-color: #1D4A81 #1D4A81 #20487B #0D376E;
	padding: 0 11px;
}

#navigation .selected a {
	background: #32AFEE url(../images/custom/navigation_item_selected.png);
	border: 1px solid #1C4980;
	border-color: #1C4980 #1D4A81 #1F477A #0D376E;
	padding: 0 11px;
}


#navigation ul li ul.child-menu {
	display: none;
}

/* ---------- Content Wrapper ---------- */

#content {
	background: url(../images/custom/content_wrapper_bg.png) repeat-y center top;
	padding: 10px;
}

#main-content{
	padding: 0 5px;
}

/* ---------- Portlet ---------- */

.portlet {
	margin: 0 0 28px;
}

.portlet-topper {
	border-bottom: 2px solid #12558E;
	line-height: 24px;
}

.portlet-title {
	color: #12558E;
	display: block;
	font: 14px/25px Lucida Sans Unicode, Lucida Grande, sans-serif;
	height: 25px;
}

.portlet-content {
	padding: 10px;
}

.aui-tab-active span a {
	color: #FFF;
}

/* ---------- Footer ---------- */

#footer {
	background: #002F62 url(../images/custom/footer_bg.png) no-repeat left -50px;
	padding: 0 0 0 3px;
}

#footer .powered-by {
	background: url(../images/custom/footer_bg.png) no-repeat right top;
	padding: 8px 5px;
	text-align: right;
}

#footer .powered-by a {
	margin-right: 5px;
}