/* -------- Global -------- */

#skip-to-content,
#heading .community-title,
#heading .page-title,
#navigation h1 {
	clip: rect(0 0 0 0);
	position: absolute;
}

/* -------- Wrapper / Skip / Sign-in -------- */

#wrapper {
	margin: 0 auto;
	position: relative;
	width: 970px;
}

#skip-to-content,
#sign-in {
	color: #1C4980;
	right: 1.5em;
	z-index: 4;
}

#skip-to-content {
	top: 2.25em;
}

#skip-to-content:active,
#skip-to-content:focus {
	clip: auto;
}

#sign-in {
	position: absolute;
	top: 1em;
}

/* -------- Heading -------- */

#banner {
	background: url(../images/custom/banner_bg.png) left bottom;
	overflow: hidden;
	padding: 6px 24px;
	position: relative;
}

#heading .company-title {
	margin: 0;
}

#heading .company-title a {
	margin: 0 auto;
}

/* ---------- Page search ---------- */

#page-search {
	float: right;
	height: 20px;
	margin: 0 5px 0 0;
	position: absolute;
	right: 0px;
	top: 40px;
}

/* -------- Navigation -------- */

#navigation {
	background: url(../images/custom/navigation_bg.png) left bottom;
	height: 31px;
	margin: 0 0 14px;
	padding: 9px 24px;
}

#navigation ul {
	list-style: none;
	margin: 0;
}

.ie6 #navigation ul,
.ie7 #navigation ul {
	zoom: 1;
}

#navigation ul:after {
	clear: both;
	content: "";
	display: block;
}

#navigation li,
#navigation a {
	float: left;
}

#navigation a {
	color: #FFF;
	display: block;
	font: 11px/23px Lucida Sans Unicode, Lucida Grande, sans-serif;
	padding: 1px 12px;
	text-decoration: none;
}

#navigation a:active,
#navigation a:focus,
#navigation a:hover {
	background: #32AFEE url(../images/custom/navigation_item_hover.png);
	border: 1px solid #1C4980;
	border-color: #1D4A81 #1D4A81 #20487B #0D376E;
	padding: 0 11px;
}

#navigation .selected a {
	background: #32AFEE url(../images/custom/navigation_item_selected.png);
	border: 1px solid #1C4980;
	border-color: #1C4980 #1D4A81 #1F477A #0D376E;
	padding: 0 11px;
}

/* -------- Content -------- */

#content {
	background: url(../images/custom/content_bg.png) repeat-y center top;
	padding: 10px;
}

#breadcrumbs {
	display: none;
}

/* ---------- Portlet ---------- */

.portlet {
	margin: 0 0 28px;
}

.portlet-topper {
	border-bottom: 2px solid #12558E;
}

.portlet-title {
	color: #12558E;
	display: block;
	font: 14px/25px Lucida Sans Unicode, Lucida Grande, sans-serif;
	height: 25px;
}

.portlet-content {
	padding: 10px;
}

/* -------- Footer -------- */

#footer {
	background: #002F62 url(../images/custom/footer_bg.png) no-repeat left -50px;
	height: 25px;
	padding: 0 3px 0 3px;
}

#footer .language {
	float: right;
	margin: 4px;
}