/* This file allows you to override default styles in one central location for easier upgrade and maintenance. */

address, caption, cite, code, dfn, em, strong, th, var {
	color: black;
}

body {
	font: 62.5%/1.6em 'Tahoma','Lucida Sans Unicode','courier','Lucida',Arial,Verdana,sans-serif;
	 text-align: center;
  background: #F4FDE5 url('../img/bg.jpg') repeat fixed;
  margin-top:10px;
  margin-bottom:10px;
}

a {
	color: black;
	text-decoration: none;
}

a:hover {
	color: black;
	text-decoration: underline;
}

b, strong {
	color: black;
}

i, em {
	color: black;
}

.important {
	color: black;
}

body.staging {
	border: 100px solid #c00;
}

#wrapper {
	margin: 0pt auto;
	width: 60%;
	background: white;
	border: 1px solid green;
	}

#banner { 
	height: 120px;
	background-image: url(../images/fruitimg/header.jpg);
	background-repeat:no-repeat;
	top: 0px;
	left: 0px;
}

#banner .logo {
	background: transparent;
	position: absolute;
	left: 0px;
	top: 5px;
	display: none;
	float: none;
	font-size: none;
	padding: none;
	
}

#banner .logo a {
	text-decoration: none;
}

.popup-close {
	cursor:  crosshair;
}

.loading-animation {
	background: url(../images/custom/loading_animation.gif) no-repeat top center;
}

.columns-2 #column-1 {
	padding-left: 10px;
	padding-bottom: 10px;
	}

.columns-2 #column-2 {
	padding-right:10px;
	padding-bottom: 10px;
	border-left: 1px dotted #C0C0C0;
	padding-top: 100px;
	background-image: url(../images/fruitimg/strawberries.jpg);
	background-repeat: no-repeat;
	background-position: center top;
}

#navigation {
	margin: 0 0 0 0;
	width: auto;
	height: 30px;
	background-image: url(../images/fruitimg/menu_bg.gif);
	background-repeat: repeat;
	min-height: none;
	padding-right: none;
}

#navigation ul {
	position: absolute;
	left: 121px;
	top: 150px;
	height: 30px;
	width: 100px
	background-image: url(../images/fruitimg/menu_bg.gif);
	background-repeat: repeat;
	float: none;
	min-height: none;

	
}

.ie6 #navigation, .ie6 #navigation ul {
	overflow: hidden;
	width: 255px;
}

#navigation li {
	background-image: url(../images/fruitimg/menu_bg.gif);
	background-repeat: repeat;
	color:white;
	left: 132px;
	top: -20px;
	width: 100px;
	height: 30px;
	text-align: center;
	border-style: solid;
	border-left-width: 0px;
	border-bottom-width: 0px;
	border-top-width: 1px;
	border-right-width: 1px;
	font-size: 10pt;
	margin-right: none;
	padding: none;
}

#navigation li a {
	padding-top: none;
	background-image: url(../images/fruitimg/menu_bg.gif);
	background-repeat: repeat;
	color: white;
	font-weight: bold;
	padding: none;
	text-decoration: none;
}

#navigation li a:hover {
	padding-bottom: none;
}

#navigation li a span {
	background-image: url(../images/fruitimg/menu_bg.gif);
	background-repeat: repeat;
	position: relative;
	top: 5px;
	padding-left: none;
	text-decoration: none;
}

#navigation li.selected a {
	padding-top: none;
	background-image: url(../images/fruitimg/menu_bg.gif);
	background-repeat: repeat;
}

#navigation li.selected a span {
background-image: url(../images/fruitimg/menu_bg.gif);
	background-repeat: repeat;
	font-size: none;
	font-weight: none;

}

#navigation li.selected a:hover {
background-image: url(../images/fruitimg/menu_hover_bg.gif);
	background-repeat: repeat;
	padding-bottom:none;
}

#navigation li a:hover span {
	text-decoration: underline;
	background:none;
}						 

.js .lfr-dock.interactive-mode {
	min-width: 211px;
	right: 547px;
	top: 75px;
}

.js #add-page {
	float: none
	position: absolute;
	top: 150px;
	left: 415px;
}

.js #add-page a {
	position: absolute;
	left: 260px;
	top: 170px;
}

.js #add-page a span {
	position: relative;
	top:0px;
	left: 3px;
}

.js #add-page a:hover span {
	position: relative;
	top:0px;
	left: 3px;
}

.portlet, .portlet-topper, .portlet-content, .portlet-title {
position: relative;
	left: 0px;
	top: 15px;
	background:none;
}

.portlet {
	padding-right: 0px;
	background: #F4FDE5 url('../img/bg.jpg') top center no-repeat fixed;
	border-style: solid;
	border-width: 1px;
	border-color:#9ACD32;
	
}

.portlet-topper {
	left: 0px;
	top: 0px;
	background: #F4FDE5 url('../img/bg.jpg') top center no-repeat fixed;
	border-bottom: 1px solid #9ACD32;
	margin-right: none;
	padding-right: none;
	}

.portlet-title {
	font-size: 9pt;
	padding: 8px 0 30px 10px;
}

.portlet-icons {
	background: #F4FDE5 url('../img/bg.jpg') top center no-repeat fixed;
}

.portlet-icon-back {
	font-size: 10pt;
}

.portlet-section-header {
	background-image: url(../images/fruitimg/menu_bg.gif);
	background-repeat: repeat;
	border: 1px solid white;
}

.portlet-section-header th {
	border: 1px solid white;
	color: white;
}

.portlet-section-body td {
border-top: none;
}

.portlet-section-alternate td {
border-top: none;
}

.portlet-section-alternate-hover td, .portlet-section-body-hover td {
border-bottom: none;
border-top: none;
}

.tabs {
	padding: 0 0 2.6em 0;
	border-bottom: none;
}

.tabs li {
	background-image: url(../images/fruitimg/menu_hover_bg.gif);
	background-repeat: repeat;
	font-size: 9pt;
	margin-right: none;
}

.tabs li a, .tabs li span {
	color: white;
	background:none;
}

.tabs li.current {
font-weight: bold;
	background-image: url(../images/fruitimg/menu_bg.gif);
	background-repeat: repeat;
	background:none;
	top:none;
}

.tabs li.current a, .tabs li.current span {
background:none;
color:none;
padding:none;
}

.ie .tabs li.current {
top:none;
}







