/* This file allows you to override default styles in one central location for easier upgrade and maintenance. */
body {
	background-color: #ED0304;
	background-image: url(../images/comment/bg.gif);
	background-position: left top;
	background-repeat: no-repeat;
	color: #222222;
	font-family: "Trebuchet MS", "Lucida Grande", Verdana, Georgia,
		Sans-Serif;
	margin: 0pt;
	padding: 0pt;
}

#banner {
	background: transparent url(../images/comment/header.png) repeat scroll
		0%;
	border-bottom: 0px none;
	clear: both;
	height: 216px;
	margin: 0px auto;
	padding-right: 20px;
	width: 930px;
}

#content-wrapper {
	margin: 0pt auto;
	width: 950px;
	background: #FFFFFF none repeat scroll 0%;
	clear: both;
	color: #555555;
}

#banner .logo {
	display: block;
	font-size: 2em;
	margin: 0pt auto;
	padding: 1.25em 0pt 55px;
}

.portlet {
	border: none;
	margin-bottom: 1em;
	text-align: left;
	font-size: 12px;
}

a:link {
	color: #ED0304;
	text-decoration: none;
}

.portlet-title {
	color: #7B7B7B;
	display: block;
	min-width: 50%;
	padding: 8px 0pt 4px 10px;
	font-size: 14px;
	font-weight: bold;
}

#footer {
	background: #FFFFFF url(../images/comment/footer-bg.gif) no-repeat
		scroll center bottom;
	clear: both;
	color: #ED0304;
	font-size: 11px;
	padding-bottom: 10px;
	padding-left: 20px;
	text-align: left;
	width: 930px;
	margin: 0px auto;
}

#navigation li {
	background: none;
	display: inline;
	float: left;
	margin-right: 0.5em;
	position: relative;
}

#navigation li a span {
	color: black;
	display: block;
	padding: 1em 1.5em;
}

.js .lfr-dock.interactive-mode li a {
	background-position: 0.5em 50%;
	background-repeat: no-repeat;
	border-top: 1px solid #CCCCCC;
	color: black;
	display: block;
	margin-left: 0.3em;
	padding: 0.5em 0pt 0.5em 2.5em;
	text-decoration: none;
}

#navigation li a {
	text-decoration: none;
	font-size: 13px;
}

#navigation li.selected a {
	padding-top: 0.5em;
}

#navigation li.selected {
	border-top: 0px;
	font-weight: bold;
}

.portlet-topper {
	background: #FE8787 url(../images/comment/portlet_top.png) repeat-x
		scroll 0% 0%;
	position: relative;
}

.tabs li.current {
	background: #FFAAAA url(../images/comment/tabs_active_bg.png) repeat-x
		scroll 0pt 0%;
	font-weight: bold;
}

.tabs li {
	background: #FFAAAA url(../images/commnet/tabs_inactive_bg.png) repeat-x
		scroll 0pt 100%;
	border-color: #FFAAAA;
	border-style: solid solid none;
	border-width: 1px 1px 0pt;
	display: inline;
	float: left;
	line-height: 2.25;
	margin-right: 0.8em;
	padding: 0pt;
	text-decoration: none;
}

.tabs {
	border-bottom: 1px solid #FF2626;
	margin: 0pt 0pt 1.5em;
	padding: 0pt 0pt 2.6em 1em;
}