#footer {
	background-color: $background-color-4;
	color: #666669;
	padding: 55px 0;

	a {
		color: #919294;
	}
}

#company-info {
	text-align: center;

	@include media-query($breakpoint_tablet, null) {
		text-align: left;
	}

	border-bottom: 1px solid #2F3033;
	margin-bottom: 70px;
	padding-bottom: 30px;
}

#footer-brand {
	margin-bottom: 15px;

	@include media-query($breakpoint_tablet, null) {
		display: inline-block;
		vertical-align: middle;
	}
}

#footer-recursive {
	display: inline-block;
	margin-bottom: 15px;

	@include media-query($breakpoint_tablet, null) {
		margin-left: 132px;
		vertical-align: middle;
	}
}

#social-networks {
	padding-top: 15px;

	@include media-query($breakpoint_tablet, null) {
		float: right;
		margin-top: -25px;
		padding-top: 0;
	}

	li {
		height: 64px;
		width: 64px;

		a {
			background-color: #2B2C30;
			border-radius: 50%;
			display: block;
			height: inherit;
			line-height: 64px;
			text-align: center;
			width: inherit;

			&:hover span, &:focus span {
				color: $color-2;
				text-decoration: none;
			}
		}
	}

	.icon-facebook {
		color: #57599F;
	}

	.icon-twitter {
		color: #7BC6DC;
	}
}