#navigation {
	position: relative;
	z-index: 300;

	.portlet {
		margin: 0;
	}
}

#banner {
	background-color: $background-color-3;

	.portlet-content {
		padding: 0;
	}

	.navbar {
		margin-bottom: 0;

		.custom-logo {
			color: $color-2;
			line-height: 28px;

			.site-name {
				margin-left: 16px;
			}
		}
	}

	.navbar-nav {
		> li {
			> a {
				color: $color-2;
			}
		}
	}

	a.logo {
		color: $color-2;
		margin-top: 10px;

		@include sm {
			margin-top: 17px;
		}
	}
}

.full-screen-navigation {
	&.main-nav-opened {
		overflow: hidden;

		#banner .navbar-toggle {
			z-index: 503;
		}
	}

	#banner {
		@include sm {
			.navbar-header {
				margin-top: 8px;
			}

			.logo {
				margin-top: 9px;
			}
		}

		.navbar-toggle {
			display: block;
			position: relative;
		}

		.navbar {
			margin-bottom: 0;

			.collapse {
				background-color: $background-color-1;

				&.in {
					bottom: 0;
					left: 0;
					position: fixed;
					right: 0;
					top: 0;
					z-index: 502;
				}
			}
		}

		.navbar-header, .navbar-left, .navbar-right {
			float: none;
		}

		.navbar-nav {
			float: none;
			margin-right: 0;

			> li {
				float: none;
				text-align: center;

				> a {
					display: block;
					font-size: 34px;
					padding: 30px 15px;

					@include sm {
						font-size: 54px;
					}
				}
			}
		}
	}

	#navigationCollapse {
		&.in, &.collapsing  {
			bottom: 0;
			height: auto;
			left: 0;
			overflow: auto;
			position: fixed;
			right: 0;
			top: 0;
			z-index: 502;

			#navigation {
				left: 0;
				position: absolute;
				right: 0;
				top: 50%;

				@include transform(translateY(-50%));
			}
		}

		&.collapsing {
			display: none;
		}
	}
}

.navbar-toggle {
	.icon-bar {
		background-color: $color-2;

		@include transform(rotate(0));
		@include transition(all 0.2s ease-in-out);
	}

	&[aria-expanded="true"] {
		.icon-bar {
			position: relative;

			&:first-child {
				top: -2px;

				@include transform(rotate(45deg));
				@include transform-origin(10% 10%);
			}

			&:last-child {
				bottom: -2px;

				@include transform(rotate(-45deg));
				@include transform-origin(10% 90%);
			}
		}
	}
}