.social-networking-portlet-meetups {
	.meetup-description {
		margin-bottom: 10px;
	}

	.meetup-form {
		clear: both;
	}

	.response {
		float: left;
		margin-right: 15px;
		position: relative;

		.comments {
			background: #E2E6E8;
			border: 1px solid #6B767B;
			bottom: 110%;
			display: none;
			left: -20px;
			padding: 5px;
			position: absolute;
			width: 200px;
		}

		&.hovering .comments {
			display: block;
		}

		&.indicator {
			background: url(../images/indicator.png) no-repeat;
			bottom: -15px;
			height: 15px;
			left: 50px;
			position: absolute;
			width: 15px;
		}
	}
}