/* ---------- Alerts and popups ---------- */

.ie6 .popup-alert-notice, .ie6 .popup-alert-warning {
	left: 37%;
	position: absolute;
	top: 72%;
}

/* ---------- Dock menu ---------- */

.ie6.js .lfr-flyout.has-children ul {
	left: 184px;
}

.ie6.js .lfr-flyout.has-children ul ul {
	left: 100%;
}

/* ---------- Portlet wrapper and icons ---------- */

.ie6 #taskbar-portlets .taskbar-link a {
	background: #2A5C7E;
}

.ie6 #taskbar-portlets .taskbar-link a:hover {
	background: #477097;
}

.ie6 #taskbar-portlets .taskbar-link.selected a {
	background: #5A93C4;
}

.ie6 .icon-min a {
	background: transparent url(../../images/portlet/minimize_hover.png) no-repeat scroll 0 0;
	filter: alpha(opacity=50);
	opacity: .5;
}

.ie6 .icon-max a {
	background: transparent url(../../images/portlet/maximize_hover.png) no-repeat scroll 0 0;
	filter: alpha(opacity=50);
	opacity: .5;
}

.ie6 .icon-close a {
	background: transparent url(../../images/portlet/close_hover.png) no-repeat scroll 0 0;
	filter: alpha(opacity=50);
	opacity: .5;
}

.ie6 .icon-min a.selected, .ie6 .icon-max a.selected, .ie6 .icon-close a.selected {
	filter: alpha(opacity=100);
	opacity: 1;
}

/* ---------- Portlet container ---------- */

.ie6 .portlet-middle {
	height: 1%;
}

/* ---------- Add Content portlet ---------- */

.ie6 #portal_add_content .expanded {
	background-image: none;
}