/* ---------- Taskbar container ---------- */

#taskbar-container {
	background: transparent url(../../images/taskbar/taskbar_bg.png) repeat-x scroll 0 0;
	height: 30px;
	position: relative;
	z-index: 101;
}

#taskbar {
	background: transparent url(../../images/taskbar/taskbar_spacer.png) no-repeat scroll 40px 0;
	height: 30px;
	left: 0;
	top: 0;
	width: 100%;
}

/* ---------- Taskbar portlet links ---------- */

#taskbar-portlets-wrapper {
	height: 28px;
	left: 0;
	overflow: hidden;
	position: absolute;
	top: 1px;
	width: 100%;
}

#taskbar-portlets {
	margin: 0;
	padding: 0 10px 0 53px;
}

#taskbar-portlets .taskbar-link {
	float: left;
	list-style-type: none;
	max-width: 200px;
	min-width: 40px;
	overflow: hidden;
	white-space: nowrap;
}

#taskbar-portlets .taskbar-link a {
	background: transparent url(../../images/taskbar/taskbar_link_bg.png) no-repeat scroll 100% 0;
	border-color: #999 #202020 #202020 #999;
	border-style: solid;
	border-width: 1px;
	color: #EEE;
	display: block;
	font-size: 13px;
	line-height: 16px;
	height: 16px;
	padding: 5px 7px;
	text-decoration: none;
}

#taskbar-portlets .taskbar-link a:hover {
	background: transparent url(../../images/taskbar/taskbar_link_hover_bg.png) no-repeat scroll 0 0;
	border-color: #202020 #999 #999 #202020;
}

#taskbar-portlets .taskbar-link.selected a {
	background: transparent url(../../images/taskbar/taskbar_link_selected_bg.png) no-repeat scroll 0 0;
	border-color: #202020 #999 #999 #202020;
	color: #F2F2F2;
}

#taskbar-portlets .taskbar-link-title {
	overflow: hidden;
}