/* -------- Global -------- */

#skip-to-content,
#heading .community-title,
#heading .page-title,
#navigation h1,
#navigation .child-menu {
	clip: rect(0 0 0 0);
	position: absolute;
}

body {
	background: #CCC url(../images/custom/body_bg.gif) repeat-y center top;
	color: #333;
	margin: 0 0 20px;
}

/* -------- Wrapper / Skip / Sign-in -------- */

#wrapper {
	background: #FFF;
	border: 3px double #EEE;
	border-color: #E4E4E4 #CFCFCF #CCC;
	margin: 20px auto 4px;
	padding: 10px;
	position: relative;
	width: 940px;
}

#skip-to-content,
#sign-in {
	color: #333;
	right: 2em;
}

#skip-to-content {
	top: 3em;
}

#skip-to-content:active,
#skip-to-content:focus {
	clip: auto;
}

#sign-in {
	position: absolute;
	top: 1.5em;
}

/* -------- Heading -------- */

#heading {
	background: #F5F5F5 url(../images/custom/heading_bg.png);
	height: 70px;
	padding: 70px;
}

#heading .company-title {
	margin: 0;
}

#heading .company-title a {
	margin: 0;
}

/* -------- Navigation -------- */

#navigation {
	background: #EEE;
	border: 1px solid #E5E5E5;
	border-top-color: #CECECE;
	height: 44px;
}

#navigation ul {
	list-style: none;
	margin: 0;
}

.ie6 #navigation ul,
.ie7 #navigation ul {
	zoom: 1;
}

#navigation ul:after {
	clear: both;
	content: ".";
	display: block;
	height: 0;
	line-height: 0;
	visibility: hidden;
}

#navigation li,
#navigation a {
	float: left;
}

#navigation a {
	border-right: 1px solid #CECECE;
	color: #888;
	display: block;
	height: 36px;
	padding: 4px 60px 4px 10px;
	text-decoration: none;
}

#navigation a:active,
#navigation a:focus,
#navigation a:hover {
	background: url(../images/custom/navigation_item_hover.gif) repeat-x;
	color: #555;
}

#navigation .selected a {
	background: #E3E3E3;
}

/* -------- Content -------- */

#breadcrumbs {
	display: none;
}

/* ---------- Portlet ---------- */

.portlet {
	background: #FCFCFC url(../images/custom/portlet_bg.gif) repeat-x;
	border-bottom: 25px solid #F5F5F5;
	padding: 10px;
}

.portlet-topper {
	padding: 0 0 6px;
}

.portlet-title {
	font-size: 12px;
	font-weight: bold;
}

.portlet-content {
	color: #666;
	padding: 3px 0 6px;
}

/* -------- Footer -------- */

#footer p {
	margin: 0;
}