/* This file allows you to override default styles in one central location for easier upgrade and maintenance. */

/* ---------- Base ---------- */

body {
	background: #CCC url(../images/custom/body_bg.gif) repeat-y center top;
	color: #333;
	padding: 20px 0 4px;
}

/* ---------- Wrapper ---------- */

#wrapper {
	background: #FFF;
	border: 3px double #EEE;
	border-color: #E4E4E4 #CFCFCF #CCC;
	margin: 0 auto;
	padding: 10px;
	width: 940px;
}

/* ---------- Banner ---------- */

#banner {
	background: #F5F5F5 url(../images/custom/banner_bg.png);
	height: 120px;
	padding: 60px;
	position: relative;
}

#banner .sign-in {
	position: absolute;
	top: 10px;
	right: 40px;
}

/* ---------- Logo ---------- */

#banner .logo a {
	margin: 0 auto;
}

/* ---------- Navigation ---------- */

#navigation {
	background: #EEE;
	border: 1px solid #E5E5E5;
	border-top-color: #CECECE;
	height: 44px;
}

#navigation ul {
	list-style: none;
	margin: 0;
}

#navigation li,
#navigation a {
	float: left;
}

#navigation a {
	border-right: 1px solid #CECECE;
	color: #888;
	display: block;
	height: 36px;
	padding: 4px 60px 4px 10px;
	text-decoration: none;
}

#navigation a:hover {
	background: url(../images/custom/navigation_item_hover.gif) repeat-x;
	color: #555;
}

#navigation .selected a {
	background: #E3E3E3;
}

/* ---------- Portlet ---------- */

.portlet {
	background: #FCFCFC url(../images/custom/portlet_bg.gif) repeat-x;
	border-bottom: 25px solid #F5F5F5;
	padding: 10px;
}

.portlet-topper {
	padding: 0 0 6px;
}

.portlet-title {
	font-weight: bold;
	font-size: 12px;
}

.portlet-content {
	color: #666;
	padding: 3px 0 6px;
}