/* This file allows you to override default styles in one central location for easier upgrade and maintenance. */

/* ---------- Base ---------- */

body {
	background: #CCC url(../images/custom/body_bg.gif) repeat-y center top;
	color: #333;
	padding: 20px 0 4px;
}

/* ---------- Wrapper ---------- */

#wrapper {
	background: #FFF;
	border: 3px double #EEE;
	border-color: #E4E4E4 #CFCFCF #CCC #CFCFCF;
	margin: 0 auto;
	padding: 10px;
	position: relative;
	width: 940px;
}

/* ---------- Banner ---------- */

#banner {
	background: #F5F5F5 url(../images/custom/banner_bg.png);
	height: 120px;
	padding: 60px;
	position: relative;
}

/* ---------- Logo ---------- */

#banner .logo a {
	margin: 0 auto;
}

/* ---------- Dock ---------- */

.js .interactive-mode {
	right: 10px;
}

/* ---------- Navigation ---------- */

#navigation {
	background: #EEE;
	border: 1px solid #E5E5E5;
	border-top-color: #CECECE;
	height: 44px;
}

#navigation ul,
#add-page {
	float: left;
}

#navigation a,
#navigation .enter-page {
	border-right: 1px solid #CECECE;
	color: #888;
	display: block;
	float: left;
	height: 36px;
	padding: 4px 60px 4px 10px;
	text-decoration: none;
}

#navigation a:hover {
	background: url(../images/custom/navigation_hover_bg.gif) repeat-x;
	color: #555;
}

#navigation .selected a {
	background: #E3E3E3;
}

#navigation .save-page,
#navigation .save-page:hover {
	background: none;
	border-right: 0;
	display: inline;
	float: none;
	padding: 5px 8px;
}

.ie7 #navigation .save-page {
	position: relative;
	top: -10px;
}

#navigation .cancel-page {
	display: none;
}

/* ---------- Content Wrapper ---------- */

.lfr-grid .lfr-column {
	padding: 0;
}

/* ---------- Portlet ---------- */

.portlet {
	background: #FCFCFC url(../images/custom/portlet_bg.gif) repeat-x;
	border-bottom: 25px solid #F5F5F5;
	padding: 10px;
}

.portlet-topper {
	padding: 0 0 12px;
}

.portlet-title {
	font: bold 12px Arial,Helvetica,sans-serif;
}

.portlet-title img {
	display: none;
}

.portlet-content {
	color: #666;
	font: 11px Arial,Helvetica,sans-serif;
	padding: 3px 0 6px;
}

/* ---------- Tabs ---------- */

.ui-tabs {
	border-bottom: 1px solid #A0A9AD;
}

.ui-tabs li a,
.tabs li span {
	background: #CEDAE0;
	border: 1px solid #A0A9AD;
	margin: 0 -1px 0 0;
	color: #000;
}