<?xml version="1.0"?>
<!DOCTYPE hibernate-configuration PUBLIC "-//Hibernate/Hibernate Configuration DTD 3.0//EN" "http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">

<hibernate-configuration>
	<session-factory>

		<!-- Daffodil -->
		
		<!--<property name="hibernate.dialect">org.hibernate.dialect.DaffodilDBDialect</property>
		<property name="hibernate.connection.driver_class">in.co.daffodil.db.rmi.RmiDaffodilDBDriver</property>
		<property name="hibernate.connection.url">jdbc:daffodilDB://localhost:3456/jbpm;create=true</property>
		<property name="hibernate.connection.username"></property>
		<property name="hibernate.connection.password"></property>-->

		<!-- DB2 -->
		
		<!--<property name="hibernate.dialect">org.hibernate.dialect.DB2Dialect</property>
		<property name="hibernate.connection.driver_class"></property>
		<property name="hibernate.connection.url"></property>
		<property name="hibernate.connection.username"></property>
		<property name="hibernate.connection.password"></property>-->

		<!-- Derby -->
		
		<!--<property name="hibernate.dialect">org.hibernate.dialect.DerbyDialect</property>
		<property name="hibernate.connection.driver_class">org.apache.derby.jdbc.EmbeddedDriver</property>
		<property name="hibernate.connection.url">jdbc:derby:build/derby/jbpm;create=true</property>
		<property name="hibernate.connection.username"></property>
		<property name="hibernate.connection.password"></property>-->

		<!-- Firebird -->
		
		<!--<property name="hibernate.dialect">org.hibernate.dialect.FirebirdDialect</property>
		<property name="hibernate.connection.driver_class">org.firebirdsql.jdbc.FBDriver</property>
		<property name="hibernate.connection.url">jdbc:firebirdsql:localhost:jbpm</property>
		<property name="hibernate.connection.username"></property>
		<property name="hibernate.connection.password"></property>-->

		<!-- Hypersonic -->

		<property name="hibernate.dialect">org.hibernate.dialect.HSQLDialect</property>
		<property name="hibernate.connection.driver_class">org.hsqldb.jdbcDriver</property>
		<property name="hibernate.connection.url">jdbc:hsqldb:file:../webapps/jbpm-web/WEB-INF/sql/jbpm</property>
		<property name="hibernate.connection.username">sa</property>
		<property name="hibernate.connection.password"></property>

		<!-- MySQL -->
		
		<!--<property name="hibernate.dialect">org.hibernate.dialect.MySQLDialect</property>
		<property name="hibernate.connection.driver_class">com.mysql.jdbc.Driver</property>
		<property name="hibernate.connection.url">jdbc:mysql://localhost/jbpm?useUnicode=true&amp;characterEncoding=UTF-8</property>
		<property name="hibernate.connection.username"></property>
		<property name="hibernate.connection.password"></property>-->

		<!-- Oracle -->
		
		<!--<property name="hibernate.dialect">org.hibernate.dialect.Oracle9Dialect</property>
		<property name="hibernate.connection.driver_class">oracle.jdbc.driver.OracleDriver</property>
		<property name="hibernate.connection.url">jdbc:oracle:thin:@localhost:1521:jbpm</property>
		<property name="hibernate.connection.username"></property>
		<property name="hibernate.connection.password"></property>-->

		<!-- PostgreSQL -->
		
		<!--<property name="hibernate.dialect">org.hibernate.dialect.PostgreSQLDialect</property>
		<property name="hibernate.connection.driver_class">org.postgresql.Driver</property>
		<property name="hibernate.connection.url">jdbc:postgresql://localhost:5432/jbpm</property>
		<property name="hibernate.connection.username"></property>
		<property name="hibernate.connection.password"></property>-->

		<!-- SQL Server -->
		
		<!--<property name="hibernate.dialect">org.hibernate.dialect.SQLServerDialect</property>
		<property name="hibernate.connection.driver_class">net.sourceforge.jtds.jdbc.Driver</property>
		<property name="hibernate.connection.url">jtds:sqlserver://localhost:1433/jbpm</property>
		<property name="hibernate.connection.username"></property>
		<property name="hibernate.connection.password"></property>-->

		<!-- Sybase -->
		
		<!--<property name="hibernate.dialect">org.hibernate.dialect.SybaseDialect</property>
		<property name="hibernate.connection.driver_class">net.sourceforge.jtds.jdbc.Driver</property>
		<property name="hibernate.connection.url">jdbc:jtds:sybase://localhost:7100/jbpm</property>
		<property name="hibernate.connection.username"></property>
		<property name="hibernate.connection.password"></property>-->

		<!-- Mappings -->

		<mapping resource="org/jbpm/graph/action/Script.hbm.xml" />
		<mapping resource="org/jbpm/identity/User.hbm.xml" />
		<mapping resource="org/jbpm/identity/Group.hbm.xml" />
		<mapping resource="org/jbpm/identity/Membership.hbm.xml" />
		<mapping resource="org/jbpm/db/hibernate.queries.hbm.xml" />
		<mapping resource="org/jbpm/graph/def/ProcessDefinition.hbm.xml" />
		<mapping resource="org/jbpm/graph/def/Node.hbm.xml" />
		<mapping resource="org/jbpm/graph/def/Transition.hbm.xml" />
		<mapping resource="org/jbpm/graph/def/Event.hbm.xml" />
		<mapping resource="org/jbpm/graph/def/Action.hbm.xml" />
		<mapping resource="org/jbpm/graph/def/SuperState.hbm.xml" />
		<mapping resource="org/jbpm/graph/def/ExceptionHandler.hbm.xml" />
		<mapping resource="org/jbpm/instantiation/Delegation.hbm.xml" />
		<mapping resource="org/jbpm/graph/node/StartState.hbm.xml" />
		<mapping resource="org/jbpm/graph/node/EndState.hbm.xml" />
		<mapping resource="org/jbpm/graph/node/ProcessState.hbm.xml" />
		<mapping resource="org/jbpm/graph/node/Decision.hbm.xml" />
		<mapping resource="org/jbpm/graph/node/Fork.hbm.xml" />
		<mapping resource="org/jbpm/graph/node/Join.hbm.xml" />
		<mapping resource="org/jbpm/graph/node/State.hbm.xml" />
		<mapping resource="org/jbpm/graph/node/TaskNode.hbm.xml" />
		<mapping resource="org/jbpm/context/def/ContextDefinition.hbm.xml" />
		<mapping resource="org/jbpm/context/def/VariableAccess.hbm.xml" />
		<mapping resource="org/jbpm/taskmgmt/def/TaskMgmtDefinition.hbm.xml" />
		<mapping resource="org/jbpm/taskmgmt/def/Swimlane.hbm.xml" />
		<mapping resource="org/jbpm/taskmgmt/def/Task.hbm.xml" />
		<mapping resource="org/jbpm/taskmgmt/def/TaskController.hbm.xml" />
		<mapping resource="org/jbpm/module/def/ModuleDefinition.hbm.xml" />
		<mapping resource="org/jbpm/bytes/ByteArray.hbm.xml" />
		<mapping resource="org/jbpm/file/def/FileDefinition.hbm.xml" />
		<mapping resource="org/jbpm/scheduler/def/CreateTimerAction.hbm.xml" />
		<mapping resource="org/jbpm/scheduler/def/CancelTimerAction.hbm.xml" />
		<mapping resource="org/jbpm/graph/exe/Comment.hbm.xml" />
		<mapping resource="org/jbpm/graph/exe/ProcessInstance.hbm.xml" />
		<mapping resource="org/jbpm/graph/exe/Token.hbm.xml" />
		<mapping resource="org/jbpm/graph/exe/RuntimeAction.hbm.xml" />
		<mapping resource="org/jbpm/module/exe/ModuleInstance.hbm.xml" />
		<mapping resource="org/jbpm/context/exe/ContextInstance.hbm.xml" />
		<mapping resource="org/jbpm/context/exe/TokenVariableMap.hbm.xml" />
		<mapping resource="org/jbpm/context/exe/VariableInstance.hbm.xml" />
		<mapping resource="org/jbpm/context/exe/variableinstance/ByteArrayInstance.hbm.xml" />
		<mapping resource="org/jbpm/context/exe/variableinstance/DateInstance.hbm.xml" />
		<mapping resource="org/jbpm/context/exe/variableinstance/DoubleInstance.hbm.xml" />
		<mapping resource="org/jbpm/context/exe/variableinstance/HibernateLongInstance.hbm.xml" />
		<mapping resource="org/jbpm/context/exe/variableinstance/HibernateStringInstance.hbm.xml" />
		<mapping resource="org/jbpm/context/exe/variableinstance/LongInstance.hbm.xml" />
		<mapping resource="org/jbpm/context/exe/variableinstance/NullInstance.hbm.xml" />
		<mapping resource="org/jbpm/context/exe/variableinstance/StringInstance.hbm.xml" />
		<mapping resource="org/jbpm/msg/Message.hbm.xml" />
		<mapping resource="org/jbpm/msg/db/TextMessage.hbm.xml" />
		<mapping resource="org/jbpm/command/ExecuteActionCommand.hbm.xml" />
		<mapping resource="org/jbpm/command/ExecuteNodeCommand.hbm.xml" />
		<mapping resource="org/jbpm/command/SignalCommand.hbm.xml" />
		<mapping resource="org/jbpm/command/TaskInstanceEndCommand.hbm.xml" />
		<mapping resource="org/jbpm/taskmgmt/exe/TaskMgmtInstance.hbm.xml" />
		<mapping resource="org/jbpm/taskmgmt/exe/TaskInstance.hbm.xml" />
		<mapping resource="org/jbpm/taskmgmt/exe/PooledActor.hbm.xml" />
		<mapping resource="org/jbpm/taskmgmt/exe/SwimlaneInstance.hbm.xml" />
		<mapping resource="org/jbpm/scheduler/exe/Timer.hbm.xml" />
		<mapping resource="org/jbpm/logging/log/ProcessLog.hbm.xml" />
		<mapping resource="org/jbpm/logging/log/MessageLog.hbm.xml" />
		<mapping resource="org/jbpm/logging/log/CompositeLog.hbm.xml" />
		<mapping resource="org/jbpm/graph/log/ActionLog.hbm.xml" />
		<mapping resource="org/jbpm/graph/log/NodeLog.hbm.xml" />
		<mapping resource="org/jbpm/graph/log/ProcessInstanceCreateLog.hbm.xml" />
		<mapping resource="org/jbpm/graph/log/ProcessInstanceEndLog.hbm.xml" />
		<mapping resource="org/jbpm/graph/log/ProcessStateLog.hbm.xml" />
		<mapping resource="org/jbpm/graph/log/SignalLog.hbm.xml" />
		<mapping resource="org/jbpm/graph/log/TokenCreateLog.hbm.xml" />
		<mapping resource="org/jbpm/graph/log/TokenEndLog.hbm.xml" />
		<mapping resource="org/jbpm/graph/log/TransitionLog.hbm.xml" />
		<mapping resource="org/jbpm/context/log/VariableLog.hbm.xml" />
		<mapping resource="org/jbpm/context/log/VariableCreateLog.hbm.xml" />
		<mapping resource="org/jbpm/context/log/VariableDeleteLog.hbm.xml" />
		<mapping resource="org/jbpm/context/log/VariableUpdateLog.hbm.xml" />
		<mapping resource="org/jbpm/context/log/variableinstance/ByteArrayUpdateLog.hbm.xml" />
		<mapping resource="org/jbpm/context/log/variableinstance/DateUpdateLog.hbm.xml" />
		<mapping resource="org/jbpm/context/log/variableinstance/DoubleUpdateLog.hbm.xml" />
		<mapping resource="org/jbpm/context/log/variableinstance/HibernateLongUpdateLog.hbm.xml" />
		<mapping resource="org/jbpm/context/log/variableinstance/HibernateStringUpdateLog.hbm.xml" />
		<mapping resource="org/jbpm/context/log/variableinstance/LongUpdateLog.hbm.xml" />
		<mapping resource="org/jbpm/context/log/variableinstance/StringUpdateLog.hbm.xml" />
		<mapping resource="org/jbpm/taskmgmt/log/TaskLog.hbm.xml" />
		<mapping resource="org/jbpm/taskmgmt/log/TaskCreateLog.hbm.xml" />
		<mapping resource="org/jbpm/taskmgmt/log/TaskAssignLog.hbm.xml" />
		<mapping resource="org/jbpm/taskmgmt/log/TaskEndLog.hbm.xml" />
		<mapping resource="org/jbpm/taskmgmt/log/SwimlaneLog.hbm.xml" />
		<mapping resource="org/jbpm/taskmgmt/log/SwimlaneCreateLog.hbm.xml" />
		<mapping resource="org/jbpm/taskmgmt/log/SwimlaneAssignLog.hbm.xml" />
	</session-factory>
</hibernate-configuration>