@import "compass";

.portlet-configuration {
	#preview {
		background: #D0D0D0 url(../images/preview_bg.png) no-repeat center center;
		float: right;
		height: 30.5em;
	}

	select {
		padding: 4px;
	}

	.aui-field-inline {
		vertical-align: text-top;
	}

	.aui-field-label {
		vertical-align: bottom;
	}

	.aui-field-row .aui-field-content {
		margin-right: 1em;
	}

	.aui-field-input-choice {
		margin-right: 0.3em;
	}

	.url .aui-field-input {
		width: 30em;
	}

	.height .aui-field-input, .start-time .aui-field-input, .width .aui-field-input {
		width: 4.9em;
	}

	.aui-colorpicker-trigger {
		vertical-align: top;
	}

	.aui-field-text .aui-field-label, .aui-field-select .aui-field-label {
		display: block;
	}

	.lfr-panel-container {
		border-width: 0;
	}

	.annotations .aui-field-input, .closed-captioning .aui-field-input {
		width: 11em;
	}

	.invisible {
		visibility: hidden;
	}
}

/* ---------- Extras ---------- */

.portlet-configuration {
	#preview {
		@include border-radius(4px);
	}
}