## ---------- Logo ---------- ##

#if (($company.getLogoId() == 0) && $use_company_logo)
	#set ($site_logo = "${images_folder}/custom/logo.png")
	#set ($site_logo_height = 66)
	#set ($site_logo_width = 183)
#end

## ---------- Header/Footer ---------- ##

#if ($has_navigation && $nav_items.get(0).isSelected())
	#set ($css_class = "$css_class home-page")
#end

#set ($show_breadcrumbs = $getterUtil.getBoolean($!theme_display.getThemeSetting('show-breadcrumbs')))
#set ($footer_social = $journalContentUtil.getContent($group_id, "FOOTER-SOCIAL", null, "$locale", $theme_display))