<?xml version="1.0"?>
<!DOCTYPE web-app PUBLIC "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN" "http://java.sun.com/dtd/web-app_2_3.dtd">

<web-app>
	<servlet>
		<servlet-name>Sample JSON Servlet</servlet-name>
		<servlet-class>com.liferay.samplejson.servlet.SampleJSONServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>Sample JSON Servlet</servlet-name>
		<url-pattern>/servlet/*</url-pattern>
	</servlet-mapping>
</web-app>