@import "compass";

.private-messaging-portlet {
	.layout {
		width: auto;
	}

	.alert {
		margin-bottom: 0;
	}

	.column-content .check-all {
		margin: 0 20px 0 5px;
	}

	.navbar, .lfr-search-container {
		margin: 0;
	}

	.navbar-inner {
		border-bottom-width: 0;
		padding: 0 10px;
	}

	img.avatar {
		width: 60px;
	}

	.message-container {
		margin: 0 10px;

		.portlet-msg-error {
			display: block;
			margin-bottom: 10px;
		}
	}

	.controls .check-all {
		margin: 15px 10px 0 0;
	}

	.message-attachments {
		clear: both;

		li {
			list-style: none;
		}
	}

	.message-to input, .message-subject input {
		width: 300px;
	}

	.message-body, .message-subject, .message-to {
		width: 90%;
	}

	input[type="file"] {
		height: 24px;
		line-height: 24px;
		padding: 0;
	}

	.author-sender {
		font-weight: bold;
	}

	.message-link {
		display: block;
		margin: -10px;
		padding: 10px;
		padding-left: 80px;
		position: relative;
		z-index: 1;

		.body {
			color: #666;
		}

		.subject {
			color: #333;
		}
	}

	.private-messaging-container .results-header, .taglib-user-display.display-style-2 .user-details, .taglib-user-display.display-style-2 .user-name {
		display: none;
	}

	.table {
		border-top: 0;
		margin-bottom: 0;

		thead {
			display: none;
		}

		.first {
			vertical-align: middle;
			width: 12px;
		}
	}

	.table-striped .table-data .first, .table-striped .table-data .last {
		background: none;
	}

	/* Messages */

	.unread {
		font-weight: bold;

		.body {
			font-weight: normal;
		}
	}

	/* Results */

	.messages .table-data tr {
		&:hover td, &:nth-child(odd) td, td {
			background: #FFF;
			padding: 10px;
		}

		&.unread td {
			background: #F0F5F7;
		}
	}

	.taglib-page-iterator {
		padding: 10px;

		.lfr-pagination-buttons, .lfr-pagination-config, .search-results {
			line-height: 30px;
		}
	}

	.taglib-search-iterator-page-iterator-top {
		border-top: 1px solid #DDD;
		margin-bottom: 0;
	}

	/* Thread */

	.thread {
		.taglib-header {
			border-top: 1px solid #C8C9CA;
		}

		.body {
			padding: 5px 60px 0 0;

			.image-thumbnail {
				float: left;
				height: 150px;
				margin: 10px;
				width: 150px;

				img {
					max-height: 150px;
					max-width: 150px;
				}
			}
		}

		.thread-info {
			padding: 0 10px 10px;
		}

		tr td {
			background-color: transparent;
			border-bottom: 1px solid #CFCFCF;

			&.last, &.only {
				border-bottom-width: 0;
			}
		}

		.lfr-search-container, .message-body-container-content {
			margin: 0 10px;
		}

		.name {
			font-weight: bold;
		}

		.back-button {
			float: right;
		}
	}

	.date {
		color: #777;
		float: right;
		font-size: 11px;
	}

	.messages .taglib-user-display, .thread .taglib-user-display {
		float: left;
		padding: 0;
	}

	.line-through {
		text-decoration: line-through;
	}
}

/* ---------- Extras ---------- */

.private-messaging-portlet .controls {
	@include border-radius(4px);
}

.ie7 .private-messaging-portlet {
	.message-to {
		position: relative;
		z-index: 1;
	}
}