@import "compass";

.private-messaging-portlet {
	img.avatar {
		width: 50px;
	}

	.controls {
		@include border-radius(4px);
		background-color: #EEE;
		border-radius: 4px;
		margin-bottom: 10px;
		padding: 5px;
		width: auto;

		.controls-content {
			line-height: 2em;
		}

		.col-1 {
			text-align: left;
		}

		.col-2 {
			text-align: right;
		}

		.back-button {
			float: right;
		}
	}

	.message-to input, .message-subject input {
		width: 300px;
	}

	.message-body {
		height: 70px;
		width: 450px;
	}

	.message-body-container {
		margin-top: 10px;
	}

	.profile-link {
		text-transform: capitalize;
	}

	.results-header, .taglib-user-display.display-style-2 .user-name, .taglib-user-display.display-style-2 .user-details, .thread .taglib-search-iterator-page-iterator-bottom {
		display: none;
	}

	/* Messages */

	.messages {
		.taglib-search-iterator .col-1 {
			width: 25px;
		}

		.subject {
			font-size: 16px;
		}

		.date {
			color: #777;
			font-size: 11px;
		}
	}

	/* Results */

	.results-grid {
		border: 0px;

		table.taglib-search-iterator, .results-row td, .results-row.alt td {
			border: 1px solid #CFCFCF;
		}

		.results-row td, .results-row.alt td {
			background: #FFF;
			padding: 5px 10px;
		}

		.results-row.unread td {
			background: #F0F5F7;
			font-weight: bold;
		}
	}

	/* Thread */

	.thread {
		.body {
			padding-top: 5px;
		}

		.thread-info {
			margin-bottom: 5px;
			padding: 5px;
		}

		.results-row {
			border: 1px solid #CFCFCF;
		}

		.date {
			color: #777;
			font-size: 11px;
		}

		.name {
			font-weight: bold;
		}
	}

	.messages .subject, .messages .date, .thread .date {
		margin-bottom: 4px;
	}

	.messages .taglib-user-display, .thread .taglib-user-display  {
		float: left;
	}

	.messages .last-thread, .thread .message {
		margin-left: 65px;
	}
}