@import "mixins";

.private-messaging-portlet {
	.layout {
		width: auto;
	}

	.alert {
		margin-bottom: 0;
	}

	.column-content .check-all {
		margin: 0 20px 0 5px;
	}

	.lfr-search-container {
		margin: 0 0 0 -1px;
	}

	.controls {
		background: #EEE9E9;
		border-bottom-width: 0;
		padding: 5px 10px;

		.check-all {
			margin: 9px 6px 9px 0;
		}
	}

	img.avatar {
		width: 60px;
	}

	.body {
		clear: right;
		word-break: break-word;
	}

	.thread .message-container {
		margin: 0 10px;
	}

	.message-container .portlet-msg-error {
		display: block;
		margin-bottom: 10px;
	}

	.message-attachments {
		clear: both;

		li {
			list-style: none;
		}
	}

	.message-to input, .message-subject input {
		width: 300px;
	}

	.message-body, .message-subject, .message-to {
		box-sizing: border-box;
		width: 100%;
	}

	.message-body {
		min-height: 100px;
	}

	input[type="file"] {
		height: 24px;
		line-height: 24px;
		padding: 0;
	}

	.author-sender, .name {
		float: left;
		font-weight: bold;
		padding-right: 0.3em;
	}

	.message-link {
		display: block;
		margin: -10px;
		padding: 10px;
		padding-left: 80px;
		position: relative;
		z-index: 1;

		.body {
			color: #666;
		}

		.subject {
			clear: right;
			color: #333;
			word-break: break-word;
		}
	}

	.private-messaging-container .results-header, .taglib-user-display.display-style-2 .user-details, .taglib-user-display.display-style-2 .user-name {
		display: none;
	}

	.table {
		border-top-width: 0;
		margin-bottom: 0;

		thead {
			display: none;
		}

		.first {
			vertical-align: middle;
			width: 12px;
		}
	}

	.table-striped .table-data .first, .table-striped .table-data .last {
		background: none;
	}

	/* ---------- Messages ---------- */

	.unread {
		font-weight: bold;

		.body {
			font-weight: normal;
		}
	}

	/* ---------- Results ---------- */

	.messages .table-data tr {
		&:hover td, &:nth-child(odd) td, td {
			background: #FFF;
			padding: 10px;
		}

		&.unread td {
			background: #F0F5F7;
		}
	}

	.taglib-page-iterator {
		padding: 10px;

		.lfr-pagination-buttons, .lfr-pagination-config, .search-results {
			line-height: 30px;
		}
	}

	.taglib-search-iterator-page-iterator-top {
		border-top: 1px solid #DDD;
		margin-bottom: 0;
	}

	/* ---------- Thread ---------- */

	.thread {
		.taglib-header {
			border-top: 1px solid #C8C9CA;
			margin-top: 0;
			padding: 0 10px;

			.header-title {
				display: inline;

				span {
					white-space: normal;
					word-break: break-all;
				}
			}
		}

		.body {
			margin-top: 5px;

			.image-thumbnail {
				float: left;
				height: 150px;
				margin: 10px;
				width: 150px;

				img {
					max-height: 150px;
					max-width: 150px;
				}
			}
		}

		.thread-info {
			padding: 0 10px 10px;
		}

		tr td {
			background-color: transparent;
			border-bottom: 1px solid #CFCFCF;

			&.last, &.only {
				border-bottom-width: 0;
			}
		}

		.lfr-search-container, .message-body-container-content {
			margin: 0 10px;
		}

		.name {
			font-weight: bold;
		}

		.back-button {
			float: right;
		}
	}

	.date {
		color: #777;
		float: right;
		font-size: 11px;
	}

	.messages .taglib-user-display, .thread .taglib-user-display {
		float: left;
		padding: 0;
	}

	.line-through {
		text-decoration: line-through;
	}
}

/* ---------- Extras ---------- */

.private-messaging-portlet .controls {
	border-radius: 4px;
}

/* ---------- Responsive ---------- */

@include respond-to(phone, tablet) {
	.private-messaging-portlet {
		.btn-group, .button-holder {
			width: auto;
		}
	}
}

@include respond-to(phone) {
	.private-messaging-portlet {
		.messages {
			.button-holder{
				padding-left: 51px;
				position: relative;

				.check-all {
					height: 24px;
					left: 16px;
					margin-top: -12px;
					position: absolute;
					top: 50%;
					width: 24px;
				}
			}

			.table .first input {
				height: 24px;
				margin-left: 6px;
				width: 24px;
			}
		}

		button, button:hover {
			margin-bottom: 5px;
			width: 100%;

			&.close {
				width: auto;
			}

			&:last-child {
				margin-bottom: 0;
			}
		}

		.message-link {
			padding-left: 10px;
		}

		.user-profile-image {
			height: 45px;
		}

		.avatar {
			width: 45px;
		}

		.author-sender, .date, .name {
			float: none;
		}

		.date {
			display: block;
			font-size: 1em;
			margin-top: 3px;
		}

		.subject {
			margin-top: 10px;
		}

		.body {
			clear: both;
			margin-top: 10px;
		}
	}
}