.private-messaging-portlet img.avatar {
	width: 50px;
}

.private-messaging-portlet .controls {
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
	background-color: #CFCFCF;
	border: 1px solid #C8C9CA;
	border-radius: 4px;
	margin-bottom: 10px;
	padding: 5px;
	width: auto;
}

.private-messaging-portlet .controls .col-1 {
	text-align: left;
}
	
.private-messaging-portlet .controls .col-2 {
	text-align: right;
}

.private-messaging-portlet .controls .back-button {
	float: right;
}

.private-messaging-portlet .message-to input{
	width: 300px
}

.private-messaging-portlet .message-subject input{
	width: 300px;
}
	
.private-messaging-portlet .message-body {
	height: 70px;
	width: 450px;
}

.private-messaging-portlet .message-body-container {
	margin-top: 10px;
}
	
.private-messaging-portlet .profile-link {
	text-transform: capitalize;	
}

.private-messaging-portlet .results-header {
	display: none;
}

.private-messaging-portlet .taglib-user-display.display-style-2 .user-name,
.private-messaging-portlet .taglib-user-display.display-style-2 .user-details {
	display: none;
}

/* Messages */

.private-messaging-portlet .messages .taglib-search-iterator .col-1 {
	width: 25px;
}

.private-messaging-portlet .messages .subject {
	font-size: 16px;
	margin-bottom: 4px;
}

.private-messaging-portlet .messages .date {
	color: #777777;
	font-size: 11px;
	margin-bottom: 4px;
}

.private-messaging-portlet .messages .taglib-user-display {
	float: left;
}

.private-messaging-portlet .messages .last-thread {
	margin-left: 65px;
}

/* Results */

.private-messaging-portlet .results-grid {
	border: 0px;
}

.private-messaging-portlet .results-grid table.taglib-search-iterator {
	border: 1px solid #CFCFCF;
}

.private-messaging-portlet .results-grid .results-row td,
.private-messaging-portlet .results-grid .results-row.alt td {
	background: none repeat scroll 0 0 #FFFFFF;
	border: 1px solid #CFCFCF;
	padding: 5px 10px;
}

.private-messaging-portlet .results-grid .results-row.unread td {
	background: none repeat scroll 0 0 #F0F5F7;
	font-weight: bold;
}

/* Thread */

.private-messaging-portlet .thread .body {
	padding-top: 5px;	
}

.private-messaging-portlet .thread .thread-info {
	margin-bottom: 5px;
	padding: 5px;
}

.private-messaging-portlet .thread .taglib-search-iterator-page-iterator-bottom {
	display: none;	
}
	
.private-messaging-portlet .thread .results-row {
	border: 1px solid #CFCFCF;
}

.private-messaging-portlet .thread .date {
	color: #777777;
	font-size: 11px;
	margin-bottom: 4px;
}

.private-messaging-portlet .thread .name {
	font-weight: bold;
}

.private-messaging-portlet .thread .taglib-user-display {
	float: left;
}

.private-messaging-portlet .thread .message {
	margin-left: 65px;
}