a {
	color: #8294D3;
}

#banner .logo {
	display: block;
	font-size: 2em;
	margin: 0 auto;
	padding: 1.25em 10pt 432.45px;
}

#banner {
	background: transparent url(../images/custom/page_top.jpg) no-repeat scroll 0;
	border-bottom: 0;
	height: 593px;
	margin: 0 auto;
	position: relative;
	width: 1004px;
}

#banner-content {
	margin: 0 auto;
	width: 100%;
}

body {
	background: #000 none repeat scroll 0;
	font-size: 61.5%;
	margin: 0;
}

#content-wrapper {
	margin: 40pt auto;
	min-height: 400px;
}

.js #add-page a span {
	color: black;
	padding: 5px 20px;
}

.js #add-page {
	border: none;
	padding-top: 12px;
	right: 5%;
	top: 9px;
}

.js #navigation .enter-page {
	background-color: transparent;
	margin-top: 6px;
}

.js .interactive-mode h2 span {
	background: transparent;
}

.js .interactive-mode h2 {
	background: transparent;
}

.js .lfr-dock-list-container {
	height: 0px;
	overflow: visible;
}

.js .interactive-mode {
	float: right;
	min-width: 150px;
	position: relative;
	right: 48pt;
	top: 25pt;
}

#navigation li a span {
	color: black;
	display: block;
	padding: 1em 1.5em;
}

#navigation li {
	background: none;
	border: none;
	display: inline;
	float: left;
	font-size: 12px;
	margin-right: 0.5em;
	position: relative;
}

#navigation li.selected a span {
	background: transparent;
	padding-left: 0;
}

#navigation li.selected a, #navigation li a:hover {
	background-color: transparent;
	color: #FFF;
}

#navigation li.selected {
	border-top: 0;
	font-weight: bold;
}

#navigation {
	background: url(../images/custom/nav.png);
	height: 40px;
	margin: 0 auto;
	min-height: 2.2em;
	overflow: hidden;
	padding-right: 1em;
	width: 996px;
}

#navigation ul {
	margin:0 0 0 30px;
}

.portlet-title {
	color: #FFF;
	display: block;
	font-size: 14px;
	height: 28px;
	min-width: 50%;
	padding: 8px 0 4px 10px;
}

.portlet-topper {
	background: none;
	border-bottom: 2px solid #EEE;
	position: relative;
}

.portlet {
	background: #000732;
	border: 2px solid #3A4D91;
	color: #D2D7EB;
	font-size: 12px;
	margin: 0 auto 10px auto;
	text-align: left;
}

#wrapper {
	background: none;
}

.tabs {
	border-bottom: 1px solid #bfe1ff;
	margin: 0 0 1.5em 0;
	padding: 0 0 2.6em 1em;
}

.tabs li {
	background: #eaf5ff url(../images/common/tabs_inactive_bg.png) repeat-x 0 100%;
	border: 1px solid #bfe1ff;
	border-bottom: 0;
	display: inline;
	float: left;
	line-height: 2.25;
	margin-right: 0.8em;
	padding: 0;
	text-decoration: none;
}


.ui-tabs li a, .ui-tabs li span {
	display: block;
	float: left;
	padding: 0.35em 1em 0;
	text-decoration: none;
}

.ui-tabs li.current {
	background: #bfe1ff url(../images/common/tabs_active_bg.png) repeat-x 0 0;
	font-weight: bold;
}

.ui-tabs li.current:hover, .ui-tabs li.current a:hover {application.css (line 316)
	background-color:transparent;
	background: #bfe1ff url(../images/common/tabs_active_bg.png) repeat-x 0 0;
	color: black;
	text-decoration: none;
}

.ui-tabs li.current a, .ui-tabs li.current span {
	color: #333;
	padding: 0.15em 1em;
}

.ui-tabs li.current a, .ui-tabs li.current span {
	background: #bfe1ff url(../images/common/tabs_active_bg.png) repeat-x 0 0;
	border:medium none;
}

.ui-tabs li a:hover, .ui-tabs li span:hover {
	background: #bfe1ff url(../images/common/tabs_active_bg.png) repeat-x 0 0;
	color:white;
}

.ui-tabs li a, .tabs li span {
	background:transparent none repeat scroll 0 0;
	border-right:medium none;
	color:black;
	top:0;
}