html {
	overflow-y: scroll;
}
#navigation {
	background: #FFFFFF url(../images/custom/menu_bckg.gif) repeat-x scroll 0 0;
	border: none;
	height: 40px;
	margin: -231px auto 190px;
	padding-top: 10px;
}
#navigation li {
	border: none;
}
#wrapper {
	background: transparent;
	position: relative;
	width: 1182px;
}
.ie #wrapper {
	width: 1178px;
}
#navigation li.selected a, #navigation li a:hover {
	background-color: transparent;
}
#navigation li.selected a {
	color: black;
}
#navigation li a:hover {
	color: #078DE2;
}
#navigation li.selected a span {
	background: transparent;
	padding-left: 0px;
}
#banner {
	background: #0EA5FE url(../images/custom/head_bckg.jpg) no-repeat scroll 0 0;
	height: 181px;
	margin-top: 50px;
	position: relative;
}
body {
	background: #0A8FDE url(../images/custom/bckg.jpg) repeat-x scroll 0 0;
	border: 1px solid #000000;
	font-family: Tahoma,Arial;
	font-size: 11px;
	line-height: 14px;
	margin: 40px;
}
#navigation li a {
	color: black;
	font-family: "Myriad Pro","Trebuchet MS",Arial;
	font-size: 14px;
	font-weight: bold;
	margin: 0 20px;
	padding-bottom: 12px;
	padding-top: 12px;
	text-transform: uppercase;
}
#content-wrapper {
	background: transparent url(../images/custom/content.gif) repeat scroll 0 0;
	border: 5px solid white;
	margin: -9px auto;
	width: 1172px;
}
.portlet {
	background: transparent;
	border: none;
}
.portlet-topper {
	background: transparent;
	border: none;
	color: #10639A;
	font-family: "Myriad Pro","Trebuchet MS",Arial;
	font-size: 18px;
}
a {
	font-size: 12px;
}
#navigation ul {
	margin: 0 auto 0 305px;
	width: 70%;
}
.js #add-page {
	background: transparent none repeat scroll 0 0;
	border: medium none;
	right: 0;
	top: 16px;
}
.js #add-page a span {
	color: black;
}
.js #navigation .enter-page {
	background-color: transparent;
	padding: 5px;
}
.ui-tabs li a:hover, .ui-tabs li span:hover {
	background: transparent;
	color: #078DE2;
}
.ui-tabs li a, .tabs li span {
	background: transparent none repeat scroll 0 0;
	border-right: medium none;
	color: black;
}
.ui-tabs {
	border-bottom: none;
}
#footer {
	background: #000000 url(../images/custom/footer_bckg.gif) repeat-x scroll 0 0;
	clear: both;
	font-family: "Myriad Pro","Trebuchet MS",Arial;
	height: 55px;
}
.ie #footer {
	width: 1178px;
}
.ie #content-wrapper {
	width: 1168px;
}
.ie.js #navigation .enter-page {
	margin-top: 5px;
}