@import "compass";
@import "color_schemes/normal/strata_skin";

body {
	background: #FFF;
	color: $defaultTextColor;
	font: 13px/1.5em 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

.so-strata-theme #dockbar {
	margin-top: -32px;
}

a {
	color: $blue;
	text-decoration: none;

	&:hover {
		text-decoration: underline;
	}
}

.button {
	@include border-radius(4px);

	&:hover {
		text-decoration: none;
	}
}

#banner, #content, .clear, .portlet-toolbar, .breadcrumbs ul {
	@include clear-both;
}

/* ---------- Forms Custom ---------- */

.aui-panel-hd .aui-toolbar-content {
	padding: 0.125em;

	.aui-state-default {
		background: transparent none;
		border-width: 0;

		@include box-shadow(none);
	}
}

.aui-panel-hd, .lfr-panel.lfr-extended .lfr-panel-titlebar {
	@include normal-gradient;

	@include default-border;
}

.invite-members, .social-relations a, .aui-buttonitem-content, .aui-tabview-list .aui-tab-label {
	@include button-default;
}

.invite-members, .social-relations a {
	@include border-radius(4px);

	&:hover, &:focus {
		@include button-hover;

		text-decoration: none;
	}

	&:active {
		@include button-active;
	}
}

.aui-dialog-content {
	padding: 0;

	.aui-dialog-hd {
		border: 1px solid $defaultBorderColor;
		border-width: 0 0 1px;
		padding: 0 0 0 0.5em;

		@include border-radius(4px 4px 0 0);
		@include box-shadow(none);

		.aui-toolbar {
			margin: -1px;
		}
	}
}

.aui-panel-hd-text {
	font-weight: normal;
}

.aui-panel-bd {
	padding: 0 1em 1em;
}

.aui-button-holder {
	overflow: visible;

	.aui-toolbar-item {
		margin: 0 -1px;
	}

	.aui-toolbar-first {
		margin-left: 0;
	}
}

.aui-buttonitem-content {
	margin-right: -1px;

	&.aui-toolbar-last {
		margin-right: 0;
	}
}

.aui-textboxlist-content {
	overflow: hidden;
}

.aui-tooltip-content {
	@include box-shadow(0 2px 10px -4px rgba(0, 0, 0, 1));
}

.aui-overlaycontextpanel-arrow-bl {
	.aui-overlaycontextpanel-pointer {
		border-right: 12px dashed transparent;
		padding: 0;
	}

	.aui-overlaycontextpanel-pointer-inner {
		left: 1px;
	}
}

/* --------- Calendar --------- */

.aui-calendar-content .aui-calendar-day {
	&, &.aui-state-default {
		background: transparent none;
		border-width: 0;
		padding: 0;
		width: 13.2%;

		@include box-shadow(none);
		@include border-radius(0);
	}

	&:hover, &.aui-state-active, &.aui-state-hover {
		background: $btnBackgroundDefault;
		padding: 0;
		text-decoration: none;
	}
}

.aui-search-bar, .lfr-search-combobox {
	.aui-field-content, .aui-button-content {
		display: inline;
		vertical-align: top;
	}

	.aui-button-input {
		padding: 0.37em 0.70em 0.38em;
	}
}

.hidden-accessible, #navigation h1 {
	@include hidden-accessible;
}

/* --------- Forms --------- */

fieldset {
	@include default-border;

	padding: 8px;
}

.aui-legend {
	border-bottom-color: $defaultBorderColor;
}

input[type="text"], input[type="password"], input[type="file"], input[type="submit"], input[type="button"], input[type="reset"], select, textarea, .textarea, button, .aui-field-input-text {
	@include input-field-default;
}

a.aui-button, input[type="submit"], input[type="button"], input[type="reset"], button {
	&, &:active, &.active, &:hover, &:focus {
		@include button-default;
	}

	&:active, &.active {
		@include button-active;
	}

	&:hover, &:focus {
		@include button-hover;
	}
}

input, textarea {
	&.focus {
		@include input-field-focus;
	}
}

.aui-buttonitem-content.aui-buttonitem-icon-only {
	padding: 4px;
}

.lfr-actions {
	&, &.lfr-extended, ul {
		@include button-default;

		padding: 0;
	}

	&:focus {
		&, ul {
			@include button-focus;
		}
	}

	&.disabled, &.disabled:hover {
		&, ul {
			@include button-disabled;
		}
	}

	&:hover, &.lfr-extended:hover {
		&, ul {
			@include button-hover;
		}
	}
}

.rtl .lfr-header-row .lfr-actions.show-arrow.direction-down .lfr-trigger strong a {
	padding: 0 20px 0 4px;
}

.aui-menu-content, .lfr-menu-list ul {
	@include menu-style;

	li {
		border-top-width: 0;
		border-bottom-color: $defaultBorderColor;
	}
}

.aui-menu-content li a.aui-focus, .lfr-menu-list ul .taglib-icon.aui-focus, .lfr-menu-expanded li a:focus {
	background-color: #1D87EB;
}

.aui-button-disabled {
	input[type], button {
		&, &:hover, &:focus {
			@include button-disabled;
		}
	}
}

.aui-buttonitem-disabled {
	@include button-disabled;
}

input.aui-form-validator-error, textarea.aui-form-validator-error, select.aui-form-validator-error {
	border-color: $red;
}

.ie6 {
	input.text, input.password, input.submit, input.file, input.button, button {
		@include input-field-default;
	}

	input.submit, input.button, button, .aui-button-disabled input.submit, .aui-button-disabled input.button, .aui-button-disabled button {
		@include button-default;
	}

	.aui-button-disabled {
		input.submit, input.button, button {
			color: #555;
		}
	}

	input, textarea {
		&.focus {
			@include input-field-focus;
		}
	}
}

/* ---------- Layout ---------- */

.portlet-column {
	border: solid $defaultBorderColor;
	border-width: 0 1px;
	margin: 0 0 0 -1px;

	&, .portlet-column-content {
		padding: 0;
	}
}

.portlet-column-only, .ltr .portlet-column-last, .rtl .portlet-column-first {
	border-right-width: 0;
}

.portlet-column-last .portlet-column {
	border-left-width: 0;
}

/* ---------- Breadcrumbs ---------- */

.breadcrumbs-horizontal {
	border: solid $defaultBorderColor;
	border-width: 1px 0;
	margin: -1px 0;

	li {
		background: transparent url(../images/custom/so_breadcrumbs.png) right 50% no-repeat;
		border-bottom: 1px solid $defaultBorderColor;
		margin-bottom: -1px;
		max-width: 33.333%;

		span, a {
			padding: 0.4em 25px 0.4em 0.75em;
		}

		span {
			display: block;
		}

		a {
			color: $defaultTextColor;
			display: block;
			font-weight: normal;
			margin: -0.4em -25px -0.4em -0.75em;
			margin-left: -5px;
			overflow: hidden;
			text-overflow: ellipsis;
			white-space: pre;
			width: 87%;

			&:hover {
				color: $blue;
				text-decoration: none;
			}
		}

		&.first a {
			padding-left: 20px;
		}

		&.last {
			background-image: none;

			a {
				color: $red;
			}
		}
	}
}

/* ---------- Site Breadcrumbs ---------- */

.site-breadcrumbs .breadcrumbs-horizontal {
	border-top: 1px solid $defaultBorderColor;
	margin: 0 0 -1px;
}

/* ---------- Banner ---------- */

#banner {
	@include header;

	border-width: 1px 0;
	padding: 1em 1.5em;

	h1, h2 {
		font-size: 1.8em;
		font-weight: 200;
		line-height: 1em;
		margin: 0;
		text-shadow: 0 1px 0 #FFF;
	}

	.site-title {
		display: inline-block;

		&, a {
			color: $red;
			font-weight: 200;
		}

		a:hover {
			color: $blue;
			text-decoration: none;
		}

		img {
			display: inline;
			height: 32px;
			margin: -0.25em 0 -0.25em -0.45em;
			position: relative;
			top: -0.125em;
			vertical-align: middle;
			width: auto;
		}
	}

	.avatar {
		background: none 50% 50% no-repeat;
		background-size: cover;
		display: inline-block;
		margin: -0.62em 0.5em -0.55em -0.86em;
		overflow: hidden;
		vertical-align: middle;

		&, img {
			height: 55px;
			width: 55px;
		}

		img {
			visibility: hidden;
		}
	}
}

#page-search {
	float: right;
	position: relative;

	input[type="text"] {
		color: $defaultBorderColor;

	}

	input[type="text"]:focus, &.focus input[type="text"] {
		color: $defaultTextColor;
	}

	input[type="image"], select {
		display: none;
	}

	.search-controls {
		background: #FFF;

		@include border-radius(4px);

		display: none;
		left: 0;

		@include menu-style;

		padding: 0.4em;
		right: 0;
		top: 100%;
		z-index: 1;

		input[type="image"], select {
			display: inline-block;
		}
	}

	&.focus {
		.search-controls {
			display: block;
		}
	}
}

div#navigation {
	background: $navigationBgColor;
	border-right: 1px solid $defaultBorderColor;
	float: left;
	margin-left: -156px;
	width: 155px;

	.avatar {
		display: block;
		height: 155px;
		overflow: hidden;
		position: relative;
		width: 155px;

		img {
			height: auto;
			min-height: 155px;
			width: 155px;
		}

		.edit-portrait {
			bottom: 10px;
			left: 10px;
			position: absolute;
			visibility: hidden;
		}

		&:hover {
			.edit-portrait {
				visibility: visible;
			}
		}
	}

	ul {
		border-bottom: 1px solid #D9D9D9;
	}

	ul, li {
		list-style: none;
		margin: 0;
		padding: 0;
	}

	a {
		background-color: #E4E4E4;
		background-repeat: no-repeat;
		border-bottom: 1px solid #D9D9D9;
		color: $defaultTextColor;
		display: block;
		font-size: 1.125em;
		font-weight: 200;
		padding: 0.65em 1.05em;
		text-shadow: 0 1px 0 #FFF;

		@include subtle-gradient;

		&:hover, &:focus {
			text-decoration: none;

			@include button-hover;
		}

		&:active {
			@include button-active;
		}
	}

	.selected a, .aui-combobox {
		border-bottom: none;
		border-top: 1px solid #0E50A9;

		@include box-shadow(0 1px 0 #7FBBF4 inset);
		@include button-primary-gradient;
	}

	.aui-combobox {
		padding: 0.45em 0.5em 0.4em;
		position: relative;
		z-index: 1;

		input[type="text"] {
			width: 8.6em;
			margin-right: 0.1em;
		}
	}
}

.lfr-page-templates {
	input[type="radio"] {
		margin-left: 10px;
	}
}

#content {
	background: $navigationBgColor;
	border-left: 1px solid $defaultBorderColor;
	padding-left: 155px;
}

#main-content {
	background: #FFF;
	float: left;
	min-height: 500px;
	position: relative;
	width: 100%;

	@include box-shadow(-4px 0 15px -7px rgba(0,0,0, 0.6));
}

.aui-tabview-list {
	@include default-border;

	padding: 0 0.45em;

	@include normal-gradient;

	.aui-tab, .aui-tab:first-child, .last, .first, .aui-tab-content {
		border-width: 0;
		padding: 0;
	}

	.aui-tab-content {
		margin: -1px -1px 0 0;
	}

	.aui-tab-label {
		font-weight: 200;
		text-decoration: none;
		margin-bottom: -1px;

		&:hover, &:focus {
			@include button-hover;

			text-shadow: none;
		}
	}

	.aui-tab-active .aui-tab-label, .aui-tab-label:active {
		@include button-active;
	}
}

/* ---------- Application CSS ---------- */

/* ---------- Main ---------- */

.aui-state-default {
	@include button-default;
}

.aui-state-hover {
	@include button-hover;
}

.aui-state-active {
	@include button-focus;
}



.results-row {
	td {
		background: none;
		border: 1px solid;
		border-color: #D7D7D7 #E7E7E7;
		padding: 5px 10px;

		&.sort-column {
			background: #E6ECEF;
		}
	}

	&.selected td, &.selected.hover td {
		background-color: #00A2EA;
		border-color: #00A2EA #00A2EA #D7D7D7;
		color: #FFF;

		& a {
			color: #FFF;
		}
	}

	&.alt.selected td, &.alt.selected.hover td {
		background-color: #00A2EA;
	}

	&.alt td {
		background: #F5F8FB;
	}

	&.hover td {
		background: #D3E8F1;
		border-bottom-color: #D7D7D7;
		border-left-color: transparent;
		border-right-color: transparent;
	}
}

.taglib-search-iterator .results-row {
	td, th {
		&.first {
			border-left-width: 0;
		}

		&.last {
			border-right-width: 0;
		}
	}
}

/* ---------- Dragging/sorting indicators ---------- */

.aui-proxy {
	cursor: move;
	opacity: 0.65;
	position: absolute;

	&.generic-portlet {
		height: 200px;
		width: 300px;

		.portlet-title {
			padding: 10px;
		}
	}

	&.not-intersecting .forbidden-action {
		background: url(../images/application/forbidden_action.png) no-repeat;
		display: block;
		height: 32px;
		position: absolute;
		right: -15px;
		top: -15px;
		width: 32px;
	}
}

.aui-resizable-proxy {
	border: 1px dashed #828F95;
	position: absolute;
	visibility: hidden;
}

.aui-sortable-proxy {
	background: #727C81;
	margin-top: 1px;
}

.lfr-freeform-layout-drag-indicator {
	visibility: hidden;
}

.aui-portal-layout-drag-target-indicator {
	margin: 2px 0;
}

/* ---------- Portal tool tips ---------- */

.aui-tooltip {
	max-width: 200px;
}

/* ---------- Tags ---------- */

.aui-tagselector-content .aui-textboxlistentry-holder {
	background: #FFF;
	border-width: 0;

	@include input-field-default;

	margin-bottom: 5px;
}

.aui-tagselector-focused .aui-textboxlistentry-holder {
	@include input-field-focus;
}

/* ---------- Portlets ---------- */

.portlet {
	border-bottom: 1px solid $defaultBorderColor;
	margin-bottom: -1px;

	.portlet-topper, .portlet-content {
		padding: 1em;
	}

	.portlet-topper {
		padding-bottom: 0;
	}

	.portlet-title {
		font-size: 1.5em;
		font-weight: 200;

		.icon {
			display: none;
		}
	}
}

.portlet-borderless-container {
	min-height: 0;
}

.controls-visible .portlet-borderless-container {
	min-height: 2.5em;
}

#footer {
	clear: both;
	padding: 1em;
}

.controls-hidden {
	@include border-radius(4px);

	.delete-tab {
		display: none;
	}

	.portlet-blogs .lfr-meta-actions {
		display: block;
	}
}

.controls-visible .portlet .portlet-topper .portlet-topper-toolbar {
	display: block;
}

/* ---------- Top Links Component ---------- */

.top-links {
	background: $controlBgColor;
	float: none;
	width: auto;

	.top-links-navigation {
		float: left;

		.taglib-text {
			border-right-width: 0;
			margin-right: 0;
			padding-right: 0;
			text-decoration: none;
		}

		a {
			@include button-default;
			@include border-radius(4px);

			display: inline-block;
			line-height: 1em;
			padding: 6px 4px;
			text-decoration: none;

			&:active {
				@include button-active;
			}

			&:hover, &:focus {
				@include button-hover;
			}

			img.icon {
				vertical-align: bottom;
			}
		}
	}

	.category-search, .page-search {
		float: right;
		padding: 0;
		margin: 0;
	}

	&:after {
		clear: both;
		content: "";
		display: block;
		width: 100%;
	}
}

.portlet-boundary {
	.top-links {
		float: none;
	}

	.top-links .top-link {
		border-right: 0;
		margin: 0;
		padding: 0;
	}
}

.taglib-header .header-back-to a {
	padding: 0 0.2em;
}

/* ---------- LFR Header Row ---------- */

.lfr-header-row {
	.lfr-actions {
		&.lfr-extended {
			@include button-default;

			margin-right: 0.125em;
			padding: 0.125em 0.60em 0.15em;
		}

		&:hover {
			@include button-hover;
		}

		&.aui-state-active {
			@include button-active;
		}
	}

	.lfr-trigger {
		margin: 0 -0.3em;

		strong {
			font-weight: normal;
		}
	}

	.aui-buttonitem-content, .aui-button-input, .lfr-actions.lfr-extended, .lfr-search-combobox {
		border-color: $defaultBorderColor;
	}
}

/* ---------- Document Library ---------- */

.portlet-document-library {
	.lfr-app-column-view {
		.results-row td {
			background: none;
		}

		.results-row.selected td {
			background: #00A2EA;
		}

		.results-row.hover td {
			background-color: #D3E8F1;
		}
	}

	.lfr-app-column-view, .lfr-app-column-view .results-row td, .lfr-document-library-comments.lfr-panel.lfr-extended, .portlet-msg, .portlet-msg-alert, .portlet-msg-error, .portlet-msg-info, .portlet-msg-success, .search-button-container, .search-button-container .aui-column:before, .search-button-container .aui-column-content, .search-button-container .aui-column-content-center {
		border-width: 0;
	}

	.aui-field-wrapper-content, .breadcrumbs-horizontal, .portlet-msg, .lfr-message-info, .portlet-msg-alert, .portlet-msg-error, .portlet-msg-info, .portlet-msg-success, .search-button-container .aui-button, .search-button-container .lfr-search-combobox-item {
		margin: 0;
	}

	.document-library-breadcrumb {
		background: #FFF;
		border-bottom-width: 0;
	}

	.breadcrumbs-horizontal {
		margin-top: -1px;
	}

	.breadcrumbs .last {
		background-image: none;
	}

	.document-container {
		min-height: 400px;
	}

	.lfr-header-row-content {
		height: 28px;
		padding: 4px;
	}

	.lfr-search-combobox {
		margin: 0 0 0 4px;

		.aui-w30, .aui-w70 {
			padding: 2px 0;
			width: auto;
		}

		.aui-button-input {
			border-left-width: 0;
		}
	}

	.select-documents {
		@include default-border;

		.aui-field-element {
			border-width: 0;
			padding: 6px;
		}
	}

	.aui-buttonitem-icon-only {
		padding: 4px;
	}

	.aui-w65 {
		width: 70%;
	}

	.aui-w35 {
		width: 30%;
	}

	.edit-permissions .header-title {
		display: block;
	}

	.aui-fieldset-content, .lfr-dynamic-uploader {
		padding: 10px;
	}

	.document-container {
		overflow: hidden;

		.aui-searchcontainer-content {
			border-width: 0;
			margin: 0 -1px;
		}

		.lfr-actions {
			&, .lfr-trigger, &.aui-state-active .lfr-trigger {
				background: transparent none;
				border-width: 0;

				@include box-shadow(none);
			}

			.lfr-trigger strong {
				min-width: 0;
				width: auto;
			}
		}

		table .lfr-actions {
			.lfr-trigger strong {
				min-width: 0;
				width: auto;
			}

			&.show-arrow.direction-down .lfr-trigger strong a {
				background-position: 100% -3px;
				padding: 2px 10px;
			}
		}
	}
}

.portlet-document-library-display {
	zoom: 1;

	.top-links-container {
		margin: 0;
	}

	.asset-column-details-content {
		border-width: 0;
	}

	.lfr-asset-column-content {
		margin-right: 0;

		.lfr-panel {
			margin-bottom: 0;
		}
	}

	.lfr-asset-metadata .lfr-forms-field-wrapper {
		border-bottom: 1px solid $defaultBorderColor;
		line-height: 1.5em;
		padding: 0.75em 0;
	}

	.lfr-panel-content {
		padding: 0;
	}
}

.portlet-document-library, .portlet-document-library-display {
	.folder {
		margin-top: 0;
	}

	.header-title {
		display: none;
	}

	.taglib-header {
		border-bottom-width: 0;
		margin-bottom: 0;
		position: relative;
	}

	.header-back-to {
		position: absolute;
		right: 0;
		top: 0;
		z-index: 1;
	}

	.document-info {
		background-color: $controlBgColor;
	}

	.aui-column-content-first, .aui-column-content-last, .document-library-breadcrumb, .search-button-container .aui-column:before, .search-button-container .aui-column-content, .search-button-container .aui-column-content-center {
		padding: 0;
	}

	.lfr-header-row {
		background: $controlBgColor;
		min-height: 33px;

		.parent-folder-title {
			color: $defaultTextColor;
		}
	}

	.lfr-header-row, .document-info {
		border-bottom: 1px solid $defaultBorderColor;
	}

	.lfr-header-row-content .parent-folder-title {
		text-shadow: none;
	}

	.view {
		.aui-column-content {
			border: solid $defaultBorderColor;
			border-width: 0 1px;
			margin-left: -1px;
		}

		.aui-column-first .aui-column-content {
			border-left-width: 0;
			margin-left: 0;
		}

		.aui-column-last .aui-column-content {
			border-right-width: 0;
		}
	}

	.context-pane .context-pane-content {
		border-left-width: 0;
		margin-right: -1px;
	}

	.taglib-ratings.stars .aui-rating-content, .taglib-ratings.stars .liferay-rating-score {
		min-width: 200px;
	}

	.document-container table.taglib-search-iterator {
		table-layout: auto;
	}

	.version-history .results-grid .lfr-actions .lfr-trigger strong {
		min-width: 16px;
	}

	.document-display-style.display-icon {
		margin: 0 0 5px 5px;
		width: 195px;
	}
}

.rtl .portlet-document-library {
	.aui-column-last {
		margin-right: 0;

		.toolbar .aui-toolbar-content {
			direction: ltr;
		}

		.search-button-container .aui-column {
			padding: 2px 0 0 3px;
			width: auto;
		}

		.context-pane-content {
			margin-right: 0;
		}
	}

	.aui-column-content-first {
		border-right-width: 0;
	}
}

/* ---------- Microblogs Portlet ---------- */

.microblogs-portlet {
	.aui-tabview-list {
		margin: 1em;
	}

	.yui3-aclist-hidden {
		z-index: 4;
	}

	.autocomplete {
		background-color: transparent;
	}

	.highlighter-content {
		padding: 5px 0;
	}

	.microblogs-countdown {
		font-size: 0.9em;
	}

	.microblogs-button-input-disabled .microblogs-button-input, .microblogs-button-input-disabled:hover .microblogs-button-input {
		background: #C10000;
		border-color: #8A0808;
		color: #FFF;
		opacity: 1;
	}
}

.user-group .microblogs-status-container {
	position: relative;
	top: -6px;

	.microblogs-entry, .portlet-msg-info {
		background-color: #FFF;
		border: 1px solid $defaultBorderColor;
		padding: 8px 10px;
	}

	.portlet-msg-info {
		padding-left: 30px;
	}

	.entry-bubble {
		margin-left: 0;
	}

	.thumbnail, .user-name {
		display: none;
	}
}

.private-page .microblogs-status-container {
	padding-bottom: 0;
}

.profile-page .microblogs-status-container {
	top: 0;
}

/* ---------- Activities Portlet ---------- */

.so-portlet-activities {
	h3 {
		font-weight: normal;
		margin: 1em 0 0;
	}

	.activity-item {
		border-bottom: 1px solid $defaultBorderColor;
		line-height: 1.5em;
		padding: 1em;
	}

	.activity-body {
		font-size: 0.95em;
	}

	.user {
		font-weight: bold;
	}

	.user-portrait .icon {
		bottom: -4px;
		left: -4px;
	}

	a.group {
		color: $red;
	}

	.taglib-page-iterator {
		word-break: break-all;
	}

	.search-results .journal-article-page-number {
		display: inline-block;
	}
}

.profile-page .so-portlet-activities {
	.portlet-title, .portrait-social-activities h3 {
		text-align: right;
	}

	.portlet-title {
		color: $defaultTextColor;
		font-size: 1.5em;
		font-weight: normal;
		margin-top: 0.25em;
		width: 115px;
	}

	.portrait-social-activities h3 {
		font-size: 1em;
		margin: 0.5em 0 1em;
		width: 110px;
	}

	.user-portrait {
		left: 65px;
	}

	.activity-data {
		margin-left: 110px;
	}
}

/* ---------- Blogs ---------- */

.portlet-blogs {
	.portlet-borderless-container .portlet-body {
		padding: 10px;
	}

	.portlet-body {
		overflow-x: hidden;
	}

	.portlet-msg-success {
		border-width: 0;
		margin: -10px -10px 10px;
	}

	.search-form {
		background: $btnBackgroundDefault;
		float: none;
		margin: -10px -10px 10px -10px;
		padding: 5px;

		.aui-search-bar {
			float: right;
			zoom: 1;
		}
	}

	div.taglib-header {
		position: relative;
	}

	h1.header-title, #blogsCommentsPanelContainer, #_33_fm1 .aui-form, .entry {
		margin: 0 auto;
		max-width: 640px;
	}

	h1.header-title, .entry-title h2 {
		font-size: 1.5em;
		font-weight: normal;
		line-height: 1em;
	}

	h1.header-title {
		font-size: 2em;
		margin-top: 2em;
	}

	.entry {
		position: relative;
		width: 512px;
	}

	.entry-date, .entry-title h2 {
		margin: 0 0 0.5em;
	}

	#_33_fm .aui-fieldset {
		width: 100%;
	}

	.lfr-discussion-details {
		margin-right: auto;
		padding-left: 55px;
		width: auto;
	}

	.lfr-discussion-form-reply {
		background-color: $btnBackgroundDefault;
	}

	.lfr-discussion-details-content, .lfr-discussion-form-reply {
		padding: 0;
		position: relative;

		.user-name {
			text-align: left;
			text-decoration: none;
		}

		.user-name, .user-profile-image {
			display: inline-block;
		}

		.user-profile-image {
			float: none;
			position: relative;

			img {
				left: -56px;
				position: absolute;
			}
		}
	}

	.lfr-discussion-form-reply .user-profile-image img {
		left: 0;
		position: relative;
	}

	.lfr-discussion-body-content {
		margin-left: 55px;
	}

	.lfr-discussion-body {
		clear: both;
		float: none;
	}

	.aui-thumbrating-content {
		position: absolute;
		right: 0;
		top: 2px;
	}

	.user-details {
		display: none;
	}

	.edit-permissions .header-title {
		display: block;
		margin: 0;
	}

	.lfr-meta-actions {
		margin-top: -36px;
		padding: 4px;
		position: absolute;
		right: 0;
		width: auto;

		.lfr-table tr td, .lfr-table tr th {
			padding: 0 2px;
		}

		a {
			color: #34404F;
			display: inline-block;
			font-weight: bold;
			padding: 3px 5px 3px 3px;

			&:hover {
				text-decoration: none;
			}
		}
	}

	&.portlet-configuration .portlet-body {
		overflow-x: visible;
	}
}

/* ---------- Blogs Aggregator ---------- */

.portlet-blogs-aggregator {
	.entry-author, .entry-date {
		background-image: none;
		border-right-width: 0;
		margin-right: 4px;
		padding: 0;
	}

	.abstract, .entry-categories, .entry-tags {
		display: none;
	}

	.comments {
		display: inline;
		margin: 0.5em 0;
	}

	.comments a {
		white-space: nowrap;
	}
}

/* ---------- Bookmarks ---------- */

.portlet-bookmarks {
	.control-wrapper {
		text-align: right;

		a {
			background: url(../images/arrows/01_plus.png) no-repeat scroll 100% 50%;
			font-size: 11px;
			padding-right: 16px;
		}
	}

	#_28_bookmarksEntriesSearchContainer .results-header {
		display: none;
	}
}

/* ---------- Calendar ---------- */

.portlet-calendar {
	.calendar-container, .calendar-container .taglib-calendar, .calendar-day {
		float: none;
	}

	form {
		padding: 0.5em 0.5em 0.6em;
	}

	.aui-tabview-list {
		margin-bottom: 0;
	}

	.calendar-container, .calendar-container .day-text {
		background: transparent none;
		border: none;
	}

	.aui-field-wrapper, .aui-field .aui-field-content {
		padding: 0 10px;
	}

	.calendar-container {
		border-right: 1px solid $btnBorderDefault;
		width: auto;

		.calendar-day {
			border-bottom: 1px solid $btnBorderDefault;
			width: auto;
		}

		.day-text {
			color: #333;
		}

		.taglib-calendar {
			border-top: $btnBorderDefault;
		}
	}

	.date-selector, .event-selector {
		bottom: -13px;
		float: left;
		margin: 4px 10px;
		position: relative;
	}

	.day-grid {
		border-top: 1px solid #CCC;
		clear: both;

		.hour, .half-hour {
			border-bottom: 1px dotted $defaultBorderColor;
		}

		.half-hour {
			border-bottom-style: solid;
			height: 24px;
		}

		.half-hour, .night-hour {
			background: none;
		}

		.event-box {
			background: $btnBackgroundDefault;
			border: 1px solid #CCC;
			margin-top: 1px;
			padding-top: 6px;
		}
	}

	p {
		word-wrap: break-word;
	}

	.lfr-top {
		.aui-button {
			display: inline-block;
			margin-top: 10px;
		}

		.lfr-search-container {
			margin-right: 10px;
		}
	}
}

.portlet-column-content-only .portlet-calendar .aui-column-content {
	max-width: 550px;
	padding: 10px;
}

/* ---------- Contacts Portlet ---------- */

.contacts-portlet {
	.contacts-profile {
		border-bottom: 1px solid $defaultBorderColor;

		.lfr-contact-name a {
			color: $red;
		}
	}

	.toolbar, .contact-group-filter {
		background-color: $controlBgColor;
	}

	.lfr-app-column-view {
		border-width: 1px 0 0;

		.taglib-header h1 {
			font-weight: 200;
		}

		.contacts-list {
			border-right: 1px solid $defaultBorderColor;
		}

		.taglib-header, .contacts-profile {
			border-bottom-width: 0;
		}

		.aui-column:before {
			border-right-width: 0;
			margin-left: 0;
		}

		.aui-column-content {
			border-right-width: 0;
		}
	}

	.contact-group-filter .contact-group-filter-content {
		min-height: 30px;
	}

	.social-relations {
		background: $controlBgColor;

		a .taglib-text {
			text-decoration: none;
		}
	}

	.contacts-action-content {
		padding: 3px;

		span, .taglib-text {
			padding: 0;
		}
	}

	.taglib-page-iterator {
		padding: 5px;
	}

	.members-container, .members-container .lfr-members-grid-item {
		margin: 0;
		padding: 10px;
	}

	.members-container .lfr-members-grid-item {
		.lfr-user-data-extra, .lfr-user-data-name, .lfr-user-data-job-title {
			overflow: hidden;
			text-overflow: ellipsis;
			white-space: nowrap;
		}

		.lfr-members-thumb {
			margin: 0;
		}

		&:hover {
			background: $btnBorderDefault;
		}
	}

	.contacts-search {
		float: none;
		width: auto;
	}

	.lfr-contact {
		border-bottom: 1px solid $btnBorderDefault;
	}

	.lfr-contact-grid-item .lfr-contact-extra, .lfr-contact-grid-item .lfr-contact-job-title, .lfr-contact-grid-item .lfr-contact-name, .lfr-detail-info .lfr-contact-extra, .lfr-detail-info .lfr-contact-job-title, .lfr-detail-info .lfr-contact-name {
		overflow: hidden;
	}

	.contacts-result-content .contacts-result .last-name-anchor a {
		padding: 0.25em;
	}
}

.profile-page .contacts-portlet {
	.contacts-profile, .lfr-contact-grid-item {
		border-bottom-width: 0;
	}

	.contacts-profile .lfr-contact-grid-item {
		padding-top: 20px;
	}

	.contacts-profile .user-information-column-1 {
		float: none;
	}

	.lfr-app-column-view .contacts-profile .lfr-contact-grid-item {
		padding-top: 10px;
	}

	.projects {
		padding: 20px 65px;

		h3 {
			float: none;
			text-align: left;
			width: auto;
		}

		h3, .property-list {
			margin: 0;
		}

		h3, .project-date {
			display: inline;
		}
	}
}

.portlet-column-only .contacts-portlet .contacts-profile {
	border-bottom-width: 1px;
}

/* ---------- Private Messaging ---------- */

.private-messaging-portlet {
	.controls {
		background-color: $controlBgColor;

		@include border-radius(0);

		border-width: 0 0 1px;
	}

	.thread-content .controls {
		margin-bottom: -1px;
	}

	.controls, .portlet-msg-info, .portlet-msg-success {
		border-width: 0 0 1px;
		margin: 0;
	}

	.private-messaging-container {
		.results-grid, .results-grid table.taglib-search-iterator, .results-grid .results-row td, .results-grid .results-row.alt td, .thread .results-row {
			border-left-width: 0;
			border-right-width: 0;
			border-top-width: 0;
		}
	}

	.message-link:hover {
		background-color: $btnBackgroundDefault;
		text-decoration: none;
	}

	.user-profile-image {
		position: relative;
		z-index: 2;
	}

	.taglib-search-iterator-page-iterator-bottom {
		padding: 10px;
	}

	.messages-content {
		min-height: 400px;
	}

	.message-link {
		padding-bottom: 20px;
	}

	.user-profile-image {
		overflow: hidden;
		height: 50px;
	}
}

/* ---------- Message Boards ---------- */

.portlet-message-boards {
	.category-current {
		font-weight: bold;
	}

	.result-data .views {
		clear: none;
		color: #777;
		float: none;
		padding: 0;
	}

	.answer {
		background-color: #AAD049;
		margin-right: 91px;
		padding: 4px;
		position: absolute;
		right: 100%;
		text-align: right;
		top: 0;
		width: 79px;
	}

	.message-container {
		border-color: $defaultBorderColor;
		border-width: 0 0 1px 1px;
		margin: 0;
		padding: 0 5px;

		&.reply {
			border: 1px solid $defaultBorderColor;
			margin: -1px 0;
			padding: 0 5px;
		}

		.user-info {
			border-width: 0;
			padding: 0;
			width: 75px;

			.taglib-user-display {
				position: relative;
			}
		}

		.user-name {
			display: block;
			left: 100%;
			padding-left: 10px;
			position: absolute;
			text-align: left;
			text-decoration: none;
			top: 0.25em;
			white-space: nowrap;
			z-index: 1;
		}

		.user-details {
			display: none;
		}

		.thread-top {
			border-bottom-width: 0;
			padding: 1.75em 0 0;
			position: relative;

			.edit-controls {
				position: absolute;
				right: -5px;
				top: 0;
			}
		}

		.results-row {
			img {
				max-width: 100%;
			}

			td, &.alt td {
				background: none;
				border-width: 0;
				padding-top: 10px;
			}

			td.thread-bottom {
				padding-bottom: 10px;
				padding-top: 0;
				vertical-align: middle;
			}
		}

		.thread-bottom {
			.taglib-flags, .taglib-ratings.thumbs {
				margin-top: 1.5em;
			}
		}
	}

	.taglib-user-display {
		padding: 0;
	}

	.message-boards-panels, .results-grid {
		.lfr-actions.show-arrow.direction-left .lfr-trigger {
			padding: 0;

			strong {
				min-width: 20px;

				a {
					background-image: url(../images/arrows/08_left.png);
					background-position: 0 -4px;
					display: block;
					height: 16px;
					padding: 0;
					width: 16px;

					&:active {
						background-position: 0 -22px;
					}
				}
			}

			img, .taglib-text {
				display: none;
			}
		}
	}

	.thread-body {
		padding: 10px 0;
	}

	.thread-controls {
		background: $controlBgColor;

		@include border-radius(4px);
		@include default-border;

		padding: 5px 6px;
	}

	.thread-navigation {
		padding: 0 5px;
	}

	.edit-controls {
		opacity: 0;
		position: relative;
		top: -0.5em;

		@include transition-duration(0.2s);
		@include transition-property(opacity);

		z-index: 2;

		li {
			margin: 0 5px;
		}
	}

	.controls-visible .edit-controls {
		opacity: 1;
	}

	.stats {
		.status, .votes {
			display: block;
			height: auto;
			margin: 0;
			padding: 0;
			width: auto;
		}

		.count {
			display: inline;
			font-size: 1em;
		}
	}

	.displayStyle-question {
		.stats {
			width: auto;

			a {
				display: block;
				padding: 8px 0;

				.question-details {
					display: block;
					text-align: center;

					.status, .votes {
						display: inline-block;
						font-weight: bold;
						margin: 0 3px 0 0;
						padding: 5px;
					}
				}
			}
		}

		.count {
			display: block;
			font-size: 190%;
			min-width: 50px;
			padding-top: 0.3em;
		}

		.summary {
			font-size: 1.25em;
			font-weight: normal;
			margin-top: 0.5em;
		}

		.question-subject {
			font-weight: normal;
		}

		.question {
			vertical-align: middle;
			width: auto;
		}

		.user-info {
			margin: -5px -10px;

			div {
				padding: 10px;
			}

			.portrait {
				padding-bottom: 0;
			}

			.username {
				font-weight: bold;
				padding: 0 10px;
			}

			.time {
				padding-top: 0;
			}
		}
	}
}

.portlet-message-boards, .portlet-wiki {
	.taglib-header {
		border-bottom-width: 0;

		.header-title {
			font-weight: normal;
			margin: 0.5em 0;
		}
	}

	.top-links-container {
		margin: -10px -10px 10px;

		.page-search, .category-search {
			font-size: 0;
			margin: 0;
			padding: 0;

			.aui-field-input, .aui-button-submit {
				font-size: 13px;
			}

			.aui-field-input {
				margin-right: -1px;
				width: 9em;

				@include border-radius(4px 0 0 4px);
			}

			.aui-button-submit input {
				@include border-radius(0 4px 4px 0);
			}
		}

		.top-links {
			padding: 0.45em 0.95em;
		}
	}

	.top-links-container .top-link {
		vertical-align: middle;
	}

	.portlet-msg-success {
		border-width: 0 0 1px;
		margin: -10px -10px 10px;
	}

	.portlet-borderless-container .portlet-body {
		margin: 10px;
	}
}

.portlet-message-boards .edit-controls a, .portlet-message-boards .thread-controls a, .portlet-wiki .page-actions a, .portlet-wiki .toc a.toc-trigger {
	@include button-default;
	@include border-radius(4px);

	display: inline-block;

	&, .taglib-text {
		text-decoration: none;
	}

	&:active {
		@include button-active;
	}

	&:hover, &:focus {
		@include button-focus;
	}

	img.icon {
		vertical-align: top;
	}
}

/* ---------- Tasks Portlet ---------- */

.tasks-portlet {
	.aui-tabview-list, .control-wrapper, .filter-wrapper, .list-wrapper, .tasks-options {
		margin: 1em;
	}

	.filter-wrapper {
		margin-top: -0.5em;
	}

	.tms-portlet-tasks .progress {
		background-color: #FFD8B2;
	}
}

.upcoming-tasks-portlet .tasksentries-container .tasks-title a {
	padding: 3px 0 3px 20px;

	&:hover {
		background-color: $controlBgColor;
		text-decoration: none;
	}
}

/* ---------- Invite Members ---------- */

.so-portlet-invite-members {
	background-color: $controlBgColor;
	border: 1px solid $defaultBorderColor;
	border-width: 1px 0;
	margin-top: -1px;
	padding: 0.8em 1em;
}

/* ---------- SO Portlet Sites ---------- */

.aui-dialog-bd .so-sites-directory {
	.taglib-header {
		display: none;
	}
}

/* ---------- Wiki Portlet ---------- */

.portlet-wiki {
	.page-actions {
		text-align: left;
	}

	.article-actions, .stats {
		display: inline-block;
		vertical-align: baseline;
	}

	.toc {
		border: 1px solid $defaultBorderColor;
		margin-bottom: 1.5em;
		padding: 1em;

		h4 {
			color: $red;
			margin: 0;
		}


		ul, ol {
			li {
				margin-bottom: 0;
			}

			ul, ol {
				margin: 0 0 0 2em;
			}
		}
	}
}

/* ---------- Portlet Typography ---------- */

.portlet-message-boards .thread-body, .portlet-wiki .wiki-body, .portlet-blogs .entry-body {
	line-height: 1.5em;

	&, h1, h2, h3, h4, h5, h6 {
		color: $defaultTextColor;
	}

	h1, h2, h3, h4, h5, h6 {
		font-weight: bold;
	}

	h2 {
		border-color: $defaultBorderColor;
		font-size: 1.75em;
		margin: 1em 0 0.5em;
	}

	h3 {
		font-size: 1.25em;
	}

	h4 {
		font-size: 1.125em;
	}

	h5, h6 {
		font-size: 1em;
	}
}

@media print {
	.portlet-message-boards .edit-controls a, .portlet-message-boards .thread-controls a, .portlet-wiki .page-actions a, .portlet-wiki .toc a.toc-trigger, .popup-print {
		display: none;
	}
}

.ie8, .ie9 {
	#user-bar .user-menu .avatar img {
		visibility: visible;
		width: 24px;
	}

	#navigation .avatar img {
		visibility: visible;
		width: 155px;
	}
}

@media (max-width:860px) {
	#content, #navigation, #navigation ul {
		border-width: 0;
	}

	div#navigation {
		@include clear-both;

		float: none;
		margin-left: 0;

		@include subtle-gradient;

		width: 100%;

		li {
			float: left;

			a {
				@include background-image(linear, 50% 100%, 50% 0, color-stop(0, #252d31), color-stop(100%, #32363a));

				display: block;
				padding: 0.75em 1em;
			}
		}

		.avatar {
			float: left;
			height: 39px;
			width: 39px;

			img {
				min-height: 39px;
				width: 39px;
			}
		}
	}

	#content {
		padding-left: 0;
	}

	.portlet-layout, .portlet-column {
		display: block;
		width: auto;
	}
}