<div class="navigation-wrapper">
	<header class="content-head content-head-liferay-portal">
		<hgroup>
			<h1>$page-title.data</h1>

			<hr />
		</hgroup>

		<nav>
			<ul id="contentNav">
				#foreach($link in $links.siblings)
					#if($velocityCount == 1)
						<li class="selected"><a href="#pageId$velocityCount">$link.data</a></li>
					#else
						<li><a href="#pageId$velocityCount">$link.data</a></li>
					#end
				#end
			</ul>
		</nav>
	</header>

	<div class="content-area-wrapper">
		#foreach($link in $links.siblings)
			#if($velocityCount == 1)
				<style type="text/css">
					.content-area {
						background: url($link.bg-image.data) 100% 0 no-repeat;
					}
				</style>

				<div class="content-area selected" data-bannerImage="$link.bg-image.data" id="pageId$velocityCount">
					$link.data

					<a href="$link.action-link-url.data" id="marketplace">&nbsp;</a>
				</div>
			#else
				<div class="content-area" data-bannerImage="$link.bg-image.data" id="pageId$velocityCount">
					$link.data

					<a href="$link.action-link-url.data" id="marketplace">&nbsp;</a>
				</div>
			#end
		#end
	</div>
</div>

<script charset="utf-8" type="text/javascript">
	AUI().ready(
		'aui-base',
		function(A) {
			var hash = null;

			var selectContent = function(href) {
				var div = A.one(href);

				if (div) {
					div.radioClass('selected');

					div.setStyle('background', 'url(' + div.attr('data-bannerImage')+') 100% 0 no-repeat');

					hash = href;
				}
			};

			var selectNavItem = function(hash) {
				if (hash) {
					A.one('#contentNav a[href$="'+ hash +'"]').ancestor().radioClass('selected');
				}
			};

			var select = function(hash) {
				selectContent(hash);
				selectNavItem(hash);
			};

			var currentHash = location.hash;

			if (currentHash) {
				select(currentHash);
			}

			setInterval(
				function() {
					var currentHash = location.hash;

					if (currentHash != hash) {
						select(currentHash);
					}
				},
				200
			);

			A.one('#contentNav').delegate(
				'click',
				function(event) {
					var a = event.currentTarget;

					a.ancestor().radioClass('selected');

					selectContent(a.attr('hash'));
				},
				'a'
			);
		}
	);
</script>