<!DOCTYPE html>

#parse ($init)

<html class="$root_css_class" dir="#language ("lang.dir")" lang="$w3c_language_id">

<head>
	<title>$the_title - $company_name</title>

	<meta content="initial-scale=1.0, width=device-width" name="viewport" />

	$theme.include($top_head_include)

	<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>

	<script>
		$(document).ready(function(){
			$('a[href^="#"]').on('click',function (e) {
			    e.preventDefault();

			    var target = this.hash,
			    $target = $(target);

			    $('html, body').stop().animate({
			        'scrollTop': $target.offset().top
			    }, 900, 'swing', function () {
			        window.location.hash = target;
			    });
			});
		});
	</script>

</head>

<body class="$css_class">


$theme.include($body_top_include)

#if ($is_signed_in)
	#dockbar()
#end

<div class="container-fluid" id="wrapper">
	#if ($is_first_parent)
		<header class="banner-large" id="banner" role="banner">
			<div id="heading">
				<h1 class="site-title">
					<a class="$logo_css_class" href="$site_default_url" title="#language_format ("go-to-x", [$site_name])">
						<img alt="$logo_description" height="$site_logo_height" src="$site_logo" width="$site_logo_width" />
					</a>

					#if ($show_site_name)
						<span class="site-name" title="#language_format ("go-to-x", [$site_name])">
							$site_name
						</span>
					#end
				</h1>

				<h1 class="page-title">
					<span>$the_title</span>
				</h1>

				<h2 class="link-to-content">
					<a href="#content">See More</a>
				</h2>

			</div>

	#else
		<header class="banner-small" id="banner" role="banner">
			<div id="heading">
				<h1 class="site-title">
					<a class="$logo_css_class" href="$site_default_url" title="#language_format ("go-to-x", [$site_name])">
						<img alt="$logo_description" height="$site_logo_height" src="$site_logo" width="$site_logo_width" />
					</a>

					#if ($show_site_name)
						<span class="site-name" title="#language_format ("go-to-x", [$site_name])">
							$site_name
						</span>
					#end
				</h1>

				<h2 class="page-title">
					<span>$the_title</span>
				</h2>
			</div>

	#end
			#if (!$is_signed_in)
				<a data-redirect="$is_login_redirect_required" href="$sign_in_url" id="sign-in" rel="nofollow">$sign_in_text</a>
			#end

			#if ($has_navigation || $is_signed_in)
				#parse ("$full_templates_path/navigation.vm")
			#end
		</header>

	<div id="content">
<!-- 		<nav id="breadcrumbs">#breadcrumbs()</nav> -->

		#if ($selectable)
			$theme.include($content_include)
		#else
			$portletDisplay.recycle()

			$portletDisplay.setTitle($the_title)

			$theme.wrapPortlet("portlet.vm", $content_include)
		#end
	</div>

	<footer id="footer" role="contentinfo">

		<div id="footer-inner">
	        <div id="footer-left">
	        	<h3> $site_name </h3>

				#if($theme.getSetting("display-slogan-footer") == true)
				    <p class="footer-slogan">
				    	$theme.getSetting("slogan")
					</p>
				#end
			</div>

			#if($has_navigation)
				<div id="footer-center">
					<h3>Site Pages</h3>
					<ul>
						#foreach ($nav_item in $nav_items)
							<a href=$nav_item.getTarget()>
								<li class="footer-link"> $nav_item.getName()</li>
							</a>
						#end
					</ul>
				</div>
			#end


			<p class="powered-by">
	        #language ("powered-by") <a href="http://www.liferay.com" rel="external">Liferay</a>
			</p>
		</div>

	</footer>

</div>

$theme.include($body_bottom_include)

$theme.include($bottom_include)

</body>

</html>