@import "compass/css3";

$blue: #0E50A9;
$defaultBorderColor: #C9C9C9;
$defaultTextColor: #202020;

@mixin default-border {
	border: 1px solid $defaultBorderColor;
}

@mixin clear-both {
	&:after {
		clear: both;
		content: "";
		display: block;
	}
}

@mixin menu-mix {
	background-color: #FFF;

	@include border-radius(4px);
	@include box-shadow(0 1px 3px rgba(0,0,0, 0.78));
}

.portlet-dockbar {
	overflow: hidden;
}

#dockbar {
	margin-top: -31px;
	opacity: 0;
	position: relative;

	@include transition-duration(0.5s);
	@include transition-property(all);

	.user-toolbar {
		display: none;
	}
}

body.show-dockbar, html > body.lfr-dockbar-pinned, body.controls-visible {
	.portlet-dockbar {
		overflow: visible;
	}

	#dockbar {
		@include opacity(1);

		margin-top: 0;
	}
}

html > body.lfr-dockbar-pinned {
	padding-top: 74px;

	#dockbar {
		@include box-shadow(0 7px 9px -8px rgba(0, 0, 0, 0.5));

		position: fixed;
		top: 42px;
	}

	.so-portlet-user-bar {
		left: 0;
		position: fixed;
		right: 0;
		top: 0;
	}
}

.so-portlet-user-bar {
	background: #32363A url(../images/user_bar_default_bg.png) repeat-x;

	@include background-image(linear-gradient(bottom, #252D31 0, #32363A 100%));

	font: 13px/1.5em 'Helvetica Neue', Helvetica, Arial, sans-serif;
	font-weight: 200;
	padding-right: 30%;
	position: relative;
	z-index: 301;

	&, a {
		&, &:hover, &:visited, &:active {
			color: #FFF;
			font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
			font-size: 13px;
			font-weight: 400;
			text-decoration: none;
		}
	}

	.so-logo {
		display: inline-block;
		margin-bottom: -7px;
		padding: 6px 3px 6px 8px;
		vertical-align: middle;

		&, &:hover {
			background-color: transparent;

			@include box-shadow(none);
		}
	}

	.dashboard-nav {
		position: relative;
		width: 100%;
		z-index: 2;
	}

	a {
		color: #FFF;
		background-color: rgba(0,0,0, 0);

		@include border-radius(4px);
		@include box-shadow(none);

		font-size: 1em;
		padding: 0.25em 0.8em;
		text-shadow: 0 1px 2px rgba(0,0,0, 0.75);

		@include transition-duration(0.5s);
		@include transition-property(background-color);
	}

	li.selected a, a:hover, .hover a {
		background-color: rgba(0,0,0, 0.48);

		@include box-shadow(0 1px 2px rgba(0,0,0, 0.75));

		text-decoration: none;
	}

	ul, li {
		display: inline-block;
		list-style: none;
		margin: 0;
		padding: 0;
		vertical-align: middle;
	}

	li a {
		display: block;
	}

	nav {
		display: inline-block;
		width: 90%;
	}

	.has-submenu {
		position: relative;
	}

	.user-toolbar {
		padding: 0.5em;
		position: absolute;
		right: 0;
		top: 0;

		.avatar {
			display: inline-block;
			height: 24px;
			margin: -5px 5px -4px -5px;
			overflow: hidden;
			padding: 0;
			vertical-align: middle;
			width: 24px;

			img {
				max-width: 24px;
				min-height: 24px;
			}
		}

		.child-menu {
			display: none;
			height: 0;
			left: auto;

			@include menu-mix;

			min-width: 150px;

			position: absolute;
			right: 0;

			@include transition-duration(0.5s);
			@include transition-property(all);

			top: 100%;
			z-index: 3;

			li {
				display: block;
			}

			a {
				background-color: transparent;

				@include box-shadow(none);

				color: $defaultTextColor;
				display: block;

				@include text-shadow(none);

				&:hover {
					background-color: rgba(0, 0, 0, 0.6);
					color: #FFF;
				}
			}
		}

		.full-name {
			display: inline;
			max-width: 8.25em;
			overflow: hidden;
			text-overflow: ellipsis;
			white-space: nowrap;
		}

		.config-icon {
			padding: 0.25em 6px;

			img {
				vertical-align: bottom;
			}
		}
	}

	.user-notification-events a, .user-notification-events a:hover {
		background: transparent;
		box-shadow: none;
		color: $blue;
		font-weight: normal;
		padding: 0;
		text-shadow: none;
	}

	.user-notification-events {
		@include clear-both;

		color: $defaultTextColor;
		font-size: 1em;
		right: 0;
		top: 135%;
		width: 350px;
		z-index: 2;

		.aui-menu-content {
			background-image: none;

			@include menu-mix;
		}

		.user-notification-event-content {
			border-bottom: 1px solid $defaultBorderColor;
			border-width: 0 0 1px;
			cursor: pointer;
		}

		.user-notification-event-sender {
			float: left;
			padding: 0.75em;
			position: relative;

			.icon, .portlet-icon {
				bottom: 0;
				position: absolute;
				right: 0;
			}
		}

		.thumbnail {
			display: block;
			height: 45px;
			overflow: hidden;
			width: 45px;

			img {
				max-width: 45px;
				min-height: 45px;
			}
		}

		.notification-entry {
			color: $defaultTextColor;
			margin-left: 60px;
			padding: 0.5em 0.65em;

			.title a {
				display: inline;
				font-weight: bold;
			}

			.datetime {
				font-size: 0.85em;
			}
		}

		.request {
			text-align: right;

			a {
				@include border-radius(4px);

				display: inline-block;
				margin-right: 10px;
			}
		}

		.user-notification-event-header{
			padding: 0.5em;
		}

		.user-notification-event-footer {
			border: none;

			a {
				@include border-radius(0);

				display: block;
				float: none;
				text-align: left;
				width: auto;

				&, &:hover {
					display: block;
					padding: 0.5em;
				}
			}

			.view-all, .dismiss-notifications {
				border-width: 0;
				float: none;
				width: auto;
			}

			.dismiss-notifications a {
				border-bottom: 1px solid $defaultBorderColor;
			}
		}
	}

	.notifications-menu {
		position: relative;

		.notification-count {
			background: transparent;
			color: #202020;
			margin: 0 -0.1em;
			padding: 0;
			text-shadow: none;
		}

		.user-notification-events-icon {
			background: rgba(255, 255, 255, 1);

			@include border-radius(20px);

			padding: 0 0.55em;

			&:hover {
				background: rgba(0,0,0, 0.8);

				.notification-count {
					color: #FFF;
				}
			}
		}
	}

	.so-portlet-sites {
		display: block;
		margin-left: -300px;
		max-width: 450px;
		min-width: 350px;
		position: relative;
		right: 0;
		top: 0;
		vertical-align: middle;
		width: 350px;

		.portlet {
			border-width: 0;
		}

		.portlet-topper, .favorite-msg-info {
			display: none;
		}

		.portlet-body {
			left: 0;
			margin: -1.675em 0 0;

			@include menu-mix;

			padding: 3.4em 0 0;
			position: absolute;
			right: 0;
			visibility: hidden;
			z-index: 1;

			a, a:hover, li.has-menu:hover a {
				background-color: transparent;

				@include border-radius(0);
				@include box-shadow(none);

				color: $defaultTextColor;
				font-weight: normal;
				text-shadow: none;
			}
		}

		.search {
			display: block;
			float: none;
			left: 0;
			margin-bottom: 0;
			padding: 0 0.75em;
			position: absolute;
			right: 0;
			text-align: right;
			top: 0.65em;
			visibility: visible;
			width: auto;

			.search-input {
				background: rgba(0,0,0, 0.40);
				border: 1px solid #1C2125;

				@include border-radius(4px);
				@include box-shadow(0 1px 2px rgba(0,0,0, 0.4) inset);

				color: #FFF;
				cursor: pointer;
				display: block;
				float: right;

				@include transition-duration(0.5s);
				@include transition-property(width);

				text-align: left;
				text-indent: 0.5em;
				text-shadow: 0 1px 2px rgba(0,0,0, 0.75);
				width: 20%;
			}

			input[type=image] {
				display: none;
			}
		}

		.sites-tabs, .sites-list-container, .control-container {
			display: none;
		}

		.sites-tabs {
			border-top: 1px solid rgba(0,0,0, 0.1);
			float: none;
			padding: 1em;

			select {
				display: block;
				width: 100%;
			}
		}

		.site-list-container {
			.name {
				position: relative;

				a {
					background-position: 8px center;
					background-repeat: no-repeat;
					border-top: 1px solid $defaultBorderColor;
					display: block;
					padding: 0.55em 2.5em;

					&:hover {
						background-color: rgba(0,0,0, 0.1);
					}
				}

				.private-pages {
					background: #FFF;
					padding: 0.55em 0.5em;
					position: absolute;
					right: 2em;
					top: 0;
				}
			}

			span.action {
				position: relative;
				z-index: 1;

				a {
					font-size: 0;
					margin-top: 8px;
					text-indent: -9999em;
				}
			}

			ul.site-list {
				&, li {
					background-color: transparent;
					border-width: 0;
					color: $defaultTextColor;
					display: block;
					margin: 0;
					padding: 0
				}

				.empty, .empty:hover {
					border-width: 1px 0 0;
					padding: 0.5em 1em 0.5em 2em;
				}
			}
		}

		.control-container {
			.aui-toolbar-content {
				display: block;
			}

			button {
				width: 50%;
			}
		}
	}

	.search-focus .so-portlet-sites .portlet-body {
		visibility: visible;
		z-index: 3;

		.search {
			width: auto;

			.search-input {
				background: #FFF;
				border: 1px solid $defaultBorderColor;

				@include box-shadow(0 1px 2px rgba(0,0,0, 0) inset);

				color: $defaultTextColor;
				cursor: text;
				text-shadow: none;
				width: 97%;
			}
		}

		.sites-tabs, .sites-list-container, .control-container {
			display: block;
		}
	}

	.menu-active {
		overflow: visible;

		.child-menu {
			display: block;
			height: auto;
		}
	}
}

.rtl .so-portlet-user-bar {
	direction: ltr;
}

@media (max-width:860px) {
	.so-portlet-user-bar {
		a {
			padding: 0.25em 0.7em;
		}

		.user-info a {
			padding: 0;

			.avatar {
				@include border-radius(4px);

				margin: 0;
			}
		}

		.full-name {
			display: none;
		}
	}
}

.ie7 .so-portlet-user-bar {
	.dashboard-nav, .user-toolbar {
		@include clear-both;

		li {
			display: block;
			float: left;

			li {
				float: none;
			}
		}
	}

	.user-toolbar .go-to .portlet-body {
		margin-top: -0.75em;

		input {
			color: $defaultTextColor;
		}
	}
}

.ie8 .so-portlet-user-bar {
	.search-input {
		background: #181C1F;
	}

	.notifications-menu {
		margin-top: 0.2em;

		.notification-count {
			margin: 0 0.1em;
		}
	}

	.user-toolbar .full-name {
		display: inline;
	}

	.config-item {
		float: right;
	}
}