@import "compass/css3";

$blue: #0E50A9;
$defaultBorderColor: #C9C9C9;
$defaultTextColor: #202020;

@mixin default-border {
	border: 1px solid $defaultBorderColor;
}

@mixin clear-both {
	&:after {
		clear: both;
		content: "";
		display: block;
	}
}

@mixin menu-mix {
	background-color: #FFF;

	@include border-radius(4px);
	@include box-shadow(0 1px 3px rgba(0,0,0, 0.78));
}

body.show-dockbar, html > body.lfr-dockbar-pinned, body.controls-visible {
	.portlet-dockbar {
		overflow: visible;
	}

	#dockbar {
		@include opacity(1);

		margin-top: 0;
	}
}

.aui .so-portlet-user-bar {
	background: #252D31 url(../images/user_bar_default_bg.png) 0 0 repeat-x;
	@include background-image(linear-gradient(bottom, #252D31 0, #32363A 100%));

	font: 14px/2em 'Helvetica Neue', Helvetica, Arial, sans-serif;
	font-weight: 200;
	padding-right: 30%;
	position: relative;
	z-index: 301;

	&, a {
		&, &:hover, &:visited, &:active {
			color: #FFF;
			font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
			font-size: 14px;
			font-weight: 400;
			line-height: 2em;
			text-decoration: none;
		}
	}

	.so-logo {
		display: inline-block;
		padding: 6px 3px 6px 8px;
		vertical-align: middle;

		&, &:hover {
			background-color: transparent;

			@include box-shadow(none);
		}
	}

	.dashboard-nav {
		font-size: 0;
		position: relative;
		width: 100%;
		z-index: 2;

		li {
			font-size: 14px;
		}
	}

	a {
		color: #FFF;
		background-color: rgba(0,0,0, 0);

		font-size: 1em;
		padding: 0.58em 0.8em;

		@include transition-duration(0.5s);
		@include transition-property(background-color);
	}

	li.selected a, a:hover, .hover a {
		background-color: rgba(0,0,0, 0.48);

		text-decoration: none;
	}

	ul, li {
		display: inline-block;
		list-style: none;
		margin: 0;
		padding: 0;
		vertical-align: middle;
	}

	li a {
		display: block;
	}

	nav {
		display: inline-block;
		width: 90%;
	}

	.has-submenu {
		position: relative;
	}
}

.portlet-dockbar {
	.so-portlet-sites {
		display: block;
		margin-left: -300px;
		max-width: 450px;
		min-width: 350px;
		position: relative;
		right: 0;
		top: 0;
		vertical-align: middle;
		width: 350px;

		.portlet {
			background: transparent;

			&, .portlet-content {
				border-width: 0;
			}
		}

		.portlet-topper, .favorite-msg-info {
			display: none;
		}

		.portlet-body {
			left: 0;
			margin: -1.125em 0 0;

			@include menu-mix;

			padding: 3.4em 0 0;
			position: absolute;
			right: 0;
			visibility: hidden;
			z-index: 1;

			a, a:hover, li.has-menu:hover a {
				background-color: transparent;

				@include border-radius(0);
				@include box-shadow(none);

				color: $defaultTextColor;
				font-weight: normal;
				text-shadow: none;
			}
		}

		.search {
			display: block;
			float: none;
			left: 0;
			margin-bottom: 0;
			padding: 0 0.75em;
			position: absolute;
			right: 0;
			text-align: right;
			top: 0.65em;
			visibility: visible;
			width: auto;

			.search-input {
				background: #FFF;
				border: 1px solid #1C2125;

				@include border-radius(20px);
				@include box-shadow(0 1px 2px rgba(0,0,0, 0.4) inset);

				color: #202020;
				cursor: pointer;
				display: block;
				float: right;

				@include transition-duration(0.5s);
				@include transition-property(width);

				text-align: left;
				text-indent: 0.5em;
				width: 20%;
			}

			input[type=image] {
				display: none;
			}
		}

		.sites-tabs, .sites-list-container, .control-container {
			display: none;
		}

		.sites-tabs {
			border-top: 1px solid rgba(0,0,0, 0.1);
			float: none;
			padding: 1em;

			select {
				display: block;
				width: 100%;
			}
		}

		.site-list-container {
			.name {
				position: relative;

				a {
					background-position: 8px center;
					background-repeat: no-repeat;
					border-top: 1px solid $defaultBorderColor;
					display: block;
					padding: 0.55em 2.5em;

					&:hover {
						background-color: rgba(0,0,0, 0.1);
					}
				}

				.private-pages {
					background: #FFF;
					padding: 0.55em 0.5em;
					position: absolute;
					right: 2em;
					top: 0;
				}
			}

			span.action {
				position: relative;
				z-index: 1;

				a {
					font-size: 0;
					margin-top: 8px;
					text-indent: -9999em;
				}
			}

			ul.site-list {
				&, li {
					background-color: transparent;
					border-width: 0;
					color: $defaultTextColor;
					display: block;
					margin: 0;
					padding: 0
				}

				.empty, .empty:hover {
					border-width: 1px 0 0;
					padding: 0.5em 1em 0.5em 2em;
				}
			}
		}

		.control-container {
			.toolbar-content {
				display: block;
			}

			button {
				width: 50%;
			}
		}
	}

	.search-focus .so-portlet-sites .portlet-body {
		visibility: visible;
		z-index: 3;

		.search {
			width: auto;

			.search-input {
				background: #FFF;
				border: 1px solid $defaultBorderColor;

				@include box-shadow(0 1px 2px rgba(0,0,0, 0) inset);

				color: $defaultTextColor;
				cursor: text;
				text-shadow: none;
				width: 97%;
			}
		}

		.sites-tabs, .sites-list-container, .control-container {
			display: block;
		}
	}
}

.aui .dockbar-split .portlet-dockbar .dockbar .navbar-inner .nav-account-controls {
	background-color: transparent;
	background-image: none;
	border-top-color: transparent;
	right: 0;
}
html.aui .dockbar-split .dockbar .navbar-inner .nav > li {
}

html.aui {
	.dockbar,
	.dockbar-split .dockbar,
	.dockbar.navbar-static-top .dockbar {
		.navbar-inner, .container {
			width: auto;
		}

		.container {
			.nav-account-controls {
				bottom: 100%;
				left: auto;
				position: absolute;
				right: 0;
				z-index: 301;

				.divider-vertical {
					display: none;
				}
			}
		}

		.navbar-inner .nav > li {
			background-color: transparent;

			> a {
				color: #FFF;
				text-shadow: none;
			}
		}
	}

	.dockbar .container .nav-account-controls,
	.dockbar.navbar-static-top .collapse .nav-account-controls {
		position: absolute;
		top: -42px;
	}

	.dockbar-split .dockbar .container .nav-account-controls,
	.dockbar-split .dockbar.navbar-static-top .collapse .nav-account-controls {
		position: absolute;
		top: 0;
	}

	.my-sites.dropdown {
		display: none;
	}

	.dockbar-user-notifications .user-notifications-count, .notifications-portlet .user-notifications-count {
		background: #FFF;

		@include border-radius(12px);

		border-width: 0;
		color: #202020;
		padding: 4px 8px;
	}

	.navbar .dockbar-user-notifications .nav>li>.dropdown-menu {
		&:after {
			left: auto;
			right: 9px;
		}

		&:before {
			left: auto;
			right: 10px;
		}
	}
}

@media (max-width:860px) {
	.so-portlet-user-bar {
		a {
			padding: 0.25em 0.7em;
		}

		.user-info a {
			padding: 0;

			.avatar {
				@include border-radius(4px);

				margin: 0;
			}
		}

		.full-name {
			display: none;
		}
	}
}

.ie7 .so-portlet-user-bar {
	.dashboard-nav, .user-toolbar {
		@include clear-both;

		li {
			display: block;
			float: left;

			li {
				float: none;
			}
		}
	}

	.user-toolbar .go-to .portlet-body {
		margin-top: -0.75em;

		input {
			color: $defaultTextColor;
		}
	}
}

.ie8 .so-portlet-user-bar {
	.search-input {
		background: #181C1F;
	}

	.notifications-menu {
		margin-top: 0.2em;

		.notification-count {
			margin: 0 0.1em;
		}
	}

	.user-toolbar .full-name {
		display: inline;
	}

	.config-item {
		float: right;
	}
}