@import "bourbon";
@import "mixins";

$defaultBackgroundColor: #252D31;
$defaultTextColor: #202020;

@mixin hover-transition {
	@include transition-duration(0.5s);
	@include transition-property(background-color);
}

@mixin primary-hover-state {
	background-color: #181B1D;
	background-color: rgba(0, 0, 0, 0.48);
}

.so-portlet-user-bar, .portlet-dockbar {
	&, a {
		font: 14px/1em 'Helvetica Neue', Helvetica, Arial, sans-serif;
		font-weight: 400;
	}
}

/* ---------- User bar ---------- */

.so-portlet-user-bar {
	background: $defaultBackgroundColor url(../images/user_bar_default_bg.png) 0 0 repeat-x;

	@include background-image(linear-gradient(bottom, $defaultBackgroundColor 0, #32363A 100%));

	position: relative;
	width: 100%;

	&, .so-logo, > nav {
		float: left;
	}

	.so-logo {
		@include hover-transition;

		left: 0;
		padding: 0.42em 0.5em 0.42em 0.6em;
		position: absolute;
		top: 0;

		&:hover {
			@include primary-hover-state;
		}
	}

	.dashboard-nav {
		margin: 0;
		overflow: hidden;
		padding: 0 25em 0 3.3em;

		&, a {
			&, &:hover, &:visited, &:active {
				color: #FFF;
				text-decoration: none;
			}
		}

		li {
			display: block;
			float: left;
			list-style: none;

			a {
				display: block;

				@include hover-transition;

				line-height: 2em;
				padding: 0.58em 0.8em;

				&:hover, &.selected {
					@include primary-hover-state;
				}
			}
		}
	}

	&.portlet-static {
		display: none;
	}
}

/* ---------- Dockbar ---------- */

.dockbar-split .portlet-dockbar {
	z-index: 301;

	.dockbar {
		background: transparent;

		.my-sites.dropdown {
			display: none;
		}

		.container-fluid {
			padding: 0;

			> .nav.nav-account-controls {
				border-top-width: 0;
				margin: 0;
				position: static;
				right: 0;

				> li {
					background: $defaultBackgroundColor url(../images/user_bar_default_bg.png) 0 0 repeat-x;

					@include background-image(linear-gradient(bottom, $defaultBackgroundColor 0, #32363A 100%));

					> a {
						@include hover-transition;

						line-height: 1.7em;
						margin: 0;
						padding: 0.7em;

						> i {
							background-color: transparent;
							margin: 3px 0 0;
							padding: 0;
						}
					}

					> a:hover, > a.selected, &.open > a {
						@include primary-hover-state;
					}

					&.info-items {
						background: transparent;
					}
				}
			}
		}

		.go-to {
			position: relative;
		}

		.split > .dropdown-toggle:before {
			color: #FFF;
			display: block;
			height: 24px;
		}

		.user-notifications-count {
			background-color: #FFF;

			border-radius: 50%;

			border-width: 0;
			box-sizing: border-box;
			color: $defaultTextColor;
			font-size: 0.86em;
			font-weight: bold;
			height: 23px;
			line-height: 23px;
			margin: 0;
			padding: 0;
			text-align: center;
			white-space: nowrap;
			width: 23px;

			&.alert {
				background-color: #A20F0F;
				color: #FFF;
				text-shadow: none;
			}
		}

		.container-fluid .dockbar-item, .nav .user-avatar .user-avatar-link {
			.user-avatar-image {
				border-radius: 50%;
				box-shadow: none;
				height: 22px;
				top: 0;
				vertical-align: middle;
				width: auto;
			}
		}

		.nav .user-avatar {
			.dropdown-menu {
				left: auto;
				right: 0;

				&:after {
					left: auto;
					right: 12px;
				}

				&:before {
					left: auto;
					right: 11px;
				}
			}
		}
	}
}

/* ---------- Notifications ---------- */

.dockbar-user-notifications {
	.dropdown-menu {
		background-color: #FAFAFA;
	}

	.actionable, .nonactionable {
		border: 1px solid #EEE;

		.user-notifications-header {
			border-bottom-color: #EEE;
		}
	}
}

.dockbar-user-notifications, .notifications-portlet {
	.user-notification .lfr-icon-menu {
		&.open .dropdown-toggle, .dropdown-toggle:hover  {
			box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.1);
		}

		.dropdown-toggle .caret {
			border-top-color: #666;
		}
	}
}

.dockbar-split .portlet-dockbar {
	position: absolute;
	right: 0;
	top: 0;

	.dockbar {
		height: auto;
		position: static;

		.container-fluid {
			background: none;
			box-shadow: none;
			filter: none;
			width: auto;

			.container {
				width: auto;
			}
		}
	}
}

#wrapper {
	clear: both;
}

/* ---------- Control panel ---------- */

.so-portlet-user-bar {
	z-index: 1;
}

.dockbar #_145_navAccountControlsNavbarCollapse {
	position: absolute;
	right: 0;
	top: 0;
	z-index: 1;
}

.dockbar-split {
	.so-portlet-user-bar {
		z-index: auto;
	}

	.dockbar #_145_navAccountControlsNavbarCollapse {
		position: relative;
		right: auto;
		top: auto;
	}
}

/* ---------- Responsive ---------- */

@include respond-to(phone, tablet) {
	.so-portlet-user-bar {
		height: 3.15em;
		z-index: auto;

		.so-logo {
			z-index: 302;
		}

		nav {
			display: none;
		}
	}

	.portlet-dockbar {
		position: absolute;
		right: 0;
		top: 0;
		width: 100%;

		.dockbar {
			border-top-width: 0;
			width: 100%;

			&.navbar-static-top {
				position: absolute;
			}

			.container-fluid {
				background: transparent;

				.navbar-nav {
					z-index: 301;

					li {
						margin: 0;
					}

					.dockbar-item {
						background-color: transparent;
						background-image: none;
						border-width: 0;
						color: #FFF;
						float: right;
						font-size: 1.6em;
						margin: 0;
						padding: 0;

						&:hover {
							background-color: #E6E6E6;
						}

						i {
							margin-top: 0;

							&:before {
								padding: 1px;
							}
						}
					}

					#_145_navSiteNavigationNavbarBtn {
						float: right;
					}

					.brand {
						float: right;
						padding: 0.75em;
					}

					.dockbar-item.open {
						ul {
							background-color: #DDD;
							margin-left: 0;
							min-width: 100%;
							padding: 0;
							position: static;

							li {
								background-color: transparent;
								border-top: 1px solid #FFF;
								margin: 0;
							}

							a {
								background: transparent;

								border-radius: 0;

								font-size: 1em;
								line-height: 2.4em;
								margin: 0;
								padding: 0.4em 1em;
								text-align: left;
							}

							i {
								display: inline;
								margin: 0;
							}

							a, .toggle-controls i {
								color: #555;

								@include hover-transition;
							}

							.nav-item-label {
								background: transparent;
								color: #FFF;
								display: inline;
								left: 0;
								margin: 0;
								padding: 0;
								position: static;
							}

							a:hover, li.dropdown.open > .dropdown-toggle {
								background: rgba(0, 0, 0, 0.2);
							}

							.dropdown > .dropdown-menu {
								a {
									font-size: 1em;
									font-weight: bold;
									padding: 5px 15px 5px 30px;
								}

								ul a {
									padding: 5px 15px 5px 55px;
								}
							}
						}

						.nav-navigation {
							display: block;
						}

						.nav-add-controls a {
							position: static;
						}
					}

					.nav-add-controls i {
						font-size: 1.8em;
						padding-right: 0.5em;
					}

					.nav-account-controls > li {
						background: transparent;
					}

					.my-sites {
						display: none;
					}

					.dockbar-user-notifications {
						.dropdown-menu {
							padding: 0;
							width: 100%;

							> li {
								text-align: left;
							}
						}

						.user-notification {
							background-color: #DDD;

							border-radius: 0;
							@include hover-transition;

							margin-bottom: 0;
							padding-left: 30px;
						}

						.nonactionable .user-notification:hover {
							background-color: rgba(0, 0, 0, 0.2);
						}
					}

					.user-avatar-image {
						display: block;
					}
				}
			}
		}

		#_145_navAccountControlsNavbarCollapse {
			position: relative;
			right: auto;
			top: auto;
		}
	}

	#heading {
		position: static;
	}

	/* ---------- Notifications ---------- */

	.dockbar-user-notifications {
		.actionable, .nonactionable {
			background: transparent;
			border-bottom-width: 0;

			border-radius: 0;

			margin-bottom: 0;

			.user-notifications-header {
				border-bottom-width: 0;
			}
		}
	}

	.portlet-dockbar .dockbar .container-fluid .dockbar-item.open ul .dockbar-user-notifications {
		.title, .user-notifications-header {
			a:hover {
				background: transparent;
			}
		}
	}
}

@include respond-to(phone) {
	body {
		padding: 0;
	}

	.navbar-static-top {
		margin-left: 0;
		margin-right: 0;
	}

	.nav-add-controls {
		.page-edit-controls, .site-add-controls {
			display: none;
		}
	}
}