@import "compass/css3";

$blue: #0E50A9;
$defaultBorderColor: #C9C9C9;
$defaultTextColor: #202020;

@mixin default-border {
	border: 1px solid $defaultBorderColor;
}

@mixin clear-both {
	&:after {
		clear: both;
		content: "";
		display: block;
	}
}

@mixin menu-mix {
	background-color: #FFF;

	@include border-radius(4px);
	@include box-shadow(0 1px 3px rgba(0,0,0, 0.78));
}

body.show-dockbar, html > body.lfr-dockbar-pinned, body.controls-visible {
	.portlet-dockbar {
		overflow: visible;
	}

	#dockbar {
		@include opacity(1);

		margin-top: 0;
	}
}

.aui .so-portlet-user-bar {
	background: #252D31 url(../images/user_bar_default_bg.png) 0 0 repeat-x;

	@include background-image(linear-gradient(bottom, #252D31 0, #32363A 100%));

	font: 14px/2em 'Helvetica Neue', Helvetica, Arial, sans-serif;
	font-weight: 200;
	padding-right: 30%;
	position: relative;
	z-index: 301;

	&, a {
		&, &:hover, &:visited, &:active {
			color: #FFF;
			font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
			font-size: 14px;
			font-weight: 400;
			line-height: 2em;
			text-decoration: none;
		}
	}

	.so-logo {
		display: inline-block;
		padding: 6px 3px 6px 8px;
		vertical-align: middle;

		&, &:hover {
			background-color: transparent;

			@include box-shadow(none);
		}
	}

	.dashboard-nav {
		font-size: 0;
		position: relative;
		width: 100%;
		z-index: 2;

		li {
			font-size: 14px;
		}
	}

	a {
		color: #FFF;
		background-color: rgba(0,0,0, 0);

		font-size: 1em;
		padding: 0.58em 0.8em;

		@include transition-duration(0.5s);
		@include transition-property(background-color);
	}

	li.selected a, a:hover, .hover a {
		background-color: rgba(0,0,0, 0.48);

		text-decoration: none;
	}

	ul, li {
		display: inline-block;
		list-style: none;
		margin: 0;
		padding: 0;
		vertical-align: middle;
	}

	li a {
		display: block;
	}

	nav {
		display: inline-block;
		width: 90%;
	}

	.has-submenu {
		position: relative;
	}
}

.aui .dockbar-split .portlet-dockbar .dockbar .navbar-inner .nav-account-controls {
	background-color: transparent;
	background-image: none;
	border-top-color: transparent;
	right: 0;
}

html.aui {
	.dockbar,
	.dockbar-split .dockbar,
	.dockbar.navbar-static-top .dockbar {
		.navbar-inner, .container {
			width: auto;
		}

		.navbar-inner .container {
			.nav-account-controls {
				bottom: 100%;
				left: auto;
				position: absolute;
				right: 0;
				z-index: 301;

				.divider-vertical {
					display: none;
				}

				li.dropdown {
					> .dropdown-toggle {
						background-color: rgba(0,0,0, 0);

						@include transition-duration(0.5s);
						@include transition-property(background-color);
					}

					&.open > .dropdown-toggle {
						background-color: rgba(0,0,0, 0.48);
					}
				}

				&.nav > li > a {
					margin: 0 0;
					padding-bottom: 0.45em;
					padding-top: 0.45em;
				}
			}
		}

		.navbar-inner .nav-account-controls > li {
			background-color: transparent;
			background-image: none;

			> a {
				color: #FFF;
				text-shadow: none;
			}
		}

		.portlet, .portlet-content {
			background: transparent none;
			border-width: 0;
		}
	}

	.dockbar .navbar-inner .container .nav-account-controls,
	.dockbar.navbar-static-top .collapse .nav-account-controls {
		position: absolute;
		top: -45px;

		.go-to .so-portlet-sites {
			top: 0;
		}

		&.nav > li > a {
			padding-bottom: 0.8em;
			padding-top: 0.8em;
		}
	}

	.dockbar-split .dockbar .navbar-inner .container .nav.nav-account-controls,
	.dockbar-split .dockbar.navbar-static-top .collapse .nav.nav-account-controls {
		position: absolute;
		top: 0;
	}

	.my-sites.dropdown {
		display: none;
	}

	.dockbar-user-notifications .user-notifications-count, .notifications-portlet .user-notifications-count {
		background: #FFF;

		@include border-radius(12px);

		border-width: 0;
		color: #202020;
		padding: 4px 8px;
	}

	.navbar .dockbar-user-notifications .nav>li>.dropdown-menu {
		&:after {
			left: auto;
			right: 9px;
		}

		&:before {
			left: auto;
			right: 10px;
		}
	}
}

.portlet-dockbar .nav-account-controls .go-to {
	.so-portlet-sites .search .search-input {
		border: 1px solid #1C2125;
	}
}


@media (max-width:860px) {
	.so-portlet-user-bar {
		a {
			padding: 0.25em 0.7em;
		}

		.user-info a {
			padding: 0;

			.avatar {
				@include border-radius(4px);

				margin: 0;
			}
		}

		.full-name {
			display: none;
		}
	}
}

.ie7 .so-portlet-user-bar {
	.dashboard-nav, .user-toolbar {
		@include clear-both;

		li {
			display: block;
			float: left;

			li {
				float: none;
			}
		}
	}

	.user-toolbar .go-to .portlet-body {
		margin-top: -0.75em;

		input {
			color: $defaultTextColor;
		}
	}
}

.ie8 .so-portlet-user-bar {
	.search-input {
		background: #181C1F;
	}

	.notifications-menu {
		margin-top: 0.2em;

		.notification-count {
			margin: 0 0.1em;
		}
	}

	.user-toolbar .full-name {
		display: inline;
	}

	.config-item {
		float: right;
	}
}