#banner {
	background: black url(../images/custom/header.jpg) no-repeat center;
	height: 296px;
	width: 960px;
	margin-left: 146px;
}
body {
	background: #757575 url(../images/custom/bg.jpg) repeat-y scroll center center;
	color: #FFFFFF;
	font-family: arial,verdana;
	font-size: 12px;
	line-height: 17px;
}
#wrapper {
	background: transparent;
}
#navigation {
	background: transparent;
	border: none;
	margin: -56pt auto 20px 239px;
	width: 64%;
}
#navigation li {
	border: none;
}
#navigation li.selected a, #navigation li a:hover {
	background-color: transparent;
}
#navigation li a:hover {
	color: black;
	text-decoration: underline;
}
#navigation li.selected a span {
	background: transparent;
	padding-left: 0px;
}
#navigation li a {
	color: white;
	font-size: 16px;
	font-weight: bold;
	padding: 5px 10px;
}
#banner .logo a {
	margin-left: 225px;
}
.js #add-page {
	background: transparent none repeat scroll 0% 0%;
	border: medium none;
	top: -2px;
}
#content-wrapper {
	width:960px;
	background: black;
}
.portlet {
	background: transparent;
	border: none;
}
.portlet-topper {
	background: transparent;
	border: none;
	color: white;
	font-size: 16px;
}
a {
	color: #336699;
	font-size: 12px;
}
.js .interactive-mode {
	right: 22%;
}
.ui-tabs li a:hover, .ui-tabs li span:hover {
	background: transparent;
	color: #336699;
}
.ui-tabs li a, .tabs li span {
	background: transparent none repeat scroll 0% 0%;
	border-right: medium none;
}
.ui-tabs {
	border-bottom: medium none;
}
.ui-tabs li.current:hover, .ui-tabs li.current a:hover {
	background-color: transparent;
}
.ui-tabs li.current a, .ui-tabs li.current span {
	background: transparent none repeat scroll 0% 0%;
	border: medium none;
	color: #336699;
}
.js #navigation .enter-page {
	background-color: transparent;
}
.ui-dialog.ui-resizable-disabled .ui-dialog-content {
	color: black;
}
.ui-dialog {
	background-color: black;
}
.portlet-calendar .calendar-day .day-number {
	background:black none repeat scroll 0% 0%;
}
.portlet-section-body td {
	color: black;
}
.lfr-table tr td:last-child, .lfr-table tr td.last-child, .lfr-table tr th:last-child, .lfr-table tr th.last-child {
	color: #336699;
}