#banner {
	background: black url(../images/custom/header.jpg) no-repeat center;
	height: 296px;
	position: relative;
	border:1px solid white;
}
body {
	background: black;
	color: #FFFFFF;
	font-family: arial,verdana;
	font-size: 12px;
	line-height: 17px;
}
#wrapper {
	background: transparent;
	position: relative;
	width:950px;
	margin: 0 auto;
}
#navigation {
	background:black none repeat scroll 0 0;
	border:medium none;
	height:55px;
	margin-top:-1px;
	width:960px;
}
#navigation li {
	border: none;
	margin:15px 0 0 -1px;
}
#navigation li.selected a, #navigation li a:hover {
	background-color: transparent;
}
#navigation li a:hover {
	color: black;
	text-decoration: underline;
}
#navigation li.selected a span {
	background: transparent;
	padding-left: 0px;
}
#navigation li a {
	color: white;
	font-size: 16px;
	font-weight: bold;
	padding: 5px 10px;
}
#banner .logo a {
	margin-left: 75px;
}
.js #add-page {
	background: transparent none repeat scroll 0% 0%;
	border: medium none;
	top: -2px;
}
#content-wrapper {
	width:100%;
	background: black;
	margin:-20px auto;
}
.portlet {
	background: transparent;
	border: 1px solid white;
}
.portlet-topper {
	background: transparent;
	border: none;
	color: white;
	font-size: 16px;
}
.portlet-calendar .calendar-container {
	background: transparent;
}
a {
	color: #336699;
	font-size: 12px;
}
.js .interactive-mode {
	right: 12%;
}
.ui-tabs li a:hover, .ui-tabs li span:hover {
	background: transparent;
	color: #336699;
}
.ui-tabs li a, .tabs li span {
	background: transparent none repeat scroll 0% 0%;
	border: 1px dotted white;
	top: 0;
}
.ui-tabs {
	border-bottom: medium none;
}
.ui-tabs li.current:hover, .ui-tabs li.current a:hover {
	background-color: transparent;
}
.ui-tabs li.current a, .ui-tabs li.current span {
	background: transparent none repeat scroll 0% 0%;
	border: 1px solid white;
	color: #336699;
}
.js #navigation .enter-page {
	background-color: transparent;
}
.ui-dialog.ui-resizable-disabled .ui-dialog-content {
	color: black;
}
.ui-dialog {
	background-color: black;
}
.portlet-calendar .calendar-day .day-number {
	background:black none repeat scroll 0% 0%;
}
.portlet-section-body td {
	color: black;
}
.lfr-table tr td:last-child, .lfr-table tr td.last-child, .lfr-table tr th:last-child, .lfr-table tr th.last-child {
	color: #336699;
}
.uni-form fieldset legend {
	color: white;
}
#navigation ul {
	width:765px;
}