*-ext.properties
.sass-cache/
.sass_cache_*.css
_sass_cache_*.css

/*/*/bin
/*/*/classes
/*/*/tmp

/*/*/docroot/WEB-INF/classes
/*/*/docroot/WEB-INF/lib/portal-compat-client.jar

/build.*.properties
/dist