*~
*-ext.properties
*.bak
*.iml
*.ipr
*.iws
*.swp
.ant_targets
.ant-targets-build.xml
.ivy/
.sass-cache/
.sass_cache_*.css
_sass_cache_*.css

/*/*/bin
/*/*/classes
/*/*/temp
/*/*/test-classes
/*/*/test-results
/*/*/tmp

/*/*/docroot/WEB-INF/classes
/*/*/docroot/WEB-INF/lib/portal-compat-shared.jar
/*/*/docroot/WEB-INF/src/META-INF/log4j.dtd

/build.*.properties
/dist
/lib
/tools/*/*/*/lib