<p>
Hei,
</p>

<p>
	Du er invitert til å bli med i gruppa [$MEMBER_REQUEST_GROUP$] i nettarbeidsplassen for tilsatte.
</p>

<p>
	Følg lenka nedenfor for å bekrefte eller ignorere denne invitasjonen: <br />

	<a href="[$MEMBER_REQUEST_LOGIN_URL$]">Se invitasjon</a>
</p>

<p>
	Hvis du har spørsmål, kan du kontakte  <a href="mailto:fortilsatte@hioa.no">fortilsatte@hioa.no</a>.
</p>

<p>
	Vennlig hilsen<br />
    Nettarbeidsplass for tilsatte
</p>

<p>
---<br />
Message in English:
</p>

<p>
	You are invited to join the group  [$MEMBER_REQUEST_GROUP$] in your web workplace for employees at HiOA.
</p>

<p>
	Follow the link below to confirm or ignore this invitation: <br />

	<a href="[$MEMBER_REQUEST_LOGIN_URL$]">View invitation</a>
</p>

<p>
	If you have questions, please contact <a href="mailto:fortilsatte@hioa.no">fortilsatte@hioa.no</a>.
</p>

<p>
	Sincerely<br />
    Web workplace for employees
</p>