<p>
	[$MEMBER_REQUEST_USER$] has invited you to join [$MEMBER_REQUEST_GROUP$] on Social Office.
</p>

<p>
	Follow the link below to confirm or ignore this invitation:<br />

	<a href="[$MEMBER_REQUEST_CREATE_ACCOUNT_URL$]">[$MEMBER_REQUEST_CREATE_ACCOUNT_URL$]</a>
</p>

<p>
	Once your account is created, you can visit [$MEMBER_REQUEST_GROUP$] at:<br />

	<a href="[$MEMBER_REQUEST_LOGIN_URL$]">[$MEMBER_REQUEST_LOGIN_URL$]</a>
</p>

<p>
	If you have any questions, contact the administrator at <a href="mailto:[$ADMIN_ADDRESS$]">[$ADMIN_ADDRESS$]</a>.
</p>

<p>
	-- [$ADMIN_NAME$]
</p>