.app-view-search-entry-taglib {
  display: block;
  margin: 5px;
  padding: 5px 0 5px 20px;
  position: relative;
  text-align: left; }
  .app-view-search-entry-taglib dl {
    margin: 0; }
    .app-view-search-entry-taglib dl dt {
      float: left;
      margin-right: 3px; }
  .app-view-search-entry-taglib .tabview-list {
    margin-bottom: 0; }
  .app-view-search-entry-taglib .taglib-workflow-status {
    display: inline; }
    .app-view-search-entry-taglib .taglib-workflow-status .workflow-status {
      padding-left: .2em; }
  .app-view-search-entry-taglib .entry-description {
    margin-top: 20px; }
  .app-view-search-entry-taglib .entry-discussion, .app-view-search-entry-taglib .entry-attachment {
    border-top: 1px solid #CCC;
    display: block;
    margin: 0.5em 4em;
    overflow: hidden;
    padding-top: 5px; }
    .app-view-search-entry-taglib .entry-discussion a, .app-view-search-entry-taglib .entry-attachment a {
      display: block;
      overflow: hidden;
      text-decoration: none; }
    .app-view-search-entry-taglib .entry-discussion .image, .app-view-search-entry-taglib .entry-attachment .image {
      float: left;
      padding: 5px; }
      .app-view-search-entry-taglib .entry-discussion .image img.avatar, .app-view-search-entry-taglib .entry-discussion .image img.attachment, .app-view-search-entry-taglib .entry-attachment .image img.avatar, .app-view-search-entry-taglib .entry-attachment .image img.attachment {
        width: 45px; }
    .app-view-search-entry-taglib .entry-discussion .title, .app-view-search-entry-taglib .entry-attachment .title {
      display: block; }
    .app-view-search-entry-taglib .entry-discussion:hover, .app-view-search-entry-taglib .entry-attachment:hover {
      background-color: #D3E8F1; }
  .app-view-search-entry-taglib .entry-folder {
    color: #999; }
  .app-view-search-entry-taglib .entry-link .entry-thumbnail-image {
    border-width: 0;
    color: #000;
    text-decoration: none;
    width: 128px; }
  .app-view-search-entry-taglib.alt {
    background-color: #EDF0F3; }
  .app-view-search-entry-taglib.search {
    background-color: #FFF; }
    .app-view-search-entry-taglib.search.alt {
      background-color: #E2E5E8; }
  .app-view-search-entry-taglib:after {
    clear: both;
    content: ".";
    display: block;
    height: 0;
    visibility: hidden; }

