@media (max-width: 979px) {
  .aui .btn-group > .btn + .dropdown-toggle, .aui .button-holder > .btn + .dropdown-toggle {
    padding-left: 12px;
    padding-right: 12px; }
  .aui .btn {
    padding: 11px 19px;
    font-size: 17.5px; }
    .aui .btn .caret {
      border-left-width: 5px;
      border-right-width: 5px;
      border-top-width: 5px;
      margin-top: 9px; }
    .aui .btn [class^="icon-"], .aui .btn [class*=" icon-"] {
      margin-top: 4px; }
  .aui .dropup .btn .caret {
    border-bottom-width: 5px; } }
@media (max-width: 979px) and (max-width: 767px) {
  .aui .btn-group, .aui .button-holder {
    display: block;
    width: 100%; } }
  @media (max-width: 979px) and (max-width: 767px) {
    .aui .btn {
      -webkit-box-sizing: border-box;
      -moz-box-sizing: border-box;
      box-sizing: border-box;
      display: block;
      margin-top: 5px;
      width: 100%; } }

