.taglib-captcha {
  margin: 1em 0; }
  .taglib-captcha .captcha {
    display: inline-block;
    margin-bottom: 1em; }
  .taglib-captcha .refresh {
    display: inline-block;
    vertical-align: top; }

