.taglib-ratings.stars {
  overflow: hidden;
  padding-top: 10px; }
  .taglib-ratings.stars .liferay-rating-score {
    padding-left: 15px; }
  .taglib-ratings.stars .liferay-rating-vote, .taglib-ratings.stars .liferay-rating-score {
    float: left; }
.taglib-ratings .rating-content {
  display: block; }
.taglib-ratings.score {
  white-space: nowrap; }
.taglib-ratings.thumbs {
  float: left;
  margin: 0; }
  .taglib-ratings.thumbs .thumbrating {
    height: 20px; }
    .taglib-ratings.thumbs .thumbrating .rating-label {
      padding: 0 5px; }
.taglib-ratings .rating-input-container .rating-input {
  margin-left: 1px; }

.js .taglib-ratings .liferay-rating-vote .rating-input-container {
  display: none; }

.ie6 .taglib-ratings .rating-content {
  display: inline; }
.ie6 .taglib-ratings.stars {
  display: inline-block; }

