.sites-directory-taglib {
  overflow: hidden; }
  .sites-directory-taglib .app-view-entry-taglib.entry-display-style.display-icon {
    width: 140px;
    height: 100%; }
  .sites-directory-taglib .app-view-entry-taglib.entry-display-style .entry-thumbnail {
    max-width: 100px; }
    .sites-directory-taglib .app-view-entry-taglib.entry-display-style .entry-thumbnail img {
      max-width: 90px; }

.ie8 .sites-directory-taglib .app-view-entry-taglib.entry-display-style .entry-thumbnail {
  width: 100px; }

