.taglib-workflow-status {
  display: inline-block;
  margin: 0.5em 0; }
  .taglib-workflow-status .workflow-id, .taglib-workflow-status .workflow-version {
    padding: 2px 20px; }
  .taglib-workflow-status .workflow-version, .taglib-workflow-status .workflow-status {
    margin-right: 5px; }
  .taglib-workflow-status .workflow-status {
    padding: 2px 0 2px 20px; }

.table-cell .taglib-workflow-status {
  margin: 0; }
  .table-cell .taglib-workflow-status .workflow-status {
    padding-left: 0; }

/* Skin */
.taglib-workflow-status .workflow-id, .taglib-workflow-status .workflow-version, .taglib-workflow-status .workflow-status {
  color: #999; }
.taglib-workflow-status .workflow-status-icon {
  background: url(@theme_image_path@/common/recent_changes.png) no-repeat 0 50%; }

