/* This file allows you to override default styles in one central location for easier upgrade and maintenance. */

/* -------- Base -------- */

body {
	background: #D0CCC8;
}

/* -------- Wrapper -------- */

#wrapper {
	background: url(../images/custom/wrapper_bg.png);
	margin: 0 auto;
	width: 880px;
}

/* -------- Banner -------- */

#banner {
	background: #261C1C url(../images/custom/banner_bg.png);
	height: 67px;
	line-height: 60px;
	overflow: hidden;
	padding: 0 25px;
}

/* -------- Logo -------- */

.logo a {
	color: #FFF;
	font-size: 28px;
	font-weight: normal;
	text-decoration: none;
}

/* -------- Navigation -------- */

#wrapper #navigation {
	background: #261C1C url(../images/custom/banner_bg.png) bottom;
	font-size: 14px;
	height: 53px;
	line-height: 30px;
	padding: 0 10px;
}

#navigation ul {
	float: left;
	padding: 0;
}

#navigation li {
	list-style-type: none;
	margin: 0;
}

#navigation li,
#navigation-breadcrumb li,
#navigation-children li {
	float: left;
}

#navigation a {
	color: #CCC7C2;
	display: block;
	float: left;
	padding: 0 15px;
	text-decoration: none;
}

#navigation a:hover {
	color: #E5E0DA;
}

#navigation .selected a {
	color: #FFF;
}

#navigation .cancel-page,
#navigation .save-page {
	border: 0;
	display: inline;
	float: none;
	padding: 3px;
}

/* -------- Content-Wrapper -------- */

#content-wrapper {
	color: #4D4741;
	font: 11px/1.5 tahoma, arial, verdana, sans-serif;
	padding: 0 25px;
}

#content-wrapper a {
	color: #4D4741;
	text-decoration: none;
}

#content-wrapper a:hover {
	color: #261C1C;
	text-decoration: underline;
}

/* -------- Footer -------- */

#footer {
	background: url(../images/custom/footer_bg.png);
	color: #CCC7C2;
	height: 56px;
	line-height: 56px;
	padding: 26px 0 9px;
	text-align: center;
}

#footer a {
	color: #CCC7C2;
}