@import "compass";
@import "mixins";

$mainContentSpacing: 20px;

/* ---------- Common color variables ---------- */

$bgColor: #DADADA;
$textColor: #004461;
$textShadowColor1: #FFF;
$textShadowColor2: #333;

/* ---------- Set compass defaults ---------- */

$default-box-shadow-blur-offset: 6px;
$default-box-shadow-color: #999;
$default-box-shadow-h-offset: 0;
$default-box-shadow-spread: 1px;
$default-box-shadow-v-offset: 1px;

/* ---------- Global ---------- */

.aui {
	background-color: #EAEAEA;

	a {
		color: $textColor;
		text-decoration: none;

		&:hover {
			text-decoration: underline;
		}
	}

	body {
		background-color: #EAEAEA;
		font: 12px "Helvetica Neue", Helvetica, Arial, sans-serif;
	}

	p {
		color: #676767;
	}

	/* -------- Admin -------- */

	.lfr-ddm-container {
		textarea.wlarge, textarea.input-xxlarge {
			@include box-sizing(border-box);

			height: 200px;
			width: 100%;
		}

		textarea.wmedium, textarea.input-xlarge {
			height: 100px;
			width: 75%;
		}

		textarea.wsmall, textarea.input-large {
			height: 100px;
			width: 50%;
		}
	}

	.portlet-title {
		font-weight: 500;
		margin-bottom: 54px;
		margin-top: 0;
		text-align: center;

		span img {
			display: none;
		}
	}

	.portlet-topper-toolbar .lfr-icon-menu-arrow.caret {
		display: none;
	}

	#hrefFm {
		margin: 0;
	}

	/* ---------- Dockbar ---------- */

	.dockbar-split .dockbar {
		.info-button {
			top: 9px;
		}

		.nav {
			> li {
				> .dropdown-menu {
					background-color: #333;
					border-width: 0;
					margin: 0;

					&:after, &:before {
						border-width: 0;
					}

					> li > a {
						color: #FFF;
					}
				}
			}

			> li.user-avatar > .dropdown-menu {
				left: auto;
				right: 0;
			}

			li.dropdown {
				&.active, &.active.open, &.open {
					> .dropdown-toggle {
						background-color: #333;
					}
				}
			}
		}

		.navbar-inner {
			.container .nav-collapse > .nav > li.open > a {
				color: #FFF;
			}

			.site-administration-menu li a {
				color: #FFF;
			}
		}

		.page-customization-bar .page-customization-bar-text {
			padding: 12px 0 11px;
		}
	}

	/* ---------- Wrapper ---------- */

	#wrapper {
		margin: 0 auto;
		max-width: 1200px;
		padding: 20px 6em 0;
		position: relative;
	}

	.dockbar-split {
		#wrapper {
			margin-top: 45px;
		}
	}

	/* ---------- Sign-In ---------- */

	.portlet-login {
		margin-top: 40px;

		.control-label {
			font-size: 16px;
			max-width: 206px;
		}

		.navigation {
			background: transparent;
			border-top-width: 0;
			padding: 0;
		}
	}

	.signed-out .portlet-borderless-bar {
		display: none;
	}


	/* ---------- Heading ---------- */

	#banner {
		background-color: #FFF;
		float: left;
		margin-top: -65px;
		padding-top: 44px;
		width: 100%;
	}

	#content {
		background-color: #FFF;
		clear: left;
		padding-left: $mainContentSpacing;
		padding-right: $mainContentSpacing;
	}

	#heading {
		float: left;
		margin-left: $mainContentSpacing;

		h1.site-title {
			margin: 0;
		}

		.logo {
			margin-right: 5px;
			vertical-align: text-top;
		}
	}

	/* ---------- Navigation ---------- */

	#navigation {
		float: right;
		margin-bottom: 0;

		&.navbar .nav {
			margin: 0;

			> li {
				background-color: #FFF;

				&:last-of-type > .dropdown-menu {
					left: auto;
					right: 0;
				}

				> .dropdown-menu {
					background-color: #333;
					border-width: 0;
					margin: 0;

					&:after {
						border-width: 0;
					}

					&:before {
						border-width: 0;
					}

					> li > a {
						color: #FFF;
						font-size: 13px;
						padding: 6px 15px;

						&:focus, &:hover {
							background-color: #252525;
						}
					}
				}

				> a {
					border-top: 5px solid #EEE;
					padding: 20px 25px;
				}

				&.active > a {
					background-color: #FBFBFB;
					border-top: 5px solid #89C8D6;
				}

				&.active.hover > a {
					background-color: #FBFBFB;
					border-top: 5px solid #89C8D6;
					color: #333;
				}

				&.hover > a {
					background-color: #AAA;
					border-top: 5px solid #2ECC40;
					color: #FFF;
				}

				> a:focus, > a:hover {
					background-color: #AAA;
					color: #FFF;
				}
			}
		}

		.navbar-inner {
			background-color: transparent;
			border-width: 0;
			padding: 0;
		}
	}

	/* ---------- Hudcrumbs ---------- */

	nav.lfr-hudcrumbs {
		display: none;
		left: auto !important;
		margin: 0 auto;
		max-width: 1200px;
		padding: 0 6em;
		width: auto !important;

		.breadcrumb {
			background-color: #081F2C;
			margin: 0;
			padding-left: $mainContentSpacing;
			padding-right: $mainContentSpacing;

			a {
				color: #FFF;

				&:focus, &:hover {
					color: #FFF;
					text-decoration: underline;
				}
			}
		}
	}

	/* ---------- Footer ---------- */

	.row-fluid .span2-4 {
		margin-left: 1%;
		width: 19%;
	}

	.zoe-footer {
		background-color: #0C486C;
		border-top: 10px solid #39A0DD;
		color: #FFF;
		margin-left: -$mainContentSpacing;
		margin-right: -$mainContentSpacing;
		padding: 20px $mainContentSpacing;

		&.row-fluid .span12 {
			margin: 0;
		}

		a {
			color: #FFF;
		}

		h4 {
			font-weight: 300;
		}

		.footer-column {
			padding: 0 30px;
		}
	}

	.zoe-footer-secondary {
		background-color: #0D2939;
		color: #FFF;
		margin-left: -$mainContentSpacing;
		margin-right: -$mainContentSpacing;
		padding: 20px $mainContentSpacing;

		a {
			color: #FFF;

			&:hover {
				text-decoration: underline;
			}
		}
	}

	&.ie6, &.ie7, &.ie8 {
		.zoe-footer-secondary {
			margin-bottom: -20px
		}
	}

	.portlet-boundary {
		margin-bottom: 20px;

		&:last-child, &:last-of-type {
			margin-bottom: 0;
		}
	}

	.media-row {
		.media {
			&:first-child {
				margin-top: 15px;
			}

			> .media-image.align-left {
				margin-right: 6%;
				text-align: center;
			}

			> .media-image.align-right {
				margin-left: 6%;
				text-align: center;
			}
		}
	}

	.media-image {
		width: 50px;

		i {
			color: #333;
			font-size: 50px;
		}
	}

	/* ------- Divider -------- */

	.zoe-divider {
		margin: 40px 0;
		text-align: center;

		hr {
			display: inline-block;
			margin: 0 2%;
			width: 30%;
		}

		i {
			display: inline-block;
			vertical-align: middle;
		}
	}

	/* ------- Panels -------- */

	.row-fluid .zoe-panel {
		margin-bottom: 20px;
	}

	.zoe-clickable-panel.zoe-panel {
		color: #333;
		padding: 35px 20px 20px;

		&:focus, &:hover {
			background-color: #63C4F0;
			color: #FAFAFA;
			text-decoration: none;

			p {
				color: #FAFAFA;
			}
		}
	}

	/* -------- Media -------- */

	.media-portlet-bordered {
		.media-row {
			@include box-sizing(border-box);

			padding: 0 20px 10px 105px;
		}

		.portlet-content {
			padding: 0;
		}

		.portlet-title {
			font-size: 30px;
			margin: 0 0 0 105px;
			text-align: left;
		}
	}

	/* ------- Panels -------- */

	.journal-content-article {
		.row-fluid {
			&:last-child, &:last-of-type, &.last-child {
				.zoe-panel {
					margin-bottom: 0;
				}
			}

			.zoe-panel {
				margin-bottom: 20px;
			}
		}
	}

	.zoe-panel {
		background-color: #FAFAFA;
		display: table-cell;
		padding: 60px 40px;
		text-align: center;
		vertical-align: middle;

		@include word-break(break-word);

		.zoe-panel-image {
			display: inline-block;
			margin-bottom: 24px;

			&.img-circle {
				overflow: hidden;
			}

			i {
				font-size: 90px;
			}
		}

		button {
			margin-top: 24px;
		}
	}

	.zoe-panel-post .row-fluid, .zoe-panel-post.row-fluid {
		@include box-sizing(border-box);

		padding: 0 120px;

		.zoe-panel {
			background: transparent;
			display: block;
			padding: 0;

			h3 {
				font-size: 36px;
				font-weight: 400;
				margin-bottom: 33px;
				margin-top: 0;
			}

			p {
				font-size: 20px;
				font-weight: 300;
				letter-spacing: 0.6px;
				line-height: 40px;
				margin-bottom: 1.25em;
				text-align: left;

				&:last-of-type {
					margin-bottom: 0;
				}
			}

			.btn {
				margin-top: 33px;
			}
		}
	}

	/* ---------- Pricing tables ---------- */

	.zoe-pricing-table {
		margin-bottom: 20px;
		text-align: center;

		h3 {
			background-color: #FAFAFA;
			color: #676767;
			font-weight: 300;
			margin: 0;
			padding: 10px 0;
		}

		ul li {
			border-top: 1px solid #E0E0E0;
			color: #676767;
			font-size: 16px;
			font-weight: 300;
			margin: 0 27px;
			padding: 16px 0;

			&.last {
				border-bottom: 1px solid #E0E0E0;
			}
		}

		.btn {
			margin-top: 26px;
		}

		.rate {
			margin: 26px 0;

			.price {
				font-size: 68px;
				font-weight: 300;
			}
		}
	}

	/* ---------- Theme modules ---------- */

	.banner {
		background-color: #FAFAFA;

		@include box-sizing(border-box);

		float: left;
		padding: 20px;
		width: 100%;

		.banner-button {
			width: 30%;
		}

		.banner-button, .banner-message {
			display: table-cell;
			text-align: center;
			vertical-align: middle;
		}

		.banner-message-secondary {
			font: italic 20px 'Georgia', 'Times New Roman', serif;
		}
	}

	.banner-header .banner, .banner-header.banner {
		@include box-sizing(content-box);

		margin-left: -$mainContentSpacing;
		margin-right: -$mainContentSpacing;
		padding: 50px $mainContentSpacing;

		.banner-message {
			@include box-sizing(border-box);

			padding-left: 65px;

			h2 {
				font-size: 40px;
				font-weight: 500;
			}

			p {
				font-size: 24px;
				font-weight: 300;
			}
		}
	}

	/* ---------- Zoe carousel ---------- */

	.zoe-carousel {
		margin-left: -$mainContentSpacing;
		margin-right: -$mainContentSpacing;

		&:hover {
			a.carousel-menu-next {
				right: 0;
			}

			a.carousel-menu-prev {
				left: 0;
			}
		}

		.carousel-image {
			text-align: center;
		}

		.carousel-item {
			background-color: #000;
			height: 100%;
			width: 100%;

			a.btn, button {
				margin-top: 10px;
			}
		}

		.carousel-item-active {
				position: relative;
		}

		.carousel-panel-center {
			position: absolute;
			text-align: center;
			top: 40%;
			width: 100%;

			h1, h2, h3, h4, h5, h6 {
				margin: 0 auto;
				text-align: left;
				width: 70%;
			}
		}

		.carousel-panel-left {
				left: 5%;
				position: absolute;
				top: 40%;
				width: 50%;
		}

		.carousel-panel-right {
				position: absolute;
				right: 5%;
				top: 40%;
				width: 50%;
		}

		h1, h2, h3, h4, h5, h6 {
			background-color: #333;
			background-color: rgba(0, 0, 0, 0.5);
			color: #FFF;
			margin: 0;
			padding: 15px;
		}

		menu {
			bottom: auto;
			padding: 0;
			position: static;
			right: auto;

			.carousel-menu-index {
				display: none;
			}

			.carousel-menu-item {
				background-color: transparent;
				overflow: visible;
				text-indent: 0;

				&:hover {
					a.carousel-menu-next {
						right: 0;

						@include transition(all 0.5s ease);
					}

					a.carousel-menu-prev {
						left: 0;

						@include transition(all 0.5s ease);
					}
				}
			}

			a.carousel-menu-pause, a.carousel-menu-play {
				background-color: #333;
				background-color: rgba(0, 0, 0, 0.5);
				background-image: none;

				@include border-radius(0);

				bottom: 0;
				color: #FFF;
				padding: 5px 0 5px 7px;
				position: absolute;
				right: 0;
				text-decoration: none;
				z-index: 5;
			}

			a.carousel-menu-pause:after {
				content: '\f04c';
				font-family: 'fontawesome-alloy';
			}

			a.carousel-menu-play:after {
				content: '\f04b';
				font-family: 'fontawesome-alloy';
			}

			a.carousel-menu-next, a.carousel-menu-prev {
				background-image: none;
				color: #FFF;
				font-size: 30px;
				height: auto;
				margin: 0;
				position: absolute;
				text-decoration: none;
				top: 50%;

				@include transition(all 0.25s ease);

				width: auto;
				z-index: 5;

				&:after {
					background-color: rgba(0, 0, 0, 0.4);
					font-family: 'fontawesome-alloy';
					padding: 15px;
					text-indent: 0;
				}
			}

			a.carousel-menu-next {
				right: -100px;

				&:after {
					content: '\f054';
				}
			}

			a.carousel-menu-prev {
				left: -100px;

				&:after {
					content: '\f053';
				}
			}
		}
	}

	/* ---------- About us ---------- */

	.media-MEDIA-ABOUT-US {
		@include box-sizing(border-box);

		padding: 0 70px;

		.media {
			margin-top: 100px;

			&:first-child {
				margin-top: 70px;
			}

			> .align-left {
				margin-right: 50px;
			}

			> .align-right {
				margin-left: 50px;
			}

			.media-image {
				&.align-left, &.align-right {
					width: auto;
				}
			}
		}

		.media-body p {
			font-size: 16px;
			font-weight: 300;
			line-height: 32px;
		}

		.media-heading {
			font-size: 36px;
			font-weight: 400;
			line-height: normal;
			margin-bottom: 18px;
		}
	}

	.zoe-panel-PANEL-ABOUT-US .zoe-panel {
		background-color: transparent;
		padding: 0;

		.zoe-panel-image {
			background: #000;
			height: 140px;
			margin: 0 auto;
			overflow: hidden;
			width: 140px;

			img {
				height: 140px;
				max-width: none;
				width: 140px;
			}
		}

		h3 {
			font-size: 24px;
			margin: 18px 0 13px;
		}

		p {
			font-size: 18px;
		}
	}

	/* -------- Pricing --------- */

	#zoePricingTablePRICING-TABLE {
		margin-top: 55px;
	}

	/* ---------- Support page ---------- */

	.zoe-panel-PANEL-SUPPORT-INTRO {
		margin-top: 70px;

		.zoe-panel {
			margin-bottom: 0;
		}
	}

	/* ---------- Home page ---------- */

	.media-MEDIA-HOME-PAGE {
		@include box-sizing(border-box);

		padding: 0 25px;

		&:first-child {
			padding-top: 15px;
		}

		&:last-child, &:last-of-type, &.last-child {
			padding-bottom: 15px;
		}
	}

	.zoe-panel-PANEL-HOME-PAGE {
		.panel-link {
			margin-top: 30px;
		}
	}

	/* ---------- Hidden accessible ---------- */

	#breadcrumbs, #heading .page-title, #navigation h1, #skip-to-content {
		clip: rect(0 0 0 0);
		position: absolute;
	}

	/* ---------- Extras ---------- */

	#navigation {
		&.navbar .nav {
			> .active {
				> a, a:hover, a:focus {
					@include box-shadow(none);
					@include text-shadow(none);
				}
			}

			> li {
				> .dropdown-menu {
					@include border-radius(0);
					@include box-shadow(none);

					> li > a {
						&:focus, &:hover {
							@include background-image(none);
						}
					}
				}

				&.hover > a {
					@include text-shadow(none);
				}

				> a:focus, > a:hover {
					@include text-shadow(none);
				}
			}
		}

		.navbar-inner {
			@include box-shadow(none);
		}
	}

	nav.lfr-hudcrumbs .breadcrumb {
		@include border-radius(0);

		> li {
			@include text-shadow(none);
		}
	}

	.banner, .zoe-panel {
		@include box-shadow(0 1px 1px #E7E7E7);
	}

	.dockbar-split .dockbar .nav > li > .dropdown-menu {
		@include border-radius(0);
		@include box-shadow(none);
	}

	.modify-pages .delete-tab {
		@include border-radius(50%);
		@include text-shadow(none);
		@include transition(opacity 0.2s ease);

		&:hover {
			@include box-shadow(0 1px 1px -1px #000);
		}
	}

	.zoe-panel-PANEL-ABOUT-US, .zoe-panel-post {
		.zoe-panel {
			@include box-shadow(none);
		}
	}

	/* ---------- Media queries ---------- */

	@include respond-to(phone, tablet) {
		#heading {
			margin-bottom: 20px;
		}

		#wrapper {
			padding: 45px 0 0;
		}

		body {
			padding-left: 0;
			padding-right: 0;
		}

		nav.lfr-hudcrumbs {
			padding: 0;
		}

		.banner {
			.banner-button, .banner-message {
				display: block;
				width: 100%;
			}
		}

		.media-MEDIA-ABOUT-US .media > .media-image {
			&.align-left {
				float: none;
				margin: 0 auto;
				text-align: center;
			}

			&.align-right {
				float: none;
				margin: 0 auto;
				text-align: center;
			}
		}

		.media-MEDIA-ABOUT-US .media-heading {
			margin: 36px 0 18px;
			text-align: center;
		}

		.portlet-boundary.portlet-dockbar {
			margin-bottom: 0;
		}

		/* ---------- Dockbar tablet and below ---------- */

		#navigation {
			top: 0;

			&.navbar .nav {
				> li {
					background-color: #F6F6F6;
				}

				> li.active {
					display: none;
				}

				> li > a {
					border-top-width: 0;
				}

				> li.active.hover > a, li.hover > a {
					border-top-width: 0;
				}
			}

			&.open .navbar-inner .nav-collapse li a {
				color: #333;
				font-size: 12px;
				font-weight: bold;

				&:focus, &:hover {
					color: #FFF;
				}
			}
		}

		.dockbar .navbar-inner .container .nav-collapse > .nav > li.dropdown .dropdown-menu {
			margin: 0;
		}

		.dockbar-split {
			#wrapper {
				margin-top: 0;
			}

			.dockbar {
				.nav > li > .dropdown-menu > li > a {
					color: #333;
				}

				.navbar-inner .site-administration-menu li a {
					color: #333;
				}
			}
		}

		.navbar-fixed-top, .navbar-static-top {
			.navbar-inner {
				@include box-shadow(none);
			}
		}
	}

	@include respond-to(phone) {
		#navigation {
			left: 0;
			right: 0;
		}

		.journal-content-article {
			.row-fluid {
				&:last-child, &:last-of-type, &.last-child {
					.zoe-panel {
						margin-bottom: 20px;
					}
				}

				.zoe-panel {
					&:last-child, &:last-of-type, &.last-child {
						margin-bottom: 0;
					}
				}
			}
		}

		.media-MEDIA-ABOUT-US {
			padding: 0;
		}

		.media-portlet-bordered {
			.media-row {
				padding-left: 10px;
			}

			.portlet-title {
				margin-left: 10px;
			}
		}

		.navbar-fixed-top, .navbar-fixed-bottom, .navbar-static-top {
			margin-left: 0;
			margin-right: 0;
		}

		.row-fluid .span2-4 {
			margin-left: 0;
			width: 100%;
		}

		.row-fluid .zoe-panel {
			margin-bottom: 20px;

			&:last-of-type {
				margin-bottom: 0;
			}
		}

		.zoe-carousel {
			.carousel-image img {
				height: 350px;
				max-width: none;
			}

			.carousel-panel-center, .carousel-panel-left, .carousel-panel-right {
				left: 5%;
				top: 20%;
				width: 90%;

				h2 {
					@include box-sizing(border-box);

					font-size: 20px;
					line-height: normal;
					width: 100%;
				}
			}
		}

		.zoe-panel-post .row-fluid, .zoe-panel-post.row-fluid {
			padding: 0 20px;
		}
	}

	@media (max-width: 480px) {
		#heading .site-title {
			font-size: 26px;

			.site-name {
				vertical-align: sub;
			}
		}

		.media {
			.media-heading {
				margin: 20px 0;
				text-align: center;
			}

			.media-image {
				&.align-left, &.align-right {
					float: none;
					margin: 0 auto;
				}
			}
		}

		.zoe-carousel {
			.carousel-image img {
				height: 250px;
			}

			.carousel-panel-center, .carousel-panel-left, .carousel-panel-right {
				top: 10%;
			}
		}
	}
}
