<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE web-app PUBLIC "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN" "http://java.sun.com/dtd/web-app_2_3.dtd">

<web-app>
	<context-param>
		<param-name>contextConfigLocation</param-name>
		<param-value>/WEB-INF/classes/META-INF/org.edorasframework.common-context.xml,/WEB-INF/classes/META-INF/org.edorasframework.el-context.xml,/WEB-INF/classes/META-INF/org.edorasframework.scopes.core-context.xml,/WEB-INF/classes/META-INF/org.edorasframework.process.core-context.xml,/WEB-INF/classes/META-INF/org.edorasframework.process.workflow-context.xml</param-value>
	</context-param>
	<listener>
		<listener-class>com.liferay.portal.kernel.spring.context.PortletContextLoaderListener</listener-class>
	</listener>
	<listener>
		<listener-class>org.springframework.web.context.ContextLoaderListener</listener-class>
	</listener>
</web-app>