body {
	background: url(../images/common/bg.png) repeat-x;
	background-color: #fff;
	background-position: 10px 0px;
	font: 62.5%/1.6em 'Trebuchet ms',Helvetica,sans-serif;
}
#wrapper {
	background: url(../images/common/btm_bg.png) repeat-x bottom;
	margin: 0 auto;
	position: relative;
	width: 900px;
}
table {
	clear: both;
}
#footer {
	background: url(../images/common/footer.jpg) no-repeat;
	height: 34px;
	width: 900px;
}
#content-wrapper {
	width: 898px;
}
.columns-1 #column-1, .columns-max #column-1 {
	display: table;
	padding-left: 0;
	padding-right: 0;
	width: 900px;
}
#banner {
	background: url(../images/common/header.jpg) no-repeat scroll 100% 0px;
	height: 186px;
	position: relative;
}
#banner .logo {
	background: none;
	display: block;
	float: left;
	font-size: 2em;
	left: 40px;
	padding: 1.25em 0.6em 1.45em;
	position: relative;
	top: 12px;
}
#banner .logo a {
	margin-left: -17px;
	margin-top: -20px;
}
.lfr-dock h2 {
	background: url(../images/navigation/welcome_message.png) no-repeat 0 50%;
	font-size: 1.2em;
	margin-bottom: 0.5em;
	padding-left: 2em;
	text-align: center;
}
.js .lfr-dock.interactive-mode {
	float: right;
	min-width: 150px;
	position: relative;
	right: 39px;
	top: 5px;
	width: 226px;
}
.js .lfr-dock.interactive-mode ul {
	background: url(../images/dock/menu_bg.png) no-repeat 0 0;
	border-left: 20px solid #AAE501;
	display: none;
	float: none;
}
.bottom {
	background: url(../images/navigation/sub_nav_bottom.png) no-repeat 11px 95%;
	float: left;
	left: -150px;
	padding-bottom: 55px;
	position: absolute;
	top: 190px;
	width: 148px;
}
.ie6.bottom {
	background-position: 11px 92%;
}
#navigation li, #navigation li.selected, #navigation li.selected.sortable-item, #navigation li.sortable-item {
	background: none;
	border-bottom: 1px solid #CCC;
	display: block;
	height: auto;
	margin-left: 9px;
	padding: 0;
	padding-right: 2px;
	position: relative;
	width: 133px;
}
.ie6 #navigation li, .ie6 #navigation li.selected, .ie6 #navigation li.selected.sortable-item, .ie6 #navigation li.sortable-item {
	margin-left: 6px;
}
#navigation li a, #navigation li.sortable-item a {
	background: none;
	color: #0066CC;
	display: block;
	font-size: 8pt;
	font-weight: bold;
	height: auto;
	margin: 0;
	margin-left: 10px;
	padding: 5px;
	padding-left: 10px;
	position: relative;
}
#navigation li a:hover, #navigation li.sortable-item a:hover {
	background: #DEFE92;
	color: #003366;
	display: block;
	height: auto;
	margin: 0;
	padding: 5px;
	padding-left: 10px;
	position: relative;
}
#navigation li a span, #navigation li.selected a span, #navigation li.selected.sortable-item a span, #navigation li.sortable-item a span {
	background: none;
	display: block;
	height: auto;
	margin: 0;
	padding: 0;
	position: relative;
}
#navigation li a:hover span, #navigation li.selected a:hover span, #navigation li.selected.sortable-item a:hover span, #navigation li.sortable-item a:hover span {
	background: none;
	display: block;
	height: auto;
	margin: 0;
	margin-left: 10px;
	padding: 0;
	position: relative;
}
#navigation {
	background: url(../images/navigation/sub_nav_top.png) no-repeat 11px top;
	border: none;
	float: left;
	margin: 20px auto -7px;
	min-height: none;
	overflow: hidden;
	padding-bottom: 1em;
	padding-right: 1em;
	width: 144px;
}
#navigation li {
	border: none;
}
#navigation ul {
	background: url(../images/navigation/sub_nav.png) repeat-y 9px 10%;
	float: left;
	margin-left: 2px;
	margin-top: 21px;
	width: 147px;
}
.ie6 #navigation ul {
	background-position: 11px 0%;
	float: none;
	margin-left: auto;
	margin-top: 21px;
	width: 147px;
}
#navigation li.selected a {
	color: #003366;
	margin: 0;
	margin-left: 0px;
	padding: 5px;
	padding-bottom: 0.5em;
	padding-left: 18px;
}
#navigation li.selected a span {
	background: none;
	font-size: 1em;
	font-weight: bold;
}
#navigation li.selected a:hover {
	background: #DEFE92;
	margin: 0;
	margin-left: 0px;
	padding: 5px;
	padding-bottom: 0.5em;
	padding-left: 8px;
}
.js #add-page {
	background: none;
	border: none;
	float: left;
	font-weight: bold;
	left: 27px;
	padding-top: 0.3em;
	position: absolute;
	top: -7px;
	z-index: 1;
}
.js #add-page span {
	color: #0066CC;
}
.js #add-page a:hover span {
	color: #003366;
}
.ie6.js #add-page {
	left: -60px;
	padding-bottom: 2px;
	position: absolute;
	top: 5px;
	width: 10em;
}
.js #navigation .enter-page {
	background: #DEFE92;
	padding: 0.5em 0em 0.7em 0em;
}
.ie6.js #navigation .enter-page {
}
.portlet, .portlet-topper, .portlet-content, .portlet-title {
	background: none;
}
.portlet {
	margin: 0 0 10px;
	padding-right: 10px;
	text-align: left;
}
.portlet-topper {
	background-position: right top;
	margin-right: -10px;
	padding-right: 40px;
	position: relative;
}
.portlet-title {
	background-position: top left;
	color: #0066CC;
	display: block;
	font-size: 13pt;
	font-weight: bold;
	min-width: 50%;
	padding: 8px 0 4px 10px;
}
.tabs {
	border-bottom: 1px solid #0066CC;
	margin: 0 0 1.5em 0;
	padding: 0 0 2.6em 1em;
}
.tabs li {
	background: url(../images/common/tabs_bg.png) 2pt -200px;
	display: inline;
	float: left;
	line-height: 2.25em;
	margin-right: 0.8em;
	padding: 0;
	position: relative;
	text-decoration: none;
}
.tabs li a, .tabs li span {
	background: url(../images/common/tabs_bg.png) -2pt -201px;
	display: block;
	float: left;
	padding: 0.35em 1em 0;
	text-decoration: none;
}
.tabs li.current a, .tabs li.current span {
	background: url(../images/common/tabs_bg.png) 0 -217px;
	color: #333;
	margin-top: -1px;
	padding: 0.15em 1em;
}
.portlet-section-header {
	background: #B1D0FF;
	padding: 1px 0 0;
}
.portlet-section-body {
	background: #CECECE;
	color: #000;
}
.js .interactive-mode h2 {
	background: transparent url(/miami-sky-theme/images/dock/menu_bar.png) no-repeat scroll 100% -30px;
	padding: 0pt 26px 0pt 0pt;
}
.js .interactive-mode h2 span {
	background: transparent url(/miami-sky-theme/images/dock/menu_bar.png) no-repeat scroll 0pt 0pt;
}
.lfr-dock-list-container {
	height: 1px;
	overflow: visible;
}