.portlet-bookmarks .lfr-asset-url {
  margin: 1em 0 0.3em; }
.portlet-bookmarks .lfr-asset-url, .portlet-bookmarks .row-url {
  word-break: break-all; }
.portlet-bookmarks .folder-search {
  float: right;
  margin: 0 0 0.5em 0.5em; }
.portlet-bookmarks .lfr-panel-content {
  overflow: auto; }

