/* This file allows you to override default styles in one central location for easier upgrade and maintenance. */

/* ---------- Base ---------- */

html {
	background: #CCD8E0 url(../images/custom/html_bg.jpg) repeat-x left bottom;
	min-height: 100%;
}

body {
	background: transparent;
}

#skip-to-content,
#banner h2,
#banner h3,
#navigation h1,
#breadcrumbs,
.site-breadcrumbs h1 {
	left: -99999px;
	overflow: hidden;
	position: absolute;
	width: 1%;
}

a,
a:visited {
	color: #456;
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
}

/* ---------- Wrapper ---------- */

#wrapper {
	background: #FFF;
	border: 10px solid #FFF;
	font: 1.2em Lucida Sans Unicode, Lucida Grande, sans-serif;
	margin: 0 auto;
	margin: 50px auto;
	width: 960px;
}

/* ---------- Banner ---------- */

#banner {
	background: #C3D0D6;
	height: 120px;
	margin: 0 0 5px;
	padding: 15px 0 0 0;
	position: relative;
}

.ie7 #banner {
	padding: 35px 0 5px 0;
}

h1.company-title {
	padding-left: 10px;
}

#sign-in {
	color: #FFF;
	float: right;
	position: absolute;
	right: 5px;
	text-decoration: none;
	top: 115px;
}

.ie6 #sign-in {
	top: 100px;
}

/* ---------- Navigation ---------- */

#navigation {
	background: url(../images/custom/navigation_bg.gif);
	border: 1px solid #CFDEE7;
	border-color: #DFEEF7 #CFDEE7;
	font: bold 12px Arial, Helvetica, sans-serif;
	height: 41px;
}

#navigation ul {
	list-style: none;
	margin: 0;
}

#navigation li,
#navigation a {
	float: left;
}

#navigation li {
	position: relative;
}

.js .delete-tab {
	position: absolute;
	top: 7px;
	right: 3px;
}

#navigation ul li ul.child-menu {
	display: none;
}

#navigation a {
	border-right: 1px solid #AFBEC7;
	color: #456;
	display: block;
	height: 41px;
	line-height: 41px;
	padding: 0 20px;
	text-decoration: none;
}

#navigation .selected a,
#navigation a:hover {
	background: url(../images/custom/navigation_bg.gif) left bottom;
}

/* ---------- Content Wrapper ---------- */

#content {
	margin-top: 15px;
	padding: 10px;
}

.ie7 #content {
	margin-top: 5px;
}

/* ---------- Portlet ---------- */

.portlet {
	margin: 0 0 8px;
}

.portlet-topper {
	padding: 6px 0 4px;
}

.portlet-title {
	color: #963;
	font: normal 22px Tahoma, sans-serif;
}

.portlet-content {
	padding: 0;
}

.aui-tab-active span a {
	color: #FFF;
}

/* ---------- Footer ---------- */

#footer {
	background: #ADBFCB url(../images/custom/footer_bg.gif) repeat-x;
	min-height: 39px;
	padding: 12px;
	text-align: left;
}