/* -------- Global -------- */

#skip-to-content,
#heading .community-title,
#heading .page-title,
#navigation h1,
#navigation .child-menu {
	clip: rect(0 0 0 0);
	position: absolute;
}

html {
	background: #CCD8E0 url(../images/custom/html_bg.jpg) repeat-x left bottom;
	min-height: 100%;
}

body {
	background: url(../images/custom/body_bg.gif) repeat-x left top;
	overflow: hidden;
}

#navigation,
#content {
	background: #FFF;
	padding: 10px;
}

#heading .company-title,
#footer {
	padding: 20px 10px;
}

/* -------- Wrapper / Skip / Sign-in -------- */

#wrapper {
	font: 12px "Lucida Sans Unicode", "Lucida Grande", sans-serif;
	margin: 0 auto;
	position: relative;
	width: 780px;
}

#skip-to-content,
#sign-in {
	color: #FFF;
	right: 2em;
}

#skip-to-content {
	top: 3em;
	z-index: 4;
}

#skip-to-content:active,
#skip-to-content:focus {
	clip: auto;
}

#sign-in {
	position: absolute;
	top: 1.5em;
}

/* -------- Heading -------- */

#heading {
	height: 120px;
	margin: 0 0 5px;
	position: relative;
}

#heading .company-title {
	margin: 0;
	padding: 20px 10px;
}

/* -------- Navigation -------- */

#navigation ul {
	background: #D2DDE1;
	background-image: -moz-linear-gradient(top, #F0F3F5, #D2DDE1);
	background-image: -webkit-gradient(linear,left top,left bottom,color-stop(0, #F0F3F5),color-stop(1, #D2DDE1));
	border: 1px solid #CFDEE7;
	border-color: #DFEEF7 #CFDEE7 #BFCDD4;
	list-style: none;
	margin: 0;
}

.ie6 #navigation ul,
.ie7 #navigation ul {
	zoom: 1;
}

#navigation ul:after {
	clear: both;
	content: ".";
	display: block;
	height: 0;
	line-height: 0;
	visibility: hidden;
}

#navigation li,
#navigation a {
	float: left;
}

#navigation a {
	border-right: 1px solid #AFBEC7;
	color: #456;
	display: block;
	height: 14px;
	padding: 13px 20px;
	text-decoration: none;
}

#navigation a:active,
#navigation a:focus,
#navigation a:hover {
	background: #C6D2D9;
	background-image: -moz-linear-gradient(top, #E3E9EC, #C6D2D9);
	background-image: -webkit-gradient(linear,left top,left bottom,color-stop(0, #E3E9EC),color-stop(1, #C6D2D9));
	color: #234;
}

/* -------- Breadcrumbs -------- */

#breadcrumbs {
	display: none;
}

/* ---------- Portlet ---------- */

.portlet {
	margin: 0 0 8px;
}

.portlet-topper {
	padding: 6px 0 4px;
}

.portlet-content {
	padding: 0;
}

.yui3-aui-tab-active span a {
	color: #FFF;
}

/* -------- Footer -------- */

#footer {
	background: #ABBECA;
	border-top: 5px solid #B7C7D1;
}

#footer p {
	margin: 0;
}