.google-maps-portlet {
	.address-field {
		input {
			width: 350px;
		}

		label {
			min-width: 40px;
		}
	}
}

.ie6 .google-maps-portlet .maps-content img {
	behavior: expression(this.pngSet=true);
}