## ---------- Logo ---------- ##

#if (($company.getLogoId() == 0) && $use_company_logo && $theme_settings.display-company-logo != true)
	#set ($site_logo = "${images_folder}/custom/logo.png")
	#set ($site_logo_height = 36)
	#set ($site_logo_width = 88)
#end

## ---------- Footer Content ---------- ##

#if ($theme_settings.display-footer == true)
	#set ($css_class = "$css_class show-footer")
#end

#if ($theme_settings.footer-section-1-article-id)
	#set ($footer_section_1 = $journalContentUtil.getContent($group_id, $theme_settings.footer-section-1-article-id, null, "$locale", $theme_display))
#else
	#set ($footer_section_1 = $journalContentUtil.getContent($group_id, "FOOTER-BLURB", null, "$locale", $theme_display))
#end

#set ($footer_section_2 = $journalContentUtil.getContent($group_id, $theme_settings.footer-section-2-article-id, null, "$locale", $theme_display))

#if ($theme_settings.footer-section-3-article-id)
	#set ($footer_section_3 = $journalContentUtil.getContent($group_id, $theme_settings.footer-section-3-article-id, null, "$locale", $theme_display))
#else
	#set ($footer_section_3 = $journalContentUtil.getContent($group_id, "FOOTER-LINKS", null, "$locale", $theme_display))
#end

#if ($theme_settings.footer-section-4-article-id)
	#set ($footer_section_4 = $journalContentUtil.getContent($group_id, $theme_settings.footer-section-4-article-id, null, "$locale", $theme_display))
#else
	#set ($footer_section_4 = $journalContentUtil.getContent($group_id, "FOOTER-SOCIAL", null, "$locale", $theme_display))
#end