.document-library-file-entry-cell-editor-hidden {
  display: none; }

.portlet-document-library .diagram-builder-drop-container, .portlet-dynamic-data-mapping .diagram-builder-drop-container {
  overflow: auto; }
.portlet-document-library .diagram-builder-field-icon, .portlet-dynamic-data-mapping .diagram-builder-field-icon {
  font-size: 24px; }
.portlet-document-library .field-labels-inline, .portlet-dynamic-data-mapping .field-labels-inline {
  clear: both;
  display: block; }
  .portlet-document-library .field-labels-inline .field-label, .portlet-dynamic-data-mapping .field-labels-inline .field-label {
    margin-top: 0; }
.portlet-document-library .field .field-content, .portlet-dynamic-data-mapping .field .field-content {
  clear: both; }
.portlet-document-library .lfr-structure-entry-details-container, .portlet-dynamic-data-mapping .lfr-structure-entry-details-container {
  margin-top: 10px; }
.portlet-document-library .lfr-translation-manager, .portlet-dynamic-data-mapping .lfr-translation-manager {
  margin-bottom: 15px; }
.portlet-document-library .lfr-ddm-link-to-page a, .portlet-dynamic-data-mapping .lfr-ddm-link-to-page a {
  clear: both;
  display: block; }
.portlet-document-library .lfr-ddm-small-image-preview, .portlet-dynamic-data-mapping .lfr-ddm-small-image-preview {
  background-color: #FFF;
  border: 1px solid #CCC;
  padding: 4px;
  max-width: 120px; }
.portlet-document-library .lfr-ddm-small-image-preview div, .portlet-dynamic-data-mapping .lfr-ddm-small-image-preview div {
  background: #CCC;
  height: 80px;
  width: 80px; }
.portlet-document-library .lfr-ddm-small-image-content, .portlet-dynamic-data-mapping .lfr-ddm-small-image-content {
  background-color: #F5F5F5;
  padding: 5px; }
  .portlet-document-library .lfr-ddm-small-image-content th, .portlet-dynamic-data-mapping .lfr-ddm-small-image-content th {
    padding: 5px;
    white-space: nowrap;
    width: 1%; }
.portlet-document-library .lfr-ddm-small-image-content img, .portlet-dynamic-data-mapping .lfr-ddm-small-image-content img {
  margin-right: 1em; }
.portlet-document-library .lfr-ddm-types-form-column .column-content-first, .portlet-dynamic-data-mapping .lfr-ddm-types-form-column .column-content-first {
  margin-right: 10px; }
.portlet-document-library .lfr-ddm-search-form .column, .portlet-dynamic-data-mapping .lfr-ddm-search-form .column {
  margin-right: 10px; }
.portlet-document-library .lfr-document-library-add-menu, .portlet-dynamic-data-mapping .lfr-document-library-add-menu {
  margin-bottom: 10px; }
.portlet-document-library .lfr-template-editor-container .lfr-template-palette-container, .portlet-dynamic-data-mapping .lfr-template-editor-container .lfr-template-palette-container {
  width: 275px; }
  .portlet-document-library .lfr-template-editor-container .lfr-template-palette-container .lfr-template-palette, .portlet-dynamic-data-mapping .lfr-template-editor-container .lfr-template-palette-container .lfr-template-palette {
    height: 372px;
    overflow: auto;
    width: 100%; }
    .portlet-document-library .lfr-template-editor-container .lfr-template-palette-container .lfr-template-palette .palette-item-header, .portlet-dynamic-data-mapping .lfr-template-editor-container .lfr-template-palette-container .lfr-template-palette .palette-item-header {
      font-weight: bold; }
      .portlet-document-library .lfr-template-editor-container .lfr-template-palette-container .lfr-template-palette .palette-item-header .palette-item-header-icon, .portlet-dynamic-data-mapping .lfr-template-editor-container .lfr-template-palette-container .lfr-template-palette .palette-item-header .palette-item-header-icon {
        background: url() no-repeat 50%;
        display: inline-block;
        height: 10px;
        width: 9px; }
    .portlet-document-library .lfr-template-editor-container .lfr-template-palette-container .lfr-template-palette .toggler-header-collapsed .palette-item-header-icon, .portlet-dynamic-data-mapping .lfr-template-editor-container .lfr-template-palette-container .lfr-template-palette .toggler-header-collapsed .palette-item-header-icon {
      background-image: url(@theme_image_path@/arrows/05_right.png); }
    .portlet-document-library .lfr-template-editor-container .lfr-template-palette-container .lfr-template-palette .toggler-header-expanded .palette-item-header-icon, .portlet-dynamic-data-mapping .lfr-template-editor-container .lfr-template-palette-container .lfr-template-palette .toggler-header-expanded .palette-item-header-icon {
      background-image: url(@theme_image_path@/arrows/05_down.png);
      vertical-align: middle; }
    .portlet-document-library .lfr-template-editor-container .lfr-template-palette-container .lfr-template-palette .palette-item-header, .portlet-dynamic-data-mapping .lfr-template-editor-container .lfr-template-palette-container .lfr-template-palette .palette-item-header {
      cursor: pointer;
      margin: 0.5em; }
    .portlet-document-library .lfr-template-editor-container .lfr-template-palette-container .lfr-template-palette .palette-item-content .palette-item-container, .portlet-dynamic-data-mapping .lfr-template-editor-container .lfr-template-palette-container .lfr-template-palette .palette-item-content .palette-item-container {
      cursor: pointer;
      line-height: 1.8em;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap; }
.portlet-document-library .lfr-template-editor-container .lfr-editor-container, .portlet-dynamic-data-mapping .lfr-template-editor-container .lfr-editor-container {
  margin-left: 275px; }
  .portlet-document-library .lfr-template-editor-container .lfr-editor-container .lfr-template-editor .lfr-rich-editor, .portlet-dynamic-data-mapping .lfr-template-editor-container .lfr-editor-container .lfr-template-editor .lfr-rich-editor {
    padding-left: 0.2em; }
.portlet-document-library .lfr-template-editor-container .lfr-editor-container-full, .portlet-dynamic-data-mapping .lfr-template-editor-container .lfr-editor-container-full {
  margin-left: 0; }
.portlet-document-library .lfr-wcm-image-icon, .portlet-dynamic-data-mapping .lfr-wcm-image-icon {
  background-position: 50%;
  padding: 0; }
.portlet-document-library .form-builder-source-wrapper, .portlet-dynamic-data-mapping .form-builder-source-wrapper {
  height: 600px;
  position: relative; }
  .portlet-document-library .form-builder-source-wrapper .form-builder-source, .portlet-dynamic-data-mapping .form-builder-source-wrapper .form-builder-source {
    position: relative; }

.ie6 .lfr-editor-container, .ie7 .lfr-editor-container {
  zoom: 1; }

