<ul class="social">
	#foreach ($social_link in $social-links.siblings)
		<li>
			<a class="$social_link.data.toLowerCase()" href="$social_link.url-location.data" title="$social_link.data.toLowerCase()">
				<span>$social_link.data</span>
			</a>
		</li>
	#end
</ul>