/* This file allows you to override default styles in one central location for easier upgrade and maintenance. */

/* ---------- Base ---------- */

body {
	background: #382E22;
}

a {
	text-decoration: none;
}

/* ---------- Wrapper ---------- */

#wrapper {
	margin: 0 auto;
	width: 977px;
}

/* ---------- Banner ---------- */

#banner {
	margin: 0 16px;
	position: relative;
}

#banner .sign-in {
	position: absolute;
	right: 0;
	top: 0;
}

/* ---------- Logo ---------- */

#banner .logo {
	padding: 14px 0;
}

/* ---------- Navigation ---------- */

#navigation {
	background: url(../images/custom/navigation_bg.png) no-repeat;
	height: 30px;
	padding: 0 10px 80px;
	position: relative;
	z-index: 10;
}

#navigation ul {
	list-style: none;
}

#navigation li,
#navigation a {
	float: left;
}

#navigation li {
	height: 50px;
}

#navigation li a {
	color: #FFF;
	display: block;
	font-size: 12px;
	padding: 17px 12px;
}

#navigation li a:hover {
	background: #AFC336;
	text-decoration: none;
}

#navigation .selected a:hover {
	color: #FFF;
}

#navigation .selected a {
	color: #AFC336;
}

/* ---------- Content Wrapper ---------- */

#content-wrapper {
	background: url(../images/custom/content_wrapper_bg.png) repeat-y;
	color: #382E22;
	margin: 0 0 0 9px;
	width: 962px;
	z-index: 1;
}

/* ---------- Portlet ---------- */

.portlet {
	padding: 0 13px 10px 9px;
}

.portlet-topper {
	background: url(../images/custom/portlet_topper_bg.png) no-repeat 15px 100%;
	height: 36px;
}

.portlet-title {
	background: #6D98C1;
	color: #FFF;
	font-size: 16px;
	margin-bottom: 8px;
	padding: 6px 15px;
}

/* ---------- Footer ---------- */

#footer {
	background: url(../images/custom/footer_bg.png) no-repeat;
	height: 20px;
	margin: 0 0 50px 9px;
	padding: 0 32px 12px 24px;
	text-align: right;
}