/* -------- Global -------- */

#skip-to-content,
#heading .community-title,
#heading .page-title,
#navigation h1 {
	clip: rect(0 0 0 0);
	position: absolute;
}

body {
	background: #382E22;
}

/* -------- Wrapper / Skip / Sign-in -------- */

#wrapper {
	margin: 0 auto;
	position: relative;
	width: 977px;
}

#skip-to-content,
#sign-in {
	color: #FFF;
	right: 0;
}

#skip-to-content {
	top: 1.5em;
}

#skip-to-content:active,
#skip-to-content:focus {
	clip: auto;
}

#sign-in {
	position: absolute;
	top: 0;
}

/* -------- Heading -------- */

#heading {
	margin: 0 16px;
	position: relative;
}

#heading .company-title {
	margin: 16px;
}

/* -------- Navigation -------- */

#navigation {
	background: url(../images/custom/navigation_bg.png) no-repeat;
	height: 110px;
}

#navigation ul {
	list-style: none;
	margin: 0;
}

.ie6 #navigation ul,
.ie7 #navigation ul {
	zoom: 1;
}

#navigation ul:after {
	clear: both;
	content: ".";
	display: block;
	height: 0;
	line-height: 0;
	visibility: hidden;
}

#navigation li,
#navigation a {
	float: left;
	height: 50px;
}

#navigation a {
	color: #FFF;
	display: block;
	font-size: 12px;
	padding: 17px 12px;
	text-decoration: none;
}

#navigation a:active,
#navigation a:focus,
#navigation a:hover {
	text-decoration: underline;
}

/* -------- Content -------- */

#content {
	background: url(../images/custom/content_bg.png) repeat-y;
	color: #382E22;
	margin: 0 0 0 9px;
	padding: 10px 30px;
}

#breadcrumbs {
	display: none;
}

/* ---------- Portlet ---------- */

.portlet {
	padding: 0 13px 10px 9px;
}

.portlet-topper {
	background: url(../images/custom/portlet_topper_bg.png) no-repeat 15px 100%;
	height: 40px;
}

.portlet-title {
	background: #6D98C1;
	color: #FFF;
	font-size: 16px;
	margin-bottom: 8px;
	padding: 6px;
}

/* -------- Footer -------- */

#footer {
	background: url(../images/custom/footer_bg.png) no-repeat;
	height: 32px;
	margin: 0 0 20px 9px;
	padding: 0 32px 12px;
	text-align: right;
}

#footer p {
	margin: 0;
}