/* ---------- Main ---------- */

.ui-wrapper {
	border: 2px solid #828F95;
}

.ui-wrapper input, .ui-wrapper textarea {
	border: 0;
}

.results-header {
	background: #727C81;
}

.results-header th, .results-header td {
	color: #FFF;
	padding: 5px 10px;
}

.results-header th a, .results-header td a {
	color: #FFF;
}

.results-header .sort-column .result-column-name {
	background: url(../images/arrows/06_up.png) no-repeat 100% 50%;
	font-style: italic;
	padding-right: 15px;
}

.results-header .sort-desc .result-column-name {
	background-image: url(../images/arrows/06_down.png);
}

.results-row td {
	background: #F0F5F7;
	padding: 5px 10px;
}

.results-row.alt td {
	background: #D3DADD;
}

.results-row.hover td {
	background: #A8D6ED;
}

/* ---------- Asset Categories ---------- */

.ui-asset-categories {
	display: block;
	padding: 5px 0 2px;
}

.ui-asset-categories:after {
	clear: both;
	content: ".";
	display: block;
	height: 0;
	visibility: hidden;
}

.ie .ui-asset-categories {
	height: 1%;
}

.ui-asset-categories.empty {
	display: none;
}

.ui-asset-categories .ui-asset-category {
	background: #DFF4FF;
	border: 1px solid #A7CEDF;
	float: left;
	margin-bottom: 3px;
	margin-right: 3px;
	padding: 3px 20px 3px 6px;
	padding-right: 20px;
	position: relative;
}

.ui-asset-categories .ui-asset-category:hover {
	border-color: #AEB8BC;
}

.ui-asset-categories .ui-asset-category-delete {
	display: block;
	padding: 6px;
	position: absolute;
	right: 0;
	top: 3px;
}

.ui-asset-categories .ui-asset-category-delete span {
	background: url(../images/application/close_small.png) no-repeat 0 0;
	cursor: pointer;
	display: block;
	font-size: 0;
	height: 7px;
	text-indent: -9999em;
	width: 7px;
}

.ui-asset-categories .ui-asset-category-delete:hover span {
	background-position: 0 100%;
}

.ui-asset-categories-input {
	width: 200px;
}

.tags-vocabulary-name span {
	font-weight: bold;
	padding-bottom: 3px;
}

/* ---------- Breadcrumbs ---------- */

.breadcrumbs {
	margin-bottom: 1.5em;
}

.breadcrumbs li {
	background: url(../images/arrows/05_right.png) no-repeat 100% 50%;
	display: inline;
	padding-right: 15px;
	margin-right: 5px;
}

.breadcrumbs .last {
	background-image: none;
	font-weight: bold;
	margin-top: 0.2em;
}

.breadcrumbs .last a {
	color: #555;
}

/* ---------- Site breadcrumbs ---------- */

.site-breadcrumbs {
	margin: 0 auto;
	width: 90%;
}

.site-breadcrumbs ul {
 	background-color: #fff;
 	border: 1px solid #dedede;
 	height: 2.3em;
	margin: 0;
}

.site-breadcrumbs li {
	background-image: none;
	float: left;
	line-height: 2.3em;
	margin-right: 0;
	padding-left: 0.75em;
	padding-right: 0;
}

.site-breadcrumbs li span {
	background: url(../images/common/breadcrumbs.png) no-repeat right center;
	display: block;
	padding: 0 15px 0 0;
}

.site-breadcrumbs li span a {
	text-decoration: none;
}

.site-breadcrumbs .last {
	display: inline;
	font-size: 1em;
	margin-top: 0;
	padding-right: 0;
}

.site-breadcrumbs .last span {
	background-image: none;
	padding: 0;
}

/* ---------- Dragging/sorting indicators ---------- */

.lfr-grid.dragging {
	border-collapse: separate;
}

.lfr-grid.dragging .lfr-column {
	border: 3px double #828F95;
}

.drop-area {
	background-color: #D3DADD;
}

.active-area {
	background: #FFC;
}

.portlet-boundary.yui-dd-dragging {
	background: #000;
	visibility: hidden;
}

.aui-proxy {
	cursor: move;
	opacity: 0.65;
	position: relative;
}

.ie .aui-proxy {
	filter: alpha(opacity=65);
}

.aui-proxy.generic-portlet {
	height: 200px;
	width: 300px;
}

.aui-proxy.generic-portlet .portlet-title {
	padding: 10px;
}

.aui-proxy.not-intersecting .forbidden-action {
	background: url(../images/application/forbidden_action.png) no-repeat;
	display: block;
	height: 32px;
	position: absolute;
	right: -15px;
	top: -15px;
	width: 32px;
}

.ie .aui-proxy.not-intersecting .forbidden-action {
	right: 2px;
	top: 2px;
}

.aui-resizable-proxy {
	border: 1px dashed #828F95;
	position: absolute;
	visibility: hidden;
}

.aui-sortable-proxy {
	background: #727C81;
	margin-top: 1px;
}

.portlet-sort-helper {
}

/* ---------- Resizables ---------- */

.aui-resizable {
	position: relative;
	z-index: 0;
}

.ie6 .aui-resizable {
	zoom: 1;
}

.ie6 .aui-resizable-wrap {
	zoom: 1;
}

.aui-resizable-handle {
	background: transparent url() no-repeat 50% 50%;
	font-size: 0.1px;
	position: absolute;
}

.aui-resizable .aui-resizable-handle {
	display: block;
}

.aui-resizable-handle-t, .aui-resizable-handle-b {
	background-image: url(../images/application/handle_horizontal.png);
	height: 14px;
	left: 0;
	right: 0;
	width: 100%;
}

.aui-resizable-handle-t {
	cursor: n-resize;
	top: 0;
}

.aui-resizable-handle-b {
	bottom: 0;
	cursor: s-resize;
}

.ie6 .aui-resizable-handle-t, .ie6 .aui-resizable-handle-b {
	zoom: 1;
}

.aui-resizable-handle-l, .aui-resizable-handle-r {
	background-image: url(../images/application/handle_vertical.png);
	background-position: center center;
	bottom: 0;
	top: 0;
	width: 14px;
}

.aui-resizable-handle-r {
	cursor: e-resize;
	right: 0;
}

.aui-resizable-handle-l {
	cursor: w-resize;
	left: 0;
}

.aui-resizable-handle-tr, .aui-resizable-handle-tr {
	height: 14px;
	top: 0;
	width: 14px;
}

.aui-resizable-handle-tr {
	background-image: url(../images/application/handle_ne.png);
	cursor: ne-resize;
	right: 0;
}

.aui-resizable-handle-tl {
	background-image: url(../images/application/handle_nw.png);
	cursor: nw-resize;
	left: 0;
}

.aui-resizable-handle-bl, .aui-resizable-handle-br {
	bottom: 0;
	height: 14px;
	width: 14px;
}

.aui-resizable-handle-br {
	background-image: url(../images/application/handle_se.png);
	cursor: se-resize;
	right: 0;
}

.aui-resizable-handle-bl {
	background-image: url(../images/application/handle_sw.png);
	cursor: sw-resize;
	left: 0;
}

.aui-resizable-hover .aui-resizable-handle, .aui-resizable-hidden .aui-resizable-handle {
	opacity: 0;
}

.ie .aui-resizable-hover .aui-resizable-handle, .ie .aui-resizable-hidden .aui-resizable-handle {
	filter: alpha(opacity=0);
}

.aui-resizable-ghost {
	opacity: .5;
}

.ie .aui-resizable-ghost {
	filter: alpha(opacity=50);
}

.aui-resizable-knob .aui-resizable-handle {
	height: 6px;
	width: 6px;
}

.aui-resizable-knob .aui-resizable-handle-t {
	left: 45%;
	top: -3px;
}

.aui-resizable-knob .aui-resizable-handle-r {
	right: -3px;
	top: 45%;
}

.aui-resizable-knob .aui-resizable-handle-b {
	bottom: -3px;
	left: 45%;
}

.aui-resizable-knob .aui-resizable-handle-l {
	left: -3px;
	top: 45%;
}

.aui-resizable-knob .aui-resizable-handle-tr {
	right: -3px;
	top: -3px;
}

.aui-resizable-knob .aui-resizable-handle-tl {
	left: -3px;
	top: -3px;
}

.aui-resizable-knob .aui-resizable-handle-bl {
	bottom: -3px;
	left: -3px;
}

.aui-resizable-knob .aui-resizable-handle-br {
	bottom: -3px;
	right: -3px;
}

.aui-resizable-status {
	background: #fff;
	display: none;
	left: -999px;
	padding: 2px;
	position: absolute;
	top: -999px;
	z-index: 99999;
}

.aui-resizable-status strong, .aui-resizable-status em {
	padding: 1px;
}

.ie6 .aui-resizable-status, .ie6 .aui-resizable-status strong, .ie6 .aui-resizable-status em {
	zoom: 1;
}

.freeform .portlet-boundary .aui-resizable-handle {
	margin: 3px;
}

/* ---------- Slider ---------- */

.ui-slider {
	position: relative;
}

.ui-slider-handle {
	position: absolute;
}

.ui-slider-disabled .ui-slider-handle {
	opacity: 0.5;
}

.ie .ui-slider-disabled .ui-slider-handle {
	filter: alpha(opacity=50);
}

.ui-slider-range {
	background: #1E2529;
	height: 100%;
	opacity: 0.3;
	position: absolute;
	width: 100%;
}

.ie .ui-slider-range {
	filter: alpha(opacity=30);
}

/* ---------- Portal tool tips ---------- */

.aui-tooltip {
	max-width: 200px;
}

/* ---------- Tags ---------- */

.ui-tags {
	display: block;
	padding: 5px 0 2px;
}

.ui-tags:after {
	clear: both;
	content: ".";
	display: block;
	height: 0;
	visibility: hidden;
}

.ie .ui-tags {
	height: 1%;
}

.ui-tags.empty {
	display: none;
}

.ui-tags .ui-tag {
	background: #DFF4FF;
	border: 1px solid #A7CEDF;
	float: left;
	margin-bottom: 3px;
	margin-right: 3px;
	padding: 3px 20px 3px 6px;
	padding-right: 20px;
	position: relative;
}

.ui-tags .ui-tag:hover {
	border-color: #AEB8BC;
}

.ui-tags .ui-tag-delete {
	display: block;
	padding: 6px;
	position: absolute;
	right: 0;
	top: 3px;
}

.ui-tags .ui-tag-delete span {
	background: url(../images/application/close_small.png) no-repeat 0 0;
	cursor: pointer;
	display: block;
	font-size: 0;
	height: 7px;
	text-indent: -9999em;
	width: 7px;
}

.ui-tags .ui-tag-delete:hover span {
	background-position: 0 100%;
}

.ui-tags-input {
	width: 200px;
}

.tags-vocabulary-name span {
	font-weight: bold;
	padding-bottom: 3px;
}

/* ---------- Tag cloud and tag list ---------- */

.tag-cloud, .tag-list {
	list-style: none;
	margin: 0 1em 0 0;
	padding: 0 1em 0.5em 1em;
	white-space: normal;
}

.tag-cloud {
	line-height: 2.5em;
}

.tag-cloud li, .tag-list li {
	display: inline;
	float: left;
	list-style: none;
	margin: 0 1em 0 0;
}

.tag-cloud a, .tag-list a {
	white-space: nowrap;
}

.tag-cloud .tag-asset-count {
	left: -999px;
	position: absolute;
	top: -990px;
	z-index: 99999;
}

.tag-cloud .tag-popularity-1 {
	font-size: 1em;
}

.tag-cloud .tag-popularity-2 {
	font-size: 1.3em;
}

.tag-cloud .tag-popularity-3 {
	font-size: 1.6em;
}

.tag-cloud .tag-popularity-4 {
	font-size: 1.9em;
}

.tag-cloud .tag-popularity-5 {
	font-size: 2.2em;
}

.tag-cloud .tag-popularity-6 {
	font-size: 2.5em;
}

/* ---------- Rounded corners ---------- */

.aui-context-panel {
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
	border-radius: 4px;
}

/* ---------- Drop shadows ---------- */

.aui-context-panel {
	box-shadow: 4px 4px 14px #777;
	-moz-box-shadow: 4px 4px 14px #777;
	-webkit-box-shadow: 4px 4px 14px #777;
}