/* ---------- Global ---------- */

html {
	overflow-x: hidden;
	overflow-y: scroll;
}

body {
	font: 62.5%/1.5 Arial, Helvetica, sans-serif;
	margin: 0;
	min-height: 480px;
}

#banner {
	background: #000 url(../images/custom/banner_bg.jpg) center top;
	overflow: hidden;
}

#banner .logo a {
	margin: 10px auto;
}

.portlet {
border-bottom:1px solid #DDD;
color:#555;
padding:1em 0.5em;
}

/* ---------- Navigation ---------- */

#navigation table {
	border-spacing: 0;
	width: 100%;
}

#navigation th {
	padding: 0;
	vertical-align: bottom;
}

#navigation a {
	-moz-border-radius-topleft: 4px;
	-moz-border-radius-topright: 4px;
	-webkit-border-top-left-radius: 4px;
	-webkit-border-top-right-radius: 4px;
	background: #070A0B url(../images/custom/tabs_bg.png) repeat-x top;
	color: #83B1C0;
	display: block;
	font: bold 1.3em/2.4 Helvetica, Arial, sans-serif;
	margin-right: 1px;
	text-align: center;
	text-decoration: none;
}

#navigation a.selected {
	background: #222E34 url(../images/custom/selected_tab.png) repeat-x top;
	color: #F3F3F3;
	padding: 4px 0 0;
	text-shadow: 0 0 2px #888;
}

/* ---------- Calendar ---------- */

.portlet-calendar .calendar-container {
	border: 0;
	width: auto;
}

.portlet-calendar .calendar-container .taglib-calendar {
	float: none;
}

.portlet-calendar .calendar-day {
	width: 100%;
}

.portlet-calendar .calendar-container,
.portlet-calendar .taglib-calendar {
	width: 100%;
}

.portlet-calendar form > table > tbody > tr > td {
	display: block;
	width: 100%;
}

.portlet-calendar .calendar-day .day-text {
	-moz-border-radius: 6px;
	-webkit-border-radius: 6px;
	background: #EEE;
	color: #222;
	text-align: center;
	text-shadow: 2px 2px 1px #BBB;
}

.portlet-calendar .portlet-section-header {
	background: #EEE;
}

.portlet-calendar .day-number {
	font-size: 64px;
	text-align: center;
}

/* ---------- Menus ---------- */

.lfr-actions.portlet-options .lfr-trigger strong span, .visible.portlet-options .lfr-trigger strong span {
	background-image: url(../images/portlet/options.png);
}

.lfr-actions.portlet-options:hover, .lfr-actions.portlet-options:hover ul {
	background: transparent;
}

.lfr-menu-list {
	z-index: 450;
}

.aui-menu-content, .lfr-menu-list ul {
	background: #ccc9c9 url(../images/application/menu_bg.png) repeat-x 0 0;
	border: 1px solid;
	border-color: #aeafb1 #777879 #777879 #aeafb1;
	padding: 2px 0;
}

.aui-menu-content {
	min-width: 150px;
}

.aui-menugroup-content h4 {
	background: #d2d6de;
	border-width: 0;
	color: #5b677d;
	font-size: 1em;
	font-weight: bold;
	margin: 0;
	padding: 5px 3px;
	text-shadow: 1px 1px #fff;
}

.aui-menugroup-content ul, .lfr-menu-list ul ul {
	display: block;
	min-width: 0;
}

.aui-menu-content li, .lfr-menu-list ul li {
	border-bottom: 1px solid #bcbbbb;
	border-top: 1px solid #eee;
	display: block;
	margin: 0;
	padding: 0;
}

.ie7 .aui-menu-content li {
	z-index: 10;
}

.aui-menu-content li.first, .lfr-menu-list ul li.first {
	border-top-width: 0;
}

.aui-menu-content li.last, .lfr-menu-list ul li.last {
	border-bottom-width: 0;
}

.aui-menu-content li a, .lfr-menu-list ul li a {
	color: #2C2F34;
	display: block;
	padding: 4px 5px;
	text-decoration: none;
}

.aui-menu-content li a:hover, .lfr-menu-list ul a:hover {
	background-color: #5b677d;
	color: #fff;
	text-shadow: -1px -1px #2c2f34;
}

.aui-menu-content a, .lfr-menu-list li a, .lfr-actions .lfr-trigger, .lfr-actions .lfr-trigger strong {
	font-weight: bold;
	text-shadow: 1px 1px #fff;
}

/* ---------- Dockbar ---------- */

.dockbar {
	background: #97a1ae url(../images/dockbar/dockbar_bg.png) repeat-x 0 0;
	border-color: #636364;
}

.dockbar a {
	color: #2c2f34;
	font-weight: bold;
	text-shadow: 1px 1px #fff;
}

.dockbar .menu-button-active {
	background: #5c94da url(../images/dockbar/button_active_bg.png) repeat-x 0 0;
}

.dockbar .menu-button-active a {
	color: #fff;
	text-shadow: -1px -1px #2C2F34;
}

.aui-toolbar li {
	vertical-align: middle;
}

.my-places-menu .current-site {
	border: solid #1d4280;
	border-width: 1px 0;
}

.my-places-menu .current-site a {
	background-color: #3068ba;
	color: #fff;
	text-shadow: 1px 1px #333;
}

.my-places-menu .current-site .site-type {
	color: #fff;
}

.my-places-menu .current-site a:hover, .my-places-menu a:hover .site-type {
	color: #fff;
	text-shadow: 1px 1px #333;
}

.ie7 .my-places-menu .site-type {
	float: none;
}

.add-content-menu .add-page a {
	background: url(../images/navigation/add_page.png) no-repeat 3px 50%;
	padding-left: 25px;
}

.add-content-menu .add-application a {
	background: url(../images/common/portlet.png) no-repeat 3px 50%;
	padding-left: 25px;
}

.manage-content-menu li a {
	background: url() no-repeat 3px 50%;
	padding-left: 25px;
}

.manage-content-menu .manage-page a {
	background-image: url(../images/dock/page_settings.png);
}

.manage-content-menu .page-layout a {
	background-image: url(../images/dock/layout.png);
}

.manage-content-menu .sitemap a {
	background-image: url(../images/common/sitemap.png);
}

.manage-content-menu .settings a {
	background-image: url(../images/common/configuration.png);
}

.manage-content-menu .control-panel a {
	background-image: url(../images/dock/control_panel.png);
}

.aui-underlay-content {
	background-color: #f4f3f3;
	border: 1px solid #aeafb1;
	border-top-width: 0;
}

.add-application {
	left: 10px !important;
}

.manage-layouts {
	left: 60px !important;
}

/* ---------- Tabs ---------- */

/* ---------- Misc. ---------- */

/* ---------- Drop shadows ---------- */

.aui-menu-content, body > .lfr-menu-list ul, .aui-underlay-content, .aui-dialog-content {
	-moz-box-shadow: 2px 4px 7px rgba(0, 0, 0, 0.5);
	-webkit-box-shadow: 2px 4px 7px rgba(0, 0, 0, 0.5);
	box-shadow: 2px 4px 7px rgba(0, 0, 0, 0.5);
}

.dockbar .menu-button-active .menu-button {
	-moz-box-shadow: inset 0 1px 5px rgba(0, 0, 0, 0.7);
	-webkit-box-shadow: inset 0 1px 5px rgba(0, 0, 0, 0.7);
	box-shadow: inset 0 1px 5px rgba(0, 0, 0, 0.7);
}

.my-places-menu .current-site a {
	-moz-box-shadow: inset 0 5px 15px rgba(255, 255, 255, 0.5);
	-webkit-box-shadow: inset 0 5px 15px rgba(255, 255, 255, 0.5);
	box-shadow: inset 0 5px 15px rgba(255, 255, 255, 0.5);
}

/* ---------- Rounded corners ---------- */

.aui-menu-content {
	-moz-border-radius-bottomleft: 4px;
	-webkit-border-bottom-left-radius: 4px;
	border-bottom-left-radius: 4px;
	-moz-border-radius-bottomright: 4px;
	-webkit-border-bottom-right-radius: 4px;
	border-bottom-right-radius: 4px;
}

.aui-underlay-content {
	-moz-border-radius-bottomleft: 8px;
	-webkit-border-bottom-left-radius: 8px;
	border-bottom-left-radius: 8px;
	-moz-border-radius-bottomright: 8px;
	-webkit-border-bottom-right-radius: 8px;
	border-bottom-right-radius: 8px;
}