/* -------- Global -------- */

#skip-to-content,
#heading .community-title,
#heading .page-title,
#navigation h1,
#navigation .child-menu {
	clip: rect(0 0 0 0);
	position: absolute;
}

html {
	background: #020203 url(../images/custom/html_bg.png);
	height: 100%;
}

body {
	background: url(../images/custom/body_bg.png) repeat-x;
	color: #444;
	min-height: 100%;
	overflow: hidden;
}

/* -------- Wrapper / Skip / Sign-in -------- */

#outer-wrapper {
	background: url(../images/custom/outer-wrapper_bg.png) no-repeat center bottom;
	margin: 0 0 35px;
}

#wrapper {
	-moz-border-radius-bottomleft: 9px;
	-moz-border-radius-bottomright: 9px;
	-moz-box-shadow: 0 0 4px #000;
	-webkit-border-bottom-left-radius: 9px;
	-webkit-border-bottom-right-radius: 9px;
	background: #000;
	border-bottom-left-radius: 9px;
	border-bottom-right-radius: 9px;
	box-shadow: 0 0 4px #000;
	font: 12px/1.5 Arial, Helvetica, sans-serif;
	margin: 0 auto;
	position: relative;
	width: 960px;
}

#skip-to-content,
#sign-in {
	color: #FFF;
	right: 2em;
}

#skip-to-content:active,
#skip-to-content:focus {
	clip: auto;
}

#skip-to-content {
	top: 1em;
}

#sign-in {
	position: absolute;
	top: 2.5em;
}

/* -------- Banner -------- */

#banner {
	background: url(../images/custom/banner_bg.png) no-repeat center bottom;
	height: 137px;
}

#heading .company-title {
	margin: 0;
	padding: 30px 30px 2px;
}

/* -------- Navigation -------- */

#navigation {
	font: bold 12px Tahoma, Geneva, sans-serif;
	text-transform: uppercase;
}

#navigation ul {
	list-style: none;
	margin: 0;
}

.ie6 #navigation ul,
.ie7 #navigation ul {
	zoom: 1;
}

#navigation ul:after {
	clear: both;
	content: ".";
	display: block;
	height: 0;
	line-height: 0;
	visibility: hidden;
}

#navigation li,
#navigation a {
	float: left;
}

#navigation a {
	color: #7495B3;
	display: block;
	padding: 4px 30px;
	text-decoration: none;
}

#navigation a:active,
#navigation a:focus,
#navigation a:hover {
	color: #96C0E6;
}

#navigation .selected a {
	color: #FFF;
}

/* -------- Content -------- */

#content,
.portlet-column-content {
	padding: 0 1px;
}

#breadcrumbs {
	display: none;
}

.portlet {
	margin: 0 0 1px;
}

.portlet-topper {
	-moz-border-radius-topleft: 9px;
	-moz-border-radius-topright: 9px;
	-webkit-border-top-left-radius: 9px;
	-webkit-border-top-right-radius: 9px;
	background: #3D536D;
	background-image: -moz-linear-gradient(left center, #3D536D 0%, #141B24 100%);
	background-image: -webkit-gradient(linear,left top,right top,color-stop(0, #3D536D),color-stop(1, #141B24));
	border-top-left-radius: 9px;
	border-top-right-radius: 9px;
	color: #FFF;
	height: 45px;
}

.portlet-title {
	font-size: 16px;
	font-weight: normal;
	height: 21px;
	overflow: hidden;
	padding: 12px 16px;
}

.portlet-content {
	background: #141B24;
	color: #7E97AE;
}

.portlet-content a {
	color: #96C0E6;
}

/* -------- Footer -------- */

#footer,
#footer a {
	color: #739ABE;
}

#footer {
	font-size: 10px;
	padding: 14px;
}

#footer p {
	margin: 0;
}