/* This file allows you to override default styles in one central location for easier upgrade and maintenance. */

#banner {
	background: none;
	background-image: url(../images/common/header_bg.jpg);
	border-bottom: none;
	height: 505px;
	margin-bottom: 1em;
	min-height: 120px;
}

body {
	background-color: #000;
	background-image: url(../images/common/background.jpg);
	background-position: none;
	background-repeat: repeat-x;
	font-family: "Trebuchet MS", "Lucida Sans Std", "Lucida Sans Unicode", sans-serif;
	font-size: 10px;
}

.ui-tabs li a, .tabs li span {
	background:transparent url(../images/common/nav-bg.png) repeat scroll 0 0;
	border:medium none;
	color:#003366;
	top: 0;
}

.ui-tabs li a:hover, .ui-tabs li span:hover {
	background:transparent url(../images/common/nav-bg.png) repeat scroll 0 0;
	text-decoration: none;
	color:#336699;
}

.ui-tabs li.current:hover, .ui-tabs li.current a:hover {
	background-color:transparent;
	background:transparent url(../images/common/header_bg.jpg) repeat scroll 0 0;
	text-decoration: none;
}

.ui-tabs li.current a, .ui-tabs li.current span {
	background:transparent url(../images/common/header_bg.jpg) repeat scroll 0 0;
	border:medium none;
	color:black;
}

#footer {
	background-image: url(../images/common/footer.png);
	border-top: 1px solid #016FA0;
	color: #FFF;
	font-size: 11px;
	height: 74px;
	line-height: 18px;
	margin: 0 auto;
	margin-top: 1px;
	padding-top: 30px;
	text-align: center;
	width: 95%;
}

.js #add-page {
	bottom: 12px;
	position: absolute;
	right: 0;
}

.js #navigation .enter-page {
	margin-top:5px;
}

#navigation li a {
	font-size: 15px;
	font-weight: bold;
	text-decoration: none;
}

#navigation li {
	background: none;
	display: inline;
	float: left;
	margin-right: 0.5em;
	position: relative;
}

#navigation li.selected a {
	color: #000;
	padding-top: none;
}

#navigation li.selected {
	border-top: none;
	font-weight: bold;
}

#navigation {
	background: url(../images/common/nav-bg.png);
	height: 45px;
	margin:386px auto;
	min-height: 2.2em;
	overflow: hidden;
	padding-right: 1em;
}

.portlet-title {
	color: #FFF;
	font-size: 12px;
	font-weight: bold;
	min-width: 50%;
	padding: 8px 0 4px 10px;
}

.portlet-topper {
	background: #164E7F url(../images/portlet/portlet_top.png) repeat-x scroll 10% 0;
	position: relative;
}

.portlet {
	background: #C6D9EA none repeat scroll 0 50%;
	border: 2px solid #164E7F;
	color: #000;
	font-size: 12px;
	margin-bottom: 1em;
	text-align: left;
}

#wrapper {
	background-image: none;
	background-position: right top;
	background-repeat: none;
	margin: 0 auto;
	width: 970px;
}

.js .interactive-mode {
	top:0px;
}

#banner .logo a {
	margin-top:40px;
	position:absolute;
}