/* This file allows you to override default styles in one central location for easier upgrade and maintenance. */

/* ---------- Base ---------- */

body {
	background: #CD9F46;
	padding: 24px;
}

/* ---------- Wrapper ---------- */

#wrapper {
	background: #FFF;
	border: 5px solid #000;
	margin: 0 auto;
	width: 1020px;
}

/* ---------- Banner ---------- */

#banner {
	background: transparent url(../images/custom/banner_bg.jpg);
	height: 223px;
	padding: 50px;
	position: relative;
}

#banner .sign-in {
	color: #FFF;
	position: absolute;
	right: 20px;
	top: 10px;
}

/* ---------- Navigation ---------- */

#navigation {
	background: transparent url(../images/custom/navigation_bg.jpg);
	height: 101px;
	padding: 0 64px;
}

#navigation ul {
	list-style: none;
	margin: 0;
}

#navigation li,
#navigation a {
	float: left;
}

#navigation a {
	color: #FF3;
	display: block;
	font: 18px/101px Arial, Helvetica, sans-serif;
	height: 101px;
	padding: 0 36px;
	text-decoration: none;
}

#navigation a:hover {
	background: url(../images/custom/navigation_item_hover.gif);
}

/* ---------- Content Wrapper ---------- */

#content-wrapper {
	background: url(../images/custom/content_wrapper_bg.gif) repeat-x;
	padding: 24px;
}

/* ---------- Portlet ---------- */

.portlet {
	margin: 0 0 24px;
}

.portlet-topper {
	border-bottom: 2px solid #CCC;
	font: 16px Arial, Helvetica, sans-serif;
	padding: 0 0 9px;
}

/* ---------- Footer ---------- */

#footer {
	background: url(../images/custom/footer_bg.gif);
	height: 73px;
}