/* This file allows you to override default styles in one central location for easier upgrade and maintenance. */

/* ---------- Base ---------- */

body {
	background: #CD9F46;
	padding: 24px;
}

/* ---------- Wrapper ---------- */

#wrapper {
	background: #FFF;
	border: 5px solid #000;
	margin: 0 auto;
	width: 1020px;
}

/* ---------- Banner ---------- */

#banner {
	background: transparent url(../images/custom/banner_bg.jpg);
	height: 223px;
	padding: 50px;
	position: relative;
}

/* ---------- Dock ---------- */

.js .interactive-mode {
	right: 10px;
	top: 10px;
}

/* ---------- Navigation ---------- */

#navigation {
	background: transparent url(../images/custom/navigation_bg.jpg);
	height: 101px;
	padding: 0 64px;
}

#navigation ul, #add-page {
	float: left;
}

#navigation li {
	width: auto;
}

#navigation a {
	color: #FF3;
	display: block;
	float: left;
	font: 18px/101px Arial,Helvetica,sans-serif;
	height: 101px;
	padding: 0 36px;
	text-decoration: none;
}

#navigation a:hover {
	background: url(../images/custom/navigation_hover_bg.gif);
}

#navigation .enter-page a {
	background: none;
	display: inline;
	float: none;
}

#navigation .enter-page a.cancel-page {
	display: none;
}

#navigation .save-page {
	display: inline;
	float: none;
}

#navigation .cancel-page {
	display: none;
}

/* ---------- Content Wrapper ---------- */

#content-wrapper {
	background: url(../images/custom/content-wrapper_bg.gif) repeat-x;
	padding: 24px;
}

.ie #content-wrapper {
	zoom: 1;
}

/* ---------- Portlet ---------- */

.portlet {
	margin: 0 0 24px;
}

.portlet-topper {
	border-bottom: 2px solid #CCC;
	font: 16px Arial,Helvetica,sans-serif;
	padding: 0 0 9px;
}

/* ---------- Calendar ---------- */

.portlet-calendar .calendar-day .day-text, .portlet-calendar .results-header {
	background: url(../images/custom/navigation_hover_bg.gif) -56px -24px;
}

/* ---------- Tabs ---------- */

.ui-tabs {
	border-bottom: 1px solid #c6a146;
}

.ui-tabs li a, .ui-tabs li.current a, .ui-tabs li a:hover, .ui-tabs li span, .ui-tabs li.current span, .ui-tabs li span:hover {
	border: 1px solid #c6a146;
	background: url(../images/custom/navigation_bg.jpg) -56px -14px;
	color: #FF3;
	margin: 0 0 0 -1px;
	padding: 8px 12px;
}

.ui-tabs li a:hover, .ui-tabs li span:hover {
	background: url(../images/custom/navigation_hover_bg.gif) -56px -24px;
	color: #FF0;
	text-decoration: none;
}

.ui-tabs li.current a, .ui-tabs li.current span {
	background: url(../images/custom/navigation_hover_bg.gif) -56px -34px;
	color: #FFF;
	font-weight: normal;
}

.ui-tabs li.current a:hover, .ui-tabs li.current span:hover {
	background: url(../images/custom/navigation_hover_bg.gif) -56px -34px;
	color: #FFF;
	font-weight: normal;
}

.ui-tabs li.current:hover {
	background: transparent;
}

/* ---------- Footer ---------- */

#footer {
	background: url(../images/custom/footer_bg.gif);
	height: 73px;
}