/* -------- Global -------- */

#skip-to-content,
#heading .community-title,
#heading .page-title,
#navigation h1,
#navigation ul.child-menu {
	clip: rect(0 0 0 0);
	position: absolute;
}

body {
	background: #CEC5AB;
	font: 12px "Times New Roman", Times, serif;
}

a,
a:visited {
	color: #1D2119;
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
}

/* -------- Wrapper / Skip / Sign-in -------- */

#wrapper {
	margin: 0 auto;
	position: relative;
	width: 1024px;
}

#skip-to-content,
#sign-in {
	color: #CEC5AB;
	top: 1.5em;
}

#skip-to-content {
	left: 2em;
}

#skip-to-content:active,
#skip-to-content:focus {
	clip: auto;
}

#sign-in {
	position: absolute;
	right: 1.5em;
	top: 100px;
}

/* -------- Heading -------- */

#heading {
	background: url(../images/custom/heading-bg.png) 0 0 no-repeat;
	padding: 24px 0 13px;
}

.ie6 #heading {
	zoom: 1;
}

#heading .company-title {
	margin: 0;
	padding: 10px 0 0;
}

#heading .company-title a {
	margin: 0 auto;
}

/* -------- Navigation -------- */

#navigation {
	background: url(../images/custom/nav-bg.png) 0 0 repeat-x;
	font: 14px "Times New Roman", Times, serif;
	text-align: center;
}

#navigation ul {
	display: inline-block;
	list-style: none;
	margin: 0 auto;
	padding: 0 20px;
	width: auto;
}

.ie6 #navigation ul,
.ie7 #navigation ul {
	display: inline;
	zoom: 1;
}

#navigation li {
	background: url(../images/custom/nav-div.png) 100% 50% no-repeat;
	padding: 0 2px 0 0;
}

#navigation a {
	color: #848E77;
	display: block;
	padding: 13px 20px;
	text-decoration: none;
	text-transform: uppercase;
}

#navigation .selected a {
	background: url(../images/custom/nav-hover-bg.png) 0 0 repeat-x;
	color: #CEC5AB;
}

#navigation a:active,
#navigation a:focus,
#navigation a:hover {
	background: url(../images/custom/nav-hover-bg.png) 0 0 repeat-x;
	color: #CEC5AB;
}

/* -------- Content -------- */

#content {
	background: url(../images/custom/content-bg.png) 0 0 repeat-y;
	min-height: 300px;
	padding: 10px 25px 20px;
}

#breadcrumbs {
	display: none;
}

.portlet {
	margin: 0 0 10px;
}

.portlet-topper {
	-moz-border-radius-topleft: 3px;
	-moz-border-radius-topright: 3px;
	-webkit-border-top-right-radius: 3px;
	-webkit-border-top-left-radius: 3px;
	background: url(../images/custom/portlet-topper-bg.png) 0 0 repeat-x;
	padding: 4px 4px 3px;
}

.ie6 .portlet-topper {
	zoom: 1;
}

.portlet-topper-toolbar {
	padding: 0;
}

.portlet-topper span,
.portlet-topper-toolbar a,
.portlet-topper-toolbar a:visited {
	color: #DFD7BC;
	font-weight: 500;
	text-decoration: none;
}

.portlet-topper-toolbar a:hover {
	text-decoration: underline;
}

.portlet-content {
	-moz-border-radius-bottomleft: 3px;
	-moz-border-radius-bottomright: 3px;
	-webkit-border-bottom-right-radius: 3px;
	-webkit-border-bottom-left-radius: 3px;
	background: #DFD7BC url(../images/custom/portlet-content-bg.png) 0 0 repeat-x;
}

.aui-tab-active .aui-tab-label a,
.aui-tab-active .aui-tab-label a:visited {
	color: #FFF;
	text-shadow: none;
}

/* -------- Footer -------- */

#footer {
	background: url(../images/custom/wrapper-bottom.png) 0 0 no-repeat;
	padding: 15px 0 0;
	text-align: center;
}

#footer p {
	margin: 0;
}

#footer a,
#footer a:visited {
	color: #000;
	text-decoration: none;
}

#footer a:hover {
	text-decoration: underline;
}