/* This file allows you to override default styles in one central location for easier upgrade and maintenance. */

/* Reset Banner */
#banner {
 margin : 0 ;
 padding : 0 ;
 height : 200px ;
 background : transparent none no-repeat scroll 0% 0% ;
 border : 1px solid #ccc ;
}
#banner .logo {
 display : block ;
 margin : 0 ;
 padding : 0 ;
 width : auto ;
 height : auto ;
 background : transparent none no-repeat scroll 0% 0% ;
 text-indent : 0 ;
 font-size : 100% ;
}
#banner .logo a {
 display : inline ;
 margin : 0 ;
 padding : 0 ;
 width : auto ;
 height : auto ;
 background : transparent none no-repeat scroll 0% 0% ;
 text-indent : 0 ;
 font-size : 100% ;
}

/* Reset Portlets */
.portlet, .portlet-topper, .portlet-content, .portlet-title {
 background : transparent none no-repeat scroll 0% 0% ;
 margin : 0 ;
 padding : 0 ;
}
.portlet {
 border : 1px solid #ccc ;
}
.portlet-topper {
 background-position: 0% 0% ;
}
.portlet-title {
 min-width : 100% ;
 background-position : 0% 0% ;
 font-weight : normal ;
}



/* Reset Navigation Menu */
#navigation {
 margin : 0 ;
 padding : 0 ;
 width : auto ;
 min-height : 0% ;
 border : 1px solid #ccc ;
}
#navigation ul {
 /* float : none ; */
 width : auto ;
 min-height : 0% ;
}
#navigation li {
 /* float : none ; */
 background : transparent none no-repeat scroll 0% 0% ;
 padding : 0 ;
}
#navigation li.selected a {
 padding : 0 ;
}
#navigation li.selected a:hover {
 padding : 0 ;
}
#navigation li a , #navigation li a:hover , #navigation li a span , #navigation li a:hover span {
 display : inline ;
 padding : 0 ;
 background : transparent none no-repeat scroll 0% 0% ;
}
#navigation li a:hover {
 padding : 0 ;
}
#navigation li.selected a span {
 padding : 0 ;
 background : transparent none no-repeat scroll 0% 0% ;
 font-size : 100% ;
 font-weight : normal ;
}
.js #add-page {
 font-weight : normal ;
 padding : 0 ;
}
.js #add-page a span {
 background : transparent none no-repeat scroll 0% 0% ;
 padding : 0 ;
}
.js #add-page a:hover span {
 background : transparent none no-repeat scroll 0% 0% ;
}
.js #navigation .enter-page {
 background : transparent none no-repeat scroll 0% 0% ;
 padding : 0 ;
}
.js #navigation .enter-page a {
 margin : 0 ;
 padding : 0 ;
 font-weight : normal ;
}
.js #navigation .enter-page a:hover {
 margin : 0 ;
 padding : 0 ;
}



/* Terra Firma */
/* -- Main */
html {
 overflow-y : scroll ; 
}
#wrapper {
 width : 100% ;
}
#banner {
 display : block ;
 position : relative ;
 background : #BBD9EE none ;
 height : 82px ;
 font-family:Arial,Arial,Sans-Serif;
 border : 0px solid #ccc ;
}
#banner .logo {
 position : absolute ;
 top : 30px ;
 left : 50% ;
 margin-left : -377px;
 width : 770px ;
 border : 0px solid #ccc;
}
#banner .logo a {
 color : #fff ;
font-size : 2.8em;
font-weight:bold;
line-height:normal;
}
.js .lfr-dock.interactive-mode h2 , .js .lfr-dock.interactive-mode h2 span {
 background-image : url('../images/custom/menu_bar.png') ;
 color : #1e3c64 ;
}
.js .lfr-dock.expanded .lfr-dock-list-container {
 background-color : transparent ;
}
.js .lfr-dock.interactive-mode ul {
 background-color : transparent ;
 background-image : url('../images/custom/menu_bg.png') ;
 border : 0 ;
}
#navigation { 
 background : #BBD9EE ;
 border : 0 ;
 height : 27px ;
}
#navigation ul {
 float : left ;
 position : absolute ;
 left : 50% ;
 margin-left : -200px ;
}
#navigation ul li a , #navigation ul li.selected a , #navigation ul li a:hover , #navigation ul li.selected a:hover , #add-page a , #add-page a:hover {
 background : #E7F1F8 ;
 border-left : 1px solid #fff;
 border-right : 1px solid #fff;
 border-top : 1px solid #fff;
 color : #666;
 float : left;
 padding:5px 0pt;
 text-decoration:none;
 text-align : center ;
 width:95px;
}
#navigation ul li a:hover , #navigation ul li.selected a:hover , #add-page a:hover {
 background : #fff ;
 color : #000 ;
}
.js .delete-tab {
 background : transparent url('../images/custom/remove.png') no-repeat scroll 42% 50% ;
}
.portlet {
 margin : 1em 1.5em;
 padding : 1em ;
 border : 0 ;
}
.portlet-title {
 font-family : Arial,Arial,Sans-Serif;
 font-weight : bold ;
 font-size : 10pt ;
 line-height : 1.6em ;
 padding-bottom : 10px ;
}
.portlet-content {
 font-family : TrebuchetMS,Arial,sans-serif ;
 font-size : 10pt ;
 line-height:1.3;
}
.columns-1 #column-1 .portlet , .columns-2 #column-1 .portlet , .columns-3 #column-1 .portlet , .columns-3 #column-2 .portlet {
 background : #eee ;
}
.columns-2 #column-2 .portlet , .columns-3 #column-3 .portlet {
 background : #fff6bf;
}