<?xml version="1.0"?>

<web-app version="2.4" xmlns="http://java.sun.com/xml/ns/j2ee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/j2ee http://java.sun.com/xml/ns/j2ee/web-app_2_4.xsd">
	<servlet>
		<servlet-name>LPS</servlet-name>
		<servlet-class>org.openlaszlo.servlets.LZServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>LPS</servlet-name>
		<url-pattern>*.lzx</url-pattern>
	</servlet-mapping>
</web-app>