/* This file allows you to override default styles in one central location for easier upgrade and maintenance. */

/* ---------- Base ---------- */

body {
	background: #FFF url(../images/custom/body_bg.png) repeat-x;
	color: #3E3E3E;
	font-size: 11px;
}

/* ---------- Wrapper ---------- */

#wrapper {
	margin: 0 auto;
	width: 940px;
}

/* ---------- Banner ---------- */

#banner {
	height: 100px;
	position: relative;
}

/* ---------- Logo ---------- */

#banner .logo {
	padding-top: 22px;
}

/* ---------- Dock ---------- */

.js .interactive-mode {
	background: none;
	right: 0;
	top: 33px;
}

.js .interactive-mode h2 {
	background: url(../images/custom/dock_bg.png) no-repeat 100% 0;
}

.js .interactive-mode h2 span {
	background: none;
	border: none;
	color: #807A73;
	padding-bottom: 20px;
}

.js .interactive-mode ul {
	background: #E5E5DA;
	border: none;
}

.js .interactive-mode li {
	border: none;
}

.js .interactive-mode li a {
	color: #807A73;
	font-weight: bold;
}

.js .interactive-mode li a:hover {
	color: #4E4D4C;
}

/* ---------- Navigation ---------- */

#navigation {
	background: url(../images/custom/navigation_bg.png) repeat-y;
	float: right;
	margin-bottom: 14px;
	position: relative;
	width: 100%;
	z-index: 10;
}

#navigation ul,
#add-page {
	float: right;
}

#navigation li {
	padding: 0 6px;
}

#navigation a {
	color: #FFF;
	font-size: 11px;
	font-weight: bold;
	line-height: 22px;
	padding: 4px 6px;
	text-decoration: none;
	text-transform: uppercase;
}

#navigation .selected a,
#navigation a:hover {
	background: #659A0F;
}

.enter-page input {
	padding: 0;
}

/* ---------- Child Navigation ---------- */

#navigation .child-menu {
	background: #E5E5DA;
	left: 6px;
	padding: 0 0 10px;
	position: absolute;
	top: 22px;
	width: 200px;
}

#navigation ul.child-menu {
	height: auto;
}

#navigation .child-menu li {
	background: url(../images/custom/child_menu_item.png) no-repeat 0 100%;
	display: block;
	float: none;
	padding: 0;
}

#navigation .child-menu li a {
	background: none;
	color: #807A73;
	display: block;
	font-size: 11px;
	height: 14px;
	line-height: 14px;
	text-transform: none;
	width: 188px;
}

#navigation .child-menu li a:hover {
	background: #F0F0E7;
	color: #4E4D4C;
}

/* ---------- Content Wrapper ---------- */

#content-wrapper a {
	color: #E86216;
}

#content-wrapper a:hover {
	text-decoration: none;
}

/* ---------- Portlet ---------- */

.lfr-grid .lfr-column {
	padding: 4px;
}

.portlet {
	margin-bottom: 10px;
}

.portlet-title {
	background: url(../images/custom/navigation_bg.png) repeat-y;
	color: #FFF;
	font-size: 17px;
	font-weight: normal;
	height: 30px;
	line-height: 30px;
	padding: 0 0 0 18px;
}

.ie .portlet {
	zoom: 1;
}

.portlet-title img {
	display: none;
}

.portlet-content {
	background: #FFF url(../images/custom/portlet_content_bg_column_2.png) repeat-x 0 100%;
	padding: 18px;
}

.ie .portlet-content {
	zoom: 1;
}

.portlet-footer {
	background: url(../images/custom/navigation_bg.png) repeat-y 100% 0;
	height: 4px;
}

#column-2 .portlet-title {
	background: #FFF url(../images/custom/portlet_topper_bg_column_2.png) repeat-x;
	color: #507224;
	padding-top: 8px;
}

#column-2 .portlet-footer {
	background: none;
}

.ui-autocomplete-even,
.results-row td {
	background: #EFF8E0;
}

.ui-autocomplete-odd,
.results-row.alt td {
	background: #E9F5D4;
}

.results-row.hover td {
	background: #FFF;
}

.results-header,
.results-header th,
.results-header td,
.portlet-calendar .calendar-day .day-text,
.taglib-calendar tr td a:hover {
	background: #A8D859;
}

body.portal-iframe,
.portal-iframe #content-wrapper {
	background: #FFF;
}

/* ---------- Tabs ---------- */

.ui-tabs {
	border-color: #507224;
}

.ui-tabs li {
	border: none;
	height: 20px;
}

#wrapper .ui-tabs li a {
	color: #FFF;
	font-size: 10px;
	font-weight: normal;
	padding: 6px 0 4px;
	top: 0;
}

#wrapper .ui-tabs li {
	background: none;
	padding-bottom: 0;
}

#wrapper .ui-tabs li a,
#wrapper .ui-tabs li span {
	background: url(../images/custom/tabs.png) no-repeat;
	padding-left: 10px;
	padding-right: 5px;
}

#wrapper .ui-tabs li span {
	font-size: 10px;
	padding: 5px 10px;
	top: 0;
}

.ie6 .portlet .ui-tabs li a,
.ie6 .portlet .ui-tabs li span {
	height: 10px;
}

#wrapper .ui-tabs li a:hover,
#wrapper .ui-tabs li span:hover,
#wrapper .ui-tabs li a,
.tabs li span,
.ui-tabs li.current a,
.ui-tabs li.current span {
	border: none;
}

#wrapper .ui-tabs li.current a:hover,
#wrapper .ui-tabs li.current a,
#wrapper .ui-tabs li.current span,
#wrapper .ui-tabs li a:hover,
#wrapper .ui-tabs li span:hover {
	background: url(../images/custom/tabs.png) no-repeat 0 -22px;
	color: #FFF;
	text-decoration: none;
}

.ui-tabs li.current {
	padding-top: 0;
}

.ie6 .ui-tabs li.current a,
.ie6 .ui-tabs li.current span,
.ie6 .ui-tabs li a,
.ie6 .ui-tabs li span {
	padding-bottom: 5px;
}

/* ---------- Footer ---------- */

#footer {
	background: url(../images/custom/navigation_bg.png) repeat-y;
	height: 22px;
	margin-bottom: 50px;
}