* This file allows you to override default styles in one central location for easier upgrade and maintenance. */

/* Reset Insignificant Styles */
html {
 overflow-y : scroll ;
}
#wrapper , #banner , #banner .logo , #banner .logo a ,
#navigation , #navigation ul , #navigation ul li , #navigation li.selected ,
#navigation ul li a , #navigation li a span , #navigation ul li.selected a , #navigation ul li.selected a span , 
#navigation ul li a:hover , #navigation li a:hover span , #navigation ul li.selected a:hover , #navigation ul li.selected a:hover span ,
.js #add-page , .js #add-page a , .js #add-page a span , .js #add-page a:hover , .js #add-page a:hover span ,
.js #navigation .enter-page , .js #navigation .enter-page a , .js #navigation .enter-page a:hover ,
#content-wrapper , .portlet , .portlet-topper , .portlet-title , .portlet-content
{
 float : none ;
 margin : auto ;
 padding : 0 ;
 width : auto ;
 min-width : 0 ;
 height : auto ;
 min-height : 0 ;
 background : transparent none no-repeat scroll 0 0 ;
 font-size : 100% ;
 font-size-adjust : none ;
 font-stretch : normal ;
 font-style : normal ;
 font-variant : normal ;
 font-weight : normal ;
 text-indent : 0 ;
 text-decoration : none ;
 line-height : normal ;
 color : inherit ;
}

/* Handy Defaults */
#banner , #navigation , #navigation ul , .portlet { background-color : transparent ; }
#wrapper , #banner , #navigation , #content-wrapper , 
.portlet , .portlet-topper , .portlet-title , .portlet-content { display : block ; }
#layout-grid .lfr-column  { margin : 0 ; padding : 0 ;}
.portlet-icons { top : 0 ; right : 0 ; }
.tabs { border : 0 ; }
.portlet-section-header { background : transparent none ; }

/* Theme */

body {
 background : #F2F5FE url('../images/common/page_bg.gif') repeat-x scroll 0 0 ;
 color : #192666 ;
 font-family : "verdana",sans-serif ;
 font-size : 70% ;
 font-size-adjust : none ;
 font-stretch : normal ;
 font-style : normal ;
 font-variant : normal ;
 font-weight : normal ;
 line-height : 160% ;
 padding-bottom : 115px ;
}

#wrapper {
	margin: 0 auto;
	padding: 50px 0;
	width: 900px;
}

#banner {
 background: transparent url(../images/common/banner_bg.jpg) no-repeat scroll 0 0;
 color:#FFFFFF;
 height:100px;
 margin:0pt;
 padding:0pt;
 position:relative;
}
#banner .logo {
left:35px;
margin:0pt;
position:absolute;
top:32px;
font-family:"georgia",serif;
font-size:260%;
font-weight:normal;
line-height:100%;
text-decoration : underline ;
}

#banner .logo a span {
 color : #fff ;
}

.js .lfr-dock.interactive-mode h2 , .js .lfr-dock.interactive-mode h2 span {
 background-image : url('../images/dock/menu_bar.png') ;
}
.js .interactive-mode .my-places .show-my-places li .my-places-toggle h3 {
 padding-right : 0 ;
 font-size : 8pt ;
}

#navigation {
 background : #192666 ;
 margin : 0 5px ;
 padding : 10px 0 0 0 ;
}
#navigation ul {
 display : block ;
 float : left ;
 margin : 0 10px ;
 padding : 0 ;
}
#navigation ul li , #navigation ul li.selected {
 display : block ;
 float : left ;
 margin : 0 5px 0 0 ;
 padding : 0 ;
}
#navigation ul li a , #navigation ul li a:hover , #navigation ul li.selected a , #navigation ul li.selected a:hover {
 display : block ;
 position : relative ;
 padding : 7px 15px ;
 border : 0 ;
 background : url('../images/navigation/tab_link.gif') 0 0 repeat-x ;
 color : #b5c4e3 ;
 cursor : pointer ;
}
#navigation ul li a span , #navigation ul li a:hover span , #navigation ul li.selected a span , #navigation ul li.selected a:hover span {
 font-weight : bold ;
 line-height : 160% ;
}
#navigation ul li a span.tab-l, #navigation ul li a:hover span.tab-l ,
#navigation ul li.selected a span.tab-l, #navigation ul li.selected a:hover span.tab-l {
 position : absolute ;
 top : 0 ;
 left : 0 ;
 width : 8px ;
 height : 8px ;
 background:url('../images/navigation/tab_link_l.gif') no-repeat 0 0;
}
#navigation ul li a span.tab-r , #navigation ul li a:hover span.tab-r ,
#navigation ul li.selected a span.tab-r , #navigation ul li.selected a:hover span.tab-r {
 position : absolute ;
 top : 0 ;
 right : 0 ;
 width : 8px ;
 height : 8px ;
 background : url('../images/navigation/tab_link_r.gif') 100% 0 no-repeat ;
}
#navigation ul li a:hover , #navigation ul li.selected a:hover {
 background : url("../images/navigation/tab_hover.gif") 0 0 repeat-x ;
 color : #fff ;
}
#navigation ul li a:hover span.tab-l , #navigation ul li.selected a:hover span.tab-l {
 background : url('../images/navigation/tab_hover_l.gif') 0 0 no-repeat ;
}
#navigation ul li a:hover span.tab-r , #navigation ul li.selected a:hover span.tab-r {
 background : url('../images/navigation/tab_hover_r.gif') 100% 0 no-repeat ;
}
#navigation ul li.selected a , #navigation ul li.selected a:hover { background : #fff ; color : #ff9000 ; }
#navigation ul li.selected a span.tab-l , #navigation ul li.selected a:hover span.tab-l {position:absolute; top:0; left:0; _left:-15px; width:8px; height:8px; background:url("../images/navigation/tab_active_l.gif") 0 0 no-repeat;}
#navigation ul li.selected a span.tab-r , #navigation ul li.selected a:hover span.tab-r {position:absolute; top:0; right:0; width:8px; height:8px; background:url("../images/navigation/tab_active_r.gif") 100% 0 no-repeat;}

ul.child-menu { display : none ; }

#navigation ul .sort-helper {
 background: transparent url('../images/navigation/placeholder_bg.png');
}

#content-wrapper {
	background: #fff;
	border-left: 10px solid #192666;
	border-right: 10px solid #192666;
	margin: 0 5px;
}
#portlet-wrapper- {
 width : 770px ;
 padding : 0 20px ;
 background : transparent url('../images/common/wrapper_bg_1.gif') repeat-y scroll 0 0 ;
}
#content-wrapper #layout-grid {
 display : block ;
 background : transparent url('../images/common/wrapper_bg_2.jpg') no-repeat scroll 0 0 ;
 padding : 41px 0 0 0 ;
}

.columns-1 #column-1, .columns-max #column-1 {
	display:block;
}

.js #add-page { color : #b5c4e3 ; }

.columns-2 #column-1 {
 margin : 0 ;
 padding : 0 0 0 20px ;
 width : 530px ;
}

#p_p_id_88_ , .lfr-portlet-column {
 padding : 41px 0 0 15px;
}

.columns-2 #column-2 {
 background : transparent url('../images/common/wrapper_bg_3.gif') repeat-y scroll 0 0 ;
 margin : 0 ;
 padding : 0 ;
 width  :200px ;
}

#footer {
 position : relative ;
 height : 60px ;
 margin:0pt 5px;
 padding-left : 40px ;
 background : #fff;
 clear : both ;
 color : #6685CC ;
 border-bottom: 10px solid #192666;
 border-left: 10px solid #192666;
 border-right: 10px solid #192666;
}

#column-1 .portlet {
 background:transparent url('../images/portlet/content_article_bg.jpg') no-repeat scroll 0 0 ;
 clear:both;
 margin:0pt;
 padding:20px;
 min-height : 229px ;
}

#column-1 .portlet-title {
 background : #DEE5FD url('../images/portlet/content_title_bg.gif') repeat-y scroll 0 0 ;
 color : #192666 ;
 margin : 0pt -20px ;
 padding : 10px ;
 font-family : "georgia",serif ;
 font-size : 180% ;
 font-weight : normal ;
 line-height : 100% ;
}

#column-1 .portlet-content {
 padding-top : 12px ;
 text-align : justify ;
}

#column-2 .portlet {
 width : 180px ;
}

#column-2 .portlet-title {
 background : #A0B9F3 url('../images/portlet/col_title_bg.gif') repeat-y scroll 0 0 ;
 color : #192666 ;
 margin:0pt -10px 15px -10px ;
 padding : 13px 15px 11px 15px ;
 font-size : 120% ;
 font-weight : bold ;
 line-height : 100% ;
}

#column-2 .portlet-content {
 margin-bottom:15px;
}

#column-2 #layout-column_column-2 {
background : transparent url('../images/portlet/col_top.gif') no-repeat scroll top left ;
padding:20px 10px;
}

/*** THE END ***/

