/*------- Body -------*/
body {
	background: #AFD2FF url(../images/custom/page_bg.png) center top repeat-x;
	font: 12px Arial, Helvetica, sans-serif;
}

body.html-editor.portlet.portlet-blogs {
	background: #FFF;
}


/*------ Wrapper ------*/
#wrapper {
	margin: 30px auto;
	width: 960px;
}


/*--- Banner and Navigation ---*/
#banner {
	background: transparent url(../images/custom/banner_bg.png) 0 center no-repeat;
	height: 100px;
	position: relative;
	width: 960px;
}

#banner .logo {
	margin: 0;
}

#banner .logo a {
	left: 20px;
	position: absolute;
	top: 20px;
}

#navigation {
	background: transparent url(../images/custom/tab_link.png) 0 0 repeat-x;
	height: 33px;
	position: relative;
}

#navigation ul {
	display: block;
	height: 33px;
	margin: 0 10px 0;
	position: relative;
}

#navigation li {
}

#navigation li a {
	color: #FFF;
	display: block;
	padding: 9px 20px;
	text-decoration: none;
	text-transform: capitalize;
}

#navigation li a:hover {
	background: #4B67BA;
}

#navigation li.selected a {
	background: #849FD6;
}

#add-page {
	bottom: 100%;
	position: absolute;
	right: 10px;
	top: 4px;
}

#add-page a {
	background: #849FD6 url(../images/common/add.png) 5px 50% no-repeat;
	color: #FFF;
	display: block;
	padding: 7px 20px 7px 25px;
	text-decoration: none;
}

#navigation .enter-page {
	background: #849FD6;
	padding: 3px 0 3px 5px;
}

#navigation .enter-page a.cancel-page {
	display: none;
}

#navigation .enter-page a.save-page {
	display: inline;
}


/*--- Content Wrapper ---*/
#content-wrapper {
	background: #FFF url(../images/custom/content_wrapper_bg.gif) 0 0 repeat-x;
	border: 10px solid #192666;
	border-top: 0;
	padding: 10px 10px;
}


/*----- Portlets -----*/
.portlet {
	margin: 10px 0 10px 10px;
}

.portlet-topper {
	background: transparent url(../images/custom/content_article_bg.jpg) 0 0 no-repeat;
	padding: 15px 0 0;
}

.portlet-title {
	background: transparent url(../images/custom/content_title_bg.png) 0 0 repeat-y;
	padding: 8px;
}