.social-coding-portlet-jira {
	.project-title {
		margin-bottom: 0.5em;
	}

	.jira-summary .activity-details {
		padding-bottom: 5px;
		width: 65%;

		.progress-bar {
			background: #C2C8CB;
			height: 15px;
			margin-bottom: 2px;

			.progress-text {
				padding-left: 4px;
				font-weight: bold;
			}
		}
	}
}