/* This file allows you to override default styles in one central location for easier upgrade and maintenance. */

/* ---------- Base ---------- */

body {
	background: url(../images/custom/body_bg.png);
	padding: 0 71px;
}

/* ---------- Banner ---------- */

#banner {
	background: url(../images/custom/banner_bg.png) right top;
	height: 127px;
	margin: 0 0 0 746px;
	position: relative;
}

#banner .sign-in {
	position: absolute;
	right: 40px;
	top: 20px;
}

/* ---------- Logo ---------- */

#banner .logo {
	background: url(../images/custom/banner_bg.png) left top;
	height: 127px;
	margin: 0 30px 0 -746px;
	position: relative;
}

#banner .logo a {
	left: 40px;
	position: absolute;
	top: 40px;
}

/* ---------- Navigation ---------- */

#navigation {
	background: url(../images/custom/banner_bg.png) right bottom;
	height: 30px;
	margin: 0 0 10px 746px;
	position: relative;
}

#navigation ul {
	background: url(../images/custom/banner_bg.png) left bottom;
	height: 25px;
	list-style: none;
	margin: 0 30px 0 -746px;
	padding: 2.5px 30px;
	position: relative;
}

#navigation li,
#navigation a {
	float: left;
}

#navigation a {
	color: #FFF;
	display: block;
	font-weight: bold;
	line-height: 22px;
	padding: 0 15px;
	text-decoration: none;
}

#navigation a:hover {
	border-bottom: 1px solid #FFF;
}

#navigation .selected a {
	color: #FF0;
}

/* ---------- Portlet ---------- */

.portlet,
.portlet-topper,
.portlet-content,
.portlet-title {
	background: transparent url(../images/custom/portlet_bg.png) no-repeat bottom right;
}

.portlet {
	margin: 0 0 10px;
	padding-right: 10px;
}

.portlet-topper {
	background-position: right top;
	margin-right: -10px;
	padding-right: 60px;
	position: relative;
}

.portlet-title {
	background-position: top left;
	color: #FFF;
	display: block;
	font-size: 1.5em;
	height: 22px;
	padding: 28px 20px 2px;
}

.portlet-content {
	background-position: left bottom;
	padding: 10px 20px 20px;
}