/* This file allows you to override default styles in one central location for easier upgrade and maintenance. */


/* ---- BASE ---- */

body {
	background: transparent url(../images/common/background.png) repeat scroll 0%;
}

#banner {
	height: 160px;
	background:transparent url(../images/custom/common/banner_bg.png) no-repeat scroll 0% 0pt;
	width:86%;
	margin: 0px 71px;
}

#banner h1.logo {
	background:transparent url(../images/custom/common/banner_bg.png) no-repeat scroll right bottom;
	height:145px;
	left:81.4%;
	margin:25px 0pt 0pt;
	position:absolute;
	top:-12px;
	width:14%;
}

#banner .logo a {
	margin-left:-20000px;
}

#wrapper {
	background: none;
}

/* ---- NAVIGATION ---- */

.js #navigation {
	position: absolute;
}

#navigation {
	left: 115px;
	top: 135px;
	width: auto;
	z-index: 21;
	background: transparent;
	border-top: none;
}

#navigation ul {
	width: auto;
}

#navigation li {
	background: transparent url(../images/navigation/tab-unselected.png) no-repeat top right;
	padding: 0em 2em .5em 0;
	margin-right:10px;
	border: none;
}

#navigation li.selected {
	background: transparent url(../images/navigation/tab-selected.png) no-repeat top right;
	padding: 0em 2em .5em 0;
}


#navigation li a {
	background: transparent url(../images/navigation/tab-unselected.png) no-repeat top left;
	padding: 0 0 .5em 1em;
	font-weight: bold;
	color: #FFFFFF;
}

#navigation li.selected a {
	background: transparent url(../images/navigation/tab-selected.png) no-repeat top left;
	padding: 0 0 .5em 1em;
	color: #000000;
}

#navigation li.selected a:hover {
	padding: 0 0 .5em 1em;
}

#navigation li a:hover {
	padding: 0 0 .5em 1em;
}

#navigation li a span {
	background: none;
	padding-left: 1em;
	text-decoration:none;
}

.js #navigation .enter-page {
	background: none;
	padding: 0;
}

.js .lfr-dock.interactive-mode {
	right:100px;
	top:40px;
}

.js #add-page {
	background: url(../images/custom/navigation/tab-unselected.png) no-repeat right top;
	padding: 0em 2em 0.5em 0px;
	border: none;
	bottom: 0px;
	right: -94px;
}

.js #add-page a {
	background:transparent url(../images/navigation/tab-unselected.png) no-repeat scroll left top;
	padding:0pt 0pt 0.5em 2em;
}

.js #add-page a span {
	background:transparent;
	margin-left: 0px;
	padding: 0px;
}

#navigation li.selected a, #navigation li a:hover {
	background-color: transparent;
}

/* ---- PORTLET ---- */

.portlet {
	background: url(../images/custom/portlet/portlet_bg.png);
	border: none;
	padding: 0px;
}

.portlet-topper {
	background:transparent url(../images/custom/portlet/portlet_bg.png) repeat scroll right 0px;
	border:medium none;
	margin:-3px -3px 0pt 9px;
}

.portlet-title {
	padding: 30px 0 15px 15px;
	margin-right: 30px;
	color: #FFFFFF;
}

.portlet-content {
	background:transparent url(../images/custom/portlet/portlet_bg.png) repeat scroll right bottom;
	margin:0px -3px 20px 8px;
	padding-bottom:21px;
	padding-top:19px;
}

/* ---- TABS ---- */



/* ---- MISS. OTHERS ---- */

