#banner {
	background:#272727 url(../images/custom/header.jpg) no-repeat scroll center center;
	height:296px;
	margin-left:152px;
	width:960px;
	position: relative;
}
#wrapper {
	background: none;
	position: relative;
	width: 1264px;
}
body {
	background: black;
	color: #FFFFFF;
	font-family: arial,verdana;
	font-size: 12px;
	line-height: 17px;
}
#banner .logo a {
	margin-left: 90px;
}
.js .interactive-mode {
	right: 12.5%;
	position: relative !important;
	z-index: 82 !important;
}
#navigation {
	background:#272727 none repeat scroll 0 0;
	border:medium none;
	margin-bottom:16px;
	margin-top:-1px;
	width:960px;
}
#navigation li {
	border: none;
}
#navigation li.selected a, #navigation li a:hover {
	background-color: transparent;
}
#navigation li.selected a span {
	background: transparent;
	padding-left: 0px;
}
#navigation li a {
	color: #FFFFFF;
	font-size: 16px;
	font-weight: bold;
}
#content-wrapper {
	background: #272727;
	margin: -16px auto;
	width:960px;
}
.portlet {
	background: transparent;
	border: none;
}
.portlet-topper {
	background: transparent;
	border: none;
	color: #000000;
	font-size: 16px;
}
a {
	font-size: 12px;
}
#footer {
	font-size: 10px;
	text-align: center;
}
.ui-tabs li a:hover, .ui-tabs li span:hover {
	background: transparent !important;
	color: #9EBAC8;
}
.ui-tabs li a, .tabs li span {
	background: transparent none repeat scroll 0% 0%;
	border-right: medium none;
}
.ui-tabs li.current:hover, .ui-tabs li.current a:hover {
	background-color: transparent;
}
.ui-tabs li.current a, .ui-tabs li.current span {
	background: transparent none repeat scroll 0% 0%;
	border: medium none;
	color: grey;
}
.ui-tabs {
	border-bottom: medium none;
}
.ui-dialog.ui-resizable-disabled .ui-dialog-content {
	color: black;
}
.js #add-page {
	background:transparent none repeat scroll 0% 0%;
	border:medium none;
	right:4%;
	top:-1px;
}
.lfr-dock-list-container {
	height: 1px;
	overflow: visible;
}
.ui-dialog {
	background-color:black;
}
.portlet-calendar .calendar-day .day-number {
	color:black;
}
.lfr-table tr td:last-child, .lfr-table tr td.last-child, .lfr-table tr th:last-child, .lfr-table tr th.last-child {
	color: grey;
}
.portlet-section-body td {
	color: black;
}
#navigation ul {
	width:81%;
}
.uni-form fieldset legend {
	color: white;
}