@import "compass";

h1 {
	font-size: 17px;
}

body {
	color: #484A4C;
}

/* Wrapper */

#wrapper {
	font-size: 16px;
	margin: 0 auto;
	padding: 35px 0 0;
	position: relative;
	width: 700px;
}

/* Skip to Content */

#skip-to-content {
	clip: rect(0 0 0 0);
	left: 0;
	overflow: hidden;
	position: fixed;
	right: 0;
	top: 0;
	z-index: 100;
}

#skip-to-content:focus,
#skip-to-content:hover {
	background: #4497D1;
	border-bottom: 1px solid rgba(0, 0, 0, 0.2);
	clip: inherit;
	color: #FF6;
	outline: 0;
	padding: 0.5em 0.75em;
}

#heading {
	margin-left: 20px;
}

#heading .site-title {
	margin: 0 0 0.25em;
}

#heading .page-title {
	font-size: 100%;
	margin: 0 0 20px;
}

.site-title .logo img {
	height: 60px;
	width: auto;
}

/* Sign In */

#sign-in {
	background: #2CABE2;
	color: #FFF;
	font-size: 12px;
	padding: 2px 20px;
	position: absolute;
	right: 20px;
	text-decoration: none;
	top: 100px;
}

#sign-in:focus,
#sign-in:hover {
	background: #F8F8F8;
	color: #908E91;
}

/* Navigation */

.page-maximized.signed-out #navigation {
	display: none;
}

#navigation {
	position: relative;
	z-index: 1;
}

#navigation h1 {
	clip: rect(0 0 0 0);
	position: absolute;
}

#navigation ul {
	border-collapse: collapse;
	display: table;
	margin: 0;
	width: 100%;
}

#navigation ul li ul {
	display: none;
}

#navigation li {
	border: 0 solid #E2E3E3;
	border-width: 0 1px;
	display: table-cell;
	width: 33.333%;
}

#navigation li:first-child {
	border-left-width: 0;
}

#navigation li:last-child {
	border-right-width: 0;
}

#navigation a {
	background: #f8f8f8;
	color: #908e91;
	display: block;
	font-size: 12px;
	font-weight: bold;
	outline: 0;
	overflow: hidden;
	padding: 0.3125em 0;
	text-align: center;
	text-decoration: none;
}

#navigation a:focus,
#navigation a:hover,
#navigation li.selected a {
	background: #2cabe2;
	color: #FFF;
}

#navigation a.selected:focus,
#navigation a.selected:hover {
	color: #FF0;
}

.portlet-journal-content {
	height: 284px;
	padding-top: 20px;
}

.journal-content-article {
	width: 50%;
}

.journal-content-article ul {
	list-style: none;
	margin: 8px 14px 8px 20px;
}

.journal-content-article li {
	margin: 4px 0;
}

.journal-content-article a,
.journal-content-article li span {
	font-size: 11px;
	text-decoration: none;
	font-weight: bold;
	color: #484A4C;
}

.journal-content-article p {
	font-size: 11px;
	font-weight: bold;
	margin: 10px 10px 10px 20px;
}

.journal-content-article .left, 
.journal-content-article .right {
	float: left;
}

.journal-content-article nav ul li.selected {
	list-style-image: url(../images/custom/blue-arrow.png);
}

.journal-content-article nav li:hover a,
.journal-content-article nav a.selected {
	color: #2cabe2;
}

.portlet-column-content {
	padding: 0px;
}

hgroup h1 {
	margin-left: 20px;
	margin-right: 5px;
}

hgroup .hr {
	border-top: 1px solid #CECDD2;
	height: 1px;
	margin-left: 18px;
	width: 80%;
}

#marketplace {
	height: 22px;
	position: absolute;
	right: 10px;
	top: 215px;
	width: 289px;
}

.portlet-login {
	border-top: 1px solid #BFBFBF;
	font-size: 13px;
	padding-top: 15px;
}

.portlet-login a {
	color: #2cabe2;
	font-size: 13px;
}

.portlet-login a,
.portlet-login .taglib-icon .taglib-text {
	text-decoration: none;
}

.portlet-login .aui-form {
	padding-bottom: 15px;
}

.portlet-login .navigation {
	padding-bottom: 0;
}

.portlet-login .navigation,
.portlet-login .portlet-column {
	background: transparent;
}

/* Footer */

#footer {
	border-collapse: collapse;
	display: table;
	margin: 0;
	width: 100%;
}

#footer div {
	border: 1px solid #BFBFBF;
	display: table-cell;
	height: 74px;
	width: 33.333%;
}

#footer div.column-1 {
	border-left: 0;
}

#footer div.column-3 {
	border-right: 0;
}

#footer h3 {
	font-size: 13px;
	margin-top: 7px;
}

#footer a {
	bottom: 10px;
	color: #484A4C;
	font-size: 11px;
	font-weight: bold;
	position: absolute;
	text-decoration: none;
}

#footer a:hover {
	color: #2cabe2;
}

#footer:after {
	clear: both;
	content: "";
}

#footer img {
	float: left;
}

#footer .footer-column-content {
	border: none;
	display: block;
	margin: 10px auto;
	position: relative;
	width: 200px;
}

#footer .footer-box {
	border: none;
	padding-left: 10px;
}

/* Extras */

#navigation {
	@include box-shadow(0 2px 5px #E2E3E3);
}

#skip-to-content:focus,
#skip-to-content:hover {
	@include box-shadow(0 1px 5px rgba(0, 0, 0, 0.5), 0 1px 50px rgba(0, 0, 0, 0.5));
}