a {
	color: #05FFDF;
}

#banner .logo a {
	background: transparent url(/image/company_logo?img_id=0&t=1213925971812) no-repeat scroll 0;
	display: block;
	font-size: 0;
	height: 49px;
	margin-left: 0;
	text-indent: -9999em;
	width: 198px;
}

#banner .logo {
	font-size: 2em;
	margin: 0 auto;
	padding: 1.25em 0 83.45px;
}

#banner {
	background: #000 url(../images/custom/header.jpg) no-repeat scroll center top;
	border-bottom: 0 solid #89C8FF;
	height: 280px;
	margin: 0 auto;
	margin-bottom: 0em;
	padding: 0;
	position: relative;
	width: 800px;
}

body {
	background: #404040 url(../images/custom/bg2.jpg) repeat fixed 0;
}


#content-wrapper {
	background: #000 none repeat scroll 0;
	margin: 0 auto 0;
	min-height: 400px;
	width: 800px;
}

#footer {
	background: transparent url(../images/custom/footer.jpg) no-repeat scroll center top;
	color: #FFF;
	font-family: 'Trebucet MS', ' Tahoma', ' Sans-serif';
	height: 25px;
	line-height: normal;
	margin: 0 auto;
	padding-top: 22px;
	text-align: center;
	width: 800px;
}

input.focus, textarea.focus, .ie6 input.focus, .ie6 textarea.focus {
	background: #FFF none;
	border: none;
}

.js #add-page a span {
	background: transparent;
	color: #C0C0C0;
	font-family: 'Trebuchet MS', 'Tahoma', 'Arial';
	font-size: 12pt;
	font-weight: bold;
	padding: 5px 20px;
	text-decoration: none;
	text-transform: uppercase;
}

.js #add-page a:hover span {
	background: #202020 url(../images/custom/h2_btn.jpg) repeat-x scroll 0 0%;
	color: #5AA2DC;
}

.js #add-page {
	background: #202020 url(../images/custom/h2_btn.jpg) repeat-x scroll 0 0%;
	border: none;
	top: 1px;
	height:19px;
}

.js #navigation .enter-page {
	background: #202020 url(../images/custom/h2_btn.jpg) repeat-x scroll 0 0%;
	height: 22px;
	padding: 2px 1em 1px 0em;
}

.js .interactive-mode li a {
	background-position: 0.5em 50%;
	background-repeat: no-repeat;
	display: block;
	margin-left: 0.3em;
	padding: 0.5em 0 0.5em 2.5em;
	text-decoration: none;
}

.js .interactive-mode ul {
	background: black;
	border: none;
}

.js .interactive-mode {
	float: right;
	min-width: 150px;
	position: relative;
	right: 7pt;
	top:-175px;
}

.js .lfr-dock.interactive-mode .my-places li a {
	background-image: none;
}

.js .lfr-dock.interactive-mode .my-places li h3 a {
	background-image: url(../images/dock/my_place.png);
}

.lfr-dock li a {
	background: black none repeat scroll 0 0%;
}

.lfr-dock li.my-places a {
	background-image: url(../images/dock/my_places.png);
}

.lfr-dock-list-container {
	height: 1px;
	overflow: visible;
}

#navigation li a span {
	display: block;
	padding: 3px 1.5em;
}

#navigation li a {
	color: #C0C0C0;
	font-family: 'Trebuchet MS', 'Tahoma', 'Arial';
	font-size: 12pt;
	font-weight: bold;
	padding: 1px 0;
	text-decoration: none;
	text-transform: uppercase;
}

#navigation li a:hover {
	background: #202020 url(../images/custom/h2_btn.jpg) repeat-x scroll 0 0%;
}

#navigation li {
	background: #202020 url(../images/custom/h2_btn.jpg) repeat-x scroll 0 0%;
	border: none;
	margin-left: 10px;
}

#navigation li.selected a span {
	background: #202020 url(../images/custom/h2_btn.jpg) repeat-x scroll 0 0%;
	padding-left: 24px;
}

#navigation li.selected {
	border-top: 0 solid #89C8FF;
	font-weight: bold;
}

#navigation {
	background: black;
	border: none;
	margin: 0 -24px;
	min-height: 2.2em;
	overflow: hidden;
	padding-right: 1em;
	width: 790px;
}

.portlet-topper {
	background: #D9EBFD url(../images/custom/h2_btn.jpg) repeat-x scroll 0;
}

.portlet {
	background: #333;
	border: 1px solid #404040;
	color: #BBB89F;
	margin-bottom: 1em;
	text-align: left;
}

#wrapper {
	background: transparent;
}

/*----- Tabs -----*/

.ui-tabs li a, .tabs li span {
	background:#202020 url(../images/custom/h2_btn.jpg) repeat-x scroll 0 0;
	border-right:5px solid #333333;
	top:0;
	color: white;
}

.ui-tabs li.current:hover, .ui-tabs li.current a:hover {
	background-color:transparent;
	text-decoration: none;
	background:#202020 url(../images/custom/h2_btn.jpg) repeat-x scroll 0 0;
}

.ui-tabs li.current a, .ui-tabs li.current span {
	background:#202020 url(../images/custom/h2_btn.jpg) repeat-x scroll 0 0;
	border-left:medium none;
	border-top: none;
	border-bottom:  none;
	border-right:5px solid #333333;
	color:white;
}

.ui-tabs li a:hover, .ui-tabs li span:hover {
	background:black;
	color:white;
	text-decoration: none;
}