/* This file allows you to override default styles in one central location for easier upgrade and maintenance. */

/* ---------- Base ---------- */

html {
	overflow-x: hidden;
}

body {
	-webkit-text-size-adjust: none;
	-webkit-user-select: none;
	font-family: Helvetica;
	margin: 0;
	min-height: 480px;
}

a {
	color: #005E96;
	cursor: pointer;
	outline: 0;
	text-decoration: inherit;
}

a img {
	border: 0;
}

.button {
	border: 5px solid transparent;
	color: #FFF;
	font-size: 13px;
	font-weight: bold;
	line-height: 16px;
	overflow: hidden;
	padding: 1px 6px;
	position: absolute;
	right: 3px;
	text-align: center;
	text-decoration: none;
	text-overflow: ellipsis;
	text-shadow: rgba(0, 0, 0, .4) 0 -1px 0;
	top: 3px;
	white-space: nowrap;
}

.left {
	left: 3px;
	right: auto;
}

.right {
	left: auto;
	right: 3px;
}

.tab {
	padding: 0;
	text-align: center;
	vertical-align: bottom;
}

.tab a {
	display: block;
	position: relative;
}

/* ---------- Topper ---------- */

#topper {
	background: #000 url(../images/custom/banner_bg.jpg) center top;
}

/* ---------- Banner ---------- */

#banner {
	padding: 8px 0;
	text-align: center;
	vertical-align: center;
}

/* ---------- Logo ---------- */

#topper #banner .logo a {
	background: url(../images/custom/company_logo.png);
	height: 30px;
	margin: 0 auto;
	width: 118px;
}

/* ---------- Navigation ---------- */

#navigation {
	border-spacing: 0;
	font-size: 14px;
	width: 100%;
}

#navigation .tab a {
	-moz-border-radius-topleft: 4px;
	-moz-border-radius-topright: 4px;
	-moz-box-sizing: border-box;
	-webkit-border-top-left-radius: 4px;
	-webkit-border-top-right-radius: 4px;
	-webkit-box-sizing: border-box;
	background: url(../images/custom/tabs_bg.png) no-repeat left center;
	color: #83B1C0;
	left: 1px;
	margin-right: 1px;
	padding: 7px 0;
}

#navigation .tab a[selected="true"] {
	background: url(../images/custom/selected_tab.png);
	color: #FFF;
	padding: 11px 0 7px;
}

/* ---------- Child Navigation ---------- */

#child-navigation {
	background: #DAE4E7;
	border-bottom: 1px solid #A0A7A9;
	border-spacing: 0;
	font-size: 18px;
	text-align: center;
	text-shadow: rgba(255, 255, 255, 50) 0 -1px 0;
	white-space: nowrap;
	width: 100%;
}

#child-navigation .tab {
	line-height: 25px;
}

#child-navigation .tab a {
	-moz-border-radius-bottomright: 10px;
	-moz-border-radius-topright: 10px;
	-webkit-border-bottom-right-radius: 10px;
	-webkit-border-top-right-radius: 10px;
	background: #DAE4E7;
	border: 1px solid #C8D1D4;
	border-width: 0 1px 0 0;
	color: #000;
	font-size: 13px;
	padding: 3px 12px 2px;
	position: relative;
	z-index: 2;
}

#child-navigation .tab a[selected="true"] {
	background: #FFF;
	color: #000;
	left: -4px;
	text-shadow: none;
	z-index: 1;
}

#child-navigation .tab a[depressed="true"] {
	color: #FFF;
	text-shadow: rgba(0, 0, 0, .4) 0 -1px 0;
}

/* ---------- Content Wrapper ---------- */

#content-wrapper {
	padding: 12px 0;
}

/* ---------- Portlet ---------- */

.portlet,
.portlet-borderless-container {
	border-bottom: 1px solid #DDD;
	color: #555;
	font-size: 14px;
	margin: 0 0 12px;
	padding: 6px;
}

.portlet-borderless-bar {
	display: none;
}

.portlet-toolbar {
	display: none;
}

.portlet-title {
	color: #000;
	font-size: 18px;
}

.portlet-title img {
	display: none;
}

.portlet-icons,
.js .page-maximized .portlet-icons {
	display: none;
}

.portlet-content {
	padding: 12px 0;
}

.portlet-content h3,
.portlet-borderless-container h3,
.portlet-blogs .entry-title {
	color: #000;
	font-size: 18px;
	margin: 0;
}

.portlet-borderless-container h3,
.portlet-blogs .entry-title {
	margin-bottom: 12px;
}

.portlet-blogs .entry-title a {
	color: #000;
}

/* ---------- Tabs ---------- */

.ui-tabs {
	border-bottom: 0;
	float: right;
	margin: 0 0 6px;
	padding: 0;
}

.ui-tabs li a,
.tabs li span,
.ui-tabs li a:hover,
.ui-tabs li span:hover {
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
	background: #EEE;
	border: 1px solid #DDD;
	color: #555;
	font: 11px Arial, Helvetica, sans-serif;
	margin: 0 3px 3px 0;
	padding: 6px 12px;
	text-decoration: none;
}

.ui-tabs li.current a,
.ui-tabs li.current span,
.ui-tabs li.current a:hover,
.ui-tabs li.current span:hover {
	background: #FFF;
	border: 1px solid #CCC;
	color: #36C;
	font: bold 11px Arial, Helvetica, sans-serif;
}

.portlet-calendar .calendar-container {
	border: 0;
	width: auto;
}

.portlet-calendar .calendar-container .taglib-calendar {
	float: none;
}

.portlet-calendar .calendar-day {
	width: 100%;
}

.portlet-calendar .calendar-container,
.portlet-calendar .taglib-calendar {
	width: 100%;
}

.portlet-calendar form > table > tbody > tr > td {
	display: block;
	width: 100%;
}

.portlet-calendar .calendar-day .day-text {
	-moz-border-radius: 6px;
	-webkit-border-radius: 6px;
	background: #EEE;
	color: #222;
	text-shadow: 2px 2px 1px #BBB;
}

.portlet-calendar .portlet-section-header {
	background: #999;
}