/* This file allows you to override default styles in one central location for easier upgrade and maintenance. */

/* Reset */

#wrapper, #banner, #banner .logo, #banner .logo a,#navigation, #navigation ul, #navigation ul li, #navigation li.selected,#navigation ul li a, #navigation li a span, #navigation ul li.selected a, #navigation ul li.selected a span,#navigation ul li a:hover, #navigation li a:hover span, #navigation ul li.selected a:hover, #navigation ul li.selected a:hover span,.js #add-page, .js #add-page a, .js #add-page a span, .js #add-page a:hover, .js #add-page a:hover span,.js #navigation .enter-page, .js #navigation .enter-page a, .js #navigation .enter-page a:hover,#content-wrapper, .portlet, .portlet-topper, .portlet-title, .portlet-content {
	background: transparent none no-repeat scroll 0 0;
	color: inherit;
	float: none;
	font-size: 100%;
	font-size-adjust: none;
	font-stretch: normal;
	font-style: normal;
	font-variant: normal;
	font-weight: normal;
	height: auto;
	line-height: normal;
	margin: auto;
	min-height: 0;
	min-width: 0;
	padding: 0;
	text-decoration: none;
	text-indent: 0;
	width: auto;
}

/* CSS */

html {
	overflow-y: scroll;
}

a {
	color: #036;
	font-weight: bold;
	text-decoration: none;
}

a:hover {
	color: #06C;
	text-decoration: none;
}

#banner, #navigation, #navigation ul, .portlet {
	background-color: transparent;
}

body {
	background: #CCC;
	color: #666;
	font: 70%/1.5em Verdana, ' Tahoma',  arial, ' sans-serif';
	margin: 15px 0;
	text-align: center;
}

#column-1 .portlet-content {
	padding: 12px 10px;
}

#column-2 {
}

#content-wrapper #layout-grid {
}

#content-wrapper, #portlet-wrapper- {
	background: #E8E8E8 none repeat scroll 0 0;
	border-bottom: 2px solid #D0D0D0;
	border-top: 5px solid #FFF;
	clear: both;
	margin: 0 0 0 15px;
	position: relative;
	width: 890px;
}

#footer p a, #footer p a:link, #footer p a:visited, #footer p a:active {
	color: inherit;
}

#footer p a:hover {
	color: #000;
}

#footer p {
	padding: 0 0 20px 0;
	text-align: center;
}

#footer {
	background: transparent url('../images/common/footer_bg.png') no-repeat scroll center bottom;
	clear: both;
	font-size: 95%;
	padding: 15px 0;
	text-align: left;
	width: 920px;
}

html {
	overflow-y: scroll;
}

.js #add-page {
	bottom: auto;
	top: 0;
}

.js .interactive-mode .my-places .show-my-places li .my-places-toggle h3 {
	font-size: 8pt;
	padding-right: 0;
}

.js .lfr-dock.interactive-mode h2 span {
	color: #222;
	font-size: 10pt;
	padding: 8px 16px 16px 16px;
}

.js .lfr-dock.interactive-mode h2, .js .lfr-dock.interactive-mode h2 span {
	background-image:none;
	border:medium none;
	color:#838181;
	font-size:10px;
	font-weight:normal;
	padding:3px 10px;
}
#layout-grid .lfr-column {
	margin: 0;
	padding: 0;
}

.liferay-table {
	font: 9px/9px Arial;
}

#navigation ul li a span, #navigation ul li a:hover span, #navigation ul li.selected a span, #navigation ul li.selected a:hover span, .js #add-page a span, .js #add-page a:hover span {
	border-bottom: medium none;
	border-left: 1px solid #A7D101;
	border-right: 1px solid #899D00;
	color: #FFF;
	display: block;
	float: left;
	font-family: 'Century Gothic', 'Trebuchet MS', 'Helvetica', 'Arial', 'Geneva', sans-serif;
	font-size: 13px;
	font-weight: bold;
	letter-spacing: 1px;
	line-height: 2.8em;
	padding: 0 14px;
	text-transform: uppercase;
}

#navigation ul li a, #navigation ul li a:hover, #navigation ul li.selected a, #navigation ul li.selected a:hover, .js #add-page a, .js #add-page a:hover {
	display: block;
	float: left;
}

#navigation ul li a:hover, .js #add-page a:hover {
	background: transparent url('../images/navigation/nav-hover.png') repeat-x scroll 0 0;
}

#navigation ul li, #navigation ul li.selected, .js #add-page {
	display: block;
	float: left;
}

#navigation ul li.selected a, #navigation ul li.selected a:hover {
	background: transparent url('../images/navigation/nav-current.png') repeat-x scroll 0 0;
}

#navigation ul {
	display: block;
	float: left;
	text-transform: uppercase;
}

#navigation li, .js #add-page {
	border: none;
}

#navigation {
	background: transparent url('../images/navigation/bg.png') repeat-x scroll 0 0;
	margin: 0 15px;
	border: none;
}

.portlet-icons {
	right: 0;
	top: 0;
}

.portlet-section-header {
	background: transparent none;
}

.portlet-title {
}

#portlet-wrapper- {
	width: 860px;
}

.portlet {
	border: 0;
}

.tabs li {
	font: 10px/2.25em Arial;
}

.tabs li.current {
	top: 0;
}

.tabs {
	border: 0;
}

#theme_header .logo a {
	color: #AEAAAA;
	font-family: 'Trebuchet MS', 'Arial', 'Sans-serif';
	font-size: 36px;
	font-weight: bold;
	left: 30px;
	letter-spacing: -1px;
	position: absolute;
	top: 25px;
}

#theme_header .logo {
}

#theme_header {
	background: #CCC url('../images/common/banner_bg_1.png') repeat-y scroll center top;
	color: #FFF;
	height: 100px;
	position: relative;
	width: 920px;
	z-index: 1;
}

#theme_header-photo {
	background: #FFF url('../images/common/banner_bg_2.png') no-repeat scroll center;
	clear: both;
	height: 200px;
	margin: 0 auto;
	width: 890px;
}

#theme_top-bg {
	background: #CCC url('../images/common/wrapper_bg_2.png') repeat-y scroll center top;
	height: 19px;
	left: 0;
	position: absolute;
	top: 0;
	width: 920px;
	z-index: 100;
}

ul.child-menu {
	display: none;
}

#wrapper {
	background: transparent url('../images/common/wrapper_bg_1.png') repeat-y center top;
	margin: 0 auto;
	position: relative;
	text-align: left;
	width: 920px;
}

#wrapper, #banner, #navigation, #content-wrapper,.portlet, .portlet-topper, .portlet-title, .portlet-content {
	display: block;
}

.js .interactive-mode {
	top:20px;
}