<ul id="nav">
#foreach ($nav_item in $nav_items)
	#if ($nav_item.isSelected())
		#set ($nav_item_class = "selected")
	#else
		#set ($nav_item_class = "")
	#end

	<li>
		<a class="$nav_item_class" href="$nav_item.getURL()">$nav_item.getName()</a>
	</li>
#end
</ul>