<?xml version="1.0"?>
<!DOCTYPE html PUBLIC "-//WAPFORUM//DTD XHTML Mobile 1.1//EN" "http://www.wapforum.org/DTD/xhtml-mobile11.dtd">

##parse ($init)

<html class="#language ("lang.dir")" xmlns="http://www.w3.org/1999/xhtml">

<head>
	<title>$the_title - $company_name</title>
	<link rel="stylesheet" href="$css_folder/main.css" type="text/css" title="$company_name style" />

	<style type="text/css" media="screen">
		#logo {
			background: url($company_logo);
			display: block;
			font-size: 0;
			height: ${company_logo_height}px;
			line-height: 0;
			overflow: hidden;
			text-indent: -9999em;
			width: ${company_logo_width}px;
		}
	</style>
</head>

<body>

#if ($has_navigation)
	##parse ("$full_templates_path/navigation.vm")
#end

<div class="section">
	<h1 class="is-img" id="logo">
		company name
	</h1>

	$theme.include($content_include)

</div>

</body>

</html>