#set ($content_id = $reserved-article-id.getData())
#set ($integer = 0)
#set ($num_cols = $integer.parseInt($number_of_columns.data))

#if ($num_cols == 5)
	#set ($span = "span2dot4")
#elseif ($num_cols == 4)
	#set ($span = "span3")
#elseif ($num_cols == 3)
	#set ($span = "span4")
#elseif ($num_cols == 2)
	#set ($span = "span6")
#else
	#set ($span = "")
#end

#if ($num_cols == 1)
	<div class="row-fluid" id="zoePricingTable${content_id}">
#end

#if (!$pricing_table_heading.getSiblings().isEmpty())
	#foreach ($cur_pricing_table_heading in $pricing_table_heading.getSiblings())
		#set ($mod = ${velocityCount}%${num_cols})

		#if ($mod == 1 && $num_cols != 1)
			<div class="row-fluid" id="zoePricingTable${content_id}">
		#end

		<div class="$span zoe-pricing-table">
			<h3>$cur_pricing_table_heading.data</h3>

			<p class="rate">
				<span class="currency-symbol">$cur_pricing_table_heading.currency_symbol.data</span>
				<span class="price">$cur_pricing_table_heading.price.data</span>
				<span class="units-of-time">/ $cur_pricing_table_heading.units_of_time.data</span>
			</p>

			<ul class="unstyled">
				#set ($li_class = "")

				#foreach ($cur_pricing_table_feature in $cur_pricing_table_heading.feature.getSiblings())
					#if (!$velocityHasNext)
						#set ($li_class = "last")
					#end

					<li class="$li_class">$cur_pricing_table_feature.data</li>
				#end
			</ul>

			#if (!$cur_pricing_table_heading.button_text.data.isEmpty())
				<a class="$cur_pricing_table_heading.button_text.style.data $cur_pricing_table_heading.button_text.size.data" href="$cur_pricing_table_heading.button_text.link.data">$cur_pricing_table_heading.button_text.data</a>
			#end
		</div>

		#if ($mod == 0 && $num_cols != 1)
			</div>
		#end
	#end
#end

#if ($num_cols == 1)
	</div>
#end