/* This file allows you to override default styles in one central location for easier upgrade and maintenance. */


/* ---------- Browser normalization ---------- */

body {
	background: #0094D6;
}


/* ---------- Main content body ---------- */

#content-wrapper {
	background: #FFF url(../images/custom/content-wrapper_side_bg.png) no-repeat;
	padding: 42px 12px 12px 48px;
}

#footer {
	background: url(../images/custom/footer_bg.png);
	height: 39px;
}


/* ---------- Banner ---------- */

#banner {
	background: #0068AF url(../images/custom/banner_bg.png) repeat-x left top;
}

#banner .logo {
	background: url(../images/custom/banner_side_bg.png) no-repeat;
	margin: 0;
	padding: 36px 76px 24px;
}


/* ---------- Dock with JavaScript ---------- */

.js .interactive-mode, .js .interactive-mode h2, .js .interactive-mode h2 span {
	background: #4A91C3 none;
	border: 0;
	display: block;
}

.js .interactive-mode {
	right: 0;
	top: auto;
}

.js .lfr-dock-list-container {
	left: 0;
	position: absolute;
	right: 0;
}

.js .lfr-dock.expanded .lfr-dock-list-container {
	top: 30px;
}


/* ---------- Main navigation ---------- */

#navigation {
	background: url(../images/custom/navigation_side_bg.png) no-repeat left bottom;
	margin: 0 0 -24px;
	position: relative;
	top: -24px;
	z-index: 22;
}

#add-page {
	background: #4A91C3;
	bottom: 0;
	position: absolute;
	right: 0;
}

#navigation ul {
	background: url(../images/custom/navigation_bg.png) repeat-x left bottom;
	margin: 0 0 0 70px;
	padding: 0 0 0 24px;
}

#navigation a {
	color: #FFF;
	display: block;
	float: left;
	height: 24px;
	line-height: 20px;
	padding: 0 24px;
	text-decoration: none;
}

#navigation a:hover {
	color: #FEC;
}

#navigation .selected a {
	background: #4A91C3;
}

#navigation .save-page {
	display: inline;
	float: none;
}

#navigation .cancel-page {
	display: none;
}


/* ---------- Portlet wrapper and icons ---------- */

.portlet {
	margin: 0 0 12px;
}

.portlet-title {
	border-bottom: 4px solid #DDD;
	color: #567;
	font: bold 24px Tahoma, Geneva, sans-serif;
	padding: 0 6px 6px;
}