<?xml version="1.0"?>

<web-app version="2.4" xmlns="http://java.sun.com/xml/ns/j2ee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/j2ee http://java.sun.com/xml/ns/j2ee/web-app_2_4.xsd">
	<filter>
		<filter-name>Secure Server Manager Servlet Filter</filter-name>
		<filter-class>com.liferay.portal.kernel.servlet.PortalClassLoaderFilter</filter-class>
		<init-param>
			<param-name>filter-class</param-name>
			<param-value>com.liferay.portal.servlet.filters.secure.SecureFilter</param-value>
		</init-param>
		<init-param>
			<param-name>basic_auth</param-name>
			<param-value>true</param-value>
		</init-param>
		<init-param>
			<param-name>portal_property_prefix</param-name>
			<param-value>server.manager.servlet.</param-value>
		</init-param>
	</filter>
	<filter-mapping>
		<filter-name>Secure Server Manager Servlet Filter</filter-name>
		<url-pattern>/*</url-pattern>
	</filter-mapping>
	<servlet>
		<servlet-name>Server Manager Servlet</servlet-name>
		<servlet-class>com.liferay.servermanager.servlet.ServerManagerServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>Server Manager Servlet</servlet-name>
		<url-pattern>/*</url-pattern>
	</servlet-mapping>
</web-app>