/* This file allows you to override default styles in one central location for easier upgrade and maintenance. */

body {
	background: #000 url(../images/common/body.gif) no-repeat top left;
	font: 62.5%/1.6em 'Tahoma','Lucida Sans Unicode','Lucida Grande','Lucida',Arial,Verdana,sans-serif;
}

a {
	color: #FFF;
}

/* ---------- Main content body ---------- */

#wrapper {
	margin: 0 auto;
	width: 610px;
	left:360px;
	position:absolute;
	top:100px;
}

#content-wrapper {
	border-collapse: collapse;
	width: 610px;
	position: relative;
	top: 10px;
	left: -141px;
}

.ie6 #content-wrapper {
	top: -30px;
	left: 0px;
}


/* ---------- Banner ---------- */

#banner {
	background: none;
	height: 7em;
	position: relative;
}

#banner .logo {
	background: none;
	display: block;
	float: left;
	font-family:Tahoma,sans-serif;
	font-size: 3.5em;
	font-weight: normal;
	padding: 1.25em 0.6em 1.45em;
}

#banner .logo a {
	text-decoration: line-through;
	color: #DDD;
}

/* ---------- Main navigation ---------- */

#navigation {
	margin: 0 auto 0.5em;
	min-height: 2.2em;
	overflow: hidden;
	padding-right: 1em;
	width: 210px;
	position: absolute;
	left: -226px;
	top: 180px;
}

.ie6 #navigation {
	width: 240px;
	padding-left: 20px;
}

#navigation ul {
	float: left;
	min-height: 2em;
	width: 160pt;
}

.ie6 #navigation ul {
	
}

#navigation li {
	background: none;
	display: inline;
	float: none;
	margin-right: 0.5em;
	padding: 0 0.5em 0 0;
	position: relative;
	left: 10px;
}

#navigation li a {
	background: none;
	display: block;
	padding: 0px;
	color:#777777;
	font-size: 10pt;
	line-height:1.5em;
	text-decoration: none;
}

.ie6 #navigation li a {
	line-height: 35px;
}

#navigation li a:hover {
	color: #8DCA3F;
	padding-bottom: 0px;
}

.ie6 #navigation li a:hover {
	padding-bottom: 0px;
}

#navigation li a span {
	background: none;
	padding-left: 17px;
	text-decoration: none;
}

#navigation li.selected a {
	background: url(../images/navigation/decay-small.gif) no-repeat;
	padding-top: 0;
	padding-bottom: 10px;
	padding-right: 25px;
	font-family:Impact,sans-serif;	
	font-size:15pt;
	margin-left: -10px;
}

.ie6 #navigation li.selected a {
	zoom: 1;
	padding-bottom: 7px;
}

#navigation li.selected a span {
	background: none;
	color: #000;
	font-size: 1em;
	font-weight: bold;
}

#navigation li.selected a:hover {
	padding-bottom: 10px;
}

.ie6 #navigation li.selected a:hover {
	padding-bottom: 7px;
}

#navigation li a:hover span {
	background: none;
}
/* ---------- Portlet wrapper and icons ---------- */

#portlet-wrapper- {
	margin-top: 25px;
}

.portlet, .portlet-topper, .portlet-content, .portlet-title {
	background: none;
}

.portlet {
	margin: 0 0 10px;
	padding-right: 10px;
	text-align: left;
}

.portlet-topper {
	background: url(../images/common/decay.gif) no-repeat;
	background-position: left top;
	margin-right: -10px;
	padding-right: 40px;
	padding-bottom: 10px;
	position: relative;
}

.ie6.portlet-topper {
	zoom: 1;
	padding: auto;
}


.portlet-title {
	background-position: top left;
	display: block;
	font-weight: normal;
	font-family:Impact ,sans-serif;
	font-size: 20pt;
	min-width: 50%;
	padding: 8px 0 4px 10px;
}

.portlet-title {
	margin-top: -7px;
}

.portlet-content {
	color: #FFF;
}


/* ---------- Table or section header ---------- */

.portlet-section-header {
	background: #A0A0A0;
	padding: 1px 0 0;
}

.portlet-section-header th {
	background: #A0A0A0;
	border-bottom: 1px solid #ccc;
	color: #333;
	font-weight: bold;
	padding: 0.3em 1em;
}

#portlet-small-icon-bar_88 {
	position: absolute;
	left: 0px;
	top: 30px;
	right: -80px;
}

.ie6 #portlet-small-icon-bar_88 {
	left: 550px;
	top: 25px;
}


/* ---------- Normal text in a table cell ---------- */

.portlet-section-body {
	background: #E7EDF4;
	color: #000;
}

.portlet-section-body td {
	background: #FFF;
	border-bottom: 1px solid #BFBFBF;
	border-top: 1px solid #BFBFBF;
	padding: 0.3em 1em;
}

.tabs {
	border-bottom: 1px solid #7C7C7C;
	margin: 0 0 1.5em 0;
	padding: 0 0 2.6em 1em;
}

.tabs li a, .tabs li span {
	background: url(../images/common/tabs_bg.png) 0 -261px;
	display: block;
	float: left;
	padding: 0.35em 1em 0;
	text-decoration: none;
	color: #000;
	border-top: 1px solid #7C7C7C;
	border-left: 1px solid #7C7C7C;
	border-right: 1px solid #7C7C7C;
}

.tabs li a:hover {
	color: #000;	
}

.tabs li.current a, .tabs li.current span {
	background: url(../images/common/tabs_bg.png) 0 -99px;
	color: #000;
	padding: 0.15em 1em;
	margin-top: -2px;
}

.ie6.tabs li.current a, .tabs li.current span {
	background-position: 0 -0px;
}


/* ---------- Dock ---------- */

.lfr-dock h2 {
	background: url(../images/navigation/welcome_message.png) no-repeat 0 50%;
	font-size: 1.2em;
	margin-bottom: 0.5em;
	padding-left: 2em;
	text-align: center;
}

.js .lfr-dock.interactive-mode ul {
	background: url(../images/dock/menu_bg.png) no-repeat 0 0;
	border-left: 20px solid #333;
	display: none;
	float: none;
}

.js .lfr-dock.interactive-mode li a {
	background-position: 0.5em 50%;
	background-repeat: no-repeat;
	border-top: 1px solid #ccc;
	display: block;
	margin-left: 0.3em;
	padding: 0.5em 0pt 0.5em 2.5em;
	text-decoration: none;
	color: #000;
}

.js .lfr-dock.expanded .lfr-dock-list-container {
	background: #60738C;
	border: 1px solid #B5B9BB;
	border-top: none;
	top: -2px;
	position: relative;
	left: 0px;
	top: 0px;
}

.js .delete-tab {
	background: url(../images/common/remove.png) no-repeat 42%;
	cursor: pointer;
	display: block;
	height: 7px;
	position: absolute;
	right: 0px;
	left: -10px;
	text-indent: -9999em;
	top: 17px;
	width: 8px;
}

.ie6.js .delete-tab {
	left: -10px;
	top: 0px;
}

.js #add-page {
	float: left;
	font-weight: bold;
	padding-top: 0.3em;
	position: absolute;
	top: -2px;
}

.ie6.js #add-page {
	left: 25px;
	top: -17px;
}
