.marketplace-portlet {
	.alert-container {
		left: 3em;
		position: fixed;
		top: 3em;
		z-index: 100;

		.alert {
			margin-bottom: .5em;
		}
	}

	.row {
		margin-left: 0;
	}

	.category-nav {
		padding-left: 0;
		padding-right: 0;
	}

	.app {
		clear: both;
		min-height: 90px;
		margin-bottom: 2.5em;
		position: relative;

		.icon {
			background: #FFF url(../images/app.png) no-repeat;
			float: left;
			height: 90px;
			width: 90px;
		}

		.info {
			margin-left: 110px;
		}

		.app-actions {
			position: absolute;
			right: 0;
			top: 0;
		}

		.title {
			color: #009EC3;
			font-size: 1.5em;
			font-weight: bold;
			margin-bottom: .2em;
		}

		.sub-title {
			color: #999;
			font-size: .8em;
		}

		.version {
			font-weight: bold;
			margin-right: 132px;
		}

		.description {
			margin-right: 132px;
		}

		.plugins {
			margin-top: 1em;

			ul {
				margin-bottom: 0;
				margin-top: 0;
			}

			.summary {
				cursor: pointer;
				margin: 0;

				li {
					display: inline;
					margin-right: .5em;
				}
			}

			.table {
				td {
					vertical-align: middle;
				}

				td:last-child {
					text-align: right;
				}
			}

			.plugin-list {
				display: none;
				margin-top: 1em;
			}

			&.active .plugin-list {
				display: block;
			}
		}
	}

	.install-apps .control-group {
		margin-left: 20px;
	}
}