<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE web-app PUBLIC "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN" "http://java.sun.com/dtd/web-app_2_3.dtd">

<web-app>
	<context-param>
		<param-name>axis.servicesPath</param-name>
		<param-value>/services/</param-value>
	</context-param>
	<context-param>
		<param-name>portlets-ready-by-default</param-name>
		<param-value>false</param-value>
	</context-param>
	<filter>
		<filter-name>Axis ThreadLocal Filter</filter-name>
		<filter-class>com.liferay.wsrp.servlet.AxisThreadLocalFilter</filter-class>
	</filter>
	<filter-mapping>
		<filter-name>Axis ThreadLocal Filter</filter-name>
		<url-pattern>/*</url-pattern>
	</filter-mapping>
	<listener>
		<listener-class>com.liferay.portal.kernel.servlet.PortletContextListener</listener-class>
	</listener>
	<listener>
		<listener-class>com.liferay.portal.kernel.spring.context.PortletContextLoaderListener</listener-class>
	</listener>
	<listener>
		<listener-class>com.liferay.wsrp.servlet.WSRPServletContextListener</listener-class>
	</listener>
	<servlet>
		<servlet-name>Axis Servlet</servlet-name>
		<servlet-class>org.apache.axis.transport.http.AxisServlet</servlet-class>
		<load-on-startup>0</load-on-startup>
	</servlet>
	<servlet>
		<servlet-name>Proxy Servlet</servlet-name>
		<servlet-class>com.liferay.wsrp.servlet.ProxyServlet</servlet-class>
		<load-on-startup>0</load-on-startup>
	</servlet>
	<servlet>
		<servlet-name>WSDL Servlet</servlet-name>
		<servlet-class>com.liferay.wsrp.servlet.WSDLServlet</servlet-class>
		<load-on-startup>0</load-on-startup>
	</servlet>
	<servlet-mapping>
		<servlet-name>Axis Servlet</servlet-name>
		<url-pattern>/services/*</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>Proxy Servlet</servlet-name>
		<url-pattern>/proxy/*</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>WSDL Servlet</servlet-name>
		<url-pattern>/wsdl/*</url-pattern>
	</servlet-mapping>
	<taglib>
		<taglib-uri>http://java.sun.com/jsp/jstl/core</taglib-uri>
		<taglib-location>/WEB-INF/tld/c.tld</taglib-location>
	</taglib>
</web-app>