/* -------- Global -------- */

#skip-to-content,
#heading .community-title,
#heading .page-title,
#navigation h1 {
	clip: rect(0 0 0 0);
	position: absolute;
}

body {
	background: #FCF8DE url(../images/custom/body_bg.png) repeat-x;
}

/* -------- Wrapper / Skip / Sign-in -------- */

#wrapper {
	margin: 0 auto;
	position: relative;
	width: 940px;
}

#skip-to-content,
#sign-in {
	color: #57391B;
	right: 0;
	top: 1.5em;
}

#skip-to-content:active,
#skip-to-content:focus {
	clip: auto;
}

#sign-in {
	position: absolute;
	top: 7em;
}

/* -------- Heading -------- */

#heading .company-title {
	margin: 0;
	padding: 12px 0 0 12px;
}

/* -------- Navigation -------- */

#navigation {
	background: url(../images/custom/navigation_bg.png) repeat-x left bottom;
	font: 14px "Times New Roman", Times, serif;
	height: 32px;
}

#navigation ul {
	list-style: none;
	margin: 0;
	padding: 2px 0 0;
}

.ie6 #navigation ul,
.ie7 #navigation ul {
	zoom: 1;
}

#navigation ul:after {
	clear: both;
	content: "";
	display: block;
}

#navigation li,
#navigation a {
	color: #D21034;
	float: left;
}

#navigation a {
	padding: 6px 14px;
	text-decoration: none;
}

#navigation a:active,
#navigation a:focus,
#navigation a:hover {
	background: #FCFAE4;
	color: #D21034;
}

/* -------- Content -------- */

#breadcrumbs {
	display: none;
}

#content {
	background: #FFF;
	padding: 15px;
}

.portlet-topper {
	background: #FDF5C0 url(../images/custom/portlet_bg.png) repeat-x;
	padding: 5px;
}

/* -------- Footer -------- */

#footer {
	background: url(../images/custom/footer_bg.png) no-repeat;
	padding: 42px 0;
}

#footer p {
	margin: 0;
	padding: 0 0 0 12px;
}