/* -------- Global -------- */

#skip-to-content,
#heading .community-title,
#heading .page-title,
#navigation h1,
#navigation .child-menu {
	clip: rect(0 0 0 0);
	position: absolute;
}

html {
	background: #FFF url(../images/custom/html_bg.jpg);
}

body {
	background: url(../images/custom/body_bg.jpg) repeat-x;
}

/* -------- Wrapper / Skip / Sign-in -------- */

#wrapper {
	background: #FFF;
	margin: 0 auto;
	padding: 9px 14px;
	position: relative;
	width: 960px;
}

#skip-to-content,
#sign-in {
	color: #FFF;
	top: 1.5em;
}

#skip-to-content {
	left: 2em;
}

#skip-to-content:active,
#skip-to-content:focus {
	clip: auto;
}

#sign-in {
	position: absolute;
	right: 2em;
}

/* -------- Heading -------- */

#heading {
	background: url(../images/custom/heading_bg.jpg) no-repeat left bottom;
	padding: 20px 0 0 20px;
}

#heading .company-title {
	margin: 0;
}

/* -------- Navigation -------- */

#navigation {
	background: url(../images/custom/navigation_bg.png);
}

#navigation ul {
	list-style: none;
	margin: 0;
}

.ie6 .#navigation ul,
.ie7 .#navigation ul {
	zoom: 1;
}

#navigation ul:after {
	clear: both;
	content: ".";
	display: block;
	height: 0;
	line-height: 0;
	visibility: hidden;
}

#navigation li,
#navigation a {
	color: #FFF;
	float: left;
	font-size: 12px;
	text-decoration: none;
}

#navigation a {
	padding: 10px 20px;
}

#navigation a:active,
#navigation a:focus,
#navigation a:hover {
	background: url(../images/custom/navigation_item_hover.png);
}

/* -------- Content -------- */

#breadcrumbs {
	display: none;
}

.portlet-topper {
	background: url(../images/custom/portlet_topper_bg.png) repeat-x;
	padding: 6px;
}

/* -------- Footer -------- */

#footer {
	background: #EEE;
	padding: 10px;
}

#footer p {
	margin: 0;
}