/* This file allows you to override default styles in one central location for easier upgrade and maintenance. */

/* ---------- Base ---------- */

html {
	background: #FFF url(../images/custom/html_bg.jpg);
}

body {
	background: transparent url(../images/custom/body_bg.jpg) repeat-x;
}

#skip-to-content,
#banner h2,
#banner h3,
#navigation h1,
#breadcrumbs,
.site-breadcrumbs h1 {
	left: -99999px;
	overflow: hidden;
	position: absolute;
	width: 1%;
}

a,
a:visited {
	color: #333;
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
}

/* ---------- Wrapper ---------- */

#wrapper {
	background: #FFF;
	border: 9px solid #FFF;
	border-left-width: 14px;
	border-right-width: 14px;
	margin: 0 auto;
	padding: 0;
	width: 960px;
}

/* ---------- Banner ---------- */

#banner {
	background: url(../images/custom/banner_bg.jpg) no-repeat left bottom;
	margin: 0 0 4px;
	padding: 0;
	position: relative;
}

/* ---------- Logo ---------- */

#banner .logo {
	background: #2B2B2B;
	padding: 32px;
}

/* ---------- Dock ---------- */

.js .interactive-mode {
	right: 16px;
	top: 16px;
}

#sign-in {
	color: #333;
	float: right;
	position: absolute;
	right: 5px;
	text-decoration: none;
	top: 135px;
}

/* ---------- Navigation ---------- */

#navigation {
	background: url(../images/custom/navigation_bg.png);
	height: 36px;
	margin-bottom: 4px;
}

#navigation ul,
#add-page {
	float: left;
}

#navigation a,
#navigation .enter-page {
	color: #FFF;
	display: block;
	float: left;
	font: 12px/36px Lucida Sans Unicode, Lucida Grande, sans-serif;
	height: 36px;
	padding: 0 20px;
	text-decoration: none;
}

#navigation a:hover {
	background: url(../images/custom/navigation_item_hover.png);
}

#navigation ul {
	margin: 0;
}

#navigation ul li {
	float: left;
	list-style: none;
}

#navigation ul li ul.child-menu {
	display: none;
}

#navigation .save-page,
#navigation .save-page:hover {
	background: none;
	border-right: 0;
	display: inline;
	float: none;
}

.ie #navigation .save-page {
	position: relative;
	top: -5px;
}

#navigation .cancel-page {
	display: none;
}

/* ---------- Content Wrapper ---------- */

.lfr-grid .lfr-column {
	padding: 0 4px;
}

/* ---------- Portlet ---------- */

.portlet {
	margin: 0 0 10px;
}

.portlet-topper {
	background: url(../images/custom/portlet_topper_bg.png) repeat-x;
	padding: 6px;
}

.portlet-title {
	font: 18px/18px Palatino Linotype, Book Antiqua, Palatino, serif;
	letter-spacing: .05em;
}

.portlet-title img {
	margin-top: -4px;
}

.portlet-content {
	padding: 0;
}

.portlet-calendar .calendar-day .day-text,
.portlet-calendar .results-header {
	background: #9FA621;
}

/* ---------- Tabs ---------- */

.ui-tabs {
	border-bottom: 1px solid #555900;
}

.ui-tabs li a,
.ui-tabs li a:hover,
.ui-tabs li span,
.ui-tabs li span:hover {
	background: #858B00;
	border: 1px solid #555900;
	color: #FFF;
	margin: 0 -1px;
	text-decoration: none;
}

.ui-tabs li a:hover,
.ui-tabs li span:hover {
	background: #6D7300;
}

.ui-tabs li.current a,
.ui-tabs li.current a:hover,
.ui-tabs li.current span,
.ui-tabs li.current span:hover {
	background: #555900;
	border: 1px solid #555900;
	color: #FFF;
}

.ui-tabs li.current:hover {
	background: transparent;
}

.aui-tab-active span a {
	color: #FFF;
}

/* ---------- Footer ---------- */

#footer {
	background: #EEE;
	height: 48px;
}