Dear [$TO_NAME$],<br />

<p>
	We've finally resolved your suggestions for article <a href="[$ARTICLE_URL$]">[$ARTICLE_TITLE$]</a>.
</p>

<quote>
	[$COMMENT_CONTENT$]
</quote>

<p>
	If you have any suggestion or comment, don't hesitate and get in contact with us.
</p>

Thank you very much!<br />