Dear [$TO_NAME$],<br />

<p>
	Thank you very much for your feedback for article <a href="[$ARTICLE_URL$]">[$ARTICLE_TITLE$]</a>. This is your suggestion:
</p>

<blockquote>
	[$COMMENT_CONTENT$]
</blockquote>

<p>
	In short time our team will review it and will start working on it. We will keep you informed on any action derived from your suggestions.
</p>

Thank you!<br />