Dear [$TO_NAME$],<br />

<p>
	We've received your feedback for the article [$ARTICLE_TITLE$]:
</p>

<p>
	[$COMMENT_CONTENT$]
</p>

<p>
	In short time our team will review it and will start working on it. We'll keep you informed on any action derived from your suggestions.
</p>

Thank you!<br />