Dear [$TO_NAME$],<br />

<p>
	We've received your suggestions for article <a href="[$ARTICLE_URL$]">[$ARTICLE_TITLE$]</a>:
</p>

<quote>
	[$COMMENT_CONTENT$]
</quote>

<p>
	In short time our team will review it and will start working on it. We'll keep you informed on any action derived from your suggestions.
</p>

Thank you!<br />