Dear [$TO_NAME$],<br />

<p>
	We've started working on article <a href="[$ARTICLE_URL$]">[$ARTICLE_TITLE$]</a> based on the following suggestion you sent us on [$COMMENT_CREATE_DATE$]:
</p>

<blockquote>
	[$COMMENT_CONTENT$]
</blockquote>

<p>
	We'll notify you when we finish so that you can take a look to the results.
</p>

Thank you very much!<br />