Dear [$TO_NAME$],<br />

<p>
	Great news! We have resolved your feedback for article <a href="[$ARTICLE_URL$]">[$ARTICLE_TITLE$]</a> sent on [$COMMENT_CREATE_DATE$]. This was your suggestion:
</p>

<blockquote>
	[$COMMENT_CONTENT$]
</blockquote>

<p>
	If you have any additional suggestion or comment, don't hesitate and get in contact with us.
</p>

Thank you very much!