[$ARTICLE_CONTENT$]

[$ARTICLE_ATTACHMENTS$]

--<br />
<a href="[$ARTICLE_URL$]"><strong>[$ARTICLE_TITLE$]</strong></a><br />
[$ARTICLE_TITLE$] ([$ARTICLE_VERSION$])<br />
[[$COMMUNITY_NAME$]][[$CATEGORY_TITLE$]]