<?xml version="1.0"?>

<kb-structure default-language-id="0">
	<kb-structure-content language-id="0">
		<kb-structure-field kb-structure-field-id="0" name="content" label="content" type="wysiwyg-editor" />
	</kb-structure-content>
</kb-structure>