${exception.message}

<div class="separator"><!-- --></div>

<#assign lines = stringUtil.split(kbTemplate.content, "\n") />

<table width="100%">

<#list lines as line>
	<tr>
		<td style="color:#999; text-align:right;">
			${line_index + 1}
		</td>
		<td style="padding-left:5px;">
			<pre>${line}</pre>
		</td>
	</tr>
</#list>

</table>

<div class="separator"><!-- --></div>