$exception.getMessage()

<div class="separator"><!-- --></div>

#set ($content = $kbTemplate.getContent())
#set ($lines = $content.split("\n"))

<table width="100%">

#foreach ($line in $lines)
	<tr>
		<td style="color:#999; text-align:right;">
			${velocityCount}
		</td>
		<td style="padding-left:5px;">
			<pre>${htmlUtil.escape($line)}</pre>
		</td>
	</tr>
#end

</table>

<div class="separator"><!-- --></div>