/* This file allows you to override default styles in one central location for easier upgrade and maintenance. */


/* ---------- Browser normalization ---------- */

html {
	overflow-y: scroll;
}

body {
	background: #46423D;
	color: #FFF;
}

#wrapper {
	margin: 0 auto;
	width: 960px;
}


/* ---------- Banner ---------- */

#banner {
	background: no-repeat url(../images/custom/banner_bg.gif);
	height: 140px;
	position: relative;
}

#banner .logo {
	float: right;
	margin: 0;
	position: relative;
	right: 2em;
	top: 2em;
}


/* ---------- Main navigation ---------- */

#navigation {
	background: transparent url(../images/custom/navigation_bg.png);
	height: 34px;
}

#navigation ul, #add-page {
	float: left;
}

#navigation ul {
	padding: 0 6px;
}

#navigation a, .js .interactive-mode h2 span {
	color: #000;
	display: block;
	font: 12px/32px Arial, Helvetica, sans-serif;
	height: 34px;
	padding: 0 14px;
	text-decoration: none;
}

#navigation .selected a {
	background: #FF8B00 url(../images/custom/navigation_selected_bg.png);
	color: #000;
}

#navigation .enter-page a {
	display: inline;
}


/* ---------- Dock with JavaScript ---------- */

.js .interactive-mode, .js .interactive-mode h2, .js .interactive-mode h2 span {
	background: transparent none;
	border: none;
}

.js .interactive-mode {
	right: 0;
	top: 140px;
}

.js .interactive-mode h2 {
	height: 32px;
}


/* ---------- Portlet ---------- */

.portlet-topper {
	color: #FFF;
	font-size: 24px;
	line-height: 24px;
	padding: 12px;
}

.portlet-icons {
	font-size: 10px;
	line-height: 1.6em;
	top: 12px;
}


/* ---------- Liferay UI ---------- */

.ui-tabs {
	border-bottom: 1px solid #FF8B00;
}

.ui-tabs li a, .tabs li span {
	background: transparent;
	border: 0;
	color: #FFF;
	height: 7px;
}

.ui-tabs li.current a, .ui-tabs li.current span, .ui-tabs li a:hover, .ui-tabs li span:hover {
	background: url(../images/custom/tab_current_bg.gif);
	border: medium none;
	color: #FFF;
}

.portlet-calendar .calendar-day {
	background: #FFF;
}

.portlet-calendar .day-number, .portlet-calendar .portlet-section-body td, .calendar-panel {
	color: #000;
}

.portlet-msg-error {
	color: #000;
}
