<div id="navigation">
	<ul>
		#set ($size = $nav_items.size())
		#set ($velocityCount = 1)

		#foreach ($nav_item in $nav_items)
			#set ($nav_item_class = "")

			#if ($velocityCount == 1)
				#set ($nav_item_class = "$nav_item_class first")
			#end

			#if ($velocityCount == $size)
				#set ($nav_item_class = "$nav_item_class last")
			#end

			#if ($nav_item.isSelected())
				#set ($nav_item_class = "$nav_item_class selected")
			#end

			<li class="$nav_item_class">
				<a href="$nav_item.getURL()" $nav_item.getTarget()><span>$nav_item.getName()</span></a>
			</li>

			#set ($velocityCount = $velocityCount + 1)
		#end
	</ul>
</div>