<?xml version="1.0"?>
<!DOCTYPE hibernate-configuration PUBLIC "-//Hibernate/Hibernate Configuration DTD 3.0//EN" "http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">

<hibernate-configuration>
	<session-factory>

		<!-- DB2 -->

		<!--<property name="hibernate.dialect">org.hibernate.dialect.DB2Dialect</property>
		<property name="hibernate.connection.driver_class"></property>
		<property name="hibernate.connection.url"></property>
		<property name="hibernate.connection.username"></property>
		<property name="hibernate.connection.password"></property>-->

		<!-- Hypersonic -->

		<!--<property name="hibernate.dialect">org.hibernate.dialect.HSQLDialect</property>
		<property name="hibernate.connection.driver_class">org.hsqldb.jdbcDriver</property>
		<property name="hibernate.connection.url">jdbc:hsqldb:file:../webapps/sample_hibernate-web/WEB-INF/sql/sample_hibernate</property>
		<property name="hibernate.connection.username">sa</property>
		<property name="hibernate.connection.password"></property>-->

		<!-- MySQL -->

		<property name="hibernate.dialect">org.hibernate.dialect.MySQLDialect</property>
		<property name="hibernate.connection.driver_class">com.mysql.jdbc.Driver</property>
		<property name="hibernate.connection.url">jdbc:mysql://localhost/sample_hibernate?useUnicode=true&amp;characterEncoding=UTF-8</property>
		<property name="hibernate.connection.username"></property>
		<property name="hibernate.connection.password"></property>

		<!-- Oracle -->

		<!--<property name="hibernate.dialect">org.hibernate.dialect.Oracle9Dialect</property>
		<property name="hibernate.connection.driver_class">oracle.jdbc.driver.OracleDriver</property>
		<property name="hibernate.connection.url">jdbc:oracle:thin:@localhost:1521:sample_hibernate</property>
		<property name="hibernate.connection.username"></property>
		<property name="hibernate.connection.password"></property>-->

		<!-- PostgreSQL -->

		<!--<property name="hibernate.dialect">org.hibernate.dialect.PostgreSQLDialect</property>
		<property name="hibernate.connection.driver_class">org.postgresql.Driver</property>
		<property name="hibernate.connection.url">jdbc:postgresql://localhost:5432/sample_hibernate</property>
		<property name="hibernate.connection.username"></property>
		<property name="hibernate.connection.password"></property>-->

		<!-- SQL Server -->

		<!--<property name="hibernate.dialect">org.hibernate.dialect.SQLServerDialect</property>
		<property name="hibernate.connection.driver_class">net.sourceforge.jtds.jdbc.Driver</property>
		<property name="hibernate.connection.url">jtds:sqlserver://localhost:1433/sample_hibernate</property>
		<property name="hibernate.connection.username"></property>
		<property name="hibernate.connection.password"></property>-->

		<!-- Sybase -->

		<!--<property name="hibernate.dialect">org.hibernate.dialect.SybaseDialect</property>
		<property name="hibernate.connection.driver_class">net.sourceforge.jtds.jdbc.Driver</property>
		<property name="hibernate.connection.url">jdbc:jtds:sybase://localhost:7100/sample_hibernate</property>
		<property name="hibernate.connection.username"></property>
		<property name="hibernate.connection.password"></property>-->

		<!-- Sessions and transactions -->

		<property name="current_session_context_class">thread</property>

		<!-- Mappings -->

		<mapping resource="com/liferay/samplehibernate/model/FoodItem.hbm.xml" />
	</session-factory>
</hibernate-configuration>