a:hover {
	color: #ED8D29;
	text-decoration: none;
}

#banner .logo {
	height: 270px;
}

#banner {
	background-color: #ED8D29;
	background-image: url(../images/custom/header.jpg);
	background-position: left top;
	background-repeat: no-repeat;
	float: none;
	height: 370px;
	top:0;
}

body {
	background-color: #0070A2;
	background-image: url(../images/custom/body-bg.jpg);
	background-position: center top;
	background-repeat: repeat-y;
	color: #C6C6C6;
	font-family: 'Verdana', ' Arial', ' Georgia';
	font-size: 62.5%;
	font-weight: normal;
	line-height: 12px;
	margin: 0;
	padding: 0;
	text-align: justify;
}

#content-wrapper {
	width: 100%;
}

fieldset {
	border: 1px solid #CCC;
	color: black;
	padding: 0.7em;
}

#footer {
	background-color: #020203;
	background-image: url(../images/custom/footer-bg.jpg);
	background-position: left top;
	background-repeat: repeat-x;
	color: #FFF;
	float: none;
	font-size: 11px;
	height: 74px;
	line-height: 18px;
	margin: 1px auto;
	margin-top: none;
	padding-top: 18px;
	text-align: center;
	width: 900px;
}

.js #add-page {
	background: transparent;
	border: none;
	top: -3px;
}

.js #navigation .enter-page {
	background-color: transparent;
	padding: 0;
	margin-top:5px;
}

.js .interactive-mode {
	top: -300px;
}

.js .lfr-dock-list-container {
	height: 0px;
	overflow: visible;
}

#navigation a {
	color: #369;
}

#navigation li a {
	font-size: 13px;
	text-decoration: none;
}

#navigation li a:hover {
	color: #1FA0DA;
}

#navigation li {
	background: none;
	border: none;
	display: inline;
	float: left;
	margin-right: 0.5em;
	position: relative;
}

#navigation li.selected a span {
	background: transparent;
	padding-left: 0;
}

#navigation li.selected a, #navigation li a:hover {
	background-color: transparent;
	color: #369;
}

#navigation li.selected {
	border-top: none;
	font-weight: bold;
}

#navigation {
	background: #ED8D29;
	border: none;
	height: 45px;
	min-height: none;
	overflow: hidden;
	padding-right: 1em;
	width: 100%;
	margin:-1px auto;
}

.ie #navigation {
	margin: -50px auto;
}

.portlet-title {
	color: #000;
	display: block;
	font-size: 14px;
	min-width: 50%;
	padding: 8px 0 4px 10px;
}

.portlet-topper {
	background: #1091CB url(../images/custom/portlet_top.png) repeat-xscroll 0 1%;
	position: relative;
}

.portlet {
	color: black;
}

.taglib-page-iterator .search-results {
	color: black;
	float: left;
}

#wrapper {
	margin: 0 auto;
	width: 900px;
	position: relative;
	background: transparent;
}

.ui-tabs {
	border-bottom: 1px solid #bfe1ff;
	margin: 0 0 1.5em 0;
	padding: 0 0 2.6em 1em;
}

.ui-tabs li {
	background: #eaf5ff url(../images/common/tabs_inactive_bg.png) repeat-x 0 100%;
	border-bottom: 0;
	display: inline;
	float: left;
	line-height: 2.25;
	margin-right: 0.8em;
	padding: 0;
	text-decoration: none;
}


.ui-tabs li a, .ui-tabs li span {
	display: block;
	float: left;
	padding: 0.35em 1em 0;
	text-decoration: none;
	border: 1px solid #bfe1ff;
	top: 0;
	background: transparent;
	color: black
}

.ui-tabs li.current {
	background: #bfe1ff url(../images/common/tabs_active_bg.png) repeat-x 0 0;
	font-weight: bold;
}

.ui-tabs li.current a, .ui-tabs li.current span {
	color: #333;
	padding: 0.15em 1em;
	background: transparent;
}

.ui-tabs li.current:hover, .ui-tabs li.current a:hover {
	background-color:transparent;
	text-decoration: none;
	background: #bfe1ff url(../images/common/tabs_active_bg.png) repeat-x 0 0;
}