<?xml version="1.0" encoding="UTF-8"?>

<web-app xmlns="http://java.sun.com/xml/ns/j2ee"
		 xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
		 xsi:schemaLocation="http://java.sun.com/xml/ns/j2ee http://java.sun.com/xml/ns/j2ee/web-app_2_4.xsd"
		 version="2.4">

	<servlet>
		<servlet-name>bi.report</servlet-name>
		<servlet-class>com.liferay.portal.bi.reporting.jasper.servlet.JasperReportServlet
		</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>bi.report</servlet-name>
		<url-pattern>/report</url-pattern>
	</servlet-mapping>
	<context-param>
		<param-name>contextConfigLocation</param-name>
		<param-value>/WEB-INF/**/*spring.xml</param-value>
	</context-param>
	<listener>
		<listener-class>com.liferay.portal.kernel.spring.context.PortletContextLoaderListener</listener-class>
	</listener>

</web-app>
