<div id="navigation" class="sort-pages modify-pages">
	<ul>
		#set ($size = $nav_items.size())
		#foreach ($nav_item in $nav_items)
			#set ($nav_item_class = "")
			#if ($velocityCount == 1)
				#set ($nav_item_class = "$nav_item_class first")
			#end
			#if ($velocityCount == $size)
				#set ($nav_item_class = "$nav_item_class last")
			#end
			#if ($nav_item.isSelected())
				#set ($nav_item_class = "$nav_item_class selected")
			#end

			<li class="$nav_item_class">
				<a href="$nav_item.getURL()" $nav_item.getTarget()><span>$nav_item.getName()</span></a>

				#if ($nav_item.hasChildren())
					<ul class="child-menu">
						#foreach ($nav_child in $nav_item.getChildren())
							#if ($nav_child.isSelected())
								#set ($nav_child_class = "selected")
							#else
								#set ($nav_child_class = "")
							#end

							<li class="$nav_child_class">
								<a href="$nav_child.getURL()" $nav_child.getTarget()>$nav_child.getName()</a>
							</li>
						#end
					</ul>
				#end
			</li>
			#set ($velocityCount = $velocityCount + 1)
		#end
	</ul>
</div>