@import url(color_schemes/day.css);

/* -------- Global -------- */

#skip-to-content,
#heading .community-title,
#heading .page-title,
#navigation h1 {
	clip: rect(0 0 0 0);
	position: absolute;
}

#banner,
#content,
#footer {
	margin: 0 auto;
}
	
body {
	background: #1C3240 url(../images/custom/bg.png) 100% 0 repeat-x;
}

body.signed-in {
	background-position: 0 31px;
}

/* -------- Wrapper / Skip / Banner / Sign-in -------- */

#skip-to-content,
#sign-in {
	color: #FFF;
	top: 1.5em;
}

#skip-to-content {
	display: none;
	left: 2em;
}

#skip-to-content:active,
#skip-to-content:focus {
	clip: auto;
}

#banner {
	background: url(../images/custom/nav-light.png) 100% 38px no-repeat;
	height: 144px;
	width: 960px;
}

.ie6 #banner {
	background-image: none;
}

#sign-in {
	color: #FFF;
	float: right;
	font: 12px Arial, Verdana, sans-serif;
	padding: 8px 0 0;
	text-decoration: none;
}

/* -------- Heading -------- */

#heading .company-title,
#heading .logo {
	float: left;
}

#heading .company-title {
	margin: 0;
}

#heading .logo {
	margin: 56px 0 0;
}

/* -------- Navigation -------- */

#navigation {
	float: left;
	font: 16px Gill Sans, Arial, sans-serif;
	left: 10px;
	margin: 0 0 0 40px;
	position: relative;
	top: 33px;
}

#navigation ul {
	list-style: none;
	margin: 0;
}

.ie6 #navigation ul,
.ie7 #navigation ul {
	zoom: 1;
}

#navigation ul:after {
	clear: both;
	content: ".";
	display: block;
	height: 0;
	line-height: 0;
	visibility: hidden;
}

#navigation li {
	float: left;
	text-transform: uppercase;
}

#navigation a {
	color: #FFF;
	display: block;
	padding: 40px 17px;
	text-decoration: none;
}

#navigation .selected a {
	background: url(../images/custom/nav-selected.png) 100% 5px repeat-x;
}

.ie6 #navigation .selected a {
	background: #2F2F2F none;
}	

#navigation span {
	text-shadow: 1px 1px #000;
}

#navigation a:hover span {
	color: #5FADDB;
}

/* -------- Content -------- */

#content {
	position: relative;
	top: 25px;
	padding: 0 0 30px;
	width: 970px;
}

#breadcrumbs {
	display: none;
}

/* -------- Portlet -------- */

.portlet {
	-moz-box-shadow: 0px 2px 10px #000;
	-webkit-box-shadow: 0px 2px 10px #000;
	margin: 0 5px 20px;
}

.portlet a {
	color: #FFF;
	text-decoration: none;
}

.portlet a.selected {
	color: #FFF;
}

.portlet a:hover {
	color: #5FADDB;
}

.portlet-topper {
	background: url(../images/custom/port-topper.png) repeat-x;
	color: #FFF;
	font: 12px Arial, Verdana, sans-serif;
	height: 35px;
}

.portlet-topper-toolbar {
	top: 7px;
}

.portlet-content {
	background: #141414 url(../images/custom/port-body.png) repeat;
}

.ie6 .portlet-content {
	background-image: none;
}

.portlet-body {
	color: #FFF;
}

.portlet-title {
	padding: 10px 0 0 7px;
}

.portlet-title-text {
	padding: 0 0 0 4px;
}

.portlet-icons {
	background: #FFF;
}

/* -------- Tabs -------- */

.aui-tab-active .aui-tab-label a,
.aui-tab-active .aui-tab-label a:visited {
	color: #FFF;
	text-shadow: none;
}

.aui-tab-active:after {
    display: none;
}

.portlet-communities .lfr-current-theme,
.portlet-communities .lfr-current-theme h3,
.portlet-enterprise-admin .lfr-current-theme h3,
.portlet-communities .lfr-current-theme,
.portlet-enterprise-admin .lfr-current-theme,
.portlet-communities .lfr-available-themes h3,
.portlet-enterprise-admin .lfr-available-themes h3,
.aui-tree-node-selected,
.portlet-login .navigation {
	background: none;
}

/* -------- Extra Settings -------- */

.page-extra-settings .lfr-extended .lfr-panel-content,
.aui-helper-unselectable, .aui-helper-unselectable * {
	color: #141414;
}

.lfr-add-content h2 span,
.lfr-portlet-item p {
	color: #000;
}

/* -------- Footer -------- */

#footer {
	background: url(../images/custom/footer-bg.png) repeat;
	color: #FFF;
	font: 12px Arial, Verdana, sans-serif;
	width: 960px;
}

.ie6 #footer {
	background-image: none;
}

#footer p {
	padding: 15px;
}

.ie7 #footer p {
	padding: 5px 0 0;
}

#footer p a {
	color: #FFF;
	text-decoration: none;
}