/* This file allows you to override default styles in one central location for easier upgrade and maintenance. */


/* ---- GLOBAL ---- */

a {
	color: #000;
}

body {
	background: #E8F7F9 url(../images/common/background.png) repeat-x top center;
	color: #222;
}

#footer {
	background: url(../images/common/footer_bg.jpg) no-repeat;
	height: 100px;
}

#wrapper {
	background: #FFF;
	margin: 0 auto;
	width: 900px;
}

#content-wrapper {
	width: 100%
}

/* ---- BANNER ---- */

#banner {
	background: url(../images/common/banner_bg.jpg) no-repeat;
	height: 140px;
	position: relative;
	top: 0;
}


/* ---- NAVIGATION ---- */

.js #add-page a {
	color: #FFF;
}

.js #add-page {
	bottom: auto;
	float: right;
	font-weight: bold;
	padding-top: 4px;
	right: 0;
	top: 0;
	background:transparent none repeat scroll 0 0;
	border:medium none;
}

.js #navigation .enter-page {
	background: none;
	padding: 4px;
}

#navigation li a span {
	background: none;
	padding: 0;
}

#navigation li a {
	background: none;
	color: #FFF;
	font-size: 11px;
	padding: 0;
}

#navigation li.selected a, #navigation li a:hover {
	background-color:transparent;
}

#navigation li a:hover span {
	background: none;
}

#navigation li a:hover {
	padding-bottom: 0;
}

#navigation li {
	background: none;
	margin-right: 1px;
	overflow: hidden;
}

#navigation li.selected a span {
	background: none;
	font-size: 1em;
	padding: 0;
}

#navigation li.selected a {
	padding: 0;
	padding:8px 15px;
}

#navigation li.selected a:hover {
	padding-bottom: 0;
}

#navigation li.selected {
	background: url(../images/navigation/navigation_hover.png) no-repeat 50% 100%;
}

#navigation {
	background: url(../images/navigation/navigation_bg.png) no-repeat;
	height: 35px;
	margin: 0;
	padding: 0;
	width: 100%;
}

#navigation li a {
	padding:8px 15px;
}
/* ---- PORTLET ---- */

.portlet, .portlet-topper, .portlet-content, .portlet-title {
	background: none;
}

.portlet-content {
	border-top: 1px dashed #B4C835;
}

.portlet-section-body td {
	background: #D9F0F4 none;
}

.portlet-section-header th {
	border-bottom: 1px solid #8DB2E3;
}

.portlet-section-header {
	background: #B9E4EA none;
}

.portlet-title img {
	display: none;
}

.portlet-title {
	color: #ABC229;
	font-size: 16px;
}


/* ---- TABS ---- */

.ie .tabs li {
	top: 0.2em;
}

.ie .tabs li.current {
	top: 0.2em;
}

.liferay-table {
	font: 10px/10px Arial;
}

.tabs li a, .tabs li span {
	background: url(../images/navigation/navigation_bg.png);
	color: #FFF;
	padding: 0.15em 1em 0;
}

.tabs li {
	font: 10px/2.25em Arial;
}

.tabs li.current a, .tabs li.current span {
	background: url(../images/navigation/navigation_bg.png) bottom;
	color: #FFF;
	padding: 0.1em 1em;
}

.tabs li.current {
	top: 0;
}

.tabs {
	border-bottom: 1px solid #222;
	padding: 0 0 18px 1em;
}