#banner {
	background: #D9EBFD url(../images/common/top.jpg) repeat-x scroll 0;
	border-bottom: 1px solid #89C8FF;
	margin-bottom: 1em;
	min-height: 120px;
	position: relative;
}

.js #add-page a {
	color: #FFF;
}

.js .interactive-mode {
	position: absolute;
	top: 12px;
}

.portlet-title {
	color: white;
	display: block;
	font-weight: bold;
	min-width: 50%;
	padding: 8px 0 4px 10px;
}

.portlet-topper {
	background: url(../images/common/portletheader.png) 0 0;
}

.portlet {
	border: 2px solid #64ACDF;
}