#if ($has_navigation && $nav_items.get(0).isSelected())
	#set ($css_class = $css_class + " home-page")
#end

#set ($show_breadcrumbs = $getterUtil.getBoolean($!theme_display.getThemeSetting('show-breadcrumbs')))
#set ($social_footer = $journalContentUtil.getContent($group_id, 'SOCIAL-FOOTER', null, "$locale", $theme_display))