/* Global */
html {
	overflow-y: scroll;
}

body {
	background: #F9F9F7 url(../images/custom/page_bg_1.png) repeat-x center top;
	color: #8C8C73;
	font-family: trebuchet ms,  helvetica,  sans-serif;
	font-size: 11px;
	height: auto;
	line-height: 18px;
}

#banner .logo a {
	color: #FFF;
	font-size: 23px;
	font-weight: normal;
	left: 20px;
	position: absolute;
	text-decoration: none;
	top: 36px;
}

#banner .logo {
	background: #FF7800 url(../images/custom/banner_bg_2.png) repeat-x;
	color: #FFF;
	display: block;
	height: 92px;
	margin: 0;
	position: absolute;
	top: 13px;
	left: 25px;
	width: 432px;
}

#banner {
	background: transparent url(../images/custom/banner_bg_1.jpg) no-repeat 464px 13px;
	border: 0 none;
	height: 105px;
	position: relative;
	top: 0;
}

#content-wrapper {
	margin: 0 auto;
	width: 905px;
}

#footer a {
	color: #8C8C73;
}

#footer {
	background: none;
	color: #A8A88D;
	display: block;
	font-size: 11px;
	height: 66px;
	margin: 0 30px;
	padding: 26px 0 0;
	text-align: center;
}

#wrapper {
	background: url(../images/custom/wrapper_bg.png) no-repeat top center;
	border: 0 solid #CCC;
	margin: 0 auto;
	width: 947px;
}

/* Dock */
.js .interactive-mode h2 span {
	border: none;
}

.js .interactive-mode h2 {
	background: url(/terrafirma-theme/images/custom/menu_bar.png) no-repeat 100% -30px;
	font-size: 1.2em;
	margin-bottom: 0;
	padding: 0 29px 0 0pt;
	position: relative;
	z-index: 82;
}

.js .lfr-dock.interactive-mode h2, .js .lfr-dock.interactive-mode h2 span {
	background: url(../images/custom/menu_bar.png);
}

.js .lfr-dock.interactive-mode ul {
	background: url(../images/custom/menu_bg.png);
	border: 0;
}

.js .lfr-dock.interactive-mode {
	top: 27px;
}

/* Navigation */
.js #add-page {
	border: none;
	position: absolute;
	right: 0;
}

.js #navigation .enter-page .save-page {
	color: black;
}

.js #navigation .enter-page {
	background: transparent;
	padding: 4px;
	margin-top:7px;
}

.js #navigation .enter-page:hover {
	background: #FFF url(../images/custom/bg_2.png) repeat-x center top;
}

.js .delete-tab {
	background: transparent url(../images/custom/remove.png) no-repeat 42% 50%;
	right: 6px;
	top: 12px;
}

#navigation li {
	border: none;
}

#navigation li.selected a span {
	padding-left: 0;
}

#navigation ul li a span, #navigation ul li.selected a span, #navigation ul li a:hover span, #navigation ul li.selected a:hover span, #add-page a span {
	font-weight: bold;
	margin: 0;
	padding: 0;
}

#navigation ul li a, #navigation ul li.selected a, #navigation ul li a:hover, #navigation ul li.selected a:hover, #add-page a {
	color: #FFF;
	display: block;
	font-size: 12px;
	margin: 9px 0 9px 8px;
	padding: 8px;
	text-decoration: none;
}

#navigation ul li a:hover, #navigation ul li.selected a:hover {
	background: #FFF url(../images/custom/bg_2.png) repeat-x center top;
	color: #4A4A24;
	text-decoration: none;
}

#navigation ul li {
	margin: 0;
}

#navigation ul {
	margin: 0;
}

#navigation {
	background: #46461F url(../images/custom/bg_1.png) repeat-x;
	border: none;
	height: 52px;
	margin: 6px 24px;
	position: relative;
	width: auto;
}

/* Portlet */
.portlet-topper {
	background: url(../images/custom/portlet_title_bg.png) repeat-x scroll center bottom;
	border: none;
}

.portlet-title {
	color: #656551;
	font-size: 18px;
	font-weight: bold;
	letter-spacing: -1px;
	line-height: 25px;
	margin-bottom: 20px;
	padding-bottom: 10px;
	top: 4px;
}

#portlet-wrapper- {
	margin: 0 30px;
}

.portlet {
	background: #FFF url(../images/custom/portlet_bg.png) repeat-x scroll center bottom;
	border: 0;
	margin: 18px 0;
}

/* Liferay UI */
.ui-tabs li a, .tabs li span {
	background:#46461F url(../images/custom/bg_1.png) repeat-x;
	border-right: none;
	top:0;
}

.ui-tabs li a:hover, .ui-tabs li span:hover {
	background:#FFFFFF url(../images/custom/bg_2.png) repeat-x center top;
	color: #000;
	text-decoration: none;
}

.ui-tabs li.current a, .ui-tabs li.current span {
	background: url(../images/custom/banner_bg_1.jpg) no-repeat right center;
	border: none;
	color: #000;
}