/* This file allows you to override default styles in one central location for easier upgrade and maintenance. */

/* This file allows you to override default styles in one central location for easier upgrade and maintenance. */

/* Reset Insignificant Styles */
html {
 overflow-y : scroll ;
}
#wrapper , #banner , #banner .logo , #banner .logo a ,
#navigation , #navigation ul , #navigation ul li , #navigation li.selected ,
#navigation ul li a , #navigation li a span , #navigation ul li.selected a , #navigation ul li.selected a span , 
#navigation ul li a:hover , #navigation li a:hover span , #navigation ul li.selected a:hover , #navigation ul li.selected a:hover span ,
.js #add-page , .js #add-page a , .js #add-page a span , .js #add-page a:hover , .js #add-page a:hover span ,
.js #navigation .enter-page , .js #navigation .enter-page a , .js #navigation .enter-page a:hover ,
#content-wrapper , .portlet , .portlet-topper , .portlet-title , .portlet-content
{
 float : none ;
 margin : 0 ;
 padding : 0 ;
 padding-left : 0 ;
 width : auto ;
 min-width : 0 ;
 height : auto ;
 min-height : 0 ;
 background : transparent none no-repeat scroll 0% 0% ;
 font-size : 100% ;
 font-size-adjust : none ;
 font-stretch : normal ;
 font-style : normal ;
 font-variant : normal ;
 font-weight : normal ;
 text-indent : 0 ;
 text-decoration : none ;
 line-height : normal ;
}

/* Handy Defaults */
#banner , #navigation , #navigation ul , .portlet { background-color : transparent ; }
#wrapper , #banner , #navigation , #content-wrapper , 
.portlet , .portlet-topper , .portlet-title , .portlet-content { display : block ; }
#layout-grid .lfr-column  { margin : 0 ; padding : 0 ;}
.portlet-icons { top : 0 ; right : 0 ; }
.tabs { border : 0 ; }
/* What is Where?  Uncomment me to find out...
.portlet { background : #ccc ; margin : 12px 6px ; }
#banner , #navigation { background : #ccc ; margin : 12px 6px 0 6px ; }
*/


/* HiFi News */
body {
 margin : 0 ;
 padding : 0 ;
 background : transparent url('../images/custom/background.png') ;
 font-family : trebuchet MS,sans-serif;
 font-size : 100%;
}
#wrapper {
 background : transparent url('../images/custom/background-page-R.png') no-repeat top right ;
 height : 500px ;
 margin-left : 2% ;
 margin-right : 2% ;
 margin-top : -250px ;
 position : absolute ;
 top : 50% ;
 width : 96% ;
 overflow-x : hidden ;
 overflow-y : auto ;
}
#wrapper-extra {
 background : transparent url('../images/custom/background-page.png') no-repeat top left ;
 margin-right : 35px ;
 display : block ;
 height : 100% ;
}

#banner {
 display : block ;
 width : 32% ;
 height : 480px ;
 float : left ;
 background : transparent url('../images/custom/orangebackground.jpg') no-repeat scroll 0 0 ;
 margin : 10px 2% ;
 position : absolute ;
}
#banner .logo a {
 display : block ;
 color : #000 ;
 font-family : trebuchet MS,sans-serif ;
 font-weight : bold ;
 font-size : 22px ;
 margin : 200px 30px 0pt 0pt ;
 text-align : right ;
}
.js .lfr-dock.interactive-mode {
 top : 10px ;
 right : 10px ;
}
#navigation {
 display : block ;
 position : absolute ;
 margin : 4px 0 ;
 margin-left : 34% ;
 width : 17% ;
 height : 493px ;
 background : transparent url('../images/custom/separator.jpg') no-repeat scroll 0% 50% ;
 text-transform : lowercase ;
}
#navigation ul {
 list-style-image : none;
 list-style-position : outside;
 list-style-type : none;
 margin-left : 20px;
 margin-top : 108px;
}
#navigation ul li {
}
.js #add-page a span , .js #add-page a:hover span {
 margin-left : 20px;
}
#navigation ul li a span , #navigation ul li.selected a span ,
#navigation ul li a:hover span , #navigation ul li.selected a:hover span ,
.js #add-page a span , .js #add-page a:hover span
{
 display : block ;
 color : #000 ;
 font-size : 18px;
 font-weight : bold ;
 padding-bottom : 6px ;
 margin-bottom : 9px ;
 border-right : 5px solid #E29A5F ;
}
#navigation ul li a:hover span , #navigation ul li.selected a:hover span  , .js #add-page a:hover span
{
 border-right : 5px solid #1A658D ;
 color : #1A658D;
}
#content-wrapper , #portlet-wrapper- {
 background : transparent url('../images/custom/background-content.jpg') no-repeat ;
 display : block ;
 height : 476px ;
 margin : 10px 2% 10px 52% ;
 overflow-x : hidden ;
 overflow-y : hidden ;
 position : absolute ;
 width : 46% ;
}
#column-1 {
 width : 100% ;
 height : 476px ;
 background : transparent url('../images/custom/background-right.png') no-repeat top right ;
}

#column-1 .portlet { }
#column-2 .portlet { }
.portlet {
 margin : 12px 16px ;
}
.portlet-title {
 color : #1A658D ;
 font-size : 2em ;
 font-weight : bold ;
 margin-left : 10px ;
}
.portlet-content {
 margin : 5px 5px 0 ;
 text-align : justify ;
 text-indent : 1em ;
}
#footer {
}

.js .lfr-dock.interactive-mode h2 span {
 font-size : .8em ;
 line-height : 1em ;
}

.js .lfr-dock.interactive-mode ul {
 font-size : .7em ;
}

.js .lfr-dock.interactive-mode h2 ,
.js .lfr-dock.interactive-mode h2 span {
 background-image : url('../images/custom/menu_bar.png') ;
}