#banner .logo a {
	color: #000;
	display: block;
	font-family: trebuchet 'MS',sans-serif;
	font-size: 22px;
	font-weight: bold;
	margin: 200px 30px 0 0pt;
	text-align: right;
}

#banner {
	background: transparent url('../images/custom/orangebackground.jpg') no-repeat scroll 0 0;
	display: block;
	float: left;
	height: 480px;
	margin: 10px 2%;
	position: absolute;
	width: 32%;
}

#banner, #navigation, #navigation ul, .portlet {
	background-color: transparent;
}

body {
	background: transparent url('../images/custom/background.png');
	font-family: trebuchet 'MS',sans-serif;
	font-size: 100%;
	margin: 0;
	padding: 0;
}

#column-1 {
	background: transparent url('../images/custom/background-right.png') no-repeat top right;
	height: 476px;
	width: 100%;
}

#content-wrapper, #portlet-wrapper- {
	background: transparent url('../images/custom/background-content.jpg') no-repeat;
	display: block;
	height: 476px;
	margin: -490px 2% 10px 52%;
	overflow-x: hidden;
	overflow-y: auto;
	position: absolute;
	width: 46%;
}

html {
	overflow-y: scroll;
}

.ie #banner {
	margin-left: -33%;
}

.ie #wrapper-extra {
	margin-top: 0;
}

input[type="text"], input[type="password"], input[type="file"], input[type="submit"], input[type="button"], input[type="reset"], select, textarea, .textarea {
	width: 100px;
}

.js #add-page a span, .js #add-page a:hover span {
	margin-left: 20px;
}

.js #add-page a span {
	background: transparent;
}

.js #add-page {
	border: medium none;
	right: -2%;
	top: 4px;
	width: 130px;
}

.js #navigation .enter-page .save-page {
	background: transparent;
	border: none;
	margin: 0;
	position: absolute;
	right: 6px;
	top: 2px;
}

.js #navigation .enter-page a:hover {
	padding: 0;
}

.js #navigation .enter-page {
	margin-right: 55px;
}

.js .interactive-mode h2 {
	background: transparent url('/penchant-theme/images/dock/menu_bar.png') no-repeat scroll 100% -30px;
	padding: 0 29px 0 0pt;
}

.js .lfr-dock.interactive-mode h2 span {
	border: none;
	font-size: .8em;
	line-height: 1em;
}

.js .lfr-dock.interactive-mode h2,.js .lfr-dock.interactive-mode h2 span {
	background-image: url('../images/custom/menu_bar.png');
}

.js .lfr-dock.interactive-mode ul {
	font-size: .7em;
}

.js .lfr-dock.interactive-mode {
	right: 10px;
	top: 10px;
}

#layout-grid .lfr-column {
	margin: 0;
	padding: 0;
}

#navigation li {
	border: none;
}

#navigation li.selected a span {
	background: transparent;
	padding-left: 0;
}

#navigation li.selected a, #navigation li a:hover {
	background-color: transparent;
}

#navigation ul li a span, #navigation ul li.selected a span,#navigation ul li a:hover span, #navigation ul li.selected a:hover span {
	color: #000;
	display: block;
	font-size: 18px;
	font-weight: bold;
	margin-bottom: 9px;
	padding-bottom: 6px;
}

#navigation ul li a:hover span, #navigation ul li.selected a:hover span {
	color: #1A658D;
}

#navigation ul li {
}

#navigation ul {
	list-style-image: none;
	list-style-position: outside;
	list-style-type: none;
	margin-left: 20px;
	margin-top: 150px;
}

#navigation {
	background: transparent url('../images/custom/separator.png') no-repeat scroll 0 50%;
	display: block;
	height: 496px;
	margin: 4px 0;
	margin-left: 36%;
	position: absolute;
	text-transform: lowercase;
	width: 10%;
}

.portlet-content {
	margin: 5px 5px 0;
	text-align: justify;
	text-indent: 1em;
}

.portlet-icons {
	right: 0;
	top: 0;
}

.portlet-title {
	color: #1A658D;
	font-size: 2em;
	font-weight: bold;
	margin-left: 10px;
}

.portlet {
	border: 0;
	margin: 12px 16px;
}

.tabs li a, .tabs li span {
	height: auto;
	margin: 0;
}

.tabs li {
	height: auto;
	line-height: 1;
	margin: 2px 4px;
	padding: 2px;
	text-indent: 0;
}

.tabs li.current a, .tabs li.current span {
	padding: 0;
}

.tabs {
	border: 0;
}

#wrapper {
	background: transparent url('../images/custom/background-page-R.png') no-repeat top right;
	height: 500px;
	margin-left: 2%;
	margin-right: 2%;
	margin-top: -250px;
	overflow: hidden;
	position: absolute;
	top: 50%;
	width: 96%;
}

#wrapper, #banner, #navigation, #content-wrapper,.portlet, .portlet-topper, .portlet-title, .portlet-content {
	display: block;
}

#wrapper-extra {
	background: transparent url('../images/custom/background-page.png') no-repeat top left;
	display: block;
	height: 100%;
	margin-right: 35px;
	margin-top: -4px;
}