/* This file allows you to override default styles in one central location for easier upgrade and maintenance. */

/* -------- Global -------- */

body {
	background: #ACACAC url(../images/custom/body_bg.png) repeat-y center;
	font-family: "Helvetica Neue", Helvetica, Verdana, Arial, sans-serif;
	font-size: 12px;
}

/* -------- Wrapper -------- */

#wrapper {
	margin: 0 auto;
	padding: 0 0 0 3px;
	width: 1000px;
}

/* -------- Banner -------- */

#banner {
	background: url(../images/custom/banner_bg.jpg);
	height: 225px;
}

/* -------- Logo -------- */

.logo {
	background: url(../images/custom/logo_bg.jpg) no-repeat right;
	height: 225px;
	overflow: hidden;
}

.logo a {
	margin: 30px 0 0 30px;
}

.js .interactive-mode {
	right: 30px;
	top: 30px;
}

/* -------- Navigation -------- */

#navigation {
	background: url('../images/custom/navigation_bg.png') repeat;
	height: 39px;
	padding: 0 10px;
}

#navigation ul,
#add-page {
	float: left;
}

#navigation a {
	color: #FFF;
	display: block;
	font-size: 15px;
	font-weight: bold;
	padding: 9px 10px 6px;
	text-decoration: none;
}

#navigation a:hover {
	background: #006000;
	padding: 9px 10px 4px;
}

/* -------- Content Wrapper -------- */

#content-wrapper {
	padding: 0 10px;
}

.portlet-title {
    color: #006600;
    font-size: 22px;
    padding: 0 0 0 10px;
}

.portlet-title img {
    display: none;
}
