.social-networking-portlet-summary {
	.summary-container{
		&:after {
			clear: both;
			content: ".";
			display: block;
			height: 0;
			visibility: hidden;
		}

		h2 {
			color: #3D536C;
			font-size: 16px;
			margin-bottom: 10px;
			margin-top: 0;
		}

		img {
			margin: 5px 0;
			max-width: 120px;
		}

		p {
			margin-bottom: 10px;
		}

		span {
			color: #3D536C;
			font-size: 10px;
			font-weight: bold;
			text-transform: uppercase;
		}

		.user-profile-image {
			max-width: 180px;
		}

		.user-twitter-link {
			background: url(../images/twitter.png) no-repeat 0 50%;
			padding-left: 18px;
		}

		.add-as-friend.pending {
			background-image: url(@theme_image_path@/common/time.png);
		}

		.friend-requests.pending {
			background-image: url(@theme_image_path@/common/time.png);
		}

		.join-site.pending {
			background-image: url(@theme_image_path@/common/time.png);
		}

		.join-organization.pending {
			background-image: url(@theme_image_path@/common/time.png);
		}

		.add-as-friend, .join-organization, .join-site, .remove-friend, .remove-organization, .remove-site {
			margin: 0.7em auto 1em;
		}

		.view-icon {
			float: left;
		}

		.rss-icon {
			float: right;
		}

		.comma {
			display: none;
		}
	}
}

.ie .social-networking-portlet-summary {
	.summary-container {
		height: 1%;
	}

	.aui-helper-clearfix {
		-ie-exp: expression(!this.x?(this.innerHTML+='<br\ style=clear:both;font:0/0;>',this.x=1):void 0);
	}
}

.ie6 .social-networking-portlet-summary .summary-container {
	img {
		width: 120px;
	}

	.user-profile-image {
		width: expression(this.width > 180 : '180px' : 'auto');
	}
}