.lfr-asset-category-container {
	height: 260px;
	margin-bottom: 0.5em;
	overflow: auto;

	fieldset {
		margin: 5px;
	}

	legend {
		margin-left: 5px;
	}

	label {
		display: block;

		input {
			vertical-align: middle;
		}
	}

	.lfr-asset-category-message {
		display: none;
	}

	.no-matches {
		border-bottom-width: 0;
		border-left-width: 0;
		border-right-width: 0;
		margin-bottom: 0;
		margin-left: 5px;
		margin-top: 0;
		padding: 0;
	}
}

.lfr-asset-category-search-container {
	border-bottom: 1px solid transparent;
	margin: 3px 0;
	padding: 5px;
}

.lfr-asset-category-search-input {
	width: 250px;
}

.lfr-asset-vocabulary-container {
	.lfr-asset-category-message, &.no-matches .lfr-asset-category-list {
		display: none;
	}

	&.no-matches {
		legend {
			padding-left: 0;
		}

		.lfr-asset-category-message {
			display: block;
		}
	}
}

.lfr-asset-category-list-container {
	cursor: pointer;
}

.lfr-asset-category-list {
	ul {
		list-style: none;
		margin-top: 4px;
		padding: 0;
	}

	li {
		list-style-type: none;
		margin: 0;
		padding: 0 0 3px 16px;
	}

	span {
		padding-left: 3px;
	}
}

.lfr-categories-selector-list .tree-node-paginator {
	margin-left: 29px;
}

.lfr-categories-selector-category-name, .lfr-categories-selector-search-results-path {
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}

.lfr-categories-selector-category-name {
	float: left;
	width: 50%;
}

.lfr-categories-selector-search-results-path {
	float: right;
	width: 49%;
}

.lfr-categories-selector-search-results label:after {
	clear: both;
	content: ".";
	display: block;
	height: 0;
	visibility: hidden;
}

/* Skin */

.lfr-asset-category-container {
	.no-matches {
		color: #999;
	}
}

.lfr-asset-category-search-container {
	background-color: #D3DADD;
	border-bottom-color: #AEB8BC;
}

.lfr-asset-category-list a.selected {
	background-color: #EEE;
}

.lfr-categories-selector-search-results-path {
	color: #575757;
	font-size: 0.9em;
	text-align: right;
	width: 25%;
}