.lfr-panel-page {
	.portal-add-content {
		padding: 0;
		padding-left: 4px;
	}

	.panel-page-content {
		border-left: 1px solid transparent;
		padding-left: 1em;
	}

	.lfr-add-content {
		h2 {
			border: 1px solid transparent;
			border-right-width: 0;
			padding: 1px;

			span {
				display: block;
				padding: 2px;
				padding-left: 5px;
			}
		}

		.lfr-content-category h2 {
			border-width: 0;
			border-bottom: 1px solid transparent;
		}
	}

	&.panel-page-frontpage .panel-page-content h2 {
		margin-top: 0;
	}
}

/* Skin */

.lfr-panel-page {
	.panel-page-content {
		border-left-color: #CCC;
	}

	.lfr-add-content {
		h2 {
			border-color: #CCC;

			span {
				background: #EFEFEF;
			}
		}

		.lfr-content-category h2 {
			border-bottom-color: #CCC;

			span {
				background: none;
			}
		}
	}
}