.lfr-toolbar {
	padding-top: 3px;

	&:after {
		clear: both;
		content: ".";
		display: block;
		height: 0;
		visibility: hidden;
	}

	.lfr-button {
		&:focus, &:hover {
			border: 1px solid transparent;
		}

		img {
			vertical-align: text-top;
		}
	}

	.lfr-separator {
		border-left: 1px solid transparent;
		border-right: 1px solid transparent;
		height: 25px;
		margin: 0 5px;
	}

	select {
		margin: 0 5px;
	}
}

.lfr-toolbar, .lfr-emoticon-container {
	.lfr-button {
		border: 1px solid transparent;
		cursor: pointer;
		margin: 0 2px;
		padding: 2px 4px;
	}
}

.lfr-toolbar select, .lfr-toolbar .lfr-button, .lfr-toolbar .lfr-separator, .lfr-emoticon-container .lfr-button {
	float: left;
}

.lfr-emoticon-container {
	border: 1px solid transparent;
	padding-top: 5px;
	overflow: hidden;
	width: 180px;

	.lfr-button {
		margin: 0;
	}
}

.ie .lfr-toolbar {
	height: 1%;

	select {
		margin-top: 3px;
	}
}

.ie6 .lfr-toolbar {
	width: 750px;
}

/* Skin */

.lfr-toolbar {
	background-color: #e5e4e8;

	.lfr-button {
		&:focus {
			border-color: #000;
		}

		&:hover {
			border-color: #ccc;
			border-bottom-color: #777;
			border-right-color: #777;
		}
	}

	.lfr-separator {
		border-left-color: #fff;
		border-right-color: #ccc;
		font-size: 12px;
	}
}

.lfr-toolbar, .lfr-emoticon-container {
	.lfr-button {
		border-color: #e5e4e8;
	}
}

.lfr-emoticon-container {
	background: #e5e4e8;
	border-color: #ccc;
}