.sample-icefaces-portlet .icePnlClpsblCnt {
	padding-top: 6px;
	padding-bottom: 6px;
}
	
.sample-icefaces-portlet .iceDatTbl {
	margin: 0px;
}

.sample-icefaces-portlet .iceOutConStat {
	margin: 0px;
}

.sample-icefaces-portlet .iceSelOneMnu {
	padding: 1px 1px 1px 1px;
}

.sample-icefaces-portlet .iceInpTxt {
	margin: 0px;
}

.sample-icefaces-portlet .iceOutLbl {
	padding: 1px 4px 1px 0px;
}
