.sample-icefaces-portlet .icePnlClpsbl, .sample-icefaces-portlet .icePnlClpsblColpsd {
	padding: 5px 5px 5px 5px;
}

.sample-icefaces-portlet .icePnlClpsblHdr div, .icePnlClpsblHdr-dis div {
    background-repeat: no-repeat;
    background-position: left top;
    height: 17px;
	background-image: url( "../images/icefaces-showcase/arrowDown.gif" );
}

.sample-icefaces-portlet .icePnlClpsblHdr span, .icePnlClpsblHdr-dis span {
	color: #111552;
	font-style: italic;
	padding-left: 20px;
}

.sample-icefaces-portlet .icePnlClpsblColpsdHdr div, .icePnlClpsblColpsdHdr-dis div{
    background-repeat: no-repeat;
    background-position: left top;
    height: 17px;
	background-image: url( "../images/icefaces-showcase/arrowCollapsed.gif" );
}

.sample-icefaces-portlet .icePnlClpsblColpsdHdr span, .icePnlClpsblColpsdHdr-dis span{
	color: #111552;
	font-style: italic;
	padding-left: 20px;
}