/* -------- Global -------- */

#skip-to-content,
#heading .community-title,
#heading .page-title,
#navigation h1 {
	clip: rect(0 0 0 0);
	position: absolute;
}

html {
	background: #2B861F url(../images/custom/html_bg.jpg) repeat-x scroll center bottom;
	min-height: 100%;
}

body {
	background: url(../images/custom/body_bg.jpg) repeat-x scroll center top;
}

/* -------- Wrapper / Skip / Sign-in -------- */

#wrapper {
	margin: 0 auto;
	padding: 50px;
	position: relative;
}

#skip-to-content,
#sign-in {
	color: #FFF;
	top: 1.5em;
}

#skip-to-content {
	left: 2em;
}

#skip-to-content:active,
#skip-to-content:focus {
	clip: auto;
}

#sign-in {
	position: absolute;
	right: 2em;
}

/* -------- Heading -------- */

#heading .company-title {
	margin: 0;
	padding: 0 0 80px;
}

.signed-in #heading .company-title {
	padding: 0 0 60px;
}

#heading .company-title a {
	margin: 0 auto;
}

/* -------- Navigation -------- */

#navigation {
	height: 20px;
}

#navigation ul {
	list-style: none;
	margin: 0;
}

.ie6 #navigation ul,
.ie7 #navigation ul {
	zoom: 1;
}

#navigation ul:after {
	clear: both;
	content: "";
	display: block;
}

#navigation li,
#navigation a {
	float: left;
}

#navigation a {
	color: #EEE;
	padding: 0 20px;
	text-decoration: none;
}

#navigation a:active,
#navigation a:focus,
#navigation a:hover {
	border-bottom: 2px solid #97DB8C;
	color: #FFF;
}

/* -------- Content -------- */

#content {
	padding: 15px 0 0;
}

#breadcrumbs {
	display: none;
}

.portlet,
.portlet-topper,
.portlet-content,
.portlet-title {
	background: transparent url(../images/custom/portlet_bg.png) no-repeat bottom right;
}

.portlet {
	margin: 0 0 10px;
	padding: 0 10px 0 0;
	text-align: left;
}

.portlet-topper {
	background-position: right top;
	margin: 0 -10px 0 0;
	padding: 0 10px 0 0;
}

.portlet-title {
	background-position: top left;
	color: #FEC;
	font: normal 18px Tahoma, Arial, sans-serif;
	height: 35px;
	padding: 10px 15px;
}

.portlet-title img {
	display: none;
}

.portlet-content {
	background-position: left bottom;
	font: 12px "Lucida Sans Unicode", "Lucida Grande", sans-serif;
	padding: 15px 25px;
}

/* -------- Footer -------- */

#footer p {
	margin: 0;
}