/* This file allows you to override default styles in one central location for easier upgrade and maintenance. */

#skip-to-content,
#banner h2,
#banner h3,
#navigation h1,
.site-breadcrumbs h1 {
	clip: rect(0 0 0 0);
	position: absolute;
}

.site-breadcrumbs ul,
.site-breadcrumbs ul li {
	margin: 0;
	padding: 10px 0;
}

.site-breadcrumbs ul li {
	display: block;
	float: left;
}

.site-breadcrumbs ul li a {
	background: url(../images/common/breadcrumbs.png) no-repeat 100% 50%;
	color: #CCC;
	padding: 0 10px;
	text-decoration: none;
}

.site-breadcrumbs li.last a {
	background: none;
}

#sign-in {
	color: #FFF;
	position: absolute;
	right: 30px;
	top: 30px;
}

/* ---------- Base ---------- */

body {
	background: #FFF;
	font: 11px Arial, sans-serif;
}

a:hover {
	color: #369;
}

/* ---------- Wrapper ---------- */

#wrapper {
	margin: 0 auto;
}

/* ---------- Banner ---------- */

#heading {
	background: url(../images/custom/banner_bg.png) repeat-x;
	position: relative;
}

#heading #sign-in {
	color: #FFF;
	position: absolute;
	right: 20px;
	top: 20px;
}

/* ---------- Logo ---------- */

#banner h1 {
	margin: 0;
}

#banner h1 .logo {
	height: 115px;
	margin: 0 auto;
	width: 1024px;
}

#banner a.logo {
	position: relative;
	top: 15px;
}

/* ---------- Navigation ---------- */

#navigation {
	background: #4E3318;
}

#navigation ul {
	color: #FFF;
	font-size: 1.1em;
	font-weight: bold;
	list-style: none;
	margin: 0 auto;
	min-height: 2em;
	position: relative;
	text-transform: uppercase;
	width: 1024px;
}

#navigation ul:after {
	clear: both;
	content: ".";
	display: block;
	height: 0;
	line-height: 0;
	visibility: hidden;
}

.ie6 #navigation ul,
.ie7 #navigation ul {
	height: 1%;
}

#navigation li,
#navigation a {
	float: left;
	line-height: 30px;
	position: relative;
}

#navigation a:hover {
	background: url(../images/custom/navigation_item_hover.png) no-repeat 50% 100%;
}

#navigation a {
	color: #FFF;
	height: 30px;
	padding: 8px 20px;
	text-decoration: none;
}

#navigation .selected a,
#navigation .selected a:hover {
	background: url(../images/custom/navigation_item_selected.png) no-repeat 50% 100%;
}

.child-menu {
	display: none;
}

/* ---------- Content Wrapper ---------- */

#content {
	margin: 0 auto;
	width: 1024px;
}

/* ---------- Portlet ---------- */

.portlet {
	border: none;
	margin: 10px;
	padding: 0;
}

.portlet-topper {
	background: #88715A url(../images/custom/portlet_topper_right_bg.png) 100% 0 no-repeat;
	height: 26px;
}

.portlet-title {
	background: url(../images/custom/portlet_topper_left_bg.png) no-repeat;
	color: #222;
	font-size: 1.2em;
	padding: 6px 0 0 10px;
}

.portlet-content {
	border: 1px solid #CCC;
	border-top: none;
}

#footer {
	margin: 0 auto;
	position: relative;
	width: 1024px;
}

#footer .powered-by {
	margin-left: 10px;
}