/* ---------- Base ---------- */

body {
	background: #FFF;
	font: 11px Arial, sans-serif;
}

a:hover {
	color: #369;
}

/* ---------- Wrapper ---------- */

#wrapper {
	margin: 0 auto;
}

/* ---------- Banner ---------- */

#banner {
	background: url(../images/custom/banner_bg.png) repeat-x;
}

/* ---------- Logo ---------- */

#banner .logo {
	height: 115px;
	margin: 0 auto;
	width: 1024px;
}

#banner .logo a {
	position: relative;
	top: 15%;
}

/* ---------- Dock ---------- */

.js .interactive-mode {
	background: none;
	right: 0;
	top: 85px;
	width: 160px;
}

.js .interactive-mode h2 span {
	background: none;
	border: 0;
	color: #69C;
	padding: 10px 0 0;
	text-align: center;
}

.js .interactive-mode h2 {
	background: url(../images/custom/dock_bg.png) 0 100% transparent;
	height: 30px;
	padding: 0 5px;
}

.lfr-dock .user-greeting span {
	line-height: 1.5em;
}

/* ---------- Navigation ---------- */

#navigation {
	background: #4E3318;
}

#navigation a {
	color: #FFF;
	height: 30px;
	padding: 8px 20px;
	text-decoration: none;
}
	
#navigation li {
	line-height: 30px;
}

#navigation li a:hover {
	background: url(../images/custom/navigation_item_hover.png) no-repeat 50% 100%;
}	

#navigation .selected a,
#navigation .selected a:hover {
	background: url(../images/custom/navigation_item_selected.png) no-repeat 50% 100%;
}

#navigation  ul {
	color: #FFF;
	font-weight: bold;
	font-size: 1.1em;
	min-height: 2em;
	position: relative;
	text-transform: uppercase;
	width: 1024px;
}

#add-page a{
	background: url(../images/custom/add_page_bg.png) no-repeat;
	font-weight: bold;
	height: 24px;
	padding: 0;
	position: absolute;
	right: 0;
	text-align: center;
	width: 110px;
	z-index: 18;
}

#add-page a:hover {
	background: url(../images/custom/add_page_hover_bg.png) no-repeat;
}

.ie7 .save-page {
	position: relative;
	top: -5px;
}

.enter-page .cancel-page {
	display: none;
}

/* ---------- Content Wrapper ---------- */

#content-wrapper {
	margin: 0 auto;
	width: 1024px;
}

#column-center {
	padding: 0px;
}

/* ---------- Portlet ---------- */

.portlet {
	border: none;
	margin: 10px;
	padding: 0;
}

.portlet-topper {
	background: #88715A url(../images/custom/portlet_topper_right_bg.png) 100% 0 no-repeat;
	height: 26px;
}

.portlet-title {
	background: url(../images/custom/portlet_topper_left_bg.png) no-repeat;
	color: #222;
	font-size: 1.2em;
	padding: 6px 0 0 10px;
}

.portlet-content {
	border: 1px solid #CCC;
	border-top:none;
}

#content-wrapper a:hover {
	text-decoration: none;
}

.portlet-communities .lfr-theme-list h3 {
	background-color: #88715A;
}

.portlet-communities .lfr-current-theme {
	background-color: #FFFDD3;
}

.portlet-calendar .calendar-day .day-text,
.portlet-calendar .results-header {
	background-color: #7AD;
}

.taglib-calendar tr td a:hover {
	background: #F0F5F7;
	color: #369;
	text-decoration: none;
}

.lfr-actions.portlet-options .lfr-trigger {
	position: relative;
	right: 2px;
}

/* ---------- Tabs ---------- */

.ui-tabs li a,
.tabs li span {
	background: #FFF none;
	border: 0;
	color: #222;
}

.ui-tabs li.current a:hover {
	color: #369;
}

.ui-tabs li a:hover,
.ui-tabs li span:hover {
	background: url(../images/custom/tabs_hover.png) no-repeat 50% 100%;
	color: #222;
}