/* -------- Global -------- */

#skip-to-content,
#heading .community-title,
#heading .page-title,
#navigation h1,
#navigation .child-menu,
#breadcrumbs h1 {
	clip: rect(0 0 0 0);
	position: absolute;
}

body {
	font: 11px Arial, sans-serif;
}

/* -------- Wrapper / Skip / Sign-in -------- */

#wrapper {
	margin: 0 auto;
	position: relative;
}

#skip-to-content,
#sign-in {
	color: #FFF;
	right: 2em;
}

#skip-to-content {
	top: 3em;
	z-index: 1;
}

#skip-to-content:active,
#skip-to-content:focus {
	clip: auto;
}

#sign-in {
	position: absolute;
	top: 1.5em;
}

/* -------- Heading -------- */

#heading {
	background: #8F6031 url(../images/custom/heading_bg.png) repeat-x;
	position: relative;
}

#heading .company-title {
	height: 115px;
	margin: 0 auto;
	padding: 15px;
	width: 1024px;
}

#heading .company-title a {
	margin: 0 auto;
}

/* -------- Navigation -------- */

#navigation {
	background: #4E3318;
}

#navigation ul {
	list-style: none;
	margin: 0;
}

.ie6 #navigation ul,
.ie7 #navigation ul {
	zoom: 1;
}

#navigation ul:after {
	clear: both;
	content: ".";
	display: block;
	height: 0;
	line-height: 0;
	visibility: hidden;
}

#navigation li,
#navigation a {
	float: left;
	line-height: 30px;
}

#navigation a {
	color: #FFF;
	font-size: 1.1em;
	padding: 8px 20px;
	text-decoration: none;
	text-transform: uppercase;
}

#navigation a:active,
#navigation a:focus,
#navigation a:hover {
	background: url(../images/custom/navigation_item_hover.png) no-repeat 50% 100%;
}

#navigation .selected a,
#navigation .selected a:hover {
	background: url(../images/custom/navigation_item_selected.png) no-repeat 50% 100%;
}

/* -------- Content -------- */

#content {
	margin: 0 auto;
	width: 1024px;
}

#breadcrumbs {
	display: none;
}

/* ---------- Portlet ---------- */

.portlet {
	border: none;
	margin: 10px;
	padding: 0;
}

.portlet-topper {
	background: #88715A url(../images/custom/portlet_topper_right_bg.png) 100% 0 no-repeat;
	height: 26px;
}

.portlet-title {
	background: url(../images/custom/portlet_topper_left_bg.png) no-repeat;
	color: #222;
	font-size: 1.2em;
	padding: 6px 0 0 10px;
}

.portlet-content {
	border: 1px solid #CCC;
	border-top: none;
}

/* -------- Tabs -------- */

.ie6 .aui-tabview-list {
	position: relative;
}

/* -------- Footer -------- */

#footer {
	margin: 0 auto;
	width: 1024px;
}

#footer p {
	margin: 0;
}