@import "compass";

.opensocial-portlet-editor {
	.gadget-editor-content {
		height: 600px;
	}

	.aui-tree-view-editor {
		background: #FFF;
		height: 100%;
	}

	.tree-view-editor-column {
		float: left;
		height: 100%;
		width: 20%;
	}

	.main-editor-column {
		float: right;
		height: 100%;
		width: 80%;
	}

	.aui-tree-view-editor .aui-tree-node, .aui-tree-label {
		cursor: pointer;
	}

	.aui-tree-view-editor {
		.aui-tree-node-selected {
			background: #F0FCFF;

			.aui-tree-label {
				font-weight: normal;
			}
		}

		.aui-tree-label:hover {
			color: #06C;
		}

		.aui-tree-node {
			.aui-tree-node-loaded {
				color: #06C;
				font-weight: bold;
				text-decoration: underline;
			}

			.aui-tree-node-loaded .aui-tree-label {
				font-weight: bold;
			}
		}
	}

	.aui-tabview-list .aui-tab-content .gadget-editor-tab-close, .aui-tree-node-content:hover .gadget-editor-tree-node-contextmenuicon, .gadget-editor-tree-node-contextmenuicon-open {
		background-repeat: no-repeat;
		float: right;
		height: 16px;
		width: 16px;
	}

	.aui-tree-node-content:hover .gadget-editor-tree-node-contextmenuicon {
		background-image: url(../images/tool.png);
	}
}

.gadget-editor-contextmenu-toolbar {
	background: #EEF0F2;
}

.aui-editable {
	z-index: 1;
}

.opensocial-portlet-editor {
	.main-editor-column-resize {
		padding-left: 8px;
	}

	.main-editor-column-resize-proxy {
		border-width: 0;
		border-left: 1px dashed black;
	}

	.preview-panel-resize-proxy {
		border-width: 0;
		border-top: 1px dashed black;
	}

	.gadget-editor-tree-node-contextmenuicon-open {
		background-image: url(../images/tool.png);
	}

	.aui-panel-bd {
		background: #FFFFFF;
		overflow: auto;
	}

	.aui-tabview-list {
		.aui-tab-content:hover {
			background: #D3D3D3;
		}

		.aui-tab-active .aui-tab-content:hover {
			background: none;
			color: #D3D3D3;
		}

		.aui-tab-content {
			.gadget-editor-tab-close {
				background-image: url(../images/close.png);

				@include opacity(0.4);

				&:hover {
					@include opacity(1);
				}
			}
		}
	}

	.aui-tabview-list, .aui-tabview-list-content {
		margin-bottom: 0px;
	}

	.preview-panel {
		padding-top: 8px;
	}

	.aui-gadget {
		height: 100%;
		width: 100%;
	}
}

.aui-icon-gadgeteditor-addfile, .aui-icon-gadgeteditor-addfolder, .aui-icon-gadgeteditor-close, .aui-icon-gadgeteditor-delete, .aui-icon-gadgeteditor-disk, .aui-icon-gadgeteditor-refresh, .aui-icon-gadgeteditor-rename, .aui-icon-gadgeteditor-tool, .aui-icon-gadgeteditor-url {
	background-repeat: no-repeat;
	height: 16px;
	width: 16px;
}

.aui-toolbar-item {
	.aui-icon-gadgeteditor-addfile {
		background-image: url(../images/add_file.png);
	}

	.aui-icon-gadgeteditor-addfolder {
		background-image: url(../images/add_folder.png);
	}

	.aui-icon-gadgeteditor-close {
		background-image: url(../images/close.png);
	}

	.aui-icon-gadgeteditor-delete {
		background-image: url(../images/delete.png);
	}

	.aui-icon-gadgeteditor-disk {
		background-image: url(../images/disk.png);
	}

	.aui-icon-gadgeteditor-publish {
		background-image: url(../images/publish.png);
	}

	.aui-icon-gadgeteditor-refresh {
		background-image: url(../images/refresh.png);
	}

	.aui-icon-gadgeteditor-rename {
		background-image: url(../images/rename.png);
	}

	.aui-icon-gadgeteditor-tool {
		background-image: url(../images/disk_dirty.png);
	}

	.aui-icon-gadgeteditor-url {
		background-image: url(../images/url.png);
	}
}

.aui-resize-handle-l {
	cursor: col-resize;
	left: 0;
}

.aui-resize-handle-t {
	cursor: row-resize;
	left: 0;
}

.ie .opensocial-portlet-editor .aui-tabview-list .aui-tab-content .gadget-editor-tab-close {
	@include opacity(0.2);

	&:hover {
		@include opacity(1);

		zoom: 1;
	}
}

.CodeMirror {
	background-color: #FFFFFF;
	font-family: monospace;
	font-size: 12px;
}

.CodeMirror-lines:hover {
	cursor: text;
}

.CodeMirror-matchingbracket {
	color: #FF0000 !important;
}

.CodeMirror-scroll {
	height: 100%;
}

.codemirror-activeline {
	background: #F0FCFF !important;
}

.codemirror-searched {
	background: #FFFF00;
}