/* -------- Global -------- */

#skip-to-content,
#heading .community-title,
#heading .page-title,
#navigation h1 {
	clip: rect(0 0 0 0);
	position: absolute;
}

body {
	background: #E7E7E2;
	color: #444;
}

/* -------- Wrapper / Skip / Sign-in -------- */

#wrapper {
	background: url(../images/custom/wrapper_bg.jpg) no-repeat center top;
	font: 13px Tahoma, sans-serif;
	padding: 64px 0 0;
}

#inner-wrapper {
	background: url(../images/custom/inner-wrapper_bg.jpg) no-repeat center bottom;
	padding: 0 0 64px;
}

#inner-inner-wrapper {
	background: #FFF;
	border: 2px solid #D7D7D2;
	margin: 0 auto;
	padding: 10px;
	position: relative;
	width: 780px;
}

#skip-to-content,
#sign-in {
	color: #FFF;
	top: 1.5em;
}

#skip-to-content {
	left: 2em;
}

#skip-to-content:active,
#skip-to-content:focus {
	clip: auto;
}

#sign-in {
	position: absolute;
	right: 2em;
}

/* -------- Heading -------- */

#heading {
	background: #181D21 url(../images/custom/heading_bg.jpg) no-repeat;
	margin: 0 0 5px;
}

#heading .company-title {
	margin: 0;
	padding: 50px 0;
}

#heading .company-title a {
	margin: 0 auto;
}

/* -------- Navigation -------- */

#navigation {
	background: #949490;
	margin: 0 0 12px;
	padding: 8px 12px;
}

#navigation ul {
	list-style: none;
	margin: 0;
}

.ie6 #navigation ul,
.ie7 #navigation ul {
	zoom: 1;
}

#navigation ul:after {
	clear: both;
	content: ".";
	display: block;
	height: 0;
	line-height: 0;
	visibility: hidden;
}

#navigation li,
#navigation a {
	float: left;
}

#navigation a {
	color: #FFF;
	display: block;
	margin: 0 16px 0 0;
	text-decoration: none;
}

#navigation a:active,
#navigation a:focus,
#navigation a:hover {
	text-decoration: underline;
}

/* -------- Content -------- */

#content {
	margin: 0 0 5px;
}

#breadcrumbs {
	display: none;
}

.portlet {
	margin: 0 0 12px;
}

/* -------- Footer -------- */

#footer {
	background: #949490;
	padding: 10px 12px;
}

#footer,
#footer a {
	color: #FFF;
}

#footer p {
	margin: 0;
}