#/* This file allows you to override default styles in one central location for easier upgrade and maintenance. */


/* ---------- Base ---------- */

html {
	background: #E7E7E2 url(../images/custom/body_bg.jpg) no-repeat center top;
}

body {
	background: url(../images/custom/footer_bg.jpg) no-repeat center bottom;
	padding: 64px 0;
}


/* ---------- Main content body ---------- */

#wrapper {
	background: #FFF;
	border: 2px solid #D7D7D2;
	margin: 0 auto;
	padding: 10px;
	width: 900px;
}

#content-wrapper {
	border: 2px solid #21262A;
	padding: 10px;
}


/* ---------- Banner ---------- */

#banner {
	background: url(../images/custom/banner_bg.jpg);
	height: 160px;
	margin: 0 0 2.5px;
	position: relative;
	width: 900px;
}

#banner .logo {
	margin: 0;
	padding: 45px 0 0;
}

#banner .logo a {
	margin: 0 auto;
}


/* ---------- Dock with JavaScript ---------- */

.js .interactive-mode {
	right: 10px;
	top: 10px;
}


/* ---------- Main navigation ---------- */

#navigation {
	background: #21262a;
	height: 40px;
}

#navigation ul, #add-page {
	float: left;
}

#navigation a {
	color: #D7D7D2;
	display: block;
	float: left;
	font: 16px Lucida Sans Unicode, Lucida Grande, sans-serif;
	padding: 10px 16px;
	text-decoration: none;
}

#navigation a:hover, #navigation .selected a:hover {
	color: #D7D700;
}

#navigation .selected a {
	color: #D6D6A1;
}

#navigation .enter-page a {
	background: none;
	display: inline;
	float: none;
}

#navigation .enter-page a.cancel-page {
	display: none;
}


/* ---------- Portlet ---------- */

.portlet {
	border-bottom: 2px solid #D7D7D2;
	margin: 0 0 20px;
}

.portlet-topper {
	border-bottom: 1px solid #E9E9E9;
	padding: 4px;
}

.portlet-title {
	color: #111;
	font: bold 14px Arial, Helvetica, sans-serif;
}