<div class="pod">
	#if ($image.data != "")
		<img class="pod-image" src="${image.data}" />
	#end

	<div class="pod-text">
		<h5>
			${title.data}
		</h5>

		${description.data}
	</div>

	<div class="divider"></div>
</div>

<div class="column-text">
	${content.data}
</div>