#set ($assetCategoriesSummaryTagClass = $portal.class.forName("com.liferay.taglib.ui.AssetCategoriesSummaryTag"))
#set ($assetTagsSummaryTagClass = $portal.class.forName("com.liferay.taglib.ui.AssetTagsSummaryTag"))
#set ($aTagClass = $portal.class.forName("com.liferay.taglib.aui.ATag"))
#set ($blogsEntryPermission = $portal.class.forName("com.liferay.portlet.blogs.service.permission.BlogsEntryPermission"))
#set ($customAttributesAvailableTagClass = $portal.class.forName("com.liferay.taglib.ui.CustomAttributesAvailableTag"))
#set ($customAttributeListTagClass = $portal.class.forName("com.liferay.taglib.ui.CustomAttributeListTag"))
#set ($flagsTagClass = $portal.class.forName("com.liferay.taglib.ui.FlagsTag"))
#set ($iconTagClass = $portal.class.forName("com.liferay.taglib.ui.IconTag"))
#set ($mbMessageLocalService = $serviceLocator.findService("com.liferay.portlet.messageboards.service.MBMessageLocalService"))
#set ($permissionURLTagClass = $portal.class.forName("com.liferay.taglib.security.PermissionsURLTag"))
#set ($portletPreferencesFactory = $portal.class.forName("com.liferay.portlet.PortletPreferencesFactoryUtil"))
#set ($ratingsTagClass = $portal.class.forName("com.liferay.taglib.ui.RatingsTag"))
#set ($searchContainerClass = $portal.class.forName("com.liferay.portal.kernel.dao.search.SearchContainer"))
#set ($socialBookmarksTagClass = $portal.class.forName("com.liferay.taglib.ui.SocialBookmarksTag"))
#set ($themeLocalService = $serviceLocator.findService("com.liferay.portal.service.ThemeLocalService"))

#set ($themeImagesPath = '')

#set ($preferences = $renderRequest.getPreferences())

#set ($portletResource = $paramUtil.getString($request, "portletResource"))

#if ($validator.isNotNull($portletResource))
	#set ($preferences = $portletPreferencesFactory.getPortletSetup($request, $portletResource))
#end

#set ($pageDelta = $getterUtil.getInteger($preferences.getValue("pageDelta", ''), 5))
#set ($pageDisplayStyle = $preferences.getValue("pageDisplayStyle", "full-content"))
#set ($pageAbstractLength = $getterUtil.getInteger($propsUtil.get("blogs.page.abstract.length")))
#set ($enableFlags = $getterUtil.getBoolean($preferences.getValue("enableFlags", null), true))
#set ($enableRatings = $getterUtil.getBoolean($preferences.getValue("enableRatings", null), true))
#set ($enableComments = $getterUtil.getBoolean($propsUtil.get("blogs.entry.comments.enabled"), true) && $getterUtil.getBoolean($preferences.getValue("enableComments", null), true))
#set ($enableCommentRatings = $getterUtil.getBoolean($preferences.getValue("enableCommentRatings", null), true))

#set ($rssDelta = $getterUtil.getInteger($preferences.getValue("rssDelta", ''), $searchContainerClass.newInstance().getDelta()))
#set ($rssDisplayStyle = $preferences.getValue("rssDisplayStyle", "full-content"))
#set ($rssFormat = $preferences.getValue("rssFormat", "atom10"))

#set ($rssFormatType = $rSSUtil.getFormatType($rssFormat))
#set ($rssFormatVersion = $rSSUtil.getFormatVersion($rssFormat))

#set ($showSearch = true)
#set ($showEditEntryPermissions = true)

#set ($dateFormatDateTime = $dateFormatFactory.getDateTime($locale, $timeZone))