#parse ("$fullTemplatesPath/html/portlet/init.vm")
#parse ("$fullTemplatesPath/html/portlet/blogs/init.vm")

#set ($entry = $request.getAttribute("view_entry_content.jsp-entry"))
#set ($assetEntry = $request.getAttribute("view_entry_content.jsp-assetEntry"))

#if ($blogsEntryPermission.contains($permissionChecker, $entry, "VIEW") && ($entry.isApproved() || ($entry.getUserId() == $user.getUserId()) || $blogsEntryPermission.contains($permissionChecker, $entry, "UPDATE")))
	<div class="entry #if(!$entry.isApproved())draft#end">
		<div class="entry-content">

			#set ($strutsAction = $paramUtil.getString(request, "struts_action"))

			#if (!$entry.isApproved())
				<h3>
					#if($entry.isPending())#language("pending-approval")#else#language("draft")#end
				</h3>
			#end

			#set ($viewEntryURL = $renderResponse.createRenderURL())
			#set ($VOID = $viewEntryURL.setParameter("struts_action", "/blogs/view_entry"))
			#set ($VOID = $viewEntryURL.setParameter("redirect", $currentURL))
			#set ($VOID = $viewEntryURL.setParameter("urlTitle", $entry.getUrlTitle()))

			<div class="entry-title">
				#if (!$strutsAction.equals("/blogs/view_entry"))
					#set ($aTag = $aTagClass.newInstance())
					#set ($VOID = $aTag.setPageContext($pageContext))
					#set ($VOID = $aTag.setHref($viewEntryURL.toString()))

					#if ($aTag.doStartTag() == 1)
						$htmlUtil.escape($entry.getTitle())
						#set ($VOID = $aTag.doEndTag())
					#end
				#end
			</div>

			<div class="entry-details">
				<span class="entry-date">
					#language("posted") $dateFormatDateTime.format($entry.getDisplayDate())
				</span>

				<span class="entry-author">
					#set ($userName = $htmlUtil.escape($portal.getUserName($entry.getUserId(), $entry.getUserName())))

					#language("by") $userName
				</span>

				<span class="entry-categories">
					#set ($assetCategoriesSummaryTag = $assetCategoriesSummaryTagClass.newInstance())
					#set ($VOID = $assetCategoriesSummaryTag.setPageContext($pageContext))
					#set ($VOID = $assetCategoriesSummaryTag.setClassName("com.liferay.portlet.blogs.model.BlogsEntry"))
					#set ($VOID = $assetCategoriesSummaryTag.setClassPK($entry.getEntryId()))
					#set ($VOID = $assetCategoriesSummaryTag.setPortletURL($renderResponse.createRenderURL()))

					$assetCategoriesSummaryTag.runTag()
				</span>

				<span class="entry-tags">
					#set ($assetTagsSummaryTag = $assetTagsSummaryTagClass.newInstance())
					#set ($VOID = $assetTagsSummaryTag.setPageContext($pageContext))
					#set ($VOID = $assetTagsSummaryTag.setClassName("com.liferay.portlet.blogs.model.BlogsEntry"))
					#set ($VOID = $assetTagsSummaryTag.setClassPK($entry.getEntryId()))
					#set ($VOID = $assetTagsSummaryTag.setPortletURL($renderResponse.createRenderURL()))

					$assetTagsSummaryTag.runTag()
				</span>
			</div>
		</div>

		#if ($blogsEntryPermission.contains($permissionChecker, $entry, "DELETE") || $blogsEntryPermission.contains($permissionChecker, $entry, "PERMISSIONS") || $blogsEntryPermission.contains($permissionChecker, $entry, "UPDATE"))
			<div class="lfr-meta-actions edit-actions entry custom-changes-details">
				<table class="lfr-table">
				<tr>
					#if ($blogsEntryPermission.contains($permissionChecker, $entry, "UPDATE"))
						<td>
							#set ($editEntryURL = $renderResponse.createRenderURL())
							#set ($VOID = $editEntryURL.setParameter("struts_action", "/blogs/edit_entry"))
							#set ($VOID = $editEntryURL.setParameter("redirect", $currentURL))
							#set ($VOID = $editEntryURL.setParameter("backURL", $currentURL))
							#set ($VOID = $editEntryURL.setParameter("entryId", "${entry.getEntryId()}"))

							#set ($editIcon = $iconTagClass.newInstance())
							#set ($VOID = $editIcon.setPageContext($pageContext))
							#set ($VOID = $editIcon.setImage("edit"))
							#set ($VOID = $editIcon.setLabel(true))
							#set ($VOID = $editIcon.setUrl($editEntryURL.toString()))

							$editIcon.runTag()
						</td>
					#end

					#if ($showEditEntryPermissions && $blogsEntryPermission.contains($permissionChecker, $entry, "PERMISSIONS"))
						<td>
							#set ($permissionsEntryURLTag = $permissionURLTagClass.newInstance())
							#set ($VOID = $permissionsEntryURLTag.setPageContext($pageContext))
							#set ($VOID = $permissionsEntryURLTag.setModelResource("com.liferay.portlet.blogs.model.BlogsEntry"))
							#set ($VOID = $permissionsEntryURLTag.setModelResourceDescription($entry.getTitle()))
							#set ($VOID = $permissionsEntryURLTag.setResourcePrimKey("${entry.getEntryId()}"))
							#set ($VOID = $permissionsEntryURLTag.setVar("permissionsEntryURL"))
							#set ($VOID = $permissionsEntryURLTag.doEndTag())

							#set ($permissionsIcon = $iconTagClass.newInstance())
							#set ($VOID = $permissionsIcon.setPageContext($pageContext))
							#set ($VOID = $permissionsIcon.setImage("permissions"))
							#set ($VOID = $permissionsIcon.setLabel(true))
							#set ($VOID = $permissionsIcon.setUrl($pageContext.getAttribute("permissionsEntryURL")))

							$permissionsIcon.runTag()
						</td>
					#end

					#if ($blogsEntryPermission.contains($permissionChecker, $entry, "DELETE"))
						<td>
							#set ($viewURL = $renderResponse.createRenderURL())
							#set ($VOID = $viewURL.setParameter("struts_action", "/blogs/view"))

							#set ($deleteEntryURL = $renderResponse.createActionURL())
							#set ($VOID = $deleteEntryURL.setParameter("struts_action", "/blogs/edit_entry"))
							#set ($VOID = $deleteEntryURL.setParameter("cmd", "delete"))
							#set ($VOID = $deleteEntryURL.setParameter("redirect", $viewURL.toString()))
							#set ($VOID = $deleteEntryURL.setParameter("entryId", "${entry.getEntryId()}"))

							#set ($deleteEntryIcon = $iconTagClass.newInstance())
							#set ($VOID = $deleteEntryIcon.setPageContext($pageContext))
							#set ($VOID = $deleteEntryIcon.setImage("delete"))
							#set ($VOID = $deleteEntryIcon.setLabel(true))
							#set ($VOID = $deleteEntryIcon.setUrl($deleteEntryURL.toString()))

							$deleteEntryIcon.runTag()
						</td>
					#end
				</tr>
				</table>
			</div>
		#end

		<div class="entry-body custom-changes-body">
			#if ($pageDisplayStyle.equals("abstract") && !$strutsAction.equals("/blogs/view_entry"))
				${stringUtil.shorten($htmlUtil.stripHtml($entry.getContent()), $pageAbstractLength)}

				<br />

				#set ($aTag = $aTagClass.newInstance())
				#set ($VOID = $aTag.setPageContext($pageContext))
				#set ($VOID = $aTag.setHref($viewEntryURL.toString()))

				#if ($aTag.doStartTag() == 1)
					#language_format("read-more-x-about-x", ["aui-helper-hidden-accessible", $entry.getTitle()]) &raquo;
					#set ($VOID = $aTag.doEndTag())
				#end
			#elseif ($pageDisplayStyle.equals("full-content") || $strutsAction.equals("/blogs/view_entry"))
				$entry.getContent()

				#set ($customAttributesAvailableTag = $customAttributesAvailableTagClass.newInstance())
				#set ($VOID = $customAttributesAvailableTag.setPageContext($pageContext))
				#set ($VOID = $customAttributesAvailableTag.setClassName("com.liferay.portlet.blogs.model.BlogsEntry"))

				#if ($customAttributesAvailableTag.doStartTag() == 1)
					#set ($customAttributeListTag = $customAttributeListTagClass.newInstance())
					#set ($VOID = $customAttributeListTag.setPageContext($pageContext))
					#set ($VOID = $customAttributeListTag.setClassName("com.liferay.portlet.blogs.model.BlogsEntry"))
					#if ($entry)
						#set ($VOID = $customAttributeListTag.setClassPK($entry.getEntryId()))
					#else
						#set ($VOID = $customAttributeListTag.setClassPK(0))
					#end
					#set ($VOID = $customAttributeListTag.setEditable(false))
					#set ($VOID = $customAttributeListTag.setLabel(true))

					$customAttributeListTag.runTag()

					#set ($VOID = $customAttributesAvailableTag.doEndTag())
				#end
			#elseif ($pageDisplayStyle.equals("title") && !$strutsAction.equals("/blogs/view_entry"))
				#set ($aTag = $aTagClass.newInstance())
				#set ($VOID = $aTag.setPageContext($pageContext))
				#set ($VOID = $aTag.setHref($viewEntryURL.toString()))

				#if ($aTag.doStartTag() == 1)
					#language_format("read-more-x-about-x", ["aui-helper-hidden-accessible", $entry.getTitle()]) &raquo;
					#set ($VOID = $aTag.doEndTag())
				#end
			#end
		</div>

		<div class="custom-changes-details">
			#set ($bookmarkURL = $renderResponse.createRenderURL())
			#set ($VOID = $bookmarkURL.setWindowState("normal"))
			#set ($VOID = $bookmarkURL.setParameter("struts_action", "/blogs/view_entry"))
			#set ($VOID = $bookmarkURL.setParameter("urlTitle", $entry.getUrlTitle()))

			<div class="entry-footer">
				<div class="stats">
					#if ($assetEntry)
						<span class="view-count">
							#if (1 == $assetEntry.viewCount)
								$assetEntry.viewCount #language("view"),
							#elseif (1 < $assetEntry.viewCount)
								$assetEntry.viewCount #language("views"),
							#end
						</span>
					#end

					#if ($enableComments)
						<span class="comments">

							#set ($classNameId = $portal.getClassNameId("com.liferay.portlet.blogs.model.BlogsEntry"))

							#set ($messagesCount = $mbMessageLocalService.getDiscussionMessagesCount($classNameId, $entry.getEntryId(), 0))

							#if ($strutsAction.equals("/blogs/view_entry"))
								$messagesCount #if($messagesCount == 1)#language("comment")#else#language("comments")#end
							#else
								#set ($aTag = $aTagClass.newInstance())
								#set ($VOID = $aTag.setPageContext($pageContext))
								#set ($VOID = $aTag.setHref("${viewEntryURL}#${renderResponse.getNamespace()}messageScroll0"))

								#if ($aTag.doStartTag() == 1)
									$messagesCount #if($messagesCount == 1)#language("comment")#else#language("comments")#end
									#set ($VOID = $aTag.doEndTag())
								#end
							#end
						</span>
					#end
				</div>

				#if ($enableFlags)
					#set ($flagsTag = $flagsTagClass.newInstance())
					#set ($VOID = $flagsTag.setPageContext($pageContext))
					#set ($VOID = $flagsTag.setClassName("com.liferay.portlet.blogs.model.BlogsEntry"))
					#set ($VOID = $flagsTag.setClassPK($entry.getEntryId()))
					#set ($VOID = $flagsTag.setContentTitle($entry.getTitle()))
					#set ($VOID = $flagsTag.setReportedUserId($entry.getUserId()))

					$flagsTag.runTag()
				#end

				#if ($pageDisplayStyle.equals("full-content") || $strutsAction.equals("/blogs/view_entry"))
					#if ($enableRatings)
						#set ($ratingsTag = $ratingsTagClass.newInstance())
						#set ($VOID = $ratingsTag.setPageContext($pageContext))
						#set ($VOID = $ratingsTag.setClassName("com.liferay.portlet.blogs.model.BlogsEntry"))
						#set ($VOID = $ratingsTag.setClassPK($entry.getEntryId()))

						$ratingsTag.runTag()
					#end

					#set ($socialBookmarksTag = $socialBookmarksTagClass.newInstance())
					#set ($VOID = $socialBookmarksTag.setPageContext($pageContext))
					#set ($VOID = $socialBookmarksTag.setUrl($bookmarkURL.toString()))
					#set ($VOID = $socialBookmarksTag.setTitle($entry.getTitle()))
					#set ($VOID = $socialBookmarksTag.setTarget("_blank"))

					$socialBookmarksTag.runTag()
				#end
			</div>
		</div>
	</div>

	<div class="separator"><!-- --></div>
#else
	#if ($searchContainer)
		#set ($updatedTotal = $searchContainer.total - 1)
		#set ($VOID = $searchContainer.setTotal($updatedTotal))
	#end
#end