<span wicket:id="message" />
<form wicket:id="form" class="aui-form " >
	<label class="aui-field-label" > Name </label>
	<span class='aui-field-element '>
		<input wicket:id="name" type="text">
	</span>
	<label class="aui-field-label" for="_2_male"> Gender </label>
	<span class='aui-field-element '>
		<select wicket:id="gender" class="aui-field-input aui-field-input-select aui-field-input-menu">
			<option>Male</option>
			<option>Female</option>
		</select>
	</span>
	
	<span class="aui-button aui-button-submit">
		<span class="aui-button-content">
			<input class="aui-button-input aui-button-input-submit" type='submit' value="Save" />
		</span>
	</span>
</form>

<label wicket:id="personsLabel" class="aui-field-label"> Persons </label>
<table class="taglib-search-iterator">
	<tr class="portlet-section-header results-header">
		<th class="col-1" >
			<span class="result-column-name">Name</span>
		</th>
		<th class="col-2 ">
			<span class="result-column-name">Gender</span>
		</th>
	</tr>
	<tr class="lfr-template portlet-section-body results-row"> <td></td> <td></td> <td></td> <td></td> </tr>
	<tr wicket:id="persons" class="portlet-section-body results-row" onmouseover="this.className = 'portlet-section-body-hover results-row hover';" onmouseout="this.className = 'portlet-section-body results-row';" >
		<td wicket:id="name" class="align-left col-1 first valign-middle" colspan="1" ></td>
		<td wicket:id="gender" class="align-left col-1 first valign-middle" colspan="1" ></td>
	</tr>
</table>
