body {
	background: #151316;
	border: 0 solid #1b1b2f;
	border-width: 0 2px;
	color: #FFF;
	font: 16px/20px Verdana, Arial, Helvetica, sans-serif;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
p {
	margin: 0;
}

h1,
h2 {
	font-size: 12px;
	line-height: 16px;
	margin-bottom: 4px;
}

.is-img {
	line-height: 0;
}

h2 {
	color: #ACACAC;
	text-transform: uppercase;
}

.ie6 #nav ul,
.ie7 #navigation ul {
	zoom: 1;
}

#nav ul:after {
	clear: both;
	content: ".";
	display: block;
	height: 0;
	line-height: 0;
	visibility: hidden;
}

#nav li {
	float: left;
}

#nav a {
	color: #FFF;
	display: block;
	font-weight: bold;
	line-height: 34px;
	padding: 0 11px;
	text-decoration: none;
	text-transform: uppercase;
}

#nav a.selected {
	background: #2C2E4D;
}

.section {
	padding: 8px 1px;
}