#banner .logo a {
	margin-left: 360px;
	margin-top: 125px;
}
html {
	overflow-y: scroll;
}
#banner , #navigation , #navigation ul , .portlet {
	background-color: transparent;
}
#wrapper, #banner {
	background: none;
}
#layout-grid .lfr-column {
	margin: 0;
	padding: 0;
}
.portlet-icons {
	right: 0;
	top: 0;
}
.tabs {
	border: 0;
}
.portlet-section-header {
	background: transparent none;
}
.js .interactive-mode .my-places .show-my-places li .my-places-toggle h3 {
	font-size: 8pt;
	padding-right: 0;
}
ul.child-menu {
	display: none;
}
html {
	overflow-y: scroll;
}
.js #add-page {
 top:-2px;
}
body {
	font: 90% Georgia,"Times New Roman",Times,serif;
	margin: 0;
	padding: 0;
}
#background , #wrapper {
	min-width: 1125px;
}
#background {
	height: 911px;
	position: absolute;
	width: 100%;
}
#background #repeat {
	height: 911px;
	left: 0;
	position: absolute;
	top: 0;
	width: 100%;
}
#background #repeat div {
	background: transparent url('../images/custom/layout-2.png') no-repeat scroll left 262px;
	height: 911px;
	margin: 0 180px 0 0;
}
#background #fixed {
	background: transparent url('../images/custom/layout-1.png') no-repeat scroll right 92px;
	height: 911px;
	left: 0;
	position: absolute;
	top: 0;
	width: 100%;
}
#wrapper {
	margin: 0;
	position: relative;
}
#banner {
	height: 399px;
	margin: 0 210px 0 70px;
}
.js .interactive-mode h2 span {
	background: transparent;
	border-right: none;
	color: black;
}
#navigation li.selected a, #navigation li a:hover {
	background-color: transparent;
	color: black;
}
.js .interactive-mode h2 {
	background: white none repeat scroll 0% 0%;
}
.js .interactive-mode {
	right: 170px;
	top: 45px;
}
#navigation li.selected a span {
	background:transparent;
	padding-left:0px;
}
#navigation {
	background: transparent url('../images/custom/navigation.png');
	border: none;
	height: 43px;
	margin: 0 256px 0 118px;
	padding: 0 40px;
	width: 805px;
}
#navigation li {
	border: none;
}
#navigation ul {
	color: #333;
	float: left;
	margin: 0;
	padding: 0;
}
#navigation ul li, #navigation ul li.selected {
	float: left;
	list-style: none;
	margin: 0;
	padding: 0;
}
#navigation ul li a , #navigation ul li a:hover , #navigation ul li.selected a , #navigation ul li.selected a:hover {
	color: #666666;
	display: block;
	padding: 6px 16px 0;
	text-decoration: none;
	height: 38px;
}
.js #add-page a span {
	background:transparent;
	display:block;
	margin-left:0px;
	padding:5px 20px 2px;
	color: #666666;
}
#navigation ul li a span , #navigation ul li a:hover span , #navigation ul li.selected a span , #navigation ul li.selected a:hover span , .js #add-page a span , .js #add-page a:hover span {
	display: block;
	float: left;
	font: 90%/38px Georgia,"Times New Roman",Times,serif;
	height: 38px;
}
#navigation ul li a:hover , #navigation ul li.selected a:hover , .js #add-page a:hover {
	background: #EDEEE8 none;
}
#navigation ul li.selected a , #navigation ul li.selected a:hover {
	color: #000;
}
#super-content-wrapper {
	margin: -19px 210px 0 70px;
	position: relative;
}
#super-content-wrapper .IN {
	margin: 19px;
}
#super-content-wrapper .TL {
	background: transparent url('../images/custom/content-TL.png') scroll no-repeat 0 0;
}
#super-content-wrapper .TR {
	background: transparent url('../images/custom/content-TR.png') scroll no-repeat 100% 0;
	min-height: 500px;
}
#super-content-wrapper .ML {
	background: transparent url('../images/custom/content-ML.png') scroll repeat-y 0 0;
}
#super-content-wrapper .MR {
	background: transparent url('../images/custom/content-MR.png') scroll repeat-y 100% 0;
}
#super-content-wrapper .BL {
	background: transparent url('../images/custom/content-BL.png') scroll no-repeat 0 bottom;
}
#super-content-wrapper .BR {
	background: transparent url('../images/custom/content-BR.png') scroll no-repeat 100% bottom;
}
#content-wrapper {
	padding: 60px;
	position: relative;
}
table.liferay-table , .tabs {
	font: 11px Arial,sans-serif;
}
.js #navigation .enter-page .save-page {
	background:transparent;
	margin:0pt 5px;
	padding-left:0px;
}
input[type="text"], input[type="password"], input[type="file"], input[type="submit"], input[type="button"], input[type="reset"], select, textarea, .textarea {
	margin-top:10px;
}
.js #navigation .enter-page {
	margin-right: 45px;
	background: transparent;
}
.js #navigation .enter-page .save-page {
	position: absolute;
	top: 16px;
	right: -8px;
}
.js #navigation .enter-page a:hover {
	padding: 0px;
}