body.day {
	background: #1C3240 url(../../images/color_schemes/day/bg.png) 100% 0 repeat-x;
}

.day #navigation a {
	color: #454545;
}

.day #navigation ul li.selected a {
	background: url(../../images/color_schemes/day/nav-selected.png) 100% 5px repeat-x;
}

.day #navigation span {
	text-shadow: 0 2px 0 #FFF;
}

.day .portlet a {
	color: #454545;
}

.day .portlet a.selected {
	color: #454545;
}

.day .portlet-topper {
	background: url(../../images/color_schemes/day/port-topper.png) repeat-x;
	color: #454545;
}

.day .portlet-content {
	background: #f5f5f5 url(../../images/color_schemes/day/port-body.png) repeat;
}

.day .portlet-body {
	color: #454545;
}

.day #footer {
	background: url(../../images/color_schemes/day/footer-bg.png) repeat;
	text-shadow: 1px 1px 1px #000;
}
