Dear [$TO_NAME$],<br /><br />

[$USER_NAME$] mentioned you in the following [$ASSET_ENTRY_NAME$]:<br /><br />

----------<br />
[$CONTENT$]<br />
----------<br /><br />

<a href="[$CONTENT_URL$]">View [$ASSET_ENTRY_NAME$].</a><br /><br />

Sincerely,<br />
[$FROM_NAME$]<br />
[$FROM_ADDRESS$]<br />