Dear [$TO_NAME$],<br /><br />

[USER_NAME$] mentioned you in the following comment:<br /><br />

----------<br />
[$CONTENT$]<br />
----------<br /><br />

<a href="[$CONTENT_URL$]">View comment.</a><br /><br />

Sincerely,<br />
[$FROM_NAME$]<br />
[$FROM_ADDRESS$]<br />