
/* ---------- Base ---------- */
#banner {
	background: url(../images/custom/banner_bg.png);
	height: 99px;
	position: relative;
}

html, body {
	min-height: 100%;
}

html {
	background: #1B2531 url(../images/custom/html_bg.gif) repeat;
}

body {
	background: url(../images/custom/body_bg.png) repeat-x left top;
	font-family: Arial,Helvetica,sans-serif;
	height: auto;
}

body.portal-popup {
	background: #1C2633;
}

table {
	clear: both;
}

a {
	color: #83B4E1;
	text-decoration: underline;
}

a:hover {
	color: #557B9F;
	text-decoration: none;
}

.lfr-column.dragging {
	background: #576f85;
}

.drop-area {
	opacity: .20;
}


.ie .drop-area {
	filter: alpha(opacity=20);
}

.popup {
	background: #1C2633;
	border: 1px solid #131922;
	color: #e0eaf4;
	padding: 0 0 10px 10px;
}

.popup-header, .popup-title {
	background: url(../images/custom/portlet_title_bg.png) no-repeat right top;
}

.ie6 .popup-header, .ie6 .popup-title {
	background-image: url(../images/custom/portlet_title_ie6_bg.png);
}

.popup-header {
	border: none;
	height: 46px;
	margin: -1px -1px 0 -11px;
	margin-left: -11px;
	margin-top: -1px;
	padding: 0;
}

.popup-title {
	background-position: 0 -46px;
	color: #fff;
	display: block;
	height: 25px;
	padding: 15px 0 6px 10px;
}

.popup-close {
	top: 15px;
}

.portal-add-content {
	background: transparent;
}

.uni-form fieldset legend {
	color: #e0eaf4;
}

#wrapper {
	background: url(../images/custom/wrapper_bg.png) repeat-y center top;
	width: 960px;
	margin: 0 auto;
	padding: 22px 0;
}

.ie6 #wrapper {
	background: none;
	padding: 0;
}

#content-wrapper {
	background: #1C2633 url(../images/custom/content_wrapper_bg.png) repeat;
	color: #e0eaf4;
	padding: 0 5px;
	width: 950px;
}


.portal-popup #content-wrapper {
	background: none;
	font-size: 1.2em;
}


/* ---------- Portlet wrapper and icons ---------- */

.portlet {
	border: none;
	margin-bottom: 10px;
}


.portlet-topper {
	border-bottom: none;
}

.portlet, .portlet-topper, .portlet-content, .portlet-title {
	background: #141B24;
	padding: 0;
}

.portlet {
	margin-top: 0;
}

.portlet.html-editor {
	color: #e0eaf4;
}

.ie6 .portlet {
	position: relative;
	zoom: 1;
}

.portlet, .portlet-content {
	background: url(../images/custom/portlet_bg.png) no-repeat left bottom;
}

.portlet-title span {
	background: url(../images/custom/arrow.png) no-repeat right center;
	padding-right: 20px;
}

.portlet-topper, .portlet-title {
	background: url(../images/custom/portlet_title_bg.png) no-repeat right top;
}

.ie6 .portlet-topper, .ie6 .portlet-title {
	background-image: url(../images/custom/portlet_title_ie6_bg.png);
}

.portlet-topper {
	color: #fff;
	font: 1.5em Arial,Verdana,Helvetica,sans-serif;
	height: 46px;
	margin: 0;
	position: relative;
	border: none;
}

.portlet-title {
	background-position: left -46px;
	height: 25px;
	padding: 15px 0 6px 10px;
}

.portlet-content {
	background-color: #1C2633;
	background-position: right bottom;
	color: #e0eaf4;
	font-size: 1.2em;
	margin-left: 10px;
	padding: 10px 20px 20px 10px;
}

.portlet-content li {
	padding-left: 1em;
}

.portlet-content li li {
	list-style-type: circle;
}

.portlet-content ul {
	height: 48px;
	list-style: inside disc;
}

.portlet-content ol {
	list-style: inside decimal;
}


/* ---------- Banner ---------- */

#banner {
	background: url(../images/custom/banner_bg.jpg) no-repeat center;
	height: 135px;
	top: 0;
	position: relative;
}


#banner .logo {
	margin: 0;
	padding: 0;
}


#banner .logo a {
	left: 20px;
	position: relative;
	top: 7px;
}


/* ---------- Dock ---------- */

.js .interactive-mode {
	margin-top: 12px;
	right: 10px;
}

.js .interactive-mode h2 span {
	background: transparent url(/liferay-noir-theme/images/custom/menu_bar.png) no-repeat scroll 0pt 0pt;
	margin-right: -3px;
}

.js .interactive-mode h2 {
	background: transparent url(/liferay-noir-theme/images/custom/menu_bar.png) no-repeat scroll 100% -30px;
}


/* ---------- Search ---------- */

#banner .search {
	position: absolute;
	right: 10px;
	top: 50px;
}


#banner .search form {
	padding-right: 49px;
	padding-top: 2px;
	position: relative;
	margin-top:-34px;
}

#banner .search input {
	border: none;
	font-size: 1.5em;
	height: 18px;
	margin: 33px 0 0;
	padding: 6px 3px;
	width: 163px;
}

#banner .search input[type=image] {
	display: none;
}

#banner .search .search-input-link {
	background: url(../images/custom/search_btn_bg.png) no-repeat;
	display: block;
	height: 35px;
	position: absolute;
	right: 0;
	top: 33px;
	width: 51px;
}

.ie #banner .search .search-input-link {
	top: 34px;
}

/* ---------- Navigation ---------- */

#navigation {
	background: transparent;
	border: none;
	font-family: Verdana,Arial,Helvetica,sans-serif;
	font-weight: bold;
	left: 15px;
	overflow: visible;
	position: absolute;
	width: 945px;
	z-index: 0;
}

#navigation ul {
	width: 100%;
	margin: -10px auto 0;
}

#navigation li, #navigation li a, #navigation li a span, #navigation li.selected a, #navigation li.selected a:hover, #navigation li a:hover span, #navigation li.selected a span, #navigation li a:hover, .js #navigation .enter-page {
	background: none;
	border: none;
	color: #96C0E6;
	font-size: 1em;
	font-weight: bold;
	margin: 0;
	padding: 0;
	text-transform: uppercase;
}

#navigation li {
	font-size: 1.1em;
	margin: 0 20px 0 22px;
}

#navigation li.selected a, #navigation li.selected a:hover {
	background: url(../images/custom/selected_bg.png) no-repeat;
	color: #fff;
	padding-left: 15px;
}

.ie #navigation li.selected a, .ie #navigation li.selected a:hover {
	height: 1%;
}

.ie6 #navigation li.selected a, .ie6 #navigation li.selected a:hover {
	white-space: nowrap;
	width: 20px;
}

#navigation li.selected a span {
	color: #fff;
}

.js #add-page {
	background: transparent url(../images/common/add.png) left 50% no-repeat;
	border: none;
	bottom: 50px;
	position: absolute;
	right: 230px;
}

.js #add-page a {
	color: #ccc;
	padding: 7px 20px;
	text-decoration: none;
}


/* ---------- Liferay UI ---------- */

.tabs li.current a, .tabs li.current span {
	background-position: 0pt -101px;
	color: black;
	margin-top: -2px;
	padding-bottom: 9px;
}

#navigation ul .sort-helper {
	padding: 0.1em 0.5em;
}

.toggle-expand, .root-container, .root-container ul li {
	list-style: none;
	padding-left: 0;
}

.portlet-icons {
	top: 10px;
}

.portlet-icon-back {
	padding: 0.5em 0 0.5em 1.4em;
}

.portlet-placeholder {
	border: 1px dashed #e0eaf4;
}

.js .delete-tab {
	right: -10px;
}

#footer {
	background: url(../images/custom/footer_bg.jpg) no-repeat;
	color: #739ABE;
	height: 106px;
	position: relative;
	width: 962px;
}

#footer .copyright-notice, #footer ul {
	bottom: -25px;
	position: absolute;
}

#footer .copyright-notice {
	left: 30px;
}

#footer ul {
	right: 30px;
}

#footer li {
	border-right: 1px solid #557B9F;
	display: inline;
	float: left;
	margin-left: 9px;
	padding-right: 8px;
}

#footer li.last-child, #footer li:last-child {
	border: none;
	padding: 0;
}

#footer li a {
	color: #557B9F;
	text-decoration: none;
}

#footer li a:hover {
	color: #83B4E1;
	text-decoration: underline;
}

.ui-tabs li a, .tabs li span {
	top:0;
	padding:10px 3px;
}


.portlet-calendar .calendar-container {
	background: transparent;
}


.portlet-calendar .calendar-day .day-number {
	border: none;
}


.taglib-calendar tr th {
	background:#1C2633 none repeat scroll 0 0;
}


.ui-tabs {
	border: none;
	list-style: none;
	margin: -10px -20px 1.5em;
	padding-top: 1em;
}

.ui-tabs li {
	margin-right: 0;
	padding-left: 0;
}

.ui-tabs li a {
	color: #000;
	font-weight: bold;
	text-transform: uppercase;
}

.ui-tabs li.current {
	margin-top: 1px;
	padding-top: 1px;
	top: 0;
}

.ie .ui-tabs li.current {
	top: 1px;
}

.ie6 .ui-tabs li,
.ie6 .ui-tabs li a,
.ie6 .ui-tabs li span,
.ie6 .ui-tabs li.current,
.ie6 .ui-tabs li.current a,
.ie6 .ui-tabs li.current span {
	background-image: url(../images/common/tabs_ie6_bg.png);
}

.popup .tabs {
	margin: -5px -5px -16px -15px;
}

.js .interactive-mode {
	top: 0;
}

.js .lfr-dock.interactive-mode h2 {
	background-position: right -31px;
	padding-right: 46px;
}

.js .lfr-dock.expanded .lfr-dock-list-container {
	background: #0E1118;
	border: 1px solid #0B0F15;
	border-top: none;
}

.js .lfr-dock.interactive-mode ul {
	background: #0E1118;
	border-left: none;
	padding: 0 15px;
}

.js .lfr-flyout.has-children {
	background-image: url(../images/custom/my_places.png);
	background-position: 0 50%;
}

.js .interactive-mode .lfr-flyout.has-children ul {
	background: #0E1118;
	border-color: #212C3A;
	padding: 0px;
}

.js .lfr-dock.interactive-mode li {
	border-color: #222D3A;
}

.js .lfr-dock.interactive-mode li a {
	background-position: left center;
	border-top: 1px solid #222D3A;
	padding-left: 25px;
}

.js .lfr-dock.interactive-mode li a:hover {
	background-color: #222D3A;
	background-position: 0 50%;
	border-top: 1px solid #222D3A;
	padding-left: 2.5em;
}

.lfr-dock li.home a, .lfr-dock li.my-account a, .lfr-dock li.sign-in a, .lfr-dock li.sign-out a, .lfr-dock li.add-content a, .lfr-dock li.layout a, .lfr-dock li.page-settings a {
	background-image: url(../images/custom/dock_items.png);
}

.js .lfr-dock.interactive-mode li.my-places {
	background: none;
	margin-left: 0;
	padding-left: 0;
}

.ie.js .lfr-dock.interactive-mode li.my-places {
	padding-right: 2.5em;
}

.js .lfr-dock.interactive-mode li.my-places a {
	padding-left: 2.5em;
}

.js .interactive-mode .my-places .show-my-places {
	background: #0E1118;
	border: 1px solid #0B0F15;
}

.js .lfr-dock.interactive-mode li.my-places h3 a {
	background-position: 5px 50%;
}

.js .interactive-mode .my-places .show-my-places li .my-places-toggle, .js .interactive-mode .my-places .show-my-places ul li.public a, .js .my-places .show-my-places ul li.public a:hover, .js .interactive-mode .my-places .show-my-places li.private a, .js .my-places .show-my-places li.private a:hover {
	background-image: url(../images/custom/dock_items.png);
	padding-left: 25px;
}

.js .my-places .show-my-places ul li a:hover {
	background-color: #1B2431;
}

.js .interactive-mode .my-places .show-my-places li .my-places-toggle {
	border-bottom: 1px solid #212C3A;
	color: #96C0E6;
	margin-left: 10px;
	padding-left: 28px;
}

.js .interactive-mode .my-places .show-my-places li .my-places-toggle h3 {
	font-size: 1em;
	font-weight: normal;
}

.js .interactive-mode .my-places .show-my-places ul li a.add-page {
	padding: 0;
}

.js .interactive-mode .my-places .show-my-places li ul li.public {
	border-bottom: 1px solid #151C25;
}

.js .interactive-mode .my-places .show-my-places li ul {
	background: #212C3A;
	margin-left: 0;
	margin-top: -1px;
	padding: 0 10px;
}

.js .lfr-dock.interactive-mode li.my-places li ul li.current a, .js .lfr-dock.interactive-mode li.my-places li ul li.current a:hover {
	background-color: transparent;
	background-position: 1px center;
}

.js .interactive-mode .my-places .show-my-places li ul li a {
	border-bottom-color: #151C25;
	color: #445B78;
}

.js .interactive-mode .my-places .show-my-places li ul li a .page-count {
	color: #96C0E6;
}

.js .interactive-mode .my-places li.current-community {
	background-color: #0E1118;
}

.js .interactive-mode .my-places li.current-community a {
	background-colsor: #212C3A;
}

.portlet-msg-success, .portlet-msg-error, .portlet-msg-alert, .portlet-msg-info {
	color: #000;
	font-style: normal;
	margin: 0.15em auto 2.2em;
}

.portlet-section-header {
	background: #465E7B;
	padding: 1px 0 0;
}

.portlet-section-header th {
	border-bottom: 1px solid #151C25;
	color: #fff;
	font-weight: bold;
	padding: 0.3em 1em;
}

.portlet-section-body {
	background: #4A6483;
	color: #e0eaf4;
}

.portlet-section-body td {
	background: #212C3A;
	border-bottom: 1px solid #1C2633;
	border-top: 1px solid #151C25;
	padding: 0.3em 1em;
}

.portlet-section-alternate {
	background: #96C0E6;
	color: #000;
}

.portlet-section-alternate td {
	background: #3A4E66;
	border-bottom: 1px solid #1C2633;
	border-top: 1px solid #151C25;
	padding: 0.3em 1em;
}

.portlet-section-alternate-hover td, .portlet-section-body-hover td {
	background: #141B23;
	border-bottom: 1px solid #151C25;
	border-top: 1px solid #151C25;
	padding: 0.3em 1em;
}

.drop-position-top {
	background: url(../images/custom/drag_arrows_up.png) scroll no-repeat center top;
}

.drop-position-bottom {
	background: url(../images/custom/drag_arrows_down.png) scroll no-repeat center bottom;
}

input[type="submit"], input[type="button"], input[type="reset"] {
	background: #3D536D url(../images/custom/arrow.png) no-repeat 97% center;
	border: none;
	color: #fff;
	font-weight: bold;
	margin: 1px;
	padding: 0.5em;
	padding-right: 20px;
	text-transform: uppercase;
}

.ie6 input.submit, .ie6 input.button {
	background: #3D536D none url(../images/custom/arrow.png) no-repeat 90% center;
	border: none;
	color: #fff;
	font-weight: bold;
	margin: 1px;
	padding: 0.5em;
	padding-right: 20px;
	text-transform: uppercase;
}

.separator {
	border-color: #101318;
}

input[type="text"], input[type="password"], input[type="file"],input[type="submit"], input[type="button"], input[type="reset"], select, textarea, .textarea {
	border-color: #fff;
}

.ie6 input.text, input.password, .ie6 input.submit, .ie6 input.file, .ie6 input.button {
	border-color: #fff;
}

.portlet-section-body .message-board-thread-top {
	border-bottom-color: #3A4E66;
}

.portlet-section-alternate .message-board-thread-top {
	border-bottom-color: #212C3A;
}

.message-board-message-container .portlet-section-alternate td {
	border: 1px solid #212C3A;
}

.message-board-message-container .portlet-section-body td {
	border: 1px solid #3A4E66;
}

#content-wrapper .message-board-thread-controls {
	border: none;
}

#content-wrapper .message-board-title {
	border: none;
	color: #151C25;
	padding: 5px;
}

#content-wrapper .toggle_id_message_boards_view_message_thread {
	border: none;
	margin-bottom: 10px;
}

.message-board-message-container table {
	color: #e7eef6;
}

.message-board-code, .message-board-quote {
	color: #212C3A;
}

.lfr-highlighted, .lfr-highlighted a {
	color: #ffc;
}

ul.message-board-edit-controls {
	list-style: none;
}

.taglib-ratings {
	margin-bottom: 1em;
}

.lfr-actions .lfr-trigger {
	color: #000;
}

ul.lfr-actions, .lfr-actions ul {
	list-style: none outside;
}

.lfr-actions li a {
	color: #1C2633;
	font-size: 1.1em;
}

.lfr-actions li a:hover {
	color: #3D536D;
	text-decoration: underline;
}

.lfr-actions ul {
	border: 3px double #465E7B;
}

.lfr-actions li, .lfr-actions li li {
	list-style: none;
	padding-left: 0;
}

.lfr-actions .lfr-trigger strong span {
	background-position: 5px 1px;
	font-size: 0.8em;
}

#portlet-wrapper-33 p {
	margin-bottom: 1em;
}

#portlet-wrapper-33 code {
	background-color: #deedff;
	border: 1px dotted #3D536D;
	color: #141B23;
	display: block;
	margin: 10px 0;
	padding: 5px;
}

input[type="submit"]:hover, input[type="button"]:hover, input[type="reset"]:hover, input[type="submit"]:focus, input[type="button"]:focus, input[type="reset"]:focus {
	background:#3D536D url(../images/custom/arrow.png) no-repeat scroll 97% center;
	border:none;
	color:#336699;
}
