/* This file allows you to override default styles in one central location for easier upgrade and maintenance. */


/* ---------- Browser normalization ---------- */

body {
	background: url(../images/custom/body_bg.png);
	color: #FFF;
}

#wrapper {
	background: #000;
	margin: 0 auto;
	padding: 8px;
	width: 800px;
}

#content-wrapper {
	background: #222;
	padding: 0 8px;
}


/* ---------- Banner ---------- */

#banner {
	background: url(../images/custom/banner_bg.png) no-repeat right top;
	height: 288px;
	position: relative;
}

#banner h1.logo {
	float: left;
	margin: 0;
}


/* ---------- Footer ---------- */

#footer {
	background: url(../images/custom/footer_bg.png) bottom left;
	height: 120px;
}


/* ---------- Dock with JavaScript ---------- */

.js .interactive-mode {
	right: 0;
	top: 0;
}

.js .interactive-mode, .js .interactive-mode h2, .js .interactive-mode h2 span {
	background-image: url(../images/custom/dock_bg.png);
}

.js .interactive-mode h2 {
	background-position: right -30px;
}

.js #add-page {
	bottom: 8px;
	position: absolute;
	right: -100px;
}


/* ---------- Main navigation ---------- */

#navigation {
	height: 0;
	position: relative;
	width: 290px;
	z-index: 21;
}

#navigation ul {
	background: url(../images/custom/navigation_bg.png);
	bottom: 8px;
	position: absolute;
	width: 290px;
}

#navigation li {
	float: none;
}

#navigation a {
	color: #FFF;
	display: block;
	font: bold 14px Arial, sans-serif;
	padding: 8px 12px;
	text-decoration: none;
}


/* ---------- Portlet ---------- */

.portlet {
	margin-bottom: 15px;
}

.portlet-topper {
	background: #000;
	border-bottom: 1px solid #999;
	padding: 6px 8px;
}


/* ---------- Tabs ---------- */

.ui-tabs {
	border-bottom: 1px solid #999;
}

.ui-tabs li.current, .ui-tabs li.current:hover {
	background: transparent;
}

.ui-tabs li a, .tabs li span, .ui-tabs li a:hover, .tabs li span:hover {
	background: #000 url(../images/custom/tabs_bg.png);
	border: 0;
	margin: 0 1px 0 0;
}

.ui-tabs li.current a, .ui-tabs li.current a:hover {
	background: #999;
	border: 1px solid #999;
	color: #000;
	margin: 0 2px 0 0;
}


/* ---------- Liferay UI ---------- */

.calendar-container, .results-row {
	color: #000;	
}