.portlet-configuration {
	.archived-setups {
		margin-bottom: 1em;
		margin-right: 0.5em;
		text-align: right;
	}

	.edit-permissions {
		form:after {
			clear: both;
			content: ".";
			display: block;
			height: 0;
			visibility: hidden;
		}

		.assign-permissions {
			float: left;

			.button-holder {
				position: relative;

				.finished {
					position: absolute;
					right: 0;
				}
			}
		}
	}

	.relative-range {
		width: 165px;
	}

	.process-list {
		.background-task-status-column {
			width: 700px;

			.background-task-status-message {
				margin-top: 1em;

				.error-list-items li {
					list-style: disc inside;
				}
			}

			.details-link {
				margin-left: 1em;
			}

			.publish-error {
				margin-bottom: 0;
			}

			.toggler-header-collapsed:after {
				content: " »";
			}

			.toggler-header-expanded:after {
				content: " «";
			}

			.background-task-status-in-progress {
				float: left;
				margin-right: 1em;
			}

			.progress {
				margin-bottom: 0.3em;
			}

			.progress-current-item {
				font-size: 0.7em;
			}
		}
	}
}

.ie {
	.portlet-configuration {
		.edit-permissions form {
			height: 1%;
		}
	}
}