#wrapper {
	background: transparent url(../images/custom/logopanel-bg.gif) no-repeat scroll top center;
	margin: 0 auto;
	position: relative;
	width: 1264px;
}
body {
	background: transparent url(../images/custom/topbg.gif) repeat-x scroll top center;
	color: #D5D5D5;
}
#banner {
	background: transparent url(../images/custom/header.jpg) no-repeat scroll center;
	height: 189px;
	position: relative;
	top: 90px;
}
#navigation {
	background: transparent;
	border: none;
	margin: 95px auto 20px;
}
#navigation li {
	border: none;
}
#navigation li.selected a, #navigation li a:hover {
	background-color: transparent;
	color: black;
}
#navigation li.selected a span {
	background: transparent none repeat scroll 0 0;
	padding-left: 0;
}
#content-wrapper {
	background: #3B3532;
	margin: -9px auto;
	width: 1264px;
}
#banner .logo a {
	margin-left: 465px;
	margin-top: -100px;
}
.portlet {
	background: #3B3532 url(../images/custom/bodytopbg.gif) repeat-x scroll 0 0;
	border: none;
}
.portlet-topper {
	background: transparent;
	border: none;
	color: #D5D5D5;
	font-size: 17px;
}
a {
	font-size: 12px;
}
#navigation li a {
	color: black;
	font-size: 14px;
	font-weight: bold;
}
#navigation li a:hover {
	background: #FFFFFF url(../images/custom/client-hover.gif) no-repeat scroll center bottom;
}
.js #add-page {
	background: transparent none repeat scroll 0 0;
	border: medium none;
	top: 0;
}
.js #add-page a span {
	color: black;
}
.ui-tabs li.current a, .ui-tabs li.current span {
	background: transparent none repeat scroll 0 0;
	border: medium none;
}
.ui-tabs {
	border-bottom: medium none;
}
.ui-tabs li.current:hover, .ui-tabs li.current a:hover {
	background-color: transparent;
}
.ui-tabs li a:hover, .ui-tabs li span:hover {
	background: transparent;
}
.ui-tabs li a, .tabs li span {
	background: transparent none repeat scroll 0 0;
	border-right: medium none;
}
#footer {
	background: #24201E url(../images/custom/footerbg.gif) repeat-x scroll 0 0;
	height: 132px;
}
.uni-form {
	background: black;
}
.ui-dialog {
	background-color: black;
}
.portlet-calendar .calendar-day .day-number {
	color: black;
}
.taglib-calendar tr th {
	color: black;
}
.portlet-section-body td {
	color: black;
}