#banner {
	background: black url(../images/custom/header.jpg) no-repeat center;
	height: 230px;
	margin-left: 152px;
	width: 960px;
	position: relative;
}
#navigation {
	background: black;
	border: none;
	height: 80px;
	margin: -1px auto 20px;
	width:960px;
}
#navigation li {
	border: none;
	margin-top: 10px;
}
#wrapper {
	background: transparent;
	position: relative;
	width: 1264px;
}
body {
	background-color: #5A5A5A;
	color: #FFFFFF;
	font-family: Verdana,Arial,Helvetica,sans-serif;
}
#content-wrapper {
	background: black;
	width:960px;
	margin: -20px auto;
}
.portlet {
	background: transparent;
	border: none;
}
.portlet-topper {
	background: transparent;
	border: none;
	color: #2A2557;
	font-size: 16px;
}
a {
	font-size: 12px;
}
#navigation li.selected a, #navigation li a:hover {
	background-color: transparent;
	color: #2A2557;
}
#navigation li.selected a span {
	background: transparent;
	padding-left: 0px;
}
#navigation li a {
	color: white;
	font-size: 16px;
	font-weight: bold;
	padding: 5px 12px;
}
.js #add-page {
	background: transparent none repeat scroll 0% 0%;
	border: medium none;
	top: 18px;
}
#navigation ul {
	width: 84%;
}
#banner .logo a {
	margin-left: 30px;
	margin-top: 55px;
}
.js .interactive-mode {
	right: 2%;
}
.uni-form {
	background: black none repeat scroll 0% 0%;
}
.ui-dialog {
	background-color: black;
}
.ui-tabs li.current:hover, .ui-tabs li.current a:hover {
	background-color: transparent;
}
.ui-tabs li.current a, .ui-tabs li.current span {
	background: transparent none repeat scroll 0% 0%;
	border: medium none;
	color: #2A2557;
}
.ui-tabs li a:hover, .ui-tabs li span:hover {
	background: transparent;
	color: #2A2557;
}
.ui-tabs li a, .tabs li span {
	background: transparent none repeat scroll 0% 0%;
	border-right: medium none;
}
.ui-tabs {
	border-bottom: medium none;
}
#footer {
	background:transparent url(../images/custom/footer.png) repeat scroll center bottom;
	color:#2A2557;
	font-size:9px;
	height:40px;
	margin-left:152px;
	padding:0 40px;
	text-align:center;
	width:880px;
}
.portlet-calendar .calendar-day .day-number {
	color:black;
}
.lfr-table tr td:last-child, .lfr-table tr td.last-child, .lfr-table tr th:last-child, .lfr-table tr th.last-child {
	color: #2A2557;
}
.portlet-section-body td {
	color: black;
}