/* ---------- Configuration ---------- */

.portlet-configuration {
	.kb-block-labels .aui-field-label {
		display: block;
	}

	.kb-field-wrapper {
		margin: 10px 0;

		.aui-field-wrapper-content {
			margin: 0;
		}
	}

	.kb-submit-buttons {
		margin: 0;
		padding: 10px 0 0;
	}
}

/* ---------- Portal ---------- */

.knowledge-base-portlet {
	.aui-field-inline {
		display: inline-block;
	}

	.aui-fieldset {
		padding: 0;

		.lfr-search-container .aui-field-content {
			margin: 0;
		}
	}

	.aui-tagselector-content {
		margin-bottom: 0;
	}

	.lfr-panel-container {
		border-width: 0;
	}

	.taglib-page-iterator {
		.search-pages .page-links {
			padding-top: 5px;
		}

		.search-results {
			padding-top: 6px;
		}
	}

	.taglib-ratings.stars {
		margin: 15px 0 0;
		padding: 0;
	}

	.top-links-container {
		margin: 0;
	}

	/* ---------- Portlet ---------- */

	.kb-article-breadcrumbs {
		margin: 0 5px 10px;
	}

	.kb-article-icons .taglib-workflow-status {
		span {
			margin-right: 0;
			padding-right: 7px;
		}

		.taglib-icon-help {
			display: none;
		}
	}

	.kb-article-siblings {
		border: 1px solid #CCC;
		margin: 15px -7px 0;

		.kb-element-body {
			margin: 0 0 0 20px;

			.kb-article-icons {
				padding: 4px 0;
			}
		}

		.kb-element-header {
			margin: 8px 0 0;

			a {
				display: block;
				font-weight: bold;
			}
		}

		.kb-elements {
			margin: 8px;
		}
	}

	.kb-attachments {
		margin: 5px 0 0;
	}

	.kb-block-labels .aui-field-label {
		display: block;
	}

	.kb-column-no-wrap {
		white-space: nowrap;
	}

	.kb-column-score {
		width: 85px;
	}

	.kb-edit-link {
		margin: 5px 0 0;
	}

	.kb-entity-body {
		padding: 0 7px;

		.kb-article-asset-entries {
			margin: 15px 0 0;

			.kb-info {
				color: #7D7D7D;
				padding-left: 5px;
			}

			.kb-most-popular-column {
				padding: 0 0 0 20px;
				width: 40%;

				.kb-header {
					border-bottom: 1px solid #CCC;
					color: #555;
					font-weight: bold;
					margin: 0 -7px 0 -27px;
					padding: 0 7px;
				}
			}

			.kb-most-recent-column {
				padding: 0 20px;
				width: 60%;

				.kb-header {
					border-bottom: 1px solid #CCC;
					color: #555;
					font-weight: bold;
					margin: 0 0 0 -27px;
					padding: 0 7px;
				}
			}

			.kb-title {
				margin: 5px 0 0;

				a {
					font-weight: bold;
					margin: 0 0 0 -20px;
				}
			}
		}

		.kb-article-assets {
			color: #7D7D7D;
			margin: 10px 0 0;
		}

		.kb-article-attachments {
			margin: 10px 0 0;
		}

		.kb-article-comments, .kb-template-comments {
			margin: 15px -7px 0;

			.aui-field-content {
				margin: 0;
			}

			.kb-all-comments {
				color: #7D7D7D;
				font-weight: bold;
				margin: 0 10px 10px;
			}

			.kb-helpful-inputs {
				margin: 4px 0 0;

				label {
					font-weight: normal;
				}
			}

			.kb-helpful-text {
				margin: 0 10px 0 0;
			}

			.kb-no {
				color: red;
			}

			.kb-question {
				color: #999;
			}

			.kb-yes {
				color: green;
			}
		}

		.kb-article-icons, .kb-template-icons {
			padding: 0 0 5px;
		}
	}

	.kb-entity-footer {
		margin: 10px 0 0;
	}

	.kb-entity-header {
		border-bottom: 1px solid #CCC;
		margin: 5px 0 5px 0;
		padding: 0 5px 3px;

		.kb-title {
			float: left;
			font-size: 1.2em;
			font-weight: bold;
		}

		.kb-tools {
			float: right;
		}
	}

	.kb-field-wrapper {
		margin: 10px 0;

		.aui-field-wrapper-content {
			margin: 0;
		}
	}

	.kb-panel-separator {
		margin-bottom: 15px;
	}

	.kb-priority {
		padding-left: 10px;
	}

	.kb-select-article-breadcrumbs {
		margin: 0 0 5px;
	}

	.kb-submit-buttons {
		margin-top: 0;
		padding-top: 10px;
	}
}