/* ---------- Portal ---------- */

#main-content .knowledge-base-portlet-admin .lfr-panel-container .lfr-panel,
#main-content .knowledge-base-portlet-admin .lfr-panel-container .lfr-panel .lfr-panel-content {
	background: none;
}

#main-content .knowledge-base-portlet-admin .lfr-panel-container .lfr-panel .lfr-panel-titlebar {
	border-bottom: none;
}

.knowledge-base-portlet-admin .aui-field-assetcategories .aui-field-content {
	margin: 10px 0 20px;
}

/* ---------- Portlet ---------- */

.knowledge-base-portlet-admin .kb-admin-tools {
	float: right;
	padding: 5px 5px 0 0;
}

.knowledge-base-portlet-admin .kb-attachments {
	margin: 5px 0 0;
}

.knowledge-base-portlet-admin .kb-edit-link {
	margin: 5px 0 0;
}

.knowledge-base-portlet-admin .kb-search-toggle .aui-fieldset label {
	display: block;
}

.knowledge-base-portlet-admin .kb-search-toggle .kb-date-field {
	float: left;
}

.knowledge-base-portlet-admin .kb-select-article-breadcrumbs {
	margin: 0 0 5px;
}