/* ---------- Portal ---------- */

#main-content .knowledge-base-portlet-admin .lfr-panel-container .lfr-panel,
#main-content .knowledge-base-portlet-admin .lfr-panel-container .lfr-panel .lfr-panel-content {
	background: none;
}

#main-content .knowledge-base-portlet-admin .lfr-panel-container .lfr-panel .lfr-panel-titlebar {
	border-bottom: none;
}

/* ---------- Portlet ---------- */

.knowledge-base-portlet-admin .kb-admin-tools {
	float: right;
	padding: 5px 5px 0 0;
}

.knowledge-base-portlet-admin .kb-search-toggle .yui3-aui-field-label {
	display: block;
}

.knowledge-base-portlet-admin .kb-search-toggle .kb-date-field {
	float: left;
}