/* ---------- Portal ---------- */

#main-content .knowledge-base-portlet-admin .lfr-panel-container .lfr-panel,
#main-content .knowledge-base-portlet-admin .lfr-panel-container .lfr-panel .lfr-panel-content {
	background: none;
}

#main-content .knowledge-base-portlet-admin .lfr-panel-container .lfr-panel .lfr-panel-titlebar {
	border-bottom: none;
}

/* ---------- Portlet ---------- */

.knowledge-base-portlet-admin .kb-admin-tools {
	padding: 5px 5px 0 0;
	text-align: right;
}

.knowledge-base-portlet-admin .kb-suggestion-actions {
	margin-top: 1em;
}

.knowledge-base-portlet-admin .kb-search-toggle .kb-date-field {
	float: left;
}

.knowledge-base-portlet-admin input.kb-article-priority {
	width: inherit;
}