/* ---------- Portal ---------- */

.knowledge-base-portlet-admin .lfr-panel .lfr-panel-titlebar {
	margin-bottom: 0;
}

.knowledge-base-portlet-admin .lfr-panel-container {
	border-width: 0;
}

.knowledge-base-portlet-admin .taglib-page-iterator .delta-selector {
	display: none;
}

.knowledge-base-portlet-admin .taglib-page-iterator .page-selector {
	display: none;
}

.knowledge-base-portlet-admin .top-links-container {
	margin: 0 0 15px 0;
}

/* ---------- Portlet ---------- */

.knowledge-base-portlet-admin .kb-entity-body {
	padding: 0 7px;
}

.knowledge-base-portlet-admin .kb-entity-body .kb-article-discussion {
	margin: 10px -7px 0;
}

.knowledge-base-portlet-admin .kb-entity-body .kb-article-icons {
	padding: 0 0 6px;
}

.knowledge-base-portlet-admin .kb-entity-body .taglib-discussion {
	margin: 6px 7px 0;
}

.knowledge-base-portlet-admin .kb-entity-footer {
	margin: 10px 0 0;
}

.knowledge-base-portlet-admin .kb-entity-header {
	border-bottom: 1px solid #CCC;
	margin-bottom: 6px;
	padding: 0 5px 3px;
}

.knowledge-base-portlet-admin .kb-entity-header .kb-title {
	float: left;
	font-size: 1.2em;
	font-weight: bold;
}

.knowledge-base-portlet-admin .kb-entity-header .kb-tools {
	float: right;
}

.knowledge-base-portlet-admin .kb-results-body {
	padding: 0 5px 0 25px;
}

.knowledge-base-portlet-admin .kb-results-body .kb-article-icons {
	padding: 6px 0;
}

.knowledge-base-portlet-admin .kb-results-body .kb-title a {
	display: block;
	font-weight: bold;
	margin: 6px 0 0 -20px;
}

.knowledge-base-portlet-admin .kb-results-footer {
	margin: 6px 5px 0;
}

.knowledge-base-portlet-admin .kb-results-header {
	margin-bottom: 1em;
}

.knowledge-base-portlet-admin .kb-results-header .kb-buttons {
	float: left;
}