/* -------- Global -------- */

#skip-to-content,
#heading .community-title,
#heading .page-title,
#navigation h1 {
	clip: rect(0 0 0 0);
	position: absolute;
}

body {
	background: #E7E1DE;
	color: #444;
}

#heading,
#navigation,
#main-content,
#footer {
	margin: 0 auto;
	width: 960px;
}

#heading .company-title,
#main-content,
#footer {
	padding: 20px 0;
}

/* -------- Wrapper / Skip / Sign-in -------- */

#wrapper {
	font: 10px/1.5 Arial, Helvetica, sans-serif;
}

#skip-to-content,
#sign-in {
	color: #FFF;
	right: 2em;
}

#skip-to-content:active,
#skip-to-content:focus {
	clip: auto;
}

#skip-to-content {
	top: 1em;
}

#sign-in {
	position: absolute;
	top: 2.5em;
}

/* -------- Banner -------- */

#banner {
	background: #443B31 url(http://wp-themes.com/wp-content/themes/titan/images/nav-background.gif) repeat-x left bottom;
	border-bottom: 1px solid #EDE7E0;
}

#heading .company-title {
	margin: 0;
}

#heading .company-title a {
	margin 0 auto;
}

/* -------- Navigation -------- */

#navigation {
	font-size: 1.3em;
}

#navigation ul {
	list-style: none;
	margin: 0;
}

.ie6 #navigation ul,
.ie7 #navigation ul {
	zoom: 1;
}

#navigation ul:after {
	clear: both;
	content: "";
	display: block;
}

#navigation ul {
	border-left: 1px solid #E3E0D5;
}

#navigation li {
	border-right: 1px solid #E3E0D5
}

#navigation li,
#navigation a {
	float: left;
}

#navigation a {
	color: #444;
	display: block;
	height: 18px;
	padding: 11px 20px;
	text-decoration: none;
}

.ie7 #navigation a {
	height: 17px;
}

#navigation a:active,
#navigation a:focus,
#navigation a:hover {
	background: #FFF;
	color: #000;
}

/* -------- Content -------- */

#content {
	background: #F9F7F5;
}

#breadcrumbs {
	display: none;
}

.portlet {
	border-top: 1px solid #EFEAE4;
	margin: 0 0 30px;
}

.portlet-topper {
	margin: 20px 0 0;
}

.portlet-title {
	font-size: 1.5em;
	text-decoration: uppercase;
}

/* -------- Footer -------- */

#footer p {
	margin: 0;
}