<?xml version="1.0"?>

<web-app version="2.5"
		xmlns="http://java.sun.com/xml/ns/javaee"
		xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
		xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">

	<context-param>
		<param-name>portalContextConfigLocation</param-name>
		<param-value>/WEB-INF/classes/META-INF/elasticsearch-spring.xml,/WEB-INF/classes/META-INF/messaging-spring.xml</param-value>
	</context-param>
</web-app>