<!DOCTYPE html>

#parse ($init)

<html class="$root_css_class" dir="#language("lang.dir")" lang="$w3c_language_id">

<head>
	<title>$the_title - $company_name</title>

	$theme.include($top_head_include)

	<meta content="user-scalable=yes, initial-scale=1.0, width=device-width" name="viewport" />
</head>

<body class="dockbar-split so-strata-theme $css_class">

$theme.include($body_top_include)

#if ($is_signed_in)
	#dockbar()
#end

<div id="wrapper">
	<a class="hidden-accessible" href="#main-content" id="skip-to-content">#language("skip-to-content")</a>

	<header id="banner" role="banner">
		<div id="heading">
			#if (!$is_user_dashboard)
				<h1 class="site-title">
					<a class="$logo_css_class" href="$community_default_public_url" title="#language_format ("go-to-x", [$site_name])">

						#if (!$is_profile_page)
							<img alt="$logo_description" height="$site_logo_height" src="$site_logo" width="$site_logo_width" />
						#end

						#if ($show_site_name)
							<span class="site-name" title="#language_format ("go-to-x", [$site_name])">
								$site_name
							</span>
						#end
					</a>
				</h1>

				#if ($is_signed_in && !$is_user_page)
					#set ($user_local_service = $serviceLocator.findService("com.liferay.portal.service.UserLocalService"))

					#set ($member = $user_local_service.hasGroupUser($page_group.getGroupId(), $user_id))

					#set ($membership_request_local_service = $serviceLocator.findService("com.liferay.portal.service.MembershipRequestLocalService"))

					#set ($membership_request = $membership_request_local_service.hasMembershipRequest($user_id, $page_group.getGroupId(), 0))

					#if (!$member)
						#if ($page_group.getType() == 1)
							#set ($join_url = $portletURLFactory.create($request, "174", $page.getPlid(), "ACTION_PHASE"))

							$join_url.setParameter("struts_action", "/sites_admin/edit_site_assignments")
							$join_url.setParameter("cmd", "group_users")
							$join_url.setParameter("redirect", $community_default_url)
							$join_url.setParameter("groupId", "$page_group.getGroupId()")
							$join_url.setParameter("addUserIds", "$user_id")
							$join_url.setWindowState("normal")

							<a class="aui-button button action request member-button" href="$join_url" id="memberButton">
								<span class="aui-button-content"><span class="aui-button-label">#language("join-site")</span></span>
							</a>
						#elseif (($page_group.getType() == 2) && !$membership_request)
							#set ($membership_request_url = $portletURLFactory.create($request, "174", $page.getPlid(), "ACTION_PHASE"))

							$membership_request_url.setParameter("struts_action", "/sites_admin/post_membership_request")
							$membership_request_url.setParameter("redirect", $community_default_url)
							$membership_request_url.setParameter("groupId", "$page_group.getGroupId()")
							$membership_request_url.setWindowState("normal")

							#set ($arguments = [$user_name, $community_name])

							$membership_request_url.setParameter("comments", $languageUtil.format($locale, "x-wishes-to-join-x", $arguments.toArray()))

							<a class="aui-button button action request member-button" href="$membership_request_url" id="memberButton">
								<span class="aui-button-content">
									<span class="aui-button-label">#language ("request-membership")</span>
								</span>
							</a>
						#elseif ($membership_request)
							<a class="aui-button button action requested member-button" id="memberButton">
								<span class="aui-button-content">
									<span class="aui-button-label">#language ("membership-requested")</span>
								</span>
							</a>
						#end
					#end
				#end
			#end

			#if ($is_signed_in)
				<a class="config-icon" href="javascript:;" id="toggleDockbar">
					<img alt="#language("configuration") #language("icon")" height="16" src="$images_folder/custom/cog.png" width="16" />

					<span class="aui-helper-hidden">
						#language("toggle") #language("javax.portlet.title.145")
					</span>
				</a>

				<div id="page-search">
					$theme.search()
				</div>
			#end

			#if (!$is_signed_in)
				<a href="$sign_in_url" id="sign-in" rel="nofollow">$sign_in_text</a>
			#end

			#if ($is_user_dashboard)
				<h2 class="page-title">
						<a class="avatar" href="$current_user_profile_url" style="background-image: url($user.getPortraitURL($themeDisplay))">
							<img alt="$user.getFullName()" src="$user.getPortraitURL($themeDisplay)">
						</a>

						<span class="aui-helper-hidden">$current_user.getFullName()'s</span>

					<span>$the_title</span>
				</h2>
			#end
		</div>
	</header>

	<div id="content">
		#if ($has_navigation || $is_signed_in)
			#parse ("$full_templates_path/navigation.vm")
		#end

		#if ($selectable)
			$theme.include($content_include)
		#else
			$portletDisplay.recycle()

			$portletDisplay.setTitle($the_title)

			$theme.wrapPortlet("portlet.vm", $content_include)
		#end
	</div>

	#if (!$page_group.isUser())
		<nav class="site-breadcrumbs" id="breadcrumbs">
			<h1 class="hidden-accessible">
				<span>#language("breadcrumbs")</span>
			</h1>

			#breadcrumbs()
		</nav>
	#end

	<footer id="footer" role="contentinfo">
		<p class="powered-by">
			#language("powered-by") <a href="http://www.liferay.com" rel="external">Liferay</a>
		</p>
	</footer>
</div>

$theme.include($body_bottom_include)

</body>

#if ($show_edit_profile_button)
	<script type="text/javascript">
		Liferay.provide(
			window,
			'_2_changeLogo',
			function(logoURL) {
				A.all('#${themeNamespace}avatar, #content .avatar img, .user-fullname.user-portrait img').attr('src', logoURL);
			},
			['aui-base']
		);

		AUI().use(
			'liferay-logo-selector',
			'aui-base',
			function(A) {
				var editPortraitButton = A.one('#${themeNamespace}editPortraitButton');

				var editPortrait = null;

				if (editPortraitButton) {
					editPortraitButton.on(
						'click',
						function(event) {
							if (!editPortrait) {
								editPortrait = new Liferay.LogoSelector(
									{
										boundingBox: '#${themeNamespace}taglibLogoSelector',
										contentBox: '#${themeNamespace}taglibLogoSelectorContent',
										defaultLogoURL: '$current_user_profile_portrait_url',
										editLogoURL: '$current_user_edit_profile_portrait_url',
										logoDisplaySelector: '#${themeNamespace}avatar',
										portletNamespace: '',
										randomNamespace: '${themeNamespace}'
									}
								);
							}

							editPortrait._openEditLogoWindow();
						}
					);
				}
			}
		);
	</script>
#end

$theme.include($bottom_include)

</html>