/* ---------- Import Color Schemes ---------- */

@import url(color_schemes/osx.css);

/* ---------- Browser normalization ---------- */

html {
	height: 100%;
	overflow: hidden;
}

body {
	height: 100%;
	font-size: 12px;
}

/* ---------- Main background ---------- */

#desktop-locked, #desktop-login {
	background: #111 url(../images/desktop/desktop_locked_bg.jpg) no-repeat fixed bottom left;
}

#desktop-maximized {
	background: #111 url(../images/desktop/maximized.png) no-repeat fixed bottom left;
}

#desktop-user {
	background: #111 url(../images/desktop/desktop_user_bg.jpg) no-repeat fixed bottom left;
}

/* ---------- Main content body ---------- */

#wrapper {
	height: 100%;
	width: 100%;
}

#content-wrapper {
	position: relative;
	width: 100%;
}

/* ---------- Layout ---------- */

#layout-grid .lfr-column {
	padding: 0;
}

/* ---------- Alerts and popups ---------- */

.popup-alert-notice, .popup-alert-warning {
	background-color: #E4E1DC;
	border-color: white;
	border-style: solid;
	border-width: 10px 1px 1px;
	color: #000000;
	filter: alpha(opacity=87);
	font-size: 12px;
	margin: 0 auto;
	opacity: 0.87;
	padding: 8px 10px 10px 35px;
	position: relative;
	top: -28%;
	width: 300px;
}

/* ---------- Loading animation ---------- */

.loading-animation {
	background: url(../images/progress_bar/loading_animation.gif) no-repeat center center;
}

/* ---------- Dock icon ---------- */

.js .interactive-mode {
	background: transparent url(../images/dock/menu_bar.png) no-repeat scroll 0 0;
	float: none;
	height: 35px;
	left: 4px;
	min-width: 42px;
	right: auto;
	top: -1px;
	width: 42px;
}

.js .lfr-dock.expanded {
	background: transparent url(../images/dock/menu_bar_hover.png) no-repeat scroll 0 0;
}

.js .lfr-dock.expanded .lfr-dock-list-container {
	position: relative;
	top: 32px;
}

/* ---------- Dock menu ---------- */

.js .interactive-mode ul.lfr-dock-list {
	background: #FFF url(../images/dock/dock_bg.png) no-repeat scroll 0 0;
	border-width: 0 1px 1px;
	position: absolute;
	width: 180px;
}

.js .interactive-mode ul a {
	color: #000;
}

.js .interactive-mode li {
	border-top: none;
}

.js .interactive-mode li.sign-out {
	border-top: 1px solid #DEDEDE;
}

.js .lfr-flyout.has-children {
	background: transparent url(/desktop-theme/images/arrows/04_right.png) no-repeat scroll 96% 50%;
	padding-left: 2px;
	padding-right: 20px;
}

.js .lfr-flyout.has-children ul {
	left: 100%;
	right: auto;
}

.js .interactive-mode .taglib-home a, .js .interactive-mode .taglib-home a:hover {
	background-image: url(../images/trees/page.png);
}

.js .interactive-mode .my-places li {
	background-position: 96% 50%;
}

.js .interactive-mode .home li.selected, .js .interactive-mode .my-places li.current {
	background-color: #D3DADD;
}

.js .interactive-mode .home li.selected:hover, .js .interactive-mode .my-places li.current:hover {
	background-color: #828F95;
}

/* ---------- Portlet template ---------- */

div.portlet {
	background: #FFF;
	border: 1px solid #000;
}

div.portlet .portlet-topper {
	background-color: #111;
	border-bottom: 1px solid #000;
	height: 31px;
	padding: 0 8px;
}

/* ---------- Portlet wrapper and icons ---------- */

.portlet, .portlet-topper, .portlet-content, .portlet-title {
	background: none;
}

.portlet-topper {
	height: 31px;
	padding: 6px 0 0 3px;
	white-space: nowrap;
}

.portlet-title {
	color: #FFF;
	font-size: 15px;
	font-stretch: semi-condensed;
	font-weight: 300;
	line-height: 20px;
	padding: 5px 0;
}

.portlet-title img {
	display: none;
}

.portlet-address {
	background: #F4F4F4;
	border-top: 1px solid #DFDFDF;
	color: #B1B1B1;
	line-height: 1em;
	overflow: hidden;
	padding: 5px 10px 2px;
	white-space: nowrap;
}

.portlet-content {
	padding: 0;
	width: auto;
}

.portlet-content-container {
	padding: 10px;
}

.portlet-modes {
	right: -1px;
	top: 6px;
}

.portlet-modes a {
	float: left;
	height: 16px;
}

.icon-min a {
	background: transparent url(../images/portlet/minimize.png) no-repeat scroll 0 0;
	width: 23px;
}

.icon-min a.selected {
	background: transparent url(../images/portlet/minimize_hover.png) no-repeat scroll 0 0;
}

.icon-max a {
	background: transparent url(../images/portlet/maximize.png) no-repeat scroll 0 0;
	width: 23px;
}

.icon-max a.selected {
	background: transparent url(../images/portlet/maximize_hover.png) no-repeat scroll 0 0;
}

.icon-close a {
	background: transparent url(../images/portlet/close.png) no-repeat scroll 0 0;
	width: 41px;
}

.icon-close a.selected {
	background: transparent url(../images/portlet/close_hover.png) no-repeat scroll 0 0;
}

.icon-back {
	top: 11px;
}

.portlet-icon-back {
	color: #FFF;
	text-decoration: none;
}

.portlet-icon-back:hover {
	color: #FFF;
	text-decoration: underline;
}

/* ---------- Portlet container ---------- */

.portlet-top {
	height: 38px;
}

.portlet-top .top-left {
	background: transparent url(../images/portlet/top_left.png) no-repeat scroll 0% 0%;
	height: 38px;
}

.portlet-top .top-center {
	background: transparent url(../images/portlet/top_center.png) repeat-x scroll 0% 0%;
	height: 38px;
	margin-right: 13px;
}

.portlet-top .top-right {
	background: transparent url(../images/portlet/top_right.png) no-repeat scroll 100% 0%;
	height: 38px;
	margin-left: 13px;
}

.portlet-middle .middle-left {
	background: transparent url(../images/portlet/middle_left.png) repeat-y scroll 0% 0%;
}

.portlet-middle .middle-center {
	background: #FFF;
	margin-right: 8px;
}

.portlet-middle .middle-right {
	background: transparent url(../images/portlet/middle_right.png) repeat-y scroll 100% 0%;
	margin-left: 8px;
}

.portlet-clear {
	clear: both;
	font-size: 0;
	height: 0;
	line-height: 0;
	overflow: hidden;
}

.portlet-bottom {
	height: 13px;
}

.portlet-bottom .bottom-left {
	background: transparent url(../images/portlet/bottom_left.png) no-repeat scroll 0% 0%;
	height: 13px;
}

.portlet-bottom .bottom-center {
	background: transparent url(../images/portlet/bottom_center.png) repeat-x scroll 0% 0%;
	height: 13px;
	margin-right: 13px;
}

.portlet-bottom .bottom-right {
	background: transparent url(../images/portlet/bottom_right.png) no-repeat scroll 100% 0%;
	height: 13px;
	margin-left: 13px;
}

/* ---------- Portlet resize handle ---------- */

.freeform .portlet-boundary .ui-resizable-handle {
	margin: 4px 6px 7px;
}

/* ---------- Portlet minimized ---------- */

.portlet-boundary.portlet-minimized {
	display: none;
}

/* ---------- Portlet borderless ---------- */

.portlet-borderless-container {
	color: #FFF;
}

/* ---------- Portlet options link ---------- */

.lfr-menu-list {
	z-index: 100;
}

.lfr-actions.portlet-options {
	font-size: 12px;
	height: 15px;
	line-height: 15px;
	padding: 0 3px 1px;
}

.lfr-actions.portlet-options .lfr-trigger strong {
	padding: 0;
}

.lfr-actions.portlet-options .lfr-trigger strong span {
	background-image: none;
	color: #8F96A7;
	text-indent: 0;
	width: 1%;
}

.lfr-menu-list li {
	padding: 0;
}

.lfr-menu-list li a {
	padding: 3px 7px 3px 0;
}

.portlet-options.visible {
	background: #FFF url(../images/forms/button.png) repeat-x 0 100%;
	border-color: #DEDEDE;
}

.portlet-options.visible .lfr-trigger strong span {
	background-image: none;
	color: #06C;
}

/* ---------- Portlet options container ---------- */

.icon-options {
	right: 0;
	top: 13px;
}

.ie icon-options {
	top: 12px;
}

.icon-options-min, .icon-options-max {
	right: 23px;
	top: 7px;
}

.icon-options-close {
	right: 41px;
	top: 7px;
}

.icon-options-min-max {
	right: 46px;
	top: 7px;
}

.icon-options-min-close, .icon-options-max-close {
	right: 64px;
	top: 7px;
}

.icon-options-min-max-close {
	right: 87px;
	top: 7px;
}

/* ---------- Taskbar ---------- */

#taskbar-container {
	background: transparent url(../images/taskbar/taskbar_bg.png) repeat-x scroll 0 0;
	height: 30px;
	position: relative;
	z-index: 101;
}

#taskbar {
	background: transparent url(../images/taskbar/taskbar_spacer.png) no-repeat scroll 40px 0;
	height: 30px;
	left: 0;
	top: 0;
	width: 100%;
}

#taskbar-portlets-wrapper {
	height: 28px;
	left: 0;
	overflow: hidden;
	position: absolute;
	top: 1px;
	width: 100%;
}

#taskbar-portlets {
	margin: 0;
	padding: 0 10px 0 53px;
}

#taskbar-portlets .taskbar-link {
	float: left;
	list-style-type: none;
	max-width: 200px;
	min-width: 40px;
	overflow: hidden;
	white-space: nowrap;
}

#taskbar-portlets .taskbar-link a {
	background: transparent url(../images/taskbar/taskbar_link_bg.png) no-repeat scroll 100% 0;
	border-color: #999 #202020 #202020 #999;
	border-style: solid;
	border-width: 1px;
	color: #EEE;
	display: block;
	font-size: 13px;
	line-height: 16px;
	height: 16px;
	padding: 5px 7px;
	text-decoration: none;
}

#taskbar-portlets .taskbar-link a:hover {
	background: transparent url(../images/taskbar/taskbar_link_hover_bg.png) no-repeat scroll 0 0;
	border-color: #202020 #999 #999 #202020;
}

#taskbar-portlets .taskbar-link.selected a {
	background: transparent url(../images/taskbar/taskbar_link_selected_bg.png) no-repeat scroll 0 0;
	border-color: #202020 #999 #999 #202020;
	color: #F2F2F2;
}

#taskbar-portlets .taskbar-link-title {
	overflow: hidden;
}

/* ---------- Sidebar ---------- */

#sidebar-container {
	background: transparent url(../images/sidebar/sidebar_bg.png) repeat-y scroll 25px 0;
	color: #FFF;
	height: 100%;
	padding-right: 5px;
	position: fixed;
	right:0;
	top: 0;
	width: 20px;
	z-index: 100;
}

#sidebar {
	display: none;
	filter: alpha(opacity=0);
	float: right;
	left: 30px;
	opacity: 0;
	width: 235px;
}

#sidebar-link {
	float: left;
	height: 100%;
	width: 20px;
}

#sidebar-link a {
	background: transparent url(../images/arrows/sidebar_left.png) no-repeat scroll 50% 45%;
	display: block;
	height: 100%;
	outline: none;
}

#sidebar-link a:hover {
	background: transparent url(../images/arrows/sidebar_left_hover.png) no-repeat scroll 50% 45%;
}

#sidebar-link a.expanded {
	background: transparent url(../images/arrows/sidebar_right.png) no-repeat scroll 50% 45%;
}

#sidebar-link a.expanded:hover {
	background: transparent url(../images/arrows/sidebar_right_hover.png) no-repeat scroll 50% 45%;
}

#sidebar-top {
	height: 100px;
	margin: 45px 0 0 0;
	overflow: hidden;
}

#sidebar-top .clock {
	display: none;
	float: left;
	margin: 0 0 0 10px;
}

#sidebar-top .calendar {
	background: transparent url(../images/sidebar/calendar_bg.png) no-repeat scroll 100% 0;
	height: 100px;
	filter: alpha(opacity=0);
	float: right;
	margin: 0 10px 0 0;
	opacity: 0;
	width: 100px;
}

#sidebar-top .month {
	color: #222;
	display: block;
	font-family: 'Arial', 'Tahoma','Lucida Sans Unicode';
	font-size: 17px;
	font-weight: bold;
	line-height: 25px;
	margin:10px 0 5px;
	text-align: center;
}

#sidebar-top .day {
	color: #000;
	display: block;
	font-size: 40px;
	font-weight: bold;
	line-height: 40px;
	text-align: center;
}

#sidebar .portal-add-content {
	background: transparent;
}

#sidebar .portal-add-content-search {
	margin: 7px 0;
}

#sidebar .lfr-add-content h2 span {
	font-weight: normal;
}

#sidebar .lfr-content-category.visible {
	border-bottom: none;
}

#sidebar .lfr-install-more a, #sidebar .lfr-install-more a:hover {
	color: #FFF;
	font-weight: normal;
}

#sidebar .lfr-portlet-item {
	border: none;
}

#sidebar .lfr-portlet-item:hover, #sidebar .lfr-portlet-item.over {
	background-color: #336ECA;
}

#sidebar .lfr-portlet-item p a, #sidebar .lfr-portlet-item p a:hover {
	color: #FFF;
	font-weight: normal;
}

#sidebar .lfr-portlet-used {
	color: #222;
}

#sidebar .portlet-msg-info{
	background: transparent url(../images/messages/info.png) no-repeat scroll 0.5em 50%;
	color: #FFF;
	font-weight: normal;
	margin: 20px 0 0 0;
}

/* ---------- Portal pages ---------- */

#portlet-wrapper-email-address .portlet-content {
	padding: 10px;
}

#portlet-wrapper-error .portlet-content {
	padding: 10px;
}

#portlet-wrapper-new-password .portlet-content {
	padding: 10px;
}

#portlet-wrapper-password-reminder .portlet-content {
	padding: 10px;
}

#portlet-wrapper-status .portlet-content {
	padding: 10px;
}

#portlet-wrapper-terms-of-use .portlet-content {
	padding: 10px;
}

#portlet-wrapper-test .portlet-content {
	padding: 10px;
}

.lfr-has-sidebar {
	padding-left: 0;
}

.lfr-has-sidebar #main-container {
	padding-left: 270px;
}

.portlet-blogs .portlet-content {
	width: 100%;
}

.portlet-login .portlet-title img {
	display: inline;
	vertical-align: text-bottom;
}

#main-container .portlet-tagged-content {
	filter: none;
	opacity: 1.0;
}

/* ---------- Legacy 5.1.x ---------- */

#portlet-wrapper-change-password .portlet-content {
	padding: 10px;
}

#portlet-wrapper-sign-in .portlet-content {
	padding: 10px;
}

/* ---------- IE6 ---------- */

.ie6 .popup-alert-notice, .ie6 .popup-alert-warning {
	left: 37%;
	position: absolute;
	top: 72%;
}

.ie6.js .lfr-flyout.has-children ul {
	left: 184px;
}

.ie6.js .lfr-flyout.has-children ul ul {
	left: 100%;
}

.ie6 #taskbar-portlets .taskbar-link a {
	background: #2A5C7E;
}

.ie6 #taskbar-portlets .taskbar-link a:hover {
	background: #477097;
}

.ie6 #taskbar-portlets .taskbar-link.selected a {
	background: #5A93C4;
}

.ie6 .icon-min a {
	background: transparent url(../images/portlet/minimize_hover.png) no-repeat scroll 50% 0;
	filter: alpha(opacity=50);
	opacity: .5;
}

.ie6 .icon-max a {
	background: transparent url(../images/portlet/maximize_hover.png) no-repeat scroll 50% 0;
	filter: alpha(opacity=50);
	opacity: .5;
}

.ie6 .icon-close a {
	background: transparent url(../images/portlet/close_hover.png) no-repeat scroll 50% 0;
	filter: alpha(opacity=50);
	opacity: .5;
}

.ie6 .icon-min a.selected, .ie6 .icon-max a.selected, .ie6 .icon-close a.selected {
	filter: alpha(opacity=100);
	opacity: 1;
}

.ie6 .portlet-middle {
	height: 1%;
}

.ie6 .taglib-page-iterator {
	height: 1%;
}

.ie6 #portal_add_content .expanded {
	background-image: none;
}