/**
 * This file allows you to override default styles in one central location
 * for easier upgrade and maintenance.
 *
 * This CSS file is loaded last and will overwrite all other css files.
 */

/* ---------- Color Schemes ---------- */

@import url(color_schemes/osx.css);
@import url(color_schemes/vista.css);
@import url(color_schemes/linux.css);

/* ---------- Styles in base.css ---------- */

html {
	overflow: hidden;
}

body {
	background: #d5d9dc url(../images/desktop/desktop_bg.jpg) no-repeat fixed 50% 50%;
}

#wrapper {
	height: 100%;
	width: 100%;
}

#content-wrapper {
	position: relative;
}

#layout-grid {
	position: relative;
}

.popup-alert-notice,
.popup-alert-warning {
	background-color: #E4E1DC;
	border-color: white;
	border-style: solid;
	border-width: 10px 1px 1px;
	color: #000000;
	filter: alpha(opacity=87);
	margin: 0 auto;
	opacity: 0.87;
	padding: 8px 10px 10px 35px;
	position: relative;
	top: -28%;
	width: 300px;
}

.ie6 .popup-alert-notice,
.ie6 .popup-alert-warning {
	left: 37%;
	position: absolute;
	top: 72%;
}

.loading-animation {
	background: url(../images/progress_bar/loading_animation.gif) no-repeat center center;
}

/* ---------- Styles in navigation.css ---------- */

.js .interactive-mode {
	background: transparent url(../images/dock/menu_bar.png) no-repeat scroll 0 0;
	float: none;
	height: 34px;
	left: 4px;
	min-width: 43px;
	right: auto;
	top: -6px;
	width: 43px;
}

.js .lfr-dock.expanded {
	background: transparent url(../images/dock/menu_bar_hover.png) no-repeat scroll 0 0;
}

/* ---------- Styles for the Liferay Dock menu ---------- */

.js .lfr-dock.expanded .lfr-dock-list-container {
	background: transparent url(../images/dock/dock_bg.png) repeat-y scroll left bottom;
	border: none;
	padding: 0 0 11px;
	position: relative;
	top: 34px;
	width: 190px;
}

.js .interactive-mode ul {
	background: none;
	border: none;
	border-top: 1px solid #b7bfb4;
	margin: 0 9px 0 0;
}

.js .interactive-mode li {
	border-top: none;
	margin: 0 1px 0 5px;
}

.js .lfr-dock.interactive-mode li a:hover {
	color: #ffffff;
	background-color: #0a246a;
	background-position: 0.5em 50%;
	padding-left: 2.5em;
}

.js .interactive-mode li a {
	color: #000000;
	font-size: 12px;
	font-weight: bold;
	font-family: Arial,Verdana,sans-serif;
	margin: 0;
}

.js .lfr-dock.interactive-mode li.add-content,
.js .lfr-dock.interactive-mode li.sign-out {
	border-top: 1px dotted #888888;
}

.js.ie .interactive-mode li.home a {
	margin: 0 1px 0 5px;
}

.js.ie .interactive-mode ul.taglib-home a {
	margin: 0;
}

/* ---------- Styles for the Main Navigation flyout menu ---------- */

.js .lfr-flyout.has-children ul.taglib-home {
	right: -194px;
}

.js .interactive-mode .home li {
	margin: 0;
	max-height: 26px;
	min-width: 175px;
	padding: 0 2px;
}

.js .interactive-mode .home li.selected a,
.js .interactive-mode .home .child-menu li.selected a {
	background-color: #3da5d5;
	color: #ffffff;
}

.js .interactive-mode .home li.selected a:hover,
.js .interactive-mode .home .child-menu li.selected a:hover{
	background-color: #0a246a;
	color: #ffffff;
}

.js .interactive-mode .home li a,
.js .interactive-mode .home .child-menu li a {
	background: none;
	color: #000000;
	padding:0.5em 0pt 0.5em 1em;
}

.js .interactive-mode .home li a:hover {
	background-color: #0a246a;
	color: #ffffff;
	padding:0.5em 0pt 0.5em 1em;
}

/* ---------- Styles for the My Places flyout menu ---------- */

.js .lfr-flyout.has-children {
	background: none;
	padding-left: 0;
}

.js .lfr-flyout.has-children ul {
	right: -184px;
}

.js .interactive-mode .lfr-flyout.has-children ul {
	background: transparent url(../images/dock/child_menu_bg.png) repeat-y scroll left top;
	border-bottom: 1px solid #b7bfb4;
	border-left: none;
	border-right: none;
	border-top: 1px solid #b7bfb4;
	width: 184px;
	padding: 0 0 2px;
}

.js .interactive-mode .my-places li {
	margin: 0;
	max-height: 26px;
	min-width: 175px;
	padding: 0 2px;
}

.js .interactive-mode .lfr-flyout.has-children ul li ul {
	padding: 0 0 2px;
	right: -192px;
}

.js .interactive-mode .my-places li.current-community {
	background-color: transparent;
}

.js .interactive-mode .my-places li.current-community h3 a {
	background-color: #3da5d5;
	color: #ffffff;
}

.js .interactive-mode .my-places li.current-community h3 a:hover {
	background-color: #0a246a;
}

.js .interactive-mode .my-places li.current a {
	background: #3da5d5 url(../images/dock/my_place_current.png) no-repeat scroll 0.5em 50%;
	color: #ffffff;
	padding-left: 2.5em;
}

.js .interactive-mode .my-places li.current a:hover {
	background: #0a246a url(../images/dock/my_place_current.png) no-repeat scroll 0.5em 50%;
}

.ie.js .interactive-mode .lfr-flyout.has-children ul li ul {
	padding: 0;
}

/* ---------- Styles for IE6 dock menu ---------- */

.js.ie6 .interactive-mode ul {
	margin: 0 15px 0 0;
}

.js.ie6 .interactive-mode .lfr-dock-list li.first {
	width: 180px;
}

.js.ie6 .interactive-mode .lfr-dock-list li.home {
	width: 181px;
}

.js.ie6 .lfr-flyout.has-children ul.taglib-home {
	right: -201px;
}

.js.ie6 .interactive-mode .home li {
	width: 180px;
}

.js.ie6 .interactive-mode .lfr-flyout.has-children ul li ul {
	left: 183px;
	position: absolute;
}

.js.ie6 .interactive-mode .lfr-dock-list li.my-places {
	float: left;
	margin-left: 3px;
	width: 174px;
}

.js.ie6 .lfr-flyout.has-children ul.taglib-my-places {
	right: -201px;
}

.js.ie6 .interactive-mode .my-places li {
	width: 180px;
}

.js.ie6 .interactive-mode .lfr-flyout.has-children li {
	float: left;
}

/* ---------- Styles in portlet.css ---------- */

.portlet, .portlet-topper, .portlet-content, .portlet-title {
	background: transparent none repeat scroll 0% 0%;
}

.portlet {
	margin: 0 3px 7px 23px;
	max-width: 3000px;
	min-width: 180px;
	padding: 0;
	position: relative;
}

.ie6 .portlet {
	width: expression(this.width < 180 ? "180px":this.width); 
}

.portlet .content,
.portlet .t,
.portlet .b,
.portlet .b .b-content {
	 background: transparent url(../images/portlet/portlet_bg.png) no-repeat scroll top right;
}

.portlet .content {
	padding: 0 21px 0 0;
	position: relative;
}

.portlet .t {
	background-position: 0 21px;
	bottom: 21px;
	height: 100%;
	left: -21px;
	position: absolute;
	width: 21px;
}

.ie6 .portlet .t {
	background: transparent url(../images/portlet/portlet_bg.png) no-repeat scroll top left;
	height: expression(parseInt(this.parentNode.offsetHeight-12) + "px");
	top: 0;
}

.portlet .b {
	background-position: bottom right;
	font-size: 0;
	height: 21px;
	width: 100%;
}

.ie6 .portlet .b {
	background: transparent url(../images/portlet/portlet_bg.png) no-repeat scroll bottom right;
}

.ie6 .columns-max .portlet .b {
	position: relative;
	right: 0;
	width: expression(parseInt(this.parentNode.offsetWidth) + "px");
}

.portlet .b .b-content {
	background-position: bottom left;
	font-size: 0;
	height: 21px;
	margin-left: -21px;
	width: 21px;
}

.ie6 .portlet .b .b-content {
	background: transparent url(../images/portlet/portlet_bg.png) no-repeat scroll bottom left;
	display: none;
}

.portlet-topper {
	height: 59px;
	overflow: hidden;
}

.portlet-content {
	background: #ffffff;
	padding: 10px;
}

.portlet-title {
	color: #ffffff;
	font-size: 14px;
	font-stretch: semi-condensed;
	font-weight: 300;
	line-height: 14px;
	padding: 16px 0 4px 1px;
}

.portlet-address {
	color: #ffffff;
	font-size: 11px;
	font-stretch: semi-condensed;
	font-weight: 300;
	height: 19px;
	overflow: hidden;
	padding: 0 0 0 29px;
	position: relative;
	text-align: center;
	top: 0;
}

.ie .portlet-address {
	height: 18px;
	top: 1px;
}

.ie6 .portlet-address {
	height: 17px;
	top: 2px;
}

/* ---------- Styles for Portlet mode icons ---------- */

.portlet-icons {
	margin: 7px 3px 0 0;
}

.ie .portlet-icons {
	margin: 9px 3px 0 0;
}

.portlet-modes {
	display: none;
	position: absolute;
	right: 13px;
	top: 37px;
}

.portlet-mode-icons {
	padding: 0 1px;
}

.portlet-states {
	position: absolute;
	right: 9px;
	top: 12px;
}

.portlet-states a {
	display: block;
	float: left;
	height: 15px;
	text-decoration: none;
}

.portlet-min a {
	background: transparent url(../images/color_schemes/liferay/portlet/minimize.png) no-repeat scroll 0 0;
	width: 22px;
}

.portlet-min a:active {
	background: transparent url(../images/color_schemes/liferay/portlet/minimize.png) no-repeat scroll 0 0;
}

.ie6 .portlet-min a,
.ie6 .portlet-min a:active {
	background: transparent url(../images/color_schemes/liferay/portlet/minimize_opaque.png) no-repeat scroll 0 0;
}

.portlet-min a:hover {
	background: transparent url(../images/color_schemes/liferay/portlet/minimize_hover.png) no-repeat scroll 0 0;
}

.ie6 .portlet-min a:hover {
	background: transparent url(../images/color_schemes/liferay/portlet/minimize_opaque_hover.png) no-repeat scroll 0 0;
}

.portlet-max a {
	background: transparent url(../images/color_schemes/liferay/portlet/maximize.png) no-repeat scroll 0 0;
	width: 22px;
}

.portlet-max a:active {
	background: transparent url(../images/color_schemes/liferay/portlet/maximize.png) no-repeat scroll 0 0;
}

.ie6 .portlet-max a,
.ie6 .portlet-max a:active {
	background: transparent url(../images/color_schemes/liferay/portlet/maximize_opaque.png) no-repeat scroll 0 0;
}

.portlet-max a:hover {
	background: transparent url(../images/color_schemes/liferay/portlet/maximize_hover.png) no-repeat scroll 0 0;
}

.ie6 .portlet-max a:hover {
	background: transparent url(../images/color_schemes/liferay/portlet/maximize_opaque_hover.png) no-repeat scroll 0 0;
}

.portlet-close a {
	background: transparent url(../images/color_schemes/liferay/portlet/close.png) no-repeat scroll 0 0;
	width: 38px;
}

.portlet-close a:active {
	background: transparent url(../images/color_schemes/liferay/portlet/close.png) no-repeat scroll 0 0;
}

.ie6 .portlet-close a,
.ie6 .portlet-close a:active {
	background: transparent url(../images/color_schemes/liferay/portlet/close_opaque.png) no-repeat scroll 0 0;
}

.portlet-close a:hover {
	background: transparent url(../images/color_schemes/liferay/portlet/close_hover.png) no-repeat scroll 0 0;
}

.ie6 .portlet-close a:hover {
	background: transparent url(../images/color_schemes/liferay/portlet/close_opaque_hover.png) no-repeat scroll 0 0;
}

.portlet-icon-back {
	background: transparent url(../images/portlet/back.png) no-repeat scroll 0 1px;
	color: #ffffff;
	font-size: 12px;
	font-stretch: semi-condensed;
	font-weight: 300;
	line-height: 24px;
	margin: 0 2px 0 0;
	text-decoration: none;
}

.ie .portlet-icon-back {
	background: transparent url(../images/portlet/back.png) no-repeat scroll 0 0;
	line-height: 20px;
}

.portlet-icon-back:hover {
	color: #ffffff;
	text-decoration: underline;
}

.ie6 .portlet-content-container {
	position: relative;
	top: 0;
}

.portlet-group-name {
	display: none;
}

#portlet-scrollbars {
	background: #ffffff;
	padding: -10px;
	overflow: auto;
}

/* ---------- Styles for Portlet drag and drop ---------- */

.portlet-decorate-resize-container {
	bottom: 31px;
	height: 26px;
	min-width: 206px;
	position: relative;
	right: 15px;
	width: 100%;
}

.portlet-resize-handle {
	background: transparent url(../images/arrows/resize.png) no-repeat scroll 0% 0%;
	bottom: auto;
	float:right;
	position:relative;
	right: 0;
}

/* ---------- Styles in tabs.css ---------- */

.tabs {
	border-bottom: 1px solid #3566b5;
	padding:0 0 29px 8px;
	position: static;
}

.ie .tabs {
	padding:0 0 30px 8px;
}

.tabs li {
	background: transparent url(../images/common/tabs_bg.png) no-repeat scroll 100% -50px;
	position: static;
}

.ie6 .tabs li {
	position: relative;
}

.tabs li a,
.tabs li a:hover,
.tabs li span {
	background: transparent url(../images/common/tabs_bg.png) no-repeat scroll 0 -150px;
	color: #094a74;
	font-size: 11px;
	font-stretch: semi-condensed;
	font-weight: 300;
	position: static;
}

.tabs li.current {
	background: transparent url(../images/common/tabs_bg.png) no-repeat scroll 100% 0;
}

.tabs li.current a,
.tabs li.current a:hover,
.tabs li.current span {
	color: #333333;
	font-weight: bold;
	line-height:27px;
}

.ie6 .tabs li.current {
	top: 0;
}

/* ---------- Styles for Taglib Search Iterator ---------- */

.taglib-search-iterator-wrapper {
	border-left: 10px solid #c3d9ff;
	border-right: 10px solid #c3d9ff;
	border-bottom: 10px solid #c3d9ff;
}

.taglib-search-iterator {
	background-color: #c3d9ff;
}

.portlet-section-header {
	background: #c3d9ff;
}

.portlet-section-body td {
	background: #e8eef7;
	border-bottom: 1px solid #bfbfbf;
	border-top: 1px solid #c3d9ff;
}

.portlet-section-body-hover td {
	border-bottom: 1px solid #bfbfbf;
	border-top: 1px solid #c3d9ff;
}

.portlet-section-alternate td,
.portlet-section-alternate-hover td {
	border-bottom: 1px solid #bfbfbf;
}

/* ---------- Custom styles for the Desktop theme ---------- */

#dock-wrapper {
	height: 28px;
}

#taskbar {
	background: transparent url(../images/desktop/taskbar_bg.png) repeat-x scroll 100% 0;
	height: 28px;
	left: 0;
	top: 0;
	width: 100%;
}

#taskbar-portlets-wrapper {
	height:24px;
	left:0;
	overflow:hidden;
	position:absolute;
	top:2px;
	width: 100%;
}

#taskbar-portlets {
	margin: 0;
	padding: 0 10px 0 52px;
}

#taskbar-portlets .taskbar-link {
	float: left;
	list-style-type: none;
	max-width: 200px;
	min-width: 39px;
	overflow: hidden;
	white-space: nowrap;
}

#taskbar-portlets .taskbar-link a {
	color: #eeeeee;
	background: transparent url(../images/desktop/taskbar_link_bg.png) no-repeat scroll 100% 0;
	border-color: #808080 #202020 #202020 #808080;
	border-style: solid;
	border-width: 1px;
	display:block;
	font-family: Arial,Verdana,sans-serif;
	font-size: 12px;
	font-stretch: semi-condensed;
	font-weight: 300;
	line-height: 22px;
	padding: 0 7px;
	text-decoration: none;
}

.ie6 #taskbar-portlets .taskbar-link a {
	padding: 3px 7px;
}

#taskbar-portlets .taskbar-link a:hover {
	background: transparent url(../images/desktop/taskbar_link_hover_bg.png) no-repeat scroll 0 0;
	border-color: #202020 #808080 #808080 #202020;
}

#taskbar-portlets .taskbar-link.selected a {
	background: transparent url(../images/desktop/taskbar_link_selected_bg.png) no-repeat scroll 0 0;
	border-color: #202020 #808080 #808080 #202020;
	color: #ffffff;
}

#taskbar-portlets img {
	padding: 0 3px 0 0;
	vertical-align: middle;
}

.taskbar-link-title {
	display: block;
	overflow: hidden;
}

/* ---------- Styles for the Desktop Sidebar ---------- */

#sidebar-wrapper {
	background: transparent url(../images/desktop/sidebar_bg.png) repeat-y scroll 25px 0;
	color: #ffffff;
	height: 100%;
	position: absolute;
	right:0;
	top: 0;
	width: 20px;
}

.ie6 #sidebar-wrapper {
	background: transparent url(../images/desktop/sidebar_black_bg.png) repeat-y scroll 25px 0;
	filter: alpha(opacity=85);
	top: 28px;
}

#sidebar {
	display: none;
	filter: alpha(opacity=0);
	float: right;
	height: 100%;
	left: 30px;
	opacity: 0;
	overflow: hidden;
	width: 235px;
}

.ie6 #sidebar {
	position: relative;
	left: 0;
}

#sidebar-link {
	float: left;
	height: 100%;
	width: 20px;
}

#sidebar-link a {
	background: transparent url(../images/arrows/05_left.png) no-repeat scroll 50% 45%;
	display: block;
	height: 100%;
	outline: none;
}

.ie6 #sidebar-link a {
	background: transparent url(../images/arrows/07_left.png) no-repeat scroll 50% 45%;
}

#sidebar-link a:hover {
	background: transparent url(../images/arrows/05_left_hover.png) no-repeat scroll 50% 45%;
}

.ie6 #sidebar-link a:hover {
	background: transparent url(../images/arrows/07_left_hover.png) no-repeat scroll 50% 45%;
}

#sidebar-link a.expanded {
	background: transparent url(../images/arrows/05_right.png) no-repeat scroll 50% 45%;
}

.ie6 #sidebar-link a.expanded {
	background: transparent url(../images/arrows/07_right.png) no-repeat scroll 50% 45%;
}

#sidebar-link a.expanded:hover {
	background: transparent url(../images/arrows/05_right_hover.png) no-repeat scroll 50% 45%;
}

.ie6 #sidebar-link a.expanded:hover {
	background: transparent url(../images/arrows/07_right_hover.png) no-repeat scroll 50% 45%;
}

#sidebar-top {
	height: 100px;
	margin: 45px 0 0 0;
	overflow: hidden;
}

.ie6 #sidebar-top {
	margin: 15px 0 0 0;
}

#sidebar-top .month {
	color: #222222;
	display: block;
	font-family: 'Arial', 'Tahoma','Lucida Sans Unicode';
	font-size: 17px;
	font-weight: bold;
	line-height: 25px;
	margin:10px 0 5px;
	text-align: center;
}

#sidebar-top .day {
	color: #000000;
	display: block;
	font-size: 40px;
	font-weight: bold;
	line-height: 40px;
	text-align: center;
}

#sidebar-top .clock {
	display: none;
	float: left;
	margin: 0 0 0 10px;
}

.ie6 #sidebar-top .clock {
	margin: 0 0 0 5px;
}

#sidebar-top .calendar {
	background: transparent url(../images/desktop/calendar_bg.png) no-repeat scroll 100% 0;
	display: none;
	height: 100px;
	filter: alpha(opacity=0);
	float: right;
	margin: 0 10px 0 0;
	opacity: 0;
	width: 100px;
}

.ie6 #sidebar-top .calendar {
	margin: 0 5px 0 0;
}

.portal-add-content {
	background: transparent;
}

.portal-add-content .portlet-msg-info{
	background: transparent url(../images/messages/info.png) no-repeat scroll 0.5em 50%;
	color: #ffffff;
	margin: 20px 0 0 0;
}

.portal-add-content-search {
	margin:10px 0 20px;
}

.portal-add-content .lfr-portlet-item {
	border: none;
}

.portal-add-content .lfr-content-category.visible {
	border-bottom: none;
}

.portal-add-content .lfr-portlet-item:hover, .portal-add-content .lfr-portlet-item.over {
	background-color: #336eca;
	border-color: #336eca;
}

.portal-add-content .lfr-portlet-item p a,
.portal-add-content .lfr-portlet-item p a:hover {
	color: #ffffff;
}

.portal-add-content .lfr-portlet-used {
	color: #111111;
}

.ie6 .portal-add-content .lfr-add-content.expanded {
	background: none;
}

/* ---------- Styles for the Sign-in Screen ---------- */

#portlet-wrapper-sign-in .portlet-address {
	top: 3px;
}

.ie6 #portlet-wrapper-sign-in .lfr-portal-login {
	position: relative;
}

#portlet-wrapper-sign-in .portlet-content {
	padding: 10px 5px 25px 15px;
}