@import url(color_schemes/nature.css);

@import url(color_schemes/simple.css);

/* ---------- Base styles ---------- */

#content {
	margin: 10px 10px 0;
}

#login {
	border-bottom: 1px solid #EEF0F2;
	min-width: 960px;
	padding: 3px;
	text-align: right;
}

#login a {
	margin-right: 10px;
}

#main {
	min-width: 960px;
}