<?xml version="1.0"?>
<!DOCTYPE web-app PUBLIC "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN" "http://java.sun.com/dtd/web-app_2_3.dtd">

<web-app>
	<servlet>
		<servlet-name>JBPMServlet</servlet-name>
		<servlet-class>com.liferay.jbpm.servlet.JBPMServlet</servlet-class>
		<load-on-startup>1</load-on-startup>
	</servlet>
	<servlet>
    	<servlet-name>SchedulerServlet</servlet-name>
    	<servlet-class>org.jbpm.scheduler.impl.SchedulerServlet</servlet-class>
    	<load-on-startup>2</load-on-startup>
	</servlet>
	<servlet-mapping>
		<servlet-name>JBPMServlet</servlet-name>
		<url-pattern>/servlet/*</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
    	<servlet-name>SchedulerServlet</servlet-name>
    	<url-pattern>/scheduler</url-pattern>
	</servlet-mapping>
</web-app>