.portlet-asset-category-admin .form-search {
  float: left; }
  .portlet-asset-category-admin .form-search .search-query {
    margin-right: 0;
    padding-right: 0;
    width: 200px; }
.portlet-asset-category-admin .control-group {
  float: left;
  margin-bottom: 0; }
  .portlet-asset-category-admin .control-group .categories-admin-select-search {
    width: auto; }
.portlet-asset-category-admin .categories-admin-content .select-vocabularies-container, .portlet-asset-category-admin .categories-admin-content .select-categories-container {
  display: inline-block;
  margin-left: 10px; }
.portlet-asset-category-admin .categories-admin-content .vocabularies-header, .portlet-asset-category-admin .categories-admin-content .categories-header {
  display: inline-block;
  margin-left: 2px; }
.portlet-asset-category-admin .categories-admin-content .vocabulary-categories-container .tree-node-selected .tree-label {
  background: none; }
.portlet-asset-category-admin .categories-admin-content li.vocabulary-category, .portlet-asset-category-admin .categories-admin-content li.vocabulary-item {
  font-weight: bold;
  list-style: none; }
.portlet-asset-category-admin .categories-search-combobox {
  background: #CCC; }
.portlet-asset-category-admin .select-vocabularies, .portlet-asset-category-admin .select-categories {
  float: left;
  margin-left: 2px; }
.portlet-asset-category-admin .select-categories {
  margin-left: 10px; }
.portlet-asset-category-admin .vocabulary-list-container-content, .portlet-asset-category-admin .vocabulary-categories-container-content, .portlet-asset-category-admin .vocabulary-edit-category-content {
  padding: 0; }
.portlet-asset-category-admin .vocabulary-item-name, .portlet-asset-category-admin .header-title, .portlet-asset-category-admin .tree-node-content .tree-label {
  word-wrap: break-word; }
.portlet-asset-category-admin .vocabulary-item-actions-trigger {
  background-image: url(@theme_image_path@/common/edit.png);
  background-repeat: no-repeat;
  clip: rect(0pt, 0pt, 0pt, 0pt);
  display: block;
  height: 16px;
  margin-top: -8px;
  padding: 0;
  position: absolute;
  right: 5px;
  top: 50%;
  width: 16px; }
.portlet-asset-category-admin input.vocabulary-item-check {
  float: left;
  margin-right: 5px;
  margin-top: 0;
  position: static; }
.portlet-asset-category-admin .vocabulary-category {
  position: relative; }
  .portlet-asset-category-admin .vocabulary-category:hover .vocabulary-item-actions-trigger, .portlet-asset-category-admin .vocabulary-category:focus .vocabulary-item-actions-trigger, .portlet-asset-category-admin .vocabulary-category .vocabulary-item-actions-trigger:focus {
    clip: rect(auto auto auto auto); }
.portlet-asset-category-admin .vocabulary-container .results-row .vocabulary-item-actions a {
  padding: 0; }
.portlet-asset-category-admin .vocabulary-item.alt {
  background: #F0F2F4; }
.portlet-asset-category-admin .vocabulary-item.selected {
  background: #AEB9BE; }
.portlet-asset-category-admin .vocabulary-item a {
  display: block;
  padding: 8px 20px 8px 10px;
  text-decoration: none; }
.portlet-asset-category-admin .vocabulary-list {
  overflow: auto;
  overflow-x: hidden; }
  .portlet-asset-category-admin .vocabulary-list .active-area {
    border: 1px solid #008000; }
    .portlet-asset-category-admin .vocabulary-list .active-area a {
      background-color: #90EE90; }
  .portlet-asset-category-admin .vocabulary-list .selected a {
    color: #000;
    text-decoration: none; }
    .portlet-asset-category-admin .vocabulary-list .selected a:hover {
      color: #FFB683; }
.portlet-asset-category-admin .vocabulary-categories .category-item {
  cursor: pointer;
  display: block;
  font-weight: bold;
  padding-left: 18px;
  padding-right: 5px; }
  .portlet-asset-category-admin .vocabulary-categories .category-item:after {
    clear: both;
    content: ".";
    display: block;
    height: 0;
    visibility: hidden; }
  .portlet-asset-category-admin .vocabulary-categories .category-item:hover {
    background: #EEE; }
  .portlet-asset-category-admin .vocabulary-categories .category-item.active {
    background-color: #08C;
    color: #FFF; }
    .portlet-asset-category-admin .vocabulary-categories .category-item.active:hover {
      background-color: #08C;
      color: #FFB683; }
.portlet-asset-category-admin .vocabulary-categories .category-name, .portlet-asset-category-admin .vocabulary-categories .category-path {
  overflow: hidden;
  padding-bottom: 8px;
  padding-top: 8px;
  text-overflow: ellipsis;
  white-space: nowrap; }
.portlet-asset-category-admin .vocabulary-categories .category-name {
  float: left;
  width: 50%; }
  .portlet-asset-category-admin .vocabulary-categories .category-name .category-item-check {
    margin-right: 8px;
    margin-top: 0; }
.portlet-asset-category-admin .vocabulary-categories .category-path {
  float: right;
  font-weight: normal;
  font-size: 0.8em;
  text-align: right;
  width: 49%; }
.portlet-asset-category-admin .vocabulary-edit-category {
  position: relative; }
  .portlet-asset-category-admin .vocabulary-edit-category .category-view-close {
    position: absolute;
    right: 5px;
    top: 26px; }
.portlet-asset-category-admin #vocabulary-category-messages {
  margin: 0 10px 10px 10px; }
.portlet-asset-category-admin .categories-treeview-container .tree-label {
  cursor: pointer; }
  .portlet-asset-category-admin .categories-treeview-container .tree-label:hover {
    color: #06C; }
.portlet-asset-category-admin .categories-treeview-container .tree-node .tree-icon {
  background: none;
  height: 0;
  width: 0; }
.portlet-asset-category-admin .categories-treeview-container .tree-node-over {
  background: #EEE; }
.portlet-asset-category-admin .categories-treeview-container .tree-node-content {
  height: 33px; }
  .portlet-asset-category-admin .categories-treeview-container .tree-node-content .tree-hitarea {
    margin-left: 5px;
    margin-top: 10px; }
  .portlet-asset-category-admin .categories-treeview-container .tree-node-content .tree-node-checkbox-container, .portlet-asset-category-admin .categories-treeview-container .tree-node-content .tree-label {
    display: inline-block;
    position: relative;
    top: 8px;
    vertical-align: middle; }
.portlet-asset-category-admin .categories-treeview-container .tree-node-selected {
  background: #08C; }
  .portlet-asset-category-admin .categories-treeview-container .tree-node-selected .tree-label {
    color: #FFF;
    cursor: move; }
.portlet-asset-category-admin .vocabulary-container .category-name {
  width: 300px; }
.portlet-asset-category-admin .view-category {
  margin: 1em; }
  .portlet-asset-category-admin .view-category label {
    display: block;
    font-weight: bold; }
  .portlet-asset-category-admin .view-category .category-field {
    clear: left;
    margin: 1em auto; }
.portlet-asset-category-admin .vocabularies-pagination {
  margin: 10px 0;
  text-align: center; }
  .portlet-asset-category-admin .vocabularies-pagination .pagination-content {
    margin: 0; }

.portlet-asset-categories-admin-dialog .fieldset {
  margin-bottom: 0; }
.portlet-asset-categories-admin-dialog .lfr-panel-container {
  background-color: transparent;
  border-width: 0; }
.portlet-asset-categories-admin-dialog .asset-category-layer .overlay {
  overflow: visible;
  width: 230px; }
.portlet-asset-categories-admin-dialog .yui3-widget-bd .asset-category-layer {
  padding: 0 10px; }
  .portlet-asset-categories-admin-dialog .yui3-widget-bd .asset-category-layer .field-content {
    margin-bottom: 10px; }
  .portlet-asset-categories-admin-dialog .yui3-widget-bd .asset-category-layer label {
    display: block;
    font-weight: bold; }
  .portlet-asset-categories-admin-dialog .yui3-widget-bd .asset-category-layer .field input, .portlet-asset-categories-admin-dialog .yui3-widget-bd .asset-category-layer .field select {
    width: 200px; }
  .portlet-asset-categories-admin-dialog .yui3-widget-bd .asset-category-layer .button-holder {
    margin-top: 10px; }

.ie6 .portlet-asset-category-admin .vocabulary-item-actions-trigger, .ie7 .portlet-asset-category-admin .vocabulary-item-actions-trigger {
  cursor: pointer; }
.ie6 .portlet-asset-category-admin .vocabulary-categories .category-item, .ie7 .portlet-asset-category-admin .vocabulary-categories .category-item {
  zoom: 1; }

.ie .portlet-asset-category-admin .vocabulary-item a {
  zoom: 1; }

.ie6 .portlet-asset-categories-admin-dialog .yui3-widget-bd .asset-category-layer {
  width: 200px; }

