/* This file allows you to override default styles in one central location for easier upgrade and maintenance. */


/* ---------- Banner ---------- */

#wrapper {
	margin: 0 auto;
	position: relative;
	width: 1264px;
	background: url(../images/custom/header2_bg.jpg) repeat-x top;
}

#banner .logo a {
	text-decoration: none;
}

#banner .logo {
	background: none;
	display: block;
	float: left;
	font-size: 2em;
	padding: 1.25em 0.6em 1.45em;
}

#banner {
	background: black url(../images/custom/header_bg.jpg) no-repeat scroll center;
	height: 10em;
	position: relative;
	top:20px;
	height: 150px;
}

body {
	background: #002C52;
	color: white;
	font: 62.5%/1.6em Tahoma, 'Lucida Sans Unicode', Lucida Grande, 'Lucida', Arial, 'Verdana', sans-serif;
}

.ie6.js .lfr-dock.expanded .lfr-dock-list-container {
}

.js .interactive-mode .my-places .show-my-places {
	background: #FFF;
	border: 1px solid #CCC;
	display: block;
	left: 85%;
	min-width: 200px;
	padding: 0.2em;
	position: absolute;
	top: 87%;
}

.js .lfr-dock.expanded .lfr-dock-list-container {
	background: #60738C;
	border: 1px solid #B5B9BB;
	border-top: none;
	position: relative;
}

.js .lfr-dock.interactive-mode h2 span {
	background: none;
	border: 1px outset;
	color: #FFF;
	display: block;
	font-size: 1.2em;
	margin-bottom: 0;
	padding: 0.5em 0.5em 0.5em 0.5em;
}

.js .lfr-dock.interactive-mode h2 {
	background: none;
	font-size: 1.2em;
	margin-bottom: 0;
	padding: 0 0 0 0;
	position: relative;
	z-index: 82;
}

.js .lfr-dock.interactive-mode ul {
	background: url(../images/dock/menu_bg.png) no-repeat 0 0;
	border-left: 20px solid #4E7467;
	display: none;
	float: none;
}

.lfr-dock h2 {
	background: url(../images/navigation/welcome_message.png) no-repeat 0 50%;
	font-size: 1.2em;
	margin-bottom: 0.5em;
	padding-left: 2em;
	text-align: center;
}

.lfr-dock {
	position: absolute;
	right: 10px;
	top: 10px;
}


/* ---------- Main content body ---------- */

#content-wrapper {
	margin-top: -5px;
	width: 1100px;
	background:;

}

/* ---------- Main navigation ---------- */

.ie6.js #add-page a {
	left: 5px;
	position: absolute;
}

.js #add-page a {
	color: #E4EAAE;
	text-decoration: none;
}

.js #add-page {
	background:transparent none repeat scroll 0 0;
	border:medium none;
	float:left;
	font-weight:bold;
	left:82px;
	padding-top:0;
	position:absolute;
	top:1px;
}

.js .delete-tab {
	background: url(../images/common/remove.png) no-repeat 42%;
	cursor: pointer;
	display: block;
	height: 7px;
	position: absolute;
	right: 15px;
	top: 2px;
	width: 8px;
}

.js .interactive-mode {
	background:transparent none repeat scroll 0 0;
}

#navigation li a span {
	background: none;
	padding-left: 17px;
	text-decoration: none;
}

#navigation li a {
	background: none;
	color: white;
	display: block;
	font-size: 1.3em;
	padding: .4em 1.5em 0.5em .15em;
	text-decoration: none;
}

#navigation li a:hover span {
	background: none;
}

#navigation li a:hover {
	background:  #002C52;
	color: white;
	padding-bottom: .73em;
}

#navigation li {
	background: none;
	display: inline;
	border: none;
	float: left;
	margin-right: 0.5em;
	padding: 0 1.5em 0 0;
	position: relative;
}

#navigation li.selected a span {
	background: none;
	font-size: 1em;
	font-weight: bold;
}

#navigation li.selected a {
	background:  #002C52;
	color: white;
	padding-bottom: .65em;
	padding-top: 0.5em;
}

#navigation li.selected a:hover {
	padding-bottom: 0.65em;
}

#navigation ul {
	float: right;
	min-height: 2em;
	width: auto;
}

#navigation {
	background: black;
	border: none;
	margin:20px auto 0;
	min-height: 2.2em;
	overflow: hidden;
	padding-bottom: 5px;
	padding-right: 1em;
	text-align: middle;
	width: 99.2%;
}


/* ---------- 1 column ---------- */

.columns-1 #column-1, .columns-max #column-1 {
	display: table;
	padding-bottom: 20px;
	padding-left: 10px;
	padding-right: 10px;
	padding-top: 20px;
	width: 1081px;
}


/* ---------- 2 columns ---------- */

.columns-2 #column-1 {
	padding-bottom: 20px;
	padding-left: 10px;
	padding-top: 20px;
}

.columns-2 #column-2 {
	padding-bottom: 20px;
	padding-right: 10px;
	padding-top: 20px;
}


/* ---------- 3 columns ---------- */

.columns-3 #column-1 {
	padding-left: 0;
}

.columns-3 #column-2 {
	padding-left: 0;
}

.columns-3 #column-3 {
	padding-right: 0;
}


/* ---------- 1/2/1 ---------- */

.columns-1-2-1 #column-1, .columns-1-2-1 #column-4 {
	padding-left: 10px;
	padding-right: 10px;
	padding-top: 20px;
}

.columns-1-2-1 #column-2 {
	padding-left: 0;
}

.columns-1-2-1 #column-3 {
	padding-right: 0;
}


/* ---------- 2/2 ---------- */

.columns-2-2 #column-1, .columns-2-2 #column-2 {
	background: #E4EAAE;
	padding-left: 10px;
	padding-right: 10px;
	padding-top: 20px;
}

.columns-2-2 #column-4 {
	background: #E4EAAE;
}


/* ---------- Portlet wrapper and icons ---------- */

.ie6 .tabs li.current {
	top: 6px;
}

.portlet, .portlet-topper, .portlet-content, .portlet-title {
	background: transparent;
}

.portlet-content {
	background-position: left bottom;
	padding: 10px 5px 25px 15px;
}

.portlet-title {
	display: block;
	font-size: 9pt;
	font-weight: bold;
	min-width: 50%;
	padding: 8px 0 4px 10px;
}

.portlet-topper {
	background: url(../images/custom/header2_bg.jpg) repeat-x;
	margin-right: -8px;
	padding-right: 40px;
	position: relative;
	color: white;
}

.portlet {
	margin:10px 0;
	padding-right: 10px;
	text-align: left;
}

.portlet-calendar .calendar-day .day-number {
	border: none;
}

.taglib-calendar tr th {
	color: black;
}

.portlet-calendar .calendar-container {
	background: transparent;
}

.tabs li a, .tabs li span {
	background: none;
	color: white;
	display: block;
	float: left;
	padding: 0 1em;
	text-decoration: none;
	border:none;
	top: 0;
}

.ui-tabs li {
	background: url(../images/common/tab.jpg) repeat-x 100% 0;
	display: inline;
	float: left;
	line-height: 2.25;
	margin-right: 0.8em;
	padding: 0;
	position: relative;
	text-decoration: none;
	top: 6px;
}

.ui-tabs li.current a, .ui-tabs li.current span {
	background:black;
	color: white;
	padding: 0 1em;
	border: none;
}

.ui-tabs li.current:hover, .ui-tabs li.current a:hover {
	background-color:transparent;
	color: white;
	text-decoration: none;
	background:black;
}

.ui-tabs li.current {
	background: url(../images/common/tab_selected.jpg) repeat-x 100% 0;
	font-weight: bold;
	top: 6px;
}

.ui-tabs {
	border-bottom: 1px solid #234244;
	margin: 0 0 1.5em 0;
	padding: 0 0 2.6em 1em;
}

.ui-tabs li a:hover, .ui-tabs li span:hover {
	background:black;
	color:white;
}


/* ------------ Tables ----------- */


/* ---------- Table or section header ---------- */

.portlet-section-header th {
	border-bottom: 1px solid #CCC;
	color: black;
	font-weight: bold;
	padding: 0.3em 1em;
}

.portlet-section-header {
	background: #4E7467;
	color: #E4EAAE;
	padding: 1px 0 0;
}


/* ---------- Normal text in a table cell ---------- */

.portlet-section-body td {
	background: #002C52;
	border-top: 1px solid #BFBFBF;
	color: white;
	padding: 0.3em 1em;
}

.portlet-section-body {
	color: #000;
}


/* ---------- Text in every other row in the cell ---------- */

.portlet-section-alternate td td, .portlet-section-alternate-hover td td {
	border: none;
}

.portlet-section-alternate td {
	background: #FFF;
	border-top: 1px solid #BFBFBF;
	padding: 0.3em 1em;
}

.portlet-section-alternate-hover td, .portlet-section-body-hover td {
	background: #FFF5BA;
	border-bottom: 1px solid #E0D79F;
	border-top: 1px solid #E0D79F;
	padding: 0.3em 1em;
}

.portlet-section-alternate {
	background: #D3DEEB;
	color: #000;
}

.portlet-section-body td td, .portlet-section-body-hover td td {
	border: none;
}


/* ---------- Text in a selected cell range ---------- */

.portlet-section-selected {
	background: #EEE;
}

#footer {
	background: black;
	height: 50px;
}

.uni-form {
	background: black;
}

.ui-dialog {
	background-color:black;
}

.lfr-portal-login .uni-form legend {
	color: white;
}