/docroot/WEB-INF/lib/commons-logging.jar
/docroot/WEB-INF/lib/jstl-api.jar
/docroot/WEB-INF/lib/jstl-impl.jar
/docroot/WEB-INF/lib/log4j.jar
/docroot/WEB-INF/lib/oauth-portlet-service.jar
/docroot/WEB-INF/lib/util-bridges.jar
/docroot/WEB-INF/lib/util-java.jar
/docroot/WEB-INF/lib/util-taglib.jar