@import "compass";

.mail-portlet {
	#controlContainer {
		background-color: #D7F1FF;
		border: 1px solid #88C5D9;
		padding: 0.7em;
	}

	#messageContentContainer {
		background-color: #FFF;
		border: 1px solid #C8C9CA;
		margin: 1em 0;
		min-height: 2em;
		overflow: auto;
		padding: 1em;

		.pagination, .search {
			float: right;
		}
	}

	.folder-list {
		min-width: 40%;

		.action {
			text-align: right;
		}
	}

	.message-list {
		width: 100%;

		thead tr {
			background-color: #D1D6DC;
		}

		th {
			padding: 5px 0;
		}

		.check {
			width: 5%;
		}

		.address {
			width: 20%;
		}

		.subject {
			width: 55%;
		}

		.date {
			width: 15%;
		}

		.attachments {
			width: 5%;
		}

		tr {
			&.results-row.no-hover td {
				padding: 1px 0;
			}

			&.unread {
				font-weight: bold;
			}

			&.important {
				color: #A00;
				font-weight: normal;
			}
		}

		td div {
			height: 18px;
			overflow: hidden;
			@include word-break(break-all);
		}
	}

	.draft-link, .message-link {
		cursor: pointer;
	}

	.compose-message-container {
		margin-right: 1em;
	}

	.no-subject {
		color: #777;
		font-style: italic;
	}

	.message-count {
		float: right;
	}

	.message-header {
		background-color: #D1D6DC;
		border: 1px solid #C8C9CA;
		margin: 1em 0;
		overflow: auto;

		.dl-horizontal {
			margin: 0;

			&:after, &:before {
				content: "";
				display: table;
				line-height: 0;
			}

			&:after {
				clear: both;
			}

			dt {
				clear: left;

				@include ellipsis;

				float: left;
				font-weight: bold;
				text-align: right;
				width: 55px;
			}

			dd {
				background-color: #FFF;
				margin-left: 60px;
				padding-left: 10px;
				word-wrap: break-word;
			}
		}
	}

	.recipient-fields .aui-field-input {
		width: 95%;
	}

	.email-container .folder-container .column-sorter:hover {
		cursor: pointer;
		cursor: hand;
		text-decoration: underline;
	}

	.add-folder-container .aui-field-content, .search .aui-field-content {
		display: inline-block;
	}
}

.ie6 .mail-portlet #messageContentContainer {
	height: 2em;
}