/* Portlet view styles (minimized view) */

.vaadin-mail-portlet {
	background: #fff;
	padding-bottom: 4px;
}

.vaadin-mail-portlet .v-main {
	background: transparent url(../images/vaadin/top-bg.png) repeat-x;
}

.vaadin-mail-portlet .v-main .v-top {
	background: transparent url(../images/vaadin/top-left.png) no-repeat;
	height: 30px;
}

.vaadin-mail-portlet .v-main .v-top .v-unread {
	background: transparent url(../images/vaadin/top-left-unread.png) no-repeat;
	float:left;
	width: 50%;
}

.vaadin-mail-portlet .v-main .v-top .v-unread .v-unread-button{
	height: 30px;	
	line-height: 30px;	
	padding: 0 0 0 12px;
	border: none;
	background: transparent;
	margin: 0;
	cursor: pointer;
	text-align: left;
	white-space: nowrap;
	overflow: hidden;
	display: block;	
	outline: none;
}

.vaadin-mail-portlet .v-main .v-top .v-unread .v-unread-button .v-unread-button-caption,
.vaadin-mail-portlet .v-main .v-top .v-unread .v-unread-button .v-unread-button-caption:link,
.vaadin-mail-portlet .v-main .v-top .v-unread .v-unread-button .v-unread-button-caption:visited,
.vaadin-mail-portlet .v-main .v-top .v-unread .v-unread-button .v-unread-button-caption:active,
.vaadin-mail-portlet .v-main .v-top .v-unread .v-unread-button .v-unread-button-caption:hover{
	display: block;
	width: 100%;
	text-overflow: ellipsis;
	-ms-text-overflow: ellipsis;
	-moz-text-overflow: ellipsis;
	text-decoration: none;
	color: #fff;
	text-shadow: rgba(0,0,0,.7) 0 -1px 0;
}

.vaadin-mail-portlet .v-main .v-top .v-compose-button {
	height: 30px;
	line-height: 30px;
	background: transparent url(../images/vaadin/compose-button.png) no-repeat right top;
	cursor: pointer;
	border: none;
	width: 139px;
	overflow: hidden;
	float:right;	
	cursor: pointer;
	text-align: left;
	white-space: nowrap;
	overflow: hidden;
	text-decoration: none;
}

.vaadin-mail-portlet .v-main .v-top .v-compose-button .v-compose-button-caption,
.vaadin-mail-portlet .v-main .v-top .v-compose-button .v-compose-button-caption:link,
.vaadin-mail-portlet .v-main .v-top .v-compose-button .v-compose-button-caption:visited,
.vaadin-mail-portlet .v-main .v-top .v-compose-button .v-compose-button-caption:active,
.vaadin-mail-portlet .v-main .v-top .v-compose-button .v-compose-button-caption:hover {
	padding-left: 20px;	
	text-decoration: none;
	color: #fff;
	text-shadow: rgba(0,0,0,.7) 0 -1px 0;
	outline: none;
}

.vaadin-mail-portlet .v-main .v-top .v-compose-button:active,
.vaadin-mail-portlet .v-main .v-top .v-compose-button.v-pressed {
	background-position: right bottom;
}

.vaadin-mail-portlet .v-main .v-top .v-icon {
	width: 14px;
	height: 14px;
	overflow: hidden;
	background: transparent url(../images/vaadin/icons.png) no-repeat 0 bottom;
	opacity: .75;
	border: none;
	cursor: pointer;
	margin-top: 8px;
	float:right;
	outline: none;
}

.vaadin-mail-portlet .v-main .v-top .v-icon.v-icon-reload {
	background-position: 0 top;
}
	
.vaadin-mail-portlet .v-main .v-top .v-icon * {
	display: none;
}

.vaadin-mail-portlet .v-main .v-top .v-icon:hover,
.vaadin-mail-portlet .v-main .v-top .v-icon:focus {
	opacity: 1;
	outline: none;
}
	
.vaadin-mail-portlet .v-main .v-top .v-icon:active {
	opacity: .5;
}

.vaadin-mail-portlet .v-main .v-account {
	height: 23px;
	padding: 0 4px;
	border: none;
	background: transparent;
	margin: 0;
}

.vaadin-mail-portlet .v-main .v-account .v-account-caption,
.vaadin-mail-portlet .v-main .v-account .v-account-caption:link,
.vaadin-mail-portlet .v-main .v-account .v-account-caption:visited,
.vaadin-mail-portlet .v-main .v-account .v-account-caption:active,
.vaadin-mail-portlet .v-main .v-account .v-account-caption:hover {
	display: block;
	text-align: left;
	white-space: nowrap;
	height: 14px;
	border: 1px solid #8a98a1;
	border-top: none;
	border-bottom-color: #8b99a2;
	background: #d1dde0 url(../images/vaadin/account-btn-bg.png);
	font: normal 11px/normal Helvetica, Arial, Verdana, sans-serif;
	text-shadow: rgba(255,255,255,.9) 0 1px 0;
	padding: 4px 6px;
	cursor: pointer;
	text-decoration: none;
	outline: none;
}


/* Mail window styles */

.message-header {
	line-height: normal;
	}

.message-header .v-formlayout-captioncell .v-caption {
	color: #7d8384;
	width: 45px;
	text-align: right;
	}
	
.v-ie8 .v-label hr {
	height: 1px;
	}

body div.v-window div.message-header button.v-nativebutton.v-nativebutton-link {
	padding-left: 57px;
	}

.message-header .v-formlayout-firstrow .v-formlayout-captioncell,
.message-header .v-formlayout-firstrow .v-formlayout-contentcell {
	padding-top: 8px;
	}

.blue .v-label hr {
	background: #dcdcdc;
	color: #dcdcdc; /* For IE */
	border-bottom-color: #fff;
	}

.message-not-seen {
	font-weight: bold;
	}

.message-important {
	color: #c82828;
	}

.v-table .v-selected .message-important {
	color: #ffb2aa;
}

.v-nativebutton-compose {
	height: 26px;	
	background: #B9CED9 url(../images/vaadin/mainview/compose_btn.png) repeat-x scroll 0 0;	
	text-align: center;
	cursor: pointer;
	display: block;
	overflow: hidden;
	padding: 0;
	margin: 0;		
	border: 1px solid #627782;	
}

.v-nativebutton v-nativebutton-compose compose .v-nativebutton-caption {
	color: #fff;
	text-shadow: #000 0 -1px 0;
	text-decoration: none;
	}

.v-nativebutton-compose:active,
.v-nativebutton-compose.v-pressed {
	background-position: left bottom;
	}

.v-accordion-item-caption .v-caption {
	padding-left: 0;
	}
	
.v-accordion-item-caption .v-captiontext {
	text-align: center;
	float: none;
	}
.v-accordion-item-content {
	background: #ccd8db;
	}

.toolbar {
	height: 25px !important;
	background: transparent url(../images/vaadin/mainview/toolbar-bg.png) repeat-x;
	border-bottom: 1px solid #787f86;
	}

.v-nativebutton-toolbar {
	height: 25px;
	border: none;
	background: transparent url(../images/vaadin/mainview/toolbar-bg.png) repeat-x;
	padding: 0 5px;
	margin: 0;
	overflow: hidden;
	border-left: 1px solid #d8dde0;
	border-right: 1px solid #71767b;
	white-space: nowrap;
	cursor: pointer;
}
	
.v-nativebutton-toolbar .v-nativebutton-caption {
	font-size: 11px;
	color: #222;
	text-shadow: rgba(255,255,255,.7) 0 1px 0;
	text-decoration: none;
	}

.v-nativebutton-toolbar:active,
.v-nativebutton-toolbar.v-pressed {
	background-position: left bottom;
	}

.v-nativebutton-toolbar * {
	vertical-align: middle;
}
.v-nativebutton-toolbar .v-icon {
	margin-right: 3px;
}

.v-table .v-table-header-wrap {
	border-bottom: 1px solid #b2b3b5;
	height: 19px;
	}

.v-table-body .v-label {
	line-height: 16px;
	}

.v-window-mainpopup .v-window-outerheader {
	padding: 0 32px 0 0;
	height: 37px;
	}

.v-window-mainpopup .v-window-header {
	padding: 12px 0 12px 0;
	background: transparent url(../images/vaadin/mainview/vaadin-powered.png) no-repeat 14px 50%;
	width: auto;
	padding-left: 106px;
}
