<!DOCTYPE html>

#parse ($init)

<html class="#language ("lang.dir")" dir="#language ("lang.dir")">

<head>
	<title>$the_title - $company_name</title>

	$theme.include($top_head_include)
</head>

<body class="$css_class">

#if($is_signed_in)
	#dockbar()
#end

$theme.include($top_messages_include)

<div id="wrapper">
	<div id="banner">
		<h1 class="logo">
			<a class="png" href="$company_url">$company_name</a>
		</h1>

		<div id="page-search">
			$theme.journalContentSearch()
		</div>

		#if ($update_available_url)
			<div class="popup-alert-notice">
				<a class="update-available" href="$update_available_url">#language ("updates-are-available-for-liferay")</a>
			</div>
		#end
	</div>

	#if ($has_navigation)
		#parse ("$full_templates_path/navigation.vm")
	#end

	#if ($selectable)
		$theme.include($content_include)
	#else
		$portletDisplay.recycle()

		$portletDisplay.setTitle($the_title)

		$theme.wrapPortlet("portlet.vm", $content_include)
	#end

	<div id="footer">
		<div class="language">$theme.language()</div>
	</div>
</div>

</body>

$theme.include($bottom_include)

</html>