/* This file allows you to override default styles in one central location for easier upgrade and maintenance. */

/* ---------- Base ---------- */

body {
	background: #D0ECD0 url(../images/custom/body_bg.png) repeat-x 0 0;
	color: #666;
	font-size: 11px;
}

a {
	color: #21AA1B;
	text-decoration: none;
}

a:hover {
	color: #FF9E20;
	text-decoration: none;
}

/* ---------- Wrapper ---------- */

#wrapper {
	margin: 20px auto;
	width: 974px;
}

/* ---------- Banner ---------- */

#banner {
	background: url(../images/custom/banner_bg.png) no-repeat 50% 0;
	height: 100px;
	padding: 20px 20px 0 20px;
}

/* ---------- Dock ---------- */

.js .interactive-mode {
	background: none;
	right: 16px;
	top: 16px;
}

.js .interactive-mode h2 {
	padding: 0;
}

.js .interactive-mode h2 span {
	background: transparent url(../images/custom/dock_bg.png) no-repeat scroll 0 100%;
	border: none;
	color: #25BE1E;
	padding: 4px 20px;
	text-align: center;
}

.ie.js .interactive-mode h2 span {
	padding-left: 40px;
	padding-right: 40px;
}

.js .interactive-mode ul {
	border: none;
	position: relative;
	top: -7px;
}

/* ---------- Navigation ---------- */

#navigation {
	background: url(../images/custom/navigation_bg.png) no-repeat 50% 100%;
	font-size: 12px;
	font-weight: bold;
	padding: 0 20px;

}

.ie #navigation {
	zoom: 1;
}

#navigation a,
#navigation a:hover {
	color: #FFF;
}

#navigation a:hover {
	text-decoration: underline;
}

#wrapper #navigation .selected a:hover {
	text-decoration: none;
}

#navigation ul {
	display: inline;
	line-height: 40px;
}

#navigation ul li {
	padding: 0 10px;
}

#navigation ul li.selected {
	padding: 0;
}

#navigation li.selected span {
	background: transparent url(../images/custom/navigation_item_selected_right_bg.png) no-repeat 100% 50%;
	padding: 11px 10px 10px 5px;
}

#navigation li.selected a {
	background: transparent url(../images/custom/navigation_item_selected_left_bg.png) no-repeat 0 50%;
	padding: 10px 0 10px 5px;
}

#wrapper #navigation #add-page {
	display: inline;
	line-height: 40px;
	padding: 0 10px;
}

#add-page span,
#navigation #add-page a {
	color: #FF9E20;
}

.enter-page input {
	margin-right: 10px;
}

.cancel-page {
	display: none;
}

#wrapper #navigation .save-page {
	background: none;
	padding-left: 0;
}

.ie .save-page {
	position: relative;
	top: -5px;
}

/* ---------- Content Wrapper ---------- */

#content-wrapper {
	background: url(../images/custom/content_wrapper_bg.png) repeat-y 50% 0;
	padding: 10px 16px;
}

.ie #content-wrapper {
	zoom: 1;
}

/* ---------- Portlet ---------- */

.portlet-topper {
	background: #D0ECD0 url(../images/custom/portlet_topper_right_bg.png) no-repeat 100% 0;
}

.portlet-title {
	background: transparent url(../images/custom/portlet_topper_left_bg.png) no-repeat;
	font-size: 12px;
	padding: 8px 8px 0 8px;
}

.portlet-title img {
	display: none;
}

.portlet-content,
.portlet-minimized .portlet-content-container {
	background: #D0ECD0 url(../images/custom/portlet_content_right_bg.png) no-repeat 100% 100%;
	margin: 0 0 15px 1px;
	min-height: 70px;
	padding: 12px 10px 0;
}

.ie6 .portlet-content,
.portlet-minimized .portlet-content-container {
	height: 70px;
}

.portlet {
	background: transparent url(../images/custom/portlet_content_left_bg.png) no-repeat 0 100%;
}

.ui-autocomplete-odd,
.results-row.alt td {
	background-color: #E0FCE0;
}

.ui-autocomplete-even,
.results-row td {
	background-color: #D5F1D5;
}

.results-row.hover td {
	background-color: #F0FCF0;
}

.results-header {
	background: #A0BCA0;
}

.portlet-calendar .calendar-day .day-text {
	background: #A0BCA0;
}

.taglib-calendar .calendar-current-day a {
	border-color: #A0BCA0;
	color: #21AA1B;
}

.portlet-calendar .taglib-calendar tr td.calendar-current-day a:hover,
.taglib-calendar tr td.calendar-current-day a:focus {
	background-color: #D0ECD0;
	border-color: #A0BCA0;
}

.taglib-calendar tr td a:hover {
	background-color: #D0ECD0;
	color: #21AA1B;
}

.portlet-calendar .calendar-current-day.has-events a span {
	background: transparent url(../images/calendar/event_indicator.png) no-repeat scroll 50% 95%
}

input[type="submit"]:hover,
input[type="button"]:hover,
input[type="reset"]:hover,
input[type="submit"]:focus,
input[type="button"]:focus,
input[type="reset"]:focus {
	background-color: #EDF8ED;
	border-color:#DEDEDE #BFBFBF #BFBFBF #DEDEDE;
	color: #FF9E20;
}

.lfr-actions.portlet-options .lfr-trigger strong span {
	margin: 1px 2px 0 0;
}

.portlet-section-body {
	background: #FFF;
}

.ie body.portal-iframe {
	background: #D0ECD0;
}

body.portal-iframe,
.portal-iframe #content-wrapper {
	background: none;
	width: auto;
}

/* ---------- Tabs ---------- */

.ui-tabs {
	border: none;
	padding: 0;
}

.ui-tabs li a,
.ui-tabs li.current a,
.ui-tabs li.current span,
.ui-tabs li a:hover,
.ui-tabs li span:hover {
	background: transparent url(../images/custom/tabs.png) no-repeat 50% 50%;
	border: none;
}

.ui-tabs li.first a,
.ui-tabs li.first a:hover {
	background: transparent url(../images/custom/tabs.png) no-repeat 0 50%;
}

.ui-tabs li.last a,
.ui-tabs li.last a:hover {
	background: transparent url(../images/custom/tabs.png) no-repeat 100% 50%;
}

.ui-tabs li a:hover,
.ui-tabs li span:hover {
	color: #FF9E20;
}

.ui-tabs li.current:hover,
.ui-tabs li.current a:hover {
	background-color: transparent;
	text-decoration: none;
}

.ui-tabs li.current a,
.ui-tabs li.current span {
	color: #FFF;
}

/* ---------- Footer ---------- */

#footer {
	background: url(../images/custom/footer_bg.png) no-repeat 50% 0;
	height: 30px;
	margin: 0;
}