/* -------- Global -------- */

#skip-to-content,
#heading .community-title,
#heading .page-title,
#navigation h1 {
	clip: rect(0 0 0 0);
	position: absolute;
}

body {
	background: #F1F1F1;
}

#navigation a,
#content a {
	color: #027AC6;
}

#navigation,
.portlet-title {
	font-family: "Helvetica Neue", Arial, Helvetica, "Nimbus Sans L", sans-serif;
}

/* -------- Wrapper / Skip / Sign-in -------- */

#wrapper {
	background: #FFF;
	color: #494949;
	font: 12px/1.5 Georgia, "Bitstream Charter", serif;
	margin: 20px auto;
	padding: 30px 20px 0;
	position: relative;
	width: 940px;
}

#skip-to-content,
#sign-in {
	color: #666;
	right: 2em;
}

#skip-to-content:active,
#skip-to-content:focus {
	clip: auto;
}

#skip-to-content {
	top: 1em;
}

#sign-in {
	position: absolute;
	top: 2.5em;
}

/* -------- Banner -------- */

#banner {
}

#heading {
	margin: 0 0 4px;
}

#heading .company-title {
	margin: 0;
	padding: 8px 0;
}

/* -------- Navigation -------- */

#navigation {
	background: #000 url(../images/custom/banner_bg.jpg) no-repeat;
	border-top: 4px solid #000;
	padding: 198px 0 0;
}

#navigation ul {
	list-style: none;
	margin: 0;
}

.ie6 #navigation ul,
.ie7 #navigation ul {
	zoom: 1;
}

#navigation ul:after {
	clear: both;
	content: ".";
	display: block;
	height: 0;
	line-height: 0;
	visibility: hidden;
}

#navigation li,
#navigation a {
	float: left;
}

#navigation a {
	color: #AAA;
	display: block;
	padding: 10px;
	text-decoration: none;
}

#navigation a:active,
#navigation a:focus,
#navigation a:hover {
	background: #333;
	color: #FFF;
}

#navigation .selected a {
	color: #FFF;
}

/* -------- Content -------- */

#content {
	padding: 40px 0 20px;
}

#breadcrumbs {
	display: none;
}

.portlet-title {
	color: #000;
	font-size: 21px;
}

.portlet-content {
	padding: 12px 0 0;
}

/* -------- Footer -------- */

#footer,
#footer a {
	color: #666;
	text-decoration: none;
}

#footer {
	border-top: 4px solid #000;
	padding: 18px 0;
	text-align: right;
}

#footer p {
	margin: 0;
}

#footer a:hover {
	text-decoration: underline;
}