/* This file allows you to override default styles in one central location for easier upgrade and maintenance. */

/* ---- GLOBAL ---- */
#wrapper {
	width: 85%;
	border-bottom: 2px solid #2763A5;
}

#content-wrapper {
	font-family: Arial,Helvetica,sans-serif;
	color: #666666;
	font-size: 1.15em;
}

#footer {
	background: #2763A5;
	height: 25px;
	border-bottom: 13px solid #FFFFFF;				  
	color: #FFFFFF;
	text-align: center;
}

/* ---- BANNER ---- */
#banner {
	background: none;
	height: 100px;
}

#banner .logo {
	background: none;
}

/* ---- NAVIGATION ---- */
#navigation {
	background: url(../images/navigation/navigation_bg.png) no-repeat;
	width: auto;
	height: 21px;
	min-height: 0;
	margin: 0;
	padding: 0 0 0 50px;
	border-bottom: 4px solid #2763A5;
}

#navigation li {
	background: url(../images/navigation/bg.gif) no-repeat right top;
	overflow: hidden;
	padding: 0 1px 0 0;
	margin-right: 1px;
	line-height: 1.8;
}

#navigation li a {
	background: url(../images/navigation/bg.gif) no-repeat left top;
	padding: 0 15px;
	color: #FFFFFF;
	font-size: 11px;
}

#navigation li a span {
	background: none;
	padding: 0;
}

#navigation li a:hover {
	padding-bottom: 0;
}

#navigation li a:hover span {
	background: none;
}

#navigation li.selected {
	background: url(../images/navigation/bg.gif) no-repeat right -41px;
	padding-right: 1px;
	padding-left: 0;
	text-align: center;
}

#navigation li.selected a {
	color: #FFFFFF;
	padding: 0;
}

#navigation li.selected a span {
	background: url(../images/navigation/bg.gif) no-repeat left -41px;
	font-size: 1em;
	padding: 4px 15px;
}

#navigation li.selected a:hover {
	padding-bottom: 0;
}

.js #navigation .enter-page {
	background: none;
	padding: 0;
}

.js #navigation .enter-page a {;
	margin-left: 0;
	padding: 0 15px 0 0;
}

.js #add-page {
	float: right;
	font-weight: bold;
	padding-top: 3px;
}

.js #add-page a {
	color: #000000;
}

/* ----- PORTLET ---- */
.portlet, .portlet-topper, .portlet-content, .portlet-title {
	background: #FFFFFF;
}

.portlet {
	border-bottom: 1px solid #DDDDDD;
}

.portlet-title {
	font-size: 16px;
	color: #666666;
}

.portlet-title img {
	display: none;
}

/* ---- TABS ---- */
.tabs {
	border-bottom: 1px solid #222222;
	padding: 0 0 18px 1em;
}

.tabs li {
	background: url(../images/navigation/bg.gif) right top;
	line-height: 15px;
	padding-right: 1px;
	margin-right: 1px;
	top: 0.15em;
}
.tabs li a, .tabs li span {
	background: url(../images/navigation/bg.gif) left top;
	padding: 0.15em .8em 0 1em;
	color: #FFFFFF;
}

.tabs li.current {
	background: url(../images/navigation/bg.gif) right -41px;
}

.tabs li.current a, .tabs li.current span {
	background: url(../images/navigation/bg.gif) left -42px;
	padding: 0.1em 1em;
	color: #FFFFFF;
}

.ie .tabs li {
	line-height: 15px;
}

.ie .tabs li.current {
	top: 0.2em;
}

.ie .tabs li {
	top: 0.2em;
}