<?xml version="1.0"?>

<web-app version="2.4" xmlns="http://java.sun.com/xml/ns/j2ee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/j2ee http://java.sun.com/xml/ns/j2ee/web-app_2_4.xsd">
	<filter>
		<filter-name>Download Filter</filter-name>
		<filter-class>com.liferay.portal.kernel.servlet.PortalClassLoaderFilter</filter-class>
		<init-param>
			<param-name>auth.verifier.OAuthVerifier.urls.includes</param-name>
			<param-value>/download/*</param-value>
		</init-param>
		<init-param>
			<param-name>filter-class</param-name>
			<param-value>com.liferay.portal.servlet.filters.authverifier.AuthVerifierFilter</param-value>
		</init-param>
		<init-param>
			<param-name>portal_property_prefix</param-name>
			<param-value>sync.download.servlet.</param-value>
		</init-param>
	</filter>
	<filter-mapping>
		<filter-name>Download Filter</filter-name>
		<url-pattern>/download/*</url-pattern>
	</filter-mapping>
	<listener>
		<listener-class>com.liferay.sync.servlet.SyncServletContextListener</listener-class>
	</listener>
	<servlet>
		<servlet-name>Download Servlet</servlet-name>
		<servlet-class>com.liferay.sync.servlet.DownloadServlet</servlet-class>
		<load-on-startup>0</load-on-startup>
	</servlet>
	<servlet-mapping>
		<servlet-name>Download Servlet</servlet-name>
		<url-pattern>/download/*</url-pattern>
	</servlet-mapping>
</web-app>