#banner .logo a {
	color: #FFF;
	font: bold italic 56px 'Georgia', 'Times New Roman', 'Times', serif;
}

#banner {
	background: transparent url('../images/custom/header.jpg');
	height: 113px;
}

body {
	background: #E4D9BE url('../images/custom/body_bg.png') repeat-y top center;
}

#content-wrapper {
	width: auto;
}

html {
	overflow-y: scroll;
}

.js .lfr-dock.expanded .lfr-dock-list-container {
	background-color: transparent;
}

.js .lfr-dock.interactive-mode h2, .js .lfr-dock.interactive-mode h2 span {
	background-image: url('../images/custom/menu_bar.png');
}

.js .lfr-dock.interactive-mode ul {
	background-color: transparent;
	background-image: url('../images/custom/menu_bg.png');
	border: 0;
}

#navigation li a {
	padding: 8px 16px 5px;
}

#navigation li {
	background: transparent none no-repeat scroll 0 0%;
	border: 0;
	margin: 0;
}

#navigation li.selected a span {
	background: transparent none;
	padding: 0;
}

#navigation ul {
	width: auto;
}

#navigation {
	background: transparent url('../images/custom/linkbar_bg.png');
	border: 0;
	height: 31px;
	margin: 0;
}

.portlet, .portlet-topper, .portlet-content, .portlet-title {
	background: transparent none no-repeat scroll 0 0%;
	margin: 0;
	padding: 0;
}

.portlet-content {
	font-family: Georgia,"Times New Roman",Times,serif;
	font-size: 10pt;
}

.portlet-title {
	color: #FBE09D;
	font-family: Georgia,"Times New Roman",Times,serif;
	font-size: 10pt;
	font-weight: bold;
	padding: 20px 0 0 40px;
}

.portlet-topper {
	background: url('../images/custom/h2.png') no-repeat;
	height: 39px;
}

.portlet {
	border: 0;
	margin: 12px;
	padding: 2px 0 14px 0;
}

#wrapper {
	background: #F6EACF;
	font-size: 0.9em;
	margin: 0 auto;
	position: relative;
	width: 903px;
}

#navigation li.selected a, #navigation li a:hover {
	background-color:transparent;
}

.js #add-page {
	background:transparent none repeat scroll 0 0;
	border:medium none;
	right:0;
	top:0;
}

.js .interactive-mode h2 span {
	border-right:none;
}