/* ---------- Global ---------- */

body {
	background-color: #EEF0F2;
	color: #333;
	font: 12px/1.25 Arial, Helvetica, Verdana, sans-serif;
}

a {
	color: #D05B00;
}

a:hover,
a:focus {
	color: #06C;
}

.obscured,
#skip-to-content,
#heading .company-title span,
#heading .page-title,
#heading .site-title,
#navigation h1,
#navigation .child-menu,
#breadcrumbs h1 {
	clip: rect(0 0 0 0);
	position: absolute;
}

/* ---------- Wrapper ---------- */

#wrapper {
	margin: 43px auto;
	position: relative;
	width: 940px;
}

/* ---------- Skip to content ---------- */

#skip-to-content:focus {
	left: auto;
	right: 0;
	top: -2.4em;
}

/* ---------- Banner ---------- */

#heading {
	margin-bottom: 26px;
	min-height: 40px;
}

#heading .company-title {
	margin: 0;
}

/* ---------- Sign In ---------- */

#sign-in {
	background: url(../images/custom/login_icon.png) no-repeat 3px 50%;
	font-weight: bold;
	position: absolute;
	right: 0;
	top: -1em;
}

/* ---------- Navigation ---------- */

#navigation {
	position: absolute;
	right: 0;
	top: 11px;
}

#navigation ul {
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
	background-color: #10354A;
	background-image: -moz-linear-gradient(#215172, #10354A);
	background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0.0, #215172), color-stop(1.0, #10354A));
	border: 1px solid;
	border-color: #597D95 #506E82 #879AA5;
	border-radius: 4px;
	filter: progid:DXImageTransform.Microsoft.Gradient(GradientType=0, StartColorStr='#215172', EndColorStr='#10354A');
	float: right;
	font-size: 12px;
	font-weight: bold;
	line-height: 1;
	list-style: none;
	margin: 0;
	padding: 0;
	text-transform: uppercase;
}

#navigation li,
#navigation a {
	display: inline-block;
	position: relative;
}

.ie6 #navigation li,
.ie7 #navigation li,
.ie6 #navigation a,
.ie7 #navigation a {
	display: inline;
	zoom: 1;
}

#navigation a {
	color: #FFF;
	outline: 0;
	padding: 11px 13px;
	text-decoration: none;
}

#navigation .selected a,
#navigation a:hover,
#navigation a:active,
#navigation a:focus {
	color: #BBB;
}

#navigation a:active,
#navigation a:focus {
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	background-color: #154661;
	background-image: -moz-linear-gradient(#1D4663, #154661);
	background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0.0, #1D4663), color-stop(1.0, #154661));
	border-radius: 3px;
	filter: progid:DXImageTransform.Microsoft.Gradient(GradientType=0, StartColorStr='#1D4663', EndColorStr='#154661');
}

#navigation a:active span,
#navigation a:focus span {
	position: relative;
	top: 2px;
}

/* ---------- Layout ---------- */

.portlet-column-content {
	padding: 0 10px 20px;
}

.portlet-column-content-first,
.portlet-column-content-only {
	padding-left: 0;
}

.portlet-column-content-last,
.portlet-column-content-only {
	padding-right: 0;
}

/* ---------- Portlet ---------- */

.portlet .portlet-topper {
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
	background-color: #215172;
	border-radius: 4px;
	font-weight: bold;
	list-style: none;
	margin: 0;
	padding: 0;
}

.portlet .portlet-topper-toolbar {
	right: 6px;
	top: 7px;
}

.portlet .portlet-title {
	color: #FFF;
	font-weight: normal;
	margin: 0;
	min-height: 1em;
	padding: 9px 13px;
}

.portlet-sign-in .portlet-title {
	background-image: url(../images/custom/login_icon.png);
}

.portlet-body {
	margin: 0;
}

#page-banner {
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	background: #215172 url(../images/custom/page-banner_bg.png) no-repeat right center;
	border-radius: 3px;
	color: #FFF;
	font-size: 2.2em;
	margin: 0;
	padding: 0.5em 0.8em;
}

/* ---------- Footer ---------- */

#footer {
	text-align: right;
}

.callout {
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
	background-color: #EEEFEF;
	background-image: -moz-linear-gradient(#D2D2D3, #EEEFEF);
	background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0.0, #D2D2D3), color-stop(1.0, #EEEFEF));
	border: 1px solid;
	border-color: #808080 #777 #404040;
	border-radius: 4px;
	filter: progid:DXImageTransform.Microsoft.Gradient(GradientType=0, StartColorStr='#D2D2D3', EndColorStr='#EEEFEF');
}

.callout-extraborder {
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
	border: 1px solid #EEE;
	border-radius: 4px;
}

a:hover .callout-extraborder,
a:focus .callout-extraborder {
	background-image: -moz-linear-gradient(#DDD, #EEE);
	background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0.0, #DDD), color-stop(1.0, #EEE));
	border-color: #FFF;
	filter: progid:DXImageTransform.Microsoft.Gradient(GradientType=0, StartColorStr='#DDDDDD', EndColorStr='#EEEEEE');
}

.callout-content {
	padding: 14px 24px;
}

.after-icon-callout {
	margin: 0 0 16px 132px;
}

.small-after-icon-callout {
	border-bottom: 1px solid #777;
	padding: 5px 0 16px 85px;
}

.portlet-journal-content .portlet-body .small-after-icon-callout h1 {
	margin: 0 0 3px;
}

.portlet-journal-content .portlet-body h1 {
	font-size: 1.25em;
	line-height: 1.125;
	margin: 0 0 12px;
}

.portlet-journal-content .portlet-body ul {
	list-style: none;
	margin: 0;
	padding: 0 0 0 2px;
}

.portlet-journal-content .portlet-body li {
	background: url(../images/custom/marker.png) no-repeat 0 0.4em;
	margin-bottom: 6px;
	padding-left: 20px;
}

.article h1 {
	color: #215172;
	font-size: 2.2em;
	font-weight: normal;
	line-height: 1.125;
	margin: 0 0 12px;
}

.article h2 {
	color: #484A4C;
	font-size: 1.2em;
	line-height: 1.125;
	margin: 0 0 12px;
}

.article p {
	line-height: 1.7;
}

.small-article {
	margin-bottom: 20px;
}

.small-article h1 {
	font-size: 1.2em;
	margin: 0.5em 0;
}

.small-article h2 {
	font-size: 1em;
	margin: 0.25em 0;
}

.small-article p {
	font-size: 90%;
	line-height: 2;
}

.after-icon-callout h1 {
	color: #215172;
	font-size: 16px;
	font-weight: bold;
	line-height: 1.125;
	margin: 0 0 2px;
}

.after-icon-callout p {
	color: #474A4B;
	line-height: 1.75;
	margin: 0;
}

/* ---------- Breadcrumbs ---------- */

.breadcrumbs {
	margin-bottom: 1.5em;
}

.breadcrumbs li {
	background: url(../images/arrows/05_right.png) no-repeat 100% 50%;
	display: inline;
	margin-right: 5px;
	padding-right: 15px;
}

.breadcrumbs .last {
	background-image: none;
	font-weight: bold;
	margin-top: 0.2em;
}

.breadcrumbs .last a {
	color: #555;
}

/* ---------- Site breadcrumbs ---------- */

.site-breadcrumbs {
	margin: 0 0 5px;
	width: auto;
}

.site-breadcrumbs ul {
	background-color: #FFF;
	border: 1px solid #DEDEDE;
	border-color: #C0C2C5;
	height: 1.8em;
	margin: 0;
}

.site-breadcrumbs li {
	background-image: none;
	float: left;
	line-height: 1.8em;
	margin-right: 0;
	padding-left: 0.75em;
	padding-right: 0;
}

.site-breadcrumbs li span {
	background: url(../images/common/breadcrumbs.png) no-repeat 100% 50%;
	display: block;
	line-height: 1.8em;
	padding: 0 15px 0 0;
}

.site-breadcrumbs li span a {
	text-decoration: none;
}

.site-breadcrumbs li.first a {
	color: #369;
	font-weight: bold;
}

.site-breadcrumbs li.last a {
	color: #4B5567;
	font-size: 1.3em;
}

.site-breadcrumbs .last {
	display: inline;
	font-size: 1em;
	margin-top: 0;
	padding-right: 0;
}

.site-breadcrumbs .last span {
	background-image: none;
	padding: 0;
}

.lfr-hudcrumbs {
	position: fixed;
	top: 0;
	z-index: 200;
}

.lfr-hudcrumbs ul {
	background: rgba(0, 0, 0, 0.8);
}

.lfr-hudcrumbs .breadcrumbs li a,
.lfr-hudcrumbs .breadcrumbs li span {
	color: #FFF;
}

.lfr-hudcrumbs li span {
	background-image: url(../images/common/breadcrumbs_hud.png);
}