/* This file allows you to override default styles in one central location for easier upgrade and maintenance. */ 

/* ---------- Base styles ---------- */

body {
	background: #F2F2EB;
	font: 12px "Helvetica Neue", Arial, sans-serif;
}

#wrapper {
	margin: 0 auto;
	width: 960px;
}

#banner {
	background: transparent url(../images/custom/banner_bg.png) no-repeat 0 center;
	height: 100px;
	position: relative;
	width: 960px;
}

#banner .logo {
	margin: 0;
}

#banner .logo a {
	left: 30px;
	position: absolute;
	top: 20px;
}

#banner .sign-in {
	right: 30px;
	color: #FFF;
	text-decoration: none;
}

#navigation {
	background: transparent url(../images/custom/tab_link.png) repeat-x;
	height: 33px;
	padding-right: 108px;
	position: relative;
}

#navigation .aui-sortable-proxy {
	background: none;
}

#navigation ul {
	display: block;
	height: 33px;
	margin: 0 10px 0;
	position: relative;
}

#navigation li a {
	color: gray;
	display: block;
	font-size: 13px;
	font-weight: bold;
	padding: 9.5px 20px;
	text-decoration: none;
	text-transform: uppercase;
}

#navigation li a:hover {
	color: white;
}

#navigation li.selected a {
	color: white;
}

/* ---------- Content Wrapper ---------- */

#content-wrapper {
	background: #FFF;
	border: 5px solid #0E1744;
	border-color: #141424;
	border-top: 0;
	padding: 0 10px 10px;
}

/* ---------- Portlet wrapper and icons ---------- */

.portlet {
	margin: 10px 0 10px 10px;
}

.portlet-title {
	background: none;
	border-bottom: 1px dotted gray;
	color: #000;
	padding: 8px 0 5px 2px;
	text-transform: uppercase;
}