.wiki-navigation-portlet-page-menu {
	.lfr-panel {
		.accordion-heading {
			padding-left: 5px;
		}

		.lfr-panel-titlebar {
			margin-bottom: 0;
		}
	}

	.page-menu {
		a {
			display: block;
			line-height: 22px;
			padding: 0 20px;

			&:hover {
				background-color: #4EA9DA;
				color: #FFF;
			}
		}

		&, li {
			list-style-image: none;
			list-style-position: outside;
			list-style-type: none;
			margin: 0;
			padding: 0;
		}
	}
}