.wiki-navigation-portlet-page-menu .lfr-panel .lfr-panel-title {
	padding-left: 5px;
}

.wiki-navigation-portlet-page-menu .lfr-panel .lfr-panel-titlebar {
	margin-bottom: 0;
}

.wiki-navigation-portlet-page-menu .page-menu {
	list-style-image: none;
	list-style-position: outside;
	list-style-type: none;
	margin: 0;
	padding: 0;
}

.wiki-navigation-portlet-page-menu .page-menu a {
	display: block;
	line-height: 22px;
	padding: 0 20px;
}

.wiki-navigation-portlet-page-menu .page-menu a:hover {
	background-color: #4EA9DA;
	color: #FFF;
}

.wiki-navigation-portlet-page-menu .page-menu li {
	list-style-image: none;
	list-style-position: outside;
	list-style-type: none;
	margin: 0;
	padding: 0;
}