/* This file allows you to override default styles in one central location for easier upgrade and maintenance. */

body {
	font: 62.5%/1.6em 'Tahoma','Lucida Sans Unicode','Lucida Grande','Lucida',Arial,Verdana,sans-serif;
}

#banner {
	background: url(../images/common/header.png) no-repeat scroll 100% 100%;
	height: 15em;
	position: relative;
}

/* ---------- Main content body ---------- */

#wrapper {
	margin: 0 auto;
	width: 1142px;
}

/* Navigation */

#navigation {
	margin: 0 auto 0;
	min-height: 2.2em;
	overflow: hidden;
	padding-right: 1em;
	width: 1142px;
}

#navigation ul {
	float: left;
	min-height: 2em;
	width: auto;
}

#navigation li {
	background: none;
	display: inline;
	float: left;
	margin-right: 0em;
	padding: 0 0 0 0;
	position: relative;
}

#navigation li a {
	background: none;
	display: block;
	padding: 0 2em 0.5em 1.5em;
	font-family: 'Myriad Pro';
	text-decoration: none;
	font-size: 10pt;
	font-weight: bold;
	color: #9B5C18;
}

#navigation li a span {
	background: url(../images/common/arrow.jpg) no-repeat 0 50%;
	padding-left: 17px;
	padding-top: 16px;
	padding-bottom: 15px;
	text-decoration: none;
}

#navigation li.selected a {
	padding-top: 0px;
}

#navigation li.selected a span {
	background: url(../images/common/arrow_current.jpg) no-repeat 0 50%;
	font-size: 10pt;
	color: #AFA85A;
}

#navigation li a:hover {
	color: #AFA85A;
	padding-bottom: 1px;
}

#navigation li a:hover span {
	background: url(../images/common/arrow_current.jpg) no-repeat 0 50%;;
}

/* ---------- Dock with Javascript ---------- */

.js .lfr-dock.interactive-mode {
	float: right;
	min-width: 150px;
	position: relative;
	right: 50px;
	top: 10px;
}

.js .lfr-dock.interactive-mode h2 {
	background: none;
	border: 1px outset #FFF;
	font-size: 1.2em;
	margin-bottom: 0;
	padding: 0 29px 0 0;
	position: relative;
	z-index: 82;
}

.js .lfr-dock.interactive-mode h2 span {
	background: none;
	color: #fff;
	display: block;
	font-size: 1.2em;
	margin-bottom: 0;
	padding: 0.5em 0.5em 0.5em 2em;
}

/* Columns */

/* ---------- 2 columns ---------- */

.columns-2 #column-1 {
	padding-left: 0;
}

.columns-2 #column-2 {
	padding-right: 0;
}

/* ---------- Table or section header ---------- */

.portlet-section-header {
	background: #B1804B;
	padding: 1px 0 0;
}

.portlet-section-header th {
	border-bottom: 1px solid #ccc;
	color: #333;
	font-weight: bold;
	padding: 0.3em 1em;
}

/* ---------- Normal text in a table cell ---------- */

.portlet-section-body {
	background: #E7EDF4;
	color: #000;
}

.portlet-section-body td {
	background: #AFA85A;
	border-top: 1px solid #BFBFBF;
	padding: 0.3em 1em;
}

/* ---------- Text in every other row in the cell ---------- */

.portlet-section-alternate {
	background: #D3DEEB;
	color: #000;
}

.portlet-section-alternate td {
	background: #fff;
	border-top: 1px solid #BFBFBF;
	padding: 0.3em 1em;
}

.portlet-section-alternate-hover td, .portlet-section-body-hover td {
	background: #FFF5BA;
	border-bottom: 1px solid #E0D79F;
	border-top: 1px solid #E0D79F;
	padding: 0.3em 1em;
}

/* Portlets */

.portlet-icons {
	background: #E3E0C5;
	margin-top: 3px;
	margin-right: 3px;
	position: absolute;
	top: 0px;
	right: 0px;
	text-align: right;
}

.portlet-title {
	background: #E3E0C5  url(../images/common/top_left.jpg) no-repeat top left;
	margin-bottom: 0px;
	position: relative;
	display: block;
	font-weight: bold;
	min-width: 50%;
	padding: 8px 0 4px 10px;
}

.portlet-topper {
	background: #E3E0C5 url(../images/common/top_right.jpg) no-repeat top right;
	margin-top: 0px;
	position: relative;
}

.portlet-content {
	background: #E3E0C5 url(../images/common/bottom_left.jpg) no-repeat bottom left;
	margin-top: 10px;
	padding: 10px 5px 25px 15px;
}

.portlet {
	background: #E3E0C5 url(../images/common/bottom_right.jpg) no-repeat bottom right;	
}

.tabs li {
	background: url(../images/common/tabs_bg.gif) 100% -50px;
	display: inline;
	float: left;
	line-height: 2.25;
	margin-right: 0.8em;
	padding: 0;
	position: relative;
	text-decoration: none;
}

.tabs li a, .tabs li span {
	background: url(../images/common/tabs_bg.gif) 0 -150px;
	display: block;
	float: left;
	padding: 0.35em 1em 0;
	text-decoration: none;
}

.tabs li.current {
	background: url(../images/common/tabs_bg.gif) 100% 0;
	font-weight: bold;
	top: 0.15em;
}

.tabs li.current a, .tabs li.current span {
	background: url(../images/common/tabs_bg.gif) 0 -100px;
	color: #333;
	padding: 0.1em 1em;
}

.tabs {
	border-bottom: 1px solid #333;
	margin: 0 0 1.5em 0;
	padding: 0 0 2.6em 1em;
}

.js #add-page {
	position: absolute;
	right: 0;
	top: 110pt;
	font-weight: bold;
	padding-top: 0.3em;
}






