/* This file allows you to override default styles in one central location for easier upgrade and maintenance. */

/* ---------- Base ---------- */

body {
	background: url(../images/custom/body_bg.png);
	font-size: 12px;
}

/* ---------- Wrapper ---------- */

#wrapper {
	margin: 0 auto;
	width: 900px;
}

/* ---------- Banner ---------- */

#banner {
	position: relative;
}

#banner .sign-in {
	color: #FFF;
	position: absolute;
	right: 0px;
	top: 0px;
}

/* ---------- Logo ---------- */

#banner .logo a {
	margin: 12px;
}

/* ---------- Navigation ---------- */

#navigation {
	border-bottom: 1px solid #E50059;
	border-top: 12px solid #E50059;
	height: 20px;
	margin-bottom: 20px;
	padding: 16px 0;
	font-size: 18px;
}

.blue #navigation {
	border-bottom-color: #5211C2;
	border-top-color: #5211C2;
}

#navigation ul {
	list-style: none;
	margin: 0;
}

#navigation li,
#navigation a {
	float: left;
}

#navigation a {
	border-right: 1px solid #555;
	color: #FFF;
	display: block;
	padding: 0 14px;
	text-decoration: none;
}

.blue #navigation a {
	border-bottom-color: #5211C2;
	border-top-color: #5211C2;
	color: #5211C2;
}

#navigation a:hover {
	color: #AAA;
}

#navigation .selected a {
	color: #E50059;
}

/* ---------- Content Wrapper ---------- */

#content-wrapper {
	color: #FFF;
}

#content-wrapper a {
	color: #E50059;
	text-decoration: none;
}

#content-wrapper a:hover {
	color: #FFF;
}

/* ---------- Portlet ---------- */

.portlet {
	margin-bottom: 20px;
}

.portlet-content {
	background: #111;
	padding-bottom: 20px;
}

.portlet-title {
	background: #111;
	color: #AAA;
	margin-right: 16px;
	padding: 8px 0 0 8px;
	text-transform: uppercase;
}

.portlet-topper {
	background: url(../images/custom/portlet_topper_bg.png) no-repeat 100% 0;
}

/* ---------- Green ---------- */

.green #wrapper .exp-tabs li.exp-selected a,
.green #content-wrapper a,
.js .green .interactive-mode li a,
.js .green .interactive-mode h2 span,
.green #navigation li.selected a {
	color: #7FED00;
}

.green #navigation ul {
	border-bottom: 1px solid #7FED00;
	border-top: 12px solid #7FED00;
}

/* ---------- Yellow ---------- */

.yellow #wrapper .exp-tabs li.exp-selected a,
.yellow #content-wrapper a,
.js .yellow .interactive-mode li a,
.js .yellow .interactive-mode h2 span,
.yellow #navigation li.selected a {
	color: #FFE100;
}

.yellow #navigation ul {
	border-bottom: 1px solid #FFE100;
	border-top: 12px solid #FFE100;
}