<?xml version="1.0"?>
<!DOCTYPE web-app PUBLIC "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN" "http://java.sun.com/dtd/web-app_2_3.dtd">

<web-app>
	<context-param>
		<param-name>org.mule.config</param-name>
		<param-value>/WEB-INF/mule-config.xml</param-value>
	</context-param>
	<listener>
		<listener-class>org.mule.config.builders.MuleXmlBuilderContextListener</listener-class>
	</listener>
	<servlet>
		<servlet-name>Sample Hibernate Servlet</servlet-name>
		<servlet-class>com.liferay.jbi.mule.http.MuleBindingServlet</servlet-class>
		<init-param>
			<param-name>endpoint</param-name>
			<param-value>vm://sampleHibernateInbound</param-value>
		</init-param>
	</servlet>
	<servlet>
		<servlet-name>Workflow Inbound Servlet</servlet-name>
		<servlet-class>com.liferay.jbi.mule.http.MuleBindingServlet</servlet-class>
		<init-param>
			<param-name>endpoint</param-name>
			<param-value>vm://workflowInbound</param-value>
		</init-param>
	</servlet>
	<servlet-mapping>
		<servlet-name>Sample Hibernate Servlet</servlet-name>
		<url-pattern>/sample_hibernate/*</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>Workflow Inbound Servlet</servlet-name>
		<url-pattern>/workflow/*</url-pattern>
	</servlet-mapping>
</web-app>