#banner .logo a {
	color: #588210;
	font-family: 'Times New Roman';
	font-size: 58pt;
	font-weight: bold;
	letter-spacing: -2px;
	line-height: 40px;
	margin-top: 31px;
	position: absolute;
	text-decoration: none;
	text-indent: -2px;
}

#banner .logo {
	background: none repeat scroll 0;
	clear: none;
	float: left;
	left: -10px;
	margin: 0;
	position: relative;
	top: -30px;
}

#banner {
	background: #87B220 none repeat scroll 0;
	height: 75px;
	margin: 0;
	padding: 30px 0 0pt 10px;
	position: relative;
	top: 0;
	width: 100%;
}

body {
	background-color: #E7E7E7;
	font: 62.5%/1.6em Verdana, 'Arial', Helvetica, sans-serif;
}

.columns-2 #column-1 {
	border-right: 5px solid #E7E7E7;
	padding-left: 0;
}

.columns-2 #column-2 {
	padding-right: 0;
}

#content-wrapper a {
	color: #717171;
}

#content-wrapper a:hover {
	color: #87B220;
}

#content-wrapper {
	background: #F4F4F4;
	margin-left: auto;
	margin-right: auto;
	width: 1085px;
}

#footer {
	background: #F4F4F4 none repeat scroll 0;
	clear: both;
	color: #484848;
	font-size: 10px;
	height: 10px;
	margin: 4pt auto 10px;
	padding: 18px 0;
	text-align: left;
	width: 1085px;
}

.footer {
	margin-left: 20px;
}

.footer2 {
	float: right;
	margin-right: 20px;
	margin-top: -20px;
}

html {
	overflow-x: hidden;
}

.ie #banner .logo a {
	padding-bottom: 22px;
	padding-top: 10px;
}

.ie6 #banner .logo {
	top: 0;
}

.ie6 #banner {
	height: 30px;
	padding-top: 10px;
}

.ie6 #navigation {
	left: 0;
}

.ie6.footer2 {
	margin-top: -17px;
}

.js #add-page span {
	color: white;
}

.js #add-page {
	background: none;
	border: none;
	right: 10%;
	top: 4px;
}

.js #navigation .enter-page {
	background-color: transparent;
	margin-top: 3px;
}

.js .interactive-mode h2 span {
	background: transparent;
	border-right: none;
}

.js .interactive-mode h2 {
	background: #87B220 none repeat scroll 0 50%;
}

#navigation li a span {
	background: none;
	padding-left: 0;
	text-decoration: none;
}

#navigation li a {
	background: none;
	color: #FFF;
	display: block;
	font-weight: bold;
	padding: .8em 2em .8em 2em;
	text-decoration: none;
}

#navigation li a:hover span {
	background: none;
}

#navigation li a:hover {
	background: #739B1F none repeat scroll 0;
	padding-bottom: 0.8em;
}

#navigation li {
	background: none;
	border: none;
	display: inline;
	float: left;
	margin-right: 0.5em;
	padding: 0 0.5em 0 0;
	position: relative;
}

#navigation li.selected a span {
	background: none;
	font-size: 1em;
	font-weight: bold;
}

#navigation li.selected a {
	background: #E7E7E7;
	color: #739B1F;
	padding-bottom: 0.9em;
	padding-top: 0.9em;
}

#navigation li.selected a:hover {
	background: #E7E7E7 none repeat scroll 0;
	padding-bottom: 0.9em;
}

#navigation ul {
	float: left;
	margin-left: 10px;
	min-height: 2em;
	width: auto;
}

#navigation {
	background: #7FA71F none repeat scroll 0;
	border: 0;
	height: 33px;
	left: 0;
	margin: 0;
	min-height: 2.2em;
	overflow: hidden;
	padding-right: 1em;
	position: relative;
	width: auto;
}

.portlet, .portlet-topper, .portlet-content, .portlet-title {
	background: #F4F4F4;
}

.portlet-content {
	background-position: left bottom;
	padding: 10px 5px 25px 15px;
}

.portlet-section-body td {
	background: #87B220;
	border-bottom: 1px solid #BFBFBF;
	border-top: 1px solid #BFBFBF;
	padding: 0.3em 1em;
}

.portlet-section-body {
	background: #E7EDF4;
	color: #000;
}

.portlet-section-header th {
	background: #A9BA8B;
	border-bottom: 1px solid #CCC;
	color: #333;
	font-weight: bold;
	padding: 0.3em 1em;
}

.portlet-section-header {
	background: #A9BA8B;
	padding: 1px 0 0;
}

.portlet-title {
	background-position: top left;
	color: #718E3E;
	display: block;
	font-family: 'Georgia';
	font-size: 25px;
	font-weight: normal;
	letter-spacing: -1px;
	margin-bottom: 20px;
	margin-top: 15px;
	min-width: 50%;
	padding: 8px 0 4px 10px;
}

.portlet-topper {
	background-position: right top;
	margin-right: -10px;
	padding-right: 40px;
	position: relative;
}

.portlet {
	margin: 0 0 10px;
	padding-right: 10px;
	text-align: left;
}

.tabs li a, .tabs li span {
	background: none;
	display: block;
	float: left;
	padding: 0.35em 1em 0;
	text-decoration: none;
}

.tabs li {
	background: none;
	display: inline;
	float: left;
	line-height: 2.25;
	margin-right: 0.8em;
	padding: 0;
	position: relative;
	text-decoration: none;
}

.tabs li.current a, .tabs li.current span {
	background: none;
	color: #333;
	padding: 0.15em 1em;
}

.tabs li.current {
	background: none;
	font-weight: bold;
	top: 0.15em;
}

.tabs ul {
	list-style-type: disk;
}

.tabs {
	border-bottom: 1px solid #537D0F;
	margin: 0 0 1.5em 0;
	padding: 0 0 2.6em 1em;
}

#wrapper {
	margin: 0 auto;
	width: 100%;
}