#set ($membership_request_local_service = $serviceLocator.findService("com.liferay.portal.service.MembershipRequestLocalService"))
#set ($user_local_service = $serviceLocator.findService("com.liferay.portal.service.UserLocalService"))

#set ($logo = "logo")

#set ($user_dashboard_portlet_url = $site_default_url)
#set ($user_dashboard_url = $site_default_url)
#set ($user_profile_url = $community_default_public_url)

#if (($company.getLogoId() == 0) && !$layout.layoutSet.isLogo())
	#set ($site_logo = $images_folder + "/custom/so_logo.png")
	#set ($site_logo_height = "64px")
	#set ($site_logo_width = "186px")
#end

#if ($is_signed_in)
	#set ($liferay_toggle_controls = $sessionClicks.get($request, "liferay_toggle_controls", ""))

	#if ($liferay_toggle_controls == "")
		$sessionClicks.put($request, "liferay_toggle_controls", "hidden")
		#set ($liferay_toggle_controls = "hidden")
		#set ($css_class = $css_class.replaceAll("controls-visible", "controls-hidden"))
	#end

	#set ($user_group = $user.getGroup())

	#set ($nav_css_class = "${nav_css_class} sort-pages modify-pages")

	#set ($user_dashboard_portlet_url = $portletURLFactory.create($request, "49", $page.getPlid(), "ACTION_PHASE"))

	$user_dashboard_portlet_url.setParameter("struts_action", "/my_sites/view")
	$user_dashboard_portlet_url.setParameter("groupId", "$user_group.getGroupId()")
	$user_dashboard_portlet_url.setParameter("privateLayout", "true")
	$user_dashboard_portlet_url.setPortletMode("view")
	$user_dashboard_portlet_url.setWindowState("normal")

	#set ($user_dashboard_url = $htmlUtil.escape($user_dashboard_portlet_url.toString()))
#end

#if ($page_group.isUser())
	#set ($current_user = $user_local_service.getUserById($page_group.getClassPK()))

	#set ($current_user_name = $current_user.getFullName())
	#set ($current_user_profile_url = $theme_display.getURLPortal() + $theme_display.getPathFriendlyURLPublic() + "/" + $current_user.getScreenName())
	#set ($current_user_profile_portrait_url = $current_user.getPortraitURL($themeDisplay))

	#if ($current_user.getPortraitId() == 0)
		#set ($current_user_profile_portrait_url = $images_folder + "/custom/so_user_profile_male_default.png")
	#end

	#set ($css_class = $css_class + " user-group")
	#set ($user_detail_class = "so-user-detail")

	#if ($page_group.getClassPK() == $user_id)
		#set ($community_name = $languageUtil.get($locale, "my-private-pages"))
	#end

	#if ($layout.isPublicLayout())
		#set ($the_title = $current_user_name)
		#set ($css_class = $css_class + " profile-page")
		#set ($user_detail_class = "user-profile-detail")
	#end
#end

#set ($layoutFluid = $getterUtil.getBoolean($sessionClicks.get($request, "so-layout-fluid", "false")))

#if ($layoutFluid == true)
	#set ($css_class = "${css_class} so-layout-fluid")
#end