<div class="$nav_css_class" id="navigation">
	#if ($is_profile_page)
		<div class="taglib-logo-selector" id="${themeNamespace}taglibLogoSelector">
			<div class="taglib-logo-selector-content" id="${themeNamespace}taglibLogoSelectorContent">
				<img alt="$htmlUtil.escape($current_user.getFullName())" class="avatar" id="${themeNamespace}avatar" src="$current_user_profile_portrait_url" />

				#if ($show_edit_profile_button)
					<div class="portrait-icons">
						<div class="btn-group">
							<button class="btn edit-logo">
								<span class="aui-buttonitem-label">$languageUtil.get($locale, "edit-profile-picture")</span>
							</button>
							<button class="btn delete-logo" disabled="false" icon="icon-remove" value="delete">
							</button>
						</div>

						<input id="${my_account_portletNamespace}deleteLogo" type="hidden" value="false" />
					</div>
				#end
			</div>
		</div>
	#end

	<h1>
		<span>#language("navigation")</span>
	</h1>

	<ul>
		#foreach ($navItem in $navItems)
			#if ($layout.getPlid() == $navItem.layout.getPlid())
				<li class="selected">
			#else
				<li>
			#end

				<a href="$navItem.getURL()" $navItem.getTarget()><span>$navItem.icon() $navItem.getName()</span></a>

				#if ($navItem.hasChildren())
					<ul class="child-menu">
						#foreach ($nav_child in $navItem.getChildren())
							#if ($nav_child.isSelected())
								<li class="selected">
							#else
								<li>
							#end
								<a href="$nav_child.getURL()" $nav_child.getTarget()>$nav_child.getName()</a>
							</li>
						#end
					</ul>
				#end
			</li>
		#end
	</ul>
</div>

#if ($show_edit_profile_button)
	<script type="text/javascript">
		AUI().use(
			'liferay-logo-selector',
			'aui-base',
			function(A) {
				new Liferay.LogoSelector(
					{
						boundingBox: '#${themeNamespace}taglibLogoSelector',
						contentBox: '#${themeNamespace}taglibLogoSelectorContent',
						defaultLogoURL: '$current_user_profile_portrait_url',
						editLogoURL: '$current_user_edit_profile_portrait_url',
						logoDisplaySelector: '#${themeNamespace}avatar',
						portletNamespace: '${my_account_portletNamespace}',
						randomNamespace: '${themeNamespace}'
					}
				).render();
			}
		);
	</script>
#end