<nav id="navigation">
	<ul>
		#foreach ($nav_item in $nav_items)
			#if ($nav_item.isSelected())
				<li class="selected">
			#else
				<li>
			#end
				<a href="$nav_item.getURL()"><span>$nav_item.icon() $nav_item.getName()</span></a>
			</li>
		#end
	</ul>
</nav>