#set ($show_add_content = ($show_add_content && ($layout.getFriendlyURL().equals("/home"))))
#set ($show_control_panel = $permissionChecker.isOmniadmin())

<div id="navigation-top">
	#if ($is_signed_in)
		<div class="my-search">$theme.search()</div>
	#end

	#if ($show_control_panel || $show_add_content)
		<div class="content-controls">
			<div class="left-side"></div>
			<div class="items">
				<ul>
					#if ($show_control_panel)
						<li class="control-panel no-border">
							<a class="heading" href="$my_account_url">#language ("control-panel")</a>
						</li>
					#end

					#if ($show_add_content)
						<li class="add-content
							#if (!$show_control_panel)
								no-border
							#end
						">
							<a href="javascript:void(0);" id="soAddContent">$add_content_text</a>
						</li>
						<li class="layout">
							<a href="javascript:void(0);" onclick="$layout_url">$layout_text</a>
						</li>
					#end
				</ul>
			</div>
			<div class="right-side"></div>
		</div>
	#end

	<div class="left-side"></div>
	<div class="items">
		<ul>
			#set ($my_places_url = $portletURLFactory.create($request, "49", $page.getPlid(), "ACTION_PHASE"))

			$my_places_url.setWindowState("normal")
			$my_places_url.setPortletMode("view")

			$my_places_url.setParameter("struts_action", "/my_places/view")

			#if ($show_sign_out)
				<li class="my-home no-border">
					<a class="heading" href="$themeDisplay.getPathFriendlyURLPublic()/$user.getScreenName()/home">#language ("my-home")</a>
				</li>

				<li class="my-profile">
					<a class="heading" href="$themeDisplay.getPathFriendlyURLPublic()/$user.getScreenName()/profile">#language ("my-profile")</a>
				</li>
				<li class="my-sites">
					<a class="heading" href="javascript:;">#language ("my-sites")</a>

					<ul class="child-menu aui-helper-hidden">
						#foreach ($place in $user.getMyPlaces())
							$my_places_url.setParameter("groupId", $place.getGroupId().toString())

							#if ($place.hasPublicLayouts())
								$my_places_url.setParameter("privateLayout", "false")
							#else
								$my_places_url.setParameter("privateLayout", "true")
							#end

							#if ($place.isCommunity())
								<li>
									<a href="$my_places_url.toString()">$place.getName()</a>
								</li>
							#end
						#end
					</ul>
				</li>
				<li class="sign-out">
					<a class="heading" href="$sign_out_url">$sign_out_text</a>
				</li>
			#else
				<li class="sign-in no-border">
					<a class="heading" href="$sign_in_url">$sign_in_text</a>
				</li>
			#end

		</ul>
	</div>
	<div class="right-side"></div>
</div>