<!DOCTYPE html>

#parse ($init)

<html class="$root_css_class" dir="#language("lang.dir")" lang="$w3c_language_id">

<head>
	<title>$the_title - $company_name</title>

	$theme.include($top_head_include)

	<meta content="user-scalable=yes, initial-scale=1.0, width=device-width" name="viewport" />
</head>

<body class="dockbar-split so-strata-theme $css_class">

$theme.include($body_top_include)

#if ($is_signed_in)
	#dockbar()
#end

<div id="wrapper">
	<a class="hidden-accessible" href="#main-content" id="skip-to-content">#language("skip-to-content")</a>

	<header id="banner" role="banner">
		<div id="heading">
			#if (!$is_user_dashboard)
				<h1 class="site-title">
					<a class="$logo_css_class" href="$logo_url" title="#language_format ("go-to-x", [$site_name])">

						#if (!$is_profile_page)
							<img alt="$logo_description" height="$site_logo_height" src="$site_logo" width="$site_logo_width" />
						#end

						#if ($show_site_name)
							<span class="site-name" title="#language_format ("go-to-x", [$site_name])">
								$site_name
							</span>
						#end
					</a>
				</h1>

				#if ($is_signed_in && !$is_user_page)
					#set ($group_local_service = $serviceLocator.findService("com.liferay.portal.kernel.service.GroupLocalService"))

					#set ($member = $group_local_service.hasUserGroup($user_id, $page_group.getGroupId()))

					#set ($membership_request_local_service = $serviceLocator.findService("com.liferay.portal.kernel.service.MembershipRequestLocalService"))

					#set ($membership_request = $membership_request_local_service.hasMembershipRequest($user_id, $page_group.getGroupId(), 0))

					#if (!$member)
						#if ($page_group.getType() == 1)
							#set ($join_url = $portletURLFactory.create($request, "174", $page.getPlid(), "ACTION_PHASE"))

							$join_url.setParameter("struts_action", "/sites_admin/edit_site_assignments")
							$join_url.setParameter("cmd", "group_users")
							$join_url.setParameter("redirect", $community_default_url)
							$join_url.setParameter("groupId", "$page_group.getGroupId()")
							$join_url.setParameter("addUserIds", "$user_id")
							$join_url.setWindowState("normal")

							<a class="action member-link request" href="$join_url" id="memberButton">
								<span>#language("join-site")</span>
							</a>
						#elseif (($page_group.getType() == 2) && !$membership_request)
							#set ($membership_request_url = $portletURLFactory.create($request, "174", $page.getPlid(), "ACTION_PHASE"))

							$membership_request_url.setParameter("struts_action", "/sites_admin/post_membership_request")
							$membership_request_url.setParameter("redirect", $community_default_url)
							$membership_request_url.setParameter("groupId", "$page_group.getGroupId()")
							$membership_request_url.setWindowState("normal")

							#set ($arguments = [$user_name, $community_name])

							$membership_request_url.setParameter("comments", $languageUtil.format($locale, "x-wishes-to-join-x", $arguments.toArray(), false))

							<a class="action member-link request" href="$membership_request_url" id="memberButton">
								<span>#language ("request-membership")</span>
							</a>
						#elseif ($membership_request)
							<span class="action member-link request" id="memberButton">
								<span>#language ("membership-requested")</span>
							</span>
						#end
					#end
				#end
			#end

			#if ($is_signed_in)
				#if ((!$page_group.isControlPanel()) && $user.isSetupComplete() && ($show_add_controls || $show_edit_controls || $show_preview_controls || $show_toggle_controls))
					<a class="config-icon" href="javascript:;" id="toggleDockbar">
						<i alt="#language("configuration") #language("icon")" class="icon-cog"></i>

						<span class="aui-helper-hidden">
							#language("toggle") #language("javax.portlet.title.145")
						</span>
					</a>
				#end

				<div id="page-search">
					$theme.search()
				</div>
			#end

			#if (!$is_signed_in)
				<a href="$sign_in_url" id="sign-in" rel="nofollow">$sign_in_text</a>
			#end

			#if ($is_user_dashboard)
				<h2 class="page-title">
						<a class="avatar" href="$current_user_profile_url" style="background-image: url($user.getPortraitURL($themeDisplay))">
							<img alt="$htmlUtil.escape($user.getFullName())" src="$user.getPortraitURL($themeDisplay)">
						</a>

						<span class="aui-helper-hidden">$htmlUtil.escape($current_user.getFullName())'s</span>

					<span>$the_title</span>
				</h2>
			#end
		</div>
	</header>

	<section id="content">
		#if ($has_navigation || $is_signed_in)
			<section>
				#parse ("$full_templates_path/navigation.vm")
			</section>
		#end

		#if ($selectable)
			<section>
				$theme.include($content_include)
			</section>
		#else
			<section>
				$portletDisplay.recycle()

				$portletDisplay.setTitle($the_title)

				$theme.wrapPortlet("portlet.vm", $content_include)
			</section>
		#end
	</section>

	<section>
		<footer id="footer" role="contentinfo">
			<p class="powered-by">
				#language("powered-by") <a href="http://www.liferay.com" rel="external">Liferay</a>
			</p>
		</footer>
	</section>
</div>

$theme.include($body_bottom_include)

</body>

$theme.include($bottom_include)

</html>