<!DOCTYPE html>

#parse ($init)

<html class="#language("lang.dir")" dir="#language("lang.dir")" lang="$w3c_language_id">

<head>
	<title>$the_title - $company_name</title>

	$theme.include($top_head_include)
</head>

<body class="$css_class">

$theme.include($body_top_include)

#if ($is_signed_in)
	#dockbar()
#end

<div id="wrapper">
	<a href="#main-content" id="skip-to-content">#language("skip-to-content")</a>

	<header id="banner" role="banner">
		<hgroup id="heading">
			<div class="company-title">
				<a class="$logo_css_class" href="$user_dashboard_url" title='#language("go-to") #language("dashboard")'>
					<img alt="$logo_description" height="$site_logo_height" src="$site_logo" width="$site_logo_width" />
				</a>
			</div>

			#if (!$page_group.isUser())
				<div class="community-title">
					<a href="$community_default_url" title='#language("go-to") $community_name'>
						<span>$community_name</span>
					</a>
				</div>

				#if (($page_group.getType() == 1) && $is_signed_in)
					#set ($site_membership_url = $portletURLFactory.create($request, "174", $page.getPlid(), "ACTION_PHASE"))

					$site_membership_url.setWindowState("normal")
					$site_membership_url.setParameter("struts_action", "/sites_admin/edit_site_assignments")
					$site_membership_url.setParameter("cmd", "group_users")
					$site_membership_url.setParameter("redirect", "$community_default_url")
					$site_membership_url.setParameter("groupId", "$page_group.getGroupId()")

					#if (!$user_local_service.hasGroupUser($page_group.getGroupId(), $user_id))
						$site_membership_url.setParameter("addUserIds", "$user_id")

						#set ($site_membership_action = "join")
					#else
						$site_membership_url.setParameter("removeUserIds", "$user_id")

						#set ($site_membership_action = "leave")
					#end

					#set ($site_membership_url = $htmlUtil.escape($site_membership_url.toString()))

					<form action="$site_membership_url" id="socialOfficeMembership" method="Post" name="membershipFm">
						<input type="submit" value='#language("$site_membership_action")' />
					</form>
				#end
			#end

			<h3 class="page-title">
				<span>$the_title</span>
			</h3>

			#if ($is_signed_in)
				<div id="page-search">
					$theme.search()
				</div>
			#end
		</hgroup>

		#if (!$is_signed_in)
			<a href="$sign_in_url" id="sign-in" rel="nofollow">$sign_in_text</a>
		#end

		#if ($is_signed_in)
			<a href="javascript:;" id="toggleFluid"><span>$languageUtil.format($locale, "toggle-fluid-layout")</span></a>
		#end
	</header>

	<div id="content">
		<nav class="site-breadcrumbs" id="breadcrumbs">
			<h1>
				<span>#language("breadcrumbs")</span>
			</h1>

			#breadcrumbs()
		</nav>

		<div id="so-sidebar">
			#if ($page_group.isUser())
				<div class="$user_detail_class">
					<div class="profile-image">
						<a href="$current_user_profile_url"><img src="$current_user_profile_portrait_url" alt="$current_user_name"></a>
					</div>

					#if (!$layout.isPublicLayout())
						<a class="profile-name" href="$current_user_profile_url">$current_user_name</a>
					#end
				</div>
			#end

			#if ($has_navigation)
				#parse ("$full_templates_path/navigation.vm")
			#end

			#if ($page_group.isUser())
				#parse ("$full_templates_path/sidebar_portlets.vm")
			#end
		</div>

		<div id="so-context">
			#if ($selectable)
				$theme.include($content_include)
			#else
				$portletDisplay.recycle()

				$portletDisplay.setTitle($the_title)

				$theme.wrapPortlet("portlet.vm", $content_include)
			#end
		</div>
	</div>

	<footer id="footer" role="contentinfo">
		<p class="powered-by">
			#language("powered-by") <a href="http://www.liferay.com" rel="external">Liferay</a>
		</p>
	</footer>
</div>

$theme.include($body_bottom_include)

</body>

$theme.include($bottom_include)

</html>