<!DOCTYPE html>

#parse ($init)

<html class="#language ("lang.dir")" dir="#language ("lang.dir")">

<head>
	<title>$the_title - $company_name</title>

	$theme.include($top_head_include)
</head>

<body class="$css_class">

$theme.include($top_messages_include)

<div id="wrapper">
	<div id="banner">
		<div id="heading">
			<h1 class="company-title">
				<a class="logo" href="$company_url" title="#language("go-to") $company_name">
					<span>$company_name</span>
				</a>
			</h1>
		</div>

		#set ($groupLocalService = $serviceLocator.findService("com.liferay.portal.service.GroupLocalService"))
		#set ($guestGroup = $groupLocalService.getGroup($company_id, "Guest"))

		#if (($community_name != "") && ($group_id != $guestGroup.getGroupId()))
			<div class="group">
				<span>$community_name</span>
			</div>
		#end

		#parse ("$full_templates_path/navigation_top.vm")
	</div>

	#if ($has_navigation)
		#parse ("$full_templates_path/navigation.vm")
	#end

	#if ($selectable)
		$theme.include($content_include)
	#else
		$portletDisplay.recycle()

		$portletDisplay.setTitle($the_title)

		$theme.wrapPortlet("portlet.vm", $content_include)
	#end

	<div id="footer"></div>
</div>

#if ($is_signed_in && !$layout.getFriendlyURL().equals("/home"))
	<script type="text/javascript">
		AUI().use(
			'liferay-layout',
			function(A) {
				A.Do.before(
					function(options) {
						options.dragNodes = '';
					},
					Liferay.Layout,
					'init'
				);
			}
		);
	</script>
#end

</body>

$theme.include($bottom_include)

</html>