.portlet-communities .lfr-theme-list li, .portlet-users-admin .lfr-theme-list li {
  float: left;
  margin: 0 1.3em 1.3em 0;
  text-align: center; }
.portlet-communities .layout-set-results, .portlet-users-admin .layout-set-results {
  min-height: 300px; }
.portlet-communities .theme-title .field-content, .portlet-users-admin .theme-title .field-content {
  margin: 0; }
.portlet-communities .theme-entry, .portlet-users-admin .theme-entry {
  cursor: pointer;
  float: left;
  height: 96px;
  margin: 2px;
  padding: 0.3em;
  text-align: center;
  text-decoration: none; }
  .portlet-communities .theme-entry:hover, .portlet-communities .theme-entry:hover label, .portlet-users-admin .theme-entry:hover, .portlet-users-admin .theme-entry:hover label {
    color: #369; }
  .portlet-communities .theme-entry:hover .theme-thumbnail, .portlet-users-admin .theme-entry:hover .theme-thumbnail {
    border-color: #369; }
.portlet-communities .theme-thumbnail, .portlet-users-admin .theme-thumbnail {
  border: 1px solid #CCC;
  height: 68px;
  width: 85px; }
.portlet-communities .lfr-available-themes h3, .portlet-users-admin .lfr-available-themes h3 {
  margin: 0;
  overflow: hidden; }
.portlet-communities .lfr-available-themes .lfr-theme-list, .portlet-users-admin .lfr-available-themes .lfr-theme-list {
  margin-top: 0.7em; }
.portlet-communities .lfr-available-themes .install-themes, .portlet-users-admin .lfr-available-themes .install-themes {
  float: right;
  font-size: 11px; }
.portlet-communities .lfr-theme-list .theme-details dd, .portlet-users-admin .lfr-theme-list .theme-details dd {
  margin: 0; }
.portlet-communities .theme-details dl, .portlet-users-admin .theme-details dl {
  margin-bottom: 1em; }
.portlet-communities .theme-details dt, .portlet-users-admin .theme-details dt {
  font-weight: bold;
  margin-top: 1em; }
.portlet-communities .color-schemes, .portlet-users-admin .color-schemes {
  clear: both; }
  .portlet-communities .color-schemes .lfr-panel-content, .portlet-users-admin .color-schemes .lfr-panel-content {
    overflow: hidden; }
.portlet-communities .selected-color-scheme img, .portlet-users-admin .selected-color-scheme img {
  border: 3px solid #369; }
.portlet-communities .lfr-header-row, .portlet-users-admin .lfr-header-row {
  margin-bottom: 0.5em; }
  .portlet-communities .lfr-header-row .icon-add, .portlet-communities .lfr-header-row .icon-copy, .portlet-communities .lfr-header-row .icon-delete, .portlet-communities .lfr-header-row .icon-export, .portlet-communities .lfr-header-row .icon-permissions, .portlet-communities .lfr-header-row .icon-search, .portlet-users-admin .lfr-header-row .icon-add, .portlet-users-admin .lfr-header-row .icon-copy, .portlet-users-admin .lfr-header-row .icon-delete, .portlet-users-admin .lfr-header-row .icon-export, .portlet-users-admin .lfr-header-row .icon-permissions, .portlet-users-admin .lfr-header-row .icon-search {
    background: url() no-repeat 0 0; }
  .portlet-communities .lfr-header-row .icon-add, .portlet-users-admin .lfr-header-row .icon-add {
    background-image: url(@theme_image_path@/common/add.png); }
  .portlet-communities .lfr-header-row .icon-copy, .portlet-users-admin .lfr-header-row .icon-copy {
    background-image: url(@theme_image_path@/common/copy.png); }
  .portlet-communities .lfr-header-row .icon-delete, .portlet-users-admin .lfr-header-row .icon-delete {
    background-image: url(@theme_image_path@/common/delete.png); }
  .portlet-communities .lfr-header-row .icon-export, .portlet-users-admin .lfr-header-row .icon-export {
    background-image: url(@theme_image_path@/common/export.png); }
  .portlet-communities .lfr-header-row .icon-permissions, .portlet-users-admin .lfr-header-row .icon-permissions {
    background-image: url(@theme_image_path@/common/permissions.png); }
  .portlet-communities .lfr-header-row .icon-search, .portlet-users-admin .lfr-header-row .icon-search {
    background-image: url(@theme_image_path@/common/search.png); }
.portlet-communities .button-holder.edit-toolbar, .portlet-users-admin .button-holder.edit-toolbar {
  margin: 0; }
.portlet-communities .manage-layout-content, .portlet-communities .manage-sitemap-content, .portlet-users-admin .manage-layout-content, .portlet-users-admin .manage-sitemap-content {
  padding: 0; }
.portlet-communities .edit-layout-form, .portlet-communities .edit-layoutset-form, .portlet-users-admin .edit-layout-form, .portlet-users-admin .edit-layoutset-form {
  padding: 0.5em; }
  .portlet-communities .edit-layout-form .layout-description textarea, .portlet-communities .edit-layoutset-form .layout-description textarea, .portlet-users-admin .edit-layout-form .layout-description textarea, .portlet-users-admin .edit-layoutset-form .layout-description textarea {
    height: 100px;
    width: 350px; }
.portlet-communities .customization-settings .portlet-column, .portlet-users-admin .customization-settings .portlet-column {
  border: 1px solid #CCC;
  margin: 2px; }
  .portlet-communities .customization-settings .portlet-column .portlet-column-content, .portlet-users-admin .customization-settings .portlet-column .portlet-column-content {
    text-align: center; }
  .portlet-communities .customization-settings .portlet-column h1, .portlet-users-admin .customization-settings .portlet-column h1 {
    font-size: 2em;
    font-weight: bold; }
.portlet-communities .layoutset-branch, .portlet-users-admin .layoutset-branch {
  color: #FFFFFF;
  display: inline-block;
  font-weight: bold;
  padding: 0.3em;
  text-shadow: 1px 1px #000; }
.portlet-communities .site-membership-type, .portlet-users-admin .site-membership-type {
  font-weight: bold;
  margin-bottom: 10px; }
.portlet-communities .membership-info, .portlet-communities .description, .portlet-users-admin .membership-info, .portlet-users-admin .description {
  margin-bottom: 20px; }
.portlet-communities .membership-info .members-info a, .portlet-users-admin .membership-info .members-info a {
  padding-right: 5px; }
.portlet-communities .membership-info .membership-requests, .portlet-users-admin .membership-info .membership-requests {
  padding-left: 10px; }
.portlet-communities .membership-info dl, .portlet-communities .membership-info dt, .portlet-communities .membership-info dd, .portlet-users-admin .membership-info dl, .portlet-users-admin .membership-info dt, .portlet-users-admin .membership-info dd {
  display: inline;
  margin: 0; }
.portlet-communities .membership-info dt, .portlet-users-admin .membership-info dt {
  font-weight: bold;
  margin-left: 10px; }
  .portlet-communities .membership-info dt.first, .portlet-users-admin .membership-info dt.first {
    margin-left: 0; }
.portlet-communities .membership-info dd, .portlet-users-admin .membership-info dd {
  border-right: 1px solid #999;
  padding-right: 10px; }
  .portlet-communities .membership-info dd.last, .portlet-users-admin .membership-info dd.last {
    border-width: 0; }
.portlet-communities .site-categorization, .portlet-users-admin .site-categorization {
  margin-bottom: 20px; }
.portlet-communities .taglib-asset-categories-summary, .portlet-communities .taglib-asset-tags-summary, .portlet-users-admin .taglib-asset-categories-summary, .portlet-users-admin .taglib-asset-tags-summary {
  display: block; }
.portlet-communities .layout-set-info, .portlet-users-admin .layout-set-info {
  margin-bottom: 15px; }
.portlet-communities .organizations-msg-info, .portlet-users-admin .organizations-msg-info {
  background-color: #FEFEFE;
  background-image: url(@theme_image_path@/common/organization_icon.png);
  border-color: #BBB; }
.portlet-communities .process-list .background-task-status-column, .portlet-users-admin .process-list .background-task-status-column {
  width: 700px; }
  .portlet-communities .process-list .background-task-status-column .background-task-status-message, .portlet-users-admin .process-list .background-task-status-column .background-task-status-message {
    margin-top: 1em; }
    .portlet-communities .process-list .background-task-status-column .background-task-status-message .error-list-items li, .portlet-users-admin .process-list .background-task-status-column .background-task-status-message .error-list-items li {
      list-style: disc inside; }
  .portlet-communities .process-list .background-task-status-column .details-link, .portlet-users-admin .process-list .background-task-status-column .details-link {
    margin-left: 1em; }
  .portlet-communities .process-list .background-task-status-column .publish-error, .portlet-users-admin .process-list .background-task-status-column .publish-error {
    margin-bottom: 0; }
  .portlet-communities .process-list .background-task-status-column .toggler-header-collapsed:after, .portlet-users-admin .process-list .background-task-status-column .toggler-header-collapsed:after {
    content: " »"; }
  .portlet-communities .process-list .background-task-status-column .toggler-header-expanded:after, .portlet-users-admin .process-list .background-task-status-column .toggler-header-expanded:after {
    content: " «"; }
  .portlet-communities .process-list .background-task-status-column .background-task-status-in-progress, .portlet-users-admin .process-list .background-task-status-column .background-task-status-in-progress {
    float: left;
    margin-right: 1em; }
  .portlet-communities .process-list .background-task-status-column .progress, .portlet-users-admin .process-list .background-task-status-column .progress {
    margin-bottom: 0.3em; }
  .portlet-communities .process-list .background-task-status-column .progress-current-item, .portlet-users-admin .process-list .background-task-status-column .progress-current-item {
    font-size: 0.7em; }

.tree-node-content .layout-branch-name {
  color: #AAA; }
.tree-node-content .incomplete-layout {
  color: #CCC; }

.tree-drag-helper a {
  text-decoration: none; }

.tree-drag-helper-label {
  margin-top: -1px; }

.tree-pages .tree-node-selected .tree-label a {
  color: #0090D9;
  cursor: move; }

.lfr-page-locked .tree-icon {
  background-image: url(@theme_image_path@/trees/page_locked.png); }

.export-dialog-tree .content-options {
  margin-bottom: 1em; }
  .export-dialog-tree .content-options legend {
    border-top: solid #E5E5E5;
    border-width: 1px 0 0;
    font-size: 1em;
    font-weight: normal;
    line-height: 1em;
    margin-bottom: 0.5em;
    padding-top: 0.75em; }
.export-dialog-tree input.file-selector {
  display: block;
  margin: 0.5em 0 1.5em; }
.export-dialog-tree .import-file-details {
  margin: 0 1em 0 1.5em; }
  .export-dialog-tree .import-file-details dt {
    clear: left;
    float: left;
    font-weight: bold;
    margin-right: 1em; }
.export-dialog-tree .layout-variation-name {
  color: #999; }
.export-dialog-tree .modify-link {
  text-decoration: underline; }
.export-dialog-tree .options-group .options {
  background-color: #FAFAFA;
  border: solid #E4E4E4;
  border-width: 1px 0;
  margin-top: 20px; }
.export-dialog-tree .options-group .select-options {
  margin-left: 20px;
  margin-top: 20px; }
.export-dialog-tree .page-not-exportable {
  color: #933; }
.export-dialog-tree .portlet-list {
  padding: 10px 0; }
  .export-dialog-tree .portlet-list li.tree-item > ul {
    margin-bottom: 1em; }
.export-dialog-tree .options ul.portlet-list > li.tree-item {
  padding-left: 0; }
.export-dialog-tree .selected-labels {
  color: #999;
  font-style: italic;
  margin-left: 0.5em;
  margin-right: 0.5em; }
.export-dialog-tree .selected-pages td.col-1 {
  padding-top: 5px; }
.export-dialog-tree .selected-pages th.col-3 {
  text-align: left;
  width: 74%; }
.export-dialog-tree .selected-pages-option .field-content {
  display: inline; }
.export-dialog-tree ul.unstyled ul {
  list-style: none; }

.lfr-export-dialog .portlet-data-section .control-label, .lfr-export-dialog .portlet-type-data-section .control-label {
  font-weight: bold; }
.lfr-export-dialog .portlet-data-section .date-range-options, .lfr-export-dialog .portlet-type-data-section .date-range-options {
  margin-bottom: 1em; }
  .lfr-export-dialog .portlet-data-section .date-range-options legend, .lfr-export-dialog .portlet-type-data-section .date-range-options legend {
    border: 0;
    display: block;
    font-size: 1em;
    font-weight: normal;
    line-height: 1em;
    margin-bottom: 0.2em;
    padding-top: 1em; }
.lfr-export-dialog .portlet-data-section .relative-range, .lfr-export-dialog .portlet-type-data-section .relative-range {
  width: 165px; }
.lfr-export-dialog .portlet-data-section legend, .lfr-export-dialog .portlet-type-data-section legend {
  display: none; }
.lfr-export-dialog .upload-list li {
  list-style: disc inside; }
.lfr-export-dialog .upload-list .error-info {
  font-size: 0.8em;
  font-style: italic;
  margin-left: 0.5em; }

.lfr-root-node .tree-icon a, .lfr-root-node .tree-label a {
  cursor: pointer; }

.lfr-tree-loading-icon {
  margin: 0 auto;
  padding-top: 5px; }

.lfr-tree-controls {
  width: 165px; }
  .lfr-tree-controls div, .lfr-tree-controls a {
    float: left; }

.lfr-tree-controls-label {
  line-height: 17px;
  padding: 0 2px;
  text-decoration: none; }

.lfr-tree-controls-item {
  padding: 0 0 6px 6px; }

.lfr-tree-controls-expand {
  background-image: url(@theme_image_path@/trees/expand_all.png); }

.lfr-tree-controls-collapse {
  background-image: url(@theme_image_path@/trees/collapse_all.png); }

.ie6 .theme-thumbnail, .ie6 .no-png-fix {
  behavior: none; }
.ie6 .lfr-available-themes h3 {
  height: 1%; }
.ie6 .lfr-page-layouts .lfr-layout-template-column {
  width: 30%; }

