#if ($show_sign_in)
	<a class="button right" href="$sign_in_url" radio="true">$sign_in_text</a>
#end

#if ($show_sign_out)
	<a class="button right" href="$sign_out_url" radio="true">$sign_out_text</a>
#end

#if ($show_my_account)
	<a class="button left" href="$my_account_url" radio="true">$my_account_text</a>
#end