<table id="navigation">
<tr>
	#foreach ($nav_item in $nav_items)
		#if ($nav_item.isSelected())
			#set ($nav_item_class = 'selected="true"')
		#else
			#set ($nav_item_class = '')
		#end

		<td class="tab">
			<a href="$nav_item.getURL()" $nav_item_class>$nav_item.getName()</a>
		</td>
	#end
</tr>
</table>

#foreach ($nav_item in $nav_items)
	#if ($nav_item.isSelected())
		#if ($nav_item.hasChildren())
			<table id="child-navigation">
			<tr>
				#foreach ($nav_child in $nav_item.getChildren())
					#if ($nav_child.isSelected())
						#set ($nav_child_class = 'selected="true"')
					#else
						#set ($nav_child_class = '')
					#end

					<td class="tab">
						<a href="$nav_child.getURL()" $nav_child_class>$nav_child.getName()</a>
					</td>
				#end
			</tr>
			</table>
		#end
	#end
#end