<!DOCTYPE html>

#parse ($init)

<html class="#language ("lang.dir")" dir="#language ("lang.dir")">

<head>
	<title>$the_title - $company_name</title>
	<meta name="viewport" content="width=320; initial-scale=1.0; maximum-scale=1.0; user-scalable=0;" />
	<meta name="apple-touch-fullscreen" content="YES" />

	$theme.include($top_head_include)

	<script type="text/javascript">
		iPhone = function() {
			setTimeout("window.scrollTo(0,1);", 100);
		};

		if (navigator.userAgent.indexOf('iPhone') != -1) {
			addEventListener("load", iPhone, false);
			addEventListener("onorientationchange", iPhone, false);
		}
	</script>
</head>

<body class="$css_class" onload="initScreen();" onorientationchange="initScreen();">

#if($is_signed_in)
	#dockbar()
#end

$theme.include($top_messages_include)

<div id="wrapper">
	<div id="topper">
		<div id="banner">
			<h1 class="logo">
				<a class="png" href="$company_url">$the_title - $company_name</a>

				<span class="current-community">
					$community_name
				</span>
			</h1>

			#if ($update_available_url)
				<div class="popup-alert-notice">
					<a class="update-available" href="$update_available_url">#language ("updates-are-available-for-liferay")</a>
				</div>
			#end
		</div>

		#if ($has_navigation)
			#parse ("$full_templates_path/navigation.vm")
		#end
	</div>

	#if ($selectable)
		$theme.include($content_include)
	#else
		$portletDisplay.recycle()

		$portletDisplay.setTitle($the_title)

		$theme.wrapPortlet("portlet.vm", $content_include)
	#end

	<div id="footer"></div>
</div>

</body>

$theme.include($bottom_include)

</html>