/AppsForYourDomainClient.jar
/commons-codec.jar
/commons-logging.jar
/gdata-appsforyourdomain-1.0.jar
/gdata-core-1.0.jar
/google-api-client.jar
/google-api-services-admin-directory.jar
/google-api-services-groupssettings.jar
/google-apps-connector-shared.jar
/google-http-client-jackson2.jar
/google-http-client.jar
/google-oauth-client.jar
/guava-jdk5.jar
/httpclient.jar
/httpcore.jar
/jackson-core.jar
/jsr305.jar
/log4j.jar
/portal-compat-shared.jar
/util-bridges.jar
/util-java.jar
/util-taglib.jar