/* This file allows you to override default styles in one central location for easier upgrade and maintenance. */

/* ---------- Base ---------- */

body {
	background: #0C0005;
	color: #FFF;
	padding: 25px 0 0;
}

/* ---------- Wrapper ---------- */

#wrapper {
	margin: 0 auto;
	width: 960px;
}

/* ---------- Banner ---------- */

#banner {
	background: url('../images/custom/banner_bg.png');
	height: 220px;
	padding: 50px 0 0 50px;
}

/* ---------- Dock ---------- */

.js .interactive-mode {
	right: 25px;
	top: 25px;
}

/* ---------- Navigation ---------- */

#navigation {
	position: absolute;
	top: 0;
	z-index: 21;
}

#navigation ul,
#add-page {
	float: left;
}

#navigation a {
	background: #350000;
	color: #FFF;
	display: block;
	font: 10px Tahoma,Geneva,sans-serif;
	margin: 2.5px;
	padding: 11px 16px;
	text-align: center;
	text-decoration: none;
}

#navigation .selected a {
	font-size: 12px;
	font-weight: bold;
	padding: 12px 20px;
}

#navigation a:hover {
	background: #4F0000;
}

.enter-page {
	margin-top: 8px;
}

.ie7 .enter-page {
	margin-top: 1px;
	padding-bottom: 8px;
}

#navigation .save-page {
	display: inline;
	float: none;
}

#navigation .cancel-page {
	display: none;
}

/* ---------- Portlet ---------- */

.portlet {
	border: 2px solid #350015;
	margin: 0 0 10px;
}

.portlet-topper {
	background: #0C0005 url(../images/custom/portlet_topper_bg.png) repeat-x;
	color: #B0002B;
	font: 12px Verdana,Geneva,sans-serif;
	padding: 8px;
}

.portlet-icons {
	font-size: 10px;
	line-height: 1.6em;
}

.portlet a {
	color: #FFF;
}

.ui-autocomplete-odd,
.results-row.alt td {
	background-color: #350000;
}

.ui-autocomplete-even,
.results-row td {
	background-color: #552020;
}

.results-row.hover td {
	background-color: #754040;
}

.results-header {
	background: transparent;
}

/* ---------- Forms ---------- */

input[type="submit"],
input[type="button"],
input[type="reset"] {
	background: #3F0000;
	border: 1px solid #4F0000;
	color: #FFF;
}

input[type="submit"]:hover,
input[type="button"]:hover,
input[type="reset"]:hover,
input[type="submit"]:focus,
input[type="button"]:focus,
input[type="reset"]:focus {
	background: #4F0000;
	border: 1px solid #4F0000;
	color: #FFF;
}

/* ---------- Calendar ---------- */

.portlet-calendar .calendar-day .day-text,
.portlet-calendar .results-header {
	background: #350000;
}

.portlet-calendar .calendar-panel,
.portlet-calendar .results-grid,
.portlet-calendar .calendar-day .day-number {
	color: #000;
}

.portlet-calendar .calendar-container {
	background-color: #FFF;
}

.portlet-calendar a {
	color: #000;
}

/* ---------- Tabs ---------- */

.ui-tabs {
	border-bottom-color: #350015;
	padding: 0;
}

.ui-tabs li a {
	margin: 0 8px 0 0;
}

.ui-tabs li a,
.ui-tabs li span,
.ui-tabs li.current a,
.ui-tabs li.current span {
	background: #350000;
	border: 0;
	color: #FFF;
}

.ui-tabs li.current a,
.ui-tabs li.current span {
	text-decoration: underline;
}

.ui-tabs li.current:hover {
	background-color: transparent;
}

.ui-tabs li a:hover,
.ui-tabs li.current a:hover {
	background-color: #4F0000;
	color: #FFF;
}