body {
	color: white;
	background: url(../images/common/bg.png) repeat-x scroll 0%;
	font: 62.5%/1.6em 'Tahoma','Lucida Sans Unicode','Lucida Grande','Lucida',Arial,Verdana,sans-serif;
}

.portal-add-content {
background:brown none repeat scroll 0%;
padding:8px 4px 0pt;
text-align:left;
color: black;
z-index:20;
}


a:hover {
	color: yellow;
	text-decoration: none;
}

a, .tabs li.current a{
	color: white;
	text-decoration: underline;
	}


#wrapper {
	background-color: #0C0005;
}

#banner {
	background: url(../images/common/custom_banner.png) no-repeat 0 0;
	background-color: black;    
	border-bottom: 5px solid #D30255
}

.portlet-topper {
	background-color:#0C0005;
	color: #B0002B;
	font-family:Verdana,"Times New Roman",Times;
	font-size:12px;
}


.portlet {
	border: 2px solid #350015;
}

.portlet-section-body td {
background:brown none repeat scroll 0% 50%;
border-bottom:1px solid brown;
border-top:1px solid #BFBFBF;
padding:0.3em 1em;
}

.portlet-section-alternate-hover td a, .portlet-section-body-hover td  a {
color: black;
}
.portlet-section-alternate-hover td, .portlet-section-body-hover td {
	background: #FFF5BA;
	border-bottom: 1px solid #E0D79F;
	border-top: 1px solid #E0D79F;
	padding: 0.3em 1em;
	
}

.portlet-section-header a{
	background: #D9E1EC;
	padding: 1px 0 0;
	color: black;
}

.tabs {
	border-bottom: 1px solid #350015;
	margin: 0 0 1.5em 0;
	padding: 0 0 2.6em 1em;
}

.tabs li {
	background: #350015  0 100%;
	border: 1px solid #350015;
	border-bottom: 0;
	display: inline;
	float: left;
	line-height: 2.25;
	margin-right: 0.8em;
	padding: 0;
	text-decoration: none;
}


.tabs li a, .tabs li span {
	display: block;
	float: left;
	padding: 0.35em 1em 0;
	text-decoration: none;
}

.tabs li.current {
	background: #8A9C9A url(../images/common/custom_back.png) repeat-x 0 0;
	font-weight: bold;
}



.ie .tabs li {
	line-height: 2.35;
}

.ie .tabs li.current {
	top: 0.2em;
}

.ie6 .tabs li, .ie6 .tabs li.current {
	background-image: none;
}


.lfr-dock li a {
	background: url() no-repeat 0 50%;
	padding: 2px 0 2px 20px;
	color: gray;
}

.js .lfr-dock.interactive-mode {
float:right;
min-width:150px;
position:relative;
right:10px;
top:-36px;
}

.js .interactive-mode .my-places li h3 {
color:gray;
font-size:1em;
font-weight:normal;
margin:0pt;
}


input[type="submit"], input[type="button"], input[type="reset"] {
background:#FAFAFA url(../images/common/custom_back.png) repeat-x scroll 0%;
border-color:#CCCCCC rgb(153, 153, 153) rgb(153, 153, 153) rgb(204, 204, 204);
border-style:double;
border-width:3px;
color: white;
font-weight:bold;
padding:0.25em;
}
#navigation li {
	background: transparent url(../images/common/custom_back.png) repeat;
	display: inline;
	float: left;
	margin-right: 0.5em;
	position: relative;
}
#navigation li.selected {
	border-top: 3px solid #283E57;
	font-size: 1.3em;
	font-weight: bold;
	color: white;
}