/* This file allows you to override default styles in one central location for easier upgrade and maintenance. */


/* ---------- Browser normalization ---------- */

body {
	background: #0C0005;
	color: #FFF;
	padding: 25px 0 0;
}


/* ---------- Main content body ---------- */

#wrapper {
	margin: 0 auto;
	width: 1280px;
}


/* ---------- Banner ---------- */

#banner {
	background: url('../images/custom/banner_bg.png');
	height: 220px;
	padding: 50px 0 0 50px;
}

#banner h1.logo {
	margin: 0;
}


/* ---------- Dock with JavaScript ---------- */

.js .interactive-mode {
	right: 25px;
	top: 25px;
}


/* ---------- Main navigation ---------- */

#navigation {
	position: absolute;
	top: 0;
	z-index: 21;
}

#navigation ul, #add-page {
	float: left;
}

#navigation a {
	background: #350000;
	color: #FFF;
	display: block;
	font: 10px Tahoma, Geneva, sans-serif;
	margin: 2.5px;
	padding: 11px 16px;
	text-align: center;
	text-decoration: none;
}

#navigation .selected a {
	font-size: 12px;
	font-weight: bold;
	padding: 12px 20px;
}

#navigation a:hover {
	background: #4F0000;
}


/* ---------- Portlet wrapper and icons ---------- */

.portlet {
	border: 2px solid #350015;
	margin: 0 0 10px;
}

.portlet-topper {
	background: #0C0005 url(../images/custom/portlet_topper_bg.png) repeat-x;
	color: #B0002B;
	font: 12px Verdana, Geneva, sans-serif;
	padding: 8px;
}


/* ---------- Tabs ---------- */

.ui-tabs {
	border-bottom-color: #350015;
	padding: 0;
}

.ui-tabs li a {
	margin: 0 8px 0 0;
}

.ui-tabs li a, .ui-tabs li span, .ui-tabs li.current a, .ui-tabs li.current span {
	background: #350000;
	border: 0;
	color: #FFF;
}

.ui-tabs li.current a, .ui-tabs li.current span {
	text-decoration: underline;
}

.ui-tabs li.current:hover {
	background-color: transparent;
}

.ui-tabs li a:hover, .ui-tabs li.current a:hover {
	background-color: #4F0000;
	color: #FFF;
}


/* ---------- Forms ---------- */

input[type="submit"], input[type="button"], input[type="reset"] {
	background: #3F0000;
	border: 1px solid #4F0000;
	color: #FFF;
}

input[type="submit"]:hover, input[type="button"]:hover, input[type="reset"]:hover, input[type="submit"]:focus, input[type="button"]:focus, input[type="reset"]:focus {
	background: #4F0000;
	border: 1px solid #4F0000;
	color: #FFF;
}


/* ---------- Calendar taglib ---------- */

.portlet-calendar .calendar-panel, .portlet-calendar .results-grid, .portlet-calendar .calendar-day .day-number {
	color: #000;
}

.portlet-calendar .calendar-day {
	background: #FFF;
}