/commons-logging.jar
/jstl-api.jar
/jstl-impl.jar
/log4j.jar
/portal-compat-shared.jar
/slf4j-api.jar
/sync-shared.jar
/sync-web-service.jar
/util-bridges.jar
/util-java.jar
/util-slf4j.jar
/util-taglib.jar