[$TO_NAME$],<br /><br />

You have been invited to event <a href="[$EVENT_URL$]">[$EVENT_TITLE$]</a> that will start on <strong>[$EVENT_START_DATE$]</strong>.<br /><br />

Sincerely,<br />
[$FROM_NAME$]<br />
[$FROM_ADDRESS$]<br />
[$PORTAL_URL$]<br />