[$TO_NAME$],<br /><br />

The event <strong>[$BOOKING_TITLE$]</strong>, which you had been invited to, has been deleted.

Sincerely,<br />
[$FROM_NAME$]<br />
[$FROM_ADDRESS$]<br />
[$PORTAL_URL$]<br />