[$TO_NAME$],<br /><br />

The event <strong>[$BOOKING_TITLE$]</strong>, that you were invited to, was deleted.<br /><br />

Sincerely,<br />
[$FROM_NAME$]<br />
[$FROM_ADDRESS$]<br />
[$PORTAL_URL$]<br />