[$TO_NAME$],<br /><br />

Your event with the title <strong>[$BOOKING_TITLE$]</strong> will start on <strong>[$BOOKING_START_DATE$]</strong>.<br /><br />

Sincerely,<br />
[$FROM_NAME$]<br />
[$FROM_ADDRESS$]<br />
[$PORTAL_URL$]<br />