[$TO_NAME$],<br /><br />

The event <a href="[$EVENT_URL$]">[$EVENT_TITLE$]</a>, that you were invited to, was updated. The scheduled date is <strong>[$EVENT_START_DATE$]</strong>.<br /><br />

Sincerely,<br />
[$FROM_NAME$]<br />
[$FROM_ADDRESS$]<br />
[$PORTAL_URL$]<br />