[$TO_NAME$],<br /><br />

The event <strong>[$EVENT_TITLE$]</strong>, to which you were invited, was updated. The scheduled date is <strong>[$EVENT_START_DATE$]</strong>.<br /><br />

Sincerely,<br />
[$FROM_NAME$]<br />
[$FROM_ADDRESS$]<br />
[$PORTAL_URL$]<br />