/* This file allows you to override default styles in one central location for easier upgrade and maintenance. */


/* ---------- From portlet.css ---------- */

.js .lfr-dock.interactive-mode {
	position: absolute;
}

#navigation li {
	list-style-type: none;
}

#navigation ul {
	margin: 0;
}

.portlet, .portlet-topper, .portlet-content, .portlet-title {
	background: none;
}

.portlet {
	border: none;
}

.portlet-title {
	background-position: top left;
	color: #3A7930;
	display: block;
	font-weight: bold;
	min-width: 50%;
	padding: 8px 0 4px 10px;
}

.portlet-topper {
	background-position: right top;
	border-bottom: 1px dotted #333;
	padding-right: 40px;
	position: relative;
}


/* ---------- From base.css ---------- */

#banner .logo {
	background: none;
	display: block;
	float: left;
	font-size: 2em;
	padding: 1.25em 0.6em 1.45em;
}

#banner {
	background: url(../images/custom/bg_header_grass.jpg) repeat-x;
	height: 160px;
	position: relative;
}

body {
	background: #567 url(../images/custom/bg_body.png) center repeat-y;
	font: 0.9em Tahoma, ' Lucida Sans Unicode',  Lucida Grande, ' Lucida',  Arial, ' Verdana',  sans-serif;
	text-align: center;
}

html, body {
	color: #474747;
	height: auto !important;
	min-height: 100%;
}

.liferay-table {
	font: 10px/10px Arial;
}

.tabs li {
	font: 12px/2.25em Arial;
}

.tabs li.current {
	top: 0;
}

#wrapper {
	background: #FFF;
	margin: 0 auto;
	width: 957px;
}

#content-wrapper {
	width: 100%;
	min-height: 900px;
}

.js #navigation .enter-page {
background:transparent;
padding:0;
}

input[type="text"], input[type="password"], input[type="file"], input[type="submit"], input[type="button"], input[type="reset"], select, textarea, .textarea {
	padding:0 1px;
}