/* This file allows you to override default styles in one central location for easier upgrade and maintenance. */

/* ---------- From portlet.css ---------- */

.portlet, .portlet-topper, .portlet-content, .portlet-title {
	background: none;
}

.portlet-topper {
	background-position: right top;
	margin-right: -10px;
	padding-right: 40px;
	position: relative;
	border-bottom: 1px dotted #333;
}

.portlet-title {
	background-position: top left;
	display: block;
	font-weight: bold;
	color: #3a7930;
	min-width: 50%;
	padding: 8px 0 4px 10px;
}

/* ---------- From base.css ---------- */

body {
	background: #567 url(../images/custom/bg_body.gif) center repeat-y;
	font: 0.9em 'Tahoma','Lucida Sans Unicode','Lucida Grande','Lucida',Arial,Verdana,sans-serif;
	text-align: center; /* hack for IE5.5 to display website centered */
}

html, body {
	height: 100%;
	height: auto !important;
	min-height: 100%;
	color: #474747;
}

#wrapper {
	background: #fff;
	margin: 0 auto;
	width: 889px;
}

#banner {
	position: relative;
	background: url(../images/custom/bg_header_grass.jpg) repeat-x;
	height: 160px;
}

#banner .logo {
	background: none;
	display: block;
	float: left;
	font-size: 2em;
	padding: 1.25em 0.6em 1.45em;
}

/* ---------- From navigation.css ---------- */

#navigation {
	text-align: left;
	background: #d8fbd8 url(../images/custom/bg_green.jpg) repeat-x;
	border-bottom: 1px solid #444;
	height: 1.2em;
	font-size: 1.2em;
	padding: 3px 10px 2px 5px;
}

#navigation ul {
	color: #048;
	outline: none;
}
#navigation ul li {
	position : relative ;
	float : left ;
}
#navigation ul li:hover, #navigation ul li.sfhover {
	color: #68f;
}
#navigation ul li ul {
	position : absolute ;
	top : 1.35em;
	left : -999em;
	border: 0;
	padding: 0;
}
#navigation ul li:hover ul, #navigation ul li.sfhover ul {
	left: 0;
	background: #eefad7;
	border: 1px solid #444;
	width: 9em;
}
#navigation ul li ul li:hover ul, #navigation ul li ul li ul li:hover ul, #navigation ul li ul li.sfhover ul, #navigation ul li ul li ul li.sfhover ul {
	left: 9em;
	background: #eefad7;
	border: 1px solid #444;
}
#navigation ul li:hover ul ul, #navigation ul li ul li:hover ul ul, #navigation ul li.sfhover ul ul, #navigation ul li ul li.sfhover ul ul {
	left: -999em;
}
#navigation ul li a {
	display: block;
	padding: 1px 9px;
	text-decoration: none;
	font: 100% 'Lucida Grande', 'Lucida Sans Unicode', Verdana, Geneva, Arial, Sans-Serif;
}
#navigation ul li a:hover {
	text-decoration: underline;
}
#navigation ul li ul li {
	margin : 0 ;
	width : 9em ;
	border-top : 0 ;
}

#navigation li ul ul { /* third-and-above-level lists */
	position : absolute ;
	top : -1px ;
	left : -999em ;
	border: 0;
	padding: 0;
}

.lfr-dock {
	font: 62.5%/1.6em 'Tahoma','Lucida Sans Unicode','Lucida Grande','Lucida',Arial,Verdana,sans-serif;
	position: absolute;
	right: 10px;
	top: 10px;
}

.js .lfr-dock.interactive-mode {
	font: 62.5%/1.6em 'Tahoma','Lucida Sans Unicode','Lucida Grande','Lucida',Arial,Verdana,sans-serif;
	text-align: left;
	float: right;
	min-width: 150px;
	position: relative;
	right: 10px;
	top: 10px;
}

.js .lfr-dock.interactive-mode h2 {
	background: transparent url(../images/dock/menu_bar.png) no-repeat 100% -30px;
	font-size: 1.2em;
	margin-bottom: 0;
	padding: 0 29px 0 0;
	position: relative;
	z-index: 82;
}

.js .lfr-dock.interactive-mode h2 span {
	background: transparent url(../images/dock/menu_bar.png) no-repeat 0 0;
	color: #048;
	display: block;
	font-size: 1.2em;
	margin-bottom: 0;
	padding: 0 15px 0 2em;
	line-height: 30px;
}

.js #add-page {
	float: left;
	font-weight: normal;
}