/* This file allows you to override default styles in one central location for easier upgrade and maintenance. */

/* ---------- Base ---------- */

body.lite {
	background: #587E95 url(../images/custom/lite/body_bg.png) repeat-y center top;
}

body.dark {
	background: #949494 url(../images/custom/dark/body_bg.png) repeat-y center top;
}

/* ---------- Wrapper ---------- */

#wrapper {
	margin: 0 auto;
	width: 960px;
}

/* ---------- Banner ---------- */

#banner {
	padding: 0 0 61px;
	position: relative;
}

.lite #banner {
	background: url(../images/custom/lite/banner_bg.png) repeat-x;
}

.dark #banner {
	background: url(../images/custom/dark/banner_bg.png) repeat-x;
}

/* ---------- Logo ---------- */

#banner .logo {
	border-top: 2px solid #48525B;
	height: 93px;
	position: relative;
	top: 61px;
}

.lite #banner .logo {
	background: url(../images/custom/lite/header_image.png) no-repeat center top;
	padding: 25px;
}

.dark #banner .logo {
	background: url(../images/custom/dark/header_image.png) no-repeat center top;
	padding: 25px 25px 25px 125px;
}

/* ---------- Navigation ---------- */

#navigation {
	border-top: 7px solid #455660;
	height: 61px;
}

.lite #navigation {
	background: url(../images/custom/lite/navigation_bg.gif);
}

.dark #navigation {
	background: url(../images/custom/dark/navigation_bg.gif);
}

#navigation ul,
#add-page {
	float: left;
}

#navigation a {
	color: #FFF;
	display: block;
	font: 14px/56px Arial, Helvetica, sans-serif;
	height: 61px;
	padding: 0 24px;
	text-decoration: none;
}

#navigation a:hover {
	color: #FEC;
}

.lite #navigation .selected a {
	background: #4A5C6A;
}

.dark #navigation .selected a {
	background: #6B6B6B;
}

#navigation .enter-page a {
	background: none;
	display: inline;
	float: none;
}

#navigation .enter-page a.cancel-page {
	display: none;
}

#navigation .save-page {
	display: inline;
	float: none;
}

.ie7 .save-page {
	position: relative;
	top: -4px;
}

#navigation .cancel-page {
	display: none;
}

/* ---------- Content Wrapper ---------- */

#content-wrapper {
	padding: 16px;
}

/* ---------- Portlet ---------- */

.portlet {
	margin: 0 0 24px;
}

.portlet-topper {
	border-bottom: 12px solid #DDD;
	padding: 4px 0;
}

.lite .portlet-topper {
	color: #536C71;
}

.dark .portlet-topper {
	color: #353E47;
}

.portlet-title {
	font: normal 18px arial, sans-serif;
}

.lite .portlet-calendar .calendar-day .day-text,
.portlet-calendar .results-header {
	background: #3A5D77;
}

.dark .portlet-calendar .calendar-day .day-text,
.portlet-calendar .results-header {
	background: #455660;
}

/* ---------- Tabs ---------- */

.ui-tabs {
	border-bottom: 1px solid #B3C6C4;
	padding: 0;
}

.ui-tabs li a,
.ui-tabs li a:hover,
.ui-tabs li span,
.ui-tabs li span:hover {
	border: 1px solid #B3C6C4;
	color: #586B7A;
	margin: 0 3px 0 0;
}

.lite .ui-tabs li a,
.lite .ui-tabs li a:hover,
.lite .ui-tabs li span,
.lite .ui-tabs li span:hover {
	background: #EAF2F5;
}

.dark .ui-tabs li a,
.dark .ui-tabs li a:hover,
.dark .ui-tabs li span,
.dark .ui-tabs li span:hover {
	background: #B3C6C4;
}

.ui-tabs li.current:hover {
	background: transparent;
}

.ui-tabs li a:hover,
.ui-tabs li span:hover {
	background: #B3C6C4;
}