@import url(color_schemes/light.css);
@import url(color_schemes/dark.css);
#wrapper {
	padding-top: 56px;
	position: relative;
	margin: 0 auto;
	width:776px;
}
#content-wrapper {
	font-size: 1em;
	width: 100%;
}
html {
	overflow-y: scroll;
}
#banner {
	height: 143px;
}
#banner .logo {
	background: transparent none;
}
#banner .logo a {
	margin-top: -21px;
}
#navigation {
	border: none;
	height: 35px;
	margin: 0;
	padding: 0;
	width: 100%;
}
#navigation li {
	background: transparent;
	border: none;
	margin: 0;
	overflow: hidden;
	padding: 8px 15px;
}
#navigation li a {
	background: transparent;
	font-size: 11px;
	padding: 0;
}
#navigation li a span {
	background: none;
	padding: 0;
}
#navigation li a:hover {
	background: transparent;
	padding-bottom: 0;
}
#navigation li a:hover span {
	background: none;
}
#navigation li.selected {
	padding-bottom: 1px;
}
#navigation li.selected a {
	padding: 0;
}
#navigation li.selected a span {
	background: transparent;
	font-size: 1em;
	padding: 0;
}
#navigation li.selected a:hover {
	padding-bottom: 0;
}
.js #navigation .enter-page {
	background: none;
	padding: 0;
	margin-top: 1px;
}
.js #add-page {
	float: right;
	font-weight: bold;
	padding-top: 8px;
}
.portlet, .portlet-topper, .portlet-content, .portlet-title {
	background: none;
}
.portlet {
	padding-right: 0;
}
.portlet-title {
	font-size: 14px;
}
.portlet-title img {
	display: none;
}
.ui-tabs {
	padding: 0 0 18px 1em;
}
.ui-tabs li {
	line-height: 15px;
	margin-right: 0.3em;
	top: 0.15em;
}
.ui-tabs li a, .ui-tabs li span {
	padding: 0.1em 1em 0;
	top:0;
}
.ui-tabs li.current a, .ui-tabs li.current span {
	padding: 0.1em 1em;
	border:none;
}

.liferay-table {
	font: 9px/9px Arial;
}
#navigation li.selected a, #navigation li a:hover {
	background-color: transparent;
}
.js #add-page {
	background: none;
	border: none;
	right: 0%;
	top: -7px;
}
input[type="text"], input[type="password"], input[type="file"], input[type="submit"], input[type="button"], input[type="reset"], select, textarea, .textarea {
	padding:1px;
}

.portlet-icons {
	right:0;
	top:-5px;
}