<div id="bottom-navigation">
	<div id="bottom-container" $bottom_container_attributes>
		<a class="bottom-item" href="$home_url">
			<span>$home_text</span>
			<img src="$bottom_images_folder/home.png" alt="$home_text" />
		</a>

		#if ($show_add_content)
			<a class="bottom-item" href="javascript: void(0);" onclick="$add_content_url">
				<span>$add_content_text</span>
				<img src="$bottom_images_folder/add_application.png" alt="$add_content_text" />
			</a>

			<a class="bottom-item $rss_portlet_id" href="$rss_href" onclick="$rss_onclick">
				<span>$rss_text</span>
				<img src="$bottom_images_folder/add_rss.png" alt="$rss_text" />
			</a>
		#elseif ($is_signed_out)
			<a class="bottom-item sign-in" href="$sign_in_url">
				<span>$sign_in_text</span>
				<img src="$bottom_images_folder/sign_in.png" alt="$sign_in_text" />
			</a>
		#end
	</div>
</div>

<script type="text/javascript">
	LiferayDesktop.bottomNavigationInit();
</script>