#set ($portlet_display = $portletDisplay)

#set ($portlet_id = $portlet_display.getId())
#set ($portlet_title = $portlet_display.getTitle())
#set ($portlet_content = $portlet_display.getContent())
#set ($portlet_back_url = $portlet_display.getURLBack())

#set ($bottom_images_folder = "$themeDisplay.getPathThemeImages()/bottom_navigation")

<table class="portlet" id="portlet-wrapper-$portlet_id">
<tr>
	<td class="top-left-corner"></td>
	<td class="top-left"></td>
	<td class="top-center">
		<div
			class="portlet-header-bar" id="portlet-header-bar_$portletDisplay.getId()"
			#if (!$portletDisplay.isShowBackIcon() && $themeDisplay.isSignedIn())
				onmouseover="PortletHeaderBar.show('$portletDisplay.getId()')"
				onmouseout="PortletHeaderBar.hide('$portletDisplay.getId()')"
			#end
		>
			<span class="portlet-title not-editable">
				$theme.iconPortlet() $portlet_title
			</span>

			<div
				class="portlet-small-icon-bar" id="portlet-small-icon-bar_$portlet_id"
				#if (!$portletDisplay.isStateMax())
					style="display: none;"
				#end
			>
				#if ($portlet_display.isShowBackIcon())
					$theme.iconBack()
				#else
					$theme.iconRefresh()
					$theme.iconPortletCss()
					$theme.iconConfiguration()
					$theme.iconEdit()
					$theme.iconEditDefaults()
					$theme.iconEditGuest()
					$theme.iconHelp()
					$theme.iconPrint()

					#if ($themeDisplay.isFreeformLayout())
						#if ($portlet_display.isShowMinIcon())
							<nobr><a href="javascript: LiferayDesktop.minimizePortlet('$plid','$portletDisplay.getId()','$themeDisplay.getDoAsUserId()','$themeDisplay.getPathMain()');" class="min"><img align="absmiddle" border="0" src="$themeDisplay.getPathThemeImages()/portlet/minimize.png" title="#language("minimize")" /></a></nobr>
						#end
					#else
						$theme.iconMinimize()
					#end

					$theme.iconMaximize()

					#if ($portlet_display.isShowCloseIcon())
						<nobr><a href="javascript: LiferayDesktop.removePortlet('$plid', '$portletDisplay.getId()', '$themeDisplay.getDoAsUserId()','$themeDisplay.getPathMain()');" class="close"><img align="absmiddle" border="0" src="$themeDisplay.getPathThemeImages()/portlet/close.png" title="#language("close")" /></a></nobr>
					#end
				#end
			</div>
		</div>
	</td>
	<td class="top-right"></td>
	<td class="top-right-corner"></td>
</tr>
<tr>
	<td class="middle-left"></td>
	<td class="middle-center" colspan="3" valign="top">
		<div class="portlet-content">$portlet_content</div>
	</td>
	<td class="middle-right"></td>
</tr>
<tr>
	<td class="bottom-left-corner"></td>
	<td class="bottom-left"></td>
	<td class="bottom-center"></td>
	<td class="bottom-right"></td>
	<td class="bottom-right-corner"></td>
</tr>
</table>

#if ($portletDisplay.isStateMax())
	<script type="text/javascript">
		LiferayDesktop.maximizePortlet($portlet_id);
	</script>
#elseif ($portlet_id == "sign-in")
	<script type="text/javascript">
		LiferayDesktop.signInPage()
	</script>
#elseif ($themeDisplay.isFreeformLayout() && !$layoutTypePortlet.hasStateMax())
	<script type="text/javascript">
		LiferayDesktop.addPortlet('$plid','$portlet_id','$themeDisplay.getDoAsUserId()','$themeDisplay.getPathMain()','$portlet_title','$bottom_images_folder');
	</script>
#end