/* This CSS sets the default styles for portlets. */

/* ---------- Portlet wrapper and icons ---------- */

.portlet {
}

.freeform .portlet {
}

body.portlet {
}

.portlet-topper {
}

.portlet-title {
}

.ie .portlet-title {
}

.portlet-title img {
}

.portlet-icons {
}

.portlet-content, .portlet-minimized .portlet-content-container {
}

.portlet-minimized .portlet-content {
}

.portlet-icon-back {
}

/* ---------- Panel Page ---------- */

.lfr-panel {
}

.lfr-panel .portlet-title {
}

.lfr-panel #content-wrapper {
}

.lfr-panel .lfr-add-content h2 span {
}

/* ---------- Standard styles defined in the JSR 168 ---------- */

/* ---------- Fonts ---------- */

/* ---------- Font attributes for the 'normal' fragment font ---------- */

.portlet-font {
}

/* ---------- Font attributes similar to the .portlet-font but the color is lighter ---------- */

.portlet-font-dim {
}

/* ---------- Messages ---------- */

/* ---------- Status of the current operation ---------- */

.portlet-msg-status {
}

/* ---------- Help messages, general additional information, etc. ---------- */

.portlet-msg-info {
}

.portlet-msg-info.pending {
}

/* ---------- Error messages ---------- */

.portlet-msg-error {
}

/* ---------- Warning messages ---------- */

.portlet-msg-alert {
}

/* ---------- Success messages ---------- */

.portlet-msg-success {
}

/* ---------- Sections ---------- */

/* ---------- Table or section header ---------- */

.portlet-section-header {
}

.portlet-section-header th {
}

/* ---------- Normal text in a table cell ---------- */

.portlet-section-body {
}

.portlet-section-body td {
}

/* ---------- Text in every other row in the cell ---------- */

.portlet-section-alternate {
}

.portlet-section-alternate td {
}

.portlet-section-alternate-hover td, .portlet-section-body-hover td {
}

.portlet-section-body td td, .portlet-section-body-hover td td {
}

.portlet-section-alternate td td, .portlet-section-alternate-hover td td {
}

/* ---------- Text in a selected cell range ---------- */

.portlet-section-selected, .portlet-section-selected a {
}

.portlet-section-selected a:hover, .portlet-section-selected a:focus {
}

/* ---------- Text of a subheading ---------- */

.portlet-section-subheader {
}

/* ---------- Table or section footnote ---------- */

.portlet-section-footer {
}

/* ---------- Text that belongs to the table but does not fall in one of the other categories (e.g. explanatory or help text that is associated with the section) ---------- */

.portlet-section-text {
}

/* ---------- Forms ---------- */

/* ---------- Text used for the descriptive label of the whole form (not the labels for fields) ---------- */

.portlet-form-label {
}

/* ---------- Text of the user-input in an input field ---------- */

.portlet-form-input-field {
}

/* ---------- Text on a button ---------- */

.portlet-form-button {
}

/* ---------- Text that appears beside a context dependent action icon ---------- */

.portlet-icon-label {
}

/* ---------- Text that appears beside a 'standard' icon (e.g. Ok, or Cancel) ---------- */

.portlet-dlg-icon-label {
}

/* ---------- Text for a separator of fields (e.g. checkboxes, etc.) ---------- */

.portlet-form-field-label {
}

/* ---------- Text for a field (not input field, e.g. checkboxes, etc.) ---------- */

.portlet-form-field {
}

/* ---------- Menus ---------- */

/* ---------- General menu settings such as background color, margins, etc. ---------- */

.portlet-menu {
}

/* ---------- Normal, unselected menu item ---------- */

.portlet-menu-item {
}

/* ---------- Selected menu item ---------- */

.portlet-menu-item-selected {
}

/* ---------- Normal, unselected menu item when the mouse hovers over it ---------- */

.portlet-menu-item-hover {
}

/* ---------- Selected menu item when the mouse hovers over it ---------- */

.portlet-menu-item-hover-selected {
}

/* ---------- Normal, unselected menu item that has sub-menus ---------- */

.portlet-menu-cascade-item {
}

/* ---------- Selected sub-menu item that has sub-menus ---------- */

.portlet-menu-cascade-item-selected {
}

/* ---------- Descriptive text for the menu (e.g. in a help context below the menu) ---------- */

.portlet-menu-description {
}

/* ---------- Menu caption ---------- */

.portlet-menu-caption {
}

/* ---------- Calendar portlet ---------- */

.portlet-calendar .calendar-container {
}

.ie .portlet-calendar .calendar-container {
}

.portlet-calendar .calendar-day {
}

.portlet-calendar .calendar-day .day-text {
}

.portlet-calendar .calendar-day .day-number {
}

.portlet-calendar .calendar-container .taglib-calendar {
}

.taglib-calendar tr.portlet-section-header th, .taglib-calendar tr td {
}

.taglib-calendar tr td a {
}

.taglib-calendar table td {
}

.taglib-calendar tr td a:hover {
}

.taglib-calendar .calendar-current-day, .taglib-calendar .calendar-current-day a {
}

.taglib-calendar .calendar-current-day a {
}

.portlet-calendar .taglib-calendar tr td.calendar-current-day a:hover, .portlet-calendar .taglib-calendar tr td.calendar-current-day a:focus {
}

.portlet-calendar .taglib-calendar td.calendar-current-day a span {
}

.taglib-calendar tr td.calendar-inactive {
}

.taglib-calendar tr th {
}

.taglib-calendar tr.portlet-section-header th, .taglib-calendar tr td {
}

.ie .taglib-calendar tr td.first a {
}

/* ---------- Miscellaneous portlet styles ---------- */

.journal-template-error .scroll-pane {
}

.journal-template-error .scroll-pane .inner-scroll-pane {
}

.journal-template-error .scroll-pane .error-line {
}

.journal-template-error .scroll-pane pre {
}

.journal-template-error .scroll-pane pre span {
}

.message-board-code {
}

.message-board-code-lines {
}

.restricted, .restricted td {
}

.restricted * {
}

.restricted .col-1 {
}

/* ---------- Miscellaneous component styles ---------- */

/* ---------- Add content dialog ---------- */

.lfr-portlet-item, .lfr-portlet-item p a {
}

/* ---------- Actions button ---------- */

.lfr-actions {
}

.lfr-actions, .lfr-actions ul {
}

.lfr-actions ul {
}

.lfr-actions .lfr-trigger, .lfr-actions .lfr-trigger, .lfr-actions .lfr-trigger strong {
}

.lfr-actions .lfr-trigger strong span {
}

.lfr-actions.left .lfr-trigger strong span {
}

.lfr-actions .lfr-trigger li {
}

.lfr-actions .lfr-trigger li a {
}

.lfr-actions .lfr-trigger li a:hover {
}

.lfr-actions .lfr-trigger li a img {
}

.lfr-actions .lfr-trigger li.last {
}