<div class="pod">
	#if ($image.data != "")
		<img class="pod-image" src="$image.data" />
	#end

	<div class="pod-text">
		#if ($title.data != "")
			<h5>
				$title.data
			</h5>
		#end

		$description.data
	</div>

	<div class="divider"></div>
</div>

#if ($content.data != "")
	<div class="column-text">
		$content.data
	</div>
#end