<div class="button pod">
	#if ($link.data != "")
		<a href="$link.data">
	#end

	#if ($image.data != "")
		<img class="pod-image" src="$image.data" />
	#end

	<div class="pod-text">
		#if ($title.data != "")
			<h5>
				$title.data
			</h5>
		#end

		#if ($description.data != "")
			<span class="description">
				$description.data
			</span>
		#end
	</div>

	#if ($link.data != "")
		</a>
	#end
</div>