#if (($company.getLogoId() == 0) && !$layout.layoutSet.isLogo())
	#set ($site_logo = "${images_folder}/custom/so_logo.png")
	#set ($site_logo_height = 64)
	#set ($site_logo_width = 186)
#end

#if ($is_signed_in)
	#set ($user_group = $user.getGroup())

	#set ($nav_css_class = "$nav_css_class sort-pages modify-pages")

	#set ($user_dashboard_portlet_url = $portletURLFactory.create($request, "49", $page.getPlid(), "ACTION_PHASE"))

	$user_dashboard_portlet_url.setParameter("struts_action", "/my_sites/view")
	$user_dashboard_portlet_url.setParameter("groupId", "$user_group.getGroupId()")
	$user_dashboard_portlet_url.setParameter("privateLayout", "true")
	$user_dashboard_portlet_url.setPortletMode("view")
	$user_dashboard_portlet_url.setWindowState("normal")

	#set ($site_default_url = $htmlUtil.escape($user_dashboard_portlet_url.toString()))
#end