<div class="menu">
	#foreach ($nav_item in $nav_items)
		#if ($nav_item.isSelected())
			#set ($nav_item_class = 'class="selected"')
		#else
			#set ($nav_item_class = '')
		#end

		<a $nav_item_class href="$nav_item.getURL()">$nav_item.getName()</a>
	#end
</div>

#foreach ($nav_item in $nav_items)
	#if ($nav_item.isSelected())
		#if ($nav_item.hasChildren())
			<div class="menu">
				#foreach ($nav_child in $nav_item.getChildren())
					#if ($nav_child.isSelected())
						#set ($nav_child_class = 'class="selected"')
					#else
						#set ($nav_child_class = '')
					#end

					<a $nav_child_class href="$nav_child.getURL()">$nav_child.getName()</a>
				#end
			</div>
		#end
	#end
#end