input[type="text"], input[type="password"], input[type="file"], input[type="submit"], input[type="button"], input[type="reset"], select, textarea, .textarea {
	padding:1px;
}

/*----- Tabs -----*/

.ui-tabs li a, .tabs li span {
	background:#E5ECF9 none repeat scroll 0 0;
	border:1px solid #7AA5D6;
	color:black;
	top:0;
}

.ui-tabs li.current a, .ui-tabs li.current span {
	border:1px solid #7AA5D6;
	color:#3366CC;
}

.ui-tabs li a:hover, .ui-tabs li span:hover {
	background:#E5ECF9 none repeat scroll 0 0;
	color:black;
	text-decoration: none;
}

.ui-tabs li.current:hover, .ui-tabs li.current a:hover {
	background-color:transparent;
	text-decoration: none;
	color:#3366CC;
}