/* This CSS sets the default styles for the main navigation. */


/* ---------- Main navigation ---------- */

#navigation {
	overflow: hidden;
	margin: 0 0 8px 0;
	position: relative;
}

#navigation-base {
	height: 1px;
	background: #7aa5d6 none;
	overflow: hidden;
	position: absolute;
	bottom: 0;
	left: 0;
	width: 100%;
}

#navigation ul {
	float: left;
	width: auto;
	padding: 0 0 0 8px;
}

.ie6 #navigation, .ie6 #navigation ul {
	overflow: visible;
}

#navigation li , .js #add-page {
	display: block;
	float: left;
	position: relative;
	overflow: visible;
}

#navigation li a , .js #add-page a {
	display: block;
	float: left;
	padding: 0 10px;
}

#navigation li a {
	margin: 0 2px;
	background: #e5ecf9;
	border: 1px solid #7aa5d6;
	color: #000;
	font: 12px/21px arial,sans-serif;
	text-decoration: none;
}

.js #add-page a {
	font: 12px/20px arial,sans-serif;
}

#navigation li.selected a {
	padding: 0 10px;
	border: 1px solid #7aa5d6;
	border-bottom: 1px solid #fff;
	background: #fff;
	font: bold 12px/21px arial,sans-serif;
	color: #36c;
	text-decoration: none;
}

/*
#navigation li a:hover {
	padding-bottom: 1em;
}

#navigation li a span {
	background: url(../images/navigation/bullet.png) no-repeat 0 50%;
	padding-left: 17px;
	text-decoration: none;
}

#navigation li.selected a {
	padding-top: 0.5em;
}

#navigation li.selected a span {
	background: url(../images/navigation/bullet_selected.png) no-repeat 0 50%;
	font-size: 1.3em;
	font-weight: bold;
}

#navigation li.selected a:hover {
	padding-bottom: 0.5em;
}

#navigation li a:hover span {
	background: url(../images/navigation/bullet_over.png) no-repeat 0 50%;
}
*/
#navigation .child-menu {
	display: none;
}

/* ---------- Dock without JavaScript ---------- */

.lfr-dock {
	float: right;
}

.lfr-dock h2 {
	display: block;
	float: left;
	font: bold 12px/24px arial,sans-serif;
	margin: 0 10px 0 0;
}

.lfr-dock ul {
	display: block;
	float: left;
}

.lfr-dock li {
	display: block;
	float: left;
}

.lfr-dock li a {
	border-left: 1px solid #000;
	background: url() no-repeat 10px 50%;
	padding: 0 10px 0 30px;
	text-decoration: none;
	font: normal 12px/24px arial,sans-serif;
}

.lfr-dock li.home a {
	background-image: url(../images/dock/home.png);
}

.lfr-dock li.my-account a {
	background-image: url(../images/dock/my_account.png);
}

.lfr-dock li.sign-in a {
	background-image: url(../images/dock/sign_in.png);
}

.lfr-dock li.sign-out a {
	background-image: url(../images/dock/sign_out.png);
}

.lfr-dock li.add-content a {
	background-image: url(../images/dock/add_content.png);
}

.lfr-dock li.layout a {
	background-image: url(../images/dock/layout.png);
}

.lfr-dock li.page-settings a {
	background-image: url(../images/dock/page_settings.png);
}

.lfr-dock li.my-places a {
	background-image: url(../images/dock/my_places.png);
}

.lfr-dock li.my-places {
	display: none;
}

/* ---------- Dock with JavaScript ---------- */

.js .lfr-dock.interactive-mode {
	float: right;
	min-width: 150px;
	position: relative;
	right: 10px;
	top: 10px;
}

.js .lfr-dock.interactive-mode h2 {
	background: url(../images/dock/menu_bar.png) no-repeat 100% -30px;
	font-size: 1.2em;
	margin-bottom: 0;
	padding: 0 29px 0 0;
	position: relative;
	z-index: 82;
}

.js .lfr-dock.interactive-mode h2 span {
	background: url(../images/dock/menu_bar.png) no-repeat 0 0;
	color: #fff;
	display: block;
	font-size: 1.2em;
	margin-bottom: 0;
	padding: 0.5em 0.5em 0.5em 2em;
}

.js .lfr-dock.expanded .lfr-dock-list-container {
	background: #60738C;
	border: 1px solid #B5B9BB;
	border-top: none;
	top: -2px;
}

.js .lfr-dock.interactive-mode ul {
	background: url(../images/dock/menu_bg.png) no-repeat 0 0;
	border-left: 20px solid #DAE3EF;
	display: none;
	float: none;
}

.js .lfr-dock.interactive-mode li {
	display: block;
	float: none;
	margin-bottom: 0pt;
	margin-left: 0.2em;
}

.js .lfr-dock.interactive-mode li a {
	background-position: 0.5em 50%;
	background-repeat: no-repeat;
	border-top: 1px solid #ccc;
	display: block;
	margin-left: 0.3em;
	padding: 0.5em 0pt 0.5em 2.5em;
	text-decoration: none;
}

.js .lfr-dock.interactive-mode ul.lfr-dock-list > li:first-child a, .js .lfr-dock.interactive-mode ul.lfr-dock-list > li:first-child ul.show-my-places li:first-child a {
	border-top: none;
}

.js .lfr-dock.interactive-mode li a:hover {
	background-color: #FFF5BA;
	background-position: 1.5em 50%;
	border-top: 1px solid #E0D79F;
	padding-left: 3.5em;
}

.js .lfr-dock.interactive-mode ul.lfr-dock-list > li:first-child a, .js .lfr-dock.interactive-mode ul.lfr-dock-list > li:first-child a:hover, .js .lfr-dock.interactive-mode ul.lfr-dock-list li.my-places ul.show-my-places li ul li:first-child a, .js .lfr-dock.interactive-mode ul.lfr-dock-list li.my-places ul.show-my-places li ul li:first-child a:hover {
	border-top: none;
}

.js .my-places {
	display: none;
}

.js .lfr-dock.interactive-mode li.my-places li a {
	background-image: none;
}

.js .lfr-dock.interactive-mode li.my-places li ul li.current a, .js .lfr-dock.interactive-mode li.my-places li ul li.current a:hover {
	background: #E5F7FD url(../images/dock/my_place_current.png) no-repeat 1em 50%;
	margin: 0.1em 0 0 0.2em;
	padding-left: 3.5em;
}

.js .interactive-mode .my-places .show-my-places {
	background: #fff;
	border: 1px solid #ccc;
	display: block;
	min-width: 200px;
	padding: 0.2em;
	position: absolute;
	right: 85%;
	top: 87%;
}

.js .interactive-mode .my-places.send-right .show-my-places {
	left: 100%;
	top: -10px;
}

.js .interactive-mode .my-places.send-down .show-my-places {
	left: 0;
	top: 100%;
}

.js .interactive-mode .my-places .show-my-places li {
	background: url() no-repeat 5px 50%;
	margin: 0;
}

.js .interactive-mode .my-places .show-my-places li .my-places-toggle {
	background: url(../images/dock/my_place.png) no-repeat 3px 50%;
	border-bottom: 1px solid #999;
	color: #333;
	font-size: 1.1em;
	font-weight: bold;
	padding: 0.5em 0.2em 0.5em 2em;
}

.js .interactive-mode .my-places .show-my-places li .my-places-toggle h3 {
	background: url(../images/dock/expand_community.png) no-repeat 100% 50%;
	padding-right: 1.8em;
}

.js .interactive-mode .my-places .show-my-places li .my-places-toggle.hide h3 {
	background-image: url(../images/dock/collapse_community.png);
}

.js .interactive-mode .my-places .show-my-places li ul {
	background: none no-repeat 3px 50%;
	border: none;
	display: none;
}

.js .interactive-mode .my-places .show-my-places li ul {
	margin-left: 0.5em;
}

.js .interactive-mode .my-places .show-my-places ul li.public a, .js .my-places .show-my-places ul li.public a:hover {
	background-image: url(../images/dock/my_places_public.png);
}

.js .interactive-mode .my-places .show-my-places li.private a, .js .my-places .show-my-places li.private a:hover {
	background-image: url(../images/dock/my_places_private.png);
}

.ie6.js .lfr-dock.interactive-mode {
	white-space: nowrap;
	width: 150px;
}

.ie.js .lfr-dock .my-places .show-my-places h3 {
	font-size: 1.1em;
}

.ie6.js .lfr-dock.expanded.interactive-mode .lfr-dock-list-container {
	height: 1%;
}

.ie6.js .interactive-mode .my-places .show-my-places {
	width: 200px;
}

.ie6.js .lfr-dock.interactive-mode li {
	height: 1%;
}

.ie6.js .lfr-dock.interactive-mode li a {
	height: 1%;
}

/* ---------- Add/sort/remove page ---------- */

.js #navigation .enter-page {
	margin-right:40px;
	margin-top:1px;
}

.js #navigation .enter-page.editing {
	background: none;
	padding: 0.5em 2em 0.7em 1.5em;
}

.js #navigation .enter-page .text {
	background: none;
	height: 12px;
	font-size: 10px;
}

.js #navigation .enter-page a {
	background: none;
	display: inline;
	font-weight: bold;
	margin-left: 1em;
	padding: 0;
	margin-bottom: -10px;
}

.ie.js #navigation .enter-page a {
	margin-bottom: -20px;
}

.js #navigation .enter-page a.save-page {
	display: inline-block;
	padding-bottom: 0;
	padding-top: 0;
	vertical-align: top;
	position: absolute;
	margin-top:-21px;
	margin-left:163px;
}

.ie.js #navigation .enter-page a.save-page {
	margin-top: 0px;
	margin-left: 5px;
}

.js .delete-tab {
	background: url(../images/common/remove.png) no-repeat 42%;
	cursor: pointer;
	display: block;
	height: 8px;
	position: absolute;
	right: 0;
	text-indent: -9999em;
	top: 2px;
	width: 8px;
}

/*------ Drag/drop menu items ------*/

#navigation ul .sort-helper {
	background: url(../images/portlet/placeholder_bg.png);
	border: 1px dashed #508FB4;
	float: left;
	padding: 0.5em;
}

/*------ Navigation portlet ------*/

.nav-menu li a.ancestor {
	font-weight: bold;
}

.nav-menu li a.selected {
	1text-decoration: none;
	color: black;
	font-weight: bold;
}

.nav-menu ul {
	padding-left: 10px;
}

.nav-menu-style-1 {
}

.nav-menu-style-2 {
}