body {
	background: #336699;
	color: #fff;
	font-family: Arial;
	font-size: 13px;
	margin: 0;
	padding: 0;
}
#wrapper {
	background: center top no-repeat url(../images/custom/bckbody.jpg);
	width: 1264px;
	position: relative;
}
#banner {
	background: black center no-repeat url(../images/custom/bckheader.jpg);
	font-family: Verdana;
	height: 287px;
	width:894px;
	margin: 0 auto;
	position: relative;
}
#navigation {
	background: none;
	border: none;
	margin: -215pt auto 260px;
	width: 65.6%;
	z-index: 60;
}
#navigation li {
	border: none;
	float: right;
}
#navigation li.selected a, #navigation li a:hover {
	background: transparent url(../images/custom/bckmenulinkhover.gif) repeat-x scroll 0% 0%;
	color: #00BAFF;
}
.portlet {
	background: transparent;
	border: none;
}
.portlet-topper {
	background: none;
	border: none;
	color: #336699;
	font-size: 18px;
}
a {
	font-size: 12px;
}
#navigation li.selected a span {
	background: transparent;
	padding-left: 0px;
}
#content-wrapper {
	width:894px;
	background: black;
	margin:-8pt auto;
}
.js #add-page {
	background: transparent none repeat scroll 0% 0%;
	border: medium none;
	right: 82%;
	top: 3px;
}
#banner .logo a {
	margin-left:60px;
	margin-top: 15px;
}
.js .interactive-mode {
	right: 10%;
	top: 50px;
}
#navigation li a {
	font-family: Verdana;
	font-size: 14px;
	height: 37px;
	line-height: 37px;
	padding: 0pt 10px;
}
.js #navigation .enter-page {
	background-color: transparent;
	padding: 0px;
}
.ie.js #navigation .enter-page .save-page {
	margin-top: -10px;
}
.ui-tabs li a:hover, .ui-tabs li span:hover {
	background: transparent url(../images/custom/bckmenulinkhover.gif) repeat-x scroll 0% 0%;
	color: #00BAFF;
}
.ui-tabs li a, .tabs li span {
	background: transparent none repeat scroll 0% 0%;
	border-right: medium none;
}
.ui-tabs {
	border-bottom: medium none;
}
.ui-tabs li.current:hover, .ui-tabs li.current a:hover {
	background-color: transparent;
	text-decoration: none;
}
.ui-tabs li.current a, .ui-tabs li.current span {
	background: transparent url(../images/custom/bckmenulinkhover.gif) repeat-x scroll 0% 0%;
	border: medium none;
	color: #00BAFF;
	font-weight: bold;
}
.ui-dialog.ui-resizable-disabled .ui-dialog-content {
	color: black;
}
.ui-dialog {
	background-color:black;
}
.portlet-section-body td {
	color: black;
}
.lfr-table tr td:last-child, .lfr-table tr td.last-child, .lfr-table tr th:last-child, .lfr-table tr th.last-child {
	color: #336699;
}
.portlet-calendar .calendar-container {
	background: black;
}