body {
	background: black;
	color: white;
}
#banner {
	background: #646464 url(../images/custom/header.jpg) no-repeat center;
	height: 316px;
	position: relative;
}
#wrapper {
	background: transparent;
	position: relative;
	margin: 0 auto;
	width: 950px;
}
#navigation {
	background: none;
	border: none;
	height: 30px;
	margin:4pt auto 30px;
}
#navigation ul {
	height: 30px;
	width: 60%;
	float: left;
	margin: 0 0 0 20%;
}
#navigation li {
	border: none;
	margin: 5px 0 0;
}
#navigation li a {
	border-right: 1px solid #FFFFFF;
	font-family: Verdana,Arial,Helvetica,sans-serif;
	font-size: 14px;
	padding: 0px 14px;
}
#navigation li.selected a, #navigation li a:hover {
	background-color: transparent;
	color: #F5A947;
}
#navigation li.selected a {
	font-weight: bold;
}
.ui-tabs li a:hover, .ui-tabs li span:hover {
	background: transparent;
	color: #F5A947;
}
#navigation li.selected a span {
	background: transparent;
	padding-left: 0px;
}
.js #add-page {
	background: transparent url(../images/common/add.png) left 50% no-repeat;
	border: none;
	float: right;
	margin: 5px 0 0;
}
.js #add-page a {
	color: #ccc;
	padding: 7px 20px;
	text-decoration: none;
}
#content-wrapper {
	margin: -23pt auto;
	width:930px;;
	background: #646464;
	border: 10px solid #646464;
}
.portlet {
	background: transparent;
	border: none;
}
.portlet-topper {
	background: transparent;
	border: none;
	color: #F5A947;
	font-size: 18px;
	text-decoration: underline;
}
a {
	color: #fff;
	font-size: 12px;
	text-decoration: none;
}
.ui-tabs li a, .tabs li span {
	background: transparent none repeat scroll 0% 0%;
	border: 1px solid #F5A947;
}
.ui-tabs li.current:hover, .ui-tabs li.current a:hover {
	background-color: transparent;
}
.ui-tabs li.current a, .ui-tabs li.current span {
	background: transparent none repeat scroll 0% 0%;
	border: 1px solid #F5A947;
	color: #F5A947;
	font-weight: bold;
}
.ui-tabs {
	border-bottom: medium none;
}
#banner .logo a {
	left: 120px;
	position: relative;
	top: 15px;
}
.logo {
	margin: 0;
}
.js .interactive-mode {
	right: 11%;
}
.ui-dialog.ui-resizable-disabled .ui-dialog-content {
	color: black;
}
.ui-dialog {
	background-color: black;
}
.portlet-calendar .calendar-day .day-number {
	color:black;
}
.lfr-table tr td:last-child, .lfr-table tr td.last-child, .lfr-table tr th:last-child, .lfr-table tr th.last-child {
	color:black;
}
.portlet-section-body td {
	color: black;
}