/* ---------- Portlet ---------- */

.knowledge-base-portlet-navigation {
	.kbarticle-navigation {
		li, ul {
			list-style: none;
		}

		.kbarticle-expanded {
			color: #555;
			font-weight: bold;
		}

		.kbarticle-selected {
			color: #555;
		}
	}
}