/* ---------- Portlet ---------- */

.knowledge-base-portlet-navigation {
	.tree-node .tree-label {
		color: #009ae5;
		font-size: 20px;
		line-height: 20px;
		margin-bottom: 5px;
		margin-top:  5px;
	}
}