/* This file allows you to override default styles in one central location for easier upgrade and maintenance. */

body {
	background: #111 url(../images/custom/common/bg.jpg) repeat-x;
	font: 62.5%/1.6em "Trebuchet MS",Verdana,sans-serif;;
	color: #DDD;
}

table {
	clear: both;
}

#wrapper {
	background: none;
}

.side-nav {
	background: url(../images/custom/navigation/sidenav.png) no-repeat;
	left:598px;
	padding-bottom:204px;
	position:absolute;
	width:210px;
}

/* ---------- Links ---------- */

a {
	color: #99AA33;
	text-decoration: underline;
}

a:hover {
	text-decoration: none;
}

/* ---------- Main content body ---------- */

#wrapper {
	margin: 0 auto;
	width:780px;
}

#content-wrapper {
	border-collapse: collapse;
	width:780px;
	margin-top: 100px;
}

.ie6 #content-wrapper {
	margin-top: 20px;
}

/* ---------- Banner ---------- */

#banner {
	background: url(../images/custom/common/header.png) no-repeat center top;
	height: 7em;
	position: relative;
}

#banner .logo {
	background: none;
	display: block;
	float: left;
	font-size: 2em;
	padding:3.25em 0.6em 0.45em;
	margin-top: 20px;
}

#banner .logo a {
	font-family:Tahoma,sans-serif;
	font-size:32pt;
	color: #DDD;
	font-size-adjust:none;
	font-stretch:normal;
	font-style:normal;
	font-variant:normal;
	font-weight:normal;
	line-height:normal;	
	text-decoration:line-through;
}

/* ---------- Main navigation ---------- */

#navigation {
	background: #000;
	margin: 0 auto 0.5em;
	min-height: 2.2em;
	overflow: hidden;
	padding-right: 1em;
	width: 757px;
	position: relative;
	top: 70px;
	border: 0px;;
}

.ie6 #navigation {
	left: -8px;
	top: 0px;
}

#navigation ul {
	float: left;
	min-height: 2em;
	width: auto;
}

#navigation li {
	background: none;
	display: inline;
	float: left;
	margin-right: 0.5em;
	padding: 0 3.5em 0 0;
	position: relative;
	border: 0px;
}

#navigation li a {
	background: none;
	color:#777777;
	display: block;
	font-size: 12pt;
	padding: 0 0 10px 0;
	text-decoration: none;
}

#navigation li a:hover {
	padding-bottom: 0;
	color:#8DCA3F;
}

#navigation li a span {
	background: none;
	padding-left: 0px;
	text-decoration: none;
}

#navigation li.selected a {
	background: url(../images/custom/common/stripes.png) repeat-x 0px 15px;
	padding-top: 0;
	color:#8DCA3F;
	height: 16px;
}

.ie6 #navigation li.selected a {
	background: url(../images/custom/common/stripes.png) repeat-x 0px 15px;
	float: left;
	padding-right: 0px;
	margin-right: 0px;
}

#navigation li.selected a span {
	background: none;
	font-size: 1em;
	font-weight: bold;
}

#navigation li.selected a:hover {
	padding-bottom: 10px;
}

#navigation li a:hover span {
	background: none;
}

/* ---------- Portlet wrapper and icons ---------- */

.portlet, .portlet-topper, .portlet-content, .portlet-title {
	background: none;
}

#portlet-wrapper-{
	margin-top: 70px;
}

.ie6 #portlet-wrapper- {
	margin-top: auto;
}

.portlet {
	margin: 0 0 10px;
	padding-right: 10px;
	text-align: left;
	border: 0px;
}

.portlet-topper {
	background-position: right top;
	margin-right: -10px;
	padding-right: 40px;
	position: relative;
	border: 0px;
}

.portlet-title {
	display: block;
	font-weight: normal;
	min-width: 50%;
	background: url(../images/custom/common/stripes.png) repeat-x scroll left bottom;
	color:#99AA33;
	font-family:Impact,sans-serif;
	font-size:2em;
	letter-spacing:1px;
	line-height:normal;
	margin-bottom:8px;
	padding-bottom:11px;
}

.ie6.portlet-title {
	padding-bottom: 17px;
}

.portlet-content {
	background-position: left bottom;
	padding: 10px 5px 25px 15px;
}

/* ---------- Table or section header ---------- */

.portlet-section-header {
	background: #000;
	padding: 1px 0 0;
}

.portlet-section-header th {
	border-bottom: 1px solid #ccc;
	color: #DDD;
	font-weight: bold;
	padding: 0.3em 1em;
}

/* ---------- Normal text in a table cell ---------- */

.portlet-section-body {
	background: #E7EDF4;
	color: #000;
}

.portlet-section-body td {
	background: #8DCA3F;
	border-bottom: 1px solid #BFBFBF;
	border-top: 1px solid #BFBFBF;
	padding: 0.3em 1em;
}

/* This CSS sets the default styles for tabs. */

.tabs {
	border-bottom: 1px solid #000;
	margin: 0 0 1.5em 0;
	padding: 0 0 2.6em 1em;
}

.tabs li a, .tabs li span {
	background: #000 none;
	display: block;
	float: left;
	padding: 0.35em 1em 0;
	text-decoration: none;
	color: #DDD;
}

.tabs li a:hover {
	background: #99AA33;
	color: #000;
}

.tabs li.current a, .tabs li.current span {
	background: #99AA33 none;
	color: #000;
	padding: 0.15em 1em;
}

.js #navigation .enter-page .save-page {
	background: transparent;
	padding-left: 0px;
}

.js #navigation .enter-page {
	background: transparent;
}

.js #add-page {
	bottom: 0px;
	border: 0px;
}