a {
font-size: 12px;
}
/** Wrapper **/
#wrapper {
background: transparent;
position: relative;
margin: 0 auto;
width: 1030px;
}
/** Banner Body Navigation**/
#banner {
background: transparent;
position: relative;
top:135px;
}
body {
background:#070707 url(../images/custom/bg.jpg) no-repeat scroll center top;
color:#5B5B5B;
font-family:'Lucida Grande',Geneva,Verdana,Arial,Helvetica,sans-serif;
font-size:11px;
}
#navigation {
background: transparent;
border: none;
z-index: 21;
margin:-40px auto 330px;
}
#navigation li {
border: none;
}
#navigation li a {
font-family:'Trebuchet MS',Helvetica,Arial,Geneva,sans-serif;
font-size:15px;
color:#5C9A12;
font-weight: bold;
}
#navigation li a:hover  {
background:transparent none repeat scroll 0 0;
color:#EEEEEE;
}
#navigation li.selected a, #navigation li a:hover {
background-color:transparent;
}
#navigation li.selected a {
color:#0077B5;
}
#navigation li.selected a span {
background:transparent;
padding-left:0px;
}
/** Portlets **/
.portlet {
background: transparent;
border: none;
}
.portlet-topper {
background:transparent url(../images/custom/footer-top.jpg) no-repeat scroll center bottom;
border-bottom: none;
color: white;
font-size: 18px;
}
.portlet-calendar .calendar-container {
background: transparent;
}
.portlet-calendar .calendar-day .day-number {
border: none;
}
/** UI Tabs**/
.ui-tabs {
border-bottom:medium none;
}
.ui-tabs li.current:hover, .ui-tabs li.current a:hover {
background-color:transparent;
text-decoration: none;
color:#0077B5;
}
.ui-tabs li.current a, .ui-tabs li.current span {
background:transparent none repeat scroll 0 0;
border:medium none;
color:#0077B5;
}
.ui-tabs li a:hover, .ui-tabs li span:hover {
background:transparent;
color:#FFFFFF;
text-decoration: none;
}
.ui-tabs li a, .tabs li span {
background:transparent none repeat scroll 0 0;
border-right:medium none;
color:#5C9A12;
font-weight: bold;
}.ui-dialog {
background: black;
}
.uni-form {
background: black;
}
.lfr-portal-login .uni-form legend {
color: white;
}
/** Javascript **/
.js #add-page {
background:transparent none repeat scroll 0 0;
border:medium none;
top:0;
}
/** Footer **/
#footer {
background:#070707 url(../images/custom/footer-top.jpg) no-repeat scroll center top;
height: 20px;
}