/* -------- Global -------- */

#skip-to-content,
#heading .community-title,
#heading .page-title,
#navigation h1 {
	clip: rect(0 0 0 0);
	position: absolute;
}

#heading,
#footer {
	margin: 0 auto;
	width: 960px;
}

/* -------- Wrapper / Skip / Sign-in -------- */

#wrapper {
	overflow: hidden;
}

#skip-to-content,
#sign-in {
	color: #FFF;
	right: 2em;
}

#skip-to-content:active,
#skip-to-content:focus {
	clip: auto;
}

#skip-to-content {
	top: 1em;
	z-index: 2;
}

#sign-in {
	position: absolute;
	top: 2.5em;
}

/* -------- Banner -------- */

#banner {
	-moz-box-shadow: 0 0 9px #333;
	-webkit-box-shadow: 0 0 9px #333;
	background: #B00000;
	background-image: -moz-linear-gradient(top, #B00000, #570000);
	background-image: -webkit-gradient(linear,left top,left bottom,color-stop(0, #B00000),color-stop(1, #570000));
	box-shadow: 0 0 9px #333;
	padding: 20px 0 210px;
	position: relative;
}

.blue #banner {
	background: #0057B0;
	background-image: -moz-linear-gradient(top, #0057B0, #002B57);
	background-image: -webkit-gradient(linear,left top,left bottom,color-stop(0, #0057B0),color-stop(1, #002B57));
}

.green #banner {
	background: #00B017;
	background-image: -moz-linear-gradient(top, #00B017, #00570C);
	background-image: -webkit-gradient(linear,left top,left bottom,color-stop(0, #00B017),color-stop(1, #00570C));
}

#heading .company-title {
	margin: 0;
}

/* -------- Navigation -------- */

#navigation {
	bottom: 230px;
	font-size: 14px;
	left: 50%;
	margin: 0 0 0 -480px;
	position: absolute;
	width: 960px;
}

#navigation ul {
	float: right;
	list-style: none;
	margin: 0;
}

.ie6 #navigation ul,
.ie7 #navigation ul {
	zoom: 1;
}

#navigation ul:after {
	clear: both;
	content: ".";
	display: block;
	height: 0;
	line-height: 0;
	visibility: hidden;
}

#navigation li,
#navigation a {
	float: left;
}

#navigation a {
	color: #FFF;
	display: block;
	margin: 0 0 0 20px;
	padding: 3px 10px;
	text-decoration: none;
}

.ie7 #navigation a {
	height: 17px;
}

#navigation a:active,
#navigation a:focus,
#navigation a:hover {
}

#navigation .selected a {
	border-bottom: 2px solid #EEE;
}

/* -------- Content -------- */

#content {
	-moz-border-radius: 10px;
	-moz-box-shadow: 0 0 8px #000;
	-webkit-border-radius: 10px;
	-webkit-box-shadow: 0 0 8px #000;
	background: #FFF;
	border-radius: 10px;
	box-shadow: 0 0 8px #000;
	margin: -190px auto 0;
	padding: 20px;
	position: relative;
	width: 920px;
	z-index: 1;
}

.ie6 #content,
.ie7 #content,
.ie8 #content {
	border: 1px solid #555;
}

#breadcrumbs {
	display: none;
}

.portlet {
}

/* -------- Footer -------- */

#footer p {
	margin: 1em 0;
}