#banner {
	background: url(../images/custom/skin_fetch.png) repeat-x scroll 0 0%;
	border: 1px solid turquoise;
	height: 135px;
	margin-left: 2.5%;
	max-width: 95%;
}

#content-wrapper {
	width: 95%;
}

.js #add-page a span {
	color: #369;
}

.js #add-page {
	background: transparent none repeat scroll 0 0%;
	border: medium none;
	top: -1px;
}

.js #navigation .enter-page .save-page {
	border: none;
	color: #369;
}

.js #navigation .enter-page {
	background-color: white;
	margin-left: 7px;
}

#navigation li a span {
	color: #369;
	display: inline;
}

#navigation ul li a {
	margin-left: 7px;
	padding: 6px 20px;
}

#navigation li {
	border: none;
}

#navigation li.selected a {
	border-top: 4px solid turquoise;
}

#navigation li.selected a, #navigation li a:hover {
	color: #369;
}

#navigation {
	background: transparent;
	border: none;
	margin-top: -35px;
}

.js .lfr-dock-list-container {
	height: 0px;
	overflow: visible;
}

.js .interactive-mode {
	top:-130px;
}

.portlet-title {
	color: darkBlue;
}

.portlet-topper {
	background: url(../images/common/skin_fetch.png) repeat-x scroll 0 0%;
	position: relative;
}

.portlet {
	border: 2px solid #B3B3B3;
}

.tabs li {
	background: #B3B3B3;
	border-color: #B3B3B3;
}

.tabs li.current {
	background: #A9B3BC;
}

.tabs {
	border-bottom: 1px solid #B3B3B3;
}

#wrapper {
	background: none;
}

.ui-tabs {
	border-bottom: 1px solid #bfe1ff;
	margin: 0 0 1.5em 0;
	padding: 0 0 2.6em 1em;
}

.ui-tabs li {
	background: #eaf5ff url(../images/common/tabs_inactive_bg.png) repeat-x 0 100%;
	border-bottom: 0;
	display: inline;
	float: left;
	line-height: 2.25;
	margin-right: 0.8em;
	padding: 0;
	text-decoration: none;
}


.ui-tabs li a, .ui-tabs li span {
	display: block;
	float: left;
	padding: 0.35em 1em 0;
	text-decoration: none;
	border: 1px solid #bfe1ff;
	top: 0;
	background: transparent;
	color: black
}

.ui-tabs li.current {
	background: #bfe1ff url(../images/common/tabs_active_bg.png) repeat-x 0 0;
	font-weight: bold;
}

.ui-tabs li.current a, .ui-tabs li.current span {
	color: #333;
	padding: 0.15em 1em;
	background: transparent;
}

.ui-tabs li.current:hover, .ui-tabs li.current a:hover {
	background-color:transparent;
	text-decoration: none;
	background: #bfe1ff url(../images/common/tabs_active_bg.png) repeat-x 0 0;
}