.so-portlet-configurations {
	.field, .btn-primary {
		float: left;
		margin: 0px 5px 15px 0;
	}

	.alert-info, .lfr-search-container {
		clear: both;
	}

	#filterRadioButtons {
		float: left;
		margin-right: 5px;

		.filter-title {
			float: left;
			margin: 1px 0 15px;
			padding: 5px;
		}

		.radio {
			float: left;
			margin: 1px 10px 5px 15px;
			padding: 5px;
		}
	}

	.site-types {
		margin-left: 20px;
	}
}