/* This file allows you to override default styles in one central location for easier upgrade and maintenance. */

/* ---------- Base ---------- */

body {
	background: #698E00 url(../images/custom/body_bg.png) center top;
	color: #333;
	margin: 0 auto;
	padding: 0 20px;
	width: 960px;
}

/* ---------- Banner ---------- */

#banner {
	background: #688B00 url(../images/custom/banner_bg.jpg) no-repeat center bottom;
	padding: 0 0 180px;
	position: relative;
}

/* ---------- Logo ---------- */

#banner .logo {
	padding: 18px 24px;
}

/* ---------- Dock ---------- */

.js .interactive-mode {
	right: 18px;
	top: 20px;
}

/* ---------- Navigation ---------- */

#navigation {
	height: 38px;
	background: url(../images/custom/navigation_bg.png) 0 100%;
	border-bottom: 2px solid #97DB8C;
}

#navigation ul {
	float: right;
}

#add-page {
	float: left;
}

#navigation a, #navigation .enter-page {
	color: #553;
	display: inline;
	float: left;
	font: bold 12px Arial,Helvetica,sans-serif;
	height: 14px;
	padding: 12px 20px;
	text-decoration: none;
}

#navigation .enter-page {
	padding: 6px 0;
}

#navigation a:hover {
	background: #E8F6BF;
	color: #553;
}

#navigation .selected a {
	border-bottom: 4px solid #97DB8C;
	padding-bottom: 10px;
}

#navigation .save-page, #navigation .save-page:hover {
	background: none;
	border-right: 0;
	display: inline;
	float: none;
}

.ie #navigation .save-page {
	position: relative;
	top: -6px;
}

#navigation .cancel-page {
	display: none;
}

/* ---------- Content Wrapper ---------- */

#content-wrapper {
	padding: 0 0 24px;
}

/* ---------- Portlet ---------- */

.portlet-topper {
	background: url(../images/custom/portlet-topper_bg.gif) no-repeat;
	height: 40px;
	margin: 0 0 0 -36px;
	padding: 0 0 0 36px;
}

.portlet-title {
	background: #567300;
	color: #FFF;
	display: block;
	font: 14px/40px Lucida Sans Unicode,sans-serif;
	height: 40px;
	padding: 0 16px;
}

.portlet-title img {
	display: none;
}

.portlet-icons a {
	color: #FFF;
}

.portlet-content {
	font: 12px Lucida Sans Unicode,sans-serif;
	padding: 12px 18px;
}

/* ---------- Portler Calendar ---------- */

.portlet-calendar .calendar-day .day-text,
.portlet-calendar .results-header {
	background: #E2F4AE;
}

.portlet-calendar .calendar-day .day-text,
.portlet-calendar .results-header th,
.portlet-calendar .results-header td {
	color: #333;
}

/* ---------- Tabs ---------- */

.ui-tabs {
	border-bottom: 1px solid #445205;
}

.ui-tabs li a,
.ui-tabs li span,
.ui-tabs li a:hover,
.ui-tabs li span:hover {
	background: #E2F4AE;
	border: 1px solid #445205;
	color: #333;
	margin-left: -1px;
	padding: 6px 8px;
}

.ui-tabs li.current a,
.ui-tabs li.current span,
.ui-tabs li.current a:hover,
.ui-tabs li.current span:hover {
	background: #95A938;
	border: 1px solid #445205;
	color: #FFF;
}

/* ---------- Input ------------ */

input[type="submit"], input[type="button"], input[type="reset"] {
	background: #E8F6BF;
	border: 1px solid #97DB8C;
}

/* ---------- Footer ---------- */

#footer {
	background: url(../images/custom/footer_bg.gif);
	height: 39px;
}