/* -------- Global -------- */

#skip-to-content,
#heading .community-title,
#heading .page-title,
#navigation h1,
#navigation .child-menu {
	clip: rect(0 0 0 0);
	position: absolute;
}

body {
	background: #698E00 url(../images/custom/body_bg.png) center top;
	color: #333;
}

/* -------- Wrapper / Skip / Sign-in -------- */

#wrapper {
	font: 12px "Lucida Sans Unicode", sans-serif;
	margin: 0 auto;
	position: relative;
	width: 960px;
}

#skip-to-content,
#sign-in {
	color: #688B00;
	right: 2em;
}

#skip-to-content {
	top: 3em;
	z-index: 1;
}

#skip-to-content:active,
#skip-to-content:focus {
	clip: auto;
}

#sign-in {
	position: absolute;
	top: 1.5em;
}

/* -------- Heading -------- */

#heading {
	background: #688B00 url(../images/custom/heading_bg.jpg) no-repeat center bottom;
	height: 135px;
	position: relative;
}

#heading .company-title {
	margin: 0;
	padding: 18px 25px;
}

/* -------- Navigation -------- */

#navigation {
	background: url(../images/custom/navigation_bg.png) 0 100%;
	height: 38px;
}

#navigation ul {
	float: right;
	list-style: none;
	margin: 0;
}

.ie6 #navigation ul,
.ie7 #navigation ul {
	zoom: 1;
}

#navigation ul:after {
	clear: both;
	content: ".";
	display: block;
	height: 0;
	line-height: 0;
	visibility: hidden;
}

#navigation li,
#navigation a {
	float: left;
}

#navigation a {
	color: #553;
	display: block;
	padding: 12px 20px 14px;
	text-decoration: none;
}

#navigation a:active,
#navigation a:focus,
#navigation a:hover {
	background: #E8F6BF;
	color: #553;
}

/* -------- Content -------- */

#content {
	padding: 0 10px 24px;
}

#breadcrumbs {
	display: none;
}

/* -------- Footer -------- */

#footer {
	background: #8BBE2E url(../images/custom/footer_bg.gif) repeat-x;
	padding: 20px 10px;
	text-align: right;
}

#footer p {
	margin: 0;
}