/* This file allows you to override default styles in one central location for easier upgrade and maintenance. */

body {
	background: black;
}

.js .lfr-dock-list-container {
	height: 0px;
	overflow: visible;
}

.portlet-icons {
	right:0;
	top:5px;
}

#banner {
	background: #000 url(../images/custom/header.jpg) no-repeat;
	border: 0;
	float: center;
	height: 242px;
	margin: 0 auto;
	padding: 0 0 0 0;
	position: relative;
	text-align: left;
	width: 1003px;
}

blockquote {
	border: 1px solid #262626;
	color: #B2B2B2;
	padding: 0 10px;
}

.clear {
	clear: both;
}

.columns-1 #column-1,.columns-max #column-1 {
	display: table;
	padding-left: 7pt;
	padding-right: 0;
	width: 98%;
}

#content-wrapper {
	background: #000 url(../images/custom/container.png) repeat-y scroll 0;
	padding: 0 35px 0;
	width: 93%;
}

#footwrap #design {
	padding: 0 0 0 0;
}

#footwrap #p {
	display: block;
	margin-bottom: 2px;
	padding: 30px 0 0 0;
}

#footwrap a:hover {
	border: none;
	color: #DFDFDF;
	text-decoration: none;
}

#footwrap a:link {
	border: none;
	color: #FFF;
	font-weight: bold;
	text-decoration: none;
}

#footwrap a:visited :hover {
	border: none;
	color: #DFDFDF;
	text-decoration: none;
}

#footwrap a:visited {
	border: none;
	color: #FFF;
	font-weight: bold;
	text-decoration: none;
}

#footwrap {
	background: #FFF url(../images/custom/footer.jpg) 0 0 no-repeat;
	color: #FFF;
	float: center;
	font-family: 'arial', ' verdana';
	height: 75px;
	margin: 0 auto;
	text-align: center;
	width: 1003px;
}

.js .lfr-dock.interactive-mode h2 span {
	background: url(../images/dock/menu_bar.png) no-repeat 0 0;
	color: #FFF;
	display: block;
	font-size: 1.2em;
	margin-bottom: -7pt;
	padding: 0.5em 0.5em 0.5em 2em;
}

.js .lfr-dock.interactive-mode {
	float: right;
	min-width: 105px;
	right: 6px;
	top: -230px;
}

.portlet-title {
	background: #000 url(../images/custom/pbg.jpg) left top no-repeat;
	border-bottom: 2px dashed #E38200;
	color: #E38200;
	font-family: 'verdana', ' Helvetica', ' sans-serif';
	font-size: 15px;
	font-weight: bold;
	height: 20px;
	margin: 0 0 15px 0;
	padding: 0 0px 5px 30px;
	text-transform: uppercase;
}

.portlet {
	background: black;
	margin-bottom: 1em;
	text-align: left;
}

.respond h2,.comments h2 {
	border-bottom: 1px dashed #F19118;
	clear: both;
	color: #F19118;
	font-family: 'Arial', ' Helvetica', ' sans-serif';
	font-size: 20px;
	font-weight: normal;
	height: 25px;
	margin: 0 auto;
	padding: 9px 0 0 15px;
}

.respond input#submit {
	height: 29px;
	padding: 0;
	width: 72px;
}

.respond p {
	margin: 20px 0;
	padding: 0;
}

.top h1 a {
	color: #E38200;
	text-decoration: none;
}

.top h1 a:hover {
	border-bottom: 1px dashed #E38200;
	color: #E38200;
}

.top h1 {
	color: #E38200;
	font-family: 'Times New Roman', ' Times', ' serif';
	font-size: 28px;
	font-weight: bold;
	margin: 0 auto;
	padding-left: 120px;
	padding-top: 15px;
	position: relative;
	text-align: left;
	text-transform: uppercase;
}

.ie .top h1 a {
	margin-left: -100px;
}

.top h2 {
	color: #848484;
	font-size: 14px;
	font-weight: normal;
	margin: 0 auto;
	padding-left: 125px;
	padding-top: 0;
	position: relative;
	text-align: left;
}

.top {
	background: #000 url(../images/custom/top.jpg) no-repeat;
	float: center;
	font-style: "Times New Roman", Times, serif;
	height: 93px;
	margin: 0 auto;
	padding: 0 0 0 0;
	position: relative;
	width: 1003px;
}

#wrapper {
	background: #000 url(../images/custom/container.png) repeat scroll 0%50%;
	margin: 0 auto;
	width: 1003px;
}


/* Navigation */

#banner .logo {
	background: none;
	display: block;
	font-size: 2em;
	margin: 0 auto;
	padding: 1.25em 406pt 1.45em;
}

#navigation li a span {
	display: block;
	padding: 0em 0em;
}

#navigation li a {
	border: 2px solid #915800;
	color: #F79C0D;
	display: block;
	float: left;
	font-size: 15px;
	height: 26px;
	padding: 0 10px 0 10px;
	text-align: left;
	text-decoration: none;
}

#navigation li a,#navigation li.selected a {
	background: #282828;
	border: 2px solid #915800;
	color: #ADADAD;
	height: 26px;
}

#navigation li a:hover {
	background: #282828;
	border: 2px solid #5B5B5B;
	color: #ADADAD;
	height: 26px;
}

#navigation li {
	border: none;
	display: block;
	float: left;
	height: 26px;
	margin-right: 4px;
	padding: 0 0 0 0;
	margin-top: 10px;
	background: transparent;
}

.js #navigation .enter-page .save-page {
	background: transparent;
	padding-left: 10px;
	border: none;
	margin: 0;
	position: absolute;
	right:0px;
	top:5px;
}

.js #navigation .enter-page {
	margin-right:23px;
}

.ie.js #navigation .enter-page .save-page {
	top: 10px;
}

input[type="text"], input[type="password"], input[type="file"], input[type="submit"], input[type="button"], input[type="reset"], select, textarea, .textarea {
	padding:1px;
}

#navigation li.selected a span {
	background: transparent;
	padding-left: 0;
}

#navigation li.selected {
	background: #282828;
	border: 2px solid #915800;
	color: #ADADAD;
	height: 26px;
	margin-top: 0px;
}

#navigation ul {
	font-style: "Times New Roman", Times, serif;
	list-style: none;
	margin: 0 auto;
	padding: 0 0 0 0px;
	top: 0;
}

#navigation {
	background: transparent;
	border: none;
	float: center;
	font-style: "Times New Roman", Times, serif;
	height:55px;
	margin:-17px auto;
	padding:4px 0 0 400px;
	width: 100%;
}

.ie #navigation {
	margin-top: -20px;
}
.portlet-topper {
	background: black none repeat scroll 0 0%;
}

.portlet {
	color: white;
}
.ui-tabs {
	border-bottom: 1px solid #bfe1ff;
	margin: 0 0 1.5em 0;
	padding: 0 0 2.6em 1em;
}

.ui-tabs li {
	background: #eaf5ff url(../images/common/tabs_inactive_bg.png) repeat-x 0 100%;
	border-bottom: 0;
	display: inline;
	float: left;
	line-height: 2.25;
	margin-right: 0.8em;
	padding: 0;
	text-decoration: none;
}


.ui-tabs li a, .ui-tabs li span {
	display: block;
	float: left;
	padding: 0.35em 1em 0;
	text-decoration: none;
	border: 1px solid #bfe1ff;
	top: 0;
	background: transparent;
	color: black
}

.ui-tabs li.current {
	background: #bfe1ff url(../images/common/tabs_active_bg.png) repeat-x 0 0;
	font-weight: bold;
}

.ui-tabs li.current a, .ui-tabs li.current span {
	color: #333;
	padding: 0.15em 1em;
	background: transparent;
}

.ui-tabs li.current:hover, .ui-tabs li.current a:hover {
	background-color:transparent;
	text-decoration: none;
	background: #bfe1ff url(../images/common/tabs_active_bg.png) repeat-x 0 0;
}