/* Global */
#all-content-wrapper {
	position: relative;
}

#all-content-wrapper-left {
	padding: 0 0 0 22px;
	width:93%;
}

#all-content-wrapper-right {
	position: absolute;
	right:-215px;
	top: 0;
	width: 200px;
}

#banner h1.logo a {
	display: block;
	height: 200px;
	margin: 0 auto;
	padding: 0;
	text-align: center;
	text-decoration: none;
}

#banner h1.logo {
	left: auto;
	margin: 0;
	position: relative;
}

#banner {
	background: #E7E7E7 url('../images/custom/banner_bg.jpg') no-repeat scroll center bottom;
	height: 200px;
	margin: 0 auto;
	padding: 20px 0 0;
	position: relative;
	top: 0;
}

#content-wrapper {
	width: auto;
}

#footer {
	background: #E7E7E7 url('../images/custom/footer_bg.jpg') no-repeat scroll;
	clear: both;
	height: 63px;
	padding: 0 0 20px;
	width: 760px;
}

#wrapper {
	background: #E7E7E7 url('../images/custom/content_bg.png') repeat-y scroll;
	margin: 0 auto;
	padding: 0;
	width: 760px;
}

body {
	background: #E7E7E7;
}

/* Dock */
.lfr-dock h2 {
	text-align:left;
	margin-left: -25px;
}

.js .interactive-mode {
	right: 22%;
	top: 46px;
}

.lfr-dock {
	margin: 0 0 1em;
	position: relative;
	z-index: 60;
}

/* Navigation */
.js #navigation .enter-page .save-page {
	margin:4px 10px;
	position:absolute;
}

.js #add-page {
	background: transparent none repeat scroll 0 0%;
	border: medium none;
	right: auto;
	top: auto;
	width: 107px;
}

.ie.js #add-page {
	top: 25px;
	position: absolute;
}

.js #navigation .enter-page {
	background-color: transparent;
	padding: 0;
}

#navigation h2, .lfr-dock h2 {
	font-family: 'Lucida Grande', 'Verdana', 'Sans-Serif';
	font-size: 1.2em;
}

#navigation li {
	border: none;
}

#navigation li.selected a span {
	background: transparent;
	padding-left: 0;
}

#navigation li.selected a, #navigation li a:hover {
	background-color: transparent;
	color: #369;
}

#navigation ul li a, .lfr-dock li a, .js #add-page a {
	color: #06C;
	text-decoration: none;
}

#navigation ul li, .lfr-dock li, .js #add-page {
	color: #777;
	display: block;
	float: none;
	margin: 3px 0 0pt;
	position: relative;
}

#navigation ul, .lfr-dock ul {
	float: none;
	list-style-image: circle;
	list-style-position: outside;
	list-style-type: disc;
	margin: 5px 0 0pt 10px;
	marker-offset: auto;
	padding: 0;
}

#navigation {
	background: none;
	border: none;
}

/* Portlet */
.ie .portlet-title {
	padding-bottom: 5px;
}

.portlet-content {
	background-position: left bottom;
	color: #333;
	font: 1.2em/1.4em 'Lucida Grande', 'Verdana', 'Arial', sans-serif;
	padding: 10px 5px 25px 15px;
}

.portlet-icons {
	margin: 3px;
	position: absolute;
	right: 7px;
	text-align: right;
	top: 4px;
}

.portlet-title img {
	vertical-align: middle;
}

.portlet-title {
	background-position: top left;
	color: #333;
	display: block;
	font: bold 1.9em 'Trebuchet MS', 'Lucida Grande', 'Verdana', 'Arial', sans-serif;
	min-width: 50%;
}

.portlet-topper {
	background-position: right top;
	margin-right: -10px;
	padding-right: 40px;
	position: relative;
}

.portlet {
	border: none;
	margin: 10px 0;
	padding: 0;
	text-align: left;
}