/* -------- Global -------- */

#skip-to-content,
#heading .community-title,
#heading .page-title,
#navigation h1 {
	clip: rect(0 0 0 0);
	position: absolute;
}

body {
	background: #E7E7E7;
	padding: 16px;
}

/* -------- Wrapper / Skip / Sign-in -------- */

#wrapper {
	margin: 0 auto;
	position: relative;
	width: 967px;
}

#skip-to-content,
#sign-in {
	color: #FFF;
	right: 2em;
}

#skip-to-content {
	top: 2.75em;
}

#skip-to-content:active,
#skip-to-content:focus {
	clip: auto;
}

#sign-in {
	position: absolute;
	top: 1.5em;
}

/* -------- Heading -------- */

#heading {
	background: url(../images/custom/heading_bg.png) no-repeat;
	height: 194px;
}

#heading .company-title {
	margin: 0;
	padding: 70px 30px;
}

#heading .company-title a {
	margin: 0 auto;
}

/* -------- Navigation -------- */

#navigation {
	margin: 28px 0;
	position: absolute;
	right: 5px;
	width: 182px;
}

.ie6 #navigation {
	margin: 5px;
}

#navigation ul {
	list-style: none;
	margin: 0;
}

.ie6 #navigation ul,
.ie7 #navigation ul {
	zoom: 1;
}

#navigation ul:after {
	clear: both;
	content: "";
	display: block;
}

#navigation li,
#navigation a {
	text-decoration: none;
}

#navigation a {
	color: #27A;
	font: 14px/1.5 Verdana, Arial, Sans-Serif;
}

#navigation a:active,
#navigation a:focus,
#navigation a:hover {
	text-decoration: underline;
}

.ie6 #navigation .delete-tab {
	right: 0px;
	top: 5px;
}

/* -------- Content -------- */

#content {
	background: url(../images/custom/content_wrapper_bg.png);
	min-height:220px;
	padding: 20px 202px 0 22px;
}

.ie6 #content {
	margin-top: -22px;
}

#breadcrumbs {
	display: none;
}

/* ---------- Portlet ---------- */

.portlet {
	margin: 0 0 20px;
}

.portlet-topper {
	margin: 0 0 8px;
}

.portlet-title {
	font: 18px Trebuchet MS, Verdana, sans-serif;
	letter-spacing: -1px;
}

.portlet-title img {
	display: none;
}

.portlet-content {
	color: #444;
	font: 12px/1.8 Lucida Grande, Verdana, Arial, sans-serif;
	padding: 0;
}

/* -------- Footer -------- */

#footer {
	background: url(../images/custom/footer_bg.png);
	height: 54px;
}

#footer p {
	margin-left: 20px;
}