@import "compass";

.calendar-portlet {
	.allday-class-active .lfr-input-time {
		display: none;
	}

	.aui-scheduler-view-agenda-info-container {
		.aui-scheduler-view-agenda-info {
			line-height: 1.2;

			.aui-scheduler-view-agenda-info-biggie {
				line-height: 30px;
			}
		}
	}
}

.calendar-portlet-availability {
	margin: 0 30px;
}

.calendar-portlet-wrapper {
	background: #FFF;
	font-size: 12px;

	.aui-scheduler-event-all-day .aui-scheduler-event-title {
		display: none;
	}

	.aui-scheduler-event-disabled {
		@include opacity(0.8);
	}
}

.calendar-portlet-column-options {
	margin-left: -235px;
	width: 235px;
}

.calendar-portlet-column-parent {
	.aui-fieldset-content {
		padding-left: 235px;

		.aui-fieldset-content {
			padding-left: 0;
		}
	}
}

.calendar-portlet-event-recorder {
	table td {
		padding: 5px;
	}
}

.aui-scheduler-event-recorder-overlay-header {
	padding: 5px 25px 5px 10px;
}

.aui-scheduler-event-recorder-overlay-body select {
	max-width: 340px;
	width: 100%;
}

.aui-scheduler-event-recorder-overlay-content {
	background: #FAFAFA;
	border: 1px solid #C4C4C4;
	outline-width: 0;
	padding: 7px;
}

.aui-scheduler-event-recorder-overlay-content:hover {
	background: #FFC;
	border-color: #FC0;
}

.calendar-portlet-event-loading {
	@include opacity(0.5);
}

.calendar-portlet-event-maybe, .calendar-portlet-event-pending {
	@include opacity(0.8);
}

.calendar-portlet-invite-resources-input {
	margin: 2px 0;
	width: 350px;
}

.calendar-booking-invitations .aui-calendar-list-empty-message {
	margin: 4px 0 0 4px;
}

.aui-calendar-list-empty-message {
	color: #666;
	margin-top: 4px;
}

.aui-calendar-list-item {
	color: #222;
	cursor: pointer;
	display: block;
	font-size: 12px;
	line-height: 20px;
	overflow: hidden;
	padding: 0 5px;
	position: relative;
	text-overflow: ellipsis;
	white-space: nowrap;
}

.aui-calendar-list-item-hover, .aui-calendar-list-item-active {
	background-color: #DCE3EA;

	@include force-wrap();

	.aui-calendar-list-item-arrow {
		display: block;
	}
}

.aui-calendar-list-item-arrow:hover, .aui-calendar-list-item-active .aui-calendar-list-item-arrow {
	background-position: 0 -11px;
}

.aui-calendar-list-item-arrow {
	background: url(../images/arrow.png) no-repeat 0 0;
	border: 1px solid #B5B5B5;
	display: none;
	height: 11px;
	overflow: hidden;
	position: absolute;
	right: 5px;
	text-indent: -100px;
	top: 4px;
	vertical-align: middle;
	width: 11px;
}

.aui-calendar-list-item-color {
	border: 1px solid #DCDCDC;
	display: inline-block;
	height: 11px;
	margin-right: 4px;
	position: relative;
	top: 2px;
	width: 11px;
}

.aui-calendar-list-item-label {
	line-height: 13px;
}

.aui-calendar-list-item-hidden .aui-calendar-list-item-label {
	color: #555;
}

.calendar-portlet-list-header {
	color: #222;
	cursor: pointer;
	display: block;
	font-size: 13px;
	font-weight: normal;
	line-height: 20px;
	margin: 10px 0 0 0;
	padding: 2px 0;
	position: relative;
	text-decoration: none;

	.aui-calendar-list-item-arrow {
		display: block;
		top: 7px;
	}

	&:hover {
		background-color: #DCE3EA;
		color: #222;
	}
}

.calendar-portlet-calendar-list {
	margin-left: 11px;

	.calendar-portlet-add-calendars-input {
		margin: 2px 0 5px;
		padding: 5px 4px;
		width: 200px;
	}
}

.calendar-portlet-list-text {
	vertical-align: middle;
}

.calendar-portlet-list-arrow {
	background: url(@theme_image_path@/aui/icon_sprite.png) -34px -18px;
	display: inline-block;
	height: 13px;
	vertical-align: middle;
	width: 12px;
}

.calendar-portlet-reminder-section {
	padding: 1px;
}

.aui-toggler-header-expanded .calendar-portlet-list-arrow {
	background-position: -66px -18px;
}

.aui-simple-menu {
	position: absolute;
}

.aui-simple-menu-hidden {
	display: none;
}

.aui-simple-menu-content {
	background: none repeat scroll 0 0 #FFF;
	border: 1px solid rgba(0, 0, 0, 0.2);
	font-size: 13px;
	margin: 0;
	outline: medium none;
	padding: 6px 0;
}

.aui-simple-menu-item {
	color: #333;
	cursor: pointer;
	list-style-type: none;
	overflow: hidden;
	padding: 6px 7em 6px 30px;
	text-overflow: ellipsis;
	white-space: nowrap;

	&:hover {
		background-color: #EEE;
		border: dotted #EEE;
		border-width: 1px 0;
		padding-bottom: 5px;
		padding-top: 5px;
	}
}

.aui-simple-menu-separator {
	border-top: 1px solid #EBEBEB;
	font-size: 0;
	height: 0;
	margin: 6px 0;
}

.aui-simple-menu-item-hidden {
	display: none;
}

.aui-simple-color-picker {
	white-space: normal;
}

.aui-simple-color-picker-item {
	border: 1px solid;
	cursor: pointer;
	display: inline-block;
	height: 14px;
	margin: 0 4px 4px 0;
	width: 14px;
}

.aui-simple-color-picker-item:hover, .aui-simple-color-picker-item-selected {
	border-color: #000 !important;
}

.calendar-portlet-colors {
	width: 240px;
}

.calendar-portlet-color-box {
	display: inline-block;
	height: 80%;
	vertical-align: middle;
	width: 80%;
}

.calendar-portlet-recurrence-summary {
	font-weight: bold;
	text-transform: capitalize;

	span {
		text-transform: none;
	}
}

.calendar-portlet-recurrence-container {
	.aui-field-content, .aui-field-wrapper-content {
		margin: 2px;
	}
}

.calendar-portlet-recurrence-title {
	font-weight: bold;
	margin-right: 10px;
	padding: 4px 10px;
	text-align: right;
	vertical-align: top;
}

.calendar-portlet-field-date {
	white-space: nowrap;

	.calendar-portlet-field-datepicker {
		display: inline-block;
	}

	.aui-field {
		top: -10px;
		position: relative;
	}
}

.calendar-portlet-import-container {
	.portlet-msg-error, .portlet-msg-help, .portlet-msg-success {
		margin: 10px 0;
		width: 420px;
	}

	.aui-field-input-text {
		width: 454px;
	}
}

.calendar-portlet-wrapper {
	.aui-scheduler-event-all-day .aui-scheduler-event-title {
		display: none;
	}

	.aui-scheduler-event-disabled {
		@include opacity(0.8);
	}
}

.calendar-booking-invitations .aui-field-label {
	margin-left: 15px;
}

.calendar-portlet-time-zone-field .aui-field .aui-field-content {
	margin: 0;
}

.calendar-portlet-confirmation-text {
	padding: 5px;
}

.aui-scheduler-view-day .aui-scheduler-view-table .aui-scheduler-view-table-data-col {
	padding-top: 5px;
}

.aui-scheduler-view-table-data-event {
	padding: 0 3px 0 3px;

	.aui-scheduler-event-content {
		font-size: 10px;
	}
}

.aui-scheduler-view-day-content .yui3-widget-hd {
	padding-top: 4px;
}

.aui-scheduler-view-day-header-day a {
	font-size: 12px;
	padding: 2px;
}

.yui3-skin-sam .calendar-portlet-mini-calendar .yui3-calendar-content {
	background: #ffffff !important;
	border: 1px solid #DDD;
}

.aui-dialog-iframe-popup .calendar-portlet .aui-fieldset {
	margin-bottom: 2em;
}

.calendar-booking-invitations {
	min-height: 110px;
}

.calendar-booking-reminders {
	min-height: 52px;
}

.calendar-subscribe-link {
	background: url(@theme_image_path@/common/rss.png) 8px center no-repeat;
}

.property-list {
	margin-left: 0;
	margin-top: 0;
	padding: 0;

	dt {
		font-weight: bold;
	}
}
	
.rss-time-interval {
	margin-top: -1em;
	margin-left: 2em;
}

.yui3-skin-sam {
	.yui3-calendar-day.lfr-busy-day {
		background: transparent;
		position: relative;

		&.yui3-calendar-day-selected {
			background-color: #B3D4FF;
		}

		&:hover {
			background-color: #06C;
			color: #FFF;
		}
	}

	.yui3-calendar-day.lfr-busy-day:after {
		border-bottom: 7px solid transparent;
		border-right: 7px solid black;
		content: '';
		display: block;
		height: 0;
		position: absolute;
		right: 0;
		top: 0;
		width: 0;
	}
}

.ie6, .ie7 {
	.yui3-skin-sam .yui3-calendar-day.lfr-busy-day {
		background: transparent url(../images/lfr-busy-day-arrow.png) right top no-repeat;
	}
}

/* --- Extras --- */

.aui-scheduler-event-recorder-overlay-content {
	@include background-image(linear-gradient(top, #F7F7F7, white));
	@include border-radius(2px);
	@include box-shadow(inset 0 1px 2px #ddd);
	@include transition(background 0.3s ease-in, border-color 0.3s ease-out);
}

.calendar-portlet-wrapper {
	@include border-radius(5px);
}

.calendar-portlet-list-header .aui-calendar-list-item-arrow, .aui-calendar-list-item .aui-calendar-list-item-color, .aui-calendar-list-item .aui-calendar-list-item-arrow {
	@include border-radius(3px);
}

.aui-calendar-list-item-arrow, .aui-calendar-list-item-color, .aui-simple-color-picker-item {
	@include border-radius(1px);
}

.aui-simple-menu-content {
	@include box-shadow(0 2px 4px rgba(0, 0, 0, 0.2));
}

.aui-simple-menu-item {
	@include transition(background .13s);

	&:hover {
		@include transition(background 0s);
	}
}

.aui-simple-color-picker-item {
	@include transition(border-color .13s);
}

.aui-simple-color-picker-item:hover, .aui-simple-color-picker-item-selected {
	@include transition(border-color 0s);
}