.social-networking-portlet-friends .taglib-search-iterator-page-iterator-bottom .taglib-page-iterator {
	padding-top: 5px;
}

.social-networking-portlet-friends .taglib-search-iterator-page-iterator-bottom .search-results {
	display: none;
}

.social-networking-portlet-friends .taglib-search-iterator-page-iterator-bottom .search-pages {
	float: none;
}

.social-networking-portlet-friends .taglib-search-iterator-page-iterator-bottom .search-pages .page-links {
	float: none;
	text-align: left;
}

.social-networking-portlet-friends .taglib-search-iterator-page-iterator-bottom .search-pages .page-links .previous {
	border: none;
}