/* Web design released by Flash Gallery */ 

/* Global */
body {
	background: url(../images/custom/body.jpg) repeat-x #8D8D8D;
	color: #CCC;
	font-family: Arial, Tahoma, Helvetica, sans-serif;
	font-size: 12px;
	line-height: 16px;
	margin: 0;
}

#banner {
	height: 150px;
}

#banner	.logo {
	margin: 0;
}

#banner .logo a {
	position: absolute;
	top: 35px;
	left: 25px;
}

#wrapper {
	background: url(../images/custom/body_bckg.jpg) repeat-y center;
	margin: 0 auto;
	position: relative;
	width: 980px;
}

#content-wrapper {
	min-height: 780px;
	padding: 0 30px;
}



/* Dock */
.js .interactive-mode {
	right: 20px;
	top: 0px;
}

/* Navigation */
#navigation {
	position: absolute;
	left: 0;
	top: 5px;
	width: 70%;
	z-index: 21;
}

#navigation li {
	border: none;
}

#navigation li a {
	color: #D3DADD;
	padding: 7px 25px;
	text-decoration: none;
}

#navigation li.selected a span {s
	padding-left: 0px;
}

#navigation li.selected a span {
	color: #777;
	font-weight:bold;
	text-decoration: underline;
}

.js #add-page {
	border: none;
	position: absolute;
	right: 0;
	top: 0;
	width: 100px;
}

.js #add-page a {
	color: #D3DADD;
	font-weight: bold;
	padding: 7px 20px;
	text-decoration: none;
}

.js #navigation .enter-page {
	padding: 0px;
}

/* Portlet */
.portlet {
	border: none;
	margin-bottom: 30px;
}

.portlet-topper {
	background: none;
	border: none;
}

/* Liferay UI */
.ui-tabs li a,
.tabs li span {
	background: none;
	border-right: none;
}

.ui-tabs {
	border-bottom: none;
}

.ui-tabs li.current a,
.ui-tabs li.current span {
	background: none;
	border: none;
	color: #777;
	text-decoration: none;
}

.ui-tabs li.current:hover,
.ui-tabs li.current a:hover {
	background-color: #000;
}

.ui-tabs li a:hover,
.ui-tabs li span:hover {
	color: #777;
}

.ui-dialog {
	background-color: #000;
}

.uni-form {
	background: #000;
}

/* Portlet Specific */
.portlet-calendar .calendar-day .day-number {
	color: #777;
	border: none;
}

.lfr-table tr td:last-child,
.lfr-table tr td.last-child,
.lfr-table tr th:last-child,
.lfr-table tr th.last-child {
	color: #777;
}

.portlet-section-body td {
	color: #000;
}

.portlet-calendar .calendar-container {
	background: #000;
}