/*Web design released by Flash Gallery
© Copyright 2008 Your Website*/ 
body {
	background: url(../images/custom/body.jpg) repeat-x #8d8d8d;
	color: #cccccc;
	font-family: Arial, Tahoma, Helvetica, sans-serif;
	font-size: 12px;
	line-height: 16px;
	margin: 0;
}
#navigation {
	background: none;
	border: none;
	margin:-72pt auto 120px 5px;
	width:70%;
	position: relative;
	z-index: 21 !important;
}
#navigation li {
	border: none;
}

#navigation li a {
	color: #d3dadd;
	padding: 7px 25px;
	text-decoration: none;
}
#navigation li.selected a, #navigation li a:hover {
	background-color: transparent;
}
#navigation li.selected a span {
	background: transparent;
	padding-left: 0px;
}
#wrapper {
	background: transparent url(../images/custom/body_bckg.jpg) repeat-y center;
	margin: -28px auto 0;
	width: 980px;
}
#banner {
	background: none;
}
#content-wrapper {
	min-height: 780px;
	padding: 0 30px;
}
.portlet {
	background: transparent;
	border: none;
}
#banner .logo {
	position: relative;
	top: 55px;
}
#banner .logo a {
	margin-left: 35px;
	margin-top: 30px;
}
.portlet-topper {
	background: none;
	border: none;
}
.js #add-page {
	background: transparent url(../images/common/add.png) left 50% no-repeat;
	border: medium none;
	float: right;
	position: relative;
	right: -60px;
	top: -25px;
	width: 100px;
}
.js #add-page a {
	color: #d3dadd;
	font-weight: bold;
	padding: 7px 20px;
	text-decoration: none;
}
.js #navigation .enter-page {
	background-color: transparent;
	padding: 0px;
}
.ui-tabs li a, .tabs li span {
	background: transparent none repeat scroll 0% 0%;
	border-right: medium none;
}
.ui-tabs {
	border-bottom: medium none;
}
.ui-tabs li.current a, .ui-tabs li.current span {
	background: transparent none repeat scroll 0% 0%;
	border: medium none;
	color: grey;
	text-decoration: none;
}
.ui-tabs li.current:hover, .ui-tabs li.current a:hover {
	background-color: black;
}
.ui-tabs li a:hover, .ui-tabs li span:hover {
	background: transparent;
	color: grey;
}
.js .interactive-mode {
	right: 20px;
	top:0;
}
#navigation li.selected a span {
	color:grey;
	font-weight:bold;
	text-decoration: underline;
}
.ui-dialog {
	background-color:black;
}
.uni-form {
	background:black none repeat scroll 0% 0%;
}
.portlet-calendar .calendar-day .day-number {
	color:grey;
	border: none;
}
.lfr-table tr td:last-child, .lfr-table tr td.last-child, .lfr-table tr th:last-child, .lfr-table tr th.last-child {
	color: grey;
}
.portlet-section-body td {
	color: black;
}
.portlet-calendar .calendar-container {
	background:black none repeat scroll 0 0;
}