/* -------- Global -------- */

#skip-to-content,
#heading .community-title,
#heading .page-title,
#navigation h1 {
	clip: rect(0 0 0 0);
	position: absolute;
}

body {
	background: #828F95;
}

#heading,
#navigation {
	margin: 0 auto;
	width: 960px;
}

/* -------- Wrapper / Skip / Sign-in -------- */

#wrapper {
	font: 12px/1.5 Arial, Helvetica, sans-serif;
	overflow: hidden;
}

#skip-to-content,
#sign-in {
	color: #FFF;
	right: 2em;
}

#skip-to-content {
	top: 1.5em;
	z-index: 1;
}

#skip-to-content:active,
#skip-to-content:focus {
	clip: auto;
}

#sign-in {
	position: absolute;
	top: 3.25em;
}

/* -------- Banner -------- */

#banner {
	-moz-box-shadow: 0 1px 2px #999;
	-webkit-box-shadow: 0 1px 2px #999;
	-box-shadow: 0 1px 2px #999;
	background: #1E262D;
	background-image: -moz-linear-gradient(#0E1114, #1E262D);
	background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0.0, #0E1114), color-stop(1.0, #1E262D));
	position: relative;
}

#heading .company-title {
	margin: 0;
	padding: 25px 0 20px;
}

/* -------- Navigation -------- */

#navigation {
	position: relative;
}

#navigation ul {
	-moz-box-shadow: -1px 0 0 #13191D;
	-webkit-box-shadow: -1px 0 0 #13191D;
	bottom: 0;
	box-shadow: -1px 0 0 #13191D;
	list-style: none;
	margin: 0;
	position: absolute;
	right: 0;
}

#navigation li,
#navigation a {
	float: left;
}

#navigation a {
	-moz-border-radius-topleft: 4px;
	-moz-border-radius-topright: 4px;
	-webkit-border-top-left-radius: 4px;
	-webkit-border-top-right-radius: 4px;
	background: #222E35;
	background-image: -moz-linear-gradient(#222E35, #070A0B);
	background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0.0, #222E35), color-stop(1.0, #070A0B));
	border: 1px solid;
	border-color: #373F43 #141B1E #000 #1A2327;
	border-top-left-radius: 3px;
	border-top-right-radius: 3px;
	color: #83B1C0;
	display: block;
	padding: 10px 25px;
	text-decoration: none;
}

#navigation a:active,
#navigation a:focus,
#navigation a:hover {
	color: #FFF;
}

#navigation .selected a {
	background-image: -moz-linear-gradient(#253239, #222E34);
	background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0.0, #253239), color-stop(1.0, #222E34));
}

/* -------- Content -------- */

#content {
	background-image: -moz-linear-gradient(#DfE1E3, #828F95);
	background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0.0, #DfE1E3), color-stop(1.0, #828F95));
	overflow: hidden;
}

#breadcrumbs {
	display: none;
}

#main-content {
	-moz-border-radius-topleft: 4px;
	-moz-border-radius-topright: 4px;
	-webkit-border-top-left-radius: 4px;
	-webkit-border-top-right-radius: 4px;
	background: #FFF;
	border-top-left-radius: 3px;
	border-top-right-radius: 3px;
	padding: 25px;
	margin: 15px auto 0;
	width: 910px;
}

/* -------- Footer -------- */

#footer {
	-moz-border-radius-bottomleft: 4px;
	-moz-border-radius-bottomright: 4px;
	-webkit-border-bottom-left-radius: 4px;
	-webkit-border-bottom-right-radius: 4px;
	background: #DAE4E7;
	border-bottom-left-radius: 3px;
	border-bottom-right-radius: 3px;
	margin: 0 auto 15px;
	padding: 20px 25px;
	width: 910px;
}

#footer p {
	margin: 0;
}