/* This file allows you to override default styles in one central location for easier upgrade and maintenance. */

/* --- BASE --- */

body {
	background: #828F95 url(../images/common/background.png) repeat-x;
}

#wrapper {
	width: 976px;
}

#back-container {
	background: transparent url(../images/common/content_bg.png) no-repeat;
	min-height: 465px;
}

#content-wrapper {
	margin: 0 auto;
	padding: 7px;
}

.ie #content-wrapper {
	zoom: 1;
}

#content-wrapper #layout-grid {
	margin: 0 auto;
}

#banner {
	background: url(../images/common/banner_bg.png);
	height: 99px;
}

#banner .logo {
	background: none;
}

#footer {
	background: #E2E6E8 url(../images/common/footer_bg.jpg) no-repeat 50% 50%;
	border: 1px solid #6B767B;
	height: 125px;
	margin: 0 auto;
	position: relative;
	width: 950px;
}

/* ---- NAVIGATION ---- */

#navigation {
	background: transparent url(../images/navigation/bg.png) no-repeat;
	height: 25px;
	margin: 0;
	overflow: visible;
	padding: 1px 0 0 2px;
	position: relative;
	width: 100%;
	z-index: 10;
}

#navigation li {
	background: none;
	border-right: 1px solid #1F242A;
	margin: 0;
	padding: 5px 25px 4px;
}

#navigation li:hover {
	background: #D8DDE0;
	border-bottom: #ABAFB2;
}

#navigation li:hover a {
	color: #000;
}

#navigation li a {
	background: none;
	color: #B4C1C9;
	font-size: 11px;
	font-weight: bold;
	padding: 0;
}

#navigation li a span {
	background: none;
	padding: 0;
}

#navigation li a:hover {
	color: #000;
	padding-bottom: 0;
}

#navigation li a:hover span {
	background: none;
}

#navigation li.selected {
	background: #1F242A url(../images/navigation/bullet_selected.png) no-repeat 12px 50%;
	padding-bottom: 4px;
}

.ie6 #navigation li.selected {
	background: #1F242A;
}

#navigation li.selected:hover {
	background: #D8DDE0;
}

.ie6 #navigation li.init {
	background: #D8DDE0;
}

#navigation li.selected a {
	color: #FFF;
	padding: 0;
}

#navigation li.selected a span {
	background: none;
	font-size: 1em;
	padding: 0;
}

#navigation li.selected a:hover {
	border-bottom: #ABAFB2;
	padding-bottom: 0;
}

#navigation li.init a {
	color: #000;
}

.js #navigation .enter-page {
	background: none;
	margin-top: -2px;
	padding: 0;
}

.js #add-page a {
	color: #666;
}

.js #add-page {
	float: right;
	font-weight: bold;
	padding-top: 0px;
}

.js #add-page a:hover span {
	background: none;
}

.js #add-page a span {
	background: none;
}

/* --- DOCK --- */

.js .lfr-dock.interactive-mode {
	right: 13px;
	top: 0px;
}

.js .lfr-dock.interactive-mode h2 {
	margin: 0px;
	padding: 0 41px 0 0;
}

.js .lfr-dock.interactive-mode h2 span {
	font-size: 1.2em;
	font-weight: normal;
	padding: 0.3em 0.5em 0.4em 2.2em;
	text-align: left;
}

/* --- SEARCH --- */

#banner .search {
	position: absolute;
	right: 13px;
	top: 35px;
}

#banner .search form {
	padding-right: 49px;
	padding-top: 2px;
	position: relative;
}

.ie6 .search input.text {
	background: #FFF;
	border: none;
	color: #211C19;
	font-size: 16px;
	font-weight: normal;
	margin: 0px -10px 0px 0px;
	padding: 3px;
	width: 150px;
}

#banner .search input[type=text] {
	background: #FFF;
	border: none;
	color: #211C19;
	font-size: 16px;
	font-weight: normal;
	margin: 0px -10px 0px 0px;
	padding: 3px;
	width: 150px;
}

#banner .search input[type=image] {
	display: none;
}

#banner .search input.focus {
	background: #FFF;
}

#banner .search .search-input-link {
	background: url(../images/common/search_btn.png) no-repeat;
	display: block;
	height: 26px;
	position: absolute;
	right: 0;
	top: 2px;
	width: 39px;
}

.ie #banner .search .search-input-link {
	top: 3px;
}

/* ---------- Language ---------- */

#banner .lfr-dock .lang {
	position: absolute;
	right: 110%;
	text-align: right;
	top: 4px;
	width: 350px;
}

/* --- PORTLET --- */

.portlet, .portlet-topper, .portlet-content, .portlet-title {
	background: #FFF none;
	margin: 0;
}

.portlet {
	margin: 12px;
	padding: 0;
}

.ie7 .portlet {
	zoom: 1;
}

.portlet-content {
	padding: 12px;
}

.portlet-topper {
	border-bottom: 1px solid #D9D9D9;
}

.portlet-title {
	font-size: 17px;
	padding: 12px 0 12px 12px;
}

.ie6 .portlet-icons {
	padding-right: 10px;
}

/* --- LAYOUT SPECIFIC --- */

#portlet-wrapper- {
	/* -- liferay old -- */

	background: transparent;
	margin: 0;
	padding: 14px;
}

#portlet-wrapper-sign-in {
	/* -- liferay new -- */

	background: transparent;
	margin: 0;
	padding: 14px;
}

#layout-grid .lfr-portlet-column.empty {
	display: none;
}

#content-wrapper.columns-max {
	padding: 2px;
}

.columns-max #column-1 {
	background: #D5DADE;
	border: 1px solid #6E7679;
	margin: 11px;
	width: 948px;
}

.lfr-portlet-column {
	background: #D5DADE;
	border: 1px solid #6E7679;
	margin-bottom: -100001px;
	padding-bottom: 100000px;
}

#layout-grid .lfr-column {
	overflow: hidden;
}

.columns-1 #column-1 .lfr-portlet-column {
	margin-bottom: 0;
	padding-bottom: 0;
}

#wrapper .columns-1 .lfr-column {
	padding: 5px;
	width: 950px;
}

.columns-2 #column-1 {
	padding: 5px;
}

.columns-2 #column-2 {
	padding: 5px;
}

.portal-popup #content-wrapper {
	background: none;
	margin: 0;
}

.portal-popup .columns-max #column-1 {
	background: #fff;
	margin: 0;
	padding: 0;
	width: 100%;
}

body.portal-popup {
	padding: 0;
}

.portal-popup #p_p_id_15_ {
	background: #FFF;
	padding: 2px;
}

/* --- DROP DOWN MENU --- */

#navigation .child-menu {
	background: url(../images/common/menu_drop.png) scroll no-repeat left bottom;
	height: auto;
	left: -1px;
	overflow: visible;
	padding-bottom: 5px;
	position: absolute;
	top: 25px;
	width: 209px;
	z-index: 79;
}

.ie #navigation .child-menu {
	height: 1;
}

#navigation .child-menu ul {
	height: auto;
	padding-bottom: 2px;
}

#navigation .child-menu ul , #navigation .child-menu li , #navigation .child-menu a {
	background: transparent none;
}

#navigation .child-menu ul , #navigation .child-menu li {
	float: none;
}

#navigation .child-menu li {
	border: none;
	display: block;
	padding: 5px 10px;
}

#navigation .child-menu li a {
	color: #000;
	padding: 0 10px;
}

#navigation .child-menu a:hover {
	background: #000;
	color: #fff;
}

/* --- BOTTOM NAV --- */

#footer .copyright-notice, #footer ul {
	bottom: -45px;
	padding-bottom: 10px;
	position: absolute;
}

#footer .copyright-notice {
	color: #FFF;
}

#footer ul {
	right: 0;
}

#footer li {
	border-right: 1px solid #FFF;
	display: inline;
	float: left;
	margin-left: 9px;
	padding-right: 8px;
}

#footer li.last-child {
	border: none;
	padding: 0;
}

#footer li a {
	color: #FFF;
	text-decoration: none;
}

#footer li a:hover {
	color: #FFF;
	text-decoration: underline;
}

#footer .lang {
	bottom: -60px;
	padding-bottom: 10px;
	position: absolute;
}

/* --- BLOGS --- */

.portlet-blogs .entry-body {
	font-size: 12px;
	line-height: 1.3;
}

.portlet-blogs .entry-author {
	font-size: 11px;
	margin-bottom: 1em;
}

.portlet-blogs .entry-title {
	font-size: 1.5em;
	margin-bottom: 3px;
}

/* --- CALENDAR --- */

#content-wrapper .portlet-calendar {
	font-size: 10px;
}

/* --- MESSAGE BOARDS --- */

.portlet-section-body .message-board-thread-top {
	border-bottom-color: #3A4E66;
}

.portlet-section-alternate .message-board-thread-top {
	border-bottom-color: #212C3A;
}

.message-board-message-container .portlet-section-alternate td {
	border: 1px solid #212C3A;
}

.message-board-message-container .portlet-section-body td {
	border: 1px solid #3A4E66;
}

#content-wrapper .message-board-thread-controls {
	border: none;
}

#content-wrapper .message-board-title {
	border: none;
	color: #151C25;
	padding: 5px;
}

#content-wrapper .toggle_id_message_boards_view_message_thread {
	border: none;
	margin-bottom: 10px;
}

.message-board-message-container table {
	color: #E7EEF6;
}

.message-board-code, .message-board-quote {
	background: #EEE;
	border: 1px solid #CCC;
	padding: 5px;
}

.lfr-highlighted, .lfr-highlighted a {
	color: #ffc;
}

ul.message-board-edit-controls {
	list-style: none;
}

/* --- WORLD OF LIFERAY -- */

#top-menu {
	bottom: 6px;
	font: bold 10px Arial,Verdana,sans-serif;
	position: absolute;
	right: 12px;
}

#top-menu a {
	color: #000;
	padding: 0 3px;
	text-decoration: none;
}

#top-menu a:hover {
	text-decoration: underline;
}

#navigation.profile {
	background-image: url(../images/navigation/profile_bg.png);
}

#navigation.profile li {
	background: #060708;
	position: relative;
	z-index: 100;
}

#navigation.profile .group {
	position: relative;
	z-index: 10000;
}

#navigation.profile .group .group-indicator {
	background: url('../images/navigation/group_indicator.png') no-repeat;
	height: 10px;
	position: absolute;
	right: -7px;
	top: 8px;
	width: 8px;
}
#navigation.profile ul li a {
	color: #B4C1C9;
}

#navigation.profile ul li.selected a, #navigation.profile ul li.selected:hover a {
	color: #fff;
}

#navigation.profile ul li:hover {
	background: #060708;
}

#navigation.profile ul li.group {
	background: #deedf4;
	border-bottom: #ABAFB2;
	font-size: 11px;
}

#navigation.profile ul li.group span {
	cursor: default;
	font-weight: bold;
}

#navigation.profile ul li.selected:hover {
	background: #1F242A url(../images/navigation/bullet_selected.png) no-repeat 12px 50%;
}

#navigation.profile ul li a:hover span {
	text-decoration: underline;
}

.portlet-activities .day-separator, .portlet-activities .first-day-separator {
	font-size: 12px;
	font-weight: bold;
}

.ie .portlet-recent-bloggers .taglib-search-iterator {
	width: 190px;
}

.portlet-recent-bloggers .user-name {
	min-width: 100px;
	font-weight: bold;
}

.ie .portlset-recent-bloggers .user-name {
	width: 100px;
}

.portlet-recent-bloggers .user-profile-image {
}

.portlet-recent-bloggers .user-details {
	font-size: 11px;
	line-height: 1.3;
}

.portlet-recent-bloggers .portlet-section-body td, .portlet-recent-bloggers .portlet-section-alternate td, .portlet-recent-bloggers .portlet-section-body-hover td, .portlet-recent-bloggers .portlet-section-alternate-hover td {
	border: none;
	padding: 5px 10px;
}

.portlet-recent-bloggers .portlet-section-body td td, .portlet-recent-bloggers .portlet-section-alternate td td, .portlet-recent-bloggers .portlet-section-body-hover td td, .portlet-recent-bloggers .portlet-section-alternate-hover td td {
	padding: 0;
	padding-right: 5px;
}

.portlet-recent-bloggers .portlet-section-body td {
	background: #eef0f2;
}

.portlet-recent-bloggers .portlet-section-body-hover td, .portlet-recent-bloggers .portlet-section-alternate-hover td {
	background: #d5dade;
}

.portlet-recent-bloggers a {
	text-decoration: none;
}