/**
 * This file allows you to override default styles in one central location for easier upgrade and maintenance.
 *
 * This CSS file is loaded last and will overwrite all other css files.
 *
 */

/* --- Styles in base.css --- */

body {
	background: #000 url(../images/common/bg.png) repeat fixed 0% 100%;
}

a {
	outline: 0;
}

#wrapper {
	width: 100%;
}

#content-wrapper {
	font-size: 1.2em;
}

.popup {
	margin: 30px 0 0 0;
}

.popup-alert-notice, .popup-alert-warning {
	margin: 30px 0 0 0;
}

.maximized .popup-alert-notice, .maximized .popup-alert-warning {
	margin: 0;
}

/* --- Styles in navigation.css --- */

.js #navigation-container .interactive-mode {
	background: none;
	right: 0;
	top: 0;
	width: 170px;
}

.js #navigation-container .interactive-mode h2 {
	background: none;
	height: 30px;
	margin: 0;
	padding: 0;
}

.js #navigation-container .interactive-mode h2 span {
	background: none;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 1em;
	margin: -0.75em 0 0 0;
	padding: 0;
	position: relative;
	text-align: center;
	top: 50%;
}

.js #navigation-container .lfr-dock.expanded .lfr-dock-list-container {
	margin-left: 1px;
	margin-top: 0.9em;
}

.ie.js #navigation-container .lfr-dock.expanded .lfr-dock-list-container {
	margin-top: auto;
}

.js #navigation-container .interactive-mode ul {
	background: #FFF;
	border-left: none;
}

.js #navigation-container .interactive-mode li {
	border-top: none;
}

.js #navigation-container .interactive-mode li a {
	border-top: none;
}

.js .interactive-mode li a {
	border-top: none;
	color: #000;
	font-size: 1.1em;
	margin-left: 0;
	background-position: 1em 50%;
	padding: 0.5em 0pt 0.5em 3em;
}

.ie.js .interactive-mode .lfr-flyout.has-children {
	min-width: 155px;
}

.js .interactive-mode .my-places .show-my-places {
	right: 99%;
}

.js .interactive-mode .my-places li .my-places-toggle {
	border-bottom: 1px solid #CCCCCC;
}

/* --- Styles in portlet.css --- */

.portlet, .portlet-topper, .portlet-content, .portlet-title {
	background: none;
}

.portlet {
	margin: 0;
	table-layout: fixed;
	width: 100%;
}

.portlet-topper {
	margin-right: 0;
	padding-right: 0;
}

.portlet-title {
	color: #FFF;
	padding: 8px 0 4px 0;
}

.portlet-title img {
	vertical-align: text-top;
}

.portlet-content {
	padding: 5px;
}

.portlet-resize-handle {
	bottom: 5px;
	right: 7px;
}

.ie6 .portlet-resize-handle {
	bottom: 1px;
}

.portlet-decorate-resize-container {
	min-width: 100px;
}

.portlet-borderless-container {
	color: #FFF;
}

/* --- Styles in tabs.css --- */

.ie .tabs {
	padding: 0 0 2.7em 1em;
}

/**
 * Styles specific to the Desktop Classic Theme
 *
 */

/* --- Base --- */

body.nonfreeform {
	min-width: 976px;
}

/* --- Navigation --- */

#navigation-container {
	background: transparent url(../images/navigation/bg.png) repeat-x scroll 0% 0%;
	height: 30px;
	width: 100%;
}

#navigation-container ul.menu {
	float: left;
	height: 30px;
	margin: 0;
	position: relative;
}

#navigation-container ul.menu li {
	float: left;
	font-family: Arial, Helvetica, sans-serif;
	list-style-type: none;
}

#navigation-container li.selected {
	font-size: 1.7em;
	margin: -0.55em 0 0 0;
	padding: 0 0 0 10px;
	position: relative;
	top: 50%;
}

#navigation-container li.selected a {
	color: #FFF;
	text-decoration: none;
}

#navigation-container li.item {
	font-size: 1.2em;
	font-weight: bold;
	margin: -0.75em 0 0;
	padding: 0 10px;
	position: relative;
	top: 50%;
}

#navigation-container li.item a {
	color: #FFF;
	text-decoration: none;
}

#navigation-container li.item a:hover {
	text-decoration: underline;
}

#navigation-container li.spacer {
	background: transparent url(../images/navigation/menu_spacer.png) no-repeat scroll 0% 0%;
	height: 30px;
	width: 12px;
}

#navigation-container .dock-spacer {
	background: transparent url(../images/navigation/dock_spacer.png) no-repeat scroll 0% 0%;
	height: 30px;
	position: absolute;
	right: 170px;
	top: 0;
	width: 2px;
}

/* --- Bottom Navigation --- */

#bottom-navigation {
	bottom: 0;
	height: 51px;
	left: 0;
	position: absolute;
	text-align: center;
	width: 100%;
	z-index: 1;
}

#bottom-container {
	height: 50px;
	padding-left: 20px;
	position: absolute;
}

a.bottom-item {
	bottom: 0;
	color: #FFF;
	display: block;
	font: bold 12px Arial, Helvetica, sans-serif;
	position: absolute;
	text-align: center;
	text-decoration: none;
	width: 40px;
}

.bottom-item span {
	color: #FFF;
	display: none;
	padding-left: 20px;
}

.bottom-item img {
	border: none;
	margin: 5px 10px 0;
	width: 100%;
}

/* --- Portlet Base --- */

.nonfreeform .portlet {
	position: relative;
}

.portlet .top-left-corner {
	background: transparent url(../images/portlet/top_left_corner.png) no-repeat scroll 0% 0%;
	height: 38px;
	width: 10px;
}

.portlet .top-left {
	background: transparent url(../images/portlet/top_left.png) no-repeat scroll 0% 0%;
	height: 38px;
	width: 5px;
}

.portlet .top-center {
	background: transparent url(../images/portlet/top_center.png) repeat-x scroll 0% 0%;
}

.portlet .top-right {
	background: transparent url(../images/portlet/top_right.png) no-repeat scroll 0% 0%;
	height: 38px;
	width: 5px;
}

.portlet .top-right-corner {
	background: transparent url(../images/portlet/top_right_corner.png) no-repeat scroll 0% 0%;
	height: 38px;
	width: 10px;
}

.portlet .middle-left {
	background: transparent url(../images/portlet/middle_left.png) repeat-y scroll 0% 0%;
	width: 10px;
}

.portlet .middle-center {
	background: #FFF;
}

.portlet .middle-right {
	background: transparent url(../images/portlet/middle_right.png) repeat-y scroll 0% 0%;
	width: 10px;
}

.portlet .bottom-left-corner {
	background: transparent url(../images/portlet/bottom_left_corner.png) no-repeat scroll 0% 0%;
	height: 16px;
	width: 10px;
}

.portlet .bottom-left {
	background: transparent url(../images/portlet/bottom_left.png) no-repeat scroll 0% 0%;
	height: 16px;
	width: 5px;
}

.portlet .bottom-center {
	background: transparent url(../images/portlet/bottom_center.png) repeat-x scroll 0% 0%;
}

.portlet .bottom-right {
	background: transparent url(../images/portlet/bottom_right.png) no-repeat scroll 0% 0%;
	height: 16px;
	width: 5px;
}

.portlet .bottom-right-corner {
	background: transparent url(../images/portlet/bottom_right_corner.png) no-repeat scroll 0% 0%;
	height: 16px;
	width: 10px;
}

.portlet-header-bar {
	position: relative;
}

.portlet-small-icon-bar {
	position: absolute;
	right: 0;
	text-align: right;
	top: 8px;
}

.ie .portlet-small-icon-bar {
	top: 10px;
}

.ie .portlet .min {
	padding-right: 3px;
}

/* --- Portlet Maximized --- */

.columns-max .portlet {
	width: 100%;
}

/**
 * Individual Portlet Styles
 *
 */

/* --- Portlet Calendar --- */

.freeform .portlet-calendar {
	min-width: 650px;
}

.ie6 .freeform .portlet-calendar {
	width: expression(this.width < 650 ? "650px": this.width+"px"); 
}

.portlet-calendar .calendar-container {
	font-size: 0.8em;
}

/* --- Portlet Sign In --- */

#portlet-wrapper-sign-in .portlet-title, #portlet-wrapper-sign-in .tabs {
	font-size: 1.2em;
}