a {
	color: #59A4FF;
	text-decoration: underline;
}

a:hover {
	color: navy;
	text-decoration: none;
}

#banner .logo a {
	margin-left: 16px;
}

#banner .logo {
	display: block;
	font-size: 2em;
	margin: 0 auto;
	padding: 1.25em 0 5.45em;
}

#banner {
	background: #0054A5 url(../images/custom/header.jpg) repeat scroll 0;
	border-bottom: 0;
	font-family: 'Verdana';
	font-weight: bold;
	height: 300px;
	margin: 0 auto;
	padding: 0;
	text-decoration: none;
	width: 900px;
}

#banner-content {
	margin: 0 auto;
	width: 100%;
}

body {
	background: #E4EDF6 url(../images/custom/background.jpg) repeat-x scroll;
	background-color: none;
	color: #9ACDFE;
	font-family: 'Lucida Grande', ' Verdana', ' Arial', ' Sans-Serif';
	font-size: 62.5%;
	margin: 0 auto;
	padding: 0;
	text-align: center;
}

#content-wrapper {
	margin-top: 46px;
}

#footer {
	background: transparent url(../images/custom/footer.jpg) no-repeat scroll 0;
	clear: both;
	color: #EFF9FD;
	height: 68px;
	margin: 0 auto;
	text-align: center;
	width: 900px;
}

.js #add-page {
	background: transparent none repeat scroll 0 0%;
	border: medium none;
	top: 0;
}

.js #navigation .enter-page .save-page {
	color: white;
}

.js #navigation .enter-page {
	background-color: transparent;
}

.js .interactive-mode {
	position: absolute;
	right: 6%;
}

#navigation li a {
	color: #FFF;
	text-decoration: none;
}

#navigation li {
	background: none;
	border: none;
	display: inline;
	float: left;
	margin-right: 0.5em;
	position: relative;
}

#navigation li.selected a span {
	background: transparent;
	padding-left: 0;
}

#navigation li.selected a {
	color: #000;
	font-size: 12px;
}

#navigation li.selected a, #navigation li a:hover {
	background-color: transparent;
}

#navigation li.selected {
	border-top: 0;
	font-weight: bold;
}

#navigation {
	background: transparent;
	border: none;
	margin-left:25px;
	margin-top:20px;
}

.portlet-title {
	color: #B1CCEA;
	display: block;
	font-size: 13px;
	min-width: 50%;
	padding: 8px 0 4px 10px;
}

.portlet-topper {
	background: #092950 none repeat scroll 0;
	position: relative;
}

.portlet {
	background: #066BCC none repeat scroll 0;
	border: 1px solid #0A7BE7;
	color: #FFF;
	font-size: 12px;
	margin-bottom: 1em;
	text-align: left;
}

#wrapper {
	background: #0054A5 none repeat scroll 0 50%;
	border-left: 1px dotted #E4EDF6;
	border-right: 1px dotted #E4EDF6;
	margin: 0 auto;
	text-align: left;
	width: 900px;
}
.ui-tabs {
	border-bottom: 1px solid #bfe1ff;
	margin: 0 0 1.5em 0;
	padding: 0 0 2.6em 1em;
}

.ui-tabs li {
	background: #eaf5ff url(../images/common/tabs_inactive_bg.png) repeat-x 0 100%;
	border-bottom: 0;
	display: inline;
	float: left;
	line-height: 2.25;
	margin-right: 0.8em;
	padding: 0;
	text-decoration: none;
}


.ui-tabs li a, .ui-tabs li span {
	display: block;
	float: left;
	padding: 0.35em 1em 0;
	text-decoration: none;
	border: 1px solid #bfe1ff;
	top: 0;
	background: transparent;
	color: black
}

.ui-tabs li.current {
	background: #bfe1ff url(../images/common/tabs_active_bg.png) repeat-x 0 0;
	font-weight: bold;
}

.ui-tabs li.current a, .ui-tabs li.current span {
	color: #333;
	padding: 0.15em 1em;
	background: transparent;
}

.ui-tabs li.current:hover, .ui-tabs li.current a:hover {
	background-color:transparent;
	text-decoration: none;
	background: #bfe1ff url(../images/common/tabs_active_bg.png) repeat-x 0 0;
}