

/* ---------- Base ---------- */

#banner .logo a {
	color: #FFF;
	display: block;
	font-size: 1.6em;
	font-style: italic;
	font-weight: bold;
	margin-left: 804px;
	padding-right: 90px;
	padding-top: 200px;
	text-align: right;
}

#banner h1.logo {
	margin: 0;
}

#banner {
	background: none;
	height: 249px;
	position: relative;
	top: 0;
}

body {
	background-color: #6B6D82;
	font-family: 'Georgia', 'Times New Roman', 'Times', serif;
	font-size: 62.5%;
}

#content-wrapper {
	margin: 0 auto;
	width: 92%;
}

#content-wrapper, #portlet-wrapper- {
	background: transparent url('../images/custom/content_tile.png') repeat-y;
	padding: 0 40px;
}

#footer {
	background: transparent url('../images/custom/footer.jpg') no-repeat center top;
	font-size: 0.9em;
	height: 63px;
	padding-left: 80px;
	padding-right: 80px;
	padding-top: 80px;
	text-align: center;
}

.ie #banner .logo a {
	padding-bottom: 60px;
}

#wrapper {
	background-image: url('../images/custom/header.jpg');
	color: #797D88;
	font-size: 1.2em;
	margin: 0 auto;
	width: 997px;
}


/* ---------- Layout ---------- */
#column-1 .portlet {
	margin-right: 3px;
}

#column-2 .portlet {
	margin-left: 3px;
}


/* ---------- Navigation ---------- */

.js #add-page a span, .js #add-page a:hover span {
	margin-top: 14px;
}

.js #add-page {
	background: transparent;
	border: none;
	right: 3%;
	top: 0;
}

.js #navigation .enter-page .save-page {
	background: transparent;
	color: #FFF;
	padding-left: 0;
}

.js #navigation .enter-page {
	background-color: transparent;
}

#navigation li {
	border: none;
	margin:10px 0 0 -1px;
}

#navigation li.selected a span {
	background: transparent;
	padding-left: 0;
}

#navigation li.selected a, #navigation li a:hover {
	background-color: transparent;
}

#navigation ul .sort-helper {
	background: transparent url('../images/custom/placeholder_bg.png');
	border-bottom: 0;
}

#navigation ul li a span,
#navigation ul li a:hover span,
#add-page a span,
#add-page a:hover span {
	color: #FFF;
	display: block;
	float: left;
	padding: 0.2em 1em;
	text-decoration: none;
}

#add-page a span,
#add-page a:hover span {
	color: #555;
}

#navigation ul li.selected a span,
#navigation ul li.selected a:hover span {
	color: #555;
	padding: 0.2em 1em;
}

#navigation ul li a:hover span, #navigation ul li.selected a:hover span, .js #add-page a:hover span {
	color: #E3E9F1;
}

#navigation ul li, #navigation ul li.selected {
	display: block;
	float: left;
}

#navigation ul {
	display: block;
	margin: 0 30px 0 90px;
}

#navigation {
	background-image: url('../images/custom/linkbar_bg.jpg');
	border: none;
	height: 79px;
}


/* ---------- Dock ---------- */

.js .lfr-dock.interactive-mode {
	right: 40px;
	top: 10px;
}


/* ---------- Portlet ---------- */

.portlet {
	margin-bottom: 15px;
}

.portlet-title {
	color: #787C87;
	font-size: 1.4em;
	font-style: italic;
	font-weight: bold;
	padding-bottom: 7px;
	padding-top: 7px;
}

.portlet-icon {
	font-size: 10px;
	line-height: 1.6em;
}


/* ---------- Liferay UI ---------- */

.tabs li {
	font: 12px/2.25em Arial;
}

.ui-tabs li a, .tabs li span {
	background: url(../images/custom/linkbar_bg.jpg) center top;
	border-right: none;
	padding: 8px 13px;
}

.ui-tabs li a:hover, .ui-tabs li span:hover {
	background: #000;
	color: #FFF;
	text-decoration: none;
}

.ui-tabs li.current a,
.ui-tabs li.current span {
	background: url(../images/custom/linkbar_bg.jpg);
	border: none;
	color: #000;
}

.ui-tabs li.current:hover, .ui-tabs li.current a:hover {
	background: url(../images/custom/linkbar_bg.jpg);
	color: #000;
}