/* This file allows you to override default styles in one central location for easier upgrade and maintenance. */


/* ---------- Browser normalization ---------- */

body {
	background: #769359 url(../images/custom/body_bg.jpg) repeat-y scroll center top;
	color: #443;
}


/* ---------- Banner ---------- */

#banner {
	background: #597F93 url(../images/custom/banner_bg.jpg) no-repeat scroll center top;
	border-bottom: 1px solid #CCC;
	height: 180px;
}

#bannerInner {
	margin: 0 auto;
	padding: 25px;
	position: relative;
	width: 850px;
}

#banner h1.logo {
	margin: 0;
}


/* ---------- Dock with JavaScript ---------- */

.js .interactive-mode {
	right: 15px;
	top: 10px;
}


/* ---------- Main navigation ---------- */

#navigation {
	height: 31px;
	margin: 0 auto;
	width: 900px;
}

#navigation ul, #add-page {
	float: left;
}

#navigation a {
	background: url('../images/custom/navigation_bg.png');
	color: #FFF;
	display: block;
	font-size: 14px;
	font-weight: bold;
	height: 31px;
	line-height: 31px;
	text-align: center;
	text-decoration: none;
	width: 120px;
}

#navigation .selected a, #navigation a:hover {
	background-position: 0 31px;
}


/* ---------- Main content body ---------- */

#content-wrapper {
	margin: 0 auto;
	padding: 15px;
	width: 870px;
}


/* ---------- Portlet wrapper and icons ---------- */

.portlet {
	background: #FFF;
	border: 2px solid #769359;
	margin: 0 0 10px;
	padding: 3px;
}

.portlet-topper {
	background: #769359;
	border-bottom: 1px solid #AEB8BC;
	color: #FFF;
	font-size: 12px;
	padding: 8px;
}

.portlet-topper a {
	color: #FFF;
	font-size: 10px;
	line-height: 2em;
}

.portlet-icons {
	font-size: 10px;
	line-height: 1.6em;
}


/* ---------- Tabs ---------- */

.ui-tabs {
	border-bottom: 2px solid #587C94;
}

.ui-tabs li a, .tabs li span {
	background: #769359 url(../images/custom/body_bg.jpg) repeat-y scroll left top;
	border: 0;
	top: 0;
}

.ui-tabs li.current a, .ui-tabs li.current span, .ui-tabs li a:hover, .ui-tabs li.current a:hover {
	background: #597F93 url(../images/custom/banner_bg.jpg) repeat-y scroll left top;
	border: 0;
	color: #FFF;
}