#layout-grid {
	clear: both;
	padding-top: 6px;
	float: left;
	width: 100%;
}

.div-2-col #column-1 {
	padding: 0px;
	float: left;
	width: 50%;
}

.div-2-col #column-2 {
	padding: 0px;
	float: right;
	width: 50%;
}