/* This file allows you to override default styles in one central location for easier upgrade and maintenance. */

/* ---------- Base styles ---------- */

html {
	height: 100%;
}

body {
	background: #FFF;
	font-size: 0.9em;
}

#skip-to-content,
#banner h2,
#banner h3,
#navigation h1,
#breadcrumbs,
.site-breadcrumbs h1 {
	left: -99999px;
	overflow: hidden;
	position: absolute;
	width: 1%;
}

/* ---------- Links ---------- */

a {
	color: #039;
}

/* ---------- Main content body ---------- */

#wrapper {
	background: transparent url(../images/common/body_bg.png) repeat-x 0 0;
}

#content {
	margin: 30px auto;
	width: 90%;
}

/* ---------- Banner ---------- */

#banner {
	background: transparent url(../images/common/banner_bg.jpg) no-repeat 20% 0;
	height: 100px;
	top: -1px;
}

h1.company-title {
	margin: 0;
	padding: 15px 0 0 60px;
}
#banner h1.logo {
	display: block;
	font-size: 2em;
	left: 5%;
	margin: 25px 0 0;
	padding: 0;
	position: absolute;
}

#banner .logo a {
	text-decoration: none;
}

.ie6 #banner .logo {
	zoom: 1;
}

/* ---------- Main navigation ---------- */

#sign-in {
	color: #FFF;
	float: right;
	position: absolute;
	right: 5px;
	text-decoration: none;
	top: 2px;
}

#navigation {
	background: #020509;
	border-top: 1px solid #304049;
	margin: 0 auto 40px;
	min-height: 2.2em;
	width: 100%;
}

#navigation ul {
	min-height: 2em;
	width: 90%;
	margin: 0 0 0 32px;
}

#navigation li {
	border: none;
	display: inline;
	float: left;
	margin: -1px 0 0 -1px;
	padding: 0;
	position: relative;
}

.js .delete-tab {
	position: absolute;
	top: 7px;
	right: 3px;
}

#navigation ul li ul.child-menu{
	display: none;
}

#navigation a {
	color: #FFF;
	font-weight: bold;
	padding: 6px 20px 7px;
}

#navigation li a {
	display: block;
	text-decoration: none;
}

#navigation li a span {
	text-decoration: none;
}

#navigation li.selected a,
#navigation li a:hover {
	background-color: #555;
	color: #FFF;
}

#navigation li.selected a span {
	background: url(../images/navigation/bullet_selected.png) no-repeat 0 50%;
	padding-left: 10px;
}

/* ---------- Add/remove page ---------- */

.js #navigation .enter-page {
	background-color: #1E2529;
	padding: 2px;
}

.js #navigation .enter-page a {
	background: none;
	display: inline;
	font-weight: bold;
	padding: 0;
}

.js #navigation .enter-page .save-page {
	background: url(../images/dock/my_place_current.png) no-repeat 0 50%;
	margin: 0 10px;
	padding-left: 20px;
}

.ie.js #navigation .enter-page .save-page {
	display: inline-block;
	padding-bottom: 5px;
	padding-top: 5px;
	vertical-align: top;
}

.js #navigation .enter-page .cancel-page {
	display: none;
}

.ie.js #navigation .enter-page {
	padding: 0;
}

.ie.js #navigation .enter-page input.text {
	margin: 2px;
	padding: 3px 1px;
}

.js #navigation {
	position: relative;
}

/* ---------- Portlet wrapper and icons ---------- */

.portlet {
	background: #FFF;
	border: 10px solid #777;
	margin: 0 5px 20px;
}

.portlet-topper {
	background: #020509;
	border-bottom: none;
	padding-right: 40px;
}

.portlet-title {
	color: #FFF;
	padding: 5px;
}

.ie .portlet-title {
	padding-bottom: 5px;
}

.portlet-icon-back,
.portlet-icon-back:hover {
	color: #FFF;
}

.lfr-component li img,
img.icon {
	vertical-align: inherit;
}

/* ---------- Add Application ---------- */

body.lfr-has-sidebar {
	padding-left: 0;
}

.lfr-has-sidebar #content-wrapper {
	padding-left: 270px;
	width: auto;
}