/* This file allows you to override default styles in one central location for easier upgrade and maintenance. */


/* ---------- Updated base.css ---------- */

a:hover {
	background-color: #F4F44E;
	color: #222;
	text-decoration: underline;
}

#banner .logo {
	background: none;
	display: block;
	float: left;
	font-size: 20px;
	padding: 13px 5px 15em;
}

#banner .toggle-link {
	color: #333;
	font-size: 1.5em;
	line-height: 1.7em;
}

#banner {
	background: none;
	height: 90px;
	position: relative;
}

body {
	background-color: #DDD;
	font: 62.5%/1.6em Tahoma, 'Lucida Sans Unicode', Lucida Grande, 'Lucida', Arial, 'Verdana', sans-serif;
}

h3 {
	font-size: 0.7em;
	line-height: 1em;
}

#wrapper {
	background: transparent;
	background-color: #DDD;
	height: 100%;
	margin: 0 auto;
	padding: 0 10px 0 10px;
	width: 95%;
}

#content-wrapper {
	width: 100%;
}

.ie.js #navigation .enter-page {
	padding:0.3em 2em 0.7em 1.5em;
}

/* ---------- Updated portlet.css ---------- */

.portlet, .portlet-topper, .portlet-content, .portlet-title {
	background: none;
}

.portlet-topper {
	background-position: right top;
	border-bottom: 6px solid #555;
	margin-right: -10px;
	padding-right: 40px;
	position: relative;
}

.portlet {
	background-color: #F7F7F7;
	border: 6px solid #555;
	font-size: 1.5em;
	line-height: 1.5em;
	margin: 0 0 10px;
	padding-right: 10px;
	text-align: left;
}

.js .lfr-dock-list-container {
	height: 0px;
	overflow: visible;
	width:231px;
}


/* ---------- Updated forms.css ---------- */

.ie6 input.submit, .ie6 input.button {
	background: none;
	background-color: #FFF;
	border: 3px double #999;
	border-left-color: #CCC;
	border-top-color: #CCC;
	color: #333;
	font-weight: bold;
	padding: 0.25em;
}

.ie6 input.text, input.password, .ie6 input.submit, .ie6 input.file, .ie6 input.button {
	background: none;
	border: 1px solid #AAA;
	border-left-color: #777;
	border-top-color: #777;
	font: 1em Tahoma, 'Lucida Sans Unicode', Lucida Grande, 'Lucida', Arial, 'Verdana', sans-serif;
	padding: 0.3em;
}

input[type="submit"], input[type="button"], input[type="reset"] {
	background: none;
	background-color: #FFF;
	border: 3px double #999;
	border-left-color: #CCC;
	border-top-color: #CCC;
	color: #333;
	font-weight: bold;
	padding: 0.25em;
}

input[type="text"], input[type="password"], input[type="file"],input[type="submit"], input[type="button"], input[type="reset"], select, textarea, .textarea {
	background: none;
	border: 1px solid #AAA;
	border-left-color: #777;
	border-top-color: #777;
	font: 1em Tahoma, 'Lucida Sans Unicode', Lucida Grande, 'Lucida', Arial, 'Verdana', sans-serif;
	padding: 0.3em;
}