<p>
	Liferay Social Office is our new social networking and collaboration application. It's designed to make it easy for you to share documents, ideas, and information with your team.
</p>

<p>
	Please click <a href='[$PORTAL_URL$]'>here</a> to create an account now!
</p>

<p>
	If you have any questions, feel free to contact me at [$SENDER_EMAIL_ADDRESS$].
</p>

<br /><br />

[$SENDER_FULL_NAME$]