/* This file allows you to override default styles in one central location for easier upgrade and maintenance. */

/* ---------- Base ---------- */

body {
	background: url(../images/custom/body_bg.png) repeat-x;
	font-family: Arial;
	font-size: 11px;
}

a {
	color: #5780A6;
	text-decoration: none;
}

a:hover {
	color: #000;
}

/* ---------- Wrapper ---------- */

#wrapper {
	margin: 20px auto 0;
	width: 974px;
}

/* ---------- Banner ---------- */

#banner {
	height: 70px;
	position: relative;
}

/* ---------- Logo ---------- */

#wrapper #banner .logo a {
	background: url(../images/custom/logo.png) no-repeat;
	height: 60px;
	width: 219px;
}

/* ---------- Dock ---------- */

.js .interactive-mode {
	background: #040028 url(../images/custom/dock_left_bg.png) no-repeat;
	min-width: 0;
	padding: 0 0 1px 6px;
	right: 5px;
	top: 66px;
}

.js .interactive-mode h2 {
	background: transparent url(../images/custom/dock_right_bg.png) no-repeat 100% 0;
	margin-left: 18px;
	padding: 0;
}

.js .interactive-mode h2 span {
	background: none;
	border: none;
	color: #5780A6;
	min-width: 0;
	padding: 10px 10px 4px;
}

.js .interactive-mode ul {
	background: #040028;
	border: none;
	border-color: #555;
}

.js .interactive-mode li {
	border-color: #555;
}

.js .interactive-mode h2 span:hover {
	color: #5780A6;
}

/* ---------- Navigation ---------- */

#navigation {
	background: url(../images/custom/content_wrapper_bg.png) no-repeat 0 26px;
	font-size: 12px;
	padding: 0 150px 176px 5px;
	position: relative;
}

.ie6 #navigation {
	padding-bottom: 150px;
}

#navigation ul {
	float: left;
	line-height: 26px;
}

#navigation a {
	background: transparent url(../images/custom/navigation_item.png) no-repeat;
	color: #5780A6;
	margin-right: 6px;
	padding: 6px 1px 5px 7px;
}

.ie6 #navigation a {
	background: url(../images/custom/navigation_item_ie6.png) no-repeat;
}

.ie6 #navigation li {
	background: url(../images/custom/navigation_item_ie6.png) no-repeat 100% 100%;
}

.ie6 #navigation a:hover {
	color: #000;
}

.ie6 #navigation li.selected {
	background: url(../images/custom/navigation_item_ie6.png) no-repeat 100% 100%;
}

#navigation li {
	background: #F3F3F3 url(../images/custom/navigation_item.png) no-repeat 100% 100%;
}

#navigation li:hover {
	background: #4F4C68 url(../images/custom/navigation_item.png) no-repeat 100% 100%;
}

#navigation li.selected {
	background: #040028 url(../images/custom/navigation_item.png) no-repeat 100% 100%;
}

#navigation a:hover {
	color: #AAA;
}

#navigation #add-page {
	float: left;
}

#navigation #add-page a {
	background: url(../images/custom/add_page_bg.png) no-repeat 0 100%;
	display: block;
	height: 26px;
	padding: 0;
	width: 27px;
}

#navigation #add-page a:hover {
	background: url(../images/custom/add_page_bg.png) no-repeat;
}

#add-page span {
	display: none;
}

.enter-page {
	background: #FFF;
}

.enter-page input {
	padding: 0;
}

.ie .enter-page input {
	position: relative;
	top: 4px;
}

.cancel-page {
	display: none;
}

.ie6 #navigation .enter-page a {
	background: none;
	position: relative;
	top: 3px;
}

/* ---------- Content Wrapper ---------- */

#content-wrapper {
	background: transparent url(../images/custom/content_wrapper_bg.png) no-repeat 0 100%;
	margin-bottom: 20px;
	min-height: 600px;
	padding: 0 10px 10px;
}

.ie6 #content-wrapper {
	height: 600px;
}

.lfr-grid .lfr-column {
	padding: 0 3px;
}

/* ---------- Portlet ---------- */

.portlet {
	margin: 0 3px 11px;
}

.portlet-topper {
	background: transparent url(../images/custom/portlet_bg.png) no-repeat 100% -24px;
	border-bottom: 1px solid #FFF;
	height: 24px;
}

.ie6 .portlet-topper {
	background: transparent url(../images/custom/portlet_bg_ie6.png) no-repeat 100% -24px;
}

.portlet-title {
	background: transparent url(../images/custom/portlet_bg.png) no-repeat;
	color: #EEE;
	font-size: 14px;
	line-height: 24px;
	margin-right: 6px;
	padding-left: 7px;
}

.ie6 .portlet-title {
	background: transparent url(../images/custom/portlet_bg_ie6.png) no-repeat;
}

.portlet-title span {
	margin-top: 10px;
}

.portlet-title img {
	display: none;
}

.portlet-content,
.portlet-minimized {
	background: #DDD;
	padding: 0;
}

.portlet-content-container {
	background: #DDD;
	padding: 0 8px 20px;
}

.results-header,
.portlet-calendar .calendar-day .day-text,
.taglib-calendar tr td a:hover {
	background-color: #555272;
}

.portlet-msg-success,
.portlet-msg-error {
	margin-top: 0;
}

.portlet-section-body,
.calendar-header {
	background: #FFF;
}

.portlet-footer,
.portlet-footer2 {
	height: 10px;
}

.portlet-footer {
	background: url(../images/custom/portlet_bg.png) 0 100%;
	border-top: 1px solid #FFF;
}

.ie6 .portlet-footer {
	background: url(../images/custom/portlet_bg_ie6.png) 0 100%;
}

.portlet-footer2 {
	background: url(../images/custom/portlet_bg.png) 100% -48px;
	margin-left: 6px;
}

.ie6 .portlet-footer2 {
	background: url(../images/custom/portlet_bg_ie6.png) 100% -48px;
}

body.portal-iframe,
.portal-iframe #content-wrapper {
	background: #DDD;
}

/* ---------- Tabs ---------- */

.ui-tabs, 
.ui-tabs li a, 
.tabs li span {
	border: none;
	color: #5780A6;
	line-height: 24px;
	padding: 0;
	top: 0;
}

.ui-tabs li a {
	background: #FFF;
	border-right: 1px solid #EEE;
	border-width: 0 1px 0 0;
	padding: 0 10px;
}

.ui-tabs li a:hover {
	background: #FFF;
	color: #000;
	text-decoration: none;
}

.ui-tabs li.first a,
.ui-tabs li.first a:hover {
	background: transparent url(../images/custom/tabs.png) no-repeat;
	padding-left: 15px;
}

.ui-tabs li.last {
	background: url(../images/custom/tabs.png) no-repeat 100% 100%;
}

.ui-tabs li.last a {
	border: none;
	margin-right: 5px;
}

.ie6 .ui-tabs li.last a {
	margin-right: 1px;
}

.ui-tabs li.current a,
.ui-tabs li.current span {
	color: #000;
	border: none;
	border-right: 1px solid #EEE;
	font-weight: normal;
	text-decoration: none;
}

.ui-tabs li.current:hover,
.ui-tabs li.current a:hover {
	background-color: #FFF;
}

.ui-tabs li.current.first:hover,
.ui-tabs li.current.first a:hover {
	background-color: transparent;
}