#set ($namespace = $request.get('portlet-namespace'))
#set ($article-url = $request.get('render-url') + "&" + $namespace + "articleId=" + $reserved-article-id.getData() + "&" + $namespace + "templateId=article-template")

#if (!$show-maximized-in-descriptive-mode.getData())
	#set ($article-url = $article-url.replace("p_p_state=maximized", "p_p_state=normal"))
#end

<div class="article-description-wrapper">
	#if ($article-title != "")
		<h4 class="article-title"><a href="$article-url"><span>$article-title.getData()</span></a></h4>
	#end

	#if ($reserved-article-small-image-url.getData() != "")
		<div class="article-thumbnail">
			<img alt="$article-title.getData() preview" src="$reserved-article-small-image-url.getData()" />
		</div>
	#elseif (($reserved-article-small-image-url.getData() == "") && ($article-main-image.preview-image.getData() != ""))
		<div class="article-thumbnail">
			<img alt="$article-title.getData() preview" src="$article-main-image.preview-image.getData()" />
		</div>
	#end

	#if ($reserved-article-description.getData() != "")
		<div class="article-description">
			$reserved-article-description.getData()
		</div>
	#end

	<a class="article-description-read-more" href="$article-url" title="Read More">Read more</a>
</div>