#set ($contentId = $reserved-article-id.getData())
#set ($contentClass = "multiple-items-" + $contentId)

<style media="screen" type="text/css">
	div.$contentClass h3,
	div.$contentClass ul,
	div.$contentClass ul li {
		list-style: none;
		margin: 0;
		padding: 0;
	}

	div.$contentClass h3 {
		margin-bottom: .5em;
	}

	div.$contentClass ul li.featured-item {
		margin-bottom: 1em;
	}
</style>

<div class="featured-items $contentClass">
	<h3>$item-group-name.getData()</h3>

	<ul class="featured-items-content">
		#foreach ($item in $item-title.getSiblings())
			<li class="featured-item">
				<h4 class="featured-item-title">

				#if ($item.item-link.getData().length() != 0)
					<a href="$item.item-link.getData()" title="Read $item.getData()">
					$item.getData()</a>
				#else
					$item.getData()
				#end

				</h4>

				<div class="featured-item-content">
					$item.item-body.getData()
				</div>
			</li>
		#end
	</ul>

</div>