<div class="article-wrapper">
	#if ($article-title != "")
		<h3 class="article-title">$article-title.getData()</h3>
	#end

	#if ($show-display-date)
		<div class="article-information">
			<span class="article-display-date">Published on $reserved-article-display-date.getData()</span>
		</div>
	#end

	#if ($article-main-image != "")
		<div class="article-main-image">
			<img alt="$article-title.getData()" src="$article-main-image.getData()" />
		</div>
	#end

	#if ($article-body != "")
		<div class="article-body">
			$article-body.getData()
		</div>
	#end

	#if ($show-author)
		<div class="author-info">
			<span class="article-author">$reserved-article-author-name.getData() </span>

			#foreach ($author-info in $show-author.getChildren())
				#set ($current-node = $author-info.getName())

				#if ($current-node == "title")
					#if (($author-info.getData()) && ($reserved-article-author-job-title.getData() != ""))
						, <span class="article-author-title">$reserved-article-author-job-title.getData()</span>
					#end
				#end
			#end
		</div>
	#end
</div>