<li class="user-notification">
	[$ACTION_DIV$]
		<div class="sender">
			<span class="user-thumbnail">
				<img alt="[$USER_FULL_NAME$]" src="[$USER_PORTRAIT_URL$]" />
			</span>
		</div>

		<div class="content">
			<div class="body">
				[$BODY$]
			</div>

			<div class="timestamp">
				<span class="portlet-icon">
					<span onmouseover="Liferay.Portal.ToolTip.show(this, '[$PORTLET_NAME$]');">
						<img src="[$PORTLET_ICON$]">
						<span class="taglib-text hide-accessible">[$PORTLET_NAME$]</span>
					</span>
				</span>

				[$TIMESTAMP$]
			</div>
		</div>
	</div>
</li>

[$SEPARATOR$]