<li class="user-notification [$CSS_CLASS$]">
	[$ACTION_DIV$]
		<div  class="left-container">
			<div class="sender">
				<span class="user-thumbnail">
					<img alt="[$USER_FULL_NAME$]" src="[$USER_PORTRAIT_URL$]" />
				</span>
			</div>

			<div class="content">
				<div class="body-container">
					[$BODY$]
				</div>

				<div class="timestamp">
					<span class="portlet-icon">
						<span onmouseover="Liferay.Portal.ToolTip.show(this, '[$PORTLET_NAME$]')">
							<img src="[$PORTLET_ICON$]">
							<span class="taglib-text hide-accessible">[$PORTLET_NAME$]</span>
						</span>
					</span>

					<span title="[$TIMETITLE$]">
						[$TIMESTAMP$]
					</span>
				</div>
			</div>
		</div>

		[$ICON_MENU$]
	</div>
</li>