/* This file allows you to override default styles in one central location for easier upgrade and maintenance. */


/* ---------- Browser normalization ---------- */

body {
	background: #7C6F5C url(../images/custom/body_bg.jpg);
	color: #222;
	padding: 33px 0;
}


/* ---------- Main content body ---------- */

#wrapper {
	background: #FFF url(../images/custom/wrapper_bg.gif);
	border: 6px solid #332;
	border-top: 6px solid #332;
	margin: 0 auto;
	width: 960px;
}


/* ---------- Banner ---------- */

#banner {
	background: #DAD7C5 url(../images/custom/banner_bg.jpg) no-repeat scroll left bottom;
	padding: 0 0 220px;
	position: relative;
}

#banner .logo {
	margin: 0;
	padding: 10px;
}


/* ---------- Dock with JavaScript ---------- */

.js .interactive-mode {
	right: 10px;
	top: 10px;
}


/* ---------- Main navigation ---------- */

#navigation {
	background: #EAE7DF url(../images/custom/navigation_bg.gif);
	height: 41px;
}

#navigation a {
	border-right: 1px solid #C9C6B3;
	color: #553;
	display: block;
	font: bold 13px/41px Tahoma, sans-serif;
	padding: 0 14px;
	text-decoration: none;
}

#navigation a:hover {
	background: url(../images/custom/navigation_bg.gif) left bottom;
	color: #221;
}


/* ---------- Portlet wrapper and icons ---------- */

.portlet {
	border-bottom: 1px dashed #AAAA9A;
	margin: 0 0 12px;
}

.portlet-topper {
	color: #642;
	height: 31px;
	padding: 4px;
}

.portlet-title {
	font: normal 31px/1 serif,sans-serif;
}