<!DOCTYPE html>

#parse ($init)

<html class="#language ("lang.dir")" dir="#language ("lang.dir")">

#set ($company_url = $company_url + "/web/guest/home")

<head>
	<title>$the_title - $company_name</title>

	$theme.include($top_head_include)

	#if ($group_id > 0)
		#set ($journalTemplateLocalService = $serviceLocator.findService("com.liferay.portlet.journal.service.JournalTemplateLocalService"))

		#set ($journalTemplateId = $theme_settings.getProperty("css-template-id"))

		#if ($journalTemplateLocalService.hasTemplate($group_id, $journalTemplateId))

			## Instead of reference the URL, just insert the content to save an
			## extra HTTP request.

			## <link rel="stylesheet" type="text/css" href="$theme_display.getPathMain()/journal/get_template?groupId=$group_id&templateId=$journalTemplateId" />-->

			#set ($journalTemplate = $journalTemplateLocalService.getTemplate($group_id, $journalTemplateId))

			<style type="text/css">
				#set ($cssTemplate = $journalTemplate.getXsl())
				#set ($cssTemplate = $stringUtil.replace($cssTemplate, "@root_path@", $themeDisplay.getPathContext()))
				#set ($cssTemplate = $stringUtil.replace($cssTemplate, "@image_path@", $themeDisplay.getPathImage()))
				#set ($cssTemplate = $stringUtil.stripBetween($cssTemplate, "/*", "*/"))

				$cssTemplate
			</style>
		#end
	#end
</head>

<body class="$css_class">

#if($is_signed_in)
	#dockbar()
#end

$theme.include($top_messages_include)

<div id="wrapper">
	<div id="banner">
		<h1 class="logo">
			<a class="png" href="$company_url">$company_name</a>
		</h1>

		<div class="search">
			$theme.journalContentSearch()
		</div>

		#if ($update_available_url)
			<div class="popup-alert-notice">
				<a class="update-available" href="$update_available_url">#language ("updates-are-available-for-liferay")</a>
			</div>
		#end

		#if ($has_navigation)
			#parse ("$full_templates_path/navigation.vm")
		#end
	</div>

	#if ($selectable)
		$theme.include($content_include)
	#else
		$portletDisplay.recycle()

		$portletDisplay.setTitle($the_title)

		$theme.wrapPortlet("portlet.vm", $content_include)
	#end

	<div id="footer">
		<p class="copyright-notice">&copy; 2000-$the_year $company_name</p>

		<div class="footer-award-images">
			#set ($journalArticleLocalService = $serviceLocator.findService("com.liferay.portlet.journal.service.JournalArticleLocalService"))

			#set ($journalArticleId = $theme_settings.getProperty("footer-article-id"))

			#if ($journalArticleLocalService.hasArticle($group_id, $journalArticleId))
				$velocityPortletPreferences.setValue("portlet-setup-show-borders", "false")
				$velocityPortletPreferences.setValue("group-id", "$group_id")
				$velocityPortletPreferences.setValue("article-id", $journalArticleId)

				$theme.runtime("56_INSTANCE_a453", "", $velocityPortletPreferences.toString())

				$velocityPortletPreferences.reset()
			#end
		</div>

		#if ($has_navigation)
			#parse ("$full_templates_path/bottom_navigation.vm")
		#end
	</div>
</div>

</body>

$theme.include($bottom_include)

</html>