.blue {
	background:transparent url(../../images/custom/bimages/head.png) repeat-x scroll 0 0;
}
.blue #banner {
	background:transparent url(../../images/custom/bimages/list.jpg) no-repeat scroll left top;
}
.blue #navigation li a {
	background: #3A8FB2;
}
.blue #navigation li.selected a, .blue #navigation li a:hover {
	background: #3A8FB2;
}
.blue .ui-tabs li.current, .blue .ui-tabs li.current a {
	background: #DDECF2;
}
.blue .ui-tabs li a, .blue .ui-tabs li span {
	background: #DDECF2;
}
.blue .ui-tabs li.current:hover, .blue .ui-tabs li.current a:hover {
	background: #DDECF2;
}
.blue .ui-tabs li a:hover, .blue .ui-tabs li span:hover {
	background: #DDECF2;
}
.blue #footer {
	background:transparent url(../../images/custom/bimages/footer.gif) repeat-x scroll 0 0;
}