.red {
	background:transparent url(../../images/custom/rimages/head.png) repeat-x scroll 0 0;
}
.red #banner {
	background:transparent url(../../images/custom/rimages/list.jpg) no-repeat scroll left top;
}
.red #navigation li a {
	background: #BD0808;
}
.red #navigation li.selected a, .red #navigation li a:hover {
	background: #BD0808;
}
.red .ui-tabs li.current, .red .ui-tabs li.current a {
	background: #FED1D1;
}
.red .ui-tabs li a, .red .ui-tabs li span {
	background: #FED1D1;
}
.red .ui-tabs li.current:hover, .red .ui-tabs li.current a:hover {
	background: #FED1D1;
}
.red .ui-tabs li a:hover, .red .ui-tabs li span:hover {
	background: #FED1D1;
}
.red #footer {
	background:transparent url(../../images/custom/rimages/footer.gif) repeat-x scroll 0 0;
}