#wrapper {
	background: transparent;
	margin: 0 auto;
	position: relative;
	top: 40px;
	width: 962px;
}
#content-wrapper {
	min-height: 400px;
	width: 100%;
}
#banner {
	background: transparent url(../images/custom/header.jpg) no-repeat scroll center;
	height: 200px;
	position: relative;
	top: 0;
}
body {
	background: #0A1F5C url(../images/custom/bg.gif) repeat-x scroll 0 0;
	color: white;
	font-family: "arial",serif;
	font-size: 0.8em;
}
#navigation {
	background: #050F2E url(../images/custom/nav-bottom.gif) no-repeat scroll bottom;
	border: none;
	width: 960px;
}
#navigation li {
	border: none;
}
#navigation li.selected a, #navigation li a:hover {
	background-color: transparent;
}
#navigation li.selected a span {
	background: transparent;
	padding-left: 0px;
}
#navigation li a {
	border-right: 1px solid #0A1F5C;
	color: #A3B8F5;
	padding: 10px 14px 10px 15px;
	text-decoration: underline;
}
#navigation li a:hover {
	background: #030817 none repeat scroll 0 0;
	color: #FFFFFF;
	text-decoration: none;
}
#navigation li.selected a {
	background: #8DDE35 none repeat scroll 0 0;
	color: #050F2E;
	font-weight: bold;
	text-decoration: none;
}
.ui-tabs li.current a, .ui-tabs li.current span {
	background: #8DDE35 none repeat scroll 0 0;
	border: none;
	color: #050F2E;
	text-decoration: none;
}
#navigation ul {
	width: 920px;
}
.portlet {
	background: #050F2E none repeat scroll 0 0;
	border-bottom: 1px solid #152F52;
	border-left: none;
	border-right: none;
	border-top: none;
}
.portlet-topper {
	background: #66B319 none repeat scroll 0 0;
	border-bottom: 1px solid #80D620;
	font-size: 18px;
}
a {
	font-size: 12px;
}
.portlet-calendar .calendar-day .day-number {
	color: black;
}
.taglib-calendar tr th {
	color: #66B319;
}
.portlet-section-body td {
	color: black;
}
#footer {
	background: #8DDE35 none repeat scroll 0 0;
	color: #050F2E;
	height: 15px;
}
.ui-dialog {
	background-color: #050F2E;
}
.uni-form {
	background: #050F2E none repeat scroll 0 0;
}
.ui-tabs li.current:hover, .ui-tabs li.current a:hover {
	background-color: #8DDE35;
	color: #050F2E;
	text-decoration: none;
}
.lfr-portal-login .uni-form legend {
	color: white;
}
.ui-tabs li a:hover, .ui-tabs li span:hover {
	background: black;
	color: white;
	text-decoration: none;
}
.ui-tabs li a, .tabs li span {
	background: transparent none repeat scroll 0 0;
	border-right: medium none;
	color: #A3B8F5;
	text-decoration: underline;
	top: 0;
}
.ui-tabs {
	border-bottom: medium none;
}
.js #add-page {
	background: transparent none repeat scroll 0 0;
	border: medium none;
	right: 0;
	top: 3px;
}
.js #navigation .enter-page {
	background-color: transparent;
	margin-top: 8px;
	padding: 0;
}