#wrapper {
	width: 100%;
}
body {
	font-family: Tahoma, Arial, Helvetica, sans-serif;
	font-size:11px;
	background:#202D2D  top left repeat-x;
	margin:0px 0 0 0;
	}
a {
	color: #8CADAC;;
	text-decoration:none;	
	}
a:hover {
	color:#99194A;	
	}	
#banner	 {
	width:100%;
	height:192px;
	background:url(../images/theme/header-back.png) repeat-x;
	border-bottom:1px solid #EAEAEA;
}
#banner .logo {
	background: none;
}
#navigation {
	background: #263937;
	width:220px;
	padding:0px 0px 0px 0px;
	margin:0px 107px 10px 0;
	text-align:left;
	float:right;
}
#navigation li a span, #navigation li a,  #navigation li a:hover span, .js #add-page a span, .js #add-page a, .js #add-page a:hover span {
	background: none;
}
#navigation li a, .js #add-page a {
	padding:2px 0px;
	color: #FFF;
	font-weight: normal;
}
#navigation li {
	list-style:none !important;
	list-style:outside;
	margin:0px 0px 0px 0px;
	padding:0px 0px 0px 0px;	
	}
#navigation li.selected a, navigation li.selected, navigation ul li.selected {	 
	background:#263937; 
	border-bottom:0px none;
	color:#A82658;
	font-family:kartika;
	font-size:20px;
	font-weight:bold;
	height:30px;
	letter-spacing:-1px;
	margin:0px -25px;
	padding:6px 0px 0px;
	text-align:center;
	width:226px;
}
#navigation li a:hover {
	padding-bottom: 2px;
	color:#99194A;	
}
#navigation ul li.selected {
	border-bottom: none;
	padding: 0 0 0 10px;
	background: none;
}
#navigation ul {
	margin:0pt 0pt 0pt 10px;
}
#navigation li.selected a span {
	background:transparent;
	font-size: 20px;
	font-weight: bold;
}
navigation ul {
	list-style:none;
	font-size:11px;
	margin:0px 0px 15px 10px;
	padding:0px 0px 0px 0px;	
}
#navigation ul li, .js #add-page a {
	list-style:none;
	margin:0px 0px 3px 0px;
	padding:0px 0px 5px 10px;
	width:100%;
	font: 11px Tahoma,Arial;
	border-bottom:1px dotted #516866;
	background:url(../images/theme/tag.gif) center left no-repeat;
	}
.js #add-page a {
	margin:0pt 0pt 0pt 10px;
	padding:7px 116px 7px 7px;
}
.js #add-page {
	padding-bottom:30px;
}
.js #add-page a:hover span {
	width: 100%;
}
#content-wrapper {
	background-color:#2F3F3E;
	clear:left;
	margin:0px 10px 2px 110px;
	padding:0px;
	position:relative;
	top:0px;
	width:827px;
	border-right: 1px solid #202D2D;
}
.portlet, .portlet-topper, .portlet-content, .portlet-title {
	margin: 0px auto;
	background: transparent;
	font-weight: normal;
}
.portlet-content {
	overflow:hidden;
	width: 808px;
	border-bottom: 2px solid #202D2D;
	color:#c0c0c0;	
	padding:30px 0px 30px 19px;
}
#navigation li.selected a:hover {
	padding-bottom: 0px;
}
.portlet-topper {
	background:transparent url(../images/theme/title2.jpg) repeat-y scroll 0% 0%;
	color:#DB567E;
	font-family:Trebuchet MS,Arial;
	font-size:22px;
	font-weight:normal;
	height:47px;
	letter-spacing:-1px;
	margin-left:51px;
	padding:0pt 0pt 5pt 0px;
	top:0px;
}
.portlet-title {
	background-color:transparent;
	background-image:url(../images/theme/title.png);
	background-position:0% 100%;
	background-repeat:no-repeat;
	height:49px;
	margin-top:0px;
	overflow:visible;
	padding:0px 11px;
	position:relative;
	right:0px;
	top:12px;
}
.portlet-title img {
	display:none;
}
.portlet-msg-error {
	background:black;
}
#footer {
	width:100%;
	height: 60px;
	margin:0 0 0 0;
	padding:0px 0 25px 0;
	background-image:url(../images/theme/footer.jpg);
	border-top:1px solid #510D29;
}
.js .interactive-mode h2 span {
	background:transparent url(../images/theme/bar_footer.jpg) no-repeat scroll 0pt 0pt;
	display:block;
	font-size:11px;
	margin-bottom:0pt;
	padding:0.5em 0.5em 0.5em 2em;
}
.js .interactive-mode h2 {
background:transparent url(../images/theme/bar_footer.jpg) no-repeat scroll 0pt 0pt;
}
.js #navigation .enter-page {
	background:transparent;
	padding:17px 0px 11px 9px;
}
.js .delete-tab {
	width: 37px;
}