#banner {
	background: url(../images/custom/custom_banner.png) no-repeat 0 0;
	background-color: black;
	height: 200px;
}

.ie .tabs li {
	line-height: 2.35;
}

.ie .tabs li.current {
	top: 0.2em;
}

.ie6 .tabs li, .ie6 .tabs li.current {
	background-image: none;
}

input[type="submit"], input[type="button"], input[type="reset"] {
	background: #FAFAFA url(../images/forms/button.png) repeat-x scroll 0;
	border-color: #CCC rgb(153, 153, 153) rgb(153, 153, 153) rgb(204, 204, 204);
	border-style: double;
	border-width: 3px;
	color: #333;
	font-weight: bold;
	padding: 0.25em;
}

input[type="submit"]:hover, input[type="button"]:hover, input[type="reset"]:hover, input[type="submit"]:focus, input[type="button"]:focus, input[type="reset"]:focus {
	background: #FAFAFA url(../images/forms/button.png) repeat-x scroll 0;
	border-color: #CCC rgb(153, 153, 153) rgb(153, 153, 153) rgb(204, 204, 204);
	border-style: double;
	border-width: 3px;
	color: #333;
	font-weight: bold;
	padding: 0.25em;
}

.js #add-page {
	background: transparent;
	border: none;
	top: -7px;
}

.js #navigation .enter-page {
	background-color: white;
	padding: 1px;
}

#navigation a {
	color: #369;
}

#navigation li {
	background: transparent url(../images/custom/nav.png) repeat;
	border: none;
	display: inline;
	float: left;
	margin-right: 0.5em;
	position: relative;
}

#navigation li.selected a span {
	background: transparent;
}

#navigation li.selected a, #navigation li a:hover {
	background-color: transparent;
	color: #369;
}

#navigation li.selected {
	border-top: 3px solid #283E57;
	font-size: 1.3em;
	font-weight: bold;
}

#navigation {
	background: transparent;
	border: none;
}

.portlet-topper {
	background: url(../images/common/nav.png) 0 0;
}

.portlet {
	border: 2px solid #F7F7F7;
}

.ui-tabs li a, .ui-tabs li span {
	display: block;
	float: left;
	padding: 0.35em 1em 0;
	text-decoration: none;
}

.ui-tabs li {
	background: #FBFBFB 0 100%;
	border: 1px solid #EEE;
	border-bottom: 0;
	display: inline;
	float: left;
	line-height: 2.25;
	margin-right: 0.8em;
	padding: 0;
	text-decoration: none;
}

.ui-tabs li.current a, .ui-tabs li.current span {
	color: #333;
	padding: 0.15em 1em;
	border: none;
	background: transparent;
}

.ui-tabs li a:hover, .ui-tabs li span:hover {
	background:transparent;
	color:#000;
}

.ui-tabs li.current {
	background: #8A9C9A url(../images/custom/nav.png) repeat-x 0 0;
	font-weight: bold;
}

.ui-tabs {
	border-bottom: 1px solid #EEE;
	margin: 0 0 1.5em 0;
	padding: 0 0 2.6em 1em;
}

.js .lfr-dock-list-container {
	height: 0px;
	overflow: visible;
}

.js .interactive-mode {
	top:-125px;
}

.ui-tabs li a, .tabs li span {
	background:transparent none repeat scroll 0 0;
	border-right:medium none;
	color:black;
}