@import "mixins";

.app-view-entry {
	.entry-thumbnail {
		margin: 0;
		padding: 5px;

		.entry-thumbnail-container {
			margin-top: 50%;
			position: relative;

			img {
				margin-top: -50%;
			}
		}
	}

	&:hover .entry-thumbnail {
		border-color: #7ABFDD;
	}

	&.selected{
		.entry-thumbnail {
			border-color: #057CB0;
		}

		.entry-metadata {
			dt, dd, .entry-categories, .entry-tags, .entry-description {
				color: #f0f0f0;
			}
		}
	}

	.entry-title {
		display: block;
		font-size: 1.15em;
		font-weight: bold;
		padding: 5px 0 10px 0;
	}

	.entry-link {
		display: block;
		overflow: hidden;
		text-align: left;
		text-decoration: none;
	}

	.entry-metadata {
		margin: 10px 0 20px;

		@include respond-to(phone, tablet) {
			width: 85%;
		}

		.entry-title {
			padding-bottom: 3px;
		}

		.entry-description, {
			display: block;
		}

		dl {
			margin: 0px;

			&.entry-latest-approved-container {
				margin: 20px 0 20px 0;
			}

			dt {
				float: left;
				margin-right: 3px;
			}
		}

		dt, dd, .entry-categories, .entry-tags, .entry-description, {
			color: #333;
			line-height: 1.5em;
			overflow: hidden;
			word-wrap: break-word;
		}

		.entry-categories, .entry-tags {
			display: block;
		}

		.taglib-workflow-status {
			display: inline;

			.workflow-status {
				padding-left: .2em;
			}
		}

		.entry-tags .tag {
			margin-left: 15px;

			&:first-child {
				margin-left: 0;
			}
		}

		.entry-categories .taglib-asset-categories-summary {
			font-weight: bold;

			.asset-category {
				font-weight: normal;
				margin-left: .8em;
			}
		}
	}

	.folder-action, .entry-action {
		position: absolute;
		right: 6px;
		top: 10px;

		.btn {
			padding: 0;
		}
	}

	.entry-selector {
		left: 5px;
		position: absolute;
		top: 10px;
	}

	.entry-thumbnail {
		display: inline-block;
		float: left;
		margin: 5px 10px 5px 5px;
		position: relative;
		text-align: center;
	}

	&.selected, &.selected:hover {
		background-color: #00A2EA;
	}

	&.selected a {
		&, &:focus, &:hover {
			color: #FFF;
		}
	}

	&.active-area, &.active-area.hover, &.active-area td {
		background-color: #5AD300;
	}

	.overlay.folder-action a, .overlay.entry-action a {
		display: block;
		width: 20px;
	}

	&:hover, &.hover {
		background-color: #D3E8F1;
	}

	.overlay {
		clip: rect(0, 0, 0, 0);
	}

	&:hover .overlay, &.hover .overlay, &:hover .entry-selector, &.selected .entry-selector {
		clip: rect(auto auto auto auto);
	}

	.entry-title .entry-categories, a.entry-title .entry-tags {
		font-size: 16px ;
	}

	a.entry-link:hover {
		text-decoration: none;

		.entry-metadata .entry-title .entry-title-text {
			text-decoration: underline;
		}
	}
}

.lfr-search-container td .overlay {
	&.folder-action, &.entry-action {
		position: static;

		.btn a {
			display: block;
			padding: 4px 12px;
		}
	}
}