@import "compass";

.input-localized {
	.palette-container {
		@include opacity(0.2);
	}

	&.input-localized-focused .palette-container {
		@include opacity(1);
	}

	.input-localized-content {
		margin-left: 6px;
	}

	&.input-localized-editor .input-localized-content {
		margin-top: 0;
	}

	.lfr-input-localized-default a {
		margin-right: 14px;
	}

	.palette-item {
		border-width: 0;
		padding: 0;
	}

	.palette-item-inner {
		border: 1px solid #666;
		margin-right: 4px;
		width: 16px;

		img {
			display: block;
		}
	}

	.palette-item, .palette-item-inner, .palette-item-hover, .palette-item-hover .palette-item-inner {
		border-color: transparent;
	}

	.lfr-input-localized-state {
		height: 4px;
		margin: 3px 5px;
		width: 4px;
		@include border-radius(3px);
	}

	.lfr-input-localized .lfr-input-localized-state {
		background: #ddd;
		@include box-shadow(0 0 3px #ddd);
	}

	.palette-item-selected .lfr-input-localized-state {
		background: #27c1f2;
		@include box-shadow(0 0 3px #27c1f2);
	}

	.palette-item-inner {
		display: block;
		height: 16px;
		width: 16px;
	}
}

.input-prepend, .input-append {
	.input-localized .input-localized-content {
		margin-top: 3px;
	}
}