/* ---------- Portlet template ---------- */

div.portlet {
	background: #FFF;
	border: 1px solid #000;
}

div.portlet .portlet-topper {
	background-color: #555;
	height: 20px;
}

div.portlet .portlet-title {
	display: none;
}

/* ---------- Portlet wrapper and icons ---------- */

.portlet, .portlet-topper, .portlet-content, .portlet-title {
	background: none;
}

.portlet {
	border: 0;
	margin: 0;
	width: 100%;
}

.portlet-topper {
	height: 24px;
	margin-right: 0;
	padding-right: 0;
	padding-top: 6px;
	overflow: hidden;
	white-space: nowrap;
}

.portlet-title {
	color: #FFF;
	font-size: 14px;
	font-stretch: semi-condensed;
	font-weight: 300;
	line-height: 24px;
}

.portlet-title img {
	display: none;
}

.portlet-address {
	color: #FFF;
	height: 23px;
	line-height: 22px;
	overflow: hidden;
	position: relative;
	text-align: center;
	white-space: nowrap;
}

.portlet-content {
	padding: 0;
}

.portlet-content-container {
	padding: 10px;
}

.portlet-icons {
	right: 0;
	top: 6px;
}

.portlet-icons a {
	display: block;
	float: left;
	height: 15px;
	text-decoration: none;
}

.icon-min a {
	background: transparent url(../../images/portlet/minimize.png) no-repeat scroll 0 0;
	width: 22px;
}

.icon-min a.selected {
	background: transparent url(../../images/portlet/minimize_hover.png) no-repeat scroll 0 0;
}

.icon-max a {
	background: transparent url(../../images/portlet/maximize.png) no-repeat scroll 0 0;
	width: 22px;
}

.icon-max a.selected {
	background: transparent url(../../images/portlet/maximize_hover.png) no-repeat scroll 0 0;
}

.icon-close a {
	background: transparent url(../../images/portlet/close.png) no-repeat scroll 0 0;
	width: 38px;
}

.icon-close a.selected {
	background: transparent url(../../images/portlet/close_hover.png) no-repeat scroll 0 0;
}

.portlet-icon-back {
	color: #FFF;
	padding: 3px 0pt 6px 18px;
}

.portlet-icon-back:hover {
	color: #FFF;
	text-decoration: underline;
}

/* ---------- Portlet container ---------- */

.nonfreeform .portlet {
	position: relative;
}

.portlet .top-center {
	background: transparent url(../../images/portlet/top_center.png) repeat-x scroll 0% 0%;
	height: 30px;
}

.portlet .header-center {
	background: transparent url(../../images/portlet/header_center.png) repeat-x scroll 0% 0%;
	height: 23px;
}

.portlet .middle-left {
	background: transparent url(../../images/portlet/middle_left.png) repeat-y scroll 0% 0%;
	width: 15px;
}

.portlet .middle-center {
	background: #FFF;
}

.portlet .middle-right {
	background: transparent url(../../images/portlet/middle_right.png) repeat-y scroll 0% 0%;
	width: 15px;
}

.portlet .bottom-center {
	background: transparent url(../../images/portlet/bottom_center.png) repeat-x scroll 0% 0%;
	height: 15px;
}

/* ---------- Portlet resize handle ---------- */

.freeform .portlet-boundary .ui-resizable-handle {
	margin: 4px 6px 7px;
}

/* ---------- Portlet maximized ---------- */

.columns-max .portlet {
	width: 100%;
}

/* ---------- Portlet minimized ---------- */

.portlet-boundary.portlet-minimized {
	display: none;
}

/* ---------- Portlet borderless ---------- */

.portlet-borderless-container {
	color: #FFF;
}

/* ---------- Portlet options ---------- */

.lfr-menu-list {
	z-index: 100;
}

.portlet-icons.icon-options {
	top: 0;
	right: 0;
}

.lfr-actions.portlet-options {
	margin: 0 5px 0 0;
}

.lfr-actions.portlet-options .lfr-trigger strong {
	padding: 0;
}

.lfr-actions.portlet-options .lfr-trigger strong span {
	background-image: none;
	color: #9EBAC8;
	height: auto;
	padding: 0 3px;
	text-indent: 0;
	width: auto;
}

.portlet-options.visible {
	background: #FFF url(../../images/forms/button.png) repeat-x 0 100%;
	border-color: #DEDEDE;
	padding: 0 0 1px 0;
}

.portlet-options.visible .lfr-trigger strong span {
	background-image: none;
	color: #06C;
}