/* ---------- Configuration ---------- */

.portlet-configuration .kb-edit-link {
	margin: 5px 0 0;
}

/* ---------- Portlet ---------- */

.knowledge-base-portlet-display {
	.kb-article-body img {
		height: auto;
		max-width: 100%;
	}

	.kbarticle-navigation {
		li {
			line-height: inherit;
			margin: 15px 0;
		}

		li, ul {
			list-style: none;
			overflow: hidden;
		}

		.kbarticle-expanded {
			font-weight: bold;
		}

		.kbarticle-root-selector {
			select {
				display: inline;
				width: inherit;
			}
		}

		.kbarticle-selected {
			color: #555;
			font-weight: bold;
		}
	}
}