/* Global */
a {
	color: #000;
}

body {
	background: #FFF url(../images/body-bg.png) repeat-x;
	color: #333;
	font-family: Arial,Helvetica,sans-serif;
	font-size: 63.8%;
}

/* Main Content Body */
#content-wrapper {
	margin-left: 14px;
	margin-top: 22px;
	width: 874px;
}

#wrapper {
	background: #FCFBE9 none repeat scroll 0;
	border: 1px solid #BBD1E2;
	margin: 10px auto;
	width: 900px;
}

/* Banner */
#banner .logo a {
	text-decoration: none;
}

#banner .logo {
	background: none;
	display: block;
	float: left;
	font-size: 2em;
	margin: 1em;
}

#banner {
	background: #EACE46 none repeat scroll;
	border: 1px solid #EBCD48;
	height: 150px;
	left: 14px;
	position: relative;
	top: 14px;
	width: 870px;
}

/* Navigation */
.js #add-page {
	background: url(../images/common/add.png) 5px 50% no-repeat;
	border: none;
	bottom: 0;
	float: left;
	font-weight: bold;
	padding-top: 0.3em;
	position: absolute;
	right: 6px;
	top: -5px;
}

.js #add-page a {
	line-height: 25px;
	padding: 7px 23px;
	text-decoration: none;
}

.js #add-page a span {
	color: #9E8100;
}

#navigation .enter-page .save-page {
	display: inline;
	padding: 4px;
}
#navigation .enter-page .cancel-page {
	display: none;
}
#navigation li a span {
	background: url(../images/navigation/bullet.png) no-repeat 0 50%;
	padding-left: 17px;
	text-decoration: none;
}

#navigation li a {
	background: none;
	color: #9E8100;
	display: block;
	padding: 4pt 2em 0.5em 1.5em;
	text-decoration: none;
}

#navigation li a:hover span {
	background: url(../images/navigation/bullet_over.png) no-repeat 0 50%;
}

#navigation li a:hover {
	color: #FFF;
	padding-bottom: 0.5em;
}

#navigation li {
	background: transparent url(../images/tabrightB.gif) no-repeat 0 12%;
	border: 0;
	display: inline;
	float: left;
	margin-left: 0.5em;
	margin-right: -4px;
	padding: 0 0.5em 0 0;
	position: relative;
}

#navigation li.selected a span {
	background: url(../images/navigation/bullet_selected.png) no-repeat 0 50%;
	font-size: 1.3em;
	font-weight: bold;
}

#navigation li.selected a {
	color: #FFF;
	padding-top: 0.5em;
}

#navigation li.selected a:hover {
	padding-bottom: 0.5em;
}

#navigation ul {
	float: left;
	min-height: 2em;
	width: auto;
}

#navigation {
	background: #EACE46 none repeat scroll;
	border: 1px solid #EBCD48;
	margin: 0 14px 0.5em;
	min-height: 2.2em;
	overflow: hidden;
	padding-right: 1em;
	position: relative;
	top: 14px;
}

#navigation li.selected a, #navigation li a:hover {
	background-color:transparent;
}

/* Portlet */
.portlet, .portlet-topper, .portlet-content, .portlet-title {
	background: none;
}

.portlet-content {
	background-position: left bottom;
	padding: 10px 5px 25px 15px;
}

.portlet-title {
	background-position: top left;
	color: #9E8100;
	display: block;
	font-size: 1.3em;
	font-weight: bold;
	min-width: 50%;
	padding: 8px 0 4px 10px;
}

.portlet-topper {
	border-bottom: 1px solid #727C81;
	margin-right: -10px;
	padding-right: 40px;
	position: relative;
}

.portlet {
	border: 2px solid #727C81;
	margin: 0 0 10px;
	padding-right: 10px;
	text-align: left;
}

/* Tabs */
.ui-tabs li.current a, .ui-tabs li.current span {
	background: #EACE46;
	border: none;
	color: #FFF;
}

.ui-tabs li.current:hover, .ui-tabs li.current a:hover {
	background-color: #EACE46;
	text-decoration: none;
}

.ui-tabs li a, .tabs li span {
	background: transparent none;
	border-right: none;
	color: #000;
	top: 0;
}

.ui-tabs li a:hover, .ui-tabs li span:hover {
	background: #000;
	color: #FFF;
	text-decoration: none;
}