/* This file allows you to override default styles in one central location for easier upgrade and maintenance. */

/* ---------- Base ---------- */

body {
	background: #171C20 url(../images/custom/body_bg.jpg) repeat-y center top;
	color: #BED7E6;
}

/* ---------- Wrapper ---------- */

#wrapper {
	margin: 0 auto;
	width: 1000px;
}

/* ---------- Banner ---------- */

#banner {
	background: url(../images/custom/banner_bg.jpg) no-repeat;
	height: 257px;
	padding: 120px 0 0;
	position: relative;
}

/* ---------- Logo ---------- */

#banner .logo a {
	margin: 0 auto;
}

/* ---------- Dock ---------- */

.js .interactive-mode {
	right: 112px;
	top: 44px;
}

/* ---------- Navigation ---------- */

#navigation {
	margin: -86px 0 70px;
	position: relative;
	text-align: center;
	z-index: 22;
}

#navigation ul,
#navigation li,
#add-page,
#navigation .enter-page {
	display: inline;
	float: none;
}

#navigation a,
#navigation .enter-page {
	background: #003;
	color: #FFF;
	font: bold 14px/14px Tahoma,Arial,sans-serif;
	letter-spacing: 0.05em;
	margin: 0 1px;
	padding: 0 10px 2px;
	text-decoration: none;
}

#navigation .enter-page {
	background: transparent;
	padding: 0;
}

#navigation .cancel-page {
	display: none;
}

#navigation .save-page {
	padding-bottom: 2px;
}

#navigation input {
	height: 17px;
	margin-right: 4px;
}

.ie #navigation input {
	position: relative;
	top: 1px;
}

#navigation a:hover {
	background: #228;
}

#navigation input[type="text"] {
	padding: 0;
}

/* ---------- Content Wrapper ---------- */

#content-wrapper {
	margin: 0 auto;
	width: 880px;
}

.portlet a {
	color: #FFF;
}

.lfr-grid .lfr-column {
}

/* ---------- Portlet ---------- */

.portlet {
	margin: 0 0 10px;
}

.portlet-topper {
	margin: 0 0 10px;
}

.portlet-title {
	color: #FFF;
}

.portlet-content {
	font: 11px/16px Tahoma,Arial,sans-serif;
	padding: 0;
}

.portlet-section-header {
	background: transparent;
}

.ui-autocomplete-odd,
.results-row.alt td {
	background-color: #003;
}

.ui-autocomplete-even,
.results-row td {
	background-color: #225;
}

.results-row.hover td {
	background-color: #447;
}

/* ---------- Calendar ---------- */

.portlet-calendar .calendar-container .taglib-calendar table,
.portlet-calendar .portlet-section-body.results-row,
.portlet-calendar .calendar-day .day-number,
.taglib-calendar a {
	color: #000;
}

/* ---------- Tabs ---------- */

.ui-tabs {
	border-bottom: 1px solid #228;
}

.ui-tabs li a,
.ui-tabs li a:hover,
.ui-tabs li span,
.ui-tabs li span:hover {
	background: #003;
	border: 1px solid #228;
}

.ui-tabs li a:hover,
.ui-tabs li span:hover {
}

.ui-tabs li.current:hover {
	background: transparent;
}

/* ---------- Footer ---------- */

#footer {
	background: url(../images/custom/footer_bg.jpg) no-repeat center top;
	padding: 59px 0 0;
}