/* This file allows you to override default styles in one central location for easier upgrade and maintenance. */

/* ---------- Base ---------- */

body {
	background: #171C20 url(../images/custom/body_bg.jpg) repeat-y center top;
	color: #BED7E6;
}

/* ---------- Wrapper ---------- */

#wrapper {
	margin: 0 auto;
	width: 1000px;
}

/* ---------- Banner ---------- */

#banner {
	background: url(../images/custom/banner_bg.jpg) no-repeat;
	height: 257px;
	padding: 108px 130px 0;
	position: relative;
}

#banner .sign-in {
	color: #FFF;
	position: absolute;
	right: 148px;
	top: 50px;
}

/* ---------- Logo ---------- */

#banner .logo a {
	margin: 0 auto;
}

/* ---------- Navigation ---------- */

#navigation {
	margin: -86px 0 70px;
	position: relative;
	text-align: center;
	z-index: 22;
}

#navigation ul {
	list-style: none;
	margin: 0;
}

#navigation li {
	display: inline;
}

#navigation a {
	background: #003;
	color: #FFF;
	font: bold 14px/14px Tahoma, Arial, sans-serif;
	letter-spacing: 0.05em;
	margin: 0 1px;
	padding: 0 10px 2px;
	text-decoration: none;
}

#navigation a:hover {
	background: #228;
}

/* ---------- Content Wrapper ---------- */

#content-wrapper {
	margin: 0 auto;
	width: 880px;
}

/* ---------- Portlet ---------- */

.portlet {
	margin: 0 0 10px;
}

.portlet-topper {
	margin: 0 0 10px;
}

.portlet-title {
	color: #FFF;
}

.portlet-content {
	font: 11px/16px Tahoma, Arial, sans-serif;
	padding: 0;
}

.portlet a {
	color: #FFF;
}

/* ---------- Footer ---------- */

#footer {
	background: url(../images/custom/footer_bg.jpg) no-repeat center top;
	padding: 60px 0;
}