/* The Basics */

body {
	background: transparent url('../images/custom/body_bg.png') repeat-x scroll left top;
	min-height: 128px;
}

#content-wrapper {
	background: transparent url('../images/custom/content-wrapper_bg.png') no-repeat scroll left bottom;
	margin: 0 0 214px;
	padding: 24px 48px 28px 208px;
	width: auto;
}

html {
	background: #3FBFFF url('../images/custom/html_bg.png') repeat-x scroll left bottom;
	height: auto;
	min-height: 100%;
	min-width: 100%;
	overflow-x: hidden;
	overflow-y: scroll;
}

.ie7 #content-wrapper {
	margin-top: -24px;
}

#wrapper, #banner {
	background: transparent none;
}


/* The Navigation */

.js #add-page {
	background: transparent none;
	border: 0;
	padding: 96px 0 0 0;
	position: static;
}

.js .delete-tab {
	right: 10px;
}

#navigation li a {
	padding: 5px 32px;
}

#navigation li {
	background: transparent url('../images/custom/coin.gif') no-repeat scroll 0 14px;
	border: 0;
	display: block;
	font: 18px/30px System, ' monospace';
	height: 32px;
	margin: 0;
}

#navigation li.selected a span {
	background: transparent none;
	padding: 0;
}

#navigation li.selected a, #navigation li a:hover {
	background: transparent none;
}

#navigation li.selected {
	background-image: url('../images/custom/coin_animated.gif');
}

#navigation ul {
	float: right;
	margin: 0;
	padding: 96px 64px 0 0;
	width: auto;
}

#navigation {
	background: transparent url('../images/custom/navigation_bg.png') repeat-x scroll left top;
	border-top: 0;
	height: 158px;
	margin: 0;
}


/* The Dock */

.lfr-dock div.wrap {
	height: 64px;
	overflow: hidden;
}

.lfr-dock h2 span {
	display: none;
}

.lfr-dock h2 {
	background: transparent url('../images/custom/dock_standby.png');
	cursor: pointer;
	height: 52px;
	padding: 0;
	position: absolute;
	right: -63px;
	top: 149px;
	width: 32px;
	z-index: 40;
}

.lfr-dock h2.hover {
	background-image: url('../images/custom/dock_hover.png');
}

.lfr-dock h2.lifted {
	background-image: url('../images/custom/dock_lifted.png');
}

.lfr-dock h2.lifting {
	background-image: url('../images/custom/dock_lifting.png');
}

.lfr-dock h2.throwing {
	background-image: url('../images/custom/dock_throwing.png');
}

.lfr-dock li a {
	color: #000;
	text-decoration: none;
}

.lfr-dock li a:hover {
	text-decoration: underline;
}

.lfr-dock li {
	line-height: 32px;
}

.lfr-dock ul {
	background: transparent url('../images/custom/dock_popup_bg.gif') repeat-x scroll left bottom;
	display: none;
	height: 32px;
	margin: 105px -66px 0 0;
	padding: 0 24px 32px 0;
	z-index: 39;
}

.lfr-dock {
	height: 77px;
	top: 12px;
	z-index: 40;
}


/* The Portlets */

#content-wrapper #layout-grid.dragging .lfr-column {
	border: 0;
}

.portlet, .portlet-topper, .portlet-content, .portlet-title {
	background: transparent url('../images/custom/portlet_bg.png') no-repeat bottom right;
}

.portlet-content {
	background-position: left bottom;
	overflow: hidden;
	padding: 0 0 24px 24px;
}

.portlet-icons {
	right: 22px;
	top: 10px;
}

.portlet-title img {
	display: none;
}

.portlet-title {
	background-position: left top;
	font: 24px/24px System, ' monospace';
	padding: 12px 0 12px 36px;
}

.portlet-topper {
	background-position: right top;
	border-bottom: 0;
	margin-right: -24px;
	padding-right: 48px;
	position: relative;
}

.portlet {
	border: 0;
	cursor: default;
	margin: 0 0 24px;
	padding: 0 24px 0 0;
	text-align: left;
}