html {
	overflow-y: scroll;
}
body {
	background-color: #62403e;
	color: #4b4b4b;
	font-family: Arial;
	font-size: 13px;
	margin: 0;
	padding: 0;
}
#banner {
	background: no-repeat center url(../images/custom/bckheader.jpg);
	font-family: Verdana;
	height: 285px;
	position:relative;
	top:0;
}
#wrapper {
	background: transparent;
	margin:0 auto;
	width: 979px;
	position:relative;
}
#navigation {
	background: transparent;
	border: none;
	width: 86.4%;
}
#navigation li {
	border: none;
}
#navigation li.selected a, #navigation li a:hover {
	background-color: transparent;
}
#navigation li.selected a {
	color: #4B4B4B;
}
#navigation li a:hover {
	background: transparent url(../images/custom/bckmenulinkhover.gif) repeat-x scroll 0% 0%;
	color: #913929;
}
#navigation li.selected a span {
	background: transparent;
	padding-left: 0px;
}
#navigation li a {
	color: #4B4B4B;
	font-family: Arial;
	font-size: 18px;
	padding: 5px 10px;
}
#banner .logo a {
	margin-left: 10px;
	margin-top: 65px;
}
.js #add-page {
	background: transparent none repeat scroll 0% 0%;
	border: medium none;
	right: 12%;
	top: -1px;
}
.js .interactive-mode {
	right: 1%;
}
#content-wrapper {
	background: black;
	margin: -5px auto;
	width: 100%;
	min-height: 500px;
}
.portlet {
	background: #0D0D0D;
	border: none;
}
.portlet-topper {
	background: black;
	border: none;
	color: #913929;
	font-size: 16px;
}
a {
	font-size: 12px;
}
.ui-tabs li.current:hover, .ui-tabs li.current a:hover {
	background-color: transparent;
}
.ui-tabs li.current a, .ui-tabs li.current span {
	background: transparent none repeat scroll 0% 0%;
	border: medium none;
	color: #913929;
}
.ui-tabs li a:hover, .ui-tabs li span:hover {
	background: transparent;
	color: #913929;
}
.ui-tabs li a, .tabs li span {
	background: transparent none repeat scroll 0% 0%;
	border-right: medium none;
}
.ui-tabs {
	border-bottom: medium none;
}
.ui-dialog {
	background-color: black;
}
.uni-form {
	background: black none repeat scroll 0% 0%;
}
.js #navigation .enter-page {
	background-color: transparent;
	padding: 0px;
}
.js #navigation {
	left:0;
	position:absolute;
	top:0;
	z-index:60;
}
.uni-form fieldset legend {
	color: white;
}

.portlet-calendar .calendar-container {
	background: transparent;
}

.portlet-calendar .calendar-day .day-number {
	border: none;
}