<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

#parse ($init)

<html dir="#language ("lang.dir")">

<head>
	<title>$company_name - $the_title</title>

	$theme.include($top_head_include)

	#css ($css_main_file)
	#js ($js_main_file)

	#if ($company_logo != "")
		<style type="text/css">
			#banner .logo {
				height: 180px;
				margin-top: -5px;
			}

			#banner .logo a {
				background:transparent url($images_folder/common/banner_left.png) no-repeat scroll 0% 50%;
				display:block;
				font-size: 0pt;
				height: 185px;
				margin-left: 0px;
				width:400px;
			}
		</style>
	#end
</head>

<body class="$css_class">

$theme.include($top_messages_include)

<div id="wrapper">
	<div id="banner">
		<h1 class="logo">
			<a href="$company_url">$company_name</a>
		</h1>

		<div class="thisisthedock">
			#parse ("$full_templates_path/dock.vm")
		</div>

		<div class="search-box">
			$taglibLiferay.journalContentSearch()
		</div>

		#if ($update_available_url)
			<a class="update-available" href="$update_available_url">#language ("updates-available")</a>
		#end
	</div>

	#if ($has_navigation)
		#parse ("$full_templates_path/navigation.vm")
	#end

	#if ($selectable)
		$theme.include($content_include)
	#else
		$portletDisplay.recycle()

		$portletDisplay.setTitle($the_title)

		$theme.wrapPortlet("portlet.vm", $content_include)
	#end

	<div id="footer"></div>
</div>

$theme.include($bottom_ext_include)
$theme.include($session_timeout_include)
$theme.include($sound_alerts_include)

</body>

</html>