/* This file allows you to override default styles in one central location for easier upgrade and maintenance. */

#banner {
}

#content-wrapper {
	min-height: 100px;
}

#navigation {
}

.ui-tabs li a, .tabs li span {
	background:#B2D281 none repeat scroll 0 0;
	top:0;
}

.ui-tabs li.current:hover, .ui-tabs li.current a:hover {
	text-decoration: none;
	background-color: transparent;
	background:#90B557 none repeat scroll 0 0;
}

.ui-tabs li.current a, .ui-tabs li.current span {
	background:#90B557 none repeat scroll 0 0;
	border-color:-moz-use-text-color black -moz-use-text-color -moz-use-text-color;
	border-style:none solid none none;
	border-width:medium 1px medium medium;
	color:white;
}

.js #navigation .enter-page {
	padding: 0;
}

.js #navigation .enter-page a {
background:transparent none repeat scroll 0 0;
display:inline;
font-weight:bold;
margin-left:5px;
padding:0;
}

.ui-tabs li a:hover, .ui-tabs li span:hover {
	background:#000;
	color:white;
	text-decoration: none;
}