/* This CSS sets the default styles for the main navigation. */

/* ---------- Main navigation ---------- */

#navigation {
	background-color: #b2d281;
} #navigation:after { clear: both; content: "."; display: block; height: 0; visibility: hidden; } .ie #navigation { height: 1%; }

#navigation-sub {
	background-color: #90B557;
	height: 32px;
	margin-bottom: 7px;
}

#navigation ul {
	float: left;
	list-style-type: none;
	margin: 0;
	padding: 0;
	min-height:32px;
	padding-left:5px;
}

#navigation ul li , .js #add-page {
	display: block;
	float: left;
	list-style-type: none;
	margin: 4px 4px 5px 0;
	padding: 0 0 0 0;
}

#navigation ul li.selected {
	background-color: #fff;
}

#navigation ul li a , .js #add-page a {
	display: block;
	padding: 5px 8px;
	height: 13px;
	color: #325B0A;
	text-decoration: none;
	font: bold 13.8667px/1em arial,helvetica,sans-serif;
}

#navigation ul li a:hover , .js #add-page a:hover {
	background-color: #e6f2d4;
}

#navigation-sub ul {
	float: left;
	list-style-type: none;
	margin: 0;
	padding: 0 9px;
}

#navigation-sub ul li {
	float: left;
	list-style-type: none;
	margin: 4px 0 5px;
	padding: 0;
}

#navigation-sub ul li a {
	display: block;
	padding: 5px 18px 5px 8px;
	height: 13px;
	color: #3b5d14;
	font: bold 11.2667px/1em arial,helvetica,sans-serif;
	text-decoration: none;
}

#navigation-sub ul li.selected a , #navigation-sub ul li a:hover {
	background-color: #ddeec2;
}

/* ---------- Dock without JavaScript ---------- */

.lfr-dock {
	float: right;
	color: #fff;
	padding: 15px 0 13px;
}

.lfr-dock h2 {
	margin: 0;
	padding: 0 13px;
	float: left;
	color: #d2dcf3;
	font: bold 13.2667px arial,helvetica,sans-serif;
	cursor: default;
}

.lfr-dock ul {
	margin: 0;
	padding: 0;
	float: left;
	list-style-type: none;
}

.lfr-dock li {
	float: left;
	list-style-type: none;
}

.lfr-dock li a {
	padding: 5px 10px 4px;
	color: #d2dcf3;
	font: bold 13.2667px arial,helvetica,sans-serif;
	text-decoration: none;
	border-left: 1px solid #5481ac;
}

/* ---------- Add/sort/remove page ---------- */

.js #navigation .enter-page {
	background: transparent url(../images/navigation/bg.png) no-repeat 0 100%;
	padding: 0.5em 2em 0.7em 1.5em;
}

.js #navigation .enter-page.editing {
	background: none;
	padding: 0.5em 2em 0.7em 1.5em;
}

.js #navigation .enter-page a {
	background: none;
	display: inline;
	font-weight: bold;
	margin-left: 1em;
	padding: 0;
}

.js .delete-tab {
	background: url(../images/common/remove.png) no-repeat 42%;
	cursor: pointer;
	display: block;
	height: 7px;
	position: absolute;
	right: 5px;
	text-indent: -9999em;
	top: 2px;
	width: 8px;
}

/*------ Drag/drop menu items ------*/

#navigation ul .sort-helper {
	background: url(../images/portlet/placeholder_bg.png);
	border: 1px dashed #508FB4;
	float: left;
	padding: 0.5em;
}

/*------ Navigation portlet ------*/

.nav-menu li a.ancestor {
	font-weight: bold;
}

.nav-menu li a.selected {
	1text-decoration: none;
	color: black;
	font-weight: bold;
}

.nav-menu ul {
	padding-left: 10px;
}

.nav-menu-style-1 {
}

.nav-menu-style-2 {
}