#banner {
	background: none;
	position: relative;
	top: 0;
}

body {
	background: #02245C url('../images/custom/body_bg.jpg') no-repeat scroll center top;
	font: 62.5%/1.6em Tahoma, 'Lucida Sans Unicode', Lucida Grande, 'Lucida', Arial, 'Verdana', sans-serif;
}

.ie .portlet-title {
	padding-bottom: 5px;
}

input[type="text"], input[type="password"], input[type="file"], input[type="submit"], input[type="button"], input[type="reset"], select, textarea, .textarea {
	padding: 3px 0;
}

.js #add-page a span {
	color: black;
}

.js #add-page {
	background: transparent none repeat scroll 0 0%;
	border: none;
	right: 12%;
	top: 4px;
}

.js #navigation .enter-page .save-page {
	text-decoration: underline;
}

.js #navigation .enter-page {
	background-color: transparent;
	padding: 0;
}

#navigation li a span {
	text-decoration: underline;
}

#navigation li a {
	color: #02245C;
}

#navigation li {
	border: 0;
	float: left;
	font: 18px Viper Nora, 'Arial';
	list-style-type: none;
	padding: 6px 10px;
}

#navigation li.selected a span {
	background: transparent;
	padding-left: 0;
}

#navigation li.selected a, #navigation li a:hover {
	background-color: transparent;
	color: #02245C;
}

#navigation ul {
	width: auto;
}

#navigation {
	background: transparent;
	border: none;
	margin: 50pt auto 20px;
}

.portlet-icons {
	margin: 3px;
	position: absolute;
	right: 7px;
	text-align: right;
	top: 4px;
}

.portlet-title {
	border-bottom: 1px solid #D0D0E0;
	color: #02245C;
	display: block;
	font: 30px AvantGarde Bk BT, 'Arial';
	font-weight: bold;
	min-width: 50%;
	padding: 8px 0 4px 10px;
}

.portlet-topper {
	background: transparent;
	background-position: right top;
	margin-right: -10px;
	padding-right: 40px;
	position: relative;
	border: none;
}

.portlet {
	background: transparent;
	border: 1px solid white;
	margin: 0 0 10px;
	padding-right: 10px;
	text-align: left;
}

#wrapper {
	background: transparent;
	margin: 0 auto;
	width: 958px;
}

#content-wrapper {
	width: 100%;
}

.portlet-calendar .calendar-container {
	background: transparent;
}

.portlet-calendar .calendar-day .day-number {
	border: none;
}