#set ($content_id = $reserved-article-id.data)
#set($text_align = "")

#if (!$banner_message_alignment.data.isEmpty())
	#set($text_align = $banner_message_alignment.data)
#end

<div class="banner" id="banner${content_id}">
	<div class="banner-message" style="text-align: ${text_align};">
		<h2>$banner_message.data</h2>

		#if (!$banner_secondary_message.data.isEmpty())
			<p class="banner-message-secondary">$banner_secondary_message.data</p>
		#end
	</div>

	#if (!$banner_button_text.data.isEmpty())
		<div class="banner-button">
			<a class="banner-link $banner_button_text.banner_button_style.data $banner_button_text.banner_button_size.data" href="$banner_button_text.banner_button_link.data">$banner_button_text.data</a>
		</div>
	#end
</div>