/* This file allows you to override default styles in one central location for easier upgrade and maintenance. */

a {
	color: #369;
	text-decoration: none;
}

a:hover {
	color: #49515C;
}

#banner .logo {
	background: transparent none;
}

#banner {
	background: #49515C url(../images/common/header_right.png) no-repeat scroll 100% 100%;
	height: 103px;
	position: relative;
	top: 0;
}

body {
	background: transparent url(../images/common/bodybg.png) repeat;
}

.js #add-page {
	background:transparent none repeat scroll 0 0;
	border:medium none;
	right:0%;
	top:2px;
}

.js #navigation .enter-page {
	background: #858F9E none;
}

.loading-animation {
	background: url(../images/progress_bar/loading_animationbar.gif) no-repeat top center;
}

#navigation li a span {
	background: none;
	padding-left: 1em;
}

#navigation li a {
	background: #858F9E none;
	color: #DDD;
	font-size: 8pt;
	padding: 5px 2em 5px 1em;
}

#navigation li a:hover span {
	background: none;
}

#navigation li a:hover {
	background: #6B7687 none;
	padding-bottom: 5px;
}

#navigation li {
	background: #858F9E none repeat scroll 0;
	border: 0;
	border-right: 4pt solid #FFF;
	margin: 3pt 0 0;
	padding: 0;
}

#navigation li.selected a span {
	background: #49515C none;
	font-size: 8pt;
	font-weight: normal;
}

#navigation li.selected a {
	background: #49515C none repeat scroll 0;
	color: #C6C4C5;
	font-size: 8pt;
	padding-bottom: 5px;
}

#navigation li.selected a:hover {
	padding-bottom: 5px;
}

#navigation {
	background: #FFF none;
	padding-right: 0;
	width: 975px;
}

.portlet, .portlet-topper, .portlet-content, .portlet-title {
	background: #FFF none;
}

.portlet-section-header th {
	border-bottom: 1px solid #CCC;
	color: #DDD;
}

.portlet-section-header {
	background: #858F9E;
}

.portlet-title {
	background: #F0F1F3 none;
	font-size: 14px;
}

.portlet-topper {
	background: #F0F1F3 none;
}

.portlet {
	background: #FFF none;
}

.ui-tabs li a, .tabs li span {
	background: #858F9E none;
	border-right: 5pt solid #FFF;
	color: #DDD;
	padding: 0 1em 0;
	top: 0;
}

.ui-tabs li {
	background: #858F9E none;
	margin-right: 0;
}

.ui-tabs li.current a, .ui-tabs li.current span {
	background: #49515C none;
	color: #C6C4C5;
	padding: 0 1em;
	border-top: none;
	border-left: none;
	border-bottom: none;
	border-right:5pt solid #FFFFFF;
}

.ui-tabs li.current {
	background: #49515C none;
	color: #C6C4C5;
	top: 0em;
}

.ui-tabs {
	border-bottom: none;
	padding: 0 0 2.6em 0;
}

#wrapper {
	background: #FFF none;
	padding: 5pt;
	width: 975px;
	margin:0 auto;
}

#content-wrapper {
	width: 100%;
}