@import "so";

$buttonTextColor: #34404F;
$defaultBorderColor: #D9D8D8;
$gray: #CECECE;
$grayDark: #C7D0DA;
$grayLight: #F4F4F4;
$grayMedium: #EEE;
$linkColor: #2571AD;
$red: #8F0920;

@mixin button-default {
	background-color: #E9E8E8;
	background-image: none;
	border: 1px solid $gray;
	text-shadow: none;
}

@mixin button-hover {
	background: $grayMedium;
	border-color: #AAA;
	color: #5A5A5A;
}

@mixin default-border {
	border: 1px solid $defaultBorderColor;
}

@mixin input-field-default {
	background: #FFF;

	@include default-border;

	vertical-align: middle;

	&:active, &:focus, &:hover, &.focus {
		@include input-field-focus;
	}

	input[type=text] {
		background: none;
		border-width: 0;
	}
}

@mixin input-field-focus {
	background-color: #FFFFF6;
	border-color: $linkColor;
}

@mixin remove-gradients {
	background-color: transparent;
	background-image: none;
}

body.so-classic {
	a {
		color: $linkColor;
	}

	.dockbar .nav-account-controls {
		.info-items .page-customization-bar .page-customization-bar-text {
			height: 74px;
		}

		.info-link-container {
			top: 57px;
		}
	}

	#banner {
		background-color: transparent;
		border-color: $defaultBorderColor;
		padding: 1.5em 2em;

		.site-title a {
			font-weight: 800;
		}
	}

	#navigation {
		background: #FFF;

		&, ul, a {
			border-color: $defaultBorderColor;
		}

		a {
			border: solid transparent;
			border-width: 0 0 1px;
			color: $linkColor;

			&, &:active, &:focus, &:hover {
				text-shadow: none;

				@include remove-gradients;
			}

			&:active, &:focus, &:hover {
				background: #F4F4F4;
				border-bottom-color: $defaultBorderColor;
			}
		}

		li.selected {
			border-left: 4px solid $red;
			border-top-color: transparent;

			a {
				background: #F4F4F4;
				box-shadow: none;
				color: $red;
			}
		}
	}

	#content {
		background: none;
		border-width: 0;
	}

	#main-content {
		background: none;
		border-bottom: 1px solid $defaultBorderColor;
		border-left: 1px solid $defaultBorderColor;
		box-shadow: none;
		margin-left: -1px;
	}

	&.dialog-iframe-popup, &.portal-popup {
		#main-content {
			border-width: 0;
		}
	}

	.portlet-topper {
		color: #929292;

		.portlet-title {
			font-size: 1em;
			font-weight: bold;
		}
	}

	.invite-members, .social-relations a, .aui-buttonitem-content {
		@include button-default;

		background-image: none;
	}

	.invite-members, .social-relations a {
		border-radius: 4px;

		&:hover, &:focus {
			text-decoration: none;

			@include button-hover;
		}

		&:active {
			@include button-active;
		}
	}

	.hidden-accessible, #navigation h1 {
		@include hidden-accessible;
	}

	/* ---------- Forms ---------- */

	input {
		background: #FFF;
	}

	input[type="text"], input[type="password"], input[type="file"], input[type="submit"], input[type="button"], input[type="reset"], select, textarea, .textarea, button, .aui-field-input-text {
		@include input-field-default;
	}

	input[type="image"] {
		background: transparent none;
		border-width: 0;
		padding: 0;
	}

	input, textarea {
		&.focus {
			@include input-field-focus;
		}
	}

	a.aui-button, input[type="submit"], input[type="button"], input[type="reset"], button {
		@include button-default;

		&:hover, &:focus {
			@include button-hover;
		}

		&:active, &.active {
			@include button-active;
		}
	}
}