.website {
	#banner {
		border-bottom: none;
		margin-bottom: 3em;

		h1.company-title {
			margin: 10px 15px;
		}

		h2.community-title {
			display: none;
		}

		#navigation {
			-moz-border-radius: 4px;
			-webkit-border-radius: 4px;
			background: #E8EFF4;
			border: 0 solid #C8C9CA;
			border-radius: 4px;
			border-width: 0 1px 1px 0;
			padding: 0 5px;
			position: relative;
			z-index: 1;

			ul {
				float: none;
				list-style: none;
				margin: 0;
				padding: 3px;

				a {
					border-bottom: none;
					color: #8F0920;
					font-size: 12px;
				}

				li.selected a,
				li a:hover {
					color: #000;
					border-bottom: none;
				}
			}
		}

		#sign-in {
			background: url(../../images/common/key.png) no-repeat;
			font-size: 1.2em;
			font-weight: bold;
			padding-left: 20px;
			position: absolute;
			right: 15px;
			text-decoration: underline;
			top: 15px;
		}

		#page-search {
			display: none;
		}
	}

	#breadcrumbs {
		display: none;
	}
}