/* This file allows you to override default styles in one central location for easier upgrade and maintenance. */

a {
	color: #000;
}

a:hover {
	color: #FFF;
}

#banner .logo {
	height: 317px;
	padding: 0;
}

#banner {
	background: #4F0101 url('../images/custom/header_bg.jpg');
	border: 0;
	margin: 0;
}

#banner .logo a {
	margin-left:43px;
	margin-top:31px;
	position:absolute;
}

#banner-content {
	width: auto;
}

body {
	background: #DA7C2B url('../images/custom/body_bg.jpg') repeat-y scroll center top;
	color: #C6C6C6;
	font: 65.5%/12px 'Verdana', 'Arial', 'Georgia', sans-serif;
}

#content-wrapper {
	width: 954px;
}

html {
	overflow-y: scroll;
}

.js #add-page a {
	font-weight: normal;
}

.js #add-page {
	padding-top: 8px;
}

.js .interactive-mode {
	position: absolute;
	right:10px;
}

#navigation li a, .js #add-page a {
	color: #FFF;
}

#navigation li, .js #add-page {
	background: transparent none;
}

#navigation li.selected {
	border: 0;
}

#navigation {
	background: transparent url('../images/custom/menu.jpg');
	height: 45px;
}

.portlet-topper {
	background: #4E0000 url('../images/custom/portlet-topper_bg.png') repeat-x;
}

.portlet {
	background: #4F0101;
	border: 2px solid #600;
	margin-bottom: 1em;
	text-align: left;
}

#wrapper {
	margin: 0 auto;
	width: 956px;
}
.ui-tabs {
	border-bottom: 1px solid #bfe1ff;
	margin: 0 0 1.5em 0;
	padding: 0 0 2.6em 1em;
}

.ui-tabs li {
	background: #eaf5ff url(../images/common/tabs_inactive_bg.png) repeat-x 0 100%;
	border-bottom: 0;
	display: inline;
	float: left;
	line-height: 2.25;
	margin-right: 0.8em;
	padding: 0;
	text-decoration: none;
}

.ui-tabs li a, .tabs li span {
	display: block;
	float: left;
	padding: 0.35em 1em 0;
	text-decoration: none;
	top: 0;
	background: transparent;
	color: black;
	border:1px solid #000000;
}

.ui-tabs li a:hover, .ui-tabs li span:hover {
	color:#FFF;
}

.tabs li.current {
	background: #bfe1ff url(../images/common/tabs_active_bg.png) repeat-x 0 0;
	font-weight: bold;
}

.ui-tabs li.current:hover, .ui-tabs li.current a:hover {
	background-color:transparent;
	background:transparent url(../images/custom/menu.jpg) repeat scroll 0 0;
	text-decoration: none;
}

.ui-tabs li.current a, .ui-tabs li.current span {
	background:transparent url(../images/custom/menu.jpg) repeat scroll 0 0;
	border:1px solid #000000;
	color:white;
	padding: 0.15em 1em;
}