<?xml version="1.0"?>
<!DOCTYPE html PUBLIC "-//WAPFORUM//DTD XHTML Mobile 1.1//EN" "http://www.openmobilealliance.org/Tech/DTD/xhtml-mobile12.dtd">

#parse ($init)

<html xmlns="http://www.w3.org/1999/xhtml">

<head>
	<title>$the_title - $company_name</title>
</head>

<body>

#if ($has_navigation)
	#parse ("$full_templates_path/navigation.vm")
#end

$theme.include($content_include)

</body>

</html>