@import "compass";

.portlet-configuration {
	.preview {
		background-color: #D0D0D0;
		float: right;
		font-size: 164px;
		height: 30.5em;
		text-align: center;

		.preview-play {
			display: inline-block;
			position: relative;
			top: 50%;
			margin-top: -82px;
		}
	}

	select {
		padding: 4px;
	}

	.field-inline {
		vertical-align: text-top;
	}

	.field-label {
		vertical-align: bottom;
	}

	.field-row .field-content {
		margin-right: 1em;
	}

	.field-input-choice {
		margin-right: 0.3em;
	}

	.url .field-input {
		width: 30em;
	}

	.height .field-input, .start-time .field-input, .width .field-input {
		width: 4.9em;
	}

	.colorpicker-trigger {
		vertical-align: top;
	}

	.field-text .field-label, .field-select .field-label {
		display: block;
	}

	.lfr-panel-container {
		border-width: 0;
	}

	.annotations .field-input, .closed-captioning .field-input {
		width: 11em;
	}
}

/* ---------- Extras ---------- */

.portlet-configuration #preview {
	@include border-radius(4px);
}