.portlet-configuration #preview {
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
	background: #d0d0d0 url(../images/preview_bg.png) no-repeat center center;
	border-radius: 4px;
	float: right;
	height: 30.5em;
}

.portlet-configuration select {
	padding: 4px;
}

.portlet-configuration .aui-field-inline {
	vertical-align: text-top;
}

.portlet-configuration .aui-field-label {
	vertical-align: bottom;
}

.portlet-configuration .aui-field-row .aui-field-content {
	margin-right: 1em;
}

.portlet-configuration .aui-field-input-choice {
	margin-right: 0.3em;
}

.portlet-configuration .url .aui-field-input {
	width: 30em;
}

.portlet-configuration .height .aui-field-input,
.portlet-configuration .start-time .aui-field-input,
.portlet-configuration .width .aui-field-input {
	width: 4.9em;
}

.portlet-configuration .aui-colorpicker-trigger {
	vertical-align: top;
}

.portlet-configuration .aui-field-text .aui-field-label,
.portlet-configuration .aui-field-select .aui-field-label {
	display: block;
}

.portlet-configuration .lfr-panel-container {
	border: 0;
}

.portlet-configuration .annotations .aui-field-input,
.portlet-configuration .closed-captioning .aui-field-input {
	width: 11em;
}

.portlet-configuration .invisible {
	visibility: hidden;
}