<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE web-app PUBLIC "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN" "http://java.sun.com/dtd/web-app_2_3.dtd">

<web-app>
	<context-param>
		<param-name>guice-modules</param-name>
		<param-value>
			org.apache.shindig.common.PropertiesModule:
			org.apache.shindig.gadgets.DefaultGuiceModule:
			org.apache.shindig.social.sample.SampleModule:
			org.apache.shindig.gadgets.oauth.OAuthModule:
			org.apache.shindig.common.cache.ehcache.EhCacheModule
		</param-value>
	</context-param>
	<filter>
		<filter-name>authFilter</filter-name>
		<filter-class>org.apache.shindig.auth.AuthenticationServletFilter</filter-class>
	</filter>
	<filter-mapping>
		<filter-name>authFilter</filter-name>
		<url-pattern>/gadgets/api/rest/*</url-pattern>
	</filter-mapping>
	<filter-mapping>
		<filter-name>authFilter</filter-name>
		<url-pattern>/gadgets/api/rpc/*</url-pattern>
	</filter-mapping>
	<filter-mapping>
		<filter-name>authFilter</filter-name>
		<url-pattern>/gadgets/ifr</url-pattern>
	</filter-mapping>
	<filter-mapping>
		<filter-name>authFilter</filter-name>
		<url-pattern>/gadgets/makeRequest</url-pattern>
	</filter-mapping>
	<filter-mapping>
		<filter-name>authFilter</filter-name>
		<url-pattern>/social/*</url-pattern>
	</filter-mapping>
	<listener>
		<listener-class>org.apache.shindig.common.servlet.GuiceServletContextListener</listener-class>
	</listener>
	<listener>
		<listener-class>com.liferay.portal.kernel.servlet.PortletContextListener</listener-class>
	</listener>
	<listener>
		<listener-class>com.liferay.portal.kernel.spring.context.PortletContextLoaderListener</listener-class>
	</listener>
	<listener>
		<listener-class>com.liferay.opensocial.servlet.OpenSocialServletContextListener</listener-class>
	</listener>
	<servlet>
		<servlet-name>concat</servlet-name>
		<servlet-class>org.apache.shindig.gadgets.servlet.ConcatProxyServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>gadgetsJsonRpcServlet</servlet-name>
		<servlet-class>org.apache.shindig.protocol.JsonRpcServlet
		</servlet-class>
		<init-param>
			<param-name>handlers</param-name>
			<param-value>org.apache.shindig.gadgets.handlers</param-value>
		</init-param>
	</servlet>
	<servlet>
		<servlet-name>gadgetsRestapiServlet</servlet-name>
		<servlet-class>org.apache.shindig.protocol.DataServiceServlet</servlet-class>
		<init-param>
			<param-name>handlers</param-name>
			<param-value>org.apache.shindig.gadgets.handlers</param-value>
		</init-param>
	</servlet>
	<servlet>
		<servlet-name>js</servlet-name>
		<servlet-class>org.apache.shindig.gadgets.servlet.JsServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>makeRequest</servlet-name>
		<servlet-class>org.apache.shindig.gadgets.servlet.MakeRequestServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>metadata</servlet-name>
		<servlet-class>org.apache.shindig.gadgets.servlet.RpcServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>oauthCallback</servlet-name>
		<servlet-class>org.apache.shindig.gadgets.servlet.OAuthCallbackServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>proxy</servlet-name>
		<servlet-class>org.apache.shindig.gadgets.servlet.ProxyServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>socialJsonRpcServlet</servlet-name>
		<servlet-class>org.apache.shindig.protocol.JsonRpcServlet</servlet-class>
		<init-param>
			<param-name>handlers</param-name>
			<param-value>org.apache.shindig.social.handlers</param-value>
		</init-param>
	</servlet>
	<servlet>
		<servlet-name>socialRestapiServlet</servlet-name>
		<servlet-class>org.apache.shindig.protocol.DataServiceServlet</servlet-class>
		<init-param>
			<param-name>handlers</param-name>
			<param-value>org.apache.shindig.social.handlers</param-value>
		</init-param>
	</servlet>
	<servlet>
		<servlet-name>xml-to-html</servlet-name>
		<servlet-class>org.apache.shindig.gadgets.servlet.GadgetRenderingServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>concat</servlet-name>
		<url-pattern>/gadgets/concat</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>js</servlet-name>
		<url-pattern>/gadgets/js/*</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>gadgetsJsonRpcServlet</servlet-name>
		<url-pattern>/gadgets/api/rpc/*</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>gadgetsRestapiServlet</servlet-name>
		<url-pattern>/gadgets/api/rest/*</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>makeRequest</servlet-name>
		<url-pattern>/gadgets/makeRequest</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>metadata</servlet-name>
		<url-pattern>/gadgets/metadata</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>oauthCallback</servlet-name>
		<url-pattern>/gadgets/oauthcallback</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>proxy</servlet-name>
		<url-pattern>/gadgets/proxy/*</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>socialJsonRpcServlet</servlet-name>
		<url-pattern>/social/rpc/*</url-pattern>
	</servlet-mapping>		
	<servlet-mapping>
		<servlet-name>socialRestapiServlet</servlet-name>
		<url-pattern>/social/rest/*</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>xml-to-html</servlet-name>
		<url-pattern>/gadgets/ifr</url-pattern>
	</servlet-mapping>
	<taglib>
		<taglib-uri>http://java.sun.com/jstl/core_rt</taglib-uri>
		<taglib-location>/WEB-INF/tld/c-rt.tld</taglib-location>
	</taglib>
</web-app>