<?xml version="1.0"?>

<web-app version="2.4" xmlns="http://java.sun.com/xml/ns/j2ee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/j2ee http://java.sun.com/xml/ns/j2ee/web-app_2_4.xsd">
	<context-param>
		<param-name>portalContextConfigLocation</param-name>
		<param-value>/WEB-INF/classes/META-INF/messaging-spring.xml</param-value>
	</context-param>
	<filter>
		<filter-name>authFilter</filter-name>
		<filter-class>com.liferay.opensocial.shindig.servlet.AuthenticationServletFilter</filter-class>
	</filter>
	<filter>
		<filter-name>Shindig Filter</filter-name>
		<filter-class>com.liferay.opensocial.shindig.servlet.ShindigFilter</filter-class>
	</filter>
	<filter-mapping>
		<filter-name>Shindig Filter</filter-name>
		<url-pattern>/*</url-pattern>
	</filter-mapping>
	<jsp-config>
		<taglib>
			<taglib-uri>http://java.sun.com/jsp/jstl/core</taglib-uri>
			<taglib-location>/WEB-INF/tld/c.tld</taglib-location>
		</taglib>
	</jsp-config>
</web-app>