<style>
.wrapper {
	background-color: #EBEBEB;
	height: 100%;
}

.container {
	background-color: #FFFFFF;
	border: 1px solid #000000;
	margin: 10px auto;
	width :80%;
}

.company {
	background-color: #CFCFCF;
	color: #000000;
	font-size: 18px;
	font-weight: bold;
	padding: 10px;
}

.notification-message {
	border-bottom: 1px solid #CFCFCF;
	padding: 10px;
}

.thread-message {
	border-bottom: 1px solid #CFCFCF;
	padding: 10px;
}

.thread-message img {
	border: 0px;
	width: 50px;
}

.thread-message .sent-date {
	color: #CFCFCF;
}

.reply {
	padding: 10px;
}
</style>

<div class="wrapper">
	<br />

	<div class="container">
		<div class="company">
			[$COMPANY_NAME$]
		</div>

		<div class="notification-message">
			<a href="[$FROM_PROFILE_URL$]">[$FROM_NAME$]</a> sent you a message.
		</div>

		<div class="thread-message">
			<table>
			<tr valign="top">
				<td>
					<a href="[$FROM_PROFILE_URL$]"><img src="[$FROM_AVATAR$]" title="[$FROM_NAME$]" /></a>
				</td>
				<td>
					<a href="[$FROM_PROFILE_URL$]">[$FROM_NAME$]</a> <span class="sent-date">[$SENT_DATE$]</span>

					<div class="subject">
						[$SUBJECT$]
					</div>

					<div class="body">
						[$BODY$]
					</div>
				</td>
			</tr>
			</table>
		</div>

		<div class="reply">
			To reply to this message, click on the following link:
			<a href="[$THREAD_URL$]">[$THREAD_URL$]</a>
		</div>
	</div>
</div>