<nav class="$nav_css_class" id="navigation">
	<h1>
		<span>#language("navigation")</span>
	</h1>

	<ul>
		#set ($navCount = 0)
		#foreach ($nav_item in $nav_items)
			#set ($navCount = $navCount + 1)
			
			#set($nav_css_class = '')
			
			#if($navCount == 1)
				#set($nav_css_class = $nav_css_class + 'first ')
			#end
			
			#if($navCount == $nav_items.size())
				#set($nav_css_class = $nav_css_class + 'last ')
			#end
			
			#if ($nav_item.isSelected())
				#set($nav_css_class = $nav_css_class + 'selected ')
			#end
			
			#if($nav_css_class != '')
				<li class='$nav_css_class'>
			#else
				<li>
			#end
				<a href="$nav_item.getURL()" $nav_item.getTarget()><span>$nav_item.icon() $nav_item.getName()</span></a>

				#if ($nav_item.hasChildren())
					<ul class="child-menu">
						#foreach ($nav_child in $nav_item.getChildren())
							#if ($nav_child.isSelected())
								<li class="selected">
							#else
								<li>
							#end
								<a href="$nav_child.getURL()" $nav_child.getTarget()>$nav_child.getName()</a>
							</li>
						#end
					</ul>
				#end
			</li>
		#end
		
	</ul>
</nav>