.portlet-polls-display .no-progress {
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=40);
  opacity: 0.4; }
  .portlet-polls-display .no-progress .progress-bar-status {
    display: none; }

