/* This file allows you to override default styles in one central location for easier upgrade and maintenance. */


/* ---- GLOBAL ---- */

a {
	color: #666;
}

a:hover {
	color: #CCC;
	text-decoration: underline;
}

body {
	background: #000 url(../images/custom/common/body_bg.png) repeat-x fixed left bottom;
}

#wrapper {
	background: #010101;
	border-bottom: 3px double #333;
	border-left: 3px double #333;
	border-right: 3px double #333;
	margin-left: auto;
	margin-right: auto;
	width: 975px;
}


/* ---- BANNER ---- */

#banner .logo {
	background: transparent none;
}

#banner {
	background: transparent url(../images/custom/common/banner_bg.jpg) no-repeat scroll 100% 100%;
	height: 240px;
	position: relative;
}


/* ---- LAYOUT ---- */

#layout-grid .lfr-column {
	padding: 0;
}


/* ---- NAVIGATION ---- */

.js #add-page a {
	color: #FFF;
}

.js #add-page {
	background: transparent;
	border: none;
	bottom: 24%;
	float: right;
	font-weight: bold;
	padding-top: 8px;
}

.js #navigation .enter-page {
	background: transparent none repeat scroll 0 0%;
	margin-bottom: -12px;
	position: relative;
	top: -5px;
	width: auto;
}

#navigation li a span {
	background: none;
	padding: 0;
}

#navigation li a {
	background: none;
	color: #FFF;
	font-size: 11px;
	padding: 0;
}

#navigation li a:hover span {
	background: none;
}

#navigation li a:hover {
	padding-bottom: 0;
}

#navigation li {
	background: none;
	border: none;
	border-right: 1px solid #1A1A1A;
	margin-right: 1px;
	overflow: hidden;
	padding: 12px 25px;
}

#navigation li.selected a span {
	background: none;
	font-size: 1em;
	padding: 0;
}

#navigation li.selected a {
	padding: 0;
}

#navigation li.selected a, #navigation li a:hover {
	background: transparent;
}

#navigation li.selected a:hover {
	padding-bottom: 0;
}

#navigation li.selected, navigation li:hover {
	background: url(../images/custom/navigation/bg.png) no-repeat 50% 100%;
	padding-bottom: 11px;
}

#navigation ul {
	margin: 0 auto 0 1px;
	width: auto;
}

#navigation {
	background: url(../images/custom/navigation/bg.png) repeat-x;
	border-bottom: 1px solid #1A1A1A;
	border-top: none;
	margin: 0;
	padding: 0;
	width: auto;
}


/* ---- PORTLET ---- */

.loading-animation {
	background: url(../images/custom/progress_bar/loading_animationbar.gif) no-repeat top center;
}

.portlet, .portlet-topper, .portlet-content, .portlet-title {
	background: none;
	border: none;
}

.portlet-content {
	background-position: left bottom;
	color: #777;
	padding: 10px 5px 25px 15px;
}

.portlet-section-body td {
	background: #666 none repeat scroll 0 50%;
	border-top: 1px solid #BFBFBF;
	color: #CCC;
	padding: 0.3em 1em;
}

.portlet-section-header th {
	background: #000 none;
	color: #666;
}

.portlet-section-header {
	background: #DDD;
}

.portlet-title img {
	display: none;
}

.portlet-title {
	color: #777;
	font-size: 15px;
	padding: 8px 0 10px 10px;
}

.portlet {
	background: #010101 url(../images/custom/portlet/portlet_bg.png) repeat-x;
	margin: 10px 5px;
	padding-right: 10px;
	text-align: left;
}


/* ---- TABS ---- */

.ie .tabs li {
	top: 0.2em;
}

.ie .tabs li.current {
	top: 0.2em;
}

.tabs li a, .tabs li span {
	background: url(../images/custom/navigation/bg.png);
	color: #FFF;
	padding: 0.15em 1em 0;
}

.tabs li {
	background: url(../images/custom/navigation/bg.png);
	line-height: 15px;
	margin-right: 0.3em;
	top: 0.15em;
}

.tabs li.current a, .tabs li.current span {
	background: url(../images/custom/navigation/bg.png) bottom;
	color: #FFF;
	padding: 0.1em 1em;
}

.tabs li.current {
	background: url(../images/custom/navigation/bg.png) bottom;
}

.tabs {
	border-bottom: 1px solid #222;
	padding: 0 0 18px 1em;
}


/* ---- DOCK ---- */

.js .interactive-mode {
	right: -8px;
	top: -106px;
}


/* ---- TAB BORDER ----*/

.ui-tabs li.current a, .ui-tabs li.current span, .ui-tabs li a, .tabs li span {
	border: none;
}