/* This file allows you to override default styles in one central location for easier upgrade and maintenance. */

/* ---------- Banner ---------- */

#banner {
	background: url(../images/common/header.jpg) no-repeat scroll 100% 100%;
	height: 10em;
	position: relative;
}

#banner .logo {
	background: none;
	display: block;
	float: left;
	font-size: 2em;
	padding: 1.25em 0.6em 1.45em;
}

#banner .logo a {
	text-decoration: none;
}

.lfr-dock h2 {
	background: url(../images/navigation/welcome_message.png) no-repeat 0 50%;
	font-size: 1.2em;
	margin-bottom: 0.5em;
	padding-left: 2em;
	text-align: left;
}

.lfr-dock {
	position: absolute;
	right: 10px;
	top: 10px;
}

.js .lfr-dock.interactive-mode h2 {
	background: none;
	font-size: 1.2em;
	margin-bottom: 0;
	padding: 0 0 0 0;
	position: relative;
	right: 950px;
	top: 25px;
	z-index: 82;
}

.js .lfr-dock.interactive-mode h2 span {
	background: none;
	border: 1px outset;
	color: #fff;
	display: block;
	font-size: 1.2em;
	margin-bottom: 0;
	padding: 0.5em 0.5em 0.5em 0.5em;
}

.js .lfr-dock.expanded .lfr-dock-list-container {
	background: #60738C;
	border: 1px solid #B5B9BB;
	border-top: none;
	position: relative;
	right: 950px;
	top: 25px;
}

.js .interactive-mode .my-places .show-my-places {
	background: #fff;
	border: 1px solid #ccc;
	display: block;
	min-width: 200px;
	padding: 0.2em;
	position: absolute;
	left: 85%;
	top: 87%;
}

body {
	background: #3B2B14 url(../images/common/background.jpg) repeat-x top;
	font: 62.5%/1.6em 'Tahoma','Lucida Sans Unicode','Lucida Grande','Lucida',Arial,Verdana,sans-serif;
}

/* ---------- Main content body ---------- */

#wrapper {
	margin: 0 auto;
	width: 90%;
}

/* ---------- Main navigation ---------- */

.js #add-page {
	float: left;
	font-weight: bold;
	padding-top: 0.3em;
	position: relative;
	right: 750px;
}

#navigation {
	background: url(../images/common/link.jpg) repeat-x;
	margin: 0 auto 0px;
	min-height: 2.2em;
	overflow: hidden;
	padding-right: 1em;
	padding-bottom: 0px;
	width: 99.2%;
	text-align: middle;
}

#navigation ul {
	float: right;
	min-height: 2em;
	width: auto;
}

#navigation li {
	background: none;
	display: inline;
	float: left;
	margin-right: 0.5em;
	padding: 0 1.5em 0 0;
	position: relative;
}

#navigation li a {
	background: none;
	display: block;
	padding: .4em 1.5em 0.5em .15em;
	text-decoration: none;
	font-size: 1.3em;
	color: #E4EAAE;
}

#navigation li a span {
	background: none;
	padding-left: 17px;
	text-decoration: none;
}

#navigation li a:hover {
	background: #E4EAAE;
	padding-bottom: 7.5px;
	color: #000;
}

#navigation li.selected a {
	background: #E4EAAe;
	color: #000;
	padding-top: 0.5em;
}

#navigation li.selected a span {
	background: none;
	font-size: 1em;
	font-weight: bold;
}

#navigation li a:hover span {
	background: none;
}

.js .delete-tab {
	background: url(../images/common/remove.png) no-repeat 42%;
	cursor: pointer;
	display: block;
	height: 7px;
	position: absolute;
	top: 2px;
	right: 15px;
	width: 8px;
}


/* ---------- 1 column ---------- */

.columns-1 #column-1, .columns-max #column-1 {
	background: #E4EAAE;
	display: table;
	padding-left: 10px;
	padding-right: 10px;
	padding-top: 20px;
	padding-bottom: 20px;
	width: 100%;
}

/* ---------- 2 columns ---------- */

.columns-2 #column-1 {
	background: #E4EAAE;
	border-right: 1px solid #000;
	padding-left: 10px;
	padding-top: 20px;
	padding-bottom: 20px;
}

.columns-2 #column-2 {
	background: #E4EAAE;
	padding-right: 10px;
	padding-top: 20px;
	padding-bottom: 20px;
}

/* ---------- 3 columns ---------- */

.columns-3 #column-1 {
	background: #E4EAAE; 
	padding-left: 0;
}

.columns-3 #column-2 {
	background: #E4EAAE;
	border-right: 1px solid #000;
	border-left: 1px solid #000;
	padding-left: 0;
}

.columns-3 #column-3 {
	background: #E4EAAE;
	padding-right: 0;
}

/* ---------- 1/2/1 ---------- */

.columns-1-2-1 #column-1, .columns-1-2-1 #column-4 {
	background: #E4EAAE;
	padding-top: 20px;
	padding-left: 10px;
	padding-right: 10px;
}

.columns-1-2-1 #column-2 {
	background: #E4EAAE;
	padding-left: 0;
}

.columns-1-2-1 #column-3 {
	background: #E4EAAE;
	padding-right: 0;
}

/* ---------- 2/2 ---------- */

.columns-2-2 #column-1, .columns-2-2 #column-2 {
	background: #E4EAAE;
	padding-top: 20px;
	padding-left: 10px;
	padding-right: 10px;
}

.columns-2-2 #column-4 {
	background: #E4EAAE;
}


/* ---------- Portlet wrapper and icons ---------- */

.portlet, .portlet-topper, .portlet-content, .portlet-title {
	background: #FFF;
	margin-bottom: -10px;
}

.portlet-topper {
	background-position: right top;
	margin-right: -10px;
	padding-right: 40px;
	position: relative;
}

.portlet-title {
	background: url(../images/common/topper.jpg) no-repeat;
	background-position: bottom left;
	display: block;
	font-weight: bold;
	font-size: 9pt;
	min-width: 50%;
	padding: 8px 0 4px 10px;
}

.portlet-content {
	background-position: left bottom;
	padding: 10px 5px 25px 15px;
}

.portlet {
	margin: 0 0 10px;
	padding-right: 10px;
	text-align: left;
}

.tabs li {
	background: url(../images/common/tab.jpg) repeat-x 100% 0;
	display: inline;
	float: left;
	line-height: 2.25;
	margin-right: 0.8em;
	padding: 0;
	position: relative;
	top: 6px;
	text-decoration: none;
}

.tabs li.current {
	background: url(../images/common/tab_selected.jpg) repeat-x 100% 0;
	font-weight: bold;
	top: 6px;
}

.ie6 .tabs li.current {
	top: 6px;
}

.tabs li a, .tabs li span {
	background: none;
	color: #E4EAAE;
	display: block;
	float: left;
	padding: 0.35em 1em 0;
	text-decoration: none;
}

.tabs li.current a, .tabs li.current span {
	background: none;
	color: #E4EAAE;
	padding: 0.15em 1em;
}

.tabs {
	border-bottom: 1px solid #234244;
	margin: 0 0 1.5em 0;
	padding: 0 0 2.6em 1em;
}

/* ------------ Tables ----------- */

/* ---------- Table or section header ---------- */

.portlet-section-header {
	background: #4E7467;
	color: #E4EAAE;
	padding: 1px 0 0;
}

.portlet-section-header th {
	border-bottom: 1px solid #ccc;
	color: #E4EAAE;
	font-weight: bold;
	padding: 0.3em 1em;
}

/* ---------- Normal text in a table cell ---------- */

.portlet-section-body {
	background: ;
	color: #000;
}

.portlet-section-body td {
	background: #E4EAAE;
	color: #000;
	border-top: 1px solid #BFBFBF;
	padding: 0.3em 1em;
}

/* ---------- Text in every other row in the cell ---------- */

.portlet-section-alternate {
	background: #D3DEEB;
	color: #000;
}

.portlet-section-alternate td {
	background: #fff;
	border-top: 1px solid #BFBFBF;
	padding: 0.3em 1em;
}

.portlet-section-alternate-hover td, .portlet-section-body-hover td {
	background: #FFF5BA;
	border-bottom: 1px solid #E0D79F;
	border-top: 1px solid #E0D79F;
	padding: 0.3em 1em;
}

.portlet-section-body td td, .portlet-section-body-hover td td {
	border: none;
}

.portlet-section-alternate td td, .portlet-section-alternate-hover td td {
	border: none;
}

/* ---------- Text in a selected cell range ---------- */

.portlet-section-selected {
	background: #EEE;
}