/* This CSS sets the default styles for tabs. */

.tabs {
	border-bottom: 1px solid #8DB2E3;
	margin: 0 0 1.5em 0;
	padding: 0 0 2.6em 1em;
}

.tabs li {
	background: url(../images/common/tabs_bg.gif) 100% -50px;
	display: inline;
	float: left;
	line-height: 2.25;
	margin-right: 0.8em;
	padding: 0;
	position: relative;
	text-decoration: none;
}

.tabs li a, .tabs li span {
	background: url(../images/common/tabs_bg.gif) 0 -150px;
	display: block;
	float: left;
	padding: 0.35em 1em 0;
	text-decoration: none;
}

.tabs li.current {
	background: url(../images/common/tabs_bg.gif) 100% 0;
	font-weight: bold;
	top: 0.15em;
}

.tabs li.current a, .tabs li.current span {
	background: url(../images/common/tabs_bg.gif) 0 -100px;
	color: #333;
	padding: 0.15em 1em;
}

.ie .tabs li {
	line-height: 2.35;
}

.ie .tabs li.current {
	top: 0.2em;
}