@import "compass";

/* ---------- Global ---------- */

#breadcrumbs, #heading .page-title, #navigation .child-menu, #navigation h1, #skip-to-content {
	clip: rect(0 0 0 0);
	height: 0;
	margin: 0;
	padding: 0;
	position: absolute;
}

.columns-max .portlet-borderless-bar, .portlet-journal-content-search .lfr-search-button, .portlet-journal-content-search .lfr-search-keywords {
	display: none;
}

body {
	font: 12px Arial, Helvetica, sans-serif;
	line-height: 1.35;

	&.lfr-dockbar-pinned {
		padding-top: 31px;
	}

	&.signed-in {
		background-position: 0 31px;
	}
}

/* ---------- Wrapper / Sign-in ---------- */

#wrapper {
	background: #FFF url(../images/custom/header-bg.png) repeat-x 0 0;
	margin: 0 auto;
	padding-bottom: 15px;
	position: relative;
}

#loggedInUsername, #signIn {
	color: #E8E8E8;
	font-size: 12px;
	height: 16px;
	padding: 17px 0;
	position: absolute;
	text-decoration: none;
	top: 0;
}

#loggedInUsername {
	left: 0;
}

#signIn {
	right: 0;
}

/* ---------- Banner ---------- */

#banner {
	background: url(../images/custom/banner-bg.png) repeat-x 0 50px;
	margin: 0 auto 25px;
	padding: 50px 0 0;
	position: relative;
	width: 960px;

	#heading {
		height: 100px;
	}

	.site-title {
		height: 100px;
		margin: 0;

		.logo {
			padding: 10px 0;

			&.default-logo img {
				padding: 8px 0;
			}
		}

		.site-name {
			background: #BBD58D;
			color: #FFF;
			display: inline-block;
			font-size: 1em;
			font-weight: lighter;
			margin: 16px 20px;
			padding: 7px 17px;
			position: relative;
		}
	}

	.page-search {
		float: right;
		height: 130px;
		margin: 38px 0;
		position: absolute;
		right: 10px;
		top: 50px;
		width: 184px;

		#keywords, .lfr-search-keywords input, .lfr-search-keywords input.focus {
			background: #242424 url(../images/custom/search.png) no-repeat 7px 1px;
			border-width: 0;
			color: #FFF;
			padding-left: 25px !important;
			padding-right: 10px;
			width: 162px;
		}

		.lfr-search-button input {
			display: none;
		}
	}
}

.ie6 #banner {
	background-image: none;
}

/* ---------- Navigation ---------- */

#navigation {
	display: block;
	height: 50px;
	margin-bottom: 45px;

	ul {
		display: inline-block;
		height: 50px;
		margin: 0;
		padding: 0;
		position: relative;
		width: 940px;

		li {
			float: left;
			list-style: none;

			&.selected a {
				background: url(../images/custom/selected-bg.png) repeat-x 0 0;
			}
		}
	}

	a {
		color: #000;
		display: block;
		padding: 18px 0;

		&:link, &:visited {
			color: #FFF;
			font-size: 12px;
			font-weight: 400;
			line-height: 14px;
			padding: 20px 15px 16px 15px;
			text-decoration: none;
			text-transform: uppercase;
		}

		&:hover {
			background-color: #70844C;
			background-color: rgba(150, 181, 98, 0.3);
		}
	}
}

#content #main-content {
	min-height: 350px;
}

/* ---------- Content layout ---------- */

.columns-1-2-3 #layout-column_column-1, .columns-2-1-4 #layout-column_column-1 {
	padding-top: 0;
}

.columns-1-2-3 .portlet-column-content#layout-column_column-1, .columns-2-1-4 .columns-1-2 .portlet-column-only .portlet-column-content-only, .columns-2-1-4 .portlet-column-content#layout-column_column-3 {
	padding-left: 0;
	padding-right: 0;
}

.columns-2-1-4 .columns-1-2 .aui-w30 {
	width: 25%;
}

.portlet-column-content {
	padding: 5px 10px;
}

/* ---------- Content ---------- */

.left {
	float: left;
}

.right {
	float: right;
}

.clear {
	clear: both;
}

h4, h5, h6 {
	line-height: 1;
}

#main-content {
	margin: 0 auto;
	width: 960px;
}

h1.underlined {
	margin: 21px 0 10px;
}

.underlined {
	border-bottom: 6px solid #B2CF7D;
	display: inline-block;
}

.full {
	display: block;
}

.read-more {
	color: #7E994C;
	display: block;
}

.grey.underlined {
	border-bottom: 6px solid #CCC;
}

#recentNews div {
	border-bottom: 2px solid #D5D5D5;
	padding-top: 1em;

	&.first {
		padding-top: 0;
	}

	&.last {
		border-bottom-width: 0;
	}
}

/* ---------- Navigation portlet ---------- */

.portlet-navigation .nav-menu {
	background: #E6E6E6;

	h2 {
		background-color: #343434;
		border: 1px solid;
		border-color: #4D4D4D transparent #3F3F3F transparent;
		font-size: 1.16em;
		margin: 0;
		padding: 8px;
		text-transform: uppercase;

		a {
			color: #A4C667;
			text-decoration: none;
		}
	}

	ul {
		list-style: none;
		margin: 0;
		padding: 0;

		li {
			display: block;

			a {
				border-bottom: 1px solid #CFCFCF;
				border-top: 1px solid #FFF;
				color: #5F5F5F;
				display: block;
				font-size: 1em;
				margin: 0;
				padding: 15px;
				text-decoration: none;
				text-transform: uppercase;

				&:hover {
					background: #2A2B2B;
					border-left: 5px solid #A4C667;
					color: #E8E8E8;
					margin: 0;
					padding: 15px 12px;
				}
			}
		}
	}
}

input {
	&[type="submit"], &[type="submit"]:hover, &[type="reset"], &[type="reset"]:hover, button, button:hover {
		background-color: #343434;
		color: #A4C667;
		margin: 5px 0;
	}

	&[type="submit"]:hover, &[type="button"]:hover, &[type="reset"]:hover {
		color: #E8E8E8;
	}
}

.aui-state-default {
	background-color: #343434;
}

/* ---------- Make an appointment / Web form ---------- */

.web-form-portlet.make-appointment {
	padding: 10px 20px;
	width: 650px;

	.aui-form .aui-fieldset .aui-field.lfr-textarea-container textarea {
		width: 300px;
	}

	legend .aui-legend {
		width: 100%;
	}

	.description {
		clear: both;
		color: #969696;
		display: inline-block;
		float: right;
		font-family: Georgia, "Times New Roman", Times, serif;
		font-size: 18px;
		position: absolute;
		right: 20px;
		top: 25%;
		width: 267px;

		&:before, &:after {
			background-image: url(../images/custom/quotemarks.png);
			background-repeat: no-repeat;
			content: " ";
			display: block;
			height: 30px;
			text-indent: -9999px;
			width: 17px;
		}

		&:before {
			background-position: 0 0;
			float: left;
			margin-left: -20px;
		}

		&:after {
			background-position: -20px 0;
			float: right;
			text-align: right;
		}
	}
}

h1.appointment {
	background: url(../images/custom/button.png) 0 5px no-repeat;
	color: #2A2B2B;
	display: inline-block;
	font-family: Georgia, "Times New Roman", Times, serif;
	font-style: italic;
	padding-left: 41px;
}

/* ---------- Footer ---------- */

#footer {
	background: #202020 url(../images/custom/footer.png) 0 -5px repeat-x;
	color: #DBDBDB;
	font-family: Georgia, "Times New Roman", Times, serif;
	min-height: 220px;
	padding: 5px 0 11px 0;

	#footerContent {
		margin: 0 auto;
		width: 940px;

		.aui-column-content {
			display: inline-block;
			width: 100%;
		}

		h3 {
			color: #DBDBDB;
			font-size: 2.5em;
			font-style: italic;
			font-weight: lighter;
			margin: 0.84em 0 .75em 0;
		}

		ul li {
			font-family: Arial, Helvetica, sans-serif;
			font-size: 14px;
		}

		#footerBlurb {
			p {
				font: 14px Georgia, "Times New Roman", Times, serif;
				font-style: italic;
				padding-right: 20px;
			}

			span {
				color: #8FA46A;
			}
		}

		#footerNavigation ul, #footerContact ul {
			list-style: none;
			margin-left: 0;
		}

		#footerNavigation ul li {
			a {
				text-decoration: none;

				&:link, &:visited {
					color: #C1C1C1;
				}

				&:hover {
					color: #8FA46A;
				}
			}
		}
	}
}

/* ---------- Extras ---------- */

#banner {
	.site-title .site-name {
		@include border-radius(4px);
		@include box-shadow(inset 0 0 5px rgba(0, 0, 0, 0.8), 1px 1px 1px white);
		@include text-shadow(1px 1px rgba(0, 0, 0, 0.5));
	}

	.page-search {
		#keywords, .lfr-search-keywords input, .lfr-search-keywords input.focus {
			@include border-radius(5px);
		}
	}
}

#navigation a {
	@include text-shadow(1px 1px 1px #CFE99E);
}

.shadow {
	@include box-shadow(#888 2px 2px 4px);
}

input[type="submit"], input[type="submit"]:hover, input[type="reset"], input[type="reset"]:hover, .portlet-navigation .nav-menu h2 {
	@include background-image(linear-gradient(left top, #343434, #242424));
}

input[type="submit"], input[type="submit"]:hover, input[type="reset"], input[type="reset"]:hover, #footer #footerContent, #navigation a:link, #navigation a:visited {
	@include text-shadow(1px 1px 1px #000);
}

.web-form-portlet.make-appointment {
	@include background-image(linear-gradient(left top, #EEE, #FFF));

	.description {
		@include text-shadow(1px 1px #FFF);
	}
}