/* Global */
html {
	overflow-y: scroll;
}

#wrapper {
	background: transparent;
	border: 1px solid #666666;
	margin: 20px auto;
	position: relative;
	width: 1162px;
}

#banner {
	background: #C23B01 url(../images/custom/header_bckg.jpg) no-repeat scroll left center;
	height: 100px;
	position: relative;
	width: 100%;
}

.logo {
	margin: 0;
}

.logo a {
	left: 50px;
	position: relative;
	top: 26px;
}

body {
	background: #000000 url(../images/custom/bckg.gif) repeat scroll 0 0;
	font-family: "Myriad Pro","Trebuchet MS",Arial;
	font-size: 0.9em;
	line-height: 20px;
	margin: 50px;
}

#content-wrapper {
	background: white none repeat scroll 0 0;
	border: 5px solid white;
}

a {
	font-size: 12px;
}

#footer {
	background: #424E4F url(../images/custom/footer_bckg.jpg) repeat scroll 0 0;
	clear: both;
	font-style: italic;
	height: 102px;
}

.ie #content-wrapper {
	width: 1152px;
}

/* Navigation */
#navigation {
	background: #FF6600 url(../images/custom/menu_bckg.jpg) repeat scroll 0 0;
	border: none;
	display: block;
	height: 33px;
}

#navigation li {
	border: none;
}

#navigation li.selected a, #navigation li a:hover {
	background-color: transparent;
}

#navigation li a:hover {
	background: #C23B01 url(../images/custom/menu_bckg_over.jpg) repeat scroll 0 0;
	margin-top: 1px;
	padding-top: 4px;
}

#navigation li.selected a span {
	background: transparent;
	padding-left: 0px;
}

#navigation li a {
	color: white;
	font-size: 14px;
	font-style: italic;
	font-weight: bold;;
	padding: 12px 25px;
	position: relative;
	text-decoration: none;
	top: 2px;
}

.js #navigation .enter-page {
	background-color: transparent;
}

.js #navigation .enter-page a {
	display: inline;
	height: 33px;
	margin: 4px 15px;
	padding: 0;
	position: relative;
	top: -5px;
	width: 50px;
}

.js #add-page {
	background:transparent url(../images/common/add.png) 5px 55% no-repeat;;
	border:medium none;
	float: right;
	position: relative;
	top: -12px;
}

.ie #add-page {
	top: 8px;
}

.js #add-page a {
	color: #FFF;
	padding: 7px 25px;
	text-decoration: none;
}

/* Dock */
.js .interactive-mode {
	top:13px;
	right: 2%;
}

/* Portlet */
.portlet {
	background: transparent;
	border: none;
	margin-bottom: 10px;
}

.portlet-topper {
	background: transparent;
	border: none;
	font-size: 18px;
}

/* Liferay UI */
.ui-tabs li a, .tabs li span {
	background: transparent none repeat scroll 0 0;
	border-right: medium none;
	color: black;
}

.ui-tabs li a:hover, .ui-tabs li span:hover {
	background: transparent;
}

.ui-tabs li.current:hover, .ui-tabs li.current a:hover {
	background-color: transparent;
}

.ui-tabs li.current a, .ui-tabs li.current span {
	background: #FF6600 url(../images/custom/menu_bckg.jpg) repeat scroll 0 0;
	border: medium none;
	color: white;
}

.ui-tabs {
	border-bottom: medium none;
}