$microblogs-border-color: #C7D0DA;

.microblogs-portlet {
	.taglib-header {
		display: none;
	}

	.microblogs-container {
		padding-bottom: 20px;
	}

	.microblogs-entry-form {
		border-bottom: 1px solid $microblogs-border-color;
		padding: 10px 11px;
		position: relative;

		.aui-field-text {
			display: block;
			padding: 0 5px;
		}

		.aui-field-text textarea {
			height: 1.25em;
			margin: 0 -10px;
			overflow: hidden;
			width: 100%;
		}

		.aui-field-text-focused {
			textarea {
				height: auto;
			}
		}

		.aui-button-holder {
			margin: 5px 0 0;
		}

		.aui-field-select {
			display: inline-block;
		}

		.button-holder-right {
			float: right;
			line-height: 1em;
		}

		.microblogs-countdown {
			background: #CFD8E1;
			color: #FFF;
			padding: 2px;
			position: absolute;
			right: 14px;
			top: 14px;
		}

		 .microblogs-countdown-warned {
			background: #F00;
		}

		&.reply {
			margin-left: 25px;
			padding-left: 0;
		}
	}

	.autocomplete {
		background-color: #FFF;
		height: 18px;
		position: relative;
		padding: 8px;
	}

	.microblogs-entry {
		border-bottom: 1px solid $microblogs-border-color;
		margin: 0 15px;
		padding: 1em 0 .5em;

		.entry-bubble {
			margin-left: 50px;
		}
	}

	.thumbnail {
		float: left;
		height: 45px;
		overflow: hidden;
		margin-right: 2px;
		width: 45px;

		img {
			max-width: 45px;
		}
	}

	.comments-container {
		display: none;
	}

	.microblogs-entry {
		.user-name a {
			font-weight: bold;
		}

		.footer {
			color: #CCC;
			font-size: .9em;

			.action {
				display: none;
			}

			.action-container a {
				display: inline-block;
				padding: 0 5px;
				position: relative;
			}
		}

		&:hover .footer .action {
			display: inline-block;
		}

		.footer .action-container {
			.comment, .repost {
				display: inline-block;
			}
		}

		&.show-comments {
			.comment a:after {
				border: 5px solid $microblogs-border-color;
				border-color: transparent transparent $microblogs-border-color;
				bottom: -8px;
				content: "";
				display: block;
				left: 50%;
				margin-left: -5px;
				position: absolute;
			}

			.comments-container {
				display: block;
			}

			.footer {
				padding: 0 0 8px;
			}
		}
	}

	.reply {
		margin-left: 50px;

		.entry-bubble {
			margin-left: 30px;
		}

		.thumbnail {
			height: 26px;
			width: 26px;

			img {
				max-width: 26px;
			}
		}

		.microblogs-entry, .microblogs-entry-form {
			border-bottom-width: 0;
			border-top: 1px solid $microblogs-border-color;
			margin: 0;
		}

		.content, .user-name {
			display: inline;
		}

		.microblogs-entry-form {
			.button-holder-right {
				float: none;
				margin-left: 35px;
			}
		}

		.microblogs-entry-content, .autocomplete {
			margin-left: 35px;
		}

		.microblogs-entry .footer {
			padding: 0;
		}
	}

	.microblogs-status-container .footer .action-container {
		display: none;
	}

	.microblogs-entry-form:after, .microblogs-entry:after {
		content: "";
		clear: both;
		display: block;
	}

	.highlighter-content {
		color: transparent;
		left: 1px;
		padding: 5px;
		position: absolute;
		top: 1px;
		visibility: hidden;
		word-wrap: break-word;
		z-index: 998;
	}

	.highlighter-content.textbox {
		min-height: 20px;
		padding: 2px;
		position: static;
	}

	.highlighter-content span {
		background-color: #97D1FF;
		font-weight: normal;
		line-height: 1.45em;
		margin: -2px -2px 0;
		padding: 2px 2px 0;
		visibility: visible;
		zoom: 1;
	}

	.highlighter-content div {
		display: inline-block;
		white-space: pre;
	}

	.aui-field-input-text {
		background: none transparent;
		border: none;
		min-width: 99%;
		position: absolute;
		resize: none;
		top: 0;
		outline: none;
		z-index: 999;
	}

	.microblogs-autocomplete {
		clear: both;
		height: 50px;

		.thumbnail {
			margin: 0 5px 0 0;

			img {
				float:left;
				width: 50px;
			}
		}

		.small {
			font-size: 10px;
		}
	}

	.taglib-page-iterator {
		padding: 5px 25px;
	}
}