@import "compass";

$microblogs-border-color: #EAEAEA;

.microblogs-portlet {
	.taglib-header {
		display: none;
	}

	.microblogs-container {
		padding-bottom: 20px;
	}

	.microblogs-entry-form {
		padding: 10px 11px;
		position: relative;

		.field-text {
			display: block;
			padding: 0 5px;

			textarea {
				height: 1.25em;
				margin: 0 -10px;
				overflow: hidden;
				width: 100%;
			}
		}

		.field-text-focused textarea {
			height: auto;
		}

		.button-holder {
			margin-top: 5px;
		}

		.field-select {
			display: inline-block;
			float: left;

			.field-element {
				position: static;
			}
		}

		.microblogs-countdown-holder {
			float: right;
			line-height: 1em;
		}

		.microblogs-countdown {
			background: #CFD8E1;

			@include border-radius(3px);

			color: #FFF;
			opacity: 0.5;
			padding: 2px;
			position: absolute;
			right: 14px;
			top: 14px;
		}

		.microblogs-countdown-warned {
			background: #F89406;
		}

		&.reply {
			margin-left: 25px;
			padding-left: 0;
		}
	}

	.autocomplete {
		&, &.textarea {
			background-color: #FFF;
			height: 18px;
			padding: 8px;
			position: relative;
		}

		&,
		&:focus,
		&.inactive {
			border: 1px solid #EAEAEA;

			@include border-radius(3px);
		}

		.textarea {
			border-width: 0;
		}
	}

	.microblogs-entry {
		border-bottom: 1px solid $microblogs-border-color;
		margin: 0 15px;
		padding: 1em 0 0.5em;

		.entry-bubble {
			margin-left: 60px;
		}
	}

	.thumbnail {
		float: left;
		height: 45px;
		margin-right: 2px;
		overflow: hidden;
		width: 45px;

		img {
			max-width: 45px;
		}
	}

	.comments-container {
		display: none;

		.button-holder {
			margin-left: 40px;
		}
	}

	.microblogs-entry {
		.user-name a {
			font-weight: bold;
		}

		.footer {
			color: #CCC;
			font-size: 0.9em;

			.action {
				display: none;
			}

			.action-container a {
				display: inline-block;
				padding: 0 5px;
				position: relative;
			}
		}

		&:hover .footer .action {
			display: inline-block;
		}

		.footer .action-container {
			.comment, .repost {
				display: inline-block;
			}
		}

		&.show-comments {
			.comment a:after {
				border: 5px solid $microblogs-border-color;
				border-color: transparent transparent $microblogs-border-color;
				bottom: -8px;
				content: "";
				display: block;
				left: 50%;
				margin-left: -5px;
				position: absolute;
			}

			.comments-container {
				display: block;
			}

			.footer {
				padding: 0 0 8px;
			}
		}
	}

	.reply {
		margin-left: 50px;

		.entry-bubble {
			margin-left: 40px;
		}

		.thumbnail {
			height: 26px;
			width: 26px;

			img {
				max-width: 26px;
			}
		}

		.microblogs-entry, .microblogs-entry-form {
			border-bottom-width: 0;
			border-top: 1px solid $microblogs-border-color;
			margin: 0;
		}

		.content, .user-name {
			display: inline;
		}

		.microblogs-entry-form .microblogs-countdown-holder {
			margin-left: 35px;
		}

		.microblogs-entry-content, .autocomplete {
			margin-left: 40px;
		}

		.microblogs-entry .footer {
			padding: 0;
		}
	}

	.microblogs-status-container .footer .action-container {
		display: none;
	}

	.microblogs-entry-form:after, .microblogs-entry:after {
		clear: both;
		content: "";
		display: block;
	}

	.highlighter-content {
		color: transparent;
		line-height: 1.5em;

		@include force-wrap();

		left: 5px;
		padding: 4px;
		position: absolute;
		top: 0;
		width: 100%;
		visibility: hidden;
		z-index: 998;

		&.textbox {
			min-height: 20px;
			padding: 2px;
			position: static;
		}

		span {
			background-color: #97D1FF;
			border-radius: 3px;
			font-weight: normal;
			padding: 2px 0;
			visibility: visible;
			zoom: 1;
		}

		div {
			display: inline-block;
			width: 100%;

			@include force-wrap();
		}
	}

	.field-input-text {
		background: none transparent;
		border-width: 0;
		line-height: 1.5em;
		min-width: 99%;
		outline: none;
		position: absolute;
		resize: none;
		top: 0;
		z-index: 999;
	}

	.microblogs-autocomplete {
		clear: both;
		height: 50px;

		.thumbnail {
			margin: 0 5px 0 0;

			img {
				float:left;
				width: 50px;
			}
		}

		.small {
			font-size: 10px;
		}
	}

	.taglib-page-iterator {
		padding: 5px 25px;
	}
}