@import url(color_schemes/dark.css);
@import url(color_schemes/light.css);

/*.nav-menu-style-arrows ul {
	list-style-image: url(https://cdn.lfrs.sl/www.liferay.com/osb-community-theme/images/navigation/bullet_selected.png);
}*/

/* ---------- Variables ---------- */

$bannerHeight: 771px;
$color: #3D7899;
$navHeight: 46px;
$smallBannerHeight: 257px;
$dockbarWidth:57px;
$navigationHeight:41px;

/* ---------- Base styles ---------- */

.aui {

	#wrapper {
		margin: 0 auto 20px;
		padding: 0;
		max-width: 1154px;
	}

	.signed-in #wrapper {
		padding-left: $dockbarWidth;
	}

	.signed-out #wrapper {
		margin-top: $navigationHeight;
	}

	.signed-out #sign-in {
		background: transparent;
		left: 95%;
		position: absolute;
		text-decoration: none;
		top: -30px;
		font-weight: bold;
	}

	/* ---------- Dockbar ---------- */

	.portlet-dockbar {
		.navbar-inner {
			background: transparent;
			border: 0;
			box-shadow: none;

			ul.nav-add-controls {
				left: 1%;
				position: absolute;
				top: 10%;
				z-index: 2;

				li {
					background: #FFF;
					border-radius: 5px;
					clear: left;
					margin: 10px auto;
					padding: 3px;
					width: 41px;

					i {
						height: 100%;
						width: 100%;
					}

					.nav-item-label {
						display: none;
					}
				}
			}

			ul.nav-account-controls {
				background: #FFF;
				position: relative;
				margin: 0;
				z-index: 2;

				li {
					background: #FFF;
					float: left;
				}
			}
		}
	}

	/* ---------- Banner / Navigation ---------- */

	.banner-large {
		background: url(../images/custom/banner.jpg) no-repeat;
		height: $bannerHeight;
		position: relative;

		.page-title {
			color: #FFF;
			padding: 50px auto;
			text-align: center;


			span {
				font-size: 100px;
				line-height: 100px;
			}
		}

		.link-to-content {
			margin: 20px auto;
			text-align: center;

			> a {
				border: 1px solid #FFF;
				color: #FFF;
				font-size: 20px;
				padding: 5px;
			}
		}
	}

	.banner-small {
		background: url(../images/custom/small-banner.jpg) no-repeat;
		height: $smallBannerHeight;
		position: relative;

		.page-title {
			color: #FFF;
			text-align: center;
		}
	}

	#banner {
		#heading {
			.logo {
				margin: 0 5px 0 20px;
			}

			.site-name {
				color: #FFF;
				display: inline-block;
				margin: 30px 0;
				padding: 5px 10px;
			}
		}

		#navigation {
			.navbar-inner {
				background: url(../images/custom/nav_bg.png) repeat-x 0 -1px;
				border: 0;
				border-radius: 0;
				float: left;
				left: auto;
				position: fixed;
				right: auto;
				top: 0;
				width: auto;
				z-index: 1;

				a {
					color: #999;
					text-decoration: none;
					text-shadow: none;

					&:hover {
						color: #FFF;
					}
				}

				.dropdown-menu {
					background: url(../images/custom/nav_bg.png);
					border-radius: 0;
					margin: 0 auto;

					&:after,
					&:before {
						border: 0;
						display: none;
					}
				}

				.lfr-nav-item,
				.selected a,
				.hover a {
					background: transparent;
				}
			}
		}
	}

/*	.signed-in #banner-small #navigation {
		padding-left: $dockbarWidth;
	}*/

	/* ---------- Content ---------- */

	#content {
		background: #FFF;
		padding: 10px 20px;
	}

	/* ---------- Footer ---------- */

	#footer {
		background: #000;
		padding: 10px 20px;

		h3 {
			color: #FFF;
			margin: 5px 0;
		}

		.powered-by {
			padding: 20px;
			text-align: right;
		}

		ul {
			list-style: none;
		}
	}

	#footer-inner {
		width: 100%;
	}

	#footer-left,
	#footer-center {
		float: left;
		width: 33%;
	}

	/* ---------- Portlet Styling ---------- */


}