antlr2.jar
bsh.jar
commons-collections.jar
commons-logging.jar
dom4j.jar
javassist.jar
log4j.jar
slf4j-api.jar
slf4j-log4j12.jar
spring-asm.jar
spring-beans.jar
spring-context.jar
spring-core.jar
spring-expression.jar
spring-jdbc.jar
spring-orm.jar
spring-transaction.jar
spring-web.jar
util-bridges.jar
util-java.jar
util-taglib.jar