<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" id="oauth-portlet" version="3.0">
  <display-name>oauth-portlet</display-name>
  <jsp-config>
  	<taglib>
		<taglib-uri>http://java.sun.com/jsp/jstl/core</taglib-uri>
		<taglib-location>/WEB-INF/tld/c.tld</taglib-location>
	</taglib>
  	<taglib>
  		<taglib-uri>http://java.sun.com/portlet_2_0</taglib-uri>
  		<taglib-location>/WEB-INF/tld/liferay-portlet.tld</taglib-location>
  	</taglib>
  	<taglib>
  		<taglib-uri>http://liferay.com/tld/aui</taglib-uri>
  		<taglib-location>/WEB-INF/tld/aui.tld</taglib-location>
  	</taglib>
  </jsp-config>
</web-app>