/* -------- Global -------- */

#skip-to-content,
#heading .community-title,
#heading .page-title,
#navigation h1 {
	clip: rect(0 0 0 0);
	position: absolute;
}

/* -------- Wrapper / Skip / Sign-in -------- */

#wrapper {
	margin: 0 auto;
	position: relative;
}

#skip-to-content,
#sign-in {
	color: #FFF;
	top: 1.5em;
}

#skip-to-content {
	left: 2em;
}

#skip-to-content:active,
#skip-to-content:focus {
	clip: auto;
}

#sign-in {
	position: absolute;
	right: 2em;
}

/* -------- Banner-------- */

#banner {
	background: #000 url(../images/custom/banner_bg.png) repeat-x left bottom;
	height: 97px;
}

#heading {
	margin: 0 auto;
	width: 960px;
}

#heading .company-title {
	margin: 0;
	padding: 15px 0 10px;
}

/* -------- Navigation -------- */

#navigation {
	font: bold 11px Arial, Helvetica, sans-serif;
	margin: -23px auto 0;
	text-transform: uppercase;
	width: 960px;
}

#navigation ul {
	list-style: none;
	margin: 0;
}

.ie6 #navigation ul,
.ie7 #navigation ul {
	zoom: 1;
}

#navigation ul:after {
	clear: both;
	content: ".";
	display: block;
	height: 0;
	line-height: 0;
	visibility: hidden;
}

#navigation li,
#navigation a {
	float: left;
}

#navigation .first {
	background: url(../images/custom/navigation_bg.png) no-repeat left -32px;
	padding-left: 7px;
}

#navigation .last {
	background: url(../images/custom/navigation_bg.png) no-repeat right -64px;
	padding-right: 7px;
}

#navigation a {
	background: url(../images/custom/navigation_bg.png);
	color: #B7B7B7;
	padding: 9px;
	text-decoration: none;
}

#navigation a:active,
#navigation a:focus,
#navigation a:hover {
	color: #FFF;
}

/* -------- Content -------- */

#content {
	margin: 0 auto;
	min-height: 100px;
	padding: 25px 0;
	width: 960px;
}

#breadcrumbs {
	display: none;
}

.portlet {
	margin: 0 0 15px;
}

.portlet-topper {
	background: #EEE;
	padding: 4px;
}

.portlet-content {
	border: 1px solid #EEE;
	color: #303030;
	font: 12px Arial, Helvetica, sans-serif;
	padding: 10px;
}

.portlet-title {
	color: #333;
	font-size: 12px;
	text-transform: uppercase;
}

/* -------- Footer -------- */

#footer {
	background: url(../images/custom/navigation_bg.png);
	padding: 9px 0;
}

#footer p {
	color: #EEE;
	margin: 0 auto;
	width: 960px;
}