/* ---- GLOBAL ---- */
.light {
	background: transparent url(../../images/custom/background.png) repeat top center;
}

.light #wrapper {
	background: #FFFFFF url(../../images/custom/header_bg.png) repeat-x top center;
}

/* ---- BANNER ---- */
.light #banner {
	background: transparent url(../../images/custom/banner_bg.jpg) no-repeat;
	border-top: 2px solid #48525B;
}

/* ---- NAVIGATION ---- */
.light #navigation {
	background:#FFFFFF url(../../images/custom/header_bg.png) repeat-x scroll center top;
	border-top: 7px solid #455660;
}

.light #navigation li a {
	color: #FFFFFF;
}

.light #navigation li.selected {
	background: #4A5C6A none no-repeat 50% 100%;
	padding-bottom:9px;
}

.light .js #add-page a {
	color: #FFFFFF;
}

/* ---- PORTLETS ---- */

.light .portlet-title {
	color: #7BA35A;
}

.light .portlet-content {
	border-top: 12px solid #DDDDDD;
}

.light .portlet-section-header {
	background: #7898AD none;
}

.light .portlet-section-body td {
	background: #DDDDDD none;
}

.light .portlet-section-header th {
	border-bottom: 1px solid #7BA35A;
}

/* ---- TABS ---- */
.light .tabs {
	border-bottom: 1px solid #7BA35A;
}

.light .tabs li {
	background: url(../../images/custom/header_bg.png);
}

.light .tabs li a, .light .tabs li span {
	background: url(../../images/custom/header_bg.png);
	color: #FFFFFF;
}

.light .tabs li.current {
	background: #7BA35A none;
}

.light .tabs li.current a, .light .tabs li.current span {
	background: #7BA35A none;
	color: #FFFFFF;
}

/* ---- FORMS ---- */
.light input[type="text"], .light input[type="password"], .light input[type="file"], .light input[type="submit"], .light input[type="button"], .light input[type="reset"], .light select, .light textarea, .light .textarea {
	background: #EEEEEE;
	border: 1px solid #888888;
	color: #888888;
}

.light input[type="submit"], .light input[type="button"], .light input[type="reset"] {
	background: #FC3307;
	border-color: #FF7800 rgb(105, 19, 0) rgb(105, 19, 0) rgb(255, 120, 0);
	border-style: solid;
	border-width: 1px;
	color: #FFFFFF;
	cursor: pointer;
	padding: 2px 5px;
}

.light input.focus, .light textarea.focus, .light .ie6 input.focus, .light .ie6 textarea.focus {
	background: #E7F1F3 none repeat scroll 0%;
	border: 1px solid #000000;
	color: #000000;
}

.light .ie6 input.text, .light input.password, .light .ie6 input.submit, .light .ie6 input.file, .light .ie6 input.button {
	background: #EEEEEE;
	border: 1px solid #888888;
	color: #888888;
}

.light .ie6 input.submit, .light .ie6 input.button {
	background: #FC3307;
	border-color: #FF7800 rgb(105, 19, 0) rgb(105, 19, 0) rgb(255, 120, 0);
	border-style: solid;
	border-width: 1px;
	color: #FFFFFF;
}