<?xml version="1.0"?>

<web-app version="2.4" xmlns="http://java.sun.com/xml/ns/j2ee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/j2ee http://java.sun.com/xml/ns/j2ee/web-app_2_4.xsd">
	<context-param>
		<param-name>portalContextConfigLocation</param-name>
		<param-value>/WEB-INF/classes/META-INF/dummy-spring.xml</param-value>
	</context-param>
	<filter>
		<filter-name>Auto Login Filter</filter-name>
		<filter-class>com.liferay.portal.kernel.servlet.PortalClassLoaderFilter</filter-class>
		<init-param>
			<param-name>filter-class</param-name>
			<param-value>com.liferay.portal.servlet.filters.autologin.AutoLoginFilter</param-value>
		</init-param>
	</filter>
	<filter>
		<filter-name>Servlet Authorizing Filter</filter-name>
		<filter-class>com.liferay.portal.kernel.servlet.PortalClassLoaderFilter</filter-class>
		<init-param>
			<param-name>filter-class</param-name>
			<param-value>com.liferay.portal.servlet.filters.servletauthorizing.ServletAuthorizingFilter</param-value>
		</init-param>
	</filter>
	<filter-mapping>
		<filter-name>Auto Login Filter</filter-name>
		<url-pattern>/servlet_request/*</url-pattern>
	</filter-mapping>
	<filter-mapping>
		<filter-name>Servlet Authorizing Filter</filter-name>
		<url-pattern>/servlet_request/*</url-pattern>
	</filter-mapping>
	<listener>
		<listener-class>com.liferay.portal.kernel.servlet.PortletContextListener</listener-class>
	</listener>
	<listener>
		<listener-class>com.liferay.portal.kernel.spring.context.PortletContextLoaderListener</listener-class>
	</listener>
	<listener>
		<listener-class>com.liferay.testmisc.servlet.TestPortletSessionListenerLoader</listener-class>
	</listener>
</web-app>