<br />Welcome to <b>%%CONFNAME%%</b>!<br /><br />

To join the audio bridge click the headset icon (upper-left hand corner).  Use a headset to avoid causing background noise for others.<br /><br />

You are using Liferay Meetings.<br />