@import url(color_schemes/dark.css);
@import url(color_schemes/light.css);
@import "mixins";

/*.nav-menu-style-arrows ul {
	list-style-image: url(https://cdn.lfrs.sl/www.liferay.com/osb-community-theme/images/navigation/bullet_selected.png);
}*/

/* ---------- Variables ---------- */

$bannerHeight: 771px;
$navHeight: 46px;
$smallBannerHeight: 257px;
$dockbarWidth:67px;
$navigationHeight:41px;

/* ---------- Base styles ---------- */

.aui {

	#wrapper {
		margin: 0 auto 20px;
		padding: 0;
		max-width: 1154px;
	}

	/* ---------- Banner ---------- */

	.banner-large {
		background: url(../images/custom/banner.jpg) no-repeat;
		height: $bannerHeight;
		position: relative;

		.page-title {
			color: #FFF;
			padding: 50px auto;
			text-align: center;

			span {
				font-size: 100px;
				line-height: 100px;
			}
		}

		.link-to-content {
			margin: 20px auto;
			text-align: center;

			> a {
				border: 1px solid #FFF;
				color: #FFF;
				font-size: 20px;
				padding: 5px;
			}
		}
	}

	.banner-small {
		background: url(../images/custom/small-banner.jpg) no-repeat;
		height: $smallBannerHeight;
		position: relative;

		.page-title {
			color: #FFF;
			text-align: center;

			span {
				font-size: 40px;
				line-height: 40px;
			}
		}
	}

	#banner {
		#heading {
			.logo {
				margin: 0 5px 0 20px;
			}

			.site-name {
				color: #FFF;
				display: inline-block;
				margin: 30px 0;
				padding: 5px 10px;
			}
		}
	}

	/* ---------- Content ---------- */

	#content {
		background: #FFF;
		padding: 10px 20px;
	}

	/* ---------- Footer ---------- */

	#footer {
		background: #000;
		padding: 10px 20px;
		overflow: hidden;

		h3 {
			color: #FFF;
			margin: 5px 0;
		}
	}

	#footer-left {
		float: left;
		width: 60%;
	}

	#footer-right {
		float: right;
		width: 30%;
		padding-left: 5%;

		ul {
			list-style: none;
		}
	}

	.powered-by {
		clear: both;
		text-align: right;
	}
	/* ---------- Portlet Styling ---------- */


}

/* ---------- Extras ---------- */

.aui {
	#wrapper {
		@include respond-to(phone, tablet) {
			padding: 0;
		}
	}

	/*---------- Up to landscape phone ----------*/

	@media (max-width: 480px) {

		/* Remove padding from default */
		body {
			padding: 0;
		}

		.banner-large {
			height: 350px;

			.page-title span {
				font-size: 40px;
				line-height: 40px;
			}
		}

		.site-name {
			font-size: 25px;
		}
	}

	/*---------- Landscape phone to desktop/tablet ----------*/

	@media (min-width: 481px) and (max-width: 767px) {

		/* Remove padding from default */
		body {
			padding: 0;
		}

		.banner-large {
			height: 550px;

			.page-title span {
				font-size: 70px;
				line-height: 70px;
			}
		}

		.site-name {
			font-size: 30px;
		}
	}


	/*---------- Tablet to desktop ----------*/

	@media (max-width: 979px) {

		/* ---------- Dockbar ---------- */

		.portlet-dockbar {
			.navbar-inner {
				background: transparent;
				border: 0;
				box-shadow: none;

				.nav-account-controls,
				.nav-add-controls {
					background: #e9e9e9;
					border-radius: 5px;
					float: right;
				}

				.nav-collapse.open {
					position: absolute;
					top: 50px;
					z-index: 2;
				}

				#_145_navAccountControlsNavbarCollapse {
					right: 55px;
				}

				#_145_navAddControlsNavbarCollapse {
					right: 0;
				}
			}
		}

		.signed-out .portlet-dockbar {
			.navbar-inner {
				#_145_navAddControlsNavbarBtn {
					display: none;
				}
			}
		}

		.signed-in .portlet-dockbar {
			.navbar-inner {
				#_145_navAccountControlsNavbarBtn {
					padding: 2px;

					.user-avatar-image {
						height: 30px;
						width: 31px;
					}
				}
			}
		}

		/* ---------- Navigation ---------- */

		#navigation {
			position: absolute;
			right: 0;
			top: 0;

			.navbar-inner {
				background: url(../images/custom/nav_bg.png) repeat;
				border: none;
				box-shadow: none;
				display: none;
				padding: 0;

				.nav-collapse {
					height: auto;

					li {
						> a {
							background: transparent;
							box-shadow: none;
							color: #FFF;
							text-shadow: none;
						}

						:hover {
							background: #888;
							color: #00aaff;
							/*a {
								color: #00aaff;
							}*/
						}
					}
				}
			}
		}

		#navigation.open {
			.navbar-inner {
				display: block;
			}
		}
	}

	/*---------- Desktop and up ----------*/

	@media (min-width: 980px) {

		/* ---------- Base Styles ---------- */

		.signed-in #wrapper {
			padding: 0 $dockbarWidth;
		}

		/* ---------- Dockbar ---------- */

		.portlet-dockbar {
			.navbar-inner {
				background: transparent;
				border: 0;
				box-shadow: none;
				padding: 0;

				ul.nav-account-controls {
					background: #FFF;
					position: relative;
					margin: 0;
					z-index: 4;

					li {
						background: #FFF;
						float: left;
					}
				}

				ul.nav-add-controls {
					left: 10px;
					position: absolute;
					top: 60px;
					z-index: 1;

					a:hover {
						.nav-item-label {
							display: inline;
						}
					}

					li {
						background: #FFF;
						border-radius: 5px;
						clear: left;
						margin: 10px auto;
						padding: 3px;
						width: 41px;

						i {
							height: 100%;
							width: 100%;
						}

						> a {
							background: transparent;
							text-align: left;
							white-space: nowrap;

							:hover {
								background: #F3f3f3;

							}

							.nav-item-label {
								background: url(../images/custom/nav_bg.png);
								border-radius: 5px;
								color: #FFF;
								display: none;
								left: 20px;
								margin-left: 0;
								margin-top: 0;
								padding: 10px;
								position: relative;
								text-shadow: none;
							}

							.icon-caret-down {
								display: none;
							}

							.toggle-controls-link {
								background: transparent;
							}
						}
					}
				}
			}
		}

		/* ---------- Navigation ---------- */

		#navigation {
			.navbar-inner {
				background: url(../images/custom/nav_bg.png) repeat-x 0 -1px;
				border: 0;
				border-radius: 0;
				float: left;
				position: fixed;
				top: 0;
				width: auto;
				z-index: 3;

				a {
					color: #999;
					text-decoration: none;
					text-shadow: none;

					&:hover {
						color: #FFF;
					}
				}

				.dropdown-menu {
					background: url(../images/custom/nav_bg.png);
					border-radius: 0;
					margin: 0 auto;

					&:after,
					&:before {
						border: 0;
						display: none;
					}
				}

				.lfr-nav-item,
				.selected a,
				.hover a {
					background: transparent;
				}
			}
		}
	}
}

