.events-display-portlet {
	h2 {
		margin: 0.5em 0;
	}

	.event-name {
		font-weight: bold;
	}

	.event-time {
		float: right;
	}

	.event-type, .results-header {
		display: none;
	}

	.aui-field-select {
		display: block;

		.aui-field-content {
			margin: 10px;
		}
	}
}

.aui-dialog-iframe-popup .events-display-portlet .results-header {
	display: table-row;
}