@media (max-width: 979px) {
  .aui .dockbar .navbar-inner .container #_145_navSiteNavigationNavbarBtn {
    float: none; }
  .aui .dockbar .navbar-inner .container #_145_navAddControlsNavbarBtn {
    display: none; }
  .aui .dockbar .navbar-inner .container .brand {
    font-size: 16px;
    padding: 22px 0 0 0; }
  .aui .dockbar .navbar-inner .container .btn-navbar {
    float: right; }
  .aui .dockbar .navbar-inner .container .nav-navigation > li {
    margin-left: 5px; } }
@media (max-width: 767px) {
  .aui .control-panel-home-actions {
    display: none; } }

