/* ---------- Add/remove page ---------- */
.modify-pages li {
  position: relative; }
  .modify-pages li.lfr-nav-hover .delete-tab {
    filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=100);
    opacity: 1; }
.modify-pages .add-page-editor-input {
  width: 150px; }
.modify-pages .delete-tab {
  color: #444;
  cursor: pointer;
  display: block;
  font-size: 20px;
  font-weight: bold;
  height: 10px;
  line-height: 6px;
  margin-top: -8px;
  overflow: hidden;
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
  opacity: 0;
  padding: 3px 0;
  position: absolute;
  right: 1px;
  text-shadow: 0 1px #FFF;
  top: 50%; }
  .modify-pages .delete-tab:hover {
    color: #B50303; }
.modify-pages .lfr-nav-updateable.selected a:hover span {
  cursor: text; }

.nav li .toolbar {
  margin-top: 5px; }

/* ---------- Navigation portlet ---------- */
.nav-menu ul {
  padding-left: 10px; }
.nav-menu li a.ancestor {
  font-weight: bold; }
.nav-menu li a.selected {
  color: #000;
  font-weight: bold;
  text-decoration: none; }

.nav-menu-style-arrows ul {
  list-style-image: url(../images/arrows/04_right.png); }

/* ---------- Page template selector ---------- */
.form-options {
  border: 1px solid #AAA;
  display: inline-block;
  vertical-align: middle; }
  .form-options input {
    border-width: 0;
    display: inline;
    float: left; }

.form-triggers {
  float: left; }

.form-trigger {
  background: #c4c4c4 url(../images/application/button_bg.png) repeat-x 0 0;
  border-left: 1px solid #BBB;
  display: inline-block;
  float: left; }
  .form-trigger img {
    background: url() no-repeat 50% 40%;
    height: 25px;
    padding: 0 3px;
    vertical-align: middle;
    width: 16px; }
  .form-trigger:focus, .form-trigger:hover {
    background-color: #83B0CA;
    background-image: url(../images/application/button_bg_over.png); }

.trigger-selected {
  background-color: #EBEBEB;
  background-image: url(../images/application/button_bg_selected.png); }
  .trigger-selected:focus, .trigger-selected:hover {
    background-color: #B7DEF4;
    background-image: url(../images/application/button_bg_selected_over.png); }

.options-trigger img {
  background-image: url(../images/common/configuration.png); }

.save-trigger img {
  background-image: url(../images/common/check.png); }

