#set ($col_count = 0)

#if ($col-one.data != "")
	#set ($col_count = $col_count + 1)
#end

#if ($col-two.data != "")
	#set ($col_count = $col_count + 1)
#end

#if ($col-three.data != "")
	#set ($col_count = $col_count + 1)
#end

<div class="page-content">
	#if ($title.data != "")
		<h1 class="innovation-title">
			$title.data
		</h1>

		<div class="divider"></div>
	#end

	<div class="content-text layout-content">
		#if ($col_count == 1 && $col-one.data != "")
			<div class="column span12">
				$col-one.data
			</div>
		#end

		#if ($col_count == 2 && $col-one.data != "" && $col-two.data != "")
			<div class="column column-first span6">
				$col-one.data
			</div>

			<div class="column column-last span6">
				$col-two.data
			</div>
		#end

		#if ($col_count == 3 && $col-one.data != "" && $col-two.data != "" && $col-three.data != "")
			<div class="column column-first span4">
				$col-one.data
			</div>

			<div class="center column span4">
				$col-two.data
			</div>

			<div class="column column-last span4">
				$col-three.data
			</div>
		#end
	</div>
</div>