#sign-in {
	padding: 2px 4px;
	position: absolute;
	right: 4px;
	top: 4px;
}

#loginPage {
	.login-holder, .portlet {
		margin: 15px auto;
	}

	.login-holder {
		left: 0;
		position: absolute;
		right: 0;
		top: 17.5%;
	}

	.company-title {
		text-align: center;
	}

	#so-welcome-context {
		display: table;
		margin: 0 auto;
	}
}

/* ---------- Extras ---------- */

.ie9 #loginPage .portlet {
	border-collapse: separate;
}