@import "compass";

$blue-link: #2571AD;
$button-text-color: #34404F;
$fixed-width: 980px;
$gray: #CECECE;
$gray-dark: #C7D0DA;
$gray-light: #F4F4F4;
$red: #8F0920;

/* ---------- Base ---------- */

body {
	color: #666;
	font: 12px/1.5em 'Helvetica', Arial, sans-serif;
}

a, a:visited, a:active {
	color: $blue-link;
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
}

a:focus .opens-new-window-accessible {
	clip: none;
	position: fixed;
	text-indent: 0;
}

.ie6 img {
	position: static;
}

input[type=password], input[type=text], textarea, .aui-field-select select, .aui-textboxlistentry-holder {
	background: #FFF;
	border: 1px solid $gray-dark;
	padding: 6px 5px;

	&:active, &:focus, &:hover, &.focus {
		background-color: #FFFFF6;
		border-color: $blue-link;
	}

	input[type=text] {
		background: transparent;
		border-width: 0;
	}
}

button, input[type=button], input[type=submit], input[type=reset], .aui-button-disabled button, .aui-button-disabled button:hover, .aui-button-disabled button:focus, .aui-button-disabled input[type], .aui-button-disabled input[type]:hover, .aui-button-disabled input[type]:focus, .aui-dialog-hd, .aui-panel-hd, .aui-state-default, .aui-tabview-list, .aui-tab, .aui-tab-content {
	background: #E9E8E8;
	border: 1px solid $gray;
	text-shadow: none;
}

input[type=button], input[type=reset], input[type=submit], .aui-state-hover, .edit-controls a:hover, .lfr-actions.lfr-extended, .thread-controls a:hover, .tasks-dialog .control a.taglib-icon, .top-links-navigation a:hover {
	&:hover {
		background: #EEE;
		border-color: #AAA;
		color: #5A5A5A;
	}
}

.lfr-label {
	color: #999;
	font-size: 11px;
	font-weight: bold;
	text-align: right;
	vertical-align: top;
}

.aui-field-select {
	display: inline-block;

	.aui-field-content {
		margin: 0;
	}

	select {
		padding: 4px 5px;
	}
}

.aui-buttonitem-content {
	line-height: 1.5em;
	padding: 3px 2px;
}

.firefox .aui-buttonitem-content {
	padding: 3px 0;
}

.aui-panel-hd button, .aui-panel-hd .aui-button, .aui-panel-hd .aui-state-default, .aui-textboxlistentry-holder .aui-field-input-text {
	border-color: transparent;
}

.aui-form-validator-error-container .aui-field-element {
	padding-right: 30px;
}

.aui-toolbar {
	.aui-toolbar-item {
		border-width: 1px 0 1px 1px;
	}

	.aui-toolbar-last {
		border-right-width: 1px;
	}
}

.aui-dialog-content, .aui-underlay-content {
	border-width: 0;
	background-color: #F9F9F9;
}

.aui-dialog-hd, .aui-panel-hd {
	border-width: 0;
}

.aui-dialog-content {
	padding: 0;

	.aui-panel-bd {
		padding: 10px;
	}
}

.aui-form-validator-stack-error {
	background: transparent url(../images/messages/error.png) no-repeat;
	height: 16px;
	position: absolute;
	right: 4px;
	top: 6px;
	width: 16px;
	z-index: 1;
}

.aui-form-validator-error-container .aui-field-element {
	padding-right: 0;
}

.aui-form-validator-message {
	background-color: rgba(51, 51, 51, .8);
	right: 0;
	width: 200px;
}

.results-row.alt td {
	border-width: 1px;
}

/* ---------- Login Screens ---------- */

#loginPage {
	.portlet {
		border-bottom-width: 0;
	}

	.login-holder, .portlet {
		margin: 15px auto;
	}

	.login-holder {
		left: 0;
		position: absolute;
		right: 0;
		top: 17.5%;
	}

	.company-title {
		text-align: center;
	}

	.portlet {
		padding: 4px;
		position: relative;
		width: 260px;

		.portlet-topper {
			display: none;
		}

		.portlet-content {
			padding-bottom: 0;
		}

		.aui-field-input-text {
			width: 225px;
		}

		.navigation {
			border: 1px solid $gray;
			left: 0;
			margin-top: 4em;
			position: absolute;
			right: 0;
			top: 100%;

			.taglib-icon-list li {
				display: block;
				margin: 0;

				a {
					display: block;
					padding: 2px;
					white-space: pre;

					&:hover {
						background-color: #FFF;
						text-decoration: none;
					}
				}
			}
		}
	}

	.portlet, .portlet-login .navigation, .signed-in-as {
		background: $gray-light;
	}

	.signed-in-as {
		margin: 0 auto;
		padding: 20px 10px 40px;
		text-align: center;
		width: 100px;

		.profile-image img {
			margin-bottom: 1.5em;
			width: 100px;
		}

		.user-name {
			color: #34404F;
			font-weight: bold;
			padding: 4px 8px;

			&:hover {
				text-decoration: none;
			}
		}
	}

	#portlet_password-reminder {
		width: 290px;
	}

	#portlet_terms-of-use {
		max-width: 800px;
		width: auto;

		.portlet-topper {
			display: block;
		}
	}
}

/* ---------- Extras ---------- */

input[type=password], input[type=text], textarea, .aui-field-select select {
	@include border-radius(5px);
}

input[type=password], input[type=text], textarea, .aui-field-select select {
	@include box-shadow(0 1px 3px #C9C9C9 inset);
}

button, input[type=button], input[type=reset], input[type=submit], .aui-button-disabled input[type], .aui-button-disabled input[type]:hover, .aui-button-disabled input[type]:focus, .aui-button-disabled button, .aui-button-disabled button:focus, .aui-button-disabled button:hover, .aui-dialog-hd, .aui-form-validator-message, .aui-panel-hd, .aui-state-default, .aui-tabview-list, .aui-tab, .aui-tab-content, .lfr-actions.lfr-extended, .lfr-header-row .aui-button-input, .lfr-header-row .aui-buttonitem-content, .lfr-header-row .lfr-actions.lfr-extended, .lfr-header-row .lfr-search-combobox {
	@include border-radius(3px);
}

button, input[type=button], input[type=reset], input[type=submit], .aui-button-disabled input[type], .aui-button-disabled input[type]:focus, .aui-button-disabled input[type]:hover, .aui-button-disabled button, .aui-button-disabled button:hover, .aui-button-disabled button:focus, .aui-dialog-hd, .aui-panel-hd, .aui-state-default, .aui-tabview-list, .aui-tab, .aui-tab-content, .lfr-actions.lfr-extended, .lfr-header-row .aui-button-input, .lfr-header-row .aui-buttonitem-content, .lfr-header-row .lfr-actions.lfr-extended, .lfr-header-row .lfr-search-combobox {
	@include box-shadow(0 1px 0 #F4F3F3 inset, 0 -1px 0 #D9D8D8 inset);
}

input[type=button], input[type=reset], input[type=submit], .aui-state-hover, .lfr-actions.lfr-extended:hover {
	&:active {
		@include box-shadow(0 1px 1px #C9C9C9 inset);
	}
}

#loginPage .portlet {
	@include box-shadow(0 0 9px -3px #000, 0 20px 29px -22px rgba(0, 0, 0, 0.6));
}


#loginPage .portlet, #loginPage .portlet-login .navigation {
	@include border-radius(4px);
}


.aui-panel-hd button, .aui-panel-hd .aui-button, .aui-panel-hd .aui-state-default, .aui-tab-content, .aui-textboxlistentry-holder .aui-field-input-text, .aui-toolbar-item, .aui-toolbar .aui-toolbar-item {
	@include border-radius(0);
}

.aui-panel-hd button, .aui-panel-hd .aui-button, .aui-panel-hd .aui-state-default, .aui-tabview-list .aui-tab-active .aui-tab-content, .aui-tabview-list .aui-tab-active .aui-tab-content:hover, .aui-textboxlistentry-holder .aui-field-input-text {
	@include box-shadow(none);
}

.aui-toolbar .aui-toolbar-first {
	@include border-radius(3px 0 0 3px);
}

.aui-toolbar .aui-toolbar-last {
	@include border-radius(0 3px 3px 0);
}

.aui-dialog .yui3-widget-hd, .aui-dialog-hd, .aui-panel-hd, .aui-tabview-list {
	@include border-radius(3px 3px 0 0);
}

.aui-tabview-list {
	.aui-tab:first-child, .first, .first .aui-tab-content {
		@include border-radius(3px 0 0 0);
	}

	.last, .last .aui-tab-content {
		@include border-radius(0 3px 0 0);
	}
}