#navigation li.selected a, #navigation li a:hover {
	background-color: transparent;
	color: #256C8E;
}
#navigation li.selected a span {
	background: transparent;
	padding-left: 0px;
}
#navigation {
	background: black;
	border: none;
	width:894px;
	margin:-1px auto 20px;
}
#navigation ul {
	margin: 0 0 0 20px;
	float: left;
	width: 80%;
}
#navigation li {
	border: none;
}
#navigation .enter-page {
	padding: 0;
	position: relative;
	margin: 0;
	top: -3px;
}
#add-page a {
	background: transparent url(../images/common/add.png) 5px 50% no-repeat;
	color: #FFF;
	float: left;
	font-weight: bold;
	padding: 7px 25px;
	text-decoration: none;
	bottom: 3px;
}
body {
	background: #898989 url(../images/custom/bg.png) scroll center;
	color: #FFFFFF;
	font-family: arial,verdana;
	font-size: 12px;
}
#banner {
	background:black url(../images/custom/header.jpg) no-repeat scroll right center;
	height:353px;
	position: relative;
}
#wrapper {
	background: none;
	width: 894px;
	position: relative;
	margin: 0 auto;
}
#banner .logo {
	margin: 0;
}

#banner .logo a {
	left: 70px;
	position: relative;
	top: 85px;
}
.js .interactive-mode {
	right: 2%;
}
#navigation li a {
	color: #FFF;
	font-size: 16px;
	font-weight: bold;
	padding: 7px 25px;
	text-decoration: none;
	text-transform: capitalize;
}
#content-wrapper {
	width:100%;
	background: black;
	margin:-20px auto;
	min-height: 600px;
}
.js #add-page {
	background: transparent none repeat scroll 0% 0%;
	border: medium none;
	float: right;
	top: -3px;
}
.portlet {
	background: transparent;
	border: none;
	margin: 0 5px 10px;
}
.portlet-topper {
	background: transparent;
	border: none;
	color: #256C8E;
	font-size: 16px;
}
.portlet-icons nobr {
	position: relative;
	top: -3px;
}
a {
	font-size: 12px;
}
.ui-tabs li a:hover, .ui-tabs li span:hover {
	background-color: transparent;
	color: #256C8E;
}
.ui-tabs li a, .tabs li span {
	background: transparent none repeat scroll 0% 0%;
	border-right: medium none;
}
.ui-tabs li.current:hover, .ui-tabs li.current a:hover {
	background-color: transparent;
}
.ui-tabs li.current a, .ui-tabs li.current span {
	background: transparent none repeat scroll 0% 0%;
	border: 1px dotted #336699;
	color: #256C8E;
}
.ui-tabs {
	border-bottom: medium none;
}
.ui-dialog.ui-resizable-disabled .ui-dialog-content {
	background: black none repeat scroll 0% 0%;
	color: black;
}
.ui-dialog {
	background-color: black;
}
.lfr-table tr td:last-child, .lfr-table tr td.last-child, .lfr-table tr th:last-child, .lfr-table tr th.last-child {
	color: #336699;
}
.portlet-section-body td {
	color: black;
}
.uni-form fieldset legend {
	color: white;
}

.portlet-calendar .calendar-container {
	background: black;
}
.portlet-calendar .calendar-day .day-number {
	border: none;
}