#navigation li.selected a, #navigation li a:hover {
	background-color: transparent;
	color: #256C8E;
}
.ie #banner {
	margin-left: 185px;
}
#navigation li.selected a span {
	background: transparent;
	padding-left: 0px;
}
#navigation {
	background: black;
	border: none;
	width:894px;
	margin:-1px auto 20px;
}
#navigation li {
	border: none;
}
body {
	background: #898989 url(../images/custom/bg.png) repeat-y scroll center center;
	color: #FFFFFF;
	font-family: arial,verdana;
	font-size: 12px;
	position: relative;
}
#banner {
	background:black url(../images/custom/header.jpg) no-repeat scroll right center;
	height:353px;
	margin-left:185px;
	width:894px;
	position: relative;
}
#wrapper {
	background: none;
	width: 1264px;
	position: relative;
}
#banner .logo a {
	margin-left:20px;
	margin-top: 53px;
}
.js .interactive-mode {
	right: 2%;
}
#navigation li a {
	font-size: 16px;
	font-weight: bold;
}
#content-wrapper {
	width:894px;
	background: black;
	margin:-20px auto;
	min-height: 600px;
}
.js #add-page {
	background: transparent none repeat scroll 0% 0%;
	border: medium none;
	top: -3px;
}
.portlet {
	background: transparent;
	border: none;
}
.portlet-topper {
	background: transparent;
	border: none;
	color: #256C8E;
	font-size: 16px;
}
a {
	font-size: 12px;
}
.ui-tabs li a:hover, .ui-tabs li span:hover {
	background-color: transparent;
	color: #256C8E;
}
.ui-tabs li a, .tabs li span {
	background: transparent none repeat scroll 0% 0%;
	border-right: medium none;
}
.ui-tabs li.current:hover, .ui-tabs li.current a:hover {
	background-color: transparent;
}
.ui-tabs li.current a, .ui-tabs li.current span {
	background: transparent none repeat scroll 0% 0%;
	border: medium none;
	color: #256C8E;
}
.ui-tabs {
	border-bottom: medium none;
}
.ui-dialog.ui-resizable-disabled .ui-dialog-content {
	background: black none repeat scroll 0% 0%;
	color: black;
}
.ui-dialog {
	background-color: black;
}
.portlet-calendar .calendar-day .day-number {
	color: black;
}
.lfr-table tr td:last-child, .lfr-table tr td.last-child, .lfr-table tr th:last-child, .lfr-table tr th.last-child {
	color: #336699;
}
.portlet-section-body td {
	color: black;
}
.uni-form fieldset legend {
	color: white;
}