/* -------- Global -------- */

#skip-to-content,
#heading .community-title,
#heading .page-title,
#navigation h1 {
	clip: rect(0 0 0 0);
	position: absolute;
}

.portlet-content a,
.portlet-content a:visited,
#footer a {
	color: #FFF;
	text-decoration: none;
}

.portlet-content a:hover,
#footer a:hover {
	text-decoration: underline;
}

body {
	background: #2B2B2B;
}

/* -------- Wrapper / Skip / Sign-in -------- */

#wrapper {
	background: url(../images/custom/background.jpg) center 0 no-repeat;
	margin: 0 auto;
	position: relative;
	width: 100%;
}

#skip-to-content,
#sign-in {
	color: #FFF;
}

#skip-to-content {
}

#skip-to-content:active,
#skip-to-content:focus {
	clip: auto;
}

#sign-in {
	background: url(../images/custom/sign-in.png) center -1px no-repeat;
	color: #000;
	font-size: 10px;
	height: 20px;
	position: absolute;
	right: 5px;
	text-align: center;
	text-transform: uppercase;
	text-decoration: none;
	top: 6px;
	width: 53px;
}

/* -------- Heading -------- */

#heading {
	padding: 28px 0;
}

#heading .company-title {
	margin: 0;
}

#heading .company-title a {
	margin: 0 auto;
}

/* -------- Navigation -------- */

#navigation {
	background: url(../images/custom/navigation.png) 0 0;
	-moz-border-radius: 5px; 
	-webkit-border-radius: 5px; 
	box-shadow: 1px 1px 4px #000;
	-moz-box-shadow: 1px 1px 4px #000;
	-webkit-box-shadow: 1px 1px 4px #000;
	font-size: 12px;
	margin: 0 auto 14px;
	padding-right: 0;
	position: relative;
	width: 960px;
}

body.signed-out #navigation {
	padding-right: 60px;
	width: 900px;
}

#navigation ul {
	list-style: none;
	margin: 0;
}

.ie6 #navigation ul,
.ie7 #navigation ul {
	zoom: 1;
}

#navigation ul:after {
	clear: both;
	content: "";
	display: block;
}

#navigation li {
	display: inline-block;
	height: 15px;
	margin: 0 2px;
	padding: 5px 15px;
}

#navigation li:hover,
#navigation li.selected  {
	background: url(../images/custom/selected.png) 0 0;
	-moz-border-radius: 5px; 
	-webkit-border-radius: 5px; 
	box-shadow: 0px 1px 1px #242424;
	-moz-box-shadow: 0px 1px 1px #242424;
	-webkit-box-shadow: 0px 1px 1px #242424;
	margin: 3px 2px;
	padding: 3px 15px;
}

#navigation li:hover a,
#navigation li.selected a {
	color: #FFF;
	text-shadow: 0 0 0.2em #000;
}

#navigation ul li:first-child {
	margin-left: 3px;
}

#navigation li,
#navigation a {
	float: left;
}

#navigation a {
	color: #2F2F2F;
	text-decoration: none;
	text-shadow: 0 0 1em #FFF;
}

.child-menu {
	display: none;
}

/* -------- Content -------- */

#content {
	margin: 0 auto;
	min-height: 550px;
	width: 970px;
}

#breadcrumbs {
	display: block;
	height: 10px;
	margin: 0 auto 14px;
	position: relative;
	width: 960px;
}

#breadcrumbs h1 {
	display: none;
}

#breadcrumbs ul li {
	display: inline;
	margin-right: 5px;
}

#breadcrumbs li:before {
	color: #989898;
	content: "> ";
	font-size: 12px;
}

#breadcrumbs li:first-child a {
	margin-left: 0;
}

#breadcrumbs li:first-child:before {
content: "";
}

#breadcrumbs li a {
	margin-left: 5px;
}

#breadcrumbs li:last-child a{
	color: #dedbdb;
}

#breadcrumbs a {
	color: #989898;
	font-weight: bolder;
	font-size: 10px;
	text-decoration: none;
	text-transform: uppercase;
}

/* -------- Portlet -------- */

.portlet {
	margin: 0 4px 24px;
}

.portlet-topper {
	background: url(../images/custom/portlet.png) 0 0px;
	-moz-border-radius-topleft: 5px;
	-webkit-border-top-left-radius: 5px;
	-moz-border-radius-topright: 5px;
	-webkit-border-top-right-radius: 5px;
	height: 14px;
	padding: 5px 7px 7px;
}

.portlet-topper {
	text-transform: uppercase;
}

.portlet-topper-toolbar a,
.portlet-topper-toolbar a:visited {
    color: #48494B;
}

.portlet-title img {
	vertical-align:top;
}

.portlet-content {
	background: #1B1B1B url(../images/custom/portlet.png) 0 -30px repeat-x;	
	border: 2.5px solid #242424;
	-moz-border-radius: 5px; 
	-webkit-border-radius: 5px;
	box-shadow: 1px 1px 2px #242424;
	-moz-box-shadow: 1px 1px 2px #242424;
	-webkit-box-shadow: 1px 1px 2px #242424;
	margin: -4px 1px 1px 1px;
}

.portlet-content .navigation a {
	color: #000;
}

.portlet-body,
.portlet p,
.portlet-body h2,
.aui-tab-label a {
	color: #FFF;
}

.calendar-header,
.calendar-container h3, 
.calendar-container a,
.calendar-container .calendar-current-day a {
	color: #000;
}
.lfr-theme-list {
	color: #000;
}

.calendar-container.aui-tabview-list {
	background: #48494B;
}

.calendar-container.lfr-table calendar-panel a {
	color: #000;
}

.update-available {
    color: #000;
}

/* -------- Footer -------- */

#footer {
	background: url(../images/custom/footer.png) 0 0;
	-moz-border-radius: 5px; 
	-webkit-border-radius: 5px; 
	height: 30px;
	margin: 0 auto 10px;
	padding-right: 0;
	width: 960px;
}

.ie6 #footer {
	background: url(../images/custom/footer.jpg);
}

#footer p {
	color: #FFF;
	margin: 0;
	padding: 7px;
	text-align: center;
	text-transform: uppercase;
}