<?xml version="1.0"?>
<!DOCTYPE web-app PUBLIC "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN" "http://java.sun.com/dtd/web-app_2_3.dtd">

<web-app>
	<context-param>
		<param-name>springConfigLocation</param-name>
		<param-value>/META-INF/scheduler-spring.xml</param-value>
	</context-param>
	<listener>
		<listener-class>com.liferay.portal.service.scheduling.servlet.SchedulerServletContextListener</listener-class>
	</listener>
</web-app>