@import url(discussion.portal.css);

.taglib-discussion {
	.taglib-user-display {
		&.display-style-3 {
			height: 32px;
			padding: 4px 0 0 0;

			.user-profile-image {
				display: inline-block;
				vertical-align: middle;
			}

			.user-name {
				display: inline;
				font-weight: bold;
				margin-left: 8px;
			}

			.user-details {
				display: inline;
				margin-left: 8px;
			}
		}
	}
}