/* This file allows you to override default styles in one central location for easier upgrade and maintenance. */

/* ---------- Base ---------- */

body {
	background: #655A46 url(../images/custom/body_bg.png) center top;
}

/* ---------- Wrapper ---------- */

#wrapper {
	margin: 0 auto;
	width: 960px;
}

/* ---------- Banner ---------- */

#banner {
	background: #685b45 url(../images/custom/banner_bg.gif) repeat-x;
	position: relative;
	padding: 32px;
}

/* ---------- Logo ---------- */

#banner .logo a {
}

/* ---------- Dock ---------- */

.js .interactive-mode {
}

/* ---------- Navigation ---------- */

#navigation {
	background: url(../images/custom/navigation_bg.gif);
	height: 44px;
}

#navigation ul, #add-page {
	float: left;
}

#navigation a, #navigation .enter-page {
	color: #420;
	display: block;
	float: left;
	font: 14px/44px Lucida Sans Unicode, Lucida Grande, sans-serif;
	padding: 0 18px;
	text-decoration: none;
}

#navigation a:hover {
	background: #CEBDA1 url(../images/custom/navigation_hover_bg.png);
	color: #000;
}

#navigation .selected a {
}

#navigation .save-page, #navigation .save-page:hover {
	background: none;
	border-right: 0;
	display: inline;
	float: none;
}

#navigation .cancel-page {
	display: none;
}

/* ---------- Content Wrapper ---------- */

#content-wrapper {
	padding: 12px;
}

.lfr-grid .lfr-column {
	padding: 0 6px
}

/* ---------- Portlet ---------- */

.portlet {
	border-bottom: 1px solid #EDEDE6;
	margin: 0 0 25px;
}

.portlet-topper {
}

.portlet-title {
	color: #654;
	font: 14px Lucida Sans Unicode, Lucida Grande, sans-serif;
}

.portlet-title img {
	display: none;
}

.portlet-content {
	font: 12px Lucida Sans Unicode, Lucida Grande, sans-serif;
	padding: 12px 0;
}

/* ---------- Calendar ---------- */

.portlet-calendar .calendar-day .day-text, .portlet-calendar .results-header {
	background-color: #a98;
}

/* ---------- Tabs ---------- */

.ui-tabs {
	border-bottom: 1px solid #A98;
}

.ui-tabs li a, .ui-tabs li.current a, .ui-tabs li a:hover, .ui-tabs li span, .ui-tabs li.current span, .ui-tabs li span:hover {
	border: 1px solid #A98;
	background: #CCC3AF;
	color: #554;
	margin: 0 0 0 -1px;
	padding: 8px 12px;
}

.ui-tabs li.current a, .ui-tabs li.current span {
	background: #987;
	color: #EEE;
	font-weight: normal;
}

.ui-tabs li a:hover, .ui-tabs li span:hover {
	background: #D6CCB9;
	color: #654;
}

.ui-tabs li.current:hover {
	background: transparent;
}

/* ---------- Footer ---------- */

#footer {
}