/* -------- Global -------- */

#skip-to-content,
#heading .community-title,
#heading .page-title,
#navigation h1 {
	clip: rect(0 0 0 0);
	position: absolute;
}

body {
	background: #655A46 url(../images/custom/body_bg.png) center top;
}

/* -------- Wrapper / Skip / Sign-in -------- */

#wrapper {
	margin: 0 auto;
	position: relative;
	width: 960px;
}

#skip-to-content,
#sign-in {
	color: #000;
	right: 2em;
	top: 1.5em;
}

#skip-to-content:active,
#skip-to-content:focus {
	clip: auto;
}

#sign-in {
	position: absolute;
	top: 7em;
}

/* -------- Heading -------- */

#heading .company-title {
	margin: 0;
	padding: 15px;
}

/* -------- Navigation -------- */

#navigation {
	background: url(../images/custom/navigation_bg.gif);
	font: 14px "Lucida Sans Unicode", "Lucida Grande", sans-serif;
	height: 44px;
	margin: 0 0 0 1px;
}

#navigation ul {
	list-style: none;
	margin: 0;
}

.ie6 #navigation ul,
.ie7 #navigation ul {
	zoom: 1;
}

#navigation ul:after {
	clear: both;
	content: "";
	display: block;
}

#navigation li,
#navigation a {
	float: left;
}

#navigation a {
	color: #420;
	height: 22px;
	padding: 11px 18px;
	text-decoration: none;
}

#navigation a:active,
#navigation a:focus,
#navigation a:hover {
	background: #CEBDA1 url(../images/custom/navigation_item_hover.png);
	color: #000;
}

/* -------- Content -------- */

#content {
	padding: 12px;
}

#breadcrumbs {
	display: none;
}

.portlet {
	border-bottom: 1px solid #EDEDE6;
	font: 12px "Lucida Sans Unicode", "Lucida Grande", sans-serif;
	margin: 0 0 25px;
}

.portlet-title {
	color: #654;
	font-size: 14px;
	font-weight: normal;
}

.portlet-content {
	padding: 12px 0;
}

/* -------- Footer -------- */

#footer {
	padding: 0 0 10px;
}

#footer p {
	margin: 0;
	text-align: center;
}