/* This file allows you to override default styles in one central location for easier upgrade and maintenance. */

a {
	color: #987E57;
}

a:hover {
	color: #C60;
	text-decoration: underline;
}

#banner .logo {
	background: transparent none;
}

#banner h1.logo {
	left: 2%;
}

#banner {
	background: transparent url('../images/custom/common/banner_bg.png') repeat scroll 100% 100%;
	border-bottom: 1px solid #FFF7EC;
	height: 120px;
	position: relative;
	top: 0;
}

body {
	background: transparent url('../images/custom/common/bg.png') repeat;
}

.columns-1 #column-1 {
	padding-left: 5px;
	padding-right: 5px;
}

.columns-1-2-1 #column-1, .columns-1-2-1 #column-4 {
	padding-left: 5px;
	padding-right: 5px;
}

.columns-1-2-1 #column-2 {
	padding-left: 5px;
}

.columns-1-2-1 #column-3 {
	padding-right: 5px;
}

.columns-2 #column-1 {
	padding-left: 5px;
}

.columns-2 #column-2 {
	padding-right: 5px;
}

.columns-2-2 #column-1, .columns-2-2 #column-2 {
	padding-left: 5px;
}

.columns-2-2 #column-4 {
	padding-right: 5px;
}

.columns-3 #column-1 {
	padding-left: 5px;
}

.columns-3 #column-3 {
	padding-right: 5px;
}

#content-wrapper {
	width: 100%;
}

.ie .tabs li.current {
	top: 0;
}

.ie6 #navigation, .ie6 #navigation ul {
	width: 975px;
}

.ie6.js #navigation .enter-page {
	background: transparent url('../images/custom/navigation/navigation_bg.png') repeat-x 0 100%;
	padding: 0.5em 2em 10px 1.5em;
}

.js #add-page {
	background:transparent none repeat scroll 0 0;
	border:medium none;
	bottom:auto;
	right:1px;
	top:8px;
}

.js #navigation .enter-page .save-page {
	background: transparent;
	font-weight: normal;
	padding-left: 0;
}

.js #navigation .enter-page {
	background: transparent url('../images/custom/navigation/navigation_bg.png') repeat-x scroll 0pt100%;
	margin: -3px -2px 0;
	padding: 0 0px 7px 27px;
}

.js .interactive-mode {
	right:2%;
}

.loading-animation {
	background: url('../images/custom/progress_bar/loading_animationbar.gif') no-repeat top center;
}

#navigation li a span {
	background: transparent none;
}

#navigation li a {
	background: transparent url('../images/custom/navigation/navigation_bg.png') repeat-x 0 100%;
	color: #654;
	font-size: 9pt;
	padding: 7pt 5pt 1em 1.5em;
}

#navigation li a:hover span {
	background: transparent none;
}

#navigation li a:hover {
	color: #FCFAEA;
}

#navigation li {
	background: transparent url('../images/custom/navigation/navigation_bg.png') repeat-x 100% 100%;
	border: 0;
	margin-right: 0;
	padding: 5px 25px 0 0;
}

#navigation li.selected a span {
	background: transparent none;
	color: #654;
	font-size: 9pt;
	text-decoration: underline;
}

#navigation li.selected a {
	padding-top: 0;
}

#navigation li.selected a, #navigation li a:hover {
	color: #654;
}

#navigation li.selected a:hover {
	color: #FCFAEA;
	padding-bottom: 1em;
}

#navigation li.selected {
	padding: 14px 25px 0 0;
}

#navigation ul {
	background: transparent url('../images/custom/navigation/navigation_bg.png') repeat-x 100% 100%;
	width: 975px;
}

#navigation {
	margin: 0 0pt 0.5em;
	min-height: 2.2em;
	overflow: hidden;
	padding-right: 0;
	width: 975px;
}

.portlet, .portlet-topper, .portlet-content, .portlet-title {
	background: transparent none;
}

.portlet-section-body td {
	background: #E4DBCF;
	color: #C60;
}

.portlet-section-header th {
	background: #654 none;
	border-bottom: 1px solid #CCC;
	color: #FCFAEA;
	font-weight: bold;
	padding: 0.3em 1em;
}

.portlet-section-header {
	background: #E4DBCF;
	color: #654;
}

.portlet-title img {
	display: none;
}

.portlet-title {
	background: transparent url('../images/custom/navigation/navigation_bg.png') repeat-x left top;
	display: block;
	font-size: 14px;
	font-weight: bold;
	min-width: 50%;
	padding: 8px 0 15px 10px;
}

.portlet-topper {
	background: transparent url('../images/custom/navigation/navigation_bg.png') repeat-x right top;
	border-bottom: 1px solid #654;
}

.portlet {
	border: 1px solid #654;
}

.ui-tabs li.current:hover, .ui-tabs li.current a:hover {
	background: #695847 none;
	color: white;
	text-decoration: none;
}

.ui-tabs li a, .tabs li span {
	background: #E4DBCF none;
	border-right: none;
	color: #C60;
	padding: 0 1em 0;
}

.ui-tabs li a:hover, .ui-tabs li span:hover {
	background: #E4DBCF none;
	color: #C60;
}

.ui-tabs li {
	background: #E4DBCF none;
	margin-right: 0;
}

.ui-tabs li.current a, .tabs li.current span {
	background: #695847 none;
	color: #FCFAEA;
	padding: 0 2em;
	border:medium none;
}

.ui-tabs li.current {
	background: #695847 none;
	top: 0;
}

.ui-tabs {
	border-bottom: none;
	padding: 0 0 2.6em 0;
}

#wrapper {
	background: #FCFAEA none;
	border-left: 3px solid #665D4B;
	border-right: 3px solid #665D4B;
	margin: 0 auto;
	width: 975px;
}