@import "compass";

@mixin keyframes($name) {
	@-o-keyframes #{$name} {
		@content;
	}

	@-moz-keyframes #{$name} {
		@content;
	}

	@-webkit-keyframes #{$name} {
		@content;
	}

	@keyframes #{$name} {
		@content;
	}
}

@include keyframes(shakeNotificationCount) {
	0% {
		@include transform(rotate(5deg));
	}
	25% {
		@include transform(translate(3px, -4px), rotate(0deg));
	}
	50% {
		@include transform(rotate(-5deg));
	}
	75% {
		@include transform(rotate(0deg));
	}
	100% {
		@include transform(translate(0, 0), rotate(5deg));
	}
}

.dockbar-user-notifications, .notifications-portlet {
	.user-notifications-count {
		background-color: #0066B3;
		border: 1px solid #0066B3;
		display: block;
		line-height: 1.25em;
		margin: 4px 0;
		padding: 2px 6px;
		position: relative;

		&.alert {
			background-color: #FAA732;
			border: 1px solid #FAA732;
			color: #FFF;

			@include experimental(animation, shakeNotificationCount 0.8s linear infinite);
			@include experimental(animation-iteration-count, 2);
			@include experimental(transform-origin, 50% 50%);
		}
	}

	.dropdown-menu {
		@include box-sizing(border-box);

		width: 350px;
	}

	.user-notifications-list {
		list-style: none;
		padding: 5px;

		.message {
			padding: 5px;
			text-align: center;

			.left-nav {
				float: left;
				padding: 0 10px;
			}

			.right-nav {
				float: right;
				padding: 0 10px;
			}

			a {
				border-radius: 4px;
				display: inline;
				margin: 2px 2px;
				padding: 5px 5px;
			}

			a:hover {
				text-decoration: none;
			}

			.disabled a {
				color: #FFF;
				cursor: default;
			}
		}

		.user-notification {
			background: #FFF;

			@include border-radius(4px);

			margin-bottom: 10px;
			padding: 10px;

			&:hover, &.hover {
				background: #FAFAFA;
				cursor: pointer;
			}

			.btn {
				margin-right: 10px;
			}

			.icon-remove-circle {
				left: 330px;
				position: relative;
				top: 20px;
			}

			.sender {
				float: left;
				position: relative;

				.user-thumbnail {
					@include border-radius(50%);
					@include box-shadow(0 0 0 2px #5594E0);

					display: block;
					height: 30px;
					margin: 5px 10px 0 0;
					overflow: hidden;

					img {
						width: 30px;
					}
				}

				.portlet-icon {
					bottom: 0;
					left: 0;
					position: absolute;
				}
			}

			.read {
				float: right;
				font-size: 11px;
			}

			.timestamp {
				display: inline;
				font-size: 11px;
			}

			.content {
				margin-left: 40px;
			}

			.body {
				color: #222;
				overflow: hidden;
				text-overflow: ellipsis;
			}
		}
	}
}

.notifications-portlet {
	.nav {
		margin-bottom: 10px;

		a {
			display: block;
			padding: 5px 10px;

			.title {
				float: left;
			}

			.count {
				float: right;
			}

			&:hover {
				text-decoration: none;
			}
		}

		a:hover, a.selected {
			background-color: #0A85E4;
			color: #FFF;
		}
	}

	.notifications-container, .user-notifications-list-container {
		@include box-sizing(border-box);
	}

	.user-notifications-list-container {
		border: 1px solid #D5D5D5;

		.loading-mask {
			min-height: 30px;
		}
	}

	.user-notifications-list {
		margin: 0;

		.mark-all-as-read {
			background-color: #FFF;
			border-radius: 4px;
			color: #000;
			margin: 10px 10px;
			padding: 5px 5px;
			text-decoration: none;

			&:hover {
				background: #2FA4F5;
				color: #FFF;
				cursor: pointer;
			}
		}

		.user-notification {
			color: #000;
			margin: 5px;

			&:hover {
				color: #FFF;
				background: #2FA4F5
			}

			a {
				color: #009AE5;
			}
		}

		.message.top {
			border-bottom: 1px solid #D5D5D5;
			margin-bottom: 10px;
		}
	}

	.manage-notifications {
		overflow: auto;

		.table {
			max-width: none;
		}

		.title {
			margin-bottom: 10px;

			.notification-delivery {
				font-size: 16px;
				font-weight: bold;
				margin-bottom: 10px;
			}
		}

		.notification-deliveries {
			caption {
				font-size: 14px;
				font-weight: bold;
				margin-bottom: 10px 0;
				text-align: left;
			}
		}
	}
}

.span1, .span2, .span3, .span4, .span5, .span6 {
	.notifications-portlet {
		.user-notifications-sidebar, .user-notifications-list-container {
			margin-left: 0;
			width: 100%;
		}
	}
}

.span8 {
	width: 70%;
}

/* ---------- Extras ---------- */

.dockbar-user-notifications .user-notifications-count, .notifications-portlet .nav a:hover, .notifications-portlet .nav a.selected, .notifications-portlet .user-notifications-list-container {
	@include border-radius(4px);
}

.aui {
	li.user-notification {
		line-height: 20px;
	}

	.dockbar .navbar-inner .container .nav-collapse > .nav li.dropdown.dockbar-user-notifications > ul.dropdown-menu {
		left: auto;
		max-height: none;
		padding: 10px;
		right: 0;

		&.pull-right:after {
			right: 20px;
		}
	}
}

.ie8 .user-thumbnail img {
	max-width: none;
}