<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

#parse ($init)

<html dir="#language ("lang.dir")" xmlns="http://www.w3.org/1999/xhtml">

<head>
	<title>$company_name - $the_title</title>

	$theme.include($top_head_include)

	#css ($css_main_file)
	#js ($js_main_file)

	<script type="text/javascript">
		// <![CDATA[
			$page_javascript_1
			$page_javascript_2
			$page_javascript_3
		// ]]>
	</script>

	<script src="$sidebar_packed_js" type="text/javascript"></script>
	<script src="$desktop_packed_js" type="text/javascript"></script>

	#if ($has_journal_template)
		#set ($journal_template = $journalTemplateLocalService.getTemplate($group_id, $journal_template_id))

		<style type="text/css">
			#set ($css_template = $journal_template.getXsl())
			#set ($css_template = $stringUtil.replace($css_template, "@root_path@", $themeDisplay.getPathContext()))
			#set ($css_template = $stringUtil.replace($css_template, "@image_path@", $themeDisplay.getPathThemeImages()))
			#set ($css_template = $stringUtil.replace($css_template, "@portal_url@", $themeDisplay.getURLHome()))
			#set ($css_template = $stringUtil.stripBetween($css_template, "/*", "*/"))

			$css_template
		</style>
	#end
</head>

<body class="$css_class">

$theme.include($top_messages_include)

<div id="wrapper">
	#if ($has_taskbar)
		#parse ("$full_templates_path/taskbar.vm")
	#end

	<div id="main-container">
		#if ($update_available_url)
			<div class="popup-alert-notice">
				<a class="update-available" href="$update_available_url">#language ("updates-are-available-for-liferay")</a>
			</div>
		#end

		#if ($selectable)
			$theme.include($content_include)
		#else
			$portletDisplay.recycle()

			$portletDisplay.setTitle($the_title)

			$theme.wrapPortlet("portlet.vm", $content_include)
		#end
	</div>

	#if ($has_sidebar)
		#parse ("$full_templates_path/sidebar.vm")
	#end
</div>

$theme.include($bottom_ext_include)
$theme.include($session_timeout_include)
$theme.include($sound_alerts_include)

</body>

</html>