#parse ("$fullTemplatesPath/init_portlet.vm")

<div id="portlet-wrapper-$portlet_id">
	<div class="portlet-top">
		<div class="top-left">
			<div class="top-right">
				<div class="top-center">
					<div class="portlet-topper">
						<span class="portlet-title not-editable">$theme.iconPortlet() $portlet_title</span>

						<span
							#if ($portlet_display.isShowBackIcon())
								class="portlet-icons icon-back"
							#else
								class="portlet-icons portlet-modes"
							#end
							id="portlet-small-icon-bar_$portlet_id"
						>
							#if ($portlet_display.isShowBackIcon())
								<a href="$portlet_back_url" class="portlet-icon-back">#language ("return-to-full-page")</a>
							#else
								#if ($portlet_display.isShowMinIcon())
									<span class="icon-min"><a href="javascript: Desktop.portletMinimize('$portlet_display.getId()');"></a></span>
								#end

								#if ($portlet_display.isShowMaxIcon())
									<span class="icon-max"><a href="javascript: submitForm(document.hrefFm,'$portlet_display.getURLMax()')"></a></span>
								#end

								#if ($portlet_display.isShowCloseIcon())
									<span class="icon-close"><a href="javascript: Desktop.portletRemove('$portlet_display.getId()','$portlet_column_pos');"></a></span>
								#end
							#end
						</span>

						#if (!$portlet_display.isShowBackIcon())
							<span class="portlet-icons $icon_options_class">$theme.iconOptions()</span>
						#end
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="portlet-middle">
		<div class="middle-left">
			<div class="middle-right">
				<div class="middle-center">
					<div class="portlet-content">
						$portlet_content
					</div>
					<div class="portlet-address">
						$portlet_address
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="portlet-clear"></div>
	<div class="portlet-bottom">
		<div class="bottom-left">
			<div class="bottom-right">
				<div class="bottom-center"> </div>
			</div>
		</div>
	</div>
</div>

<script type="text/javascript">
	if (!$portlet_display.isShowBackIcon()) {
		Desktop.taskbarAddPortlet('$portlet_id',$portlet_display.isShowMinIcon());
	}
</script>