#set ($portlet_display = $portletDisplay)
#set ($images_folder = $themeDisplay.getPathThemeImages())
#set ($color = "linux")

#set ($portlet_id = $portlet_display.getId())
#set ($portlet_title = $portlet_display.getTitle())
#set ($portlet_content = $portlet_display.getContent())
#set ($portlet_back_url = $portlet_display.getURLBack())

#if ($themeDisplay.getColorScheme().getCssClass() != "")
	#set ($color = $themeDisplay.getColorScheme().getCssClass())
#end

<div class="portlet" id="portlet-wrapper-$portlet_id">
	<div class="t"></div>
	<div class="content">
		<div class="portlet-topper">
			<span class="portlet-title not-editable"">
				$theme.iconPortlet() $portlet_title
			</span>

			<div class="portlet-address">
				<span id="portlet-group-name"></span> <img class="portlet-group-name" src="$images_folder/arrows/portlet_address.png" alt="" />
				$layout.getHTMLTitle($locale) <img src="$images_folder/arrows/portlet_address.png" alt="" />
				$portlet_title
			</div>

			#if ($portlet_display.isShowBackIcon())
				<div class="portlet-icons" id="portlet-small-icon-bar_$portlet_id">
					<a href="$portlet_back_url" class="portlet-icon-back">#language ("return-to-full-page")</a>
				</div>
			#else
				<span class="portlet-modes">
					#if ($portlet_display.isShowRefreshIcon())
						<span class="portlet-mode-icons">$theme.iconRefresh()</span>
					#end

					#if ($portlet_display.isShowPortletCssIcon())
						<span class="portlet-mode-icons">$theme.iconPortletCss()</span>
					#end

					#if ($portlet_display.isShowConfigurationIcon())
						<span class="portlet-mode-icons">$theme.iconConfiguration()</span>
					#end

					#if ($portlet_display.isShowEditIcon())
						<span class="portlet-mode-icons">$theme.iconEdit()</span>
					#end

					#if ($portlet_display.isShowEditDefaultsIcon())
						<span class="portlet-mode-icons">$theme.iconEditDefaults()</span>
					#end

					#if ($portlet_display.isShowEditGuestIcon())
						<span class="portlet-mode-icons">$theme.iconEditGuest()</span>
					#end

					#if ($portlet_display.isShowHelpIcon())
						<span class="portlet-mode-icons">$theme.iconHelp()</span>
					#end

					#if ($portlet_display.isShowPrintIcon())
						<span class="portlet-mode-icons">$theme.iconPrint()</span>
					#end
				</span>

				#if ($portlet_display.isShowCloseIcon())
					<span class="portlet-states">
						<span class="portlet-min">
							<a href="javascript: LiferayDesktop.minimizePortlet('$plid','$portletDisplay.getId()','$themeDisplay.getDoAsUserId()','$themeDisplay.getPathMain()');" class="min"></a>
						</span>

						<span class="portlet-max">
							<a href="javascript: submitForm(document.hrefFm, '$portletDisplay.getURLMax()')" class="max"></a>
						</span>

						<span class="portlet-close">
							<a href="javascript: LiferayDesktop.removePortlet('$plid', '$portletDisplay.getId()', '$themeDisplay.getDoAsUserId()');" class="close"></a>
						</span>
					</span>
				#end
			#end
		</div>
		<div class="portlet-content">
			$portlet_content
		</div>
	</div>
	<div class="b"><div class="b-content"></div></div>
</div>