<!DOCTYPE html>

#parse ($init)

<html class="#language ("lang.dir")" dir="#language ("lang.dir")">

<head>
	<title>$the_title - $company_name</title>

	$theme.include($top_head_include)
</head>

<body class="$css_class">

#if ($is_signed_in && !$is_maximized)
	#dockbar()
#end

<div id="main">
	<header id="banner" role="banner">
		#if (!$is_signed_in && !$is_maximized)
			<div id="login">
				<a href="$sign_in_url">$sign_in_text</a>
			</div>
		#end
	</header>

	<div id="content">
		#if ($selectable)
			$theme.include($content_include)
		#else
			$portletDisplay.recycle()

			$portletDisplay.setTitle($the_title)

			$theme.wrapPortlet("portlet.vm", $content_include)
		#end
	</div>
</div>

</body>

$theme.include($bottom_include)

</html>