<!DOCTYPE html>

#parse ($init)

<html dir="#language ("lang.dir")">

<head>
	<title>$the_title - $company_name</title>

	$theme.include($top_head_include)

	#css ($css_main_file)
	#js ($js_main_file)

	<script type="text/javascript">
		// <![CDATA[
			$page_javascript_1
			$page_javascript_2
			$page_javascript_3
		// ]]>
	</script>
</head>

<body class="$css_class" id="$css_id">

#if($is_signed_in)
	#dockbar()
#end

$theme.include($top_messages_include)

<div id="wrapper">
	#if ($has_taskbar)
		#parse ("$full_templates_path/taskbar.vm")
	#end

	<div id="main-container">
		#if ($update_available_url)
			<div class="popup-alert-notice">
				<a class="update-available" href="$update_available_url">#language ("updates-are-available-for-liferay")</a>
			</div>
		#end

		#if ($selectable)
			$theme.include($content_include)
		#else
			$portletDisplay.recycle()

			$portletDisplay.setTitle($the_title)

			$theme.wrapPortlet("portlet.vm", $content_include)
		#end
	</div>

	#if ($has_sidebar)
		#parse ("$full_templates_path/sidebar.vm")
	#end
</div>

</body>

$theme.include($bottom_include)

</html>