.blue #wrapper {
	background:#F0F0F0 url(../../images/custom/bodybg.jpg) repeat-x scroll 0 0;
}
.blue #navigation li.selected a, .blue #navigation li a:hover {
	background: url(../../images/custom/menuhover.jpg) repeat-x scroll;
}
.blue .ui-tabs li.current a, .ui-tabs li.current span {
	background: url(../../images/custom/menuhover.jpg) repeat-x scroll;
}
.blue .ui-tabs li a:hover, .ui-tabs li span:hover {
	background: url(../../images/custom/menuhover.jpg) repeat-x scroll;
	color:#505050;
}