/* This file allows you to override default styles in one central location for easier upgrade and maintenance. */

/* ---------- Base ---------- */

body {
	background: #9DB4A8 url(../images/custom/body_bg.jpg) no-repeat center 32px;
	padding: 32px;
}

/* ---------- Wrapper ---------- */

#wrapper {
	background: #FFF;
	border: 6px solid #F6F0F1;
	margin: 0 auto;
	width: 940px;
}

/* ---------- Banner ---------- */

#banner {
	background: url(../images/custom/banner_bg.png) -3px -3px;
	height: 195px;
	padding: 130px 0 0;
	position: relative;
}

/* ---------- Logo ---------- */

#banner .logo a {
	margin: 0 auto;
}

/* ---------- Dock ---------- */

.js .interactive-mode {
	right: 10px;
	top: 10px;
}

/* ---------- Navigation ---------- */

#navigation {
	background: url(../images/custom/navigation_bg.jpg);
	height: 62px;
}

#navigation ul, #add-page {
	float: left;
}

#navigation a {
	color: #DEE;
	display: block;
	font: 16px Lucida Sans Unicode,Lucida Grande,sans-serif;
	line-height: 62px;
	padding: 0 24px;
	text-decoration: none;
}

#navigation .selected a, #navigation a:hover {
	color: #FFF;
}

#navigation .save-page {
	display: inline;
	float: none;
}

.ie7 .save-page {
	position: relative;
	top: -2px;
}

#navigation .cancel-page {
	display: none;
}

/* ---------- Content Wrapper ---------- */

#content-wrapper {
	margin: 0 0 -10px;
	padding: 5px;
}

.lfr-grid .lfr-column {
	padding: 0 2.5px;
}

/* ---------- Portlet ---------- */

.portlet {
	border: 3px solid #B9BDBA;
	margin: 0 0 10px;
}

.portlet-topper {
	background: #D2D7D4;
	border-bottom: 1px solid #B9BDBA;
	padding: 5px;
}

.portlet-title {
	color: #333;
	font: bold 13px Arial Black,Arial Black,Gadget,sans-serif;
	letter-spacing: .1em;
}

.portlet-content {
	border: 1px solid #D2D7D4;
	padding: 10px;
}

/* ---------- Footer ---------- */

#footer {
	background: url(../images/custom/footer_bg.jpg);
	height: 104px;
}