.so-portlet-invite-members {
	.email-invited h2 span {
		color: #999;
		font-size: 0.8em;
		font-weight: normal;
		margin-left: 2em;
		position: absolute;
		right: 5px;
	}

	.users-wrapper {
		min-height: 450px;
		position: relative;
	}

	.search {
		background: #FFF url(@theme_image_path@/forms/input_shadow.png) no-repeat;
		border: 1px solid;
		border-color: #BFBFBF #DEDEDE #DEDEDE #BFBFBF;
		height: 300px;
		width: 205px;
		overflow-x: hidden;
		overflow-y: auto;

		.more-results a {
			display: block;
			margin: 5px;
			padding: 2px;
			text-align: center;

			&:hover {
				background-color: #CCE6F7;
			}
		}
	}

	.user-search-wrapper {
		background: #F0F5F7;
		border: 1px solid #B0BAFF;
		float: left;
		padding: 12px;
	}

	.invited-users-wrapper {
		margin-left: 250px;
	}

	h2 {
		font-size: 1em;
		margin: 0 0 1em;
	}

	.list {
		margin-bottom: 1em;
	}

	.invite-user-search {
		width: 203px;
	}

	.invited-users-wrapper {
		h2 {
			border-bottom: 1px solid #CCC;
			color: #3E3639;
			font-size: 1.1em;
			margin: 0;
			padding-top: 0.5em;
			position: relative;
		}

		.invite-actions {
			background: #EEE;
			border: 1px solid #CCC;
			margin: 2.5em 0;
			padding: 5px;
			text-align: center;

			h2 {
				margin: 0 0 0.5em;
				padding: 0;
			}

			input {
				margin-right: 12px;
			}
		}
	}

	.user-invited h2 span {
		color: #999;
		font-size: 0.8em;
		font-weight: normal;
		margin-left: 2em;
		position: absolute;
		right: 5px;
	}

	.invited, .user {
		background: transparent url(@theme_image_path@/arrows/01_plus.png) no-repeat 0 50%;
		border-bottom: 1px solid transparent;
		border-top: 1px solid transparent;
		cursor: pointer;
		list-style-type: none;
		padding: 2px 5px 2px 18px;
		white-space: nowrap;
	}

	.email-invited .user, .user-invited .user {
		background: #DFD url(@theme_image_path@/arrows/01_minus.png) no-repeat 99% 50%;
		border-bottom: 1px solid #CCC;
		padding: 0.5em;
	}

	.email-invited .user {
		background-color: #EEF;
	}

	.user-invited {
		.user {
			span {
				clear: none;
				display: block;
			}

			.name {
				color: #555;
				float: left;
				font-weight: bold;
				width: 40%;
			}

			.email {
				color: #000;
				font-size: 1em;
				width: 50%;
			}
		}
	}

	.email-invited .user .email {
		color: #555;
		font-size: 1em;
		font-weight: bold;
		margin: 0;
		width: 40%;
	}

	.controls a {
		background: url(@theme_image_path@/custom/bullet.png) no-repeat 3px 50%;
		padding-left: 10px;
	}

	.invited {
		background: #DFD url(@theme_image_path@/arrows/01_minus.png) no-repeat 0 50%;
		border-color: #AFA;
	}

	.invite-to select {
		margin-top: 1em;
		min-width: 300px;
	}

	span.email {
		color: #AAA;
		font-size: 0.8em;
		margin-left: 0.5em;
	}
}

.ie .so-portlet-invite-members .invite-to select {
	width: 300px;
}

.ie6 .so-portlet-invite-members {
	.search {
		background-image: none;
	}

	.invited, .user {
		border-bottom: 1px solid #FFF;
		border-top: 1px solid #FFF;
	}
}