a {
	font-size: 12px;
}


/** Wrapper **/

#content-wrapper {
	background: white;
	border: 5px solid black;
	width: 890px;
}

#wrapper {
	background: transparent;
	margin: 0 auto;
	position: relative;
	width: 900px;
}


/** Banner Body Navigation**/

#banner .logo a {
	margin-left: -25px;
}

#banner {
	background: transparent url(../images/custom/header.jpg) no-repeat scroll center;
	height: 100px;
	position: relative;
	top: 0;
}

body {
	background: #BFBFBF url(../images/custom/bg.gif) repeat-x scroll 0 0;
	font-family: "arial",sans-serif;
	font-size: 0.8em;
}

#navigation li a {
	border-right: 1px solid black;
	color: black;
}

#navigation li {
	border: none;
	margin: 5px 0 0 -1px;
}

#navigation li.selected a span {
	background: transparent;
	padding-left: 0;
}

#navigation li.selected a {
	font-weight: bold;
}

#navigation li.selected a, #navigation li a:hover {
	background-color: transparent;
	color: black;
}

#navigation ul {
	width: 98%;
}

#navigation {
	background: transparent url(../images/custom/nav.gif) no-repeat scroll center bottom;
	border: none;
	height: 47px;
	margin: 0 auto 8px;
}


/** Portlets **/

.portlet-topper {
	background: black;
	border: none;
	color: #FF4F00;
	font-size: 18px;
}

.portlet {
	border: none;
}


/** UI Tabs**/

.ui-tabs li a, .tabs li span {
	background: transparent none repeat scroll 0 0;
	border-right: medium none;
	color: black;
}

.ui-tabs li a:hover, .ui-tabs li span:hover {
	background: transparent;
	color: #FF4F00;
	text-decoration: none;
}

.ui-tabs li.current a, .ui-tabs li.current span {
	background: transparent none repeat scroll 0 0;
	border: medium none;
	color: #FF4F00;
}

.ui-tabs li.current:hover, .ui-tabs li.current a:hover {
	background-color: transparent;
}


/** Javascript **/

.js #add-page a span {
	color: black;
}

.js #add-page {
	background: transparent none repeat scroll 0 0;
	border: medium none;
	right: 0;
	top: 5px;
}

.js #navigation .enter-page .save-page {
	border: none;
}

.js #navigation .enter-page {
	background-color: transparent;
	padding: 1px;
}

.js .interactive-mode {
	right: 1%;
}


/** Footer **/

#footer {
	background: transparent url(../images/custom/footer.gif) no-repeat scroll center bottom;
	height: 40px;
	margin-top: 8px;
}