/* ---------- Wallpaper ---------- */

#maximized {
	background-color: #555;
}

#signedIn {
	background: url(../../images/wallpaper/signed_in.jpg) no-repeat fixed bottom left;
}

#signedOut {
	background: url(../../images/wallpaper/signed_out.jpg) no-repeat fixed bottom left;
}