/* This CSS file is loaded last and will overwrite all other css files. */

/* ---------- Styles in base.css ---------- */

body.osx {
	background: #007fa8 url(../../images/color_schemes/osx/desktop/desktop_bg.jpg) no-repeat fixed 50% 50%;
}

/* ---------- Styles in navigation.css ---------- */

.js .osx .interactive-mode {
	background: transparent url(../../images/color_schemes/osx/dock/menu_bar.png) no-repeat scroll 0 0;
	height: 22px;
	min-width: 34px;
	top: 0;
	width: 34px;
}

.js .osx .lfr-dock.expanded {
	background: transparent url(../../images/color_schemes/osx/dock/menu_bar_hover.png) no-repeat scroll 0 0;
}

/* ---------- Styles for the Liferay Dock menu ---------- */

.js .osx .lfr-dock.expanded .lfr-dock-list-container {
	background: transparent url(../../images/color_schemes/osx/dock/dock_bg.png) repeat-y scroll left bottom;
	left: -9px;
	padding: 0 0 9px;
	position: relative;
	top: 22px;
	width: 200px;
}

.js .osx .interactive-mode ul {
	border-top: 1px solid #c2c2c2;
	margin: 0 9px;
}

.js .osx .interactive-mode li {
	margin: 0 1px;
}

.js .osx .lfr-dock.interactive-mode li a:hover {
	background-color: #336eca;
}

.js .osx .interactive-mode li a {
	font-family: 'Lucida Grande','Lucida',Arial,Verdana,sans-serif;
}

.js.ie .osx .interactive-mode li.home a {
	margin: 0 1px;
}

.js.ie .osx .interactive-mode ul.taglib-home a {
	margin: 0;
}

/* ---------- Styles for the Main Navigation flyout menu ---------- */

.js .osx .lfr-flyout.has-children ul.taglib-home {
	right: -193px;
}

.js .osx .interactive-mode .home li {
	padding: 0 1px;
}

.js .osx .interactive-mode .home li.selected a,
.js .osx .interactive-mode .home .child-menu li.selected a {
	background-color: #3ca5d5;
}

.js .osx .interactive-mode .home li.selected a:hover,
.js .osx .interactive-mode .home .child-menu a:hover,
.js .osx .interactive-mode .home .child-menu li.selected a:hover {
	background-color: #336eca;
}

.js .osx .interactive-mode .home li a,
.js .osx .interactive-mode .home .child-menu li a {
	background: none;
}

.js.ie .osx .lfr-flyout.has-children ul.taglib-home {
	right: -192px;
	padding: 0;
}

/* ---------- Styles for the My Places flyout menu ---------- */

.js .osx .lfr-flyout.has-children ul {
	right: -183px;
}

.js .osx .interactive-mode .lfr-flyout.has-children ul {
	background: transparent url(../../images/color_schemes/osx/dock/child_menu_bg.png) repeat-y scroll left top;
	border-bottom: 1px solid #c2c2c2;
	border-top: 1px solid #c2c2c2;
}

.js .osx .interactive-mode .my-places li {
	padding: 0 1px;
}

.js .osx .interactive-mode .my-places li.current-community h3 a:hover {
	background-color: #336eca;
}

.js .osx .interactive-mode .my-places li.current a:hover {
	background: #336eca url(../images/dock/my_place_current.png) no-repeat scroll 0.5em 50%;
}

/* ---------- Styles for IE6 dock menu ---------- */

.js.ie6 .osx .interactive-mode ul {
	margin: 0 15px 0 9px;
}

.js.ie6 .osx .interactive-mode li {
	width: 180px;
}

.js.ie6 .osx .interactive-mode .lfr-dock-list li.home {
	width: 182px;
}

.js.ie6 .osx .lfr-flyout.has-children ul.taglib-home {
	right: -198px;
}

.js.ie6 .osx .interactive-mode .home li {
	width: 182px;
}

.js.ie6 .osx .interactive-mode .home li a:hover {
	background-color: #336eca;
}

.js.ie6 .osx .interactive-mode .lfr-dock-list li.first {
	width: 182px;
}

.js.ie6 .osx .interactive-mode .lfr-flyout.has-children ul li ul {
	left: 174px;
}

.js.ie6 .osx .interactive-mode .lfr-dock-list li.my-places {
	margin-left: 1px;
	width: 180px;
}

.js.ie6 .osx .lfr-flyout.has-children ul.taglib-my-places {
	right: -198px;
	padding-bottom: 0;
}

.js.ie6 .osx .interactive-mode .my-places li {
	width: 182px;
}

/* ---------- Styles in portlet.css ---------- */

.osx .portlet .content,
.osx .portlet .t,
.osx .portlet .b,
.osx .portlet .b .b-content {
	 background: transparent url(../../images/color_schemes/osx/portlet/portlet_bg.png) no-repeat scroll top right;
}

.osx .portlet .t {
	background-position: 0 21px;
}

.ie6 .osx .portlet .t {
	background: transparent url(../../images/color_schemes/osx/portlet/portlet_bg.png) no-repeat scroll top left;
	height: expression(parseInt(this.parentNode.offsetHeight-12) + "px");
	top: 0;
}

.osx .portlet .b {
	background-position:bottom right;
}

.ie6 .osx .portlet .b {
	background: transparent url(../../images/color_schemes/osx/portlet/portlet_bg.png) no-repeat scroll bottom right;
}

.osx .portlet .b .b-content {
	background-position: bottom left;
}

.ie6 .osx .portlet .b .b-content {
	background: transparent url(../../images/color_schemes/osx/portlet/portlet_bg.png) no-repeat scroll bottom left;
}

.osx .portlet-title {
	color: #333333;
	font-size: 12px;
	font-weight: bold;
	left: 14px;
	position: relative;
	text-align: center;
	top: 6px;
}

.osx .portlet-title img {
	display: none;
}

.osx .portlet-address {
	display: none;
}

.osx .portlet-icon-back {
	background: transparent url(../../images/portlet/back.png) no-repeat scroll 0 2px;
	color: #222222;
	line-height: 31px;
}

.osx .portlet-icon-back:hover {
	color: #000000;
}

/* ---------- Styles for Portlet mode icons ---------- */

.osx .portlet-modes {
	left: 1px;
	right: auto;
	top: 36px;
}

.ie .osx .portlet-modes {
	top: 37px;
}

.osx .portlet-states {
	left: 0;
	top: 18px;
}

.osx .portlet-states a {
	height: 14px;
}

.osx .portlet-min a,
.osx .portlet-min a:active {
	background: transparent url(../../images/color_schemes/osx/portlet/minimize.png) no-repeat scroll 0 0;
	width: 20px;
}

.ie6 .osx .portlet-min a,
.ie6 .osx .portlet-min a:active {
	background: transparent url(../../images/color_schemes/osx/portlet/minimize_opaque.png) no-repeat scroll 0 0;
}

.osx .portlet-min a:hover {
	background: transparent url(../../images/color_schemes/osx/portlet/minimize_hover.png) no-repeat scroll 0 0;
}

.ie6 .osx .portlet-min a:hover {
	background: transparent url(../../images/color_schemes/osx/portlet/minimize_opaque_hover.png) no-repeat scroll 0 0;
}

.osx .portlet-max a {
	background: transparent url(../../images/color_schemes/osx/portlet/maximize.png) no-repeat scroll 0 0;
	width: 20px;
}

.ie6 .osx .portlet-max a,
.ie6 .osx .portlet-max a:active {
	background: transparent url(../../images/color_schemes/osx/portlet/maximize_opaque.png) no-repeat scroll 0 0;
}

.osx .portlet-max a:hover {
	background: transparent url(../../images/color_schemes/osx/portlet/maximize_hover.png) no-repeat scroll 0 0;
}

.ie6 .osx .portlet-max a:hover {
	background: transparent url(../../images/color_schemes/osx/portlet/maximize_opaque_hover.png) no-repeat scroll 0 0;
}

.osx .portlet-close a {
	background: transparent url(../../images/color_schemes/osx/portlet/close.png) no-repeat scroll 0 0;
	width: 20px;
}

.ie6 .osx .portlet-close a,
.ie6 .osx .portlet-close a:active {
	background: transparent url(../../images/color_schemes/osx/portlet/close_opaque.png) no-repeat scroll 0 0;
}

.osx .portlet-close a:hover {
	background: transparent url(../../images/color_schemes/osx/portlet/close_hover.png) no-repeat scroll 0 0;
}

.ie6 .osx .portlet-close a:hover {
	background: transparent url(../../images/color_schemes/osx/portlet/close_opaque_hover.png) no-repeat scroll 0 0;
}

.osx .portlet-min, .osx .portlet-max, .osx .portlet-close {
	position: absolute;
	top: 0;
}

.osx .portlet-close {
	left: 0;
}

.osx .portlet-min {
	left: 20px;
}

.osx .portlet-max {
	left: 40px;
}

/* ---------- Styles for Portlet drag and drop ---------- */

.osx .portlet-decorate-resize-container {
	right: 17px;
}

.osx .portlet-resize-handle {
	background: transparent url(../../images/color_schemes/osx/arrows/resize_black.png) no-repeat scroll 0% 0%;
}

/* ---------- Styles in tabs.css ---------- */

.osx .tabs {
	border-bottom: 1px solid #c1c1c1;
}

.osx .tabs li {
	background: url(../../images/color_schemes/osx/common/tabs_bg.png) 100% -50px;
}

.osx .tabs li a,
.osx .tabs li a:hover,
.osx .tabs li span {
	background: url(../../images/color_schemes/osx/common/tabs_bg.png) 0 -150px;
	color: #656565;
}

.osx .tabs li.current {
	background: url(../../images/color_schemes/osx/common/tabs_bg.png) 100% 0;
}

/* ---------- Custom styles for the Desktop theme ---------- */

.osx #dock-wrapper {
	height: 23px;
}

.osx #taskbar {
	background: transparent url(../../images/color_schemes/osx/desktop/taskbar_bg.png) repeat-x scroll 0 0;
	height: 23px;
}

.osx #taskbar-portlets {
	padding:0 5px 0 42px;
}

.osx #taskbar-portlets .taskbar-link a {
	background: none;
	border-width: 0;
	color: #000000;
	line-height: 22px;
	font-family: 'Lucida Grande','Lucida',Arial,Verdana,sans-serif;
	font-weight: bold;
}

.ie6 .osx #taskbar-portlets .taskbar-link a {
	padding: 0 7px;
}

.osx #taskbar-portlets .taskbar-link.selected a {
	background: none;
	background-color: #3ca5d5;
	color: #ffffff;
}

.osx #taskbar-portlets .taskbar-link a:hover {
	background: none;
	background-color: #336eca;
	color: #ffffff;
}

.osx #taskbar-portlets-wrapper {
	top: 0;
}

.osx #taskbar-portlets img {
	display: none;
}

.ie6 .osx #portlet-wrapper-sign-in .b .b-content {
	bottom: 0;
}

/* ---------- Styles for the Desktop Sidebar ---------- */

.ie6 .osx #main-container {
	position: relative;
}

.osx #sidebar-wrapper {
	top: 23px;
}

.ie6 .osx #sidebar-wrapper {
	top: 0;
}

.osx #sidebar-top {
	margin: 15px 0 0 0;
}

.ie6 .osx #sidebar-top {
	margin: 38px 0 0 0;
}