/* ---------- Main background ---------- */

#desktop-locked.osx, #desktop-login.osx {
	background: #FFF url(../../images/color_schemes/osx/desktop/desktop_locked_bg.jpg) no-repeat fixed 50% 50%;
}

#desktop-maximized.osx {
	background: #555 url(../../images/desktop/maximized.png) no-repeat fixed bottom left;
}

#desktop-user.osx {
	background: #FFF url(../../images/color_schemes/osx/desktop/desktop_user_bg.jpg) no-repeat fixed 50% 50%;
}

/* ---------- Taskbar container ---------- */

.osx #taskbar-container {
	background: none;
}

.osx #taskbar {
	background: transparent url(../../images/color_schemes/osx/taskbar/taskbar_bg.png) repeat-x scroll 100% 0;
}

/* ---------- Taskbar portlet links ---------- */

.osx #taskbar-portlets-wrapper {
	height: 23px;
	top: 0;
}

.osx #taskbar-portlets {
	padding: 0 10px 0 40px;
}

.osx #taskbar-portlets .taskbar-link a {
	background: none;
	border-style: none;
	color: #000;
	font-weight: bold;
	padding: 3px 7px 4px;
}

.osx #taskbar-portlets .taskbar-link a:hover {
	background: #336ECA;
	color: #FFF;
}

.osx #taskbar-portlets .taskbar-link.selected a, .osx #taskbar-portlets .taskbar-link.selected a:hover {
	background: #3CA5D5;
	color: #FFF;
}

/* ---------- Dock icon ---------- */

.js .osx .interactive-mode {
	background: transparent url(../../images/color_schemes/osx/dock/menu_bar.png) no-repeat scroll 0 0;
	height: 23px;
	min-width: 34px;
	top: 0;
	width: 34px;
}

.js .osx .lfr-dock.expanded {
	background: transparent url(../../images/color_schemes/osx/dock/menu_bar_hover.png) no-repeat scroll 0 0;
}

.js .osx .lfr-dock.expanded .lfr-dock-list-container {
	top: 24px;
}

/* ---------- Dock menu ---------- */

.js .osx .interactive-mode ul.lfr-dock-list {
	background: #FFF;
	border-width: 1px;
}

/* ---------- Portlet template ---------- */

.osx div.portlet .portlet-topper {
	background-color: #BBB;
	height: 24px;
}

/* ---------- Portlet wrapper and icons ---------- */

.osx .portlet-topper {
	height: 24px;
	padding: 6px 0 0;
}

.osx .portlet-title {
	color: #222;
	font-size: 13px;
	font-weight: bold;
	padding: 3px 0 0;
	text-align: center;
}

.osx .portlet-address {
	display: none;
}

.osx .portlet-modes {
	left: 0;
	right: auto;
	top: 11px;
}

.osx .icon-min {
	left: 19px;
	position: absolute;
}

.osx .icon-min a {
	background: transparent url(../../images/color_schemes/osx/portlet/minimize.png) no-repeat scroll 50% 0;
	height: 15px;
	width: 19px;
}

.osx .icon-min a.selected {
	background: transparent url(../../images/color_schemes/osx/portlet/minimize_hover.png) no-repeat scroll 50% 0;
}

.osx .icon-max {
	left: 38px;
	position: absolute;
}

.osx .icon-max a {
	background: transparent url(../../images/color_schemes/osx/portlet/maximize.png) no-repeat scroll 50% 0;
	height: 15px;
	width: 19px;
}

.osx .icon-max a.selected {
	background: transparent url(../../images/color_schemes/osx/portlet/maximize_hover.png) no-repeat scroll 50% 0;
}

.osx .icon-close {
	left: 0;
	position: absolute;
}

.osx .icon-close a {
	background: transparent url(../../images/color_schemes/osx/portlet/close.png) no-repeat scroll 50% 0;
	height: 15px;
	width: 19px;
}

.osx .icon-close a.selected {
	background: transparent url(../../images/color_schemes/osx/portlet/close_hover.png) no-repeat scroll 50% 0;
}

.osx .icon-back {
	top: 8px;
}

.osx .portlet-icon-back, .osx .portlet-icon-back:hover {
	color: #444;
}

/* ---------- Portlet container ---------- */

.osx .portlet-top {
	height: 30px;
}

.osx .portlet-top .top-left {
	background: transparent url(../../images/color_schemes/osx/portlet/top_left.png) no-repeat scroll 0% 0%;
	height: 30px;
}

.osx .portlet-top .top-center {
	background: transparent url(../../images/color_schemes/osx/portlet/top_center.png) repeat-x scroll 0% 0%;
	height: 30px;
	margin-right: 15px;
}

.osx .portlet-top .top-right {
	background: transparent url(../../images/color_schemes/osx/portlet/top_right.png) no-repeat scroll 100% 0%;
	height: 30px;
	margin-left: 15px;
}

.osx .portlet-middle .middle-left {
	background: transparent url(../../images/color_schemes/osx/portlet/middle_left.png) repeat-y scroll 0% 0%;
}

.osx .portlet-middle .middle-center {
	margin-right: 15px;
}

.osx .portlet-middle .middle-right {
	background: transparent url(../../images/color_schemes/osx/portlet/middle_right.png) repeat-y scroll 100% 0%;
	margin-left: 15px;
}

.osx .portlet-bottom {
	height: 15px;
}

.osx .portlet-bottom .bottom-left {
	background: transparent url(../../images/color_schemes/osx/portlet/bottom_left.png) no-repeat scroll 0% 0%;
	height: 15px;
}

.osx .portlet-bottom .bottom-center {
	background: transparent url(../../images/color_schemes/osx/portlet/bottom_center.png) repeat-x scroll 0% 0%;
	height: 15px;
	margin-right: 15px;
}

.osx .portlet-bottom .bottom-right {
	background: transparent url(../../images/color_schemes/osx/portlet/bottom_right.png) no-repeat scroll 100% 0%;
	height: 15px;
	margin-left: 15px;
}

/* ---------- Portlet options ---------- */

.osx .lfr-actions.portlet-options .lfr-trigger strong span {
	color: #777;
}

.osx .portlet-options.visible .lfr-trigger strong span {
	color: #06C;
}

/* ---------- Portlet options container ---------- */

.osx .icon-options, .ie .osx icon-options, .osx .icon-options-min, .osx .icon-options-max, .osx .icon-options-close, .osx .icon-options-min-max, .osx .icon-options-min-close, .osx .icon-options-max-close, .osx .icon-options-min-max-close {
	right: 0;
	top: 10px;
}

/* ---------- Login portlet ---------- */

.osx .portlet-login .portlet-title img {
	display: none;
}

/* ---------- IE6 Taskbar portlet links ---------- */

.ie6 .osx #taskbar-portlets .taskbar-link a {
	width: 1%;
}

/* ---------- IE6 Portlet wrapper and icons ---------- */

.ie6 .osx .icon-min a {
	background: transparent url(../../images/color_schemes/osx/portlet/minimize_hover.png) no-repeat scroll 50% 0;
	filter: alpha(opacity=30);
	opacity: .3;
}

.ie6 .osx .icon-max a {
	background: transparent url(../../images/color_schemes/osx/portlet/maximize_hover.png) no-repeat scroll 50% 0;
	filter: alpha(opacity=30);
	opacity: .3;
}

.ie6 .osx .icon-close a {
	background: transparent url(../../images/color_schemes/osx/portlet/close_hover.png) no-repeat scroll 50% 0;
	filter: alpha(opacity=30);
	opacity: .3;
}

.ie6 .osx .icon-min a.selected, .ie6 .osx .icon-max a.selected, .ie6 .osx .icon-close a.selected {
	filter: alpha(opacity=100);
	opacity: 1;
}