/* ---------- Base styles ---------- */

.simple #login a {
	color: #FFF;
}

/* ---------- Wallpaper ---------- */

body.simple {
	background: url(../../images/color_schemes/simple/wallpaper/bg.jpg) no-repeat fixed 50% 50%;
}