/* This CSS file is loaded last and will overwrite all other css files. */

/* ---------- Styles in base.css ---------- */

body.vista {
	background: #548297 url(../../images/color_schemes/vista/desktop/desktop_bg.png) no-repeat fixed 50% 50%;
}

/* ---------- Styles in navigation.css ---------- */

.js .vista .interactive-mode {
	background: transparent url(../../images/color_schemes/vista/dock/menu_bar.png) no-repeat scroll 0 0;
	height: 37px;
	min-width: 44px;
	top: -9px;
	width: 44px;
}

.js .vista .lfr-dock.expanded {
	background: transparent url(../../images/color_schemes/vista/dock/menu_bar_hover.png) no-repeat scroll 0 0;
}

/* ---------- Styles for the Liferay Dock menu ---------- */

.js .vista .lfr-dock.expanded .lfr-dock-list-container {
	background: transparent url(../../images/color_schemes/vista/dock/dock_bg.png) repeat-y scroll left bottom;
	height: 450px;
	left: -5px;
	padding: 0;
	top: -441px;
	width: 330px;
}

.js.ie6 .vista .lfr-dock.expanded .lfr-dock-list-container {
	background: transparent url(../../images/color_schemes/vista/dock/dock_black_bg.png) repeat-y scroll left bottom;
	filter: alpha(opacity=85);
}

.js .vista .interactive-mode ul {
	border-top: none;
	padding: 0 0 0 3px;
	position: relative;
	top: 67px;
	width: 193px;
}

.js .vista .lfr-dock.interactive-mode li a:hover {
	background-color: #3ca5d5;
	color: #ffffff;
}

.js .vista .interactive-mode li a {
	font-stretch: semi-condensed;
	font-weight: 300;
}

.ie.js .vista .interactive-mode li.home a {
	margin: 0;
}

/* ---------- Styles in portlet.css ---------- */

.vista .portlet .content,
.vista .portlet .t,
.vista .portlet .b,
.vista .portlet .b .b-content {
	background: transparent url(../../images/color_schemes/vista/portlet/portlet_bg.png) no-repeat scroll top right;
}

.ie6 .vista .portlet .content {
	background: transparent url(../../images/color_schemes/vista/portlet/portlet_opaque_bg.png) no-repeat scroll top right;
}

.vista .portlet .t {
	background-position: 0 21px;
}

.ie6 .vista .portlet .t {
	background: transparent url(../../images/color_schemes/vista/portlet/portlet_opaque_bg.png) no-repeat scroll top left;
	height: expression(parseInt(this.parentNode.offsetHeight-12) + "px");
	top: 0;
}

.vista .portlet .b {
	background-position:bottom right;
}

.ie6 .vista .portlet .b {
	background: transparent url(../../images/color_schemes/vista/portlet/portlet_opaque_bg.png) no-repeat scroll bottom right;
}

.vista .portlet .b .b-content {
	background-position: bottom left;
}

.ie6 .vista .portlet .b .b-content {
	background: transparent url(../../images/color_schemes/vista/portlet/portlet_opaque_bg.png) no-repeat scroll bottom left;
	position: relative;
	left: 0;
	bottom: 0;
}

.vista .portlet-title {
	color: #000000;
	font-weight: bold;
}

.vista .portlet-title img {
	display: none;
}

.vista .portlet-address {
	line-height: 24px;
}

.ie6 .vista .portlet-address {
	padding: 5px 0 5px 29px;
}

.vista .portlet-icon-back {
	color: #000000;
}

.vista .portlet-icon-back:hover {
	color: #000000;
}

/* ---------- Styles for Portlet mode icons ---------- */

.ie .vista .portlet-modes {
	top: 39px;
}

.vista .portlet-states {
	top: 12px;
}

.vista .portlet-min a,
.vista .portlet-min a:active {
	background: transparent url(../../images/color_schemes/vista/portlet/minimize.png) no-repeat scroll 0 0;
}

.ie6 .vista .portlet-min a,
.ie6 .vista .portlet-min a:active {
	background: transparent url(../../images/color_schemes/vista/portlet/minimize_opaque.png) no-repeat scroll 0 0;
	filter: alpha(opacity=70);
}

.vista .portlet-min a:hover {
	background: transparent url(../../images/color_schemes/vista/portlet/minimize_hover.png) no-repeat scroll 0 0;
}

.ie6 .vista .portlet-min a:hover {
	background: transparent url(../../images/color_schemes/vista/portlet/minimize_opaque_hover.png) no-repeat scroll 0 0;
}

.vista .portlet-max a {
	background: transparent url(../../images/color_schemes/vista/portlet/maximize.png) no-repeat scroll 0 0;
}

.ie6 .vista .portlet-max a,
.ie6 .vista .portlet-max a:active {
	background: transparent url(../../images/color_schemes/vista/portlet/maximize_opaque.png) no-repeat scroll 0 0;
	filter: alpha(opacity=70);
}

.vista .portlet-max a:hover {
	background: transparent url(../../images/color_schemes/vista/portlet/maximize_hover.png) no-repeat scroll 0 0;
}

.ie6 .vista .portlet-max a:hover {
	background: transparent url(../../images/color_schemes/vista/portlet/maximize_opaque_hover.png) no-repeat scroll 0 0;
}

.vista .portlet-close a {
	background: transparent url(../../images/color_schemes/vista/portlet/close.png) no-repeat scroll 0 0;
}

.ie6 .vista .portlet-close a,
.ie6 .vista .portlet-close a:active {
	background: transparent url(../../images/color_schemes/vista/portlet/close_opaque.png) no-repeat scroll 0 0;
	filter: alpha(opacity=70);
}

.vista .portlet-close a:hover {
	background: transparent url(../../images/color_schemes/vista/portlet/close_hover.png) no-repeat scroll 0 0;
}

.ie6 .vista .portlet-close a:hover {
	background: transparent url(../../images/color_schemes/vista/portlet/close_opaque_hover.png) no-repeat scroll 0 0;
}

/* ---------- Styles for Portlet drag and drop ---------- */

.vista .portlet-decorate-resize-container {
	right: 17px;
}

/* ---------- Custom styles for the Desktop theme ---------- */

.vista #dock-wrapper {
	bottom: 0;
	left: 0;
	position: absolute;
	width: 100%;
	z-index: 5;
}

.vista #taskbar {
	background: transparent url(../../images/color_schemes/vista/desktop/taskbar_bg.png) repeat-x scroll 0 0;
}

.ie6 .vista #taskbar {
	position: absolute;
	bottom: 0;
	left: 0;
}

.vista #taskbar-portlets a {
	color: #ffffff;
	padding: 0 10px 0 58px;
}

.vista #taskbar-portlets-wrapper {
	top: 3px;
}

.vista #taskbar-portlets .taskbar-link a {
	color: #ffffff;
	font-size: 13px;
}

/* ---------- Custom styles for the Desktop sidebar menu ---------- */

.vista .expanded .vista-menu .taglib-home.navigation-menu {
	display: block;
	position: absolute;
	right: -280px;
	top: -375px;
	width: 126px;
}

/* ---------- Styles for the Main Navigation menu ---------- */

.js .vista-menu .taglib-home li {
	height: 26px;
	text-indent: -20px;
}

.ie.js .vista-menu .taglib-home li.lfr-flyout.has-children {
	min-width: auto;
}

.js .vista-menu .taglib-home li.my-places {
	border-bottom: 1px dotted #aaaaaa;
	text-indent: 0;
}

.js .vista-menu .taglib-home li a {
	color: #eeeeee;
}

.js .vista-menu .taglib-home.navigation-menu li a:hover {
	background-color: #222222;
	color: #ffffff;
}

.js.ie6 .vista-menu .taglib-home.navigation-menu li a:hover {
	background-color: #111111;
}

.js .vista-menu .taglib-home li.selected a,
.js .vista-menu .taglib-home ul li.selected a {
	background-color: #555555;
	color: #ffffff;
}

/* ---------- Styles for the Main Navigation flyout menu ---------- */

.js .vista .interactive-mode .lfr-flyout.has-children ul {
	background: transparent url(../../images/color_schemes/vista/dock/child_menu_bg.png) repeat-y scroll left top;
	border-color: #b7bfb4;
}

.js .vista-menu .taglib-home ul {
	position: absolute;
}

.js .vista-menu ul.taglib-my-places,
.js .vista-menu ul.child-menu {
	left: 122px;
}

.js .vista-menu .taglib-home li.my-places li {
	text-indent: 0;
}

.js .vista-menu .taglib-home ul li {
	margin: 0 1px 0;
}

.js .vista-menu .taglib-home ul a,
.js .vista-menu .taglib-home ul.child-menu a {
	background-color: transparent;
	color: #000;
}

/* ---------- Styles for the My Places flyout menu ---------- */

.js .vista .interactive-mode .my-places li.current-community h3 a {
	background-color: #555555;
}

.js .vista .interactive-mode .my-places li.current-community h3 a:hover {
	background-color: #222222;
}

.js.ie6 .vista .interactive-mode .my-places li.current-community h3 a:hover {
	background-color: #111111;
}

.js .vista .interactive-mode .my-places li.current a {
	background-color: #555555;
}

.js .vista .interactive-mode .my-places li.current a:hover {
	background-color: #222222;
}

.js.ie6 .vista .interactive-mode .my-places li.current a:hover {
	background-color: #111111;
}

/* ---------- Styles for IE6 dock menu ---------- */

.js.ie6 .vista .interactive-mode ul {
	width: 187px;
}

.js.ie6 .vista .interactive-mode .lfr-dock-list li.home {
	width: 187px;
}

.js.ie6 .vista .expanded .vista-menu .taglib-home.navigation-menu {
	right: 0px;
}

.js.ie6 .vista-menu .taglib-home li {
	float: left;
	width: 120px;
}

.js.ie6 .vista-menu .taglib-home ul.child-menu {
 	filter: alpha(opacity=85);
}

.js.ie6 .vista .interactive-mode .lfr-flyout.has-children ul {
	top: 0;
}

.js.ie6 .vista-menu .taglib-home ul li {
	width: 180px;
}

.js.ie6 .vista-menu .taglib-home li.my-places li {
	margin: 0;
}

.js.ie6 .vista-menu .taglib-home li.my-places ul {
	border: none;
	padding: 1px 0;
}

.js.ie6 .vista-menu .taglib-home li.my-places ul ul {
	top: -1px;
 	filter: alpha(opacity=85);
}

/* ---------- Custom styles for the Desktop theme ---------- */

.vista #taskbar-portlets img {
	display: none;
}

.ie6 .vista #taskbar-portlets .taskbar-link a {
	padding: 1px 7px;
}

.ie6 .vista #portlet-wrapper-sign-in .b .b-content {
	bottom: 0;
}

/* ---------- Styles for the Desktop Sidebar ---------- */

.vista #sidebar-wrapper {
	top: auto;
	bottom: 28px;
}

.ie6 .vista #sidebar-wrapper {
	top: 0;
	bottom: auto;
}

.vista #sidebar-top {
	margin: 43px 0 0;
}

.ie6 .vista #sidebar-top {
	margin: 15px 0 0;
}

.vista #sidebar-link a {
	background: transparent url(../../images/arrows/05_left.png) no-repeat scroll 50% 55%;
}

.ie6 .vista #sidebar-link a {
	background: transparent url(../../images/arrows/07_left.png) no-repeat scroll 50% 55%;
}

.vista #sidebar-link a:hover {
	background: transparent url(../../images/arrows/05_left_hover.png) no-repeat scroll 50% 55%;
}

.ie6 .vista #sidebar-link a:hover {
	background: transparent url(../../images/arrows/07_left_hover.png) no-repeat scroll 50% 55%;
}

.vista #sidebar-link a.expanded {
	background: transparent url(../../images/arrows/05_right.png) no-repeat scroll 50% 55%;
}

.ie6 .vista #sidebar-link a.expanded {
	background: transparent url(../../images/arrows/07_right.png) no-repeat scroll 50% 55%;
}

.vista #sidebar-link a.expanded:hover {
	background: transparent url(../../images/arrows/05_right_hover.png) no-repeat scroll 50% 55%;
}

.ie6 .vista #sidebar-link a.expanded:hover {
	background: transparent url(../../images/arrows/07_right_hover.png) no-repeat scroll 50% 55%;
}