/* This file allows you to override default styles in one central location for easier upgrade and maintenance. */

a {
	color: #FFF;
}

body {
	background-color: #000;
	font: 62.5%/1.6em Tahoma, 'Lucida Sans Unicode', Lucida Grande, 'Lucida', Arial, 'Verdana', sans-serif;
}


/* ---------- Main content body ---------- */

#content-wrapper {
	margin-top: 160px;
	width: 100%;
}

#footer {
	border-top: 4px solid #363636;
	margin-left: auto;
	margin-right: auto;
	margin-top: 27px;
	padding-top: 5px;
	width: 961px;
}

table {
	clear: both;
}

#wrapper {
	background: url('../images/custom/common/visual_bg.jpg') no-repeat 0 159px;
	margin: 0 auto;
	width: 960px;
}


/* ---------- Banner ---------- */

#banner .logo a {
	color: #FFF;
	letter-spacing: 0.05em;
	text-decoration: none;
}

#banner .logo {
	background: none;
	display: block;
	float: left;
	font-size: 20pt;
	font-weight: normal;
	padding: 2em 0.6em .3em;
}

#banner {
	background: none;
	height: 7em;
	position: relative;
	top: 33px;
}


/* ---------- Main navigation ---------- */

.ie6 #navigation li a {
	padding-bottom: 7px;
	padding-left: 16px;
}

.ie6 #navigation li a:hover {
	padding-bottom: 7px;
}

.ie6 #navigation li.selected a {
	padding-bottom: 7px;
}

.ie6 #navigation li.selected a:hover {
	padding-bottom: 7px;
}

.ie6.js #add-page {
	float: left;
	font-weight: bold;
	left: 0;
	padding-top: 0.3em;
	position: relative;
	top: 0;
}

.js #add-page {
	border: 0;
	position: absolute;
	right: 27px;
	top: 20px;
}

#navigation li a span {
	background: none;
	color: #FFF;
	padding-left: 10px;
	text-decoration: none;
}

#navigation li a {
	background: none;
	color: #76DEFC;
	display: block;
	line-height: 27px;
	margin-left: 0;
	margin-right: -5px;
	padding-bottom: 8px;
	padding-left: 16px;
	padding-right: 25px;
	padding-top: 7px;
	text-decoration: none;
}

#navigation li a:hover span {
	background: none;
}

#navigation li a:hover {
	background: #4D4D4D;
	padding-bottom: 8px;
}

#navigation li {
	background: #222;
	border: 0;
	border-right: 1px solid #000;
	display: inline;
	margin-left: 0;
	margin-right: 0;
	margin-top: 0;
	padding: 0 0.5em 0.1em 0;
}

#navigation li.selected a span {
	background: none;
	font-size: 1.3em;
	font-weight: normal;
}

#navigation li.selected a {
	background: #4D4D4D;
	margin-right: -5px;
	padding-bottom: 8px;
	padding-left: 16px;
	padding-right: 29px;
	padding-top: 7px;
}

#navigation li.selected a:hover {
	padding-bottom: 8px;
}

#navigation ul {
	background: #4D4D4D url('../images/custom/navigation/topnav_bg.png') no-repeat right;
	float: left;
	margin-top: 0;
	min-height: 2em;
	width: 960px;
}

#navigation {
	border: none;
	margin: 45px 0 2em;
	min-height: 2.2em;
	width: 962px;
}


/* ---------- Add/Sort/Remove page ---------- */

.js #navigation .enter-page {
	background: none;
	padding: 0.5em 2em 1em 1.5em;
}


/* ---------- Portlet wrapper and icons ---------- */

.portlet, .portlet-topper, .portlet-content, .portlet-title {
	background: none;
	color: #FFF;
}

.portlet-section-body td {
	background: #DCDCDC;
	border-top: 1px solid #BFBFBF;
	padding: 0.3em 1em;
	color: black;
}

.portlet-section-header th {
	border-bottom: 1px solid #CCC;
	color: #FFF;
	font-weight: bold;
	padding: 0.3em 1em;
}

.portlet-section-header {
	background: #000405;
	padding: 1px 0 0;
}

.portlet-title {
	background: none;
	background-position: top left;
	color: #FFF;
	display: block;
	font-family: 'trebuchet ms', 'arial', 'tahoma', 'verdana', sans-serif;
	font-size: 15pt;
	font-weight: normal;
	letter-spacing: 0.05em;
	min-width: 50%;
	padding: 8px 0 4px 0px;
	text-indent: 30px;
}

.portlet-topper {
	background: #000;
	background-position: right top;
	border-bottom: 1px solid #484848;
	margin-right: -10px;
	padding-right: 40px;
	position: relative;
}

.portlet {
	background: #222;
	border: 0;
	border-bottom: 1px solid #484848;
	margin: 0 0 10px;
	padding-right: 10px;
	text-align: left;
}


/* This CSS sets the default styles for tabs. */

.js .interactive-mode li a {
	color: black;
}

.ui-tabs li a {
	color: #000;
}

.ui-tabs {
	border-bottom: 1px solid #7F9BCA;
	margin: 0 0 1.5em 0;
	padding: 0 0 2.6em 1em;
}

.portlet-calendar .calendar-container {
	background: transparent;
}

.portlet-calendar .calendar-day .day-number {
	border: none;
}

.taglib-calendar tr th {
	color: #7F9BCA;
}

.taglib-calendar tr td a {
	color: black;
}