#set ($groupService = $serviceLocator.findService('com.liferay.portal.service.GroupLocalService'))

#set ($mobileGroup = $groupService.getGroup($company_id, "Mobile"))

#set ($layoutSetService = $serviceLocator.findService('com.liferay.portal.service.LayoutSetLocalService'))

#set ($layoutSet = $layoutSetService.getLayoutSet($mobileGroup.groupId, false))

#set ($isIphone = $request.getHeader("User-Agent").toLowerCase().indexOf("iphone") != -1)

#if ($isIphone && $mobileGroup && $group_id != $mobileGroup.groupId)
	<script type="text/javascript">
		window.location.href = '${layoutSet.virtualHost}' ? 'http://' + '${layoutSet.virtualHost}' + ((window.location.port) ? ':' + window.location.port : '') : '/web${mobileGroup.friendlyURL}';
	</script>
#end