@import "compass";

.asset-creator {
	.add-link {
		margin-bottom: 7px;
	}

	.link-preview {
		margin-bottom: 2em;
	}

	.asset-feed-list-content {
		border: 1px solid #DDD;
		cursor: text;
		min-height: 28px;
		padding: 10px;

		.asset-feed-list-container {
			display: inline;

			.asset-feed-list-item {
				background-color: #0AF;
				color: #FFF;
				float: left;
				font-size: 18px;
				margin: 0 5px 5px 0;
				padding: 3px 5px;

				.remove {
					margin-left: 2px;

					&:hover {
						color: #CF4343;
						cursor: pointer;
					}
				}
			}
		}

		.asset-feed-list-input[type="text"] {
			border-width: 0;
			margin: 0;
		}
	}

	.content-editable-wrapper {
		margin-bottom: 15px;
		position: relative;

		.content-editable {
			border: 1px solid #DDD;
			outline: none;
			padding: 10px;
			white-space: pre-wrap;

			&.content-editable-area {
				min-height: 80px;
			}

			&.content-editable-inline {
				height: 20px;
				overflow: hidden;
				white-space: nowrap;
			}

			&:focus {
				border-color: rgba(0, 172, 255, 0.8);
			}

			.asset-feed-content-mention {
				background: #FFF;
				border-width: 0;
				color: #2AAAE6;
				display: inline-block;
				padding: 0;
				white-space: nowrap;
			}
		}

		.placeholder {
			color: #A5A5A5;
			font-style: italic;
			left: 11px;
			pointer-events: none;
			position: absolute;
			top: 11px;
		}
	}

	/* ---------- Extras ---------- */

	.content-editable-wrapper {
		.content-editable {
			@include transition(border-color 0.2s, box-shadow 0.2s);

			&:focus {
				@include box-shadow(inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(82, 168, 236, 0.6));
			}
		}
	}

	.asset-feed-list-content {
		.asset-feed-list-input[type="text"] {
			@include box-shadow(none);
		}

		.asset-feed-list-item {
			@include border-radius(4px);
		}
	}
}