/* This file allows you to override default styles in one central location for easier upgrade and maintenance. */

/* ---------- Base ---------- */

body {
	background: url(../images/custom/body_bg.png) center top;
}

/* ---------- Wrapper ---------- */

#wrapper {
	margin: 0 auto;
	width: 940px;
	padding: 10px;
	position: relative;
}

/* ---------- Banner ---------- */

#banner {
	background: #317296 url(../images/custom/banner_bg.gif) repeat-x;
	position: relative;
	padding: 45px;
	margin: 0 0 10px;
}

/* ---------- Logo ---------- */

#banner .logo a {
	margin: 0 auto;
}

/* ---------- Dock ---------- */

.js .interactive-mode {
	right: 9px;
}

/* ---------- Navigation ---------- */

#navigation {
	position: absolute;
	left: 10px;
	background: #eee url(../images/custom/navigation_a_bg.gif) repeat-x;
	border: 1px solid #E5E5E5;
	width: 200px;
}

#navigation a,
#navigation .enter-page {
	border: 1px solid #FAFAFA;
	color: #777;
	display: block;
	width: 172px;
	text-decoration: none;
	padding: 3px 14px;
}

#navigation a:hover {
}

#navigation .selected a {
}

#navigation .save-page,
#navigation .save-page:hover {
	background: none;
	border-right: 0;
	display: inline;
	float: none;
}

.ie7 #navigation .save-page {
	position: relative;
	top: -5px;
}

#navigation .cancel-page {
	display: none;
}

/* ---------- Content Wrapper ---------- */

#content-wrapper {
	margin: 0 0 0 215px;
	padding: 0 0 10px;
}

.lfr-grid .lfr-column {
}

/* ---------- Portlet ---------- */

.portlet {
	border: 1px solid #EEE;
	padding: 6px 12px;
	margin: 0 0 8px;
}

.portlet-topper {
}

.portlet-title {
	color: #367EA6;
	font: 14px Lucida Sans Unicode, Lucida Grande, sans-serif;
}

.portlet-title img {
	display: none;
}

.portlet-content {
	font: 12px Lucida Sans Unicode, Lucida Grande, sans-serif;
	padding: 8px 0;
}

/* ---------- Tabs ---------- */

.ui-tabs {
}

.ui-tabs li a,
.ui-tabs li a:hover,
.ui-tabs li span,
.ui-tabs li span:hover {
}

.ui-tabs li a:hover,
.ui-tabs li span:hover {
}

.ui-tabs li.current:hover {
	background: transparent;
}

/* ---------- Footer ---------- */

#footer {
	border: 1px solid #eee;
	min-height: 28px;
}