/* This file allows you to override default styles in one central location for easier upgrade and maintenance. */
body {
	background-color: #9DB4A8;
	background-image: url(../images/custom/comment/body-bg.jpg);
	background-position: center top;
	background-repeat: no-repeat;
	color: #000000;
	font-family: Verdana, Arial, Georgia;
	font-weight: normal;
	line-height: 12px;
	margin: 0pt;
	padding: 0pt;
	text-align: justify;
}

#wrapper {
	background: transparent;
}

#banner {
	background-image: url(../images/custom/comment/header.png);
	background-position: left top;
	background-repeat: no-repeat;
	height: 335px;
	margin: 0pt auto;
	padding: 0pt;
	text-align: left;
	width: 946px;
	border-bottom: 0px solid #89C8FF;
	margin-bottom: 0em;
}

#banner .logo {
	display: block;
	font-size: 2em;
	margin: 0pt auto;
	padding: 2.25em 0pt 216px;
}

#banner-content {
	margin: 0pt auto;
	width: 100%;
}

#content-wrapper {
	background: #FFFFFF none repeat scroll 0%;
	margin: 0pt auto;
	padding: 10px;
	width: 926px;
}

#navigation {
	background-image: url(../images/custom/comment/menu-bg.jpg);
	background-position: left top;
	background-repeat: repeat-x;
	height: 54px;
	margin: 0px auto;
	padding-left: 8px;
	width: 938px;
}

#navigation ul li a:hover {
	color: #FFFFFF;
	text-decoration: none;
}

#navigation ul li {
	background: transparent url(../images/custom/comment/menu-l.jpg) no-repeat
		scroll 0%;
	color: #000000;
	float: left;
	font-family: Times New Roman, Verdana;
	font-size: 12px;
	font-style: normal;
	font-variant: normal;
	font-weight: bold;
	height: 46px;
	line-height: 46px;
	margin-right: 8px;
	margin-top: 3px;
	text-transform: uppercase;
}

#navigation li.selected a, #navigation li a:hover {
	background-color: transparent;
}

.js #navigation .enter-page {
	background: transparent;
}

#banner h1.logo {
	left: 15%;
}

#navigation ul li a {
	background: transparent url(../images/custom/comment/menu-r.jpg) no-repeat
		scroll right top;
	color: #000000;
	display: block;
	padding: 0pt 20px 0pt 20px;
	text-decoration: none;
}

#navigation li.selected {
	border-top: 0px;
	font-weight: bold;
}

#navigation li a span {
	display: block;
	padding: 0px;
}

#navigation li.selected a {
	padding-top: 0em;
	color: #fff;
}

#footer {
	background: transparent url(../images/custom/comment/footer-bg.jpg) repeat-x
		scroll left bottom;
	color: #627069;
	font-size: 11px;
	height: 74px;
	line-height: 18px;
	margin-top: 0px;
	padding-top: 18px;
	text-align: center;
	width: 946px;
	margin: 0px auto;
}

.portlet {
	border: 1px solid #98ACA1;
	margin-bottom: 1em;
	text-align: left;
}

.portlet-topper {
	background: #76877D url(../images/custom/portlet/portlet_top.png) repeat-x
		scroll 0% 0px;
	position: relative;
	color: #fff;
}

.tabs {
	border-bottom: 1px solid #9EB4A8;
	margin: 0pt 0pt 1.5em;
	padding: 0pt 0pt 2.6em 1em;
}

.tabs li {
	background: #A8BDB9 url(../images/custom/common/tabs_inactive_bg.png) repeat-x
		scroll 0pt -65%;
	border-color: #9EB4A8;
	border-style: solid solid none;
	border-width: 1px 1px 0pt;
	display: inline;
	float: left;
	line-height: 2.25;
	margin-right: 0.8em;
	padding: 0pt;
	text-decoration: none;
}

.tabs li.current {
	background: #8DA196 url(../images/custom/common/tabs_active_bg.png) repeat-x
		scroll 0pt 0%;
	font-weight: bold;
}

.js .interactive-mode {
	float: right;
	min-width: 150px;
	position: relative;
	right: 30pt;
	top: 10pt;
}

#banner .logo a {
	background: transparent
		url(/image/company_logo?img_id=0&t=1213776897250) no-repeat scroll 0%;
	display: block;
	font-size: 0pt;
	height: 49px;
	margin-left: 50px;
	text-indent: -9999em;
	width: 198px;
}