/* This file allows you to override default styles in one central location for easier upgrade and maintenance. */

#banner .logo a {
	background: transparent url(/image/company_logo?img_id=0&t=1213776897250) no-repeat scroll 0;
	display: block;
	font-size: 0;
	height: 49px;
	margin-left: 50px;
	text-indent: -9999em;
	width: 198px;
}

#banner .logo {
	display: block;
	font-size: 2em;
	margin: 0 auto;
	padding: 2.25em 0 216px;
}

#banner h1.logo {
	left: 15%;
}

#banner {
	background-image: url(../images/custom/comment/header.png);
	background-position: left top;
	background-repeat: no-repeat;
	border-bottom: 0 solid #89C8FF;
	height: 335px;
	margin: 0 auto;
	margin-bottom: 0em;
	padding: 0;
	text-align: left;
	width: 946px;
}

#banner-content {
	margin: 0 auto;
	width: 100%;
}

body {
	background-color: #9DB4A8;
	background-image: url(../images/custom/comment/body-bg.jpg);
	background-position: center top;
	background-repeat: no-repeat;
	color: #000;
	font-family: Verdana, Arial, Georgia;
	font-weight: normal;
	line-height: 12px;
	margin: 0;
	padding: 0;
	text-align: justify;
}

#content-wrapper {
	background: #FFF none repeat scroll 0;
	margin: 56px auto 0;
	padding: 10px;
	width: 926px;
}

#footer {
	background: transparent url(../images/custom/comment/footer-bg.jpg) repeat-x scroll left bottom;
	color: #627069;
	font-size: 11px;
	height: 74px;
	line-height: 18px;
	margin: 0 auto;
	margin-top: 0;
	padding-top: 18px;
	text-align: center;
	width: 946px;
}

.js #navigation .enter-page {
	background: transparent;
	padding: 0 10px;
}

.js .interactive-mode {
	float: right;
	min-width: 150px;
	position: absolute;
	right: 30pt;
	top: 10pt;
}

#navigation li a span {
	display: block;
	padding: 0;
}

#navigation li.selected a {
	color: #FFF;
	padding-top: 0em;
}

#navigation li.selected a, #navigation li a:hover {
	background-color: transparent;
}

#navigation li.selected {
	border-top: 0;
	font-weight: bold;
}

#navigation ul li a {
	background: transparent url(../images/custom/comment/menu-r.jpg) no-repeat scroll right top;
	color: #000;
	display: block;
	padding: 0 20px 0 20px;
	text-decoration: none;
}

#navigation ul li a:hover {
	color: #FFF;
	text-decoration: none;
}

#navigation ul li {
	background: transparent url(../images/custom/comment/menu-l.jpg) no-repeat scroll 0;
	color: #000;
	float: left;
	font-family: Times New Roman, Verdana;
	font-size: 12px;
	font-style: normal;
	font-variant: normal;
	font-weight: bold;
	height: 46px;
	line-height: 46px;
	margin-right: 8px;
	margin-top: 3px;
	text-transform: uppercase;
}

#navigation {
	background-image: url(../images/custom/comment/menu-bg.jpg);
	background-position: left top;
	background-repeat: repeat-x;
	height: 54px;
	margin: 0 auto;
	padding-left: 8px;
	width: 928px;
}

.portlet-topper {
	background: #76877D url(../images/custom/portlet/portlet_top.png) repeat-x scroll 0 0px;
	color: #FFF;
	position: relative;
}

.portlet {
	border: 1px solid #98ACA1;
	margin-bottom: 1em;
	text-align: left;
}

.tabs li {
	background: #A8BDB9 url(../images/custom/common/tabs_inactive_bg.png) repeat-x scroll 0 -65%;
	border-color: #9EB4A8;
	border-style: solid solid none;
	border-width: 1px 1px 0;
	display: inline;
	float: left;
	line-height: 2.25;
	margin-right: 0.8em;
	padding: 0;
	text-decoration: none;
}

.tabs li.current {
	background: #8DA196 url(../images/custom/common/tabs_active_bg.png) repeat-x scroll 0 0%;
	font-weight: bold;
}

.tabs {
	border-bottom: 1px solid #9EB4A8;
	margin: 0 0pt 1.5em;
	padding: 0 0pt 2.6em 1em;
}

#wrapper {
	background: transparent;
}