/* --- GLOBAL --- */
body{
	background: transparent url(../images/common/bg.gif);
}

#wrapper {
	position: relative;
	background: #FFFFFF none;
	padding: 75px 10px 15px;
	width: 85%;
}

/* --- BANNER --- */
#banner { 
	background: #9BBE00 url(../images/common/main_img.jpg) no-repeat top right;
	height: 132px;
}

#banner .logo {
	background: transparent none;

	position: absolute;
	top: -75px;
	left: 0px;
}

/* --- NAVIGATION --- */
#navigation {
	position: absolute;
	top: 50px;
	left: 250px;
	width: auto;
}

#navigation li , .js #add-page {
	background: #F4A80A none;
	padding: 5px 25px;
	margin-right: 1px;
}

#navigation li.selected {
	background: #F4A80A none;
	padding-bottom:8px;
}

#navigation li a , .js #add-page a {
	background: none;
	padding: 0;
	color: #FFFFFF;
	font-size: 11px;
}

#navigation li a:hover , .js #add-page a:hover {
	padding-bottom: 0;
}

#navigation li.selected a {
	padding: 0;
}

#navigation li.selected a:hover {
	padding-bottom: 0;
}

#navigation li a span , .js #add-page a span {
	background: none;
	padding: 0;
	font-weight: normal;
}

#navigation li a:hover span , .js #add-page a:hover span {
	background: none;
}

#navigation li.selected a span {
	background: none;
	font-size: 1em;
	padding: 0;
}

.js #navigation .enter-page {
	background: none;
	padding: 0;
}

.tabs li a:hover {
	color: #000;
}

/* --- PORTLET --- */
.portlet, .portlet-topper, .portlet-content, .portlet-title {
	background: none;
}

.portlet-title {
	color: #EE8907;
	font-size: 18px;
}

/* --- LAYOUT --- */
#layout-grid {
	margin-top: 15px;
}

#column-2 {
	border-left: 1px solid #7689A2;	
}

#column-3 {
	border-left: 1px solid #7689A2;	
}




