.lfr-portlet-item {
  border: 1px solid transparent;
  cursor: move;
  display: block;
  margin-bottom: 3px;
  padding: 0 5px 0 20px; }
  .lfr-portlet-item p {
    margin: 0;
    padding-right: 30px;
    position: relative; }
    .lfr-portlet-item p a {
      cursor: pointer;
      position: absolute;
      right: 0;
      top: 0; }

.lfr-add-content .lfr-portlet-item.lfr-archived-setup {
  margin-left: 20px; }

.ie .lfr-portlet-item {
  height: 1%; }
  .ie .lfr-portlet-item p a {
    top: -2px; }

.ie6 .lfr-portlet-item p a {
  right: 20px; }

/* Skin */
.lfr-portlet-item {
  background: url(@theme_image_path@/add_content/portlet_item.png) no-repeat 0 50%;
  border-color: #fff;
  font-size: 1.1em; }
  .lfr-portlet-item:hover, .lfr-portlet-item.over {
    background-color: #ffc;
    border-color: #fc0; }
  .lfr-portlet-item p {
    font-size: 1em; }
    .lfr-portlet-item p a {
      font-size: 0.9em;
      font-weight: bold; }

.lfr-add-content .lfr-portlet-item.lfr-instanceable {
  background-image: url(@theme_image_path@/add_content/portlet_item_instanceable.png); }
.lfr-add-content .lfr-portlet-item.lfr-archived-setup {
  background-image: url(@theme_image_path@/add_content/portlet_item_archived_setup.png); }

