.undomanager .lfr-undo-queue {
  margin: 10px auto; }

.lfr-action-undo {
  float: left; }

.lfr-action-clear {
  float: right; }

.undomanager .lfr-queue-empty, .lfr-queue-single .lfr-action-clear {
  display: none; }

