.lfr-dynamic-uploader {
  display: table;
  table-layout: fixed;
  width: 100%; }

.lfr-upload-container {
  margin-bottom: 1em; }
  .lfr-upload-container .upload-target {
    border: 3px dashed transparent;
    margin-bottom: 1em;
    min-height: 30px;
    padding: 30px 0;
    position: relative;
    text-align: center; }
    .lfr-upload-container .upload-target h4 span {
      display: block;
      margin: 5px 0; }
    .lfr-upload-container .upload-target .or-text {
      font-size: 0.8em; }
  .lfr-upload-container .manage-upload-target {
    padding: 5px 0 0 0;
    position: relative; }
  .lfr-upload-container .browse-button-container {
    padding-top: 5px; }
  .lfr-upload-container a.cancel-uploads {
    float: right;
    margin-right: 0; }
  .lfr-upload-container a.clear-uploads {
    float: right;
    padding-left: 16px; }
  .lfr-upload-container .upload-file {
    border: 1px solid transparent;
    display: block;
    margin: 0.3em 0;
    overflow: hidden;
    padding: 5px;
    padding-left: 25px;
    position: relative; }
    .lfr-upload-container .upload-file.upload-complete.file-saved {
      padding-left: 25px; }
    .lfr-upload-container .upload-file .file-title {
      display: inline-block;
      max-width: 95%;
      overflow: hidden;
      padding-right: 16px;
      text-overflow: ellipsis;
      vertical-align: middle;
      white-space: nowrap; }
  .lfr-upload-container .upload-list-info {
    margin: 1em 0 0.5em; }
  .lfr-upload-container .cancel-button {
    position: absolute;
    right: 5px;
    margin-top: -0.85em;
    overflow: hidden;
    position: absolute;
    top: 50%;
    white-space: nowrap;
    width: 0; }
    .lfr-upload-container .cancel-button:hover {
      padding-right: 5px;
      white-space: normal;
      width: auto; }
  .lfr-upload-container .delete-button {
    height: 16px;
    margin-top: -8px;
    padding: 0;
    position: absolute;
    right: 5px;
    text-indent: -9999em;
    top: 50%;
    width: 16px; }
  .lfr-upload-container .file-added .success-message {
    float: right; }
  .lfr-upload-container .upload-error {
    filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=100);
    opacity: 1;
    padding-left: 25px; }
  .lfr-upload-container .upload-complete .cancel-button, .lfr-upload-container .delete-button, .lfr-upload-container .upload-complete.file-saved .delete-button, .lfr-upload-container .upload-complete.upload-error .delete-button {
    display: none; }
  .lfr-upload-container .multiple-files .upload-error .error-message {
    display: block; }
  .lfr-upload-container .single-file .upload-error {
    list-style: none;
    margin-top: 1em; }
    .lfr-upload-container .single-file .upload-error .upload-error-message {
      margin-bottom: 0.5em; }
  .lfr-upload-container .upload-complete {
    padding-left: 5px; }
    .lfr-upload-container .upload-complete .select-file {
      left: 5px;
      margin-top: -7px;
      position: absolute;
      top: 50%; }
    .lfr-upload-container .upload-complete .error-message, .lfr-upload-container .upload-complete .success-message {
      margin-left: 1em; }
    .lfr-upload-container .upload-complete .delete-button {
      display: inline; }
  .lfr-upload-container .progress-bar {
    border: 1px solid transparent;
    display: none;
    height: 15px; }
  .lfr-upload-container .progress {
    display: inline-block;
    height: 15px;
    min-width: 20px; }
  .lfr-upload-container .file-uploading .cancel-button {
    margin-top: 1px;
    top: 0; }
  .lfr-upload-container .file-uploading .progress-bar {
    display: block; }

.select-files {
  float: left;
  line-height: 0;
  margin-right: 2px;
  padding: 0;
  padding-left: 5px; }

.lfr-upload-movie {
  bottom: 0;
  height: 1px;
  left: 0pt;
  position: absolute;
  width: 1px;
  z-index: 100000; }

.lfr-upload-movie-content {
  overflow: hidden;
  position: fixed; }

.mobile .lfr-upload-container .upload-target .drop-file-text {
  display: none; }

.ie6 .lfr-upload-movie {
  position: static; }
.ie6 .lfr-upload-movie-content {
  position: absolute; }

.upload-drop-intent .lfr-upload-container .upload-target {
  z-index: 100; }

/* Skin */
.lfr-upload-container .upload-target {
  border-color: #DDD; }
  .lfr-upload-container .upload-target h4 span {
    text-transform: lowercase; }
  .lfr-upload-container .upload-target .drop-file-text {
    font-weight: normal; }
.lfr-upload-container a.browse-button {
  background-image: url(@theme_image_path@/common/add.png);
  background-repeat: no-repeat;
  color: white;
  font-size: 1.2em;
  font-weight: bold;
  text-decoration: none; }
.lfr-upload-container a.clear-uploads {
  background-image: url(@theme_image_path@/common/remove.png);
  background-repeat: no-repeat; }
.lfr-upload-container a.cancel-uploads {
  background-image: url(@theme_image_path@/common/close.png);
  background-repeat: no-repeat; }
.lfr-upload-container .multiple-files .upload-file {
  background: url(@theme_image_path@/file_system/small/jpg.png) no-repeat 5px 50%; }
  .lfr-upload-container .multiple-files .upload-file.upload-complete {
    background-position: 22px 50%;
    padding-left: 45px; }
    .lfr-upload-container .multiple-files .upload-file.upload-complete.file-saved, .lfr-upload-container .multiple-files .upload-file.upload-complete.upload-error {
      background-position: 5px 50%; }
    .lfr-upload-container .multiple-files .upload-file.upload-complete.file-saved {
      background-image: url(@theme_image_path@/common/check.png); }
.lfr-upload-container .upload-file {
  border-color: #CCC;
  font-weight: bold;
  text-shadow: 1px 1px #FFF; }
  .lfr-upload-container .upload-file .file-title {
    font-weight: bold; }
  .lfr-upload-container .upload-file.upload-complete.file-saved {
    background-color: #B4DDAD;
    font-weight: bold;
    filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=60);
    opacity: 0.6; }
.lfr-upload-container .upload-list .upload-file.upload-complete.selected, .lfr-upload-container .upload-list .upload-file.upload-complete.pending-file.selected {
  background-color: #D3E8F1;
  border-color: #38F;
  color: #047;
  text-shadow: 1px 1px #FFF; }
.lfr-upload-container .upload-list-info h4 {
  font-size: 1.3em; }
.lfr-upload-container .cancel-button {
  background-image: url(@theme_image_path@/common/delete.png);
  background-repeat: no-repeat;
  background-color: #800;
  color: #FFF;
  text-shadow: 1px 1px #500; }
.lfr-upload-container .delete-button {
  background-image: url(@theme_image_path@/portlet/close.png);
  background-repeat: no-repeat;
  font-size: 0; }
.lfr-upload-container .pending-file {
  background-color: #E0E0E0;
  color: #777;
  text-shadow: -1px -1px #FFF; }
.lfr-upload-container .file-added .success-message {
  font-weight: normal; }
.lfr-upload-container .multiple-files .upload-error {
  background-color: #FDD;
  background-image: url(@theme_image_path@/messages/error.png);
  border-color: #900;
  color: #900;
  font-weight: normal; }
.lfr-upload-container .upload-complete .error-message, .lfr-upload-container .upload-complete .success-message {
  font-weight: bold; }
.lfr-upload-container .file-uploading {
  background-color: #ffc; }
.lfr-upload-container .progress-bar {
  background: #fff;
  border-color: #83a8d9; }
.lfr-upload-container .progress {
  background: #8db2e3; }

.upload-drop-active .lfr-upload-container .upload-target {
  background-color: #DDEDDE;
  border-color: #7D7;
  border-style: dashed; }

