/* This file allows you to override default styles in one central location for easier upgrade and maintenance. */


/* ---------- Browser normalization ---------- */

body {
	background: #454545;
}

#wrapper {
	margin: 0 auto;
	width: 876px;
}


/* ---------- Banner ---------- */

#banner {
	background: url(../images/custom/banner_bg.png);
	height: 98px;
	padding: 70px 40px;
	position: relative;
}

#banner .logo {
	float: left;
	margin: 0;
}


/* ---------- Dock with JavaScript ---------- */

.js .interactive-mode {
	right: 0;
	top: 5px;
}


/* ---------- Main navigation ---------- */

#navigation {
	background: url(../images/custom/navigation_bg.jpg);
	height: 57px;
}

#navigation ul, #add-page {
	float: left;
}

#navigation a {
	color: #FFF;
	display: block;
	font: 13px Lucida Sans Unicode, Lucida Grande, sans-serif;
	padding: 20px;
	text-decoration: none;
}

#navigation .enter-page {
	height: 40px;
	padding: 16px 0 0;
}

#navigation .save-page {
	display: inline;
	float: none;
}

#navigation .save-page:hover {
	background: none;
}

#navigation .cancel-page {
	display: none;
}


/* ---------- Main content body ---------- */

#content-wrapper {
	background: #FFF url(../images/custom/content-wrapper_bg.jpg) no-repeat;
	padding: 20px 25px;
}


/* ---------- Portlet ---------- */

.portlet {
	border: 2px solid #6C7A2D;
	margin: 0 0 10px;
}

.portlet-topper {
	background: #6C7A2D url(../images/custom/portlet-topper_bg.png) repeat-x;
	color: #FFF;
	padding: 1em;
}

.portlet-icons {
	position: absolute;
	right: 1em;
	top: 1em;
}

.portlet-icons a {
	color: #FFF;
}

.portlet-content {
	padding: 12px 10px 10px;
}


/* ---------- Tabs ---------- */

.ui-tabs {
	border-bottom: 1px solid #C6CC9B;
}

.ui-tabs li a, .tabs li span {
	background: #DFE6AE;
	border: 1px solid #C6CC9B;
	color: #000;
	margin: 0 4px 0 0;
	padding: 1em 1.25em;
}

.ui-tabs li a:hover, .ui-tabs li span:hover {
	background: #C6CC9B;
	color: #000;
}