/* ---------- Global ---------- */

html {
	overflow-x: hidden;
	overflow-y: scroll;
}

body {
	font: 62.5%/1.5 Arial, Helvetica, sans-serif;
	margin: 0;
	min-height: 480px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-size: 1.2em;
	margin: 0.5em 0 0;
}

h1 {
	font-size: 2em;
}

h2 {
	font-size: 1.5em;
}

h3 {
	font-size: 16px;
}

ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
}

li {
	margin: 0;
}

address,
p {
	margin: 0 0 1em;
}

a {
	outline: none;
}

address {
	font-style: normal;
}

address a {
	color: #777;
	text-decoration: none;
}

table {
	clear: both;
	width: 100%;
}

/* ---------- iPhone ---------- */

#wrap {
	position: relative;
	width: 100%;
}

#page {
	background: #E0E0E0;
	overflow: hidden;
}

#prev,
#next {
	background: #E0E0E0;
	overflow: hidden;
	position: absolute;
	top: 0;
	width: 100%;
}

#prev {
	left: -100%;
}

#next {
	left: 100%;
}

#wrapper {
	padding: 0 4px;
}

/* ---------- Logo ---------- */

.logo {
	margin: 1em 0;
}

.logo a {
	display: block;
	font-size: 0;
	height: 50px;
	margin: 0 auto;
	overflow: hidden;
	text-indent: -99999em;
	width: 205px;
}

/* ---------- Modules ---------- */

.menu,
.body,
#content-wrapper .portlet,
#content-wrapper .portlet-borderless-container {
	-moz-border-radius-bottomleft: 4px;
	-moz-border-radius-bottomright: 4px;
	-moz-border-radius-topleft: 4px;
	-moz-border-radius-topright: 4px;
	-webkit-border-bottom-left-radius: 4px;
	-webkit-border-bottom-right-radius: 4px;
	-webkit-border-top-left-radius: 4px;
	-webkit-border-top-right-radius: 4px;
	background: #FFF;
	border: 4px solid #FFF;
	border-width: 4px 0;
	font-size: 16px;
	margin: 0 0 9px;
}

.body,
#content-wrapper .portlet,
#content-wrapper .portlet-borderless-container {
	padding: 0.75em;
}

.body p:last-child,
.body address:last-child,
.portlet p:last-child,
.portlet-borderless-container p:last-child,
.portlet address:last-child,
.portlet-borderless-container address:last-child,
.foot p:last-child {
	margin: 0;
}

/* ---------- Navigation ---------- */

.menu a {
	background: url(../images/iphone/menu_bg.png) no-repeat right top;
	border: 1px solid #E0E0E0;
	border-width: 0 0 1px;
	color: #000;
	display: block;
	font: bold 18px/39px Arial Rounded MT Bold, Arial;
	padding: 0 37px 0 15px;
	text-decoration: none;
	text-shadow: 0 1px 0 #CFCFCF;
	text-transform: uppercase;
}

.menu a:first-child {
	-moz-border-radius-topleft: 4px;
	-moz-border-radius-topright: 4px;
	-webkit-border-top-left-radius: 4px;
	-webkit-border-top-right-radius: 4px;
	margin-top: -4px;
}

.menu a:last-child {
	-moz-border-radius-bottomleft: 4px;
	-moz-border-radius-bottomright: 4px;
	-webkit-border-bottom-left-radius: 4px;
	-webkit-border-bottom-right-radius: 4px;
	border-width: 0;
	margin-bottom: -4px;
}

.menu a.selected {
	background-color: #FFA;
}

/* ---------- Footer ---------- */

.foot {
	background: #FFF;
	border-top: 1px solid #808080;
	font-size: 13px;
	line-height: 1.5;
	margin: 0 -4px;
	padding: 0.5em;
	text-align: center;
}

/* ---------- Portlet ---------- */

.portlet-title {
	color: #000;
	font-size: 18px;
}

.portlet-content {
	padding: 12px 0;
}

.portlet-content h3,
.portlet-borderless-container h3,
.portlet-blogs .entry-title {
	color: #000;
	font-size: 18px;
	margin: 0;
}

.portlet-borderless-container h3,
.portlet-blogs .entry-title {
	margin-bottom: 12px;
}

.portlet-blogs .entry-title a {
	color: #000;
}

.iphone .portlet-borderless-bar,
.iphone .portlet-toolbar,
.iphone .portlet-title img,
.iphone .portlet-icons,
.iphone .page-maximized .portlet-icons,
.iphone .edit-actions,
.iphone .taglib-social-bookmarks,
.iphone .taglib-page-iterator,
.iphone .taglib-flags,
.iphone .subscribe,
.iphone .lfr-meta-actions {
	display: none;
}

/* ---------- Tabs ---------- */

.ui-tabs {
	border-bottom: 0;
	float: right;
	margin: 0 0 6px;
	padding: 0;
}

.ui-tabs:after {
	clear: both;
	content: ".";
	display: block;
	height: 0;
	visibility: hidden;
}

.ie .ui-tabs {
	overflow: hidden;
}

.ie6 .ui-tabs {
	height: 1%;
}

.ui-tabs li,
.tabs li {
	float: left;
}

.ui-tabs li a,
.tabs li span,
.ui-tabs li a:hover,
.ui-tabs li span:hover {
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
	background: #EEE;
	border: 1px solid #DDD;
	color: #555;
	float: left;
	font: 11px Arial, Helvetica, sans-serif;
	margin: 0 3px 3px 0;
	padding: 6px 12px;
	text-decoration: none;
}

.ui-tabs li.current a,
.ui-tabs li.current span,
.ui-tabs li.current a:hover,
.ui-tabs li.current span:hover {
	background: #FFF;
	border: 1px solid #CCC;
	color: #36C;
	font: bold 11px Arial, Helvetica, sans-serif;
}

/* ---------- Calendar ---------- */

.portlet-calendar .calendar-container {
	border: 0;
	width: auto;
}

.portlet-calendar .calendar-container .taglib-calendar {
	float: none;
}

.portlet-calendar .calendar-day {
	width: 100%;
}

.portlet-calendar .calendar-container,
.portlet-calendar .taglib-calendar {
	width: 100%;
}

.portlet-calendar form > table > tbody > tr > td {
	display: block;
	width: 100%;
}

.portlet-calendar .calendar-day .day-text {
	-moz-border-radius: 6px;
	-webkit-border-radius: 6px;
	background: #EEE;
	color: #222;
	text-align: center;
	text-shadow: 2px 2px 1px #BBB;
}

.portlet-calendar .portlet-section-header {
	background: #EEE;
}

.portlet-calendar .day-number {
	font-size: 64px;
	text-align: center;
}