#backy {
	background: #FFF url('../images/custom/wrapper_bg-outer.png') repeat-y;
}

#banner {
	background: transparent url('../images/custom/banner_bg.jpg') no-repeat scroll center top;
	height: 80px;
}

body {
	background: #E0E0E0 url('../images/custom/body_bg.png') repeat-x;
	color: #505050;
	font: 76% 'Georgia', 'Verdana', 'Tahoma', 'Arial', sans-serif;
}

#content-wrapper {
	background: transparent url('../images/custom/wrapper_bg-inner.jpg') no-repeat;
	border: 1px solid #808080;
	border-top: 0;
	padding: 56px 24px;
	width: 852px;
}

html {
	overflow-y: scroll;
}

.js #add-page a span {
	margin: 0;
}

.js #add-page {
	border: 0;
	bottom: 0;
	font-weight: normal;
}

.js #navigation .enter-page {
	background: transparent;
	padding: 0;
}

.js .interactive-mode h2 span {
	border: 0;
}

.js .interactive-mode, .js .interactive-mode h2, .js .interactive-mode h2 span {
	background: transparent none;
}

#navigation li a, .js #add-page a {
	background: url('../images/navigation/tabs.png');
	color: #333;
	display: block;
	line-height: 1.8;
	margin: 0 0 0 -10px;
	padding: 5px 20px 0 30px;
}

#navigation li a:hover, .js #add-page a:hover {
	color: #700;
}

#navigation li {
	border: 0;
	margin: 0;
}

#navigation li, .js #add-page {
	background: url('../images/navigation/tabs.png') scroll right top;
	margin: 0 2px 0 0;
	padding: 0 10px;
}

#navigation li.selected a span, .js #add-page a span {
	background: transparent none;
	color: #000;
	padding: 0;
}

#navigation ul {
	width: auto;
}

#navigation {
	background: transparent none;
	border: 0;
	margin: 0;
	min-height: 0;
	width: auto;
}

.portlet-content {
	margin: 8px 0 0 10px;
}

.portlet-topper {
	background: transparent;
	border: 0;
	color: #505050;
	font-size: 1.5em;
	font-weight: 400;
}

.portlet {
	background: transparent;
	border: 0;
}

#wrapper {
	background: transparent none;
	margin: 0 auto;
	position: relative;
	width: 900px;
}