/* This file allows you to override default styles in one central location for easier upgrade and maintenance. */

/* ---------- Base ---------- */

body {
	background: url(../images/custom/body_bg.png) repeat-x;
	font-family: Arial;
}

a {
	color: #F29115;
	text-decoration: none;
}

/* ---------- Wrapper ---------- */

#wrapper {
	margin: 0 auto;
	width: 960px;
}

/* ---------- Banner ---------- */

#banner {
	position: relative;
}

#banner .sign-in {
	position: absolute;
	right: 30px;
	top: 0px;
}

/* ---------- Logo ---------- */

#banner .logo a {
	left: 78px;
	position: relative;
	top: 24px;
}

/* ---------- Navigation ---------- */

#navigation {
	background: url(../images/custom/navigation_bg.png) no-repeat 100% 100%;
	font-size: 12px;
	font-weight: bold;
	height: 71px;
	position: relative;
	width: 100%;
}
#navigation ul {
	float: right;
	list-style: none;
	margin: 0;
	padding-left: 60px;
}

#navigation li,
#navigation a {
	float: left;
}

#navigation li {
	background: url(../images/custom/navigation_item.png) no-repeat 0 100%;
	margin: 5px 6px 0 0;
}

#navigation a {
	background: url(../images/custom/navigation_item.png) no-repeat 100% 0;
	display: block;
	line-height: 60px;
	margin-left: 14px;
	padding-right: 28px;
}

#navigation a:hover {
	color: #0E849E;
}

#navigation li.selected {
	background: url(../images/custom/navigation_item_selected.png) no-repeat 0 100%;
	margin-top: 0;
}

#navigation .selected a {
	background: url(../images/custom/navigation_item_selected.png) no-repeat 100% 0;
	color: #FFF;
	display: block;
	line-height: 71px;
}

/* ---------- Content Wrapper ---------- */

#content-wrapper {
	background: url(../images/custom/content_wrapper_bg.png) repeat-y 100% 0;
	color: #FFF;
	font-size: 11px;
	line-height: 18px;
	padding: 40px 40px 0 0;
	overflow: hidden;
}

/* ---------- Portlet ---------- */

.portlet {
	margin-bottom: 10px;
}

.portlet-content {
	background: url(../images/custom/portlet_content_bg.png) repeat-y 100% 0;
}

.portlet-topper {
	background: url(../images/custom/portlet_topper_bg.png) no-repeat;
}

.portlet-title {
	background: url(../images/custom/portlet_topper_bg.png) no-repeat 100% 0;
	color: #FFF;
	display: block;
	font-size: 18px;
	line-height: 22px;
	margin-left: 24px;
	padding: 46px 24px 0 4px;
}

.portlet-content {
	padding: 18px 33px 10px 10px;
}

.portlet-footer {
	background: url(../images/custom/portlet_footer_bg.png) no-repeat 100% 0;
	height: 23px;
}

/* ---------- Footer ---------- */

#footer {
	background: url(../images/custom/footer_bg.png) no-repeat right bottom;
	height: 94px;
	margin: 0 0 50px;
	padding: 0 42px 8px 68px;
	text-align: right;
}