/* This file allows you to override default styles in one central location for easier upgrade and maintenance. */

/* ---------- Base ---------- */

body {
	background: url(../images/custom/body_bg.png) repeat-x;
	font-family: Arial;
}

a {
	color: #F29115;
	text-decoration: none;
}

/* ---------- Wrapper ---------- */

#wrapper {
	margin: 0 auto;
	width: 960px;
}

/* ---------- Banner ---------- */

#banner {
	position: relative;
}

/* ---------- Logo ---------- */

#banner .logo a {
	left: 78px;
	position: relative;
	top: 24px;
}

/* ---------- Dock ---------- */

.js .interactive-mode {
	background: none;
	right: 0;
	top: 0;
}

.js .interactive-mode h2 {
	background: url(../images/custom/dock_bg.png) no-repeat 100% 100%;
	min-width: 100px;
	padding-right: 20px;
}

.js .interactive-mode h2 span {
	background: none;
	border-right: none;
	color: #000;
	font-size: 12px;
	padding: 10px 10px 6px;
}

.js .interactive-mode ul {
	background: #8EC9D4;
	border-color: #E6F3F6 #A8D5DE #85BCC7;
	border-width: 2px;
}

.js .interactive-mode li {
	border-bottom: 1px solid #85BCC7;
	border-top: 1px solid #A8D5DE;
}

.js .interactive-mode a {
	color: #FFF;
}

/* ---------- Navigation ---------- */

#navigation {
	background: url(../images/custom/navigation_bg.png) no-repeat 100% 100%;
	font-size: 12px;
	font-weight: bold;
	height: 71px;
	position: relative;
	width: 100%;
}

#navigation ul {
	float: right;
	padding-left: 60px;
}

#navigation li {
	background: url(../images/custom/navigation_item.png) no-repeat 0 100%;
	margin: 5px 6px 0 0;
}

#navigation a {
	background: url(../images/custom/navigation_item.png) no-repeat 100% 0;
	display: block;
	line-height: 60px;
	margin-left: 14px;
	padding-right: 28px;
}

#navigation a:hover {
	color: #0E849E;
}

#navigation li.selected {
	background: url(../images/custom/navigation_item_selected.png) no-repeat 0 100%;
	margin-top: 0;
}

#navigation .selected a {
	background: url(../images/custom/navigation_item_selected.png) no-repeat 100% 0;
	color: #FFF;
	display: block;
	line-height: 71px;
}

.enter-page {
	background: url(../images/custom/navigation_item.png) no-repeat 100% 0;
	margin-left: 14px;
	position: relative;
}

#navigation .enter-page a {
	background: none;
	display: inline;
}

#navigation .enter-page input {
	margin: 0;
	padding: 0;
}

#navigation .selected .enter-page {
	background: url(../images/custom/navigation_item_selected.png) no-repeat 100% 0;
	margin-left: 14px;
	position: relative;
}

.ie6 .selected .enter-page {
	padding: 25px 0 26px;
}

.ie6 .enter-page {
	padding: 20px 0 20px;
}

.ie7 .enter-page {
	zoom: 1;
}

#navigation .enter-page .cancel-page {
	display: none;
}

#add-page {
	position: absolute;
	right: -41px;
	top: 24px;
}

#add-page a {
	background: url(../images/custom/add_page.png) no-repeat;
	height: 40px;
	margin: 0;
	padding: 0;
	width: 40px;
}

#add-page a:hover {
	background: url(../images/custom/add_page.png) no-repeat 0 100%;
}

#add-page a span {
	font-size: 0;
	line-height: 0;
	text-indent: -999em;
}

/* ---------- Content Wrapper ---------- */

#content-wrapper {
	background: url(../images/custom/content_wrapper_bg.png) repeat-y 100% 0;
	color: #FFF;
	font-size: 11px;
	line-height: 18px;
	padding: 40px 40px 0 0;
}

.ie6 #content-wrapper,
.ie7 #content-wrapper {
	zoom: 1;
}

/* ---------- Portlet ---------- */

.portlet {
	margin-bottom: 10px;
}

.portlet-content {
	background: url(../images/custom/portlet_content_bg.png) repeat-y 100% 0;
}

.portlet-topper {
	background: url(../images/custom/portlet_topper_bg.png) no-repeat;
}

.portlet-title {
	background: url(../images/custom/portlet_topper_bg.png) no-repeat 100% 0;
	color: #FFF;
	display: block;
	font-size: 18px;
	line-height: 22px;
	margin-left: 24px;
	padding: 46px 24px 0 4px;
}

.portlet-content,
.portlet-minimized .portlet-content-container {
	padding: 18px 33px 10px 10px;
}

.portlet-footer {
	background: url(../images/custom/portlet_footer_bg.png) no-repeat 100% 0;
	height: 23px;
}

.portlet-title img {
	display: none;
}

.portlet-icons {
	right: 27px;
	top: 27px;
}

.ie6 .portlet-content,
.ie7 .portlet-content {
	zoom: 1;
}

.ie7 .portlet-title,
.ie6 .portlet-title {
	padding-bottom: 4px;
}

/* ---------- Tabs ---------- */

.exp-tabs {
	border: none;
	font-size: 12px;
}

.exp-tabs li {
	background: url(../images/custom/tabs.png) no-repeat;
	margin: 0;
}

#wrapper .exp-tabs li a {
	background: url(../images/custom/tabs.png) no-repeat 100% 0;
	border: 0;
	color: #0E647E;
	font-weight: normal;
	line-height: 24px;
	margin: 0 0 0 1px;
	padding: 0 6px 0 8px;
	padding-right: 10px;
	top: 0;
}

#wrapper .exp-tabs li:hover {
	background: url(../images/custom/tabs.png) no-repeat 0 100%;
}

#wrapper .exp-tabs li a:hover {
	background: url(../images/custom/tabs.png) no-repeat 100% 100%;
	color: #000;
	text-decoration: none;
}

#wrapper .exp-tabs li.exp-selected {
	background: url(../images/custom/tabs.png) no-repeat 0 100%;
}

#wrapper .exp-tabs li.exp-selected a {
	background: url(../images/custom/tabs.png) no-repeat 100% 100%;
	color: #000;
}

.exp-tabs li.exp-selected:hover {
	background: url(../images/custom/tabs.png) no-repeat 0 100%;
}

.exp-tabs li.exp-selected a:hover {
	background: url(../images/custom/tabs.png) no-repeat 100% 100%;
}

/* ---------- Footer ---------- */

#footer {
	background: url(../images/custom/footer_bg.png) no-repeat 100% 100%;
	height: 102px;
	margin-bottom: 50px;
}

/* ---------- More ---------- */

.portlet-login .navigation {
	background-color: #FFF;
	border: 1px solid #0D647B;
}

.portlet-communities .lfr-current-theme,
.portlet-enterprise-admin .lfr-current-theme,
input {
	background: none;
	border: 0;
}

.calendar-header,
.ui-autocomplete-even,
.results-row td {
	background: #FFF;
	color: #000;
}

.ui-autocomplete-odd,
.results-row.alt td {
	background: #E1F6FA;
}

.results-row.hover td {
	background: #C8F5FE;
}

.results-header,
.results-header th,
.results-header td,
.portlet-calendar .calendar-day .day-text,
#wrapper .results-header th a:hover,
#wrapper .results-header td a:hover,
#wrapper .taglib-calendar tr td a:hover,
.portlet-communities .lfr-theme-list h3,
.portlet-enterprise-admin .lfr-theme-list h3,
.portlet-communities .theme-entry .theme-title,
.portlet-enterprise-admin .theme-entry .theme-title {
	background: #8EC9D4;
}

.portlet-communities .lfr-current-theme .theme-title,
.portlet-enterprise-admin .lfr-current-theme .theme-title,
.results-grid,
.taglib-calendar tr th,
.portlet table,
.portlet table td {
	border-color: #0D647B;
}

.portlet-calendar .calendar-day .day-text {
	font-size: 20px;
}

.ie6 .portlet-calendar .calendar-container {
	background: #FFF;
}

form,
.event-box,
#wrapper .day-grid span {
	color: #000;
}

.calendar-panel {
	background: #FFF;
}