/* -------- Global -------- */

#skip-to-content,
#heading .community-title,
#heading .page-title,
#navigation h1,
#navigation .child-menu {
	clip: rect(0 0 0 0);
	position: absolute;
}

body {
	background: #5F7110;
	color: #565655;
	font: 12px/1.4 Arial, Helvetica, sans-serif;
}

/* -------- Wrapper / Skip / Sign-in -------- */

#wrapper {
	background: url(../images/custom/wrapper_bg.png);
	margin: 0 auto;
	position: relative;
	width: 996px;
}

#skip-to-content,
#sign-in {
	color: #95A938;
	right: 2em;
}

#skip-to-content {
	top: 3.5em;
}

#skip-to-content:active,
#skip-to-content:focus {
	clip: auto;
}

#sign-in {
	position: absolute;
	top: 2em;
}

/* -------- Heading -------- */

#heading {
	background: url(../images/custom/heading_bg.png) no-repeat;
	padding: 36px 18px 0;
}

#heading .company-title {
	margin: 0;
}

#heading .company-title a {
	margin: 0 auto;
}

/* -------- Navigation -------- */

#navigation {
	background: url(../images/custom/navigation_bg.png);
	font: bold 12px Arial, Helvetica, sans-serif;
	height: 40px;
	margin: 0 18px 0;
}

#navigation ul {
	list-style: none;
	margin: 0;
}

.ie6 #navigation ul,
.ie7 #navigation ul {
	zoom: 1;
}

#navigation ul:after {
	clear: both;
	content: "";
	display: block;
}

#navigation li,
#navigation a {
	float: left;
}

#navigation a {
	border-right: 1px solid #95A938;
	color: #FAFCF8;
	display: block;
	height: 15px;
	padding: 12px 15px 13px;
	text-decoration: none;
}

#navigation .selected a,
#navigation a:active,
#navigation a:focus,
#navigation a:hover {
	background: url(../images/custom/navigation_item_hover.png);
}

/* -------- Content -------- */

#content {
	background: url(../images/custom/content_bg.png) no-repeat;
	padding: 32px 36px;
}

#breadcrumbs {
	display: none;
}

/* ---------- Portlet ---------- */

.portlet {
	border-bottom: 1px solid #E5E5E5;
	margin: 0 0 24px;
}

.portlet-title {
	color: #95A938;
	font: bold 13px Arial, Helvetica, sans-serif;
	margin: 0 5px 5px 0;
}

.portlet-content {
	padding: 0 0 10px;
}

/* -------- Footer -------- */

#footer {
	background: url(../images/custom/footer_bg.png);
	height: 61px;
	padding: 23px 36px 35px;
	text-align: right;
}

#footer p {
	margin: 0;
}