/* This file allows you to override default styles in one central location for easier upgrade and maintenance. */


/* ---------- Base ---------- */

body {
	background: #5F7110;
	color: #565655;
}


/* ---------- Wrapper ---------- */

#wrapper {
	background: url(../images/custom/wrapper_bg.png);
	margin: 0 auto;
	width: 996px;
}


/* ---------- Banner ---------- */

#banner {
	background: url(../images/custom/banner_bg.png) no-repeat;
	padding: 36px;
	position: relative;
}


/* ---------- Logo ---------- */

#banner .logo {
	margin: 0;
}


/* ---------- Dock ---------- */

.js .interactive-mode {
	right: 36px;
	top: 36px;
}


/* ---------- Navigation ---------- */

#navigation {
	background: url(../images/custom/navigation_bg.png);
	height: 40px;
	padding: 0 18px;
}

#navigation ul, #add-page {
	float: left;
}

#navigation a, #navigation .enter-page {
	border-right: 1px solid #95A938;
	color: #FAFCF8;
	display: block;
	float: left;
	font: bold 12px Arial, Helvetica, sans-serif;
	height: 15px;
	overflow: hidden;
	padding: 12px 15px 13px;
	text-decoration: none;
}

#navigation .selected a, #navigation a:hover {
	background: url(../images/custom/navigation_hover_bg.png);
}

#navigation .enter-page {
	height: 24px;
	padding: 7px 15px;
}

#navigation .save-page, #navigation .save-page:hover {
	background: none;
	border-right: 0;
	display: inline;
	float: none;
	padding: 5px 9px;
}

#navigation .cancel-page {
	display: none;
}


/* ---------- Content Wrapper ---------- */

#content-wrapper {
	background: url(../images/custom/content-wrapper_bg.png) no-repeat left top;
	padding: 18px 36px;
}


/* ---------- Portlet ---------- */

.portlet {
	border-bottom: 1px solid #E5E5E5;
	margin: 0 0 12px;
}

.portlet-title {
	color: #95A938;
	font: bold 13px Arial, Helvetica, sans-serif;
	margin: 15px 5px 5px 0;
}

.portlet-title img {
	display: none;
}

.portlet-content {
	color: #565655;
	font: 12px/1.4em Arial, Helvetica, sans-serif;
	letter-spacing: 0;
	padding: 0 0 10px;
}


/* ---------- Tabs ---------- */

.ui-tabs {
	border-bottom: 1px solid #445205;
}

.ui-tabs li a, .ui-tabs li span, .ui-tabs li a:hover, .ui-tabs li span:hover {
	background: #95A938;
	border: 1px solid #445205;
	color: #FEC;
	margin-left: -1px;
}

.ui-tabs li.current a, .ui-tabs li.current span, .ui-tabs li.current a:hover, .ui-tabs li.current span:hover {
	background: #95A938;
	border: 1px solid #445205;
	color: #FFF;
}


/* ---------- Footer ---------- */

#footer {
	background: url(../images/custom/footer_bg.png);
	height: 119px;
}