/* This file allows you to override default styles in one central location for easier upgrade and maintenance. */

/* Global */
body {
	color: #565655;
	background: #5f7110;
	font: 12px/1.4em Arial, Helvetica, sans-serif;
	letter-spacing:0px;
}

a {
	color:#6e840b;
	font: 12px/1.4em Arial, Helvetica, sans-serif;
	text-decoration:underline;
}

.clear {
	clear:both;
	overflow:hidden;
	margin:0;
	padding:0;
	height:1px;
}
 
a:hover {
	text-decoration:none;
}

h1, h2, h3, h4 {
	color:#95a938;
	font: bold 13px Arial, Helvetica, sans-serif;
}

h2 {
	margin: 15px 5px 5px 0;
}

h3 {
	margin: 0 0 3px 0;
}

/* Wrapper */
#wrapper{
	width: 1000px;
	margin: 0 auto;
	background: transparent url(../images/custom/08_gulona_l_bg.gif) repeat-y center;
}

#wrapper-top{
	background: url(../images/custom/08_gulona_top_bg.png) no-repeat center;
	height: 29px;
	margin:0;
	padding:0
}

#banner {
	background: url(../images/custom/08_gulona_shade_bg.gif) top center repeat-x;
	height: 99px;
	margin:0 21px;
}
.logo {
	margin: 0 20px;	
}

/* Navigation */
#navigation {
	background: transparent url(../images/custom/08_gulona_nav_bg.gif) top center repeat-x;
	height: 40px;
	margin: 0 18px;
}

#navigation ul {
	width: 90%;
	float: left;
}

#navigation li, .js #add-page {
	height: 40px;
	display: inline;
	padding: 11px 0 0;
}

#navigation li a, .js #add-page a {
	border-right: 1px solid #95a938;
	color: #FAFCF8;
	font: bold 12px Arial, Helvetica, sans-serif;
	padding: 12px 15px 13px 15px;
	text-decoration: none;
}

#navigation li a:hover, #navigation li.selected, .ui-tabs li a:hover, .ui-tabs li span:hover {
	background: transparent url(../images/custom/08_gulona_nav_hover_bg.gif) top center repeat-x;	
	color: #fff;
	text-decoration: none;
}

.ui-tabs li a, .tabs li span {
	background: transparent url(../images/custom/08_gulona_nav_bg.gif) top center repeat-x;
}

.enter-page {
	margin: -5px 5px 0;
}
.save-page {
	left: 5px;
	position: relative;
}

.js #add-page {
	background: transparent url(../images/common/add.png) left 11px no-repeat;
	float: right;
}

/* Content */
#content-wrapper {
	margin: 5px 18px;
	background: transparent url(../images/custom/08_gulona_footer_bg.gif) left bottom no-repeat;
}

#content-wrapper p {
	margin: 0 0 10px 0;
}
.portlet {
	padding: 10px;
}
.portlet-content ul {
	list-style: square url(../images/custom/08_gulona_bullet_bg.gif);
	margin:15px 0;
}

/******** Footer *******/
#footer {
	background: url(../images/custom/08_gulona_bottom_bg.png) bottom center repeat-x;
	height: 100px;
}
.crd a { color:#565655;text-decoration:none;}
#bottom{background: url(images/bottom.png) no-repeat center;height: 27px;}
