/* This file allows you to override default styles in one central location for easier upgrade and maintenance. */

/* ---------- Base ---------- */

body {
	background: url(../images/custom/body_bg.png);
	font-family: Verdana;
}

a {
	text-decoration: none;
}

/* ---------- Banner ---------- */

#banner {
	background: url(../images/custom/banner_bg.png) repeat-x;
	border-bottom: 1px solid #000;
	height: 76px;
	z-index: 500;
}

/* ---------- Logo ---------- */

#wrapper #banner .logo {
	margin: 0 auto;
	width: 960px;
}

/* ---------- Dock ---------- */

.js .interactive-mode,
.js .interactive-mode h2,
.js .interactive-mode h2 span {
	background: none;
	border: none;
	height: 20px;
	line-height: 20px;
	min-width: 150px;
	padding: 0;
}

.js .interactive-mode h2 {
	background: url(../images/custom/dock_bg.png) no-repeat 100% 0;
	padding-right: 20px;
}

.js .interactive-mode {
	background: #000;
	border: 1px solid #333;
	top: 24px;
}

.js .interactive-mode:hover {
	border-color: #B00;
}

.lfr-dock h2 {
	text-align: center;
}

.js .interactive-mode ul {
	background: #000;
	border-color: #333;
	margin-top: 4px;
}

.js.ie6 .interactive-mode ul {
	border: none;
}

.js .interactive-mode ul li {
	border: none;
}

.js .interactive-mode li a {
	color: #777;
}

/* ---------- Navigation ---------- */

#navigation {
	background: none;
	font-weight: bold;
	height: 24px;
	margin: 0 auto;
	position: relative;
	width: 960px;
	z-index: 1000;
}

#navigation ul,
#add-page {
	float: right;
}

#navigation ul li a {
	background: #000;
	border: 1px solid #333;
	color: #777;
	line-height: 24px;
	margin-left: 5px;
	padding: 2px 10px;
}

#navigation ul li a:hover {
	border: 1px solid #B00;
	color: #B00;
}

#navigation ul li.selected a:hover,
#navigation ul li.selected a {
	color: #FFF;
}

#add-page {
	line-height: 24px;
	margin-right: 5px;
}

#add-page a {
	color: #777;
}

#add-page a:hover {
	color: #B00;
}

#navigation .enter-page {
	padding-top: 0;
}

.enter-page input {
	padding: 0;
}

#navigation .cancel-page {
	background: #000 url(../images/common/remove.png) no-repeat scroll 42% 50%;
	zoom: 1;
}

/* ---------- Child Navigation ---------- */

#navigation .child-menu {
	border: 1px solid #333;
	left: 5px;
	position: absolute;
	top: 24px;
	width: 200px;
}

#navigation .child-menu:hover {
	border: 1px solid #B00;
}

#navigation .child-menu li {
	float: none;
}

#navigation ul.child-menu {
	background: #000;
	height: auto;
}

#navigation .selected ul.child-menu li a {
	color: #777;
}

#navigation .selected ul.child-menu li a:hover {
	border: none;
	color: #B00;
}

#navigation ul.child-menu li a:hover {
	border: none;
}

#navigation ul.child-menu li a {
	border: none;
	padding: 2px 0;
}

/* ---------- Content Wrapper ---------- */

#content-wrapper {
	background: #000;
	color: #AAA;
	margin: 0 auto;
	width: 960px;
	z-index: 1;
}

#content-wrapper a {
	color: #FFF;
}

#content-wrapper a:hover {
	color: #B00;
}

.lfr-grid .lfr-column {
	padding: 0 2px;
}

/* ---------- Portlet ---------- */

.portlet {
	border: 1px solid #000;
}

.portlet-topper {
	background: #211E1B url(../images/custom/portlet_topper_bg.png) no-repeat;
	height: 20px;
}

.portlet-title {
	margin-left: 4px;
}

.ie .portlet-title {
	padding-top: 2px;
}

.portlet-title img.icon {
	margin-right: 14px;
}

.portlet-icons {
	top: 0;
}

.portlet-content {
	background: #444 url(../images/custom/portlet_content_bg.png) repeat-x;
	min-height: 50px;
	zoom: 1;
}

.columns-2 #column-2 .portlet {
	margin-right: 5px;
}

#column-2 .portlet {
	border: 0;
	margin-bottom: 4px;
}

#column-2 .portlet-topper,
#column-2 .portlet-title {
	background: #000;
	color: #000;
}

#column-2 .portlet-title img.icon {
	display: none;
}

#column-2 .portlet-content {
	background: #0A0A0A;
}

#content-wrapper .taglib-calendar tr td a {
	color: #555;
}

#content-wrapper .taglib-calendar tr td a:hover {
	color: #B00;
}

.results-header,
.results-header th,
.results-header td,
.portlet-calendar .calendar-day .day-text {
	background: #444;
}

.ui-autocomplete-even,
.results-row td {
	background: #666;
}

.ui-autocomplete-odd,
.results-row.alt td {
	background: #777;
}

#wrapper .portlet-calendar .taglib-calendar,
#wrapper .portlet-calendar .taglib-calendar table {
	background: #FFF;
	border: none;
}

.portlet-calendar .calendar-day {
	width: 210px;
}

.ie6 .portlet-calendar .calendar-day {
	width: 211px;
}

.portlet-calendar .calendar-day h2 {
	height: 25px;
	line-height: 25px;
	padding: 0;
}

.results-row.hover td,
tr.calendar-header {
	background: #555;
}

#_97_INSTANCE_Zv0T_pad,
.portlet-msg-error {
	color: #333;
}

body.portal-iframe,
.portal-iframe #content-wrapper {
	background: #444;
}

.taglib-calendar tr th,
.portlet-calendar .calendar-container {
	border-color: #666;
}

.portlet-calendar .calendar-day .day-number {
	color: #333;
	font-size: 80px;
}

.ie6 .portlet-calendar .calendar-container {
	background: #FFF;
}

.portlet-login .navigation {
	background: #444;
}

/* ---------- Tabs ---------- */

.ui-tabs {
	border-bottom: none;
	font-size: 11px;
	height: 20px;
	margin-bottom: 5px;
}

.ui-tabs li {
	height: 20px;
}

#wrapper .ui-tabs li a,
#wrapper .tabs li span {
	background: #000;
	color: #666;
	font-size: 10px;
	font-weight: normal;
	margin-right: 4px;
	padding: 3px 8px;
	top: 0;
}

.ie6 .portlet .ui-tabs li a,
.ie6 .portlet .tabs li span {
	height: 10px;
}

#wrapper .ui-tabs li a,
.tabs li span,
.ui-tabs li.current a,
.ui-tabs li.current span {
	border: 1px solid #333;
}

#wrapper .ui-tabs li a:hover,
#wrapper .ui-tabs li span:hover {
	background: #000;
	border: 1px solid #B00;
	color: #B00;
	text-decoration: none;
}

#wrapper .ui-tabs li.current a,
#wrapper .ui-tabs li.current span {
	color: #FFF;
}

#wrapper .ui-tabs li.current a:hover {
	color: #FFF;
	text-decoration: none;
}

#wrapper .ui-tabs li.current:hover {
	background: none;
}

.ui-tabs li.current {
	padding-top: 0;
}

.ie6 .ui-tabs li.current a,
.ie6 .ui-tabs li.current span,
.ie6 .ui-tabs li a,
.ie6 .tabs li span {
	border-bottom: none;
	padding-bottom: 5px;
}