/* This file allows you to override default styles in one central location for easier upgrade and maintenance. */

address, caption, cite, code, dfn, em, strong, th, var {
	color: black;
}

body {
	font: 62.5%/1.6em 'Tahoma','Lucida Sans Unicode','courier','Lucida',Arial,Verdana,sans-serif;
	text-align: center;
	background-color:#c0c0c0;
	background-repeat: repeat;
	margin-top:10px;
	margin-bottom:10px;
}

a {
	color: #000000;
}

a:hover {
	color: #8cd749;
}

a:visited { 
	color:#000000;
	text-decoration:none;
}

b, strong {
	color: black;
}

i, em {
	color: black;
}

.important {
	color: black;
}

body.staging {
	border: 100px solid #c00;
}

#wrapper {
	margin: 0pt auto;
	width: 850px;
	background: white;
	border: 1px solid #D3D3D3;
}


#banner { 
	background-color:#FFFFFF;
	background-image:url(../images/common/leaf.jpg);
	background-position:right top;
	background-repeat:no-repeat;
	height:185px;
	left:0px;
	position:relative;
	top:0px;
	width:850px;
}

#banner .logo {
	background: transparent;
	position: absolute;
	left: 10px;
	top: 10px;
	display:auto;
	float:none;
	font-size:auto;
	padding:0;
	
}

#banner .logo a {
	text-decoration:none;
}

.popup-close {
	cursor:  crosshair;
}

.loading-animation {
	background: url(../images/progress_bar/loading_animation.gif) no-repeat top center;
}

.columns-1 #column-1 {
	padding-left: 10px;
	padding-right: 10px;
}

.columns-2 #column-1 {
	padding-left: 10px;
	padding-bottom: 10px;
	padding-top:0;
	}

.columns-2 #column-2 {
	padding-right:10px;
	padding-bottom: 10px;
	border-left: none;
	padding-top:0;
}

.columns-3 #column-1 {
	padding-left: 10px;
}

.columns-3 #column-3 {
	padding-right: 10px;
}

.columns-1-2-1 #column-1, .columns-1-2-1 #column-4 {
	padding-left: 10px;
	padding-right: 10px;
}

.columns-1-2-1 #column-2 {
	padding-left: 10px;
}

.columns-1-2-1 #column-3 {
	padding-right: 10px;
}

.columns-2-2 #column-1, .columns-2-2 #column-2 {
	padding-left: 10px;
}

.columns-2-2 #column-4 {
	padding-right: 10px;
}

#navigation {
	position:relative;
	width:850px;
	padding-right:0;
	background-color:#999999;
	padding-bottom:15px;
}

#navigation li a:hover span{
	background:none;
}

#navigation li a span{
	background:none;
}

#navigation ul {
	float:none;
	height:50px;
	left:0px;
	position:relative;
	top:0px;
	width:850px;
}

.ie6 #navigation {
	margin:0;
	position:relative;
	width:840px;
	padding:0;
}

.js #navigation .enter-page {
	width:115px;
	background: transparent none;
}

#navigation li {
	background-color:#999999;
	font-size:8pt;
	height:30px;
	width:125px;
	margin:0;
	padding:0;
	background-image:none;
}

#navigation li a {
	background-color: #999999;
	color: white;
	font-weight: normal;
	text-decoration:none;
	font-size: small;
	padding:0;
	text-decoration:none;
	background-image:none;
	text-align:center;
}

#navigation li a:hover {
	padding-bottom:0;
}


#navigation li a span {
	background-color:#999999;
	padding:0pt;
	position:relative;
	text-align:center;
	text-decoration:none;
	top:10px;
}

#navigation li.selected a {
	padding-top:0;
	background-color: #999999;
	font-weight: bold;
	color: 	#444444;
	text-align:center;
}

#navigation li.selected a span {
	background-color: #999999;
	font-size:small;
	font-weight:bold;
	background:none;
	position:relative;
	top:10px;
	text-align:center;
	text-decoration:underline;
}


#navigation li.selected a {
	padding:0;
	}

#navigation li.selected a:hover {
	background-color: #999999;
	padding-bottom:0;
	text-align:center;
}

#navigation li a:hover span {
	text-decoration: underline;
	background-color: #999999;
	text-align: center;
}

.js .lfr-dock.interactive-mode {
	min-width: 211px;
}

.js .lfr-dock.interactive-mode h2 {
	position:auto;
	z-index:200;
}

.portlet, .portlet-topper, .portlet-content, .portlet-title {
	position: relative;
	left: 0px;
	top: 0px;
	background:none;
}

.portlet {
	padding-right: 10px;
	background: white top center no-repeat fixed;
	border:none;
	
}

.portlet-topper {
	left: 0px;
	top: 0px;
	background:#dddddd top center no-repeat fixed;
	border: none;
	margin-right:0;
	padding-right:0;
	height:40px;
}


.portlet-title {
	font-size: 9pt;
	padding: 8px 0 0px 10px;
}

.portlet-icons {
	background:#dddddd top center no-repeat fixed;
}

.portlet-icon-back {
	font-size: 10pt;
}

.portlet-section-header {
	background-color: #999999;
	border: 1px solid white;
}

.portlet-section-header th {
	border: 1px solid white;
	color: white;
	}

.portlet-section-body td {
	border-top:none;
}

.portlet-section-alternate td {
	border-top:none;
}

.portlet-section-alternate-hover td, .portlet-section-body-hover td {
	border-bottom:none;
	border-top:none;
}

.tabs {
	padding: 0 0 2.6em 0;
	border-bottom:none;
	background-image:none;
}

.tabs li {
	background-color: #999999;
	font-size: 8pt;
	margin-right:none;
	background-image:none;
}

.tabs li a, .tabs li span {
	background-color: #999999;
	color: white;
	background-image:none;
}

.tabs li.current {
	background-color: #999999;
	top:0;
	background-image:none;
}

.tabs li.current a, .tabs li.current span {
	background-image:none;
	color:none;
}

.ie .tabs li.current {
	top:0;
	background-image:none;
	background-color: #999999;
}

.js #add-page a span {
	position:relative;
	left:20px;
}











