html {
	overflow-y: scroll;
}
body {
	background-color: #000;
	color: #4b4b4b;
	font-family: Arial;
	font-size: 13px;
	margin: 0;
	padding: 0;
}
#navigation {
	background: transparent;
	border: none;
	margin: -25pt auto 20px;
}
#navigation li {
	border: none;
	float: right;
}
#wrapper {
	background: transparent;
}
#banner {
	background: no-repeat url(../images/custom/bckheader.jpg);
	font-family: Verdana;
	height: 285px;
	margin-left: 40px;
}
#navigation li.selected a, #navigation li a:hover {
	background: transparent url(../images/custom/bckmenuli.gif) repeat-x scroll 0% 0%;
	background-color: transparent;
	color: #4B4B4B;
}
#navigation li.selected a span {
	background: transparent;
	padding-left: 0px;
}
#navigation li a {
	color: #4B4B4B;
	font-family: Arial;
	font-size: 18px;
	padding: 5pt 10px;
}
.portlet {
	background: transparent;
	border: none;
}
.portlet-topper {
	background: transparent;
	border: none;
	color: #FFFFFF;
	font-family: Verdana;
	font-size: 24px;
}
a {
	font-size: 12px;
}
.js #add-page {
	background: transparent none repeat scroll 0% 0%;
	border: medium none;
	right: 85%;
	top: -5px;
}
.js #navigation .enter-page {
	background-color: transparent;
	padding: 0px;
}
#banner .logo a {
	margin-left: 555pt;
	margin-top: 55pt;
}
#content-wrapper {
	background-color: #1E1E1E;
	border: 10px solid #1E1E1E;
	margin: -20px auto;
	width: 92%;
}
#navigation ul {
	width: 93.6%;
}
.ui-tabs li.current:hover, .ui-tabs li.current a:hover {
	background-color: transparent;
}
.ui-tabs li.current a, .ui-tabs li.current span {
	background: transparent url(../images/custom/bckmenuli.gif) repeat-x scroll 0% 0%;
	border: none;
	color: #4B4B4B;
}
.ui-tabs li a:hover, .ui-tabs li span:hover {
	background: transparent url(../images/custom/bckmenuli.gif) repeat-x scroll 0% 0%;
	color: #4B4B4B;
}
.ui-tabs li a, .tabs li span {
	background: transparent none repeat scroll 0% 0%;
	border-right: medium none;
}
.ui-tabs {
	border-bottom: medium none;
}
.ui-dialog {
	background-color: black;
}
.uni-form {
	background: black none repeat scroll 0% 0%;
}
#footer {
	padding: 5px 0;
	text-align: right;
	font-family: Verdana; font-size: 10px;
	color: #4b4b4b;
}