#set ($article_id = $reserved-article-id.getData())
#set ($content_id = "carousel-" + $article_id)

<style>
	#${content_id} {
		height: ${height.data}px;
	}
</style>

<div class="carousel-container" id="${content_id}">
	<ul id="tabs">
		#foreach ($item in $carousel-item.siblings)
			#set ($carousel_menu_item_class = "tab-item item-$velocityCount aui-carousel-menu-index")

			#if ($velocityCount == 1)
				#set ($carousel_menu_item_class = $carousel_menu_item_class + " aui-carousel-menu-active first")
			#end

			#if (!$velocityHasNext)
				#set ($carousel_menu_item_class = $carousel_menu_item_class + " last")
			#end

			<li class="$carousel_menu_item_class">
				#if ($item.icon.data!='')
					<img class="icon" src="${item.icon.data}" />
				#end

				<h4 class="title">
					#if ($item.data)
						${item.data}
					#end
				</h4>

				<span class="tagline">
					#if ($item.tagline.data)
						${item.tagline.data}
					#end
				</span>
			</li>

			#if ($velocityHasNext)
				<div class="divider"></div>
			#end
		#end
	</ul>

	<div id="carousel">
		#foreach ($item in $carousel-item.siblings)
			#set ($carousel_item_class = "aui-carousel-item")

			#if ($velocityCount == 1)
				#set ($carousel_item_class = $carousel_item_class + " aui-carousel-item-active")
			#end

			<div class="$carousel_item_class" style="background: url(${item.image.data}) no-repeat; height: ${height.data}px; width: 674px;">
				${item.data}
			</div>
		#end
	</div>
</div>

<script type="text/javascript">
	AUI().ready(
		'aui-carousel',
		function(A) {
			new A.Carousel(
				{
					contentBox: '#${content_id} #carousel',
					height: ${height.data},
					intervalTime: ${duration.data},
					nodeMenu: '#${content_id} #tabs',
					nodeMenuItemSelector: '.tab-item',
					width: 287
				}
			).render();
		}
	);
</script>