/* -------- Global -------- */

#skip-to-content,
#heading .community-title,
#heading .page-title,
#navigation h1 {
	clip: rect(0 0 0 0);
	position: absolute;
}

body {
	background: #EDF5FA;
}

#navigation a,
#content a {
	color: #027AC6;
}

/* -------- Wrapper / Skip / Sign-in -------- */

#outer-wrapper {
	background: url(../images/custom/outer-wrapper_bg.png) repeat-x;
	color: #494949;
	font: 12px/1.7 Verdana, sans-serif;
	padding: 0 0 0 160px;
}

#wrapper {
	background: url(../images/custom/wrapper_bg.png) no-repeat left 80px;
	margin: 0 auto;
	padding: 0 7px;
	position: relative;
	width: 960px;
}

#skip-to-content,
#sign-in {
	color: #FFF;
	right: 2em;
}

#skip-to-content:active,
#skip-to-content:focus {
	clip: auto;
}

#skip-to-content {
	top: 1em;
}

#sign-in {
	position: absolute;
	top: 2.5em;
}

/* -------- Banner -------- */

#banner {
	height: 122px;
	position: relative;
}

#heading .company-title {
	margin: 0;
	padding: 8px 0;
}

/* -------- Navigation -------- */

#navigation {
	position: absolute;
	top: 122px;
	left: -160px;
}

#navigation ul {
	list-style: none;
	margin: 0;
}

.ie6 #navigation ul,
.ie7 #navigation ul {
	zoom: 1;
}

#navigation ul:after {
	clear: both;
	content: "";
	display: block;
}

#navigation a {
	display: block;
	text-decoration: none;
	padding: 5px;
	width: 140px;
}

#navigation a:active,
#navigation a:focus,
#navigation a:hover {
	text-decoration: underline;
}

#navigation .selected a {
	color: #000;
}

/* -------- Content -------- */

#content {
	-moz-border-radius-bottomleft: 9px;
	-moz-border-radius-bottomright: 9px;
	-webkit-border-bottom-left-radius: 9px;
	-webkit-border-bottom-right-radius: 9px;
	background: #FFF url(../images/custom/content_bg.png) no-repeat;
	border-bottom-left-radius: 9px;
	border-bottom-right-radius: 9px;
	padding: 25px;
}

#breadcrumbs {
	display: none;
}

.portlet,
.portlet-topper {
	margin: 0 0 6px;
}

.portlet-title {
	color: #027AC6;
	font-size: 160%;
	font-weight: normal;
}

.portlet-content {
	padding: 0;
}