<?xml version="1.0"?>

<web-app version="2.4" xmlns="http://java.sun.com/xml/ns/j2ee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/j2ee http://java.sun.com/xml/ns/j2ee/web-app_2_4.xsd">
	<servlet>
		<servlet-name>GeoNames</servlet-name>
		<servlet-class>com.liferay.geonames.servlet.GeoNamesServlet</servlet-class>
		<init-param>
			<param-name>geoNamesDataFile</param-name>
			<param-value></param-value>
		</init-param>
		<init-param>
			<param-name>geoNamesDataURL</param-name>
			<param-value>http://mirrors.lax.liferay.com/download.geonames.org/export/dump/cities1000.zip</param-value>
		</init-param>
		<load-on-startup>1</load-on-startup>
	</servlet>
	<servlet-mapping>
		<servlet-name>GeoNames</servlet-name>
		<url-pattern>/*</url-pattern>
	</servlet-mapping>
</web-app>