.digg-portlet {
	a {
		font-weight: bold;
		text-decoration: none;
	}

	.digg {
		border-bottom: 1px solid #DDD;
		margin: 0 0 6px;
		overflow: hidden;
		padding: 0 0 6px;
	}

	.digg-last {
		border-bottom: 0;
		margin: 0;
	}

	.header {
		overflow: hidden;
	}

	.count, .thumb {
		float: left;
		margin: 0 5px 0 0;
	}

	.count {
		background: url(../images/widget_bg.png) no-repeat 0 -30px;
		color: #93883F;
		display: block;
		height: 30px;
		line-height: 30px;
		overflow: hidden;
		text-align: center;
		width: 30px;

		&:hover {
			background-position: 0 0;

			span {
				visibility: hidden;
			}
		}
	}

	.thumb img {
		float: left;
	}

	.title {
		display: block;
		outline: 0;
	}

	.text {
		color: #999;
		line-height: 1.15;
		margin: 5px 0 0 35px;
	}

	.digg-no-diggs .text {
		margin: 5px 0 0;
	}
}