@import "bourbon";

$preferredPadding: 10px;
$remoteVideoHeight: 165px;

@mixin ctrl-button-hover($name, $btnSize) {
	background-image: url(../images/btns_#{$btnSize}/#{$name}.png);

	&:hover {
		background-image: url(../images/btns_#{$btnSize}/#{$name}_hover.png);
	}
}

@mixin ctrl-buttons($btnSize) {
	&.accept {
		@include ctrl-button-hover(accept, $btnSize);
	}

	&.call {
		@include ctrl-button-hover(call, $btnSize);
	}

	&.fullscreen {
		&.off {
			@include ctrl-button-hover(fullscreen, $btnSize);
		}

		&.on {
			@include ctrl-button-hover(fullscreen_exit, $btnSize);
		}
	}

	&.hangup {
		@include ctrl-button-hover(hangup, $btnSize);
	}

	&.mike {
		&.muted {
			@include ctrl-button-hover(mic_off, $btnSize);
		}

		&.unmuted {
			@include ctrl-button-hover(mic_on, $btnSize);
		}
	}
}

@mixin transform-mirror() {
	@include transform(scale(-1, 1));
}

@mixin keyframes($name) {
	@-webkit-keyframes #{$name} {
		@content;
	}

	@-moz-keyframes #{$name} {
		@content;
	}

	@keyframes #{$name} {
		@content;
	}
}

@mixin animation ($name, $duration) {
	@include experimental(animation-duration, $duration, -moz, -webkit, not -o, not -ms);
	@include experimental(animation-fill-mode, forwards, -moz, -webkit, not -o, not -ms);
	@include experimental(animation-name, $name, -moz, -webkit, not -o, not -ms);
}

.chat-bar, .chat-video-overlay {
	.chat-video-ctrl-buttons a {
		background-repeat: no-repeat;
		display: block;
		float: right;
	}

	.remote-video {
		cursor: pointer;
		height: 100%;
		position: relative;
		width: 100%;

		video.remote {
			height: 100%;
			width: 100%;
		}
	}

	.remote-video-container {
		background: #000;
		height: 0;

		video.local {
			display: none;
		}
	}

	video.local {
		@include transform-mirror();
	}
}

.chat-bar {
	.chat-video-available {
		$dimension: 16px;

		background: url(../images/icon_video.png) no-repeat;
		display: inline-block;
		float: right;
		height: $dimension;
		margin-right: 5px;
		padding: 0;
		position: relative;
		top: 4px;
		width: $dimension;
	}

	.chat-video-ctrl {
		$height: 24px;

		background: #20272B;
		height: $height;
		padding: $preferredPadding;
		position: relative;

		.chat-video-ctrl-buttons {
			a {
				@include ctrl-buttons(24);

				height: $height;
				margin-left: 5px;
				width: $height;
			}
		}

		.chat-video-msg {
			height: $height;
			left: 0;

			opacity: 0;

			padding: 5px 0 5px 35px;
			position: absolute;
			top: 5px;
			width: 120px;

			.msg {
				color: #C5CCD0;
				height: 100%;
				line-height: 110%;
				overflow: hidden;
			}

			&.error {
				padding-left: 5px;
				width: 180px;

				.msg {
					color: #FF6670;
				}
			}

			&.in-call {
				padding-left: 15px;

				.msg {
					font-weight: bold;
					position: relative;
					top: 6px;
				}
			}

			.working {
				background-image: url(../images/working.gif);
				background-repeat: no-repeat;
				height: $height;
				left: 5px;
				position: absolute;
				top: 5px;
				width: $height;
			}
		}
	}

	.panel-self-view {
		$dimension: 48px;

		border: 1px solid #000;
		display: block;
		height: $dimension;
		left: 6px;
		position: absolute;
		top: 4px;
		width: $dimension;

		img, video {
			display: block;
			height: 100%;
			width: 100%;
		}

		img {
			background: #333;
		}

		video {
			background: #000;
		}
	}
}

.chat-video-overlay {
	$btnDimension: 32px;

	background: transparentize(#000, 0.1);
	height: 100%;
	left: 0;

	opacity: 0;

	position: fixed;
	top: 0;
	width: 100%;
	z-index: 2000;

	.chat-video-ctrl-buttons, .call-time {
		background: rgba(#FFF, 0.5);
		position: absolute;
		z-index: 2001;
	}

	.chat-video-ctrl-buttons {
		$nbButtons: 3;

		$innerWidth: ($nbButtons + 1) * $preferredPadding + $nbButtons * $btnDimension;

		bottom: $preferredPadding;
		left: 50%;
		margin-left: -($innerWidth / 2);
		padding: $preferredPadding 0 $preferredPadding $preferredPadding;

		a {
			@include ctrl-buttons(32);

			height: $btnDimension;
			margin-right: $preferredPadding;
			width: $btnDimension;
		}
	}

	.call-time {
		color: #000;
		display: inline-block;
		font-size: 18px;
		padding: $preferredPadding;
		right: $preferredPadding;
		top: $preferredPadding;
	}

	video.local {
		border: 2px solid transparentize(#FFF, 0.3);
		bottom: $preferredPadding;
		display: block;
		height: 160px;
		left: $preferredPadding;
		position: absolute;
		width: auto;
	}
}

/* ---------- Extras ---------- */

.chat-bar, .chat-video-overlay {
	.remote-video-container {
		border-radius: 3px;
	}
}

.chat-video-overlay {
	.chat-video-ctrl-buttons, .call-time {
		border-radius: 3px;
	}

	video.local {
		border-radius: 2px;
	}
}

.chat-video-show-remote-video {
	@include animation(chat-video-remote-video-in-kf, 1s);
}

.chat-video-hide-remote-video {
	@include animation(chat-video-remote-video-out-kf, 1s);
}

.chat-video-fade-in {
	@include animation(chat-video-fade-in-kf, 0.5s);
}

.chat-video-fade-out {
	@include animation(chat-video-fade-out-kf, 0.5s);
}

@include keyframes(chat-video-remote-video-in-kf) {
	from {
		height: 0;
	}

	to {
		height: $remoteVideoHeight;
	}
}

@include keyframes(chat-video-remote-video-out-kf) {
	from {
		height: $remoteVideoHeight;
	}

	to {
		height: 0;
	}
}

@include keyframes(chat-video-fade-in-kf) {
	from {
		opacity: 0;
	}

	to {
		opacity: 1;
	}
}

@include keyframes(chat-video-fade-out-kf) {
	from {
		opacity: 1;
	}

	to {
		opacity: 0;
	}
}