@import "portlet_decorator";

@import "partials/buttons";
@import "partials/footer";
@import "partials/navbar";

#content {
	background-color: $color-2;
	color: $color-1;
}

#wrapper {
	padding-top: 0;
}

.jumbotron {
	background-color: transparent;
	margin-bottom: 0;

	h2 {
		font-size: 22px;
	}

	p {
		font-size: 16px;
	}

	.badge {
		margin-bottom: 18px;
	}

	.well {
		background-color: rgba(#FFF, 0.08);
		border-width: 0;

		.h2 {
			color: $color-4;
		}

		.currency {
			top: -2.5em;
		}

		p.small {
			font-size: 85%;
			margin-top: 40px;
			opacity: 0.4;
		}

		& + ul.list-unstyled {
			opacity: 0.6;
		}
	}
}

.h1 {
	font-size: 54px;

	@include sm {
		font-weight: normal;
		line-height: 1.1;
	}
}

.img-spacing {
	margin-bottom: 15px;
}

[class$="-background-color"] {
	padding-bottom: 50px;
	padding-top: 50px;

	@include sm {
		padding-bottom: 100px;
		padding-top: 100px;
	}
}

.default-background-color {
	background-color: $color-2;

	p {
		opacity: 0.5;
	}

	&, & a {
		color: $color-1;
	}
}

.main-background-color {
	background-color: $background-color-3;
}

.secondary-background-color {
	background-color: $background-color-1;
}

.tertiary-background-color {
	background-color: $background-color-2;
}

.main-background-color, .secondary-background-color, .tertiary-background-color {
	color: $color-2;

	a {
		color: $color-2;

		&:hover, &:focus {
			text-decoration: underline;
		}
	}
}

[class$="-background-image"] {
	background-position: top center;
	background-repeat: no-repeat;
	background-size: cover;
	color: $color-2;
	padding-bottom: 95px;
	padding-top: 95px;

	@include sm {
		min-height: 560px;
		padding-bottom: 190px;
		padding-top: 190px;
	}
}

.tertiary-background-image {
	color: $color-1;
	position: relative;

	@include media-query(sm, $screen-sm-max) {
		padding-top: 80px;
	}

	@include sm {
		margin-bottom: 95px;
	}

	p {
		opacity: 0.5;
	}

	.col-lg-6.col-md-6 {
		background-position: bottom right;
		background-repeat: no-repeat;
		background-size: contain;
		bottom: 0;
		position: absolute;
		right: 0;
		top: 0;
	}
}

@include media-query(null, $breakpoint_tablet - 1) {
	[class^="col-"] {
		.default-background-color &,
		.main-background-color &,
		.secondary-background-color &,
		.tertiary-background-color & {
			margin-bottom: 30px
		}
	}
}

.store-buttons {
	img {
		height: 40px;
		width: auto;
	}
}