body.republican {
	background-color: #FFF;

	h3 {
		color: #00446A;
	}

	#wrapper {
		a {
			color: #00446A;
		}

		#content {
			background-color: #F3F7FA;
		}

		.btn {
			background-color: #E62238;
			background-image: none;
			color: #FFF;
		}
	}

	#heading .site-name {
		border-color: #FFF;
		color: #FFF;
	}

	#navigation {
		background-color: #9ACCEE;

		ul li{
			a {
				color: #FFF;
			}

			&:hover {
				a {
					background-color: #094368;
				}
			}

			.call-to-action:hover a {
				background-color: #E62238;
			}
		}
	}

	#content #main-content {
		background-color: #F4F8FB;
	}

	.portlet {
		background-color: #FFF;

		.portlet-topper {
			background-color: #9F2524;

			.portlet-title {
				color: #FFF;
			}
		}
	}

	.twtr-widget .twtr-ft {
		background: #9F2524;
	}
}