body.independent {
	background-color: #F3F7FA;

	h3 {
		color: #00446A;
	}

	#wrapper {
		a {
			color: #00446A;
		}

		#content {
			background-color: #FFF;
		}

		.btn {
			background-color: #E62238;
			background-image: none;
			color: #FFF;
		}
	}

	#heading {
		.logo.default-logo img {
			display: none;
		}

		.site-name {
			border-color: #9F2524;
			color: #094368;
		}
	}

	#navigation {
		background-color: #D4D4D6;

		ul li{
			a {
				color: #FFF;
			}

			&:hover {
				a {
					background-color: #818182;
				}
			}

			.donate:hover a {
				background-color: #E62238;
			}
		}
	}

	.portlet {
		background-color: #FFF;

		.portlet-topper {
			background-color: #D4D4D6;

			.portlet-title {
				color: #FFF;
			}
		}
	}

	.twtr-widget .twtr-ft {
		background: #D4D4D6;
	}

	/* ---------- Extras ---------- */

	#content #main-content {
		box-shadow: none;
	}
}