/* This file allows you to override default styles in one central location for easier upgrade and maintenance. */


/* ---- BASE ---- */

#banner h1.logo {
	height: 109px;
	margin: 0;
}

#banner {
	background: url('../images/common/banner_bg.png') repeat scroll -16px -7px;
	height: 122px;
	position: relative;
	top: 0;
}

body {
	background: transparent url('../images/common/background.png') repeat scroll;
}

#wrapper {
	margin: 0 auto;
	width: 960px;
}


/* ---- NAVIGATION ---- */

.js .lfr-dock.interactive-mode {
	float: right;
	min-width: 150px;
	position: absolute;
	right: 30px;
	top: 40px;
}

#navigation li a {
	margin-left: -10px;
}

#navigation li {
	margin-right: 11px;
}

#navigation {
	background: #040;
	padding-left: 10px;
	width: auto;
}


/* ---- PORTLET ---- */

.portlet-icons {
	margin: -2px 40px auto auto;
}

.portlet-title {
	color: #FFF;
	padding-top: 25px;
}

.portlet-topper {
	background: #282;
}


/* ---- TABS ---- */

.tabs li {
	line-height: 1.5;
}

.tabs {
	border-bottom: 1px solid #960;
	padding: 0 0 1.8em 1em;
}


/* ---- MIS. CUSTOM ---- */