/* This file allows you to override default styles in one central location for easier upgrade and maintenance. */

/* ---- BASE ---- */
body {
	background:transparent url(../images/common/background.png) repeat scroll;
}

#banner {
	height: 130px;
	position: relative;
}

#banner .logo {
	height: 109px;
}

/* ---- NAVIGATION ---- */
#navigation {
	padding-left: 10px;
}

#navigation li {
	margin-right: 11px;
}

#navigation li a {
	margin-left: -10px;
}

.js .lfr-dock.interactive-mode {
	float:right;
	min-width:150px;
	position:relative;
	right:30px;
	top:40px;
}

/* ---- PORTLET ---- */
.portlet-title {
	padding-top: 25px;
	color: #FFFFFF;
}

.portlet-icons {
	margin: -2px 40px auto auto;
}

/* ---- TABS ---- */
.tabs {
	border-bottom: 1px solid #996600;
	padding: 0 0 1.8em 1em;
}

.tabs li {
	line-height: 1.5;
}

/* ---- MIS. CUSTOM ---- */