#wrapper {
background:#000000 url(../images/custom/header.jpg) no-repeat scroll center top;
position: relative;
margin: 0 auto;
width: 1264px;
}
body {
color: white;
}
#navigation li {
border: none;
margin:0px 0 0 -1px;
}
#navigation {
background:transparent url(../images/custom/menu.gif) repeat-x scroll 0 0;
border: none;
height:47px;
margin:360px auto 100px;
}
#banner {
background: transparent;
}
#navigation li.selected a, #navigation li a:hover {
background-color:transparent;
}
#navigation li.selected a span {
background:transparent;
padding-left:0px;
}
.portlet {
background: transparent;
border: none;
}
.portlet-topper {
background: transparent;
border: none;
font-size: 18px;
}
a {
font-size: 12px;
}
#navigation li a {
color: white;
padding:15px 20px;
}
.ui-tabs {
border-bottom:medium none;
}
#footer {
background:transparent url(../images/custom/footer.gif) repeat-x scroll 0 0;
height:47px;
}
.ui-tabs li a:hover, .ui-tabs li span:hover {
color:#9EBAC8;
background:transparent url(../images/custom/menu_back.gif) repeat-x scroll bottom;
}
.ui-tabs li a, .tabs li span {
background:transparent none repeat scroll 0 0;
border-right:medium none;
}
.js #add-page {
background:transparent none repeat scroll 0 0;
border:medium none;
top:10px;
}
.ui-tabs li.current:hover, .ui-tabs li.current a:hover {
background-color:transparent;
}
.ui-tabs li.current a, .ui-tabs li.current span {
background:transparent none repeat scroll 0 0;
border:medium none;
background:transparent url(../images/custom/menu.gif) repeat-x scroll bottom;
}
.js #navigation .enter-page {
background-color:transparent;
padding:0;
}
.portlet-calendar .calendar-day .day-number {
color: black;
}
.taglib-calendar tr th {
color:black;
}
.portlet-section-body td {
color: black;
}
.ui-dialog {
background-color:black;
}
.uni-form {
background: black;
}
#navigation li a:hover {
background:transparent url(../images/custom/menu_back.gif) repeat-x scroll 0 0;
}