/* This file allows you to override default styles in one central location for easier upgrade and maintenance. */

a {
	color:black;
}

a:hover {
	color: #FFF;
}

#banner .logo {
	height: 187px;
}

#banner {
	background: transparent url('../images/custom/banner_bg.jpg');
	border: 0;
	height: 293px;
	margin: 0;
}

#banner-content {
	width: auto;
}

body {
	background: #000;
	color: #BEC4C4;
	padding: 10px 0;
}

#content-wrapper .tabs a {
	color: #333;
}

#content-wrapper a, #content-wrapper .tabs a:hover {
	color: #F00;
}

#content-wrapper {
	background: #373738 none;
	padding: 10px;
	width: auto;
	margin:-1px auto;
}

.ie #content-wrapper {
	margin: -11px auto;
}

#footer {
	background: url('../images/custom/footer_bg.jpg') no-repeat scroll left top;
	height: 36px;
}

.js #add-page a span, .js #add-page a:hover span {
	background: none;
	display: block;
}

.js #add-page {
	padding: 0;
}

.js #navigation .enter-page {
	padding: 14px;
}

.js .interactive-mode {
	position: absolute;
}

#navigation li a span, .js #add-page a span {
	color: #C1C5C8;
	font-size: 13px;
	font-weight: bold;
	padding: 18px;
	text-decoration: none;
}

#navigation li {
	background: none;
}

#navigation li.selected {
	border-top: 0;
}

#navigation {
	background: transparent url('../images/custom/navigation_bg.jpg') no-repeat scroll 0;
	height: 52px;
	margin: 0 auto;
	min-height: 2.2em;
	overflow: hidden;
	padding-right: 1em;
	width:956px;
}

.portlet-title {
	border-bottom: 2px solid #CCC;
	color: #FFF;
	font-size: 12px;
}

.portlet-topper {
	background: none;
}

.portlet {
	border: 1px solid #BEC4C4;
}

.ui-tabs li {
	background: #eaf5ff url(../images/custom/tabs_inactive_bg.png) repeat-x 0 100%;
	border-bottom: 0;
	display: inline;
	float: left;
	line-height: 2.25;
	margin-right: 0.8em;
	padding: 0;
	text-decoration: none;
}

.ui-tabs li.current {
	background-image: url('../images/custom/tabs_active_bg.png');
}

.ui-tabs li a, .tabs li span {
	display: block;
	float: left;
	top: 0;
	padding: 0.35em 1em 0;
	text-decoration: none;
	border: 1px solid #bfe1ff;
	background: transparent;
}

.tabs li.current {
	background: #bfe1ff url(../images/custom/tabs_active_bg.png) repeat-x 0 0;
	font-weight: bold;
}

.ui-tabs li.current:hover, .ui-tabs li.current a:hover {
	background-color:transparent;
	background: #bfe1ff url(../images/custom/tabs_active_bg.png) repeat-x 0 0;
}

.ui-tabs li.current a, .ui-tabs li.current span {
	color: #333;
	padding: 0.15em 1em;
	background: transparent;
	border: 1px solid #bfe1ff;
}

.ui-tabs {
	border-bottom: 1px solid #bfe1ff;
	margin: 0 0 1.5em 0;
	padding: 0 0 2.6em 1em;
}

#wrapper {
	margin: 0 auto;
	width:875px;
}